<div
  class="full-width"
  [ngClass]="{
    'grid-uneven': component.agCapMap && component.agCapConsultant,
    'grid-3': !component.agCapMap || !component.agCapConsultant
  }"
>
  <app-basic [component]="component" *ngIf="component.agCapMap || component.agCapConsultant"></app-basic>
  <div>
    <div class="subheading2">Total Number of Lots Approved</div>
    {{ component.subdApprovedLots?.length }}
    <app-no-data *ngIf="component.subdApprovedLots === null || component.subdApprovedLots === undefined"></app-no-data>
  </div>
</div>
<div *ngIf="component.lots" class="full-width">
  <div class="lot-table">
    <div class="subheading2">#</div>
    <div class="subheading2">Type</div>
    <div class="subheading2">Size (ha)</div>
    <div class="subheading2">ALR Area (ha)</div>
    <ng-container *ngFor="let lot of component.lots; let i = index">
      <div>
        {{ lot.number }}
        <app-no-data *ngIf="lot.number === null || lot.number === undefined"></app-no-data>
      </div>
      <div>
        {{ lot.type }}
        <app-no-data *ngIf="lot.type === null || lot.number === undefined"></app-no-data>
      </div>
      <div>
        {{ lot.size }}
        <app-no-data *ngIf="lot.size === null || lot.number === undefined"></app-no-data>
      </div>
      <div>
        <app-inline-number (save)="onSaveAlrArea(lot, $event)" [value]="lot.alrArea?.toString()"></app-inline-number>
      </div>
    </ng-container>
  </div>
</div>
