<app-basic [component]="component" (saveAlrArea)="onSaveAlrArea($event)"></app-basic>
<div>
  <div class="subheading2">Total Number of Lots Approved</div>
  {{ component.lots?.length }}
  <app-no-data *ngIf="component.lots === null || component.lots === undefined"></app-no-data>
</div>
<div *ngIf="component.lots" class="full-width">
  <div class="lot-table">
    <div class="subheading2">#</div>
    <div class="subheading2">Type</div>
    <div class="subheading2">Size (ha)</div>
    <div class="subheading2">ALR Area Impacted (ha)</div>
    <ng-container *ngFor="let lot of component.lots; let i = index">
      <div>
        {{ lot.index }}
        <app-no-data *ngIf="lot.index === null || lot.index === undefined"></app-no-data>
      </div>
      <div>
        {{ lot.type }}
        <app-no-data *ngIf="lot.type === null || lot.type === undefined"></app-no-data>
      </div>
      <div>
        {{ lot.size }}
        <app-no-data *ngIf="lot.size === null || lot.size === undefined"></app-no-data>
      </div>
      <div>
        <app-inline-number
          (save)="onSaveAlrParcelArea(lot, $event)"
          [value]="lot.alrArea?.toString()"
        ></app-inline-number>
      </div>
    </ng-container>
  </div>
</div>
