<div mat-dialog-title class="header">
  <div>
    <a href="application/{{application.fileNumber}}" target="_blank" rel="noreferrer">
      <h2 class="card-title">{{ application.fileNumber }} ({{ application.applicant }})</h2>
    </a>
    <span>
      in <span class="italic card-status-label">{{ application.statusDetails.label }}</span>
    </span>
  </div>
  <div class="center">
    <div class="card-state">{{ application.paused ? 'Paused' : 'Active' }}</div>
    <div>
      <button (click)="onTogglePriority()" mat-icon-button>
        <span
          [ngClass]="{
            'filled-priority': application.highPriority,
            'empty-priority': !application.highPriority
          }"
          >!</span
        >
      </button>
    </div>
  </div>
</div>
<mat-dialog-content>
  <div>
    <mat-label>Applicant:</mat-label>
    <div>
      <app-inline-edit
        class="card-applicant"
        value="{{ application.applicant }}"
        (save)="onUpdateTextField('applicant', $event)"
      ></app-inline-edit>
    </div>
  </div>
  <div>
    <ng-select
      class="card-type"
      [items]="applicationTypes"
      placeholder="Type"
      bindLabel="label"
      bindValue="code"
      [clearable]="false"
      [(ngModel)]="selectedApplicationType"
      (change)="onTypeSelected($event)"
    >
    </ng-select>
  </div>
  <div>
    <ng-select
      class="card-decision-maker"
      [items]="boards"
      placeholder="Decision Maker"
      bindLabel="decisionMaker"
      bindValue="code"
      [clearable]="false"
      [(ngModel)]="selectedBoard"
      (change)="onBoardSelected($event)"
    >
    </ng-select>
  </div>
  <div>
    <ng-select
      class="card-region"
      [items]="regions"
      placeholder="Region"
      bindLabel="label"
      bindValue="code"
      [clearable]="false"
      [(ngModel)]="selectedRegion"
      (change)="onRegionSelected($event)"
    >
    </ng-select>
  </div>
  <div>
    <ng-select
      class="card-assignee"
      [items]="$users | async"
      placeholder="Assignee"
      bindLabel="name"
      bindValue="name"
      [(ngModel)]="selectedAssigneeName"
      [searchFn]="filterAssigneeList"
      (change)="onAssigneeSelected($event)"
    >
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <div class="assignee-card-body">
          <p [ngOptionHighlight]="search" class="assignee-card-name">{{ item.name }}</p>
          <p class="assignee-card-email" [ngOptionHighlight]="search" class="assignee-card-email">{{ item.email }}</p>
        </div>
      </ng-template>
    </ng-select>
  </div>

  <div class="flex-container">
    <div class="flex-child">
      <mat-label>Active days:</mat-label>
      <p class="card-active-days">{{ application.activeDays }}</p>
    </div>
    <div class="flex-child">
      <mat-label>Paused days:</mat-label>
      <p class="card-paused-days">{{ application.pausedDays }}</p>
    </div>
    <div class="flex-child small">
      <mat-label></mat-label>
      <button class="card-state-btn pull-right" (click)="onToggleActive()">
        {{ application.paused ? 'Activate' : 'Pause' }}
      </button>
    </div>
  </div>
  <div>
    <mat-divider></mat-divider>
  </div>
  <div class="card-comments-wrapper">
    <mat-label>Comments</mat-label>
    <div>
      <app-comments [fileNumber]="application.fileNumber"></app-comments>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div>
    <button mat-button [mat-dialog-close]="isApplicationDirty">Close</button>
  </div>
</mat-dialog-actions>
