<ng-container *ngIf="!isLoading && totalCount">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z2 table"
    matSort
    [matSortActive]="sortField"
    [matSortDirection]="sortDirection"
    (matSortChange)="onSortChange($event)"
    matSortDisableClear
  >
    <ng-container matColumnDef="fileId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>File ID</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fileNumber | emptyColumn }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dateSubmitted">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Submitted to ALC</th>
      <td mat-cell *matCellDef="let element">
        {{ element.dateSubmitted | date | emptyColumn }}
      </td>
    </ng-container>

    <ng-container matColumnDef="applicant">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Inquirer Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.inquirerLastName | emptyColumn }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>

      <td mat-cell *matCellDef="let element">
        <app-application-type-pill [useShortLabel]="true" [type]="element.type" />
      </td>
    </ng-container>

    <ng-container matColumnDef="government">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Local/First Nation Government</th>
      <td mat-cell *matCellDef="let element">
        {{ element.localGovernmentName | emptyColumn }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">
        <app-application-type-pill *ngIf="element.open" [type]="OPEN_TYPE" />
        <app-application-type-pill *ngIf="!element.open" [type]="CLOSED_TYPE" />
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="onSelectRecord(row)" mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row no-data" *matNoDataRow>
      <td class="text-center" colspan="4">
        <div><b>No inquiries found.</b></div>
        <div>Please adjust criteria and try again.</div>
      </td>
    </tr>
  </table>
  <mat-paginator
    [length]="totalCount"
    [pageIndex]="pageIndex"
    [pageSize]="itemsPerPage"
    [pageSizeOptions]="[20, 50, 100]"
    (page)="onPageChange($event)"
    aria-label="Select page"
  ></mat-paginator>
</ng-container>
<div *ngIf="isLoading" class="center">
  <mat-spinner />
</div>

<div class="no-data" *ngIf="totalCount === 0">
  <div><b>No inquiries found.</b></div>
  <div>Please adjust criteria and try again.</div>
</div>
