@import '../../../../styles/colors';

.type {
  margin: 8px 8px 0 0;
  border-radius: 10px;
  width: fit-content;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  height: 24px;
  font-size: 11px;
  letter-spacing: 0.03em;
  border: 3px solid;
}

.high-priority {
  font-size: 1.4em;
  font-weight: bold;
  color: $error-color;
}

.table {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 32px;

  tr:hover {
    box-shadow: 0 0 0 2px rgba($primary-color, 0.9);
    cursor: pointer;
    transform: scale(1);
  }

  tr.paused {
    opacity: 0.6;
    background-color: #efefef;
  }

  tr.no-data {
    border: none;
    background-color: $grey-light;
    align-items: center;
    justify-content: center;
    cursor: auto;
    box-shadow: none !important;
    border-top: 8px solid white;
  }
}
