<div class="assignee">
  <h4>Cards Assigned to Me: {{ totalFiles }}</h4>

  <section *ngIf="noticeOfIntents.length">
    <div class="subheading2">Notice of Intent</div>
    <app-assigned-table [assignedFiles]="noticeOfIntents"></app-assigned-table>
  </section>

  <section *ngIf="applications.length">
    <div class="subheading2">Applications</div>
    <app-assigned-table [assignedFiles]="applications"></app-assigned-table>
  </section>

  <section *ngIf="nonApplications.length">
    <div class="subheading2">Non-Applications</div>
    <app-assigned-table [assignedFiles]="nonApplications"></app-assigned-table>
  </section>
</div>
