<div class="container">
  <div class="section">
    <h3>Create New Condition Card</h3>
  </div>
  <div class="section">
    <ng-select
      class="card-type"
      appearance="outline"
      [items]="conditionBoard?.statuses!"
      placeholder="Workflow Stage*"
      bindLabel="label"
      bindValue="statusCode"
      [clearable]="false"
      [(ngModel)]="selectedStatus"
      (change)="onStatusSelected($event)"
    >
      <ng-template ng-option-tmp let-item="item">
        <span [innerHTML]="item.label"> </span>
      </ng-template>
      <ng-template ng-label-tmp let-item="item">
        <span [innerHTML]="item.label"> </span>
      </ng-template>
    </ng-select>
  </div>
  <div class="section">
    <span>Add one or more conditions*</span>
    <div class="table-container">
      <table mat-table class="conditions-table mat-elevation-z3" [dataSource]="dataSource" style="width: 100%">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="column-select"></th>
          <td mat-cell *matCellDef="let element" class="column-select">
            <mat-checkbox [(ngModel)]="element.selected" [disabled]="isConditionCardNotNull(element)"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef class="column-index"></th>
          <td mat-cell *matCellDef="let element" class="column-index">{{ !isOrderNull ? alphaIndex(element.condition.order + 1) : '' }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef class="column-type">Type</th>
          <td mat-cell *matCellDef="let element" class="column-type">{{ element.condition.type.label }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="column-description">Description</th>
          <td mat-cell *matCellDef="let element" class="column-description">{{ element.condition.description }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayColumns"
          [class.disabled-row]="isConditionCardNotNull(row)"
          matTooltip="Condition is already used by another card"
          [matTooltipDisabled]="!isConditionCardNotNull(row)"
        ></tr>
      </table>
    </div>
  </div>
  <div class="section">
    <div class="button-row">
      <button type="button" mat-stroked-button color="primary" (click)="onCancel()">Cancel</button>
      <button type="button" mat-flat-button color="primary" [disabled]="isSaveDisabled()" (click)="onSave()">
        Save
      </button>
    </div>
  </div>
</div>
