<div mat-dialog-title>
  <div class="close">
    <button mat-icon-button [mat-dialog-close]="isApplicationDirty">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="header-row">
    <div class="left">
      <h3 class="card-title">
        {{ application.fileNumber }} ({{ application.applicant }})
        <span
          class="center application-type"
          [ngStyle]="{
            backgroundColor: application.type.backgroundColor,
            color: application.type.textColor
          }"
        >
          {{ application.type.label }}
        </span>
      </h3>
    </div>
    <div>
      <button color="accent" [matMenuTriggerFor]="moreActions" mat-flat-button>More Actions ▾</button>
      <mat-menu xPosition="before" #moreActions="matMenu">
        <button
          [mat-dialog-close]="isApplicationDirty"
          [routerLink]="['application', application.fileNumber]"
          mat-menu-item
        >
          View Detail
        </button>
        <button
          [mat-dialog-close]="isApplicationDirty"
          [routerLink]="['application', application.fileNumber, 'info-request']"
          mat-menu-item
        >
          Add Info Request
        </button>
        <button
          [mat-dialog-close]="isApplicationDirty"
          [routerLink]="['application', application.fileNumber, 'site-visit-meeting']"
          mat-menu-item
        >
          Add Site Visit / Meeting
        </button>
      </mat-menu>
    </div>
  </div>
  <div>
    <span class="region">{{ application.localGovernment.name }} - {{ application.region.label }} Region</span>
  </div>
  <div class="header-row">
    <div class="left">
      <app-application-time-tracker [application]="application"></app-application-time-tracker>
    </div>
    <div class="right">
      <button matTooltip="Move Board" [matMenuTriggerFor]="moveMenu" mat-icon-button>
        <mat-icon>move_down</mat-icon>
      </button>
      <mat-menu class="move-board-menu" xPosition="before" #moveMenu="matMenu">
        <button class="board-menu-item" (click)="onBoardSelected(board)" *ngFor="let board of boards" mat-menu-item>
          <span class="favourite-board-icon-container"
            ><mat-icon *ngIf="board.isFavourite" class="favourite-board-icon">star</mat-icon>
          </span>
          <span>{{ board.title }}</span>
          <span *ngIf="application.card!.board.code === board.code"
            ><mat-icon class="selected-board-icon">check</mat-icon></span
          >
        </button>
      </mat-menu>
      <button
        [matTooltip]="application.card!.highPriority ? 'Remove Priority' : 'Add Priority'"
        class="toggle-priority"
        (click)="onTogglePriority()"
        mat-icon-button
      >
        <div
          class="priority"
          [ngClass]="{
            'filled-priority': application.card!.highPriority,
            'empty-priority': !application.card!.highPriority
          }"
        ></div>
      </button>
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="select-container">
    <ng-select
      class="card-type"
      [items]="boardStatuses"
      appearance="outline"
      placeholder="Workflow Stage"
      bindLabel="label"
      bindValue="statusCode"
      [clearable]="false"
      [(ngModel)]="selectedApplicationStatus"
      (change)="onStatusSelected($event)"
    >
      <ng-template ng-option-tmp let-item="item">
        <span [innerHTML]="item.label"> </span>
      </ng-template>
      <ng-template ng-label-tmp let-item="item">
        <span [innerHTML]="item.label"> </span>
      </ng-template>
    </ng-select>
    <ng-select
      class="card-assignee"
      appearance="outline"
      [items]="$users | async"
      placeholder="Assigned Planner"
      bindLabel="name"
      bindValue="name"
      [(ngModel)]="selectedAssigneeName"
      [searchFn]="filterAssigneeList"
      (change)="onAssigneeSelected($event)"
    >
      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <div class="assignee-card-body">
          <p [ngOptionHighlight]="search" class="assignee-card-name">{{ item.name }}</p>
          <p class="assignee-card-email" [ngOptionHighlight]="search">{{ item.email }}</p>
        </div>
      </ng-template>
    </ng-select>
  </div>
  <div class="subtasks-wrapper">
    <app-subtasks [cardUuid]="application.card!.uuid"></app-subtasks>
  </div>
  <div class="card-comments-wrapper">
    <app-comments [cardUuid]="application.card!.uuid" [fileNumber]="application.fileNumber"></app-comments>
  </div>
</mat-dialog-content>
