// Not ng-select styles must be overridden in global css

.ng-select.assignee .ng-select-container {
    padding-left: 5px;
    .ng-value-container  {
        margin-top: 15px;
        .ng-placeholder {
            bottom: 10px;
        }
    }
}