$primary-color: #065a2f;
$primary-color-dark: #002F17;
$primary-color-light: #94C6AC;

$secondary-color: #fcba19;

$accent-color: #003366;

$black: #313132;
$white: #ffffff;
$grey: #929292;
$link-color: #1c3f94;

$bg-color: #f5f7e7;

$error-color: #d8292f;
$success-color: #2e8540;
$warning-color: #cc8b18;

$dark-contrast-text: #000000;
$light-contrast-text: $white;
$favorite-star: #ffd700;
$pending-star:#d3d3d3;
