$primary-color: #98b057;
$accent-color: #0a5a9c;
$black: #333333;
$white: #ffffff;
$grey: #bcbcbc;
$link-color: #1c3f94;

$bg-color: #f5f7e7;

$error-color: #d8292f;
$success-color: #2e8540;
$warning-color: #cc8b18;

$dark-contrast-text: #000000;
$light-contrast-text: $white;
