$primary-color: #065a2f;
$primary-color-dark: #002f17;
$primary-color-light: #94c6ac;

$secondary-color: #fcba19;
$secondary-color-dark: #c08106;
$secondary-color-light: #fee9b5;

$accent-color: #003366;
$accent-color-dark: #002447;
$accent-color-light: #a7c7e8;

$black: #313132;
$white: #ffffff;
$grey: #929292;
$grey-dark: #565656;
$grey-light: #efefef;
$link-color: #1a5a96;

$bg-color: #f5f7e7;

$error-color: #d8292f;
$success-color: #2e8540;
$warning-color: #cc8b18;

$dark-contrast-text: #000000;
$light-contrast-text: $white;
$pending-star: $grey;
$paused-color: #c3c3c3;
