@use './colors';
// Note: ng-select styles must be overridden in global css

.ng-select {
  padding-bottom: 0 !important;
}

.ng-select.ng-select-focused .ng-select-container.ng-appearance-outline:after,
.ng-select.ng-select-focused .ng-select-container.ng-appearance-outline:hover:after {
  border-color: colors.$primary-color;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: colors.$grey-light !important;
  color: colors.$primary-color;

  &:hover {
    background-color: colors.$grey-light !important;
  }
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
  background: colors.$secondary-color-light !important;
}

.ng-select.ng-select-focused .ng-select-container:after {
  border-color: colors.$primary-color;
}

.ng-select .ng-select-container {
  border-color: colors.$grey !important;
}

.ng-select .ng-select-container.ng-appearance-outline:after {
  border-color: colors.$grey !important;
  height: calc(100% - 0.15em);
}

.ng-select .ng-select-container .ng-value-container {
  border-top: 0.5em;
  padding: 1em 0;
}

.ng-select .ng-select-container.ng-appearance-outline {
  overflow: visible;
  margin-top: -4px;
}

.ng-select .ng-has-value .ng-placeholder {
  margin-top: -2px;
}

.ng-select.ng-select-single .ng-select-container.ng-appearance-outline .ng-arrow-wrapper {
  bottom: 1.3em;
}

.ng-select .ng-select-container.ng-appearance-outline .ng-value-container .ng-input > input {
  margin-bottom: 8px;
  margin-left: 12px;
  font-size: 18px;
}

.ng-dropdown-panel.ng-select-bottom {
  top: calc(100% - 0.5em) !important;
}

.ng-select.ng-select-single .ng-select-container:not(.ng-appearance-outline) .ng-clear-wrapper {
  bottom: 12px !important;
}

.ng-select.ng-select-single .ng-select-container:not(.ng-appearance-outline) .ng-arrow-wrapper {
  bottom: 15px !important;
}
