@import './colors';

snack-bar-container {
  padding: 0 !important;

  .mat-simple-snackbar {
    align-items: stretch;
  }

  .mat-simple-snack-bar-content {
    padding: 14px;
    text-align: center;
  }

  .mat-simple-snackbar-action {
    border-left: 1px solid #fff;
    color: #fff;
    padding: 0;
    margin: 0;

    .mat-button-wrapper {
      letter-spacing: normal;
      font-weight: bold;
    }
  }
}

.mat-simple-snackbar-action button {
  height: 100% !important;
  max-height: unset !important;
}

snack-bar-container.success {
  background: $success-color;
  color: #fff;
}

snack-bar-container.warning {
  background: $warning-color;
  color: #fff;
}

snack-bar-container.error {
  background: $error-color;
  color: #fff;
}
