snack-bar-container.success {
  background: $success-color;
  color: #fff;
}

snack-bar-container.warning {
  background: $warning-color;
  color: #fff;
}

snack-bar-container.error {
  background: $error-color;
  color: #fff;
}
