@use './colors';
@use '@bcgov/bc-sans/css/BCSans.css';

$font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;

@mixin typography-style($size, $weight) {
  font-family: $font-family !important;
  font-size: $size !important;
  font-weight: $weight !important;
  margin: 0 !important;
}

* {
  font-family: $font-family !important;
}

.material-icons {
  font-family: Material Icons Outlined !important;
}

h1 {
  @include typography-style(38px, 700);
}

h2 {
  @include typography-style(32px, 700);
}

h3 {
  @include typography-style(28px, 700);
  line-height: 36px !important;
}

h4 {
  @include typography-style(24px, 700);
}

h5 {
  @include typography-style(20px, 700);
}

h6 {
  @include typography-style(18px, 700);
}

.subheading1 {
  @include typography-style(18px, 700);
}

.subheading2 {
  @include typography-style(16px, 700);
}

a,
p,
.body1-text {
  @include typography-style(16px, 400);
  line-height: 24px;
}

.body2-text {
  @include typography-style(14px, 400);
  line-height: 24px;
}

.body-large {
  @include typography-style(19px, 400);
  line-height: 24px;
  color: colors.$grey-dark;
}

.body-small {
  @include typography-style(11px, 400);
  line-height: 16px;
}

.body-xsmall {
  @include typography-style(9px, 400);
}

.button-text {
  @include typography-style(14px, 400);
  letter-spacing: 1px;
}

.label-text {
  @include typography-style(14px, 700);
  line-height: 24px;
}

.subtitle {
  @include typography-style(18px, 700);
  line-height: 32px;
}

.badge {
  @include typography-style(11px, 700);
  line-height: 24px;
}

button {
  @extend .button-text;
  padding: 8px 16px;
}

.mention {
  border-radius: 2px;
  padding: 0 2px;
}

.mention.red {
  color: #a41e22;
  background: rgba(216, 41, 47, 0.25);
}

.mention.green {
  color: colors.$primary-color-dark;
  background: rgba(46, 133, 64, 0.25) !important;
}
