<h2>Government</h2>
<p>
  Please indicate the local government in which the parcel(s) under application is located. If the property is located
  within the Islands Trust, please select 'Islands Trust' and not a specific island.
</p>
<form [formGroup]="form">
  <div class="form-row">
    <div class="full-row">
      <label for="government">Local or First Nation Government</label>
      <mat-form-field class="full-width-input" appearance="outline">
        <input
          (blur)="onBlur()"
          id="government"
          type="text"
          aria-label="Text"
          matInput
          formControlName="localGovernment"
          placeholder="Type government"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete (optionSelected)="onChange($event)" #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredLocalGovernments | async" [value]="option.name">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</form>
<app-warning-banner *ngIf="showWarning" class="full-row">
  This Local/First Nation Government has not yet been set up with the ALC Portal to receive applications. To submit, you
  will need to contact the ALC directly: &nbsp;<a href="mailto:ALC.Portal@gov.bc.ca">ALC.Portal@gov.bc.ca</a
  >&nbsp;/&nbsp;<a href="tel:236-468-3342">236-468-3342</a>
</app-warning-banner>
<p>
  Please Note: If your Local or First Nation Government is not listed, please contact the ALC directly.
  <a href="mailto:ALC.Portal@gov.bc.ca">ALC.Portal@gov.bc.ca</a> / <a href="tel:236-468-3342">236-468-3342</a>
</p>
<div class="button-container">
  <button (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
  <div>
    <button (click)="onSave()" mat-flat-button matStepperNext color="primary">
      Next<span class="mobile-hidden"> Step</span>
    </button>
  </div>
</div>
