.container {
  display: flex;
  overflow: auto;
  min-height: 70vh;
  margin-top: 32px;
}

.header-container {
  position: relative;
}

.column-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  text-align: center;
  align-content: center;
  height: 55px;
}

.column {
  margin: 0 16px;
  min-width: 270px;
  display: flex;
  flex-direction: column;
}

.card-container {
  border: 1px solid #999;
  height: 100%;
  padding: 1rem;
  min-height: 400px;
}
