.parcel-table {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-column-gap: 36px;
  grid-row-gap: 12px;
}

.container {
  margin: 32px 0;
}

.subheading1 {
  margin-bottom: 8px !important;
}
