<div class='container'>
  <div class='subheading1'>Proposed Lot Areas</div>
  <div *ngIf="applicationSubmission" class="parcel-table">
    <div class="grid-1 subheading2">#</div>
    <div class="grid-2 subheading2">Type</div>
    <div class="grid-3 subheading2">Size</div>
    <ng-container *ngFor="let lot of applicationSubmission.subdProposedLots; let i = index">
      <div class="grid-1">
        {{ i + 1 }}
      </div>
      <div class="grid-2">
        {{ lot.type }}
      </div>
      <div class="grid-3">
        {{ lot.size }}
      </div>
    </ng-container>
  </div>
</div>
