@import '../../../../styles/colors';
@import '../../../../styles/functions';
@import '../../../../styles/typography';

.margin-bottom-1 {
  margin-bottom: rem(16);
}

.change-app-type-modal {
  .warning-banner {
    background-color: rgba($accent-color-light, 0.5);
    padding: rem(16);

    .read-more-btn {
      padding-top: rem(8);
      cursor: pointer;
      display: flex;
      justify-content: end;
      color: $accent-color-dark;
    }

    .display-none {
      display: none !important;
    }

    @media screen and (min-width: $desktopBreakpoint) {
      padding: 2rem 3rem;

      .ellipsis-3 {
        display: block;
      }
    }
  }

  .step-controls {
    display: flex;
    justify-content: space-between;
    padding: 0 rem(16);
  }

  .app-type-step-extension {
    margin-bottom: rem(16);
  }

  .content {
    padding: rem(16);

    .mat-radio-button {
      display: block;
    }

    ::ng-deep .mat-horizontal-stepper-header-container {
      display: none;
    }

    ::ng-deep .mat-horizontal-content-container {
      padding: 0;
    }

    .step-header {
      margin-bottom: rem(24);
    }

    .step-body {
      margin-bottom: rem(32);
    }

    .step-controls {
      padding: 0;
    }

    // TODO this is a desktop version
    // .step-controls {
    //   display: flex;
    //   justify-content: flex-end;

    //   button {
    //     margin-left: rem(24);
    //   }
    // }

    .warning-banner {
      display: flex;

      .description {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .icon {
        display: flex;
        justify-content: center;
        padding: 1.2rem;
      }

      @media screen and (min-width: $desktopBreakpoint) {
        .icon {
          align-items: center;
        }
      }
    }
  }
}
