<ng-template #startStepControls>
  <button mat-stroked-button color="primary" (click)="onCancel()">cancel</button>
  <button mat-flat-button color="primary" (click)="stepper.next()">continue</button>
</ng-template>

<ng-template #intermediateStepControls>
  <button mat-stroked-button color="primary" (click)="stepper.previous()">back</button>
  <button mat-flat-button color="primary" (click)="stepper.next()">update</button>
</ng-template>

<ng-template #lastStepControls>
  <button mat-stroked-button color="primary" (click)="stepper.previous()">back</button>
  <button mat-flat-button color="primary" (click)="onSubmit()">confirm</button>
</ng-template>

<div class="change-app-type-modal">
  <div class="content">
    <mat-stepper [linear]="false" #stepper>
      <mat-step>
        <div class="step-header">
          <h4>Change Application Type</h4>
        </div>

        <div class="step-body">
          <div class="warning-banner responsive-flex-wrapper">
            <div class="icon">
              <mat-icon>warning</mat-icon>
            </div>
            <div class="description">
              <div>
                <b>Warning:</b> Changing application type will remove some inputs from your saved progress. Do you want
                to continue?
              </div>
            </div>
          </div>
        </div>

        <div class="step-controls">
          <ng-container *ngTemplateOutlet="startStepControls"></ng-container>
        </div>
      </mat-step>

      <mat-step>
        <div class="step-header">
          <h4>Change Application Type</h4>
        </div>

        <div>
          <mat-radio-group
            class="app-type-radio-group"
            aria-labelledby="radio-label"
            (change)="onAppTypeSelected($event)"
            color="primary"
            required
          >
            <mat-radio-button *ngFor="let appType of applicationTypes" [value]="appType.code">
              {{ appType.portalLabel }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-step>

      <mat-step>
        <div class="step-header">
          <h5>Are you sure you want to change your application type?</h5>
        </div>

        <div class="step-controls">
          <ng-container *ngTemplateOutlet="lastStepControls"></ng-container>
        </div>
      </mat-step>
    </mat-stepper>
  </div>

  <div class="app-type-step-extension" *ngIf="stepper.selectedIndex === 1">
    <div id="warningBanner" class="warning-banner margin-bottom-1">
      <div *ngIf="!selectedAppType">Select an option to learn more about the application type</div>
      <div>
        <b class="app-type-label">{{ selectedAppType?.portalLabel }}</b>
      </div>
      <div
        id="appTypeDescription"
        [ngClass]="{ 'ellipsis-3': !readMoreClicked }"
        [innerHtml]="selectedAppType?.htmlDescription"
      ></div>
      <span
        class="read-more-btn"
        [ngClass]="{ 'display-none': !isReadMoreVisible() }"
        *ngIf="!!selectedAppType"
        (click)="onReadMoreClicked()"
        ><u>Read {{ readMoreClicked ? 'Less' : 'More' }}</u></span
      >
    </div>

    <div class="step-controls">
      <ng-container *ngTemplateOutlet="intermediateStepControls"></ng-container>
    </div>
  </div>
</div>
