@import '../../../../styles/colors';
@import '../../../../styles/functions';
@import '../../../../styles/typography';

.margin-bottom-1 {
  margin-bottom: rem(16);
}

.change-app-type-modal {
  .warning-banner {
    background-color: rgba($accent-color-light, 0.5);
    padding: rem(16);

    .read-more-btn {
      padding-top: rem(8);
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      color: $accent-color-dark;
    }

    .display-none {
      display: none !important;
    }
  }

  .step-controls {
    display: flex;
    justify-content: space-between;
    padding: 0 rem(16);
  }

  .app-type-step-extension {
    margin-bottom: rem(16);
  }

  .content {
    margin: rem(16);

    ::ng-deep .mat-radio-button {
      display: block;
      margin: rem(16) 0;

      ::ng-deep .mat-radio-label-content {
        white-space: break-spaces;
      }
    }

    .step-header {
      margin-bottom: rem(24);
    }

    .step-body {
      margin-bottom: rem(32);
    }

    .step-controls {
      padding: 0;
    }

    .warning-banner {
      display: flex;

      .description {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .icon {
        display: flex;
        justify-content: center;
        margin-right: 1.2rem;
      }
    }
  }

  @media screen and (min-width: $desktopBreakpoint) {
    .warning-banner {
      padding: 2rem 3rem;

      .ellipsis-3 {
        display: block;
      }
    }

    .step-controls {
      justify-content: flex-end;
      padding: 0 rem(48);

      button {
        margin-left: rem(25) !important;
      }
    }

    .content {
      margin: rem(32) rem(48);
      margin-bottom: rem(16);
      padding: 0;

      .warning-banner .icon {
        align-items: center;
      }
    }
  }
}
