@if (!isMobile) {
  <div class="owner-table-wrapper">
    <table class="owner-table" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef>Land Owners</th>
        <td mat-cell *matCellDef="let element">{{ element.displayName }}</td>
      </ng-container>
      @if (!isCrown) {
        <ng-container matColumnDef="organizationName">
          @if (!isShowAllOwners) {
            <th mat-header-cell *matHeaderCellDef>Organization</th>
          }
          @if (isShowAllOwners) {
            <th mat-header-cell *matHeaderCellDef>Organization Name / Ministry / Department</th>
          }
          <td mat-cell *matCellDef="let element">
            @if (!element.organizationName) {
              <div class="no-data">
                <div class="no-data-text">Not Applicable</div>
              </div>
            }
            <span>{{ element.organizationName }}</span>
          </td>
        </ng-container>
      }
      @if (isCrown) {
        <ng-container matColumnDef="organizationName">
          <th mat-header-cell *matHeaderCellDef>Ministry or Department</th>
          <td mat-cell *matCellDef="let element">{{ element.organizationName }}</td>
        </ng-container>
      }
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let element">{{ element.phoneNumber | mask: '(000) 000-0000' }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <ng-container matColumnDef="corporateSummary">
        <th mat-header-cell *matHeaderCellDef>Corporate Summary</th>
        <td mat-cell *matCellDef="let element">
          @if (element.ownershipTypeCode !== PARCEL_OWNERSHIP_TYPES.CROWN) {
            <div>
              @if (element.corporateSummary) {
                <a
                  routerLink="/document/{{ element.corporateSummary.documentUuid }}"
                  target="_blank"
                  >{{ element.corporateSummary.fileName }}</a
                  >
                }
                @if (!element.corporateSummary) {
                  <div class="no-data">
                    <div class="no-data-text">Not Applicable</div>
                  </div>
                }
              </div>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell class="actions" *matCellDef="let element">
            <button type="button" [disabled]="_disabled" (click)="onEdit(element)" mat-stroked-button color="primary">
              Edit
            </button>
            @if (parcelUuid) {
              <button
                type="button"
                [disabled]="_disabled"
                (click)="onRemove(element.uuid)"
                mat-stroked-button
                color="accent"
                >
                Remove
              </button>
            }
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="no-data-text" colspan="6">No owner information</td>
        </tr>
      </table>
    </div>
  }
  @if (isMobile) {
    @for (owner of sortedOwners.slice(0, visibleCount); track owner; let last = $last) {
      <app-parcel-owner-mobile-card
        [owner]="owner"
        [isLast]="last"
        [isReviewStep]="false"
        (editClicked)="onEdit(owner)"
        (removeClicked)="onRemove(owner.uuid)"
        >
      </app-parcel-owner-mobile-card>
    }
    @if (visibleCount < sortedOwners.length) {
      <div class="visible-count-container">
        <a (click)="increaseVisibleCount()">See more owners</a>
      </div>
    }
  }
