<div class="owner-table-wrapper" *ngIf="!isMobile">
  <table class="owner-table" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef>Land Owners</th>
      <td mat-cell *matCellDef="let element">{{ element.displayName }}</td>
    </ng-container>

    <ng-container *ngIf="!isCrown" matColumnDef="organizationName">
      <ng-container *ngIf="!isShowAllOwners">
        <th mat-header-cell *matHeaderCellDef>Organization</th>
      </ng-container>
      <ng-container *ngIf="isShowAllOwners">
        <th mat-header-cell *matHeaderCellDef>Organization Name / Ministry / Department</th>
      </ng-container>

      <td mat-cell *matCellDef="let element">
        <div class="no-data" *ngIf="!element.organizationName">
          <div class="no-data-text">Not Applicable</div>
        </div>
        <span>{{ element.organizationName }}</span>
      </td>
    </ng-container>

    <ng-container *ngIf="isCrown" matColumnDef="organizationName">
      <th mat-header-cell *matHeaderCellDef>Ministry or Department</th>
      <td mat-cell *matCellDef="let element">{{ element.organizationName }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element">{{ element.phoneNumber | mask : '(000) 000-0000' }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="corporateSummary">
      <th mat-header-cell *matHeaderCellDef>Corporate Summary</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.ownershipTypeCode !== PARCEL_OWNERSHIP_TYPES.CROWN">
          <a *ngIf="element.corporateSummary" (click)="onOpenFile(element.corporateSummary)">{{
              element.corporateSummary.fileName
            }}</a>
          <div class="no-data" *ngIf="!element.corporateSummary">
            <div class="no-data-text">Not Applicable</div>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell class="actions" *matCellDef="let element">
        <button type="button" [disabled]="_disabled" (click)="onEdit(element)" mat-stroked-button color="primary">
          Edit
        </button>
        <button
          type="button"
          [disabled]="_disabled"
          *ngIf="parcelUuid"
          (click)="onRemove(element.uuid)"
          mat-stroked-button
          color="accent"
        >
          Remove
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="no-data-text" colspan="6">No owner information</td>
    </tr>
  </table>
</div>
<ng-container *ngIf="isMobile">
  <app-parcel-owner-mobile-card 
    *ngFor="let owner of sortedOwners.slice(0, visibleCount); let last = last"
    [owner]="owner"
    [isLast]="last"
    [isReviewStep]="false"
    (editClicked)="onEdit(owner)"
    (removeClicked)="onRemove(owner.uuid)"
    (openFileClicked)="onOpenFile(owner.corporateSummary)">
  </app-parcel-owner-mobile-card>
  <div class="visible-count-container" *ngIf="visibleCount < sortedOwners.length">
    <a (click)="increaseVisibleCount()">See more owners</a>
  </div>
</ng-container>
