@import '../../../styles/colors';
@import '../../../styles/functions';
@import '../../../styles/typography';

.warning-banner {
  background-color: rgba($accent-color-light, 0.5);
  padding: 1.6rem;
  display: flex;
  margin: 2.4rem 0;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
  }
}

.header-row {
  .learn-more-wrapper {
    margin-top: rem(24);
    margin-bottom: rem(24);
    .learn-more-ctr {
      display: inline-block;
      color: $accent-color;
      text-transform: uppercase;

      mat-icon {
        padding-top: rem(6);
      }
    }

    .learn-more-ctr:hover {
      cursor: pointer;
    }
  }
  .mobile-btn {
    width: 100%;
    margin-bottom: rem(8) !important;
  }
  .btn {
    display: none;
  }

  .title {
    display: block;
  }

  @media screen and (min-width: $desktopBreakpoint) {
    .title {
      line-height: rem(52);
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(16);
    }

    .mobile-btn {
      display: none;
    }
    .btn {
      display: inline-block;
      width: rem(193);
      height: rem(43);
    }
  }
}

.navigation-wrapper {
  ::ng-deep .mat-tab-header-pagination {
    display: none !important;
  }

  ::ng-deep .mat-tab-header {
    overflow-x: scroll !important;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: none;
  }

  ::ng-deep .mat-tab-label-container {
    overflow: visible !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    flex-flow: row wrap !important;
    justify-content: space-between;
  }

  ::ng-deep .mat-tab-header::-webkit-scrollbar {
    display: none !important;
  }

  ::ng-deep .mat-ink-bar {
    display: none;
  }
  ::ng-deep .mat-tab-labels {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;

    .mat-tab-label {
      width: 100%;
      margin-top: rem(24);
      height: rem(32);
      background: $primary-color;
      opacity: 1;
      color: $white;
    }

    .mat-tab-label.mat-tab-label-active {
      background-color: $primary-color-dark;
    }
  }

  @media screen and (min-width: $desktopBreakpoint) {
    ::ng-deep .mat-tab-labels {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;

      .mat-tab-label {
        width: 33%;
      }
    }
  }
}
