<div>
  <div class="header-row">
    <div *ngIf="profile && (profile.government || profile.businessName)">
      <h6>{{ profile.government || profile.businessName }}</h6>
    </div>
    <diV class="title">
      <h3>Portal Inbox</h3>
      <div>
        <button mat-flat-button class="btn" (click)="onCreateSubmission()" color="accent">+ Create New</button>
      </div>
    </diV>
    <div>
      <button class="mobile-btn" (click)="onCreateSubmission()" color="accent" mat-flat-button>+ Create New</button>
    </div>
  </div>
  <div class="navigation">
    <app-inbox [currentTabName]="currentTabName"></app-inbox>
  </div>
</div>
