@use '../../../styles/functions' as *;
@use '../../../styles/colors';

.navigation {
  ::ng-deep .mdc-tab__text-label {
    font-weight: bold;
  }
}

.header-row {
  .learn-more-wrapper {
    margin-top: rem(24);
    margin-bottom: rem(24);
    .learn-more-ctr {
      align-items: center;
      color: colors.$accent-color;
      display: flex;
      font-weight: 700;
      height: fit-content;
      width: fit-content;
      margin-bottom: rem(12) !important;
    }

    .learn-more-ctr:hover {
      cursor: pointer;
      color: colors.$accent-color-dark;
    }
  }

  .mobile-btn {
    width: 100%;
    margin-bottom: rem(8) !important;
  }

  .btn {
    display: none;
  }

  .title {
    display: block;
  }

  @media screen and (min-width: $desktopBreakpoint) {
    .title {
      line-height: rem(52);
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(16);
    }

    .mobile-btn {
      display: none;
    }

    .btn {
      display: flex;
      justify-content: center;
      width: rem(193);
      height: rem(43);
    }
  }
}
