@use '../../../styles/functions' as *;
@use '../../../styles/colors';
@use '../../../styles/navigation-wrapper';

.header-row {
  .learn-more-wrapper {
    margin-top: rem(24);
    margin-bottom: rem(24);
    .learn-more-ctr {
      display: inline-block;
      color: colors.$accent-color;
      text-transform: uppercase;

      mat-icon {
        padding-top: rem(6);
      }
    }

    .learn-more-ctr:hover {
      cursor: pointer;
    }
  }
  .mobile-btn {
    width: 100%;
    margin-bottom: rem(8) !important;
  }
  .btn {
    display: none;
  }

  .title {
    display: block;
  }

  @media screen and (min-width: $desktopBreakpoint) {
    .title {
      line-height: rem(52);
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(16);
    }

    .mobile-btn {
      display: none;
    }
    .btn {
      display: inline-block;
      width: rem(193);
      height: rem(43);
    }
  }
}
