.two-item-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-bottom: 24px;
}

.date-picker {
  width: 100%;
}

mat-dialog-actions {
  button:not(:last-child) {
    margin-right: 24px !important;
  }
}

.application-type {
  display: flex;
  align-items: center;
}

.application-color {
  display: inline-block;
  height: 18px;
  width: 40px;
  margin-right: 8px;
  border-radius: 2px;
}
