<div mat-dialog-title>
  <h2 class="card-title">Create Planning Review</h2>
</div>
<form class="content" [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="two-item-row">
      <div>
        <ng-select
          appearance="outline"
          class="card-local-government"
          [items]="localGovernments"
          appendTo="body"
          placeholder="Local/First Nation Government*"
          bindLabel="name"
          bindValue="uuid"
          [clearable]="false"
          [formControl]="localGovernmentControl"
          (change)="onSelectGovernment($event)"
        >
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            <div [ngOptionHighlight]="search">{{ item.name }}</div>
          </ng-template>
        </ng-select>
      </div>
      <div>
        <ng-select
          appearance="outline"
          [items]="regions"
          appendTo="body"
          placeholder="Region*"
          bindLabel="label"
          bindValue="code"
          [clearable]="false"
          [formControl]="regionControl"
        >
        </ng-select>
      </div>
    </div>
    <div class="two-item-row">
      <mat-form-field appearance="outline">
        <mat-label>Submitted to ALC</mat-label>
        <input
          matInput
          (click)="submissionDate.open()"
          [matDatepicker]="submissionDate"
          [formControl]="submissionDateControl"
          name="date"
          id="date"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="submissionDate"></mat-datepicker-toggle>
        <mat-datepicker #submissionDate type="date"> </mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Document Name</mat-label>
        <input matInput placeholder="Document Name*" [formControl]="documentNameControl" required />
      </mat-form-field>
    </div>
    <div class="two-item-row">
      <div>
        <ng-select
          id="type"
          appearance="outline"
          [items]="types"
          appendTo="body"
          placeholder="Planning Review Type*"
          bindLabel="label"
          bindValue="code"
          [clearable]="false"
          [formControl]="typeControl"
        >
        </ng-select>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Due Date</mat-label>
        <input matInput (click)="dueDate.open()" [matDatepicker]="dueDate" [formControl]="dueDateControl" />
        <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
        <mat-datepicker #dueDate type="date"> </mat-datepicker>
      </mat-form-field>
    </div>
    <mat-form-field class="description" appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput [formControl]="descriptionControl" required />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="button-container">
      <button mat-stroked-button color="primary" [mat-dialog-close]="false">Cancel</button>
      <button [loading]="isLoading" mat-flat-button color="primary" type="submit" [disabled]="!createForm.valid">
        Create
      </button>
    </div>
  </mat-dialog-actions>
</form>
