<div *ngIf="_applicationSubmission" class="review-table">
  <div class="subheading2 grid-1">
    Are you submitting this application as a follow-up to an ALC Notice of Intent (NOI)?
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.soilIsNOIFollowUp ? 'Yes' : 'No' }}
  </div>
  <div *ngIf="_applicationSubmission.soilNOIIDs" class="subheading2 grid-1">Notice of Intent (NOI) ID</div>
  <div class="grid-double">
    {{ _applicationSubmission.soilNOIIDs }}
  </div>
  <div class="subheading2 grid-1">Does this proposal have previous ALC authorization?</div>
  <div class="grid-double">
    {{ _applicationSubmission.soilHasPreviousALCAuthorization ? 'Yes' : 'No' }}
  </div>
  <div *ngIf="_applicationSubmission.soilApplicationIDs" class="subheading2 grid-1">Application ID</div>
  <div class="grid-double">
    {{ _applicationSubmission.soilApplicationIDs }}
  </div>
  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    <span>{{ _applicationSubmission.soilPurpose }}</span>
  </div>

  <div class="subheading1 full-width">Fill to be Placed</div>
  <div class="full-width soil-table">
    <div class="grid-1"><strong>Volume</strong></div>
    <div class="grid-2">
      {{ _applicationSubmission.soilToPlaceVolume }}
      <span *ngIf="_applicationSubmission.soilToPlaceVolume">m<sup>3</sup></span>
    </div>
    <div class="grid-1"><strong>Area</strong></div>
    <div class="grid-2">
      {{ _applicationSubmission.soilToPlaceArea }} <span *ngIf="_applicationSubmission.soilToPlaceArea">ha</span>
    </div>
    <div class="grid-1"><strong>Maximum Depth</strong></div>
    <div class="grid-2">
      {{ _applicationSubmission.soilToPlaceMaximumDepth }}
      <span *ngIf="_applicationSubmission.soilToPlaceMaximumDepth">m</span>
    </div>
    <div class="grid-1"><strong>Average Depth</strong></div>
    <div class="grid-2">
      {{ _applicationSubmission.soilToPlaceAverageDepth }}
      <span *ngIf="_applicationSubmission.soilToPlaceAverageDepth">m</span>
    </div>
  </div>

  <div class="subheading1 full-width">Fill already Placed</div>
  <div class="full-width soil-table">
    <div class="grid-1"><strong>Volume</strong></div>
    <div class="grid-2">
      {{ _applicationSubmission.soilAlreadyPlacedVolume }}
      <span *ngIf="_applicationSubmission.soilAlreadyPlacedVolume">m<sup>3</sup></span>
    </div>
    <div class="grid-1"><strong>Area</strong></div>
    <div class="grid-2">
      {{ _applicationSubmission.soilAlreadyPlacedArea }}
      <span *ngIf="_applicationSubmission.soilAlreadyPlacedArea">ha</span>
    </div>
    <div class="grid-1"><strong>Maximum Depth</strong></div>
    <div class="grid-2">
      {{ _applicationSubmission.soilAlreadyPlacedMaximumDepth }}
      <span *ngIf="_applicationSubmission.soilAlreadyPlacedMaximumDepth">m</span>
    </div>
    <div class="grid-1"><strong>Average Depth</strong></div>
    <div class="grid-2">
      {{ _applicationSubmission.soilAlreadyPlacedAverageDepth }}
      <span *ngIf="_applicationSubmission.soilAlreadyPlacedAverageDepth">m</span>
    </div>
  </div>

  <div class="full-width">
    <span class="subheading1">Project Duration</span>
  </div>
  <div class="subheading2 grid-1">Duration</div>
  <div class="grid-double">
    {{ _applicationSubmission.soilProjectDurationUnit }}
  </div>
  <div class="subheading2 grid-1">Length</div>
  <div class="grid-double">
    {{ _applicationSubmission.soilProjectDurationAmount }}
  </div>

  <div class="subheading2 grid-1">
    What alternative measures have you considered or attempted before proposing to place fill?
  </div>
  <div class="grid-double">
    <span>{{ _applicationSubmission.soilAlternativeMeasures }}</span>
  </div>

  <div class="subheading2 grid-1">Describe the type, origin and quality of fill proposed to be placed.</div>
  <div class="grid-double">
    <span>{{ _applicationSubmission.soilFillTypeToPlace }}</span>
  </div>
  <div class="subheading2 grid-1">What steps will be taken to reduce impacts to surrounding agricultural land?</div>
  <div class="grid-double">
    <span>{{ _applicationSubmission.soilReduceNegativeImpacts }}</span>
  </div>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <a *ngFor="let file of proposalMap" (click)="openFile(file)">
      {{ file.fileName }}
    </a>
  </div>
  <div class="subheading2 grid-1">Cross Sections</div>
  <div class="grid-double">
    <a *ngFor="let file of crossSections" (click)="openFile(file)">
      {{ file.fileName }}
    </a>
  </div>
  <div class="subheading2 grid-1">Reclamation Plan</div>
  <div class="grid-double">
    <a *ngFor="let file of reclamationPlans" (click)="openFile(file)">
      {{ file.fileName }}
    </a>
  </div>
</div>
