<mat-card [ngClass]="{ 'last-card': isLast, 'review-step': isReviewStep, 'error-card': isError && !isReviewStep }">
  <mat-card-header>
    <mat-card-title>
      #{{ residence.id }} Total Floor Area:
      <ng-container *ngIf="residence.floorArea === 0; else validFloorArea">
        <div class="text-error">No Data</div>
      </ng-container>
      <ng-template #validFloorArea>
        {{ residence.floorArea }}
        <span matTextSuffix>m<sup>2</sup></span>
      </ng-template>
    </mat-card-title>
    <ng-container *ngIf="!isReviewStep">
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEdit()">
          <span class="span-action">Edit</span>
        </button>
        <button mat-menu-item (click)="onRemove()">
          <span class="span-action">Remove</span>
        </button>
      </mat-menu>
    </ng-container>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="!residence.description">
      <div class="text-error">No Data</div>
    </ng-container>
    <div class="field-error" *ngIf="(residence.floorArea === 0 || !residence.description) && !isReviewStep">
      <mat-icon>warning</mat-icon>
      <div>This field is required</div>
    </div>
    <app-no-data
      class="no-data"
      [showRequired]="showErrors"
      *ngIf="(residence.floorArea === 0 || !residence.description) && isReviewStep"
      text=""
    ></app-no-data>
    {{ residence.isExpanded ? residence.description : getTruncatedDescription(residence.description) }}
    <a *ngIf="isDescriptionTruncated(residence.description)" (click)="toggleReadMore(residence)">
      {{ residence.isExpanded ? 'Read Less' : 'Read More' }}
    </a>
  </mat-card-content>
</mat-card>
