@use '../../../../styles/functions.scss' as *;
@use '../../../../styles/colors';

mat-card {
  width: 100%;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #565656;
  border-radius: 0;
  word-wrap: break-word;
  white-space: normal;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 0 !important;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 0 10px 0 !important;
}

.span-action {
  font-weight: normal;
}

.last-card {
  border-bottom: none !important;
  margin-bottom: 20px;
}

.review-step {
  border-bottom: 1px solid #565656;
  background-color: transparent;

  mat-card-header {
    padding: 5px 0 10px 0 !important;
  }
}

a {
  align-self: flex-end;
  padding-right: 30px;
  padding-bottom: 10px;
}

.text-error {
  color: colors.$grey-dark;
  font-weight: 400;
  display: inline;
  padding-bottom: 0 !important;
}

.field-error {
  color: colors.$error-color;
  font-size: rem(15);
  font-weight: 700;
  display: flex;
  align-items: center;

  .mat-icon {
    min-width: rem(24);
  }
}

.error-card {
  border-radius: rem(4) !important;
  border: 2px solid colors.$error-color !important;
  padding: 0 0 5px 10px;
  margin-top: 5px;
  margin-left: -5px;
}

.no-data {
  margin-bottom: -5px !important;
  margin-top: -10px !important;
}
