<div *ngIf="_applicationSubmission" class="review-table">
  <div class="subheading2 grid-1">
    Selected Subtype:
    <app-updated-banner *ngIf="updatedFields.includes('naruSubtype')"></app-updated-banner>
  </div>
  <div class="grid-double">
    <span *ngIf="_applicationSubmission.naruSubtype !== null">
      {{ _applicationSubmission.naruSubtype.label }}
    </span>
    <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.naruSubtype === null"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    What is the purpose of the proposal?
    <app-updated-banner *ngIf="updatedFields.includes('naruPurpose')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.naruPurpose }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruPurpose"></app-no-data>
  </div>

  <ng-container *ngIf="_applicationSubmission.naruSubtype?.code === 'ARFU'">
    <div class="subheading2 grid-1">
      What is the total floor area (m<sup>2</sup>) of the proposed additional residence?
      <app-updated-banner *ngIf="updatedFields.includes('naruFloorArea')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruFloorArea }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruFloorArea"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Describe the necessity for an additional residence for farm use and how it will support agriculture in the short
      or long term.
      <app-updated-banner *ngIf="updatedFields.includes('naruResidenceNecessity')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruResidenceNecessity }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruResidenceNecessity"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Describe the rationale for the proposed location of the additional residence.
      <app-updated-banner *ngIf="updatedFields.includes('naruLocationRationale')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruLocationRationale }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruLocationRationale"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Provide the total area (m<sup>2</sup>) and a description of infrastructure necessary to support the additional
      residence.
      <app-updated-banner *ngIf="updatedFields.includes('naruInfrastructure')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruInfrastructure }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruInfrastructure"></app-no-data>
    </div>
  </ng-container>

  <ng-container *ngIf="_applicationSubmission.naruSubtype?.code === 'PRIN'">
    <div class="subheading2 grid-1">
      What is the total floor area (m<sup>2</sup>) of the proposed principal residence?
      <app-updated-banner *ngIf="updatedFields.includes('naruFloorArea')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruFloorArea }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruFloorArea"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Describe how the proposal for a principal residence more than 500 m<sup>2</sup> will support agriculture in the
      short or long term.
      <app-updated-banner *ngIf="updatedFields.includes('naruResidenceNecessity')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruResidenceNecessity }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruResidenceNecessity"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Describe the rationale for the proposed location of the principal residence.
      <app-updated-banner *ngIf="updatedFields.includes('naruLocationRationale')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruLocationRationale }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruLocationRationale"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Provide the total area (m<sup>2</sup>) and a description of infrastructure necessary to support the additional
      residence.
      <app-updated-banner *ngIf="updatedFields.includes('naruInfrastructure')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruInfrastructure }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruInfrastructure"></app-no-data>
    </div>
  </ng-container>

  <ng-container *ngIf="_applicationSubmission.naruSubtype?.code === 'TOUR'">
    <div class="subheading2 grid-1">
      What is the total floor area (m<sup>2</sup>) of the proposed accommodation?
      <app-updated-banner *ngIf="updatedFields.includes('naruFloorArea')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruFloorArea }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruFloorArea"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      How many "sleeping units" in total are proposed?
      <app-updated-banner *ngIf="updatedFields.includes('naruSleepingUnits')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruSleepingUnits }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruSleepingUnits"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Describe how the proposal for tourism accommodation will support agriculture in the short or long term.
      <app-updated-banner *ngIf="updatedFields.includes('naruResidenceNecessity')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruResidenceNecessity }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruResidenceNecessity"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Describe the rationale for the proposed location of the tourism accommodation.
      <app-updated-banner *ngIf="updatedFields.includes('naruLocationRationale')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruLocationRationale }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruLocationRationale"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Provide the total area (m<sup>2</sup>) and a description of infrastructure necessary to support the tourism
      accommodation.
      <app-updated-banner *ngIf="updatedFields.includes('naruInfrastructure')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruInfrastructure }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruInfrastructure"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Describe any agri-tourism that is currently taking place on the property.
      <app-updated-banner *ngIf="updatedFields.includes('naruAgriTourism')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruAgriTourism }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruAgriTourism"></app-no-data>
    </div>
  </ng-container>

  <div class="subheading2 grid-1">
    Describe the total floor area (m<sup>2</sup>), type, number, and occupancy of all residential structures currently
    located on the property.
    <app-updated-banner *ngIf="updatedFields.includes('naruExistingStructures')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.naruExistingStructures }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruExistingStructures"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <a *ngFor="let map of proposalMap" (click)="openFile(map.uuid)">
      {{ map.fileName }}
    </a>
    <app-no-data [showRequired]="showErrors" *ngIf="proposalMap.length === 0"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Do you need to import any fill to construct or conduct the proposed Non-farm use? Fill is any material brought onto
    the property, including gravel for construction.
    <app-updated-banner *ngIf="updatedFields.includes('naruWillImportFill')"></app-updated-banner>
  </div>
  <div class="grid-double">
    <span *ngIf="_applicationSubmission.naruWillImportFill !== null">{{
      _applicationSubmission.naruWillImportFill ? 'Yes' : 'No'
    }}</span>
    <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.naruWillImportFill === null"></app-no-data>
  </div>

  <ng-container *ngIf="_applicationSubmission.naruWillImportFill">
    <div class="subheading2 grid-1">
      Describe the type and amount of fill proposed to be placed.
      <app-updated-banner *ngIf="updatedFields.includes('naruFillType')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruFillType }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruFillType"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Briefly describe the origin and quality of fill.
      <app-updated-banner *ngIf="updatedFields.includes('naruFillOrigin')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruFillOrigin }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruFillOrigin"></app-no-data>
    </div>

    <div class="subheading1 full-width">
      Fill to be Placed <app-updated-banner *ngIf="updatedFields.includes('naruToPlaceVolume')"></app-updated-banner>
    </div>
    <div class="full-width soil-table">
      <div class="grid-1"><strong>Volume</strong></div>
      <div class="grid-2">
        {{ _applicationSubmission.naruToPlaceVolume }}
        <span *ngIf="_applicationSubmission.naruToPlaceVolume !== null">m<sup>3</sup></span>
        <app-no-data
          [showRequired]="showErrors"
          *ngIf="_applicationSubmission.naruToPlaceVolume === null"
        ></app-no-data>
      </div>
      <div class="grid-1"><strong>Area</strong></div>
      <div class="grid-2">
        {{ _applicationSubmission.naruToPlaceArea }}
        <span *ngIf="_applicationSubmission.naruToPlaceArea !== null">ha</span>
        <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.naruToPlaceArea === null"></app-no-data>
      </div>
      <div class="grid-1"><strong>Maximum Depth</strong></div>
      <div class="grid-2">
        {{ _applicationSubmission.naruToPlaceMaximumDepth }}
        <span *ngIf="_applicationSubmission.naruToPlaceMaximumDepth !== null">m</span>
        <app-no-data
          [showRequired]="showErrors"
          *ngIf="_applicationSubmission.naruToPlaceMaximumDepth === null"
        ></app-no-data>
      </div>
      <div class="grid-1"><strong>Average Depth</strong></div>
      <div class="grid-2">
        {{ _applicationSubmission.naruToPlaceAverageDepth }}
        <span *ngIf="_applicationSubmission.naruToPlaceAverageDepth !== null">m</span>
        <app-no-data
          [showRequired]="showErrors"
          *ngIf="_applicationSubmission.naruToPlaceAverageDepth === null"
        ></app-no-data>
      </div>
    </div>

    <div class="full-width">
      <span class="subheading1">Project Duration</span>
    </div>
    <div class="subheading2 grid-1">
      Duration <app-updated-banner *ngIf="updatedFields.includes('naruProjectDurationUnit')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruProjectDurationUnit }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruProjectDurationUnit"></app-no-data>
    </div>
    <div class="subheading2 grid-1">
      Length <app-updated-banner *ngIf="updatedFields.includes('naruProjectDurationAmount')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruProjectDurationAmount }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruProjectDurationAmount"></app-no-data>
    </div>
  </ng-container>

  <div *ngIf="showEdit" class="edit-button">
    <button mat-flat-button (click)="onEditSection(5)" color="accent">Edit Section</button>
  </div>
</div>
