<ng-template #header>
  <div class="header">
    <h6 *ngIf="noiSubmission">Notice of Intent ID: {{ noiSubmission.fileNumber }} | {{ noiSubmission.type }}</h6>
    <div class="header-btn-wrapper">
      <button
        *ngIf="noiSubmission?.fileNumber && cdkStepper.selectedIndex === steps.ReviewAndSubmit"
        mat-flat-button
        color="primary"
        (click)="onDownloadPdf(noiSubmission?.fileNumber)"
      >
        Download PDF
      </button>
      <div class="change-app-type-btn-wrapper">
        <button mat-flat-button color="accent" (click)="onChangeSubmissionType()">Change NOI Type</button>
        <mat-icon
          color="accent"
          matTooltip="Changing application type will remove some inputs from your saved progress"
        >
          help_outline
        </mat-icon>
      </div>
    </div>
  </div>
</ng-template>

<app-custom-stepper
  class="edit-application"
  #cdkStepper
  (selectionChange)="onStepChange($event)"
  (beforeSwitchStep)="switchStep($event)"
>
  <cdk-step label="Parcel Details">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === steps.Parcel">
      <app-noi-parcel-details
        [$noiSubmission]="$noiSubmission"
        [showErrors]="showValidationErrors"
        (navigateToStep)="switchStep($event)"
        (componentInitialized)="onParcelDetailsInitialized()"
        (exit)="onExit()"
      ></app-noi-parcel-details>
    </div>
  </cdk-step>
  <cdk-step label="Primary Contact">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === steps.PrimaryContact">
      <app-primary-contact
        [showErrors]="showValidationErrors"
        [$noiSubmission]="$noiSubmission"
        [$noiDocuments]="$noiDocuments"
        (navigateToStep)="switchStep($event)"
        (exit)="onExit()"
      ></app-primary-contact>
    </div>
  </cdk-step>
  <cdk-step label="Government">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === steps.Government">
      <app-select-government
        [showErrors]="showValidationErrors"
        [$noiSubmission]="$noiSubmission"
        (navigateToStep)="switchStep($event)"
        (exit)="onExit()"
      ></app-select-government>
    </div>
  </cdk-step>
  <cdk-step label="Land Use">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === steps.LandUse">
      <app-land-use
        [$noiSubmission]="$noiSubmission"
        [showErrors]="showValidationErrors"
        (navigateToStep)="switchStep($event)"
        (exit)="onExit()"
      ></app-land-use>
    </div>
  </cdk-step>
  <cdk-step label="Proposal">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="noiSubmission && cdkStepper.selectedIndex === steps.Proposal">
      <app-roso-proposal
        *ngIf="noiSubmission.typeCode === 'ROSO'"
        [$noiSubmission]="$noiSubmission"
        [$noiDocuments]="$noiDocuments"
        [showErrors]="showValidationErrors"
        (navigateToStep)="switchStep($event)"
        (exit)="onExit()"
      >
      </app-roso-proposal>
      <app-pofo-proposal
        *ngIf="noiSubmission.typeCode === 'POFO'"
        [$noiSubmission]="$noiSubmission"
        [$noiDocuments]="$noiDocuments"
        [showErrors]="showValidationErrors"
        (navigateToStep)="switchStep($event)"
        (exit)="onExit()"
      >
      </app-pofo-proposal>
      <app-pfrs-proposal
        *ngIf="noiSubmission.typeCode === 'PFRS'"
        [$noiSubmission]="$noiSubmission"
        [$noiDocuments]="$noiDocuments"
        [showErrors]="showValidationErrors"
        (navigateToStep)="switchStep($event)"
        (exit)="onExit()"
      >
      </app-pfrs-proposal>
    </div>
  </cdk-step>
  <cdk-step label="Additional Information">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="noiSubmission && cdkStepper.selectedIndex === steps.ExtraInfo">
      <app-additional-information
        [$noiSubmission]="$noiSubmission"
        [$noiDocuments]="$noiDocuments"
        [showErrors]="showValidationErrors"
        [draftMode]="true"
        (navigateToStep)="switchStep($event)"
        (exit)="onExit()"
      ></app-additional-information>
    </div>
  </cdk-step>
  <cdk-step label="Upload Attachments">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === steps.Attachments">
      <app-other-attachments
        [$noiSubmission]="$noiSubmission"
        [$noiDocuments]="$noiDocuments"
        [showErrors]="showValidationErrors"
        (navigateToStep)="switchStep($event)"
        (exit)="onExit()"
      ></app-other-attachments>
    </div>
  </cdk-step>
  <cdk-step label="Review & Submit">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === steps.ReviewAndSubmit">
      <app-review-and-submit
        [$noiSubmission]="$noiSubmission"
        [$noiDocuments]="$noiDocuments"
        (exit)="onExit()"
        (submit)="onSubmit()"
      ></app-review-and-submit>
    </div>
  </cdk-step>
</app-custom-stepper>
