<div class="split">
  <h3>Inquiry Details</h3>
</div>
<section *ngIf="inquiry">
  <div class="two-item-row">
    <div class="full-width">
      <h5>Type</h5>
      <div style="width: 50%">
        <app-inline-dropdown (save)="onSaveType($event)" [options]="types" [value]="inquiry.type.code" />
      </div>
    </div>

    <div class="full-width">
      <h5>Submitted to ALC</h5>
      <div style="width: 50%">
        <app-inline-datepicker (save)="onSaveSubmittedToALC($event)" [value]="inquiry.dateSubmittedToAlc" />
      </div>
    </div>
  </div>
</section>
<section *ngIf="inquiry">
  <h5>L/FNG Information</h5>
  <div class="two-item-row">
    <div>
      <div class="subheading2">Local/First Nation Government</div>
      <app-inline-dropdown (save)="onSaveType($event)" [options]="governments" [value]="inquiry.localGovernmentUuid" />
    </div>

    <div>
      <div class="subheading2">Region</div>
      <app-inline-dropdown (save)="onSaveType($event)" [options]="regions" [value]="inquiry.regionCode" />
    </div>
  </div>
</section>
<section *ngIf="inquiry">
  <h5>Inquirer</h5>
  <div class="two-item-row">
    <div>
      <div class="subheading2">First Name</div>
      <app-inline-text [value]="inquiry.inquirerFirstName" (save)="onSaveTextField($event, 'inquirerFirstName')" />
    </div>

    <div>
      <div class="subheading2">Last Name</div>
      <app-inline-text [value]="inquiry.inquirerLastName" (save)="onSaveTextField($event, 'inquirerLastName')" />
    </div>

    <div class="full-width">
      <div class="subheading2">Organization</div>
      <app-inline-text
        [value]="inquiry.inquirerOrganization"
        (save)="onSaveTextField($event, 'inquirerOrganization')"
      />
    </div>

    <div>
      <div class="subheading2">Phone</div>
      <app-inline-text mask="(000) 000-0000" [value]="inquiry.inquirerPhone" (save)="onSaveTextField($event, 'inquirerPhone')" />
    </div>

    <div>
      <div class="subheading2">Email</div>
      <app-inline-text [value]="inquiry.inquirerEmail" (save)="onSaveTextField($event, 'inquirerEmail')" />
    </div>
  </div>
</section>
