@use '../../../styles/colors';

.warning-banner {
  background-color: colors.$secondary-color-light;
  padding: 8px;
  display: flex;
  margin: 16px 0;
  align-items: center;

  .warning-description {
    min-width: 0;
    word-break: break-word;
  }

  .icon {
    display: flex;
    justify-content: center;
    padding: 21px;
  }
}
