<div class="step-description">
  <h2>Proposal</h2>
  <p>
    Considerations are subject to
    <a> Section 6 of the ALC Act. </a>
  </p>
  <p>All fields are required unless stated optional.</p>
</div>
<app-warning-banner>
  In order to complete this step, please consult the following pages on the ALC website:
  <ul>
    <li>
      <a
        href="https://www.alc.gov.bc.ca/application-and-notice-process/applications/what-the-commission-considers/"
        target="_blank"
      >
        What the Commission Considers
      </a>
    </li>
    <li>
      <a href="TODO" target="_blank">FIXME: Removal of Soil</a>
    </li>
  </ul>
</app-warning-banner>
<form [formGroup]="form">
  <div class="form-row">
    <div class="full-row">
      <label for="noi-follow-up">
        Has the ALC previously received an application or Notice of Intent for this proposal?
      </label>
      <div class="subtext">If yes, provide the ALC Application or Notice of Intent ID in the field below</div>
      <div>
        <mat-button-toggle-group
          class="input"
          (valueChange)="onChangeFollowUp($event)"
          id="noi-follow-up"
          [formControl]="isFollowUp"
        >
          <mat-button-toggle
            class="toggle-button"
            [ngClass]="{
              'error-outline': isFollowUp.invalid && (isFollowUp.dirty || isFollowUp.touched)
            }"
            value="true"
            >Yes
          </mat-button-toggle>
          <mat-button-toggle
            class="toggle-button"
            [ngClass]="{
              'error-outline': isFollowUp.invalid && (isFollowUp.dirty || isFollowUp.touched)
            }"
            value="false"
            >No
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="full-row">
      <label for="followUpIDs">Application or NOI IDs</label>
      <div class="subtext">If you have multiple IDs, please separate with a comma.</div>
      <mat-form-field appearance="outline">
        <input type="text" [formControl]="followUpIDs" id="followUpIDs" matInput />
      </mat-form-field>
      <div *ngIf="followUpIDs.invalid && (followUpIDs.dirty || followUpIDs.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="followUpIDs.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label for="purpose">What is the purpose of the proposal?</label>
      <div class="subtext">
        Include why you are applying for removal of soil, what the proposal will achieve, and any benefits to
        agriculture that the proposal provides.
      </div>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="purpose"
          #purposeText
          maxlength="4000"
          id="purpose"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <span class="subtext">Characters left: {{ 4000 - purposeText.textLength }}</span>
      <div *ngIf="purpose.invalid && (purpose.dirty || purpose.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="purpose.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label>Proposal Dimensions</label>
      <div class="subtext">
        Please provide accurate numbers that align with your cross sections, reclamation plan, and site plan. The
        Commission will consider your proposal dimensions when determining the potential impact it will have on the
        agricultural capability of the land.
      </div>
      <app-info-banner> Please refer to <a>FIXME: Contact Us</a> on the ALC website for more detail. </app-info-banner>
      <app-soil-table
        tableHeader="Fill to be Placed"
        [(data)]="fillTableData"
        (dataChange)="markDirty()"
      ></app-soil-table>
    </div>
    <div class="full-row">
      <label
        >Of the proposed totals provided above, please input the dimensions of fill that has already been place.</label
      >
      <div class="subtext">If no proposed fill has already been placed, please leave 0 in the fields below</div>
      <app-soil-table
        tableHeader="Fill already Placed"
        [(data)]="alreadyFilledTableData"
        (dataChange)="markDirty()"
      ></app-soil-table>
    </div>

    <section>
      <h4>Project Duration</h4>
      <div class="subtext">Estimated duration of the project</div>
      <div class="form-row">
        <div>
          <label for="projectDurationUnit">Duration</label>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Select one" id="projectDurationUnit" formControlName="projectDurationUnit">
              <mat-option value="days">Days</mat-option>
              <mat-option value="months">Months</mat-option>
              <mat-option value="years">Years</mat-option>
            </mat-select>
          </mat-form-field>
          <div
            *ngIf="projectDurationUnit.invalid && (projectDurationUnit.dirty || projectDurationUnit.touched)"
            class="field-error"
          >
            <mat-icon>warning</mat-icon>
            <div *ngIf="projectDurationUnit.errors?.['required']">This field is required</div>
          </div>
        </div>
        <div>
          <label for="projectDurationAmount">Length</label>
          <mat-form-field appearance="outline">
            <input
              id="projectDurationAmount"
              mask="separator.2"
              thousandSeparator=","
              separatorLimit="9999999999"
              min="0.01"
              matInput
              formControlName="projectDurationAmount"
              placeholder="Type length as a decimal number"
            />
          </mat-form-field>
          <div
            *ngIf="projectDurationAmount.invalid && (projectDurationAmount.dirty || projectDurationAmount.touched)"
            class="field-error"
          >
            <mat-icon>warning</mat-icon>
            <div *ngIf="projectDurationAmount.errors?.['required']">This field is required</div>
          </div>
        </div>
      </div>
    </section>

    <div class="full-row">
      <label for="fillTypeToPlace">Describe the type, origin and quality of fill proposed to be placed.</label>
      <div class="subtext">
        List all proposed types of fill. Prohibited fill cannot be placed within the Agricultural Land Reserve.
      </div>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="fillTypeToPlace"
          #fillTypeToPlaceText
          maxlength="4000"
          id="fillTypeToPlace"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <span class="subtext">Characters left: {{ 4000 - fillTypeToPlaceText.textLength }}</span>
      <div *ngIf="fillTypeToPlace.invalid && (fillTypeToPlace.dirty || fillTypeToPlace.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="fillTypeToPlace.errors?.['required']">This field is required</div>
      </div>
      <div class="subtext">Example: Aggregate, topsoil, structural fill, sand, gravel, etc</div>
    </div>
    <div class="full-row">
      <label for="alternativeMeasures">
        What alternative measures have you considered or attempted before proposing to place fill?
        <div class="subtext">
          Applicants should provide evidence demonstrating that normal farm practices have been attempted prior to the
          submission of this application to place fill.
        </div>
      </label>
      <mat-form-field appearance="outline">
        <textarea
          [formControl]="alternativeMeasures"
          #alternativeMeasuresText
          maxlength="4000"
          id="alternativeMeasures"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <span class="subtext">Characters left: {{ 4000 - alternativeMeasuresText.textLength }}</span>
      <div
        *ngIf="reduceNegativeImpacts.invalid && (reduceNegativeImpacts.dirty || reduceNegativeImpacts.touched)"
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="reduceNegativeImpacts.errors?.['required']">This field is required</div>
      </div>
      <div class="subtext">
        Example: Project phasing, providing landscape screening, fencing, buffering, erosion and sediment control,
        temporary or permanent drainage, etc.
      </div>
    </div>
    <div class="full-row">
      <label for="agricultural-support">
        What steps will be taken to reduce impacts to surrounding agricultural land?
        <div class="subtext">Describe impact reducing measures.</div>
      </label>
      <mat-form-field appearance="outline">
        <textarea
          [formControl]="reduceNegativeImpacts"
          #reduceNegativeImpactsText
          maxlength="4000"
          id="agricultural-support"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <span class="subtext">Characters left: {{ 4000 - reduceNegativeImpactsText.textLength }}</span>
      <div
        *ngIf="reduceNegativeImpacts.invalid && (reduceNegativeImpacts.dirty || reduceNegativeImpacts.touched)"
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="reduceNegativeImpacts.errors?.['required']">This field is required</div>
      </div>
      <div class="subtext">
        Example: Project phasing, providing landscape screening, fencing, buffering, erosion and sediment control,
        temporary or permanent drainage, etc.
      </div>
    </div>
    <div class="full-row">
      <label class="subheading2" for="proposal-map">Proposal Map / Site Plan</label>
      <div class="subtext">A visual representation of your proposal.</div>
      <app-file-drag-drop
        id="proposal-map"
        [uploadedFiles]="proposalMap"
        (uploadFiles)="attachFile($event, DOCUMENT.PROPOSAL_MAP)"
        (deleteFile)="onDeleteFile($event)"
        (openFile)="openFile($event)"
        [showErrors]="showErrors"
        [isRequired]="true"
      ></app-file-drag-drop>
    </div>
    <div class="full-row">
      <label class="subheading2" for="cross-section">Cross Sections</label>
      <div class="subtext">Include North-South and East-West cross sections</div>
      <app-info-banner>
        Please refer to <a>FIXME: Removal of Soil</a> on the ALC website for more information
      </app-info-banner>
      <app-file-drag-drop
        id="cross-section"
        [uploadedFiles]="crossSections"
        (uploadFiles)="attachFile($event, DOCUMENT.CROSS_SECTIONS)"
        (deleteFile)="onDeleteFile($event)"
        (openFile)="openFile($event)"
        [showErrors]="showErrors"
        [isRequired]="true"
        [allowMultiple]="true"
      ></app-file-drag-drop>
    </div>
    <div class="full-row">
      <label class="subheading2" for="reclamation-plan">Reclamation Plan</label>
      <div class="subtext">
        The Reclamation Plan should be completed by a qualified Professional Agrologist and contain the area's
        agricultural capability assessment.
      </div>
      <app-info-banner>
        Please refer to <a>FIXME: Removal of Soil</a> on the ALC website for more information
      </app-info-banner>
      <app-file-drag-drop
        id="reclamation-plan"
        [uploadedFiles]="reclamationPlan"
        (uploadFiles)="attachFile($event, DOCUMENT.RECLAMATION_PLAN)"
        (deleteFile)="onDeleteFile($event)"
        (openFile)="openFile($event)"
        [showErrors]="showErrors"
        [isRequired]="true"
        [allowMultiple]="true"
      ></app-file-drag-drop>
    </div>
  </div>
</form>
<div class="button-container">
  <button *ngIf="!draftMode" (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
  <button *ngIf="draftMode" (click)="onSaveExit()" mat-stroked-button color="accent">Discard all Changes</button>
  <div>
    <button mat-stroked-button color="primary" (click)="onNavigateToStep(currentStep - 1)">
      Previous<span class="mobile-hidden"> Step</span>
    </button>
    <button mat-flat-button color="primary" (click)="onNavigateToStep(currentStep + 1)">
      Next<span class="mobile-hidden"> Step</span>
    </button>
  </div>
</div>
