<div aria-hidden="true" class="banner absolute">
  <div>
    <h4 *ngIf="application">Application ID: {{ application.fileNumber }} | {{ application.type }}</h4>
  </div>
  <div class="banner-status">
    <div>
      <div class="subheading2">Application Status</div>
      <span *ngIf="application">{{ application.status.label }}</span>
    </div>
    <div>
      <div class="subheading2">Status Date</div>
      <span *ngIf="application">{{ application.lastStatusUpdate | date }}</span>
    </div>
  </div>
</div>
<div class="banner">
  <div>
    <h4 *ngIf="application">Application ID: {{ application.fileNumber }}</h4>
  </div>
  <div class="banner-status">
    <div>
      <div class="subheading2">Status Date</div>
      <span *ngIf="application">{{ application.lastStatusUpdate | date }}</span>
    </div>
    <div>
      <div class="subheading2">Application Status</div>
      <span *ngIf="application">{{ application.status.label }}</span>
    </div>
  </div>
</div>
<button (click)="onNavigateHome()" mat-button color="accent"><mat-icon>chevron_left</mat-icon>Return to Inbox</button>
<div>
  <div class="navigation">
    <mat-tab-group [(selectedIndex)]="selectedIndex">
      <mat-tab label="Applicant Submission">
        <div *ngIf="application" class="content">
          <section>
            <div class="header">
              <h2>Applicant Submission</h2>
              <div class="btns-wrapper">
                <button
                  *ngIf="application.canEdit || application.canReview"
                  mat-stroked-button
                  color="warn"
                  (click)="onCancel(application.uuid)"
                >
                  Cancel Application
                </button>
                <button
                  [routerLink]="'/application/' + application.fileNumber + '/edit'"
                  *ngIf="application.canEdit"
                  mat-flat-button
                  color="primary"
                >
                  Edit Application
                </button>
                <button
                  *ngIf="application.canReview"
                  (click)="onReview(application.fileNumber)"
                  mat-flat-button
                  color="primary"
                >
                  Review Application
                </button>
                <button mat-flat-button color="accent" (click)="onDownloadSubmissionPdf(application.fileNumber)">
                  Download PDF
                </button>
              </div>
            </div>
            <app-application-details
              [showEdit]="false"
              [showErrors]="false"
              [$application]="$application"
              [$applicationDocuments]="$applicationDocuments"
            ></app-application-details>
          </section>
        </div>
        <div class="buttons" *ngIf="application">
          <div>
            <button *ngIf="application.canEdit" mat-stroked-button color="warn" (click)="onCancel(application.uuid)">
              Cancel Application
            </button>
          </div>
          <div>
            <button
              [routerLink]="'/application/' + application.fileNumber + '/edit'"
              *ngIf="application.canEdit"
              mat-flat-button
              color="primary"
            >
              Edit Application
            </button>
            <button
              *ngIf="application.canReview"
              (click)="onReview(application.fileNumber)"
              mat-flat-button
              color="primary"
            >
              Review Application
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Local/First Nation Gov Review">
        <div class="content">
          <app-lfng-review
            [$application]="$application"
            [$applicationDocuments]="$applicationDocuments"
            (onCancel)="onCancelWrapper($event)"
          ></app-lfng-review>
        </div>
      </mat-tab>
      <mat-tab label="ALC Review and Decision">
        <div class="content">
          <app-alc-review
            [$application]="$application"
            [$applicationDocuments]="$applicationDocuments"
          ></app-alc-review>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div *ngIf="application && application.canReview" class="action-bar">
  <button (click)="onReview(application.fileNumber)" mat-button>
    <div>
      <span
        *ngIf="application.status.code === SUBMISSION_STATUS.IN_REVIEW_BY_LG"
        (click)="onReview(application.fileNumber)"
        class="subheading2"
        >Continue Application Review</span
      >
      <span
        *ngIf="application.status.code === SUBMISSION_STATUS.SUBMITTED_TO_LG"
        (click)="onReview(application.fileNumber)"
        class="subheading2"
        >Start Application Review</span
      >
      <mat-icon>keyboard_double_arrow_right</mat-icon>
    </div>
  </button>
</div>
<div *ngIf="application && application.canEdit" class="action-bar">
  <button [routerLink]="'/application/' + application.fileNumber + '/edit'" mat-button>
    <div>
      <span class="subheading2">Continue Application </span>
      <mat-icon>keyboard_double_arrow_right</mat-icon>
    </div>
  </button>
</div>
