<div class="layout">
  <div class="application">
    <app-details-header
      heading="Notice of Intent"
      [application]="noticeOfIntent"
      [modifications]="modifications"
      [conditionCards]="decisionConditionCards"
      days="Calendar Days"
      [showStatus]="true"
      [submissionStatusService]="noticeOfIntentStatusService"
      [isTagSectionHidden]="false"
    ></app-details-header>
    <div class="content">
      @if (!isApplicantSubmission || showSubmittedToAlcMenuItems) {
        <div class="nav">
          @for (route of childRoutes; track route) {
            <div class="nav-link">
              <div
                [routerLink]="route.path ? route.path : './'"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: route.path === '' }"
                class="nav-item nav-text"
                >
                <mat-icon>{{ route.icon }}</mat-icon>
                {{ route.menuTitle }}
              </div>
            </div>
          }
        </div>
      }
      @if (isApplicantSubmission && !showSubmittedToAlcMenuItems) {
        <div class="nav">
          @for (route of preSubmissionRoute; track route) {
            <div class="nav-link">
              <div
                [routerLink]="route.path ? route.path : './'"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: route.path === '' }"
                class="nav-item nav-text"
                >
                <mat-icon>{{ route.icon }}</mat-icon>
                {{ route.menuTitle }}
              </div>
            </div>
          }
        </div>
      }
      <div class="child-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
