<div class="layout">
  <div class="application">
    <app-details-header
      *ngIf='noticeOfIntent'
      heading="Notice of Intent"
      [application]="noticeOfIntent"
      [reconsiderations]="[]"
      [modifications]="modifications"
      [types]='[noticeOfIntent.type]'
      days="Calendar Days"
      [showStatus]="true"
      [submissionStatusService]="noticeOfIntentStatusService"
    ></app-details-header>
    <div class="content">
      <div class="nav">
        <div *ngFor="let route of childRoutes" class="nav-link">
          <div
            [routerLink]="route.path ? route.path : './'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: route.path === '' }"
            class="nav-item nav-text"
          >
            <mat-icon>{{ route.icon }}</mat-icon>
            {{ route.menuTitle }}
          </div>
        </div>
      </div>
      <div class="child-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
