.holiday-container {
  .holiday-search {
    .search-control {
      margin-right: 24px;
      display: inline-block;
    }
  }
  .edit-btn {
    color: green;
  }

  .delete-btn {
    color: red;
  }
}
