@import '../../../../../styles/colors';

.action-btn.edit {
  color: $error-color;
}

.action-btn.delete {
  color: $error-color;
}

:host::ng-deep {
  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    width: 47px;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .col-40 {
    width: 40%;
  }

  .pull-right {
    float: right;
  }
}

.width-100 {
  width: 100%;
}

.mat-column-action {
  width: 21%;
  text-align: right;
}
