<section>
  <app-application-details
    [$application]="$applicationSubmission"
    [$applicationDocuments]="$applicationDocuments"
    [draftMode]="draftMode"
  ></app-application-details>
  <div class="button-container">
    <button
      *ngIf="applicationSubmission?.fileNumber && !draftMode"
      mat-flat-button
      color="primary"
      (click)="onDownloadPdf(applicationSubmission?.fileNumber)"
    >
      Download PDF
    </button>
  </div>

  <app-button-container [draftMode]="draftMode" [currentStep]="7" (saveExit)="onSaveExit()" [reviewStep]="true"
  (navigateStep)="onNavigateToStep($event)" (onSubmitToAlcs)="onSubmitToAlcs()"></app-button-container>

</section>
