@use 'functions' as *;
@use 'colors';

.mat-flat-button,
.mat-stroked-button {
  font-weight: 700 !important;
}

.mat-stroked-button {
  border: rem(2) solid colors.$primary-color !important;
}

.mat-flat-button.mat-primary {
  .mat-button-wrapper {
    color: #fff;
    text-transform: uppercase;
  }

  &:not(.mat-button-disabled):hover {
    background-color: colors.$primary-color-light;

    .mat-button-wrapper {
      color: colors.$primary-color;
    }
  }

  &:active {
    background-color: colors.$primary-color-dark;

    .mat-button-wrapper {
      color: #fff;
    }
  }
}

.mat-flat-button.mat-accent {
  .mat-button-wrapper {
    text-transform: uppercase;
    color: #fff;
  }

  &:not(.mat-button-disabled):hover {
    background-color: colors.$accent-color-light;

    .mat-button-wrapper {
      color: colors.$accent-color;
    }
  }

  &:active {
    background-color: colors.$accent-color-dark;

    .mat-button-wrapper {
      color: #fff;
    }
  }
}

.mat-stroked-button.mat-primary {
  &:not(.mat-button-disabled) {
    border-color: colors.$primary-color-dark !important;
  }

  .mat-button-wrapper {
    text-transform: uppercase;
    color: colors.$primary-color;
  }

  &:not(.mat-button-disabled):hover {
    background-color: colors.$primary-color-light;

    .mat-button-wrapper {
      color: colors.$primary-color;
    }
  }

  &:active {
    background-color: colors.$primary-color-dark;

    .mat-button-wrapper {
      color: #fff;
    }
  }
}

.mat-stroked-button.mat-accent {
  &:not(.mat-button-disabled) {
    border-color: colors.$accent-color-dark !important;
  }

  .mat-button-wrapper {
    text-transform: uppercase;
    color: colors.$accent-color;
  }

  &:not(.mat-button-disabled):hover {
    border-color: colors.$accent-color-dark;
    background-color: colors.$accent-color-light;

    .mat-button-wrapper {
      color: colors.$accent-color-dark;
    }
  }

  &:active {
    background-color: colors.$accent-color-dark;

    .mat-button-wrapper {
      color: colors.$white;
    }
  }
}

.mat-stroked-button.mat-warn {
  border: rem(2) solid colors.$error-color !important;
}

.mat-error {
  border: rem(2) solid colors.$error-color !important;
}

.mat-button-disabled {
  background-color: colors.$grey !important;
  color: #fff !important;
}

.mat-mdc-icon-button:hover {
  background-color: rgba(colors.$grey, 0.2);
}
