@import 'colors';
@import 'typography';

.mat-flat-button,
.mat-stroked-button {
  font-weight: 700 !important;

  @media screen and (max-width: $tabletBreakpoint) {
    line-height: 36px; //REMS IS BREAKING
  }
}

.mat-stroked-button {
  border: rem(2) solid $primary-color !important;
}

.mat-flat-button.mat-primary {
  .mat-button-wrapper {
    color: #fff;
    text-transform: uppercase;
  }

  &:not(.mat-button-disabled):hover {
    background-color: $primary-color-light;

    .mat-button-wrapper {
      color: $primary-color;
    }
  }

  &:active {
    background-color: $primary-color-dark;

    .mat-button-wrapper {
      color: #fff;
    }
  }
}

.mat-flat-button.mat-accent {
  .mat-button-wrapper {
    text-transform: uppercase;
    color: #fff;
  }

  &:not(.mat-button-disabled):hover {
    background-color: $accent-color-light;

    .mat-button-wrapper {
      color: $accent-color;
    }
  }

  &:active {
    background-color: $accent-color-dark;

    .mat-button-wrapper {
      color: #fff;
    }
  }
}

.mat-stroked-button.mat-primary {
  &:not(.mat-button-disabled) {
    border-color: $primary-color-dark !important;
  }

  .mat-button-wrapper {
    text-transform: uppercase;
    color: $primary-color;
  }

  &:not(.mat-button-disabled):hover {
    background-color: $primary-color-light;

    .mat-button-wrapper {
      color: $primary-color;
    }
  }

  &:active {
    background-color: $primary-color-dark;

    .mat-button-wrapper {
      color: #fff;
    }
  }
}

.mat-stroked-button.mat-accent {
  &:not(.mat-button-disabled) {
    border-color: $accent-color-dark !important;
  }

  .mat-button-wrapper {
    text-transform: uppercase;
    color: $accent-color;
  }

  &:not(.mat-button-disabled):hover {
    border-color: $accent-color-dark;
    background-color: $accent-color-light;

    .mat-button-wrapper {
      color: $accent-color-dark;
    }
  }

  &:active {
    background-color: $accent-color-dark;

    .mat-button-wrapper {
      color: $white;
    }
  }
}

.mat-stroked-button.mat-warn {
  border: rem(2) solid $error-color !important;
}

.mat-button-disabled {
  background-color: $grey !important;
  color: #fff !important;
}

.mat-icon-button:hover {
  background-color: rgba($grey, 0.2);
}
