$primary-color: #065a2f;
$primary-color-dark: #002f17;
$primary-color-light: #94c6ac;

$secondary-color: #194767;
$secondary-color-dark: #0c2e46;
$secondary-color-light: #acd2ed;

$accent-color: #ba5a27;
$accent-color-dark: #83360d;
$accent-color-light: #f8c0a3;

$black: #000000;
$white: #ffffff;
$dark-contrast-text: $black;
$light-contrast-text: $white;

$grey: #aaaaaa;
$grey-dark: #565656;
$grey-light: #efefef;

$link-color: #1a5a96;
$error-color: #d8292f;
$success-color: #2e8540;
$warning-color: #fcba19;
