@use './functions' as *;
@use './colors';

.navigation-wrapper {
  ::ng-deep .mat-mdc-tab-body-content {
    overflow-x: hidden;
  }

  ::ng-deep .mat-mdc-tab-header-pagination {
    display: none !important;
  }

  ::ng-deep .mat-mdc-tab-header {
    overflow-x: scroll !important;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: none;
  }

  ::ng-deep .mat-mdc-tab-label-container {
    overflow: visible !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    flex-flow: row wrap !important;
    justify-content: space-between;
  }

  ::ng-deep .mat-mdc-tab-header::-webkit-scrollbar {
    display: none !important;
  }

  ::ng-deep .mat-mdc-ink-bar {
    display: none;
  }

  ::ng-deep .mat-mdc-tab-labels {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;

    ::ng-deep .mat-mdc-tab {
      width: 100%;
      margin-top: rem(24);
      height: rem(32);
      background: colors.$primary-color;
      opacity: 1;

      .mdc-tab__text-label {
        color: colors.$white;
      }
    }

    ::ng-deep .mat-mdc-tab.mdc-tab--active {
      background-color: colors.$primary-color-dark;
    }
  }

  @media screen and (min-width: $desktopBreakpoint) {
    ::ng-deep .mat-mdc-tab-labels {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      .mat-mdc-tab {
        width: 33%;

        &:not(:last-child) {
          margin-right: rem(4);
        }
      }
    }
  }
}
