@import '../../../../../styles/colors';

.flex-container {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.flex-child {
  flex: 1 0 auto;
}

label {
  font-weight: 500;
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
}

.radio-group-label {
  margin-bottom: 0;
}

:host::ng-deep {
  .mat-mdc-form-field {
    width: 100%;
  }
}

.reason-wrapper {
  width: 100%;

  ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field {
    height: unset !important;
  }

  ::ng-deep.mat-mdc-text-field-wrapper.mdc-text-field .mat-mdc-form-field-flex {
    height: unset !important;
  }

  mat-radio-button {
    margin: 8px 0 0 0;
    display: block;

    input {
      width: 100%;
    }
  }
}

.other-text {
  border-bottom: 1px solid $black;
  padding-bottom: 4px;
  margin-bottom: -5px;
}

:host::ng-deep {
  .mat-form-field-underline {
    display: none;
  }
}
