<div mat-dialog-title>
  <h2 class="card-title">{{ model.uuid ? 'Update' : 'Create' }} Information Request</h2>
</div>
<form (ngSubmit)="onSubmit()" #meetingForm="ngForm">
  <mat-dialog-content style="height: 100%">
    <div class="flex-container">
      <div class="flex-child">
        <label for="startDate">Date requested <span>*</span></label>
        <mat-form-field appearance="fill">
          <mat-label>Date requested</mat-label>
          <input
            matInput
            [matDatepicker]="startDate"
            [(ngModel)]="model.startDate"
            name="startDate"
            required
            (dateChange)="startDateSelected()"
          />
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate type="date"> </mat-datepicker>
          <mat-hint>{{ model.startDate | date: 'mediumDate' }}</mat-hint>
        </mat-form-field>
      </div>

      <div class="flex-child">
        <label for="startDate">Date fulfilled</label>
        <mat-form-field appearance="fill">
          <mat-label>Date fulfilled</mat-label>
          <input
            matInput
            [matDatepicker]="endDate"
            [(ngModel)]="model.endDate"
            name="endDate"
            [min]="model.startDate"
          />
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate type="date"> </mat-datepicker>
          <mat-hint>{{ model.endDate | date: 'mediumDate' }}</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div>
      <mat-form-field class="reason-wrapper">
        <label class="radio-group-label" for="reason">Reason <span color="red">*</span></label>
        <mat-radio-group
          aria-labelledby="Reason"
          [(ngModel)]="model.reason"
          name="reason"
          (change)="changeReason($event)"
        >
          <mat-radio-button #defaultReason value="Waiting for additional information from applicant"
            >Waiting for additional information from applicant</mat-radio-button
          >
          <mat-radio-button #customReason value="custom">
            <input
              #customReasonText
              matInput
              type="text"
              [(ngModel)]="model.reasonText"
              name="reasonText"
              (click)="onReasonInputClick()"
            />
          </mat-radio-button>
        </mat-radio-group>
      </mat-form-field>
    </div>
    <div class="warning">The application's active day count will be paused until a fulfillment date is provided.</div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div>
      <button mat-button mat-dialog-close>Close</button>
      <button mat-button type="submit" [disabled]="!meetingForm.form.valid">Save</button>
    </div>
  </mat-dialog-actions>
</form>
