<div mat-dialog-title>
  <h2 class="card-title">{{ model.uuid ? 'Update' : 'Create' }} Information Request</h2>
</div>
<form (ngSubmit)="onSubmit()" #meetingForm="ngForm">
  <mat-dialog-content style="height: 100%">
    <div class="flex-container">
      <div class="flex-child">
        <label for="startDate">Date requested <span>*</span></label>
        <mat-form-field appearance="outline">
          <mat-label>Date requested</mat-label>
          <input
            matInput
            [matDatepicker]="startDate"
            [(ngModel)]="model.startDate"
            name="startDate"
            id="startDate"
            required
            (dateChange)="startDateSelected()"
          />
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate type="date"> </mat-datepicker>
        </mat-form-field>
      </div>

      <div class="flex-child">
        <label for="endDate">Date fulfilled</label>
        <mat-form-field appearance="outline">
          <mat-label>Date fulfilled</mat-label>
          <input
            matInput
            id="endDate"
            [matDatepicker]="endDate"
            [(ngModel)]="model.endDate"
            name="endDate"
            [min]="model.startDate | startOfDay"
          />
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate type="date"> </mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div>
      <mat-form-field class="reason-wrapper">
        <label class="radio-group-label" for="reason">Reason <span color="red">*</span></label>
        <mat-radio-group
          id="reason"
          aria-labelledby="Reason"
          [(ngModel)]="model.reason"
          name="reason"
          (change)="changeReason($event)"
        >
          <mat-radio-button value="Waiting for additional information from applicant"
            >Waiting for additional information from applicant</mat-radio-button
          >
          <mat-radio-button value="custom">
            Other:
            <input
              #customReasonText
              matInput
              type="text"
              [(ngModel)]="model.reasonText"
              name="reasonText"
              (click)="onReasonInputClick()"
            />
          </mat-radio-button>
        </mat-radio-group>
      </mat-form-field>
    </div>
    <div class="form-warning">
      The application's active day count will be paused until a fulfillment date is provided.
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="button-container">
      <button mat-stroked-button color="primary" mat-dialog-close="false">Close</button>
      <button [loading]="isLoading" mat-flat-button color="primary" type="submit" [disabled]="!meetingForm.form.valid">
        Save
      </button>
    </div>
  </mat-dialog-actions>
</form>
