@import '../../../styles/colors';

.application-type {
  margin-left: 16px;
  border-radius: 10px;
  padding: 2px 12px;
  font-size: 11px;
  letter-spacing: 0.01em;
  font-weight: 700;
  border: 3px solid;
}

.header {
  padding: 16px 80px;
  border-bottom: 1px solid #000;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .sub-heading {
    margin-top: 16px;
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .subheading2 {
    margin-bottom: 6px !important;
  }
}

.inactive-timer {
  opacity: 0.3;
}
