<div class="header">
  <div *ngIf="_application" class="heading">
    <div class="center">
      <h5>{{ _application?.fileNumber }} ({{ _application?.applicant }})</h5>
      <span
        class="application-type"
        [ngStyle]="{
          backgroundColor: _application.type.backgroundColor,
          color: _application.type.textColor,
          borderColor: _application.type.backgroundColor
        }"
      >{{ _application.type.label }}</span
      >
      <span
        *ngIf="showReconLabel"
        class="application-type"
        [ngStyle]="{
          backgroundColor: reconLabel.backgroundColor,
          color: reconLabel.textColor,
          borderColor: reconLabel.borderColor
        }"
      >{{ reconLabel.label }}</span
      >
      <span
        *ngIf="showModificationLabel"
        class="application-type"
        [ngStyle]="{
          backgroundColor: modificationLabel.backgroundColor,
          color: modificationLabel.textColor,
          borderColor: modificationLabel.borderColor
        }"
      >{{ modificationLabel.label }}
      </span>
    </div>
    <div *ngIf="showCardMenu" class="center">
      <button
        *ngIf="!_reconsiderations.length && !_modifications.length"
        class="menu-item center"
        mat-flat-button
        color="accent"
        (click)="onGoToCard()"
      >
        Go to card
        <mat-icon style="transform: scale(1.1)">arrow_right_alt</mat-icon>
      </button>
      <ng-container *ngIf="_reconsiderations.length || _modifications.length">
        <button class="menu-item center" mat-flat-button color="accent" [matMenuTriggerFor]="goToMenu">
          Go to card ▾
        </button>
        <mat-menu class="move-board-menu" xPosition="before" #goToMenu="matMenu">
          <button mat-menu-item (click)="onGoToCard()">Standard Application</button>
          <button *ngFor="let recon of _reconsiderations; let i = index" mat-menu-item (click)="onGoToSubCard(recon)">
            Reconsideration Request #{{ i + 1 }}
          </button>
          <button
            *ngFor="let modification of _modifications; let i = index"
            mat-menu-item
            (click)="onGoToSubCard(modification)"
          >
            Modification Request #{{ i + 1 }}
          </button>
        </mat-menu>
      </ng-container>
    </div>
  </div>
  <div *ngIf="_application" class="sub-heading">
    <div>
      <div class="subheading2">Local Government:</div>
      <div class="body1-text">{{ _application.localGovernment.name }}</div>
    </div>
    <div *ngIf="!_application.hasOwnProperty('decisionDate')">
      <div class="subheading2">Business Days:</div>
      <app-application-time-tracker [application]="_application">
      </app-application-time-tracker>
    </div>
  </div>
</div>
