@use '../../../../../styles/functions' as *;

.soil-table {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  overflow-x: auto;
  grid-column-gap: rem(36);
  grid-row-gap: rem(12);

  .spacer-row {
    grid-column: 1/4;
    height: rem(16);
  }
}
