<div *ngIf="_applicationSubmission" class="review-table">
  <div class="subheading2 grid-1">
    Has the ALC previously received an application or Notice of Intent for this proposal?
    <app-updated-banner *ngIf="updatedFields.includes('soilIsFollowUp')"></app-updated-banner>
  </div>
  <div class="grid-double">
    <span *ngIf="_applicationSubmission.soilIsFollowUp !== null">
      {{ _applicationSubmission.soilIsFollowUp ? 'Yes' : 'No' }}
    </span>
    <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.soilIsFollowUp === null"></app-no-data>
  </div>

  <div *ngIf="_applicationSubmission.soilIsFollowUp" class="subheading2 grid-1">
    Application or NOI ID
    <app-updated-banner *ngIf="updatedFields.includes('soilFollowUpIDs')"></app-updated-banner>
  </div>
  <div *ngIf="_applicationSubmission.soilIsFollowUp" class="grid-double">
    {{ _applicationSubmission.soilFollowUpIDs }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilFollowUpIDs"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    What is the purpose of the proposal?
    <app-updated-banner *ngIf="updatedFields.includes('purpose')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.purpose }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.purpose"></app-no-data>
  </div>

  <div class="full-width soil-table">
    <div></div>
    <div><strong>Soil to be Removed</strong></div>
    <div><strong>Fill to be Placed</strong></div>

    <div><strong>Volume</strong></div>
    <div>
      {{ _applicationSubmission.soilToRemoveVolume }}
      <span *ngIf="_applicationSubmission.soilToRemoveVolume !== null">m<sup>3</sup></span>
      <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.soilToRemoveVolume === null"></app-no-data>
    </div>
    <div>
      {{ _applicationSubmission.soilToPlaceVolume }}
      <span *ngIf="_applicationSubmission.soilToPlaceVolume !== null">m<sup>3</sup></span>
      <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.soilToPlaceVolume === null"></app-no-data>
    </div>

    <div><strong>Area</strong></div>
    <div>
      {{ _applicationSubmission.soilToRemoveArea }}
      <span *ngIf="_applicationSubmission.soilToRemoveArea !== null">ha</span>
      <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.soilToRemoveArea === null"></app-no-data>
    </div>
    <div>
      {{ _applicationSubmission.soilToPlaceArea }}
      <span *ngIf="_applicationSubmission.soilToPlaceArea !== null">ha</span>
      <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.soilToPlaceArea === null"></app-no-data>
    </div>

    <div><strong>Maximum Depth</strong></div>
    <div>
      {{ _applicationSubmission.soilToRemoveMaximumDepth }}
      <span *ngIf="_applicationSubmission.soilToRemoveMaximumDepth !== null">m</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilToRemoveMaximumDepth === null"
      ></app-no-data>
    </div>
    <div>
      {{ _applicationSubmission.soilToPlaceMaximumDepth }}
      <span *ngIf="_applicationSubmission.soilToPlaceMaximumDepth !== null">m</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilToPlaceMaximumDepth === null"
      ></app-no-data>
    </div>

    <div><strong>Average Depth</strong></div>
    <div>
      {{ _applicationSubmission.soilToRemoveAverageDepth }}
      <span *ngIf="_applicationSubmission.soilToRemoveAverageDepth !== null">m</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilToRemoveAverageDepth === null"
      ></app-no-data>
    </div>
    <div>
      {{ _applicationSubmission.soilToPlaceAverageDepth }}
      <span *ngIf="_applicationSubmission.soilToPlaceAverageDepth !== null">m</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilToPlaceAverageDepth === null"
      ></app-no-data>
    </div>

    <div class="spacer-row"></div>

    <div></div>
    <div><strong>Soil already Removed</strong></div>
    <div><strong>Fill already Placed</strong></div>

    <div><strong>Volume</strong></div>
    <div>
      {{ _applicationSubmission.soilAlreadyRemovedVolume }}
      <span *ngIf="_applicationSubmission.soilAlreadyRemovedVolume !== null">m<sup>3</sup></span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilAlreadyRemovedVolume === null"
      ></app-no-data>
    </div>
    <div>
      {{ _applicationSubmission.soilAlreadyPlacedVolume }}
      <span *ngIf="_applicationSubmission.soilAlreadyPlacedVolume !== null">m<sup>3</sup></span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilAlreadyPlacedVolume === null"
      ></app-no-data>
    </div>

    <div><strong>Area</strong></div>
    <div>
      {{ _applicationSubmission.soilAlreadyRemovedArea }}
      <span *ngIf="_applicationSubmission.soilAlreadyRemovedArea !== null">ha</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilAlreadyRemovedArea === null"
      ></app-no-data>
    </div>
    <div>
      {{ _applicationSubmission.soilAlreadyPlacedArea }}
      <span *ngIf="_applicationSubmission.soilAlreadyPlacedArea !== null">ha</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilAlreadyPlacedArea === null"
      ></app-no-data>
    </div>

    <div><strong>Maximum Depth</strong></div>
    <div>
      {{ _applicationSubmission.soilAlreadyRemovedMaximumDepth }}
      <span *ngIf="_applicationSubmission.soilAlreadyRemovedMaximumDepth !== null">m</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilAlreadyRemovedMaximumDepth === null"
      ></app-no-data>
    </div>
    <div>
      {{ _applicationSubmission.soilAlreadyPlacedMaximumDepth }}
      <span *ngIf="_applicationSubmission.soilAlreadyPlacedMaximumDepth !== null">m</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilAlreadyPlacedMaximumDepth === null"
      ></app-no-data>
    </div>

    <div><strong>Average Depth</strong></div>
    <div>
      {{ _applicationSubmission.soilAlreadyRemovedAverageDepth }}
      <span *ngIf="_applicationSubmission.soilAlreadyRemovedAverageDepth !== null">m</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilAlreadyRemovedAverageDepth === null"
      ></app-no-data>
    </div>
    <div>
      {{ _applicationSubmission.soilAlreadyPlacedAverageDepth }}
      <span *ngIf="_applicationSubmission.soilAlreadyPlacedAverageDepth !== null">m</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilAlreadyPlacedAverageDepth === null"
      ></app-no-data>
    </div>
  </div>

  <div class="full-width">
    <span class="subheading1">Project Duration</span>
  </div>
  <div class="subheading2 grid-1">
    Duration <app-updated-banner *ngIf="updatedFields.includes('soilProjectDurationUnit')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.soilProjectDurationUnit }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilProjectDurationUnit"></app-no-data>
  </div>
  <div class="subheading2 grid-1">
    Length <app-updated-banner *ngIf="updatedFields.includes('soilProjectDurationAmount')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.soilProjectDurationAmount }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilProjectDurationAmount"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Describe the type, origin and quality of fill proposed to be placed.
    <app-updated-banner *ngIf="updatedFields.includes('soilFillTypeToPlace')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.soilFillTypeToPlace }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilFillTypeToPlace"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Describe the type of soil proposed to be removed.
    <app-updated-banner *ngIf="updatedFields.includes('soilTypeRemoved')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.soilTypeRemoved }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilTypeRemoved"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    What alternative measures have you considered or attempted before proposing to place fill?
    <app-updated-banner *ngIf="updatedFields.includes('soilAlternativeMeasures')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.soilAlternativeMeasures }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilAlternativeMeasures"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    What steps will be taken to reduce impacts to surrounding agricultural land?
    <app-updated-banner *ngIf="updatedFields.includes('soilReduceNegativeImpacts')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.soilReduceNegativeImpacts }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilReduceNegativeImpacts"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <a *ngFor="let map of proposalMap" (click)="openFile(map.uuid)">
      {{ map.fileName }}
    </a>
    <app-no-data [showRequired]="showErrors" *ngIf="proposalMap.length === 0"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Cross Sections</div>
  <div class="grid-double">
    <a *ngFor="let file of crossSections" (click)="openFile(file.uuid)">
      {{ file.fileName }}
    </a>
    <app-no-data [showRequired]="showErrors" *ngIf="crossSections.length === 0"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Reclamation Plan</div>
  <div class="grid-double">
    <a *ngFor="let file of crossSections" (click)="openFile(file.uuid)">
      {{ file.fileName }}
    </a>
    <app-no-data [showRequired]="showErrors" *ngIf="crossSections.length === 0"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Is your proposal for aggregate extraction or placer mining?
    <app-updated-banner *ngIf="updatedFields.includes('soilIsExtractionOrMining')"></app-updated-banner>
  </div>
  <div class="grid-double">
    <span *ngIf="_applicationSubmission.soilIsExtractionOrMining !== null">
      {{ _applicationSubmission.soilIsExtractionOrMining ? 'Yes' : 'No' }}
    </span>
    <app-no-data
      [showRequired]="showErrors"
      *ngIf="_applicationSubmission.soilIsExtractionOrMining === null"
    ></app-no-data>
  </div>

  <div *ngIf="_applicationSubmission.soilIsExtractionOrMining" class="subheading2 grid-1">
    Have you submitted a Notice of Work to the Ministry of Energy, Mines and Low Carbon Innovation (EMLI)?
    <app-updated-banner *ngIf="updatedFields.includes('soilHasSubmittedNotice')"></app-updated-banner>
  </div>
  <div *ngIf="_applicationSubmission.soilIsExtractionOrMining" class="grid-double">
    <span *ngIf="_applicationSubmission.soilHasSubmittedNotice !== null">
      {{ _applicationSubmission.soilHasSubmittedNotice ? 'Yes' : 'No' }}
    </span>
    <app-no-data
      [showRequired]="showErrors"
      *ngIf="_applicationSubmission.soilHasSubmittedNotice === null"
    ></app-no-data>
  </div>

  <div *ngIf="_applicationSubmission.soilHasSubmittedNotice" class="subheading2 grid-1">Notice of Work</div>
  <div *ngIf="_applicationSubmission.soilHasSubmittedNotice" class="grid-double">
    <div *ngFor="let file of noticeOfWork">
      <a (click)="openFile(file.uuid)">
        {{ file.fileName }}
      </a>
    </div>
    <app-no-data [showRequired]="showErrors" *ngIf="noticeOfWork.length === 0"></app-no-data>
  </div>

  <div *ngIf="showEdit" class="edit-button">
    <button mat-flat-button (click)="onEditSection(5)" color="accent">Edit Section</button>
  </div>
</div>
