<div mat-dialog-title>
  <h4>{{ title }} Government</h4>
</div>
<div mat-dialog-content class="local-government-dialog">
  <form (ngSubmit)="onSubmit()" #holidayForm="ngForm">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput id="name" [(ngModel)]="model.name" name="name" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>BCeID Business GUID</mat-label>
        <input matInput id="bceidBusinessGuid" [(ngModel)]="model.bceidBusinessGuid" name="bceidBusinessGuid" />
      </mat-form-field>
    </div>

    <div>
      <mat-label>This is a First Nation Government</mat-label>
      <mat-button-toggle-group id="isFirstNation" [(ngModel)]="model.isFirstNation" name="isFirstNation">
        <mat-button-toggle value="true">Yes</mat-button-toggle>
        <mat-button-toggle value="false">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </form>

  <mat-dialog-actions align="end">
    <div class="button-container">
      <button mat-stroked-button color="primary" mat-dialog-close="false">Close</button>
      <button
        [loading]="isLoading"
        (click)="onSubmit()"
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!holidayForm.form.valid"
      >
        Save
      </button>
    </div>
  </mat-dialog-actions>
</div>
