<div mat-dialog-title>
  <h4>{{ title }} Government</h4>
</div>
<div mat-dialog-content class="local-government-dialog">
  <form (ngSubmit)="onSubmit()" #governmentForm="ngForm">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input required matInput id="name" [(ngModel)]="model.name" name="name" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>BCeID Business GUID</mat-label>
        <input matInput id="bceidBusinessGuid" [(ngModel)]="model.bceidBusinessGuid" name="bceidBusinessGuid" />
      </mat-form-field>
    </div>

    <div>
      <div>
        <ng-select
          appearance="outline"
          required
          name="preferredRegionCode"
          [items]="regions"
          appendTo="body"
          placeholder="Preferred region *"
          bindLabel="label"
          bindValue="code"
          [clearable]="false"
          [(ngModel)]="model.preferredRegionCode"
        >
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            <div [ngOptionHighlight]="search">{{ item.label }}</div>
          </ng-template>
        </ng-select>
      </div>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Contact Emails (comma separated)</mat-label>
        <input
          matInput
          id="emails"
          placeholder="steve@gov.bc.ca, john@gov.bc.ca"
          [(ngModel)]="model.emails"
          name="emails"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-label>This is a First Nation Government *</mat-label>
      <mat-button-toggle-group required id="isFirstNation" [(ngModel)]="model.isFirstNation" name="isFirstNation">
        <mat-button-toggle value="true">Yes</mat-button-toggle>
        <mat-button-toggle value="false">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div>
      <mat-label>Status * (Inactive governments cannot receive new applications)</mat-label>
      <mat-button-toggle-group required id="isActive" [(ngModel)]="model.isActive" name="isActive">
        <mat-button-toggle value="true">Active</mat-button-toggle>
        <mat-button-toggle value="false">Inactive</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </form>

  <mat-dialog-actions align="end">
    <div class="button-container">
      <button mat-stroked-button color="primary" mat-dialog-close="false">Close</button>
      <button
        [loading]="isLoading"
        (click)="onSubmit()"
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!governmentForm.form.valid"
      >
        Save
      </button>
    </div>
  </mat-dialog-actions>
</div>
