@use '../../../../../styles/colors';

:host::ng-deep {
  .view-grid-item {
    display: grid;
    grid-template-columns: minmax(100px, 0.5fr) 1fr;
    column-gap: 16px;
    margin-bottom: 12px;
  }

  .details-wrapper {
    margin-top: 24px;
    margin-bottom: 24px;

    .title {
      margin-bottom: 16px !important;
    }
  }

  h3 .subtext {
    margin: 0.5rem 0 !important;
  }

  label {
    font-weight: 600;
  }

  .no-data-text {
    text-align: center;
    color: colors.$grey;
    padding-top: rem(12);

    .error {
      justify-content: center;
    }
  }

  .table-wrapper {
    overflow-x: auto;
    width: 100%;
  }
}

:host::ng-deep {
  .transferee-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 36px;
    grid-row-gap: 12px;
  }

  .survey-plan-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 36px;
    grid-row-gap: 12px;
  }

  .scrollable {
    overflow-x: auto;
  }

  .other-attachments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 36px;
    grid-row-gap: 12px;

    .full-width {
      grid-column: 1/3;
    }
  }

  .review-table {
    background-color: colors.$grey-light;
    display: grid;
    grid-row-gap: 24px;
    grid-column-gap: 16px;
    word-wrap: break-word;
    hyphens: auto;
    padding: 16px;
    margin: 24px 0 40px 0;
    grid-template-columns: minmax(60px, 1fr) minmax(60px, 1fr) minmax(60px, 1fr) minmax(60px, 1fr);

    .full-width {
      grid-column: 1/5;
    }

    .grid-double {
      grid-column: 2/5;
    }

    .grid-1 {
      grid-column: 1/2;
    }

    .grid-2 {
      grid-column: 2/3;
    }

    .grid-3 {
      grid-column: 3/5;
    }

    .subheading2 {
      margin-bottom: 4px !important;
    }
  }
}
