.intake {
  & > div {
    margin: 40px 0;
  }
}

.label-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 4px;
}

.payment-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 16px !important;
  row-gap: 32px;
  column-gap: 24px;
}
