@if (applicationSubmission) {
  <div class="review-table">
    <div class="subheading2 grid-1">How many hectares are you proposing to include?</div>
    <div class="grid-double">
      {{ applicationSubmission.inclExclHectares }} @if (applicationSubmission.inclExclHectares) {
      <span>ha</span>
    }
    @if (!applicationSubmission.inclExclHectares) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    {{ applicationSubmission.purpose }}
    @if (!applicationSubmission.purpose) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Does the proposal support agriculture in the short or long term?</div>
  <div class="grid-double">
    {{ applicationSubmission.inclAgricultureSupport }}
    @if (!applicationSubmission.inclAgricultureSupport) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">
    Describe any improvements that have been made to, or are planned for the parcel proposed for inclusion.
  </div>
  <div class="grid-double">
    {{ applicationSubmission.inclImprovements }}
    @if (!applicationSubmission.inclImprovements) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    @for (map of proposalMap; track map) {
      <a class="mobile" (click)="downloadFile(map.documentUuid)">{{ map.fileName }}</a>
      <a class="desktop" routerLink="/document/{{ map.documentUuid }}" target="_blank">{{ map.fileName }}</a>
    }
    @if (proposalMap.length === 0) {
      <app-no-data></app-no-data>
    }
  </div>
  @if (applicationSubmission.inclGovernmentOwnsAllParcels !== null) {
    <div class="subheading2 grid-1">
      Is the applying government the registered land owner of all parcels under this inclusion application?
    </div>
    <div class="grid-double">
      <span>
        {{ applicationSubmission.inclGovernmentOwnsAllParcels ? 'Yes' : 'No' }}
      </span>
    </div>
  }
  @if (applicationSubmission.inclGovernmentOwnsAllParcels === false) {
    <div class="subheading2 grid-1">Report of Public Hearing</div>
    <div class="grid-double">
      @for (file of reportOfPublicHearing; track file) {
        <div>
          <a class="mobile" (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
          <a class="desktop" routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
          @if (reportOfPublicHearing.length === 0) {
            <app-no-data></app-no-data>
          }
        </div>
      }
    </div>
  }
</div>
}
