<div class="layout">
  <div class="board-header">
    <div>
      <h2 class="board-title center">
        {{ boardTitle }}
        <app-favorite-button [boardCode]="selectedBoardCode" [isFavorite]="boardIsFavourite"></app-favorite-button>
      </h2>
    </div>
    <div>
      <ng-container *ngIf="boardHasPlanningReviews || boardHasModifications || boardHasCovenant">
        <button mat-flat-button color="primary" [matMenuTriggerFor]="createMenu">+ New Card ▾</button>
        <mat-menu class="move-board-menu" xPosition="before" #createMenu="matMenu">
          <button mat-menu-item (click)="onReconsiderationCreate()">Reconsideration</button>
          <button *ngIf="boardHasPlanningReviews" mat-menu-item (click)="onCreatePlanningReview()">
            Planning Review
          </button>
          <button *ngIf="boardHasModifications" mat-menu-item (click)="onCreateModification()">Modification</button>
          <button *ngIf="boardHasCovenant" mat-menu-item (click)="onCreateCovenant()">Covenant</button>
        </mat-menu>
      </ng-container>
      <button *ngIf="currentBoardCode === 'vett'" mat-flat-button color="primary" (click)="onCreate()">
        {{ createCardTitle }}
      </button>
    </div>
  </div>
  <div class="board-content">
    <app-drag-drop-board
      [cards]="cards"
      [columns]="columns"
      (cardSelected)="onSelected($event)"
      (cardDropped)="onDropped($event)"
    ></app-drag-drop-board>
  </div>
</div>
