<div class="layout">
  <div class="board-header">
    <div>
      <h2 class="board-title center">
        <app-favorite-button [boardCode]="selectedBoardCode" [isFavorite]="boardIsFavourite"></app-favorite-button
        >{{ boardTitle }}
      </h2>
    </div>
    <div class="button-container">
      <ng-container *ngIf="boardHasPlanningReviews || boardHasAmendments">
        <button mat-flat-button color="primary" [matMenuTriggerFor]="createMenu">+ New Card ▾</button>
        <mat-menu class="move-board-menu" xPosition="before" #createMenu="matMenu">
          <button mat-menu-item (click)="onCreate()">Reconsideration</button>
          <button *ngIf="boardHasPlanningReviews" mat-menu-item (click)="onCreatePlanningReview()">
            Planning Review
          </button>
          <button *ngIf="boardHasAmendments" mat-menu-item (click)="onCreateAmendment()">Amendment</button>
        </mat-menu>
      </ng-container>
      <button *ngIf="!boardHasPlanningReviews && !boardHasAmendments" mat-flat-button color="primary" (click)="onCreate()">
        {{ createCardTitle }}
      </button>
    </div>
  </div>
  <div class="board-content">
    <app-drag-drop-board
      [cards]="cards"
      [columns]="columns"
      (cardSelected)="onSelected($event)"
      (cardDropped)="onDropped($event)"
    ></app-drag-drop-board>
  </div>
</div>
