<div class="layout">
  <div class="board-header">
    <div>
      <h2 class="board-title center">
        {{ boardTitle }}
        <app-favorite-button [boardCode]="selectedBoardCode" [isFavorite]="boardIsFavourite"></app-favorite-button>
      </h2>
    </div>
    <div class="board-actions">
      @if (hasAssigneeFilter) {
        <div class="assignee-filter">
          <mat-label>Filter: </mat-label>
          <mat-form-field appearance="outline">
            <mat-select multiple="true" [(ngModel)]="selectedAssignees" placeholder="Assignee">
              <mat-select-trigger>{{ generateAssigneeFilterTriggerText(selectedAssignees) }}</mat-select-trigger>
              @for (assignee of assignees; track assignee) {
                <mat-option [value]="assignee">
                  {{ assignee.prettyName }}{{ this.currentUser?.uuid === assignee.uuid ? ' (Me)' : '' }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      }
      @if (creatableCards.length === 1) {
        <button mat-flat-button color="primary" (click)="onOpenCreateDialog(creatableCards[0].dialog)">
          + {{ creatableCards[0].label }}
        </button>
      }
      @if (creatableCards.length > 1) {
        <button mat-flat-button color="primary" [matMenuTriggerFor]="createMenu">+ New Card ▾</button>
        <mat-menu class="move-board-menu" xPosition="before" #createMenu="matMenu">
          @for (creator of creatableCards; track creator) {
            <button mat-menu-item (click)="onOpenCreateDialog(creator.dialog)">
              {{ creator.label }}
            </button>
          }
        </mat-menu>
      }
    </div>
  </div>
  <div class="board-content">
    <app-drag-drop-board
      [cards]="filterCardsByAssignees(cards, selectedAssignees)"
      [columns]="columns"
      (cardSelected)="onSelected($event)"
      (cardDropped)="onDropped($event)"
    ></app-drag-drop-board>
  </div>
</div>
