@use '../../../styles/colors';

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.board-header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px 12px 76px;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1000;
}

.board-content {
  display: flex;
  flex-grow: 1;
}

.board-title:hover app-favorite-button {
  ::ng-deep .favorite-btn {
    visibility: visible;
    color: colors.$pending-star;
  }
}

.assignee-filter {
  --mat-form-field-container-height: 19.5px;
  --mat-form-field-container-vertical-padding: 7px;
  --mat-option-focus-state-layer-color: colors.$secondary-color-light;

  mat-label {
    padding-right: 10px;
  }

  mat-label,
  ::ng-deep .mat-mdc-select-placeholder,
  mat-select-trigger {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  mat-form-field:has(mat-select-trigger) {
    background-color: colors.$accent-color;
    border-radius: 4px;
    border: 1px solid transparent;

    * {
      color: white;
    }

    // Arrow
    ::ng-deep svg {
      fill: white !important;
    }
  }

  ::ng-deep .mdc-text-field--outlined {
    padding-left: 11px;
    padding-right: 11px;
  }

  ::ng-deep .mat-mdc-form-field-infix {
    width: 220px;
  }
}
