@import '../../../styles/colors';

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px 12px 76px;
  position: sticky;
  left: 0;
}

.board-content {
  display: flex;
  flex-grow: 1;
}

.board-title:hover app-favorite-button {
  ::ng-deep .favorite-btn {
    visibility: visible;
    color: $pending-star;
  }
}
