<ng-container *ngIf="form">
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="row">
      <mat-label>ALR Area Impacted (ha)</mat-label>
      <input
        matInput
        min="0.01"
        mask="separator.5"
        thousandSeparator=","
        separatorLimit="9999999999"
        formControlName="alrArea"
        required
      />
    </mat-form-field>

    <div class="full-width">
      <mat-label class="toggle-label">Applicant Type*</mat-label>
      <mat-button-toggle-group
        required
        id="isFirstNation"
        formControlName="applicantType"
        name="isFirstNation"
        [ngClass]="{
          'error-field-outlined': !form.controls['applicantType'].valid && form.controls['applicantType'].touched
        }"
      >
        <mat-button-toggle value="Land Owner">Land Owner</mat-button-toggle>
        <mat-button-toggle value="L/FNG Initiated">L/FNG Initiated</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </form>
</ng-container>
