@use '../../../../styles/colors';

section {
  margin: 32px 0;
}

.amendment {
  margin: 24px 0;
  position: relative;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.25);
  padding: 32px;

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    background: colors.$primary-color-dark;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 4px 0 10px;

    button {
      color: colors.$white;
      width: 36px;
      height: 36px;
      line-height: 36px;
    }

    mat-icon {
      position: absolute;
      top: 8px;
      left: 8px;
      font-size: 21px;
      width: 20px;
      height: 36px;
    }
  }

  .content {
    margin-top: 16px;
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 24px;
    column-gap: 12px;

    .subheading2 {
      margin-bottom: 6px !important;
    }

    & > div {
      font-size: 16px;
      word-wrap: break-word;
    }

    .full-grid-line {
      grid-column: 1 / 3;
    }
  }
}
