<mat-tab-group id="conditions" mat-align-tabs="start">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">Application</span>
    </ng-template>
    <br />
    <app-decision-condition-types [service]="applicationService" [conditionService]="applicationConditionService" />
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">Notice of Intent</span>
    </ng-template>
    <br />
    <app-decision-condition-types [service]="noiService" [conditionService]="noiConditionService" />
  </mat-tab>
</mat-tab-group>
