@use '../../../../styles/colors';

.container {
  .mat-column-actions {
    width: 20%;
  }

  .actions-bar {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  .edit-btn,
  .delete-btn {
    width: 48px !important;
    min-width: unset !important;
  }

  .edit-btn {
    color: colors.$primary-color-dark;
  }

  .delete-btn {
    color: colors.$error-color;
  }

  .mat-icon {
    margin-right: 1px;
  }
}
