<mat-expansion-panel #panel [expanded]="true">
  <mat-expansion-panel-header class="custom-mat-expansion-panel-header">
    <mat-panel-title>
      <span><strong>READ FIRST: Purposes of the commission </strong>(Section 6 of the ALC Act)</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <span>6 (1) The following are the purposes of the commission:</span>
    <ul class="list-item">
      <li>to preserve the agricultural land reserve;</li>
      <li>
        to encourage farming of land within the agricultural land reserve in collaboration with other communities of
        interest;
      </li>
      <li>
        to encourage local governments, first nations, the government and its agents to enable and accommodate farm use
        of land within the agricultural land reserve and uses compatible with agriculture in their plans, bylaws and
        policies.
      </li>
    </ul>

    <span>
      6 (2) The commission, to fulfill its purposes under subsection (1), must give priority to protecting and enhancing
      all of the following in exercising its powers and performing its duties under this Act:
    </span>
    <ul class="list-item">
      <li>the size, integrity and continuity of the land base of the agricultural land reserve;</li>
      <li>the use of the agricultural land reserve for farm use.</li>
    </ul>
  </div>
</mat-expansion-panel>
