<div mat-dialog-title>
  <div class="close">
    <h6 class="card-type-label">Inquiry</h6>
    <button [mat-dialog-close]="isDirty" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="header-row">
    <div class="left">
      <h3 class="card-title center">
        <span class="margin-right">{{ cardTitle }}</span>
        <app-application-type-pill *ngIf="planningType" [type]="planningType"></app-application-type-pill>
      </h3>
    </div>
    <div class="center">
      <button
        [mat-dialog-close]="isDirty"
        [routerLink]="['inquiry', inquiry.fileNumber]"
        color="accent"
        mat-flat-button
      >
        View Detail
      </button>
    </div>
  </div>
  <div>
    <span class="region">{{ inquiry.localGovernment.name }} - {{ inquiry.region.label }} Region</span>
  </div>
  <div class="split">
    <div class="body-text">
      <app-application-type-pill *ngIf="inquiry.open" [type]="OPEN_TYPE"></app-application-type-pill>
      <app-application-type-pill *ngIf="!inquiry.open" [type]="CLOSED_TYPE"></app-application-type-pill>
    </div>
    <div class="right">
      <button [matMenuTriggerFor]="moveMenu" mat-icon-button matTooltip="Move Board">
        <mat-icon>move_down</mat-icon>
      </button>
      <mat-menu #moveMenu="matMenu" class="move-board-menu" xPosition="before">
        <button (click)="onBoardSelected(board)" *ngFor="let board of allowedBoards" mat-menu-item>
          <div class="board-menu-item">
            <span class="favourite-board-icon-container"
            ><mat-icon *ngIf="board.isFavourite" class="favourite-board-icon">star</mat-icon>
            </span>
            <span>{{ board.title }}</span>
            <span *ngIf="card && card.boardCode === board.code"
            ><mat-icon class="selected-board-icon">check</mat-icon></span
            >
          </div>
        </button>
      </mat-menu>
      <button
        (click)="onArchiveCard()"
        *ngIf="canArchive"
        class="toggle-priority"
        mat-icon-button
        matTooltip="Archive Card"
      >
        <mat-icon>archive</mat-icon>
      </button>
      <button
        (click)="onTogglePriority()"
        *ngIf="card"
        [matTooltip]="card.highPriority ? 'Remove Priority' : 'Add Priority'"
        class="toggle-priority"
        mat-icon-button
      >
        <div
          [ngClass]="{
            'filled-priority': card.highPriority,
            'empty-priority': !card.highPriority
          }"
          class="priority"
        ></div>
      </button>
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="select-container">
    <ng-select
      (change)="onStatusSelected($event)"
      [(ngModel)]="selectedApplicationStatus"
      [clearable]="false"
      [items]="boardStatuses"
      appearance="outline"
      bindLabel="label"
      bindValue="statusCode"
      class="card-type"
      placeholder="Workflow Stage"
    >
      <ng-template let-item="item" ng-option-tmp>
        <span [innerHTML]="item.label"> </span>
      </ng-template>
      <ng-template let-item="item" ng-label-tmp>
        <span [innerHTML]="item.label"> </span>
      </ng-template>
    </ng-select>
    <ng-select
      (change)="onAssigneeSelected($event)"
      [(ngModel)]="selectedAssigneeName"
      [items]="$users | async"
      [searchFn]="filterAssigneeList"
      appearance="outline"
      bindLabel="prettyName"
      bindValue="prettyName"
      class="card-assignee"
      placeholder="Assigned Planner"
    >
      <ng-template let-item="item" let-search="searchTerm" ng-option-tmp>
        <div class="assignee-card-body">
          <p [ngOptionHighlight]="search" class="assignee-card-name">{{ item.prettyName }}</p>
          <p [ngOptionHighlight]="search" class="assignee-card-email">{{ item.email }}</p>
        </div>
      </ng-template>
    </ng-select>
  </div>
  <div *ngIf="card" class="subtasks-wrapper">
    <app-subtasks [cardUuid]="card.uuid"></app-subtasks>
  </div>
  <div *ngIf="card" class="card-comments-wrapper">
    <app-comments [cardUuid]="card.uuid" [notificationTitle]="cardTitle"></app-comments>
  </div>
</mat-dialog-content>
