<ng-template #header>
  <div class="header">
    <h6 *ngIf="application">Application ID: {{ application.fileNumber }} | {{ application.type }}</h6>
    <div class="change-app-type-btn-wrapper">
      <button mat-flat-button color="accent" (click)="onApplicationTypeChangeClicked()">Change Application Type</button>
      <mat-icon color="accent" matTooltip="Changing application type will remove some inputs from your saved progress">
        help_outline
      </mat-icon>
    </div>
  </div>
</ng-template>

<!-- <mat-stepper labelPosition="bottom" class="review-application" linear="false" #stepper>
  <mat-step label="Parcel Details">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <ng-template matStepContent>
      <ng-container *ngIf="stepper.selectedIndex === 0">
        <app-parcel-details [$application]="$application"></app-parcel-details>
      </ng-container>
    </ng-template>
  </mat-step>
  <mat-step label="Other Parcels in the Community">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <ng-template matStepContent>
      <ng-container *ngIf="stepper.selectedIndex === 1">
        <app-other-parcels [$application]="$application"></app-other-parcels>
      </ng-container>
    </ng-template>
  </mat-step>
  <mat-step label="Primary Contact">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <app-primary-contact [$application]="$application"></app-primary-contact>
  </mat-step>
  <mat-step label="Government">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <app-select-government [$application]="$application"></app-select-government>
  </mat-step>
  <mat-step label="Land Use">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <app-land-use [$application]="$application"></app-land-use>
  </mat-step>
  <mat-step label="Proposal">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <app-nfu-proposal [$application]="$application"></app-nfu-proposal>
  </mat-step>
  <mat-step label="Upload Attachments">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <app-other-attachments [$application]="$application"></app-other-attachments>
  </mat-step>
  <mat-step label="Review & Submit">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <app-review-and-submit [$application]="$application"></app-review-and-submit>
  </mat-step>
  <mat-step label="Submit to ALCS (Note: this will be removed in final version)">
    <p>Note this is only for testing purposes. The submission process will be changed in follow-up tickets.</p>
    <button (click)="onSubmitToAlcs()">Submit to ALCS</button>
  </mat-step>
</mat-stepper> -->

<app-custom-stepper #cdkStepper>
  <cdk-step label="1">
    <div *ngIf="cdkStepper.selectedIndex === editAppSteps.AppParcel">
      <app-parcel-details [$application]="$application"></app-parcel-details>
    </div>
  </cdk-step>
  <cdk-step label="2">
    <div *ngIf="cdkStepper.selectedIndex === editAppSteps.OtherParcel">
      <app-other-parcels [$application]="$application"></app-other-parcels>
    </div>
  </cdk-step>
  <cdk-step label="3">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === editAppSteps.PrimaryContact">
      <app-primary-contact [$application]="$application"></app-primary-contact>
    </div>
  </cdk-step>
  <cdk-step label="4">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === editAppSteps.Government">
      <app-select-government [$application]="$application"></app-select-government>
    </div>
  </cdk-step>
  <cdk-step label="5">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === editAppSteps.LandUse">
      <app-land-use [$application]="$application"></app-land-use>
    </div>
  </cdk-step>
  <cdk-step label="6">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === editAppSteps.Proposal">
      <app-nfu-proposal [$application]="$application"></app-nfu-proposal>
    </div>
  </cdk-step>
  <cdk-step label="7">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === editAppSteps.Attachments">
      <app-other-attachments [$application]="$application"></app-other-attachments>
    </div>
  </cdk-step>
  <cdk-step label="8">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === editAppSteps.ReviewAndSubmit">
      <app-review-and-submit [$application]="$application"></app-review-and-submit>
    </div>
  </cdk-step>
  <cdk-step label="9">
    <p>Note this is only for testing purposes. The submission process will be changed in follow-up tickets.</p>
    <button (click)="onSubmitToAlcs()">Submit to ALCS</button>
  </cdk-step>
</app-custom-stepper>
