@use '../../../styles/functions' as *;
@use '../../../styles/colors';

.header {
  margin: rem(24) 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  h6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-btn-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: rem(16);

    button {
      width: 100%;
    }
  }

  .change-app-type-btn-wrapper {
    display: flex;
    align-items: center;
    margin-top: rem(16);
    margin-left: 0;
    width: 100%;

    button {
      width: 100%;
    }

    .mat-icon {
      margin-left: rem(8);
      width: rem(22);
      height: rem(22);
      font-size: rem(22);
    }
  }

  @media screen and (min-width: $tabletBreakpoint) {
    .header-btn-wrapper {
      margin-top: 0;

      button {
        width: auto;
      }

      .change-app-type-btn-wrapper {
        width: auto;
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-left: rem(16);

        button {
          width: auto;
        }

        .mat-icon {
          margin-left: rem(16);
          font-size: rem(24);
        }
      }
    }
  }
}

:host::ng-deep {
  .step-description {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: rem(24);
    margin-bottom: rem(32);
  }

  .mat-icon.mat-icon-inline {
    line-height: initial;
  }

  .mat-horizontal-content-container {
    padding: 0;
    min-height: 100%;
  }

  .mat-horizontal-stepper-wrapper {
    min-height: 100%;
  }

  .subtext {
    margin: rem(8) 0 !important;
  }

  .mat-step-header .mat-step-icon-selected {
    color: #fff;
  }

  .mat-step-header .mat-step-label.mat-step-label-active {
    display: none;
  }

  .mat-step-label {
    display: none;
  }

  .section {
    margin: rem(24) 0;
  }

  .date-picker {
    ::ng-deep.mat-form-field-infix {
      display: flex;
      padding: rem(3) 0;
    }
  }

  .mat-button-wrapper {
    white-space: break-spaces;
  }

  .parcel-buttons-wrappers button {
    margin-top: 1.2rem !important;
  }

  @media screen and (min-width: $tabletBreakpoint) {
    .mat-step-header .mat-step-label.mat-step-label-active {
      display: inherit;
    }

    .mat-step-label {
      display: inherit;
    }
  }

  .review-step {
    min-height: 100%;
  }

  .mobile-hidden {
    display: none !important;

    @media screen and (min-width: $tabletBreakpoint) {
      display: initial !important;
    }
  }

  .tablet-hidden {
    display: initial !important;

    @media screen and (min-width: $tabletBreakpoint) {
      display: none !important;
    }
  }

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: rem(33);
  }

  .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    background-color: colors.$primary-color-light;
  }

  .edit-application {
    .description {
      margin-top: rem(12);
      margin-bottom: rem(20);
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        align-items: center;
      }

      .save-button {
        margin-top: rem(16) !important;
        width: 100%;
      }

      @media screen and (min-width: $tabletBreakpoint) {
        flex-direction: row;
        justify-content: space-between;

        .save-button {
          margin-left: rem(12) !important;
          margin-top: unset !important;
          width: unset;
        }
      }
    }

    .button-container {
      margin-top: rem(40);
      margin-bottom: rem(24);
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;

      @media screen and (min-width: $tabletBreakpoint) {
        flex-direction: row;
        justify-content: space-between;
      }

      div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: rem(8);

        @media screen and (min-width: $tabletBreakpoint) {
          display: flex;
          justify-content: space-between;
        }

        button {
          margin-bottom: rem(24) !important;

          @media screen and (min-width: $tabletBreakpoint) {
            margin-left: rem(24) !important;
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }

  // parcel entry details
  .float-right {
    float: right;
  }

  .container {
    margin: rem(20) 0 rem(20) 0;
  }

  .parcel-checkbox {
    margin: rem(20) 0 0 0;
  }

  .type {
    margin-bottom: rem(30);
  }

  .pmbc-search {
    border: 1px solid colors.$primary-color-dark;
    border-radius: rem(4);
    background-color: rgba(colors.$accent-color-light, 0.2);
    padding: rem(16);
  }

  .field-error {
    color: colors.$error-color;
    font-size: rem(15);
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: rem(4);
  }

  .form-row {
    margin-top: rem(16);
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: rem(30);

    @media screen and (min-width: $desktopBreakpoint) {
      & {
        grid-template-columns: 1fr 1fr;
      }

      .full-row {
        grid-column: 1/3;
      }
    }
  }

  .radio-row {
    margin: rem(10) 0;
    display: block;

    .mat-radio-button {
      margin-right: rem(12);
    }
  }

  .full-width-input {
    width: 100%;
  }

  .mat-expansion-panel {
    margin-bottom: rem(16);
  }

  .mat-checkbox {
    display: flex;
    justify-content: center;
    .mat-checkbox-layout {
      white-space: break-spaces;
    }
  }

  .flex-center-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .flex-evenly-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .flex-space-between-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .other-parcels-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: rem(24);
  }

  .owner-table-wrapper {
    display: block;
    overflow: auto;
    width: 100%;
  }

  .land-use-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(24);

    .land-use-type-wrapper {
      display: flex;
      gap: rem(24);
      flex-wrap: wrap;
      width: 100%;

      .land-use-type {
        width: 100%;
      }
    }

    @media screen and (min-width: $tabletBreakpoint) {
      .land-use-type-wrapper {
        flex-wrap: nowrap;

        .land-use-type {
          width: 64%;
        }
      }
    }
  }

  .display-block {
    display: block;
  }
}
