<ng-template #header>
  <div class="header">
    <h6 *ngIf="application">Application ID: {{ application.fileNumber }} | {{ application.type }}</h6>
    <div class="change-app-type-btn-wrapper">
      <button mat-flat-button color="accent" (click)="onApplicationTypeChangeClicked()">Change Application Type</button>
      <mat-icon color="accent" matTooltip="Changing application type will remove some inputs from your saved progress">
        help_outline
      </mat-icon>
    </div>
  </div>
</ng-template>

<mat-stepper class="review-application" linear="true" #stepper>
  <mat-step label="Parcel Details">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <app-parcel-details [$application]="$application"></app-parcel-details>
  </mat-step>
  <mat-step label="Other Parcels in the Community">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <p>Other Parcels in the Community</p>
  </mat-step>
  <mat-step label="Primary Contact">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <p>Primary Contact</p>
  </mat-step>
  <mat-step label="Government">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <app-select-government [$application]="$application"></app-select-government>
  </mat-step>
  <mat-step label="Land Use">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <app-land-use [$application]="$application"></app-land-use>
  </mat-step>
  <mat-step label="Proposal">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <app-nfu-proposal [$application]='$application'></app-nfu-proposal>
  </mat-step>
  <mat-step label="Upload Attachments">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <p>Upload Attachments</p>
  </mat-step>
  <mat-step label="Submit to ALCS (Note: this will be removed in final version)">
    <p>Note this is only for testing purposes. The submission process will be changed in follow-up tickets.</p>
    <button (click)="onSubmitToAlcs()">Submit to ALCS</button>
  </mat-step>
</mat-stepper>
