@import '../../../../../../styles/colors.scss';

.owner-information {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  overflow-x: auto;
  grid-column-gap: 36px;
  grid-row-gap: 12px;

  .full-width {
    grid-column: 1/3;
  }
}

.review-table {
  grid-template-columns: 1fr 1fr !important;

  .full-width {
    grid-column: 1/5;
  }
}

.crown-land {
  text-transform: capitalize;
}
