<h3 class="flex-item">
  {{ pageTitle }}
</h3>

<div class="review-table">
  <div class="subheading2 grid-1" *ngIf="parcelType === 'other'">
    Does any of the parcel owners hold an interest (ownership or lease) in any other land (ALR or non-ALR) within the
    community where the application parcel(s) is located?
  </div>
  <div class="grid-double" *ngIf="parcelType === 'other'">
    {{ application.hasOtherParcelsInCommunity ? 'Yes' : 'No' }}
  </div>

  <ng-container *ngFor="let parcel of parcels; let parcelInd = index">
    <div class="full-width flex-space-between-wrap">
      <h4>Parcel {{ parcelInd + 1 }}: Parcel and Owner Information</h4>
    </div>
    <div class="full-width subheading1">Parcel Information</div>
    <div class="subheading2 grid-1">Ownership Type</div>
    <div class="grid-double">
      {{ parcel.ownershipType.label }}
    </div>
    <div class="subheading2 grid-1">Legal Description</div>
    <div class="grid-double">
      {{ parcel.legalDescription }}
    </div>
    <div class="subheading2 grid-1">Area (Hectares)</div>
    <div class="grid-double">
      {{ parcel.mapAreaHectares }}
    </div>
    <div class="subheading2 grid-1">
      PID {{ parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.CROWN ? '(optional)' : '' }}
    </div>
    <div class="grid-double">
      <span *ngIf="parcel.pid">{{ parcel.pid | mask : '000-000-000' }}</span>
    </div>
    <ng-container *ngIf="parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.CROWN">
      <div class="subheading2 grid-1">PIN (optional)</div>
      <div class="grid-double">
        {{ parcel.pin }}
      </div>
    </ng-container>
    <ng-container *ngIf="parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.FEE_SIMPLE">
      <div class="subheading2 grid-1">Purchase Date</div>
      <div class="grid-double">
        {{ parcel.purchasedDate | date }}
      </div>
    </ng-container>
    <div class="subheading2 grid-1">Farm Classification</div>
    <div class="grid-double">
      <span *ngIf="parcel.isFarm !== null">{{ parcel.isFarm ? 'Yes' : 'No' }}</span>
    </div>
    <div class="subheading2 grid-1">Civic Address</div>
    <div class="grid-double">
      {{ parcel.civicAddress }}
    </div>
    <ng-container *ngIf="parcel.crownLandOwnerType">
      <div class="subheading2 grid-1">Crown Selection</div>
      <div class="grid-double">
        <span class="crown-land">{{ parcel.crownLandOwnerType }}</span>
      </div>
    </ng-container>
    <div *ngIf="showCertificateOfTitle" class="subheading2 grid-1">Certificate Of Title</div>
    <div *ngIf="showCertificateOfTitle" class="grid-double">
      <div *ngIf="parcel.certificateOfTitle">
        <a (click)="onOpenFile(parcel.certificateOfTitle.documentUuid)">{{ parcel.certificateOfTitle.fileName }}</a>
      </div>
    </div>
    <div class="full-width subheading1">Owner Information</div>
    <div class="full-width owner-information">
      <div class="subheading2">Type</div>
      <div class="subheading2">Full Name/ Organization</div>
      <div class="subheading2">Phone</div>
      <div class="subheading2">Email</div>
      <div class="subheading2">Corporate Summary</div>
      <ng-container *ngFor="let owner of parcel.owners">
        <div>{{ owner.type.label }}</div>
        <div>{{ owner.displayName }}</div>
        <div>{{ owner.phoneNumber }}</div>
        <div>{{ owner.email }}</div>
        <div>
          <a *ngIf="owner.corporateSummary" (click)="onOpenFile(owner.corporateSummary.uuid)">{{
            owner.corporateSummary.fileName
          }}</a>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
