<h4 class="flex-item">
  {{ pageTitle }}
</h4>

<div class="review-table">
  @if (!parcels) {
    <div class="center full-width">
      <mat-spinner />
    </div>
  }

  @for (parcel of parcels; track parcel; let parcelInd = $index) {
    <div class="full-width flex-space-between-wrap">
      <h5 [id]="parcel.uuid">Parcel #{{ parcelInd + 1 }}</h5>
    </div>
    <div class="subheading2 grid-1">Ownership Type</div>
    <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-type'">
      {{ parcel.ownershipType?.label }}
      @if (!parcel.ownershipType?.label) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Legal Description</div>
    <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-legal-description'">
      {{ parcel.legalDescription }}
      @if (!parcel.legalDescription) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Approx. Map Area</div>
    <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-map-area'">
      {{ parcel.mapAreaHectares }}
      @if (!parcel.mapAreaHectares) {
        <app-no-data></app-no-data>
      }
      @if (parcel.mapAreaHectares) {
        <span> ha</span>
      }
    </div>
    <div class="subheading2 grid-1">
      PID {{ parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.CROWN ? '(optional)' : '' }}
    </div>
    <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-pid'">
      @if (parcel.pid) {
        <span>{{ parcel.pid | mask: '000-000-000' }}</span>
      }
      @if (!parcel.pid) {
        <app-no-data></app-no-data>
      }
    </div>
    @if (parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.CROWN) {
      <div class="subheading2 grid-1">PIN (optional)</div>
      <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-pin'">
        {{ parcel.pin }}
        @if (!parcel.pin) {
          <app-no-data></app-no-data>
        }
      </div>
    }
    @if (parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.FEE_SIMPLE) {
      <div class="subheading2 grid-1">Purchase Date</div>
      <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-purchase-date'">
        {{ parcel.purchasedDate | date }}
        @if (!parcel.purchasedDate) {
          <app-no-data></app-no-data>
        }
      </div>
    }
    <div class="subheading2 grid-1">Farm Classification</div>
    <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-is-farm'">
      @if (parcel.isFarm !== null) {
        <span>{{ parcel.isFarm ? 'Yes' : 'No' }}</span>
      }
      @if (parcel.isFarm === null) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Civic Address</div>
    <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-civic-address'">
      {{ parcel.civicAddress }}
      @if (!parcel.civicAddress) {
        <app-no-data></app-no-data>
      }
    </div>
    @if (showCertificateOfTitle) {
      <div class="subheading2 grid-1">Certificate Of Title</div>
    }
    @if (showCertificateOfTitle) {
      <div
        class="grid-double"
        [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-certificate-of-title'"
        >
        @if (parcel.certificateOfTitle) {
          <div>
            <a routerLink="/document/{{ parcel.certificateOfTitle.documentUuid }}" target="_blank">{{
              parcel.certificateOfTitle.fileName
            }}</a>
          </div>
        }
        @if (!parcel.certificateOfTitle) {
          <app-no-data></app-no-data>
        }
      </div>
    }
    @if (parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.CROWN) {
      <h5>Government Parcel Contact</h5>
      @if (parcel.owners[0]) {
        <div class="subheading2 grid-1">First Name</div>
        <div class="grid-double">
          {{ parcel.owners[0].firstName }}
          @if (!parcel.owners[0].firstName) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2 grid-1">Last Name</div>
        <div class="grid-double">
          {{ parcel.owners[0].lastName }}
          @if (!parcel.owners[0].lastName) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2 grid-1">Ministry or Department</div>
        <div class="grid-double">
          {{ parcel.owners[0].organizationName }}
          @if (!parcel.owners[0].organizationName) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2 grid-1">Phone</div>
        <div class="grid-double">
          {{ parcel.owners[0].phoneNumber }}
          @if (!parcel.owners[0].phoneNumber) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2 grid-1">Email</div>
        <div class="grid-double">
          {{ parcel.owners[0].email }}
          @if (!parcel.owners[0].email) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2 grid-1">Crown Type</div>
        <div class="grid-double">
          {{ parcel.owners[0].crownLandOwnerType === 'provincial' ? 'Provincial Crown' : '' }}
          {{ parcel.owners[0].crownLandOwnerType === 'federal' ? 'Federal Crown' : '' }}
          @if (!parcel.owners[0].crownLandOwnerType) {
            <app-no-data></app-no-data>
          }
        </div>
      }
      @if (!parcel.owners[0]) {
        <app-no-data></app-no-data>
      }
    }
    @if (parcel.ownershipTypeCode !== PARCEL_OWNERSHIP_TYPES.CROWN) {
      <div class="full-width owner-information">
        <div class="subheading2">Land Owner(s)</div>
        <div class="subheading2">Organization</div>
        <div class="subheading2">Phone</div>
        <div class="subheading2">Email</div>
        <div class="subheading2">Corporate Summary</div>
        @for (owner of parcel.owners; track owner) {
          <div [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-owner-name'">
            {{ owner.displayName }}
          </div>
          <div [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-owner-organization'">
            {{ owner.organizationName }}
            @if (!owner.organizationName) {
              <div class="no-data">
                @if (owner.type.code === 'INDV') {
                  <div class="no-data-text">Not Applicable</div>
                }
                @if (owner.type.code !== 'INDV') {
                  <div class="no-data-text">No Data</div>
                }
              </div>
            }
          </div>
          <div [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-owner-phone-number'">
            {{ owner.phoneNumber }}
          </div>
          <div [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-owner-email'">
            {{ owner.email }}
          </div>
          <div [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-owner-corporate-summary'">
            @if (owner.corporateSummary) {
              <a
                routerLink="/document/{{ owner.corporateSummary.documentUuid }}"
                target="_blank"
                >
                {{ owner.corporateSummary.fileName }}
              </a>
            }
            @if (!owner.corporateSummary) {
              <div class="no-data">
                @if (owner.type.code === 'INDV') {
                  <div class="no-data-text">Not Applicable</div>
                }
                @if (owner.type.code !== 'INDV') {
                  <div class="no-data-text">No Data</div>
                }
              </div>
            }
          </div>
        }
        @if (parcel.owners.length === 0) {
          <app-no-data></app-no-data>
        }
      </div>
    }
  }
</div>
