@if (_applicationSubmission) {
  <div class="review-table">
    <div class="subheading2 grid-1">Are you removing soil and placing fill in order to build a structure?</div>
    <div class="grid-double">
      @if (_applicationSubmission.soilIsNewStructure !== null) {
        <span>
          {{ _applicationSubmission.soilIsNewStructure ? 'Yes' : 'No' }}
        </span>
      }
      @if (_applicationSubmission.soilIsNewStructure === null) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">
      Has the ALC previously received an application or Notice of Intent for this proposal?
    </div>
    <div class="grid-double">
      @if (_applicationSubmission.soilIsFollowUp !== null) {
        <span>
          {{ _applicationSubmission.soilIsFollowUp ? 'Yes' : 'No' }}
        </span>
      }
      @if (_applicationSubmission.soilIsFollowUp === null) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    @if (_applicationSubmission.soilIsFollowUp) {
      <div class="subheading2 grid-1">Application or NOI ID</div>
    }
    @if (_applicationSubmission.soilIsFollowUp) {
      <div class="grid-double">
        {{ _applicationSubmission.soilFollowUpIDs }}
        @if (!_applicationSubmission.soilFollowUpIDs) {
          <app-no-data [showRequired]="showErrors"></app-no-data>
        }
      </div>
    }
    <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
    <div class="grid-double">
      {{ _applicationSubmission.purpose }}
      @if (!_applicationSubmission.purpose) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Placement of Fill Project Duration</div>
    <div class="grid-double">
      @if (_applicationSubmission.soilProjectDuration) {
        <div>
          {{ _applicationSubmission.soilProjectDuration }}
        </div>
      }
      @if (!_applicationSubmission.soilProjectDuration) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    <div class="full-width soil-table">
      <div></div>
      <div class="subheading2">Fill to be Placed</div>
      <div class="subheading2">Volume</div>
      <div>
        {{ _applicationSubmission.soilToPlaceVolume }}
        @if (_applicationSubmission.soilToPlaceVolume !== null) {
          <span>m<sup>3</sup></span>
        }
        @if (_applicationSubmission.soilToPlaceVolume === null) {
          <app-no-data [showRequired]="showErrors"></app-no-data>
        }
      </div>
      <div class="subheading2">Area</div>
      <div>
        {{ _applicationSubmission.soilToPlaceArea }}
        @if (_applicationSubmission.soilToPlaceArea !== null) {
          <span>m<sup>2</sup></span>
        }
        @if (_applicationSubmission.soilToPlaceArea === null) {
          <app-no-data [showRequired]="showErrors"></app-no-data>
        }
      </div>
      <div class="subheading2">Maximum Depth</div>
      <div>
        {{ _applicationSubmission.soilToPlaceMaximumDepth }}
        @if (_applicationSubmission.soilToPlaceMaximumDepth !== null) {
          <span>m</span>
        }
        @if (_applicationSubmission.soilToPlaceMaximumDepth === null) {
          <app-no-data
            [showRequired]="showErrors"
          ></app-no-data>
        }
      </div>
      <div class="subheading2">Average Depth</div>
      <div>
        {{ _applicationSubmission.soilToPlaceAverageDepth }}
        @if (_applicationSubmission.soilToPlaceAverageDepth !== null) {
          <span>m</span>
        }
        @if (_applicationSubmission.soilToPlaceAverageDepth === null) {
          <app-no-data
            [showRequired]="showErrors"
          ></app-no-data>
        }
      </div>
      <div></div>
      <div class="subheading2">Fill already Placed</div>
      <div class="subheading2">Volume</div>
      <div>
        {{ _applicationSubmission.soilAlreadyPlacedVolume }}
        @if (_applicationSubmission.soilAlreadyPlacedVolume !== null) {
          <span>m<sup>3</sup></span>
        }
        @if (_applicationSubmission.soilAlreadyPlacedVolume === null) {
          <app-no-data
            [showRequired]="showErrors"
          ></app-no-data>
        }
      </div>
      <div class="subheading2">Area</div>
      <div>
        {{ _applicationSubmission.soilAlreadyPlacedArea }}
        @if (_applicationSubmission.soilAlreadyPlacedArea !== null) {
          <span>m<sup>2</sup></span>
        }
        @if (_applicationSubmission.soilAlreadyPlacedArea === null) {
          <app-no-data
            [showRequired]="showErrors"
          ></app-no-data>
        }
      </div>
      <div class="subheading2">Maximum Depth</div>
      <div>
        {{ _applicationSubmission.soilAlreadyPlacedMaximumDepth }}
        @if (_applicationSubmission.soilAlreadyPlacedMaximumDepth !== null) {
          <span>m</span>
        }
        @if (_applicationSubmission.soilAlreadyPlacedMaximumDepth === null) {
          <app-no-data
            [showRequired]="showErrors"
          ></app-no-data>
        }
      </div>
      <div class="subheading2">Average Depth</div>
      <div>
        {{ _applicationSubmission.soilAlreadyPlacedAverageDepth }}
        @if (_applicationSubmission.soilAlreadyPlacedAverageDepth !== null) {
          <span>m</span>
        }
        @if (_applicationSubmission.soilAlreadyPlacedAverageDepth === null) {
          <app-no-data
            [showRequired]="showErrors"
          ></app-no-data>
        }
      </div>
    </div>
    <div class="subheading2 grid-1">Describe the type, origin and quality of fill proposed to be placed.</div>
    <div class="grid-double">
      {{ _applicationSubmission.soilFillTypeToPlace }}
      @if (!_applicationSubmission.soilFillTypeToPlace) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    @if (_applicationSubmission.soilIsNewStructure === true) {
      <div class="full-width subheading2">The total floor area (m<sup>2</sup>) for each of the proposed structure(s)</div>
      @if (!isMobile) {
        <div class="full-width structure-table">
          <div class="grid-1 subheading2">#</div>
          <div class="grid-2 subheading2">Type</div>
          <div class="grid-3 subheading2">Area</div>
          @for (structure of _applicationSubmission.soilProposedStructures; track structure; let i = $index) {
            <div class="grid-1">
              {{ i + 1 }}
            </div>
            <div class="grid-2">
              {{ mapStructureTypeValueToLabel(structure.type) }}
              @if (!structure.type) {
                <app-no-data [showRequired]="showErrors"></app-no-data>
              }
            </div>
            <div class="grid-3">
              {{ structure.area }} @if (structure.area) {
              <span>m<sup>2</sup></span>
            }
            @if (!structure.area) {
              <app-no-data [showRequired]="showErrors"></app-no-data>
            }
          </div>
        }
      </div>
    }
    @if (isMobile) {
      @for (structure of _applicationSubmission.soilProposedStructures; track structure; let last = $last; let i = $index) {
        <app-structure-mobile-card
          [structure]="structure"
          [isLast]="last"
          [index]="i"
          [isReviewStep]="true"
          >
        </app-structure-mobile-card>
      }
    }
    @if (_applicationSubmission.soilProposedStructures.length === 0) {
      <div class="full-width">
        <app-no-data [showRequired]="showErrors"></app-no-data>
      </div>
    }
    @if (isSoilStructureFarmUseReasonVisible) {
      <div class="subheading2 grid-1">Describe how the structure is necessary for farm use</div>
      <div class="grid-double">
        {{ _applicationSubmission.soilStructureFarmUseReason }}
        @if (!_applicationSubmission.soilStructureFarmUseReason) {
          <app-no-data
            [showRequired]="showErrors"
          ></app-no-data>
        }
      </div>
    }
    @if (isSoilStructureResidentialUseReasonVisible) {
      <div class="subheading2 grid-1">
        Describe why placing fill/removing soil is required for the residential structure(s)
      </div>
      <div class="grid-double">
        {{ _applicationSubmission.soilStructureResidentialUseReason }}
        @if (!_applicationSubmission.soilStructureResidentialUseReason) {
          <app-no-data
            [showRequired]="showErrors"
          ></app-no-data>
        }
      </div>
    }
    @if (isSoilAgriParcelActivityVisible) {
      <div class="subheading2 grid-1">Describe the current or proposed agricultural activity on the parcel(s)</div>
      <div class="grid-double">
        {{ _applicationSubmission.soilAgriParcelActivity }}
        @if (!_applicationSubmission.soilAgriParcelActivity) {
          <app-no-data [showRequired]="showErrors"></app-no-data>
        }
      </div>
    }
    @if (isSoilStructureResidentialAccessoryUseReasonVisible) {
      <div class="subheading2 grid-1">
        Describe the intended use of the residential accessory structure(s) and why placing fill/removing soil is
        required
      </div>
      <div class="grid-double">
        {{ _applicationSubmission.soilStructureResidentialAccessoryUseReason }}
        @if (!_applicationSubmission.soilStructureResidentialAccessoryUseReason) {
          <app-no-data
            [showRequired]="showErrors"
          ></app-no-data>
        }
      </div>
    }
    @if (isSoilOtherStructureVisible) {
      <div class="subheading2 grid-1">
        Describe the intended use of the 'Other' structure(s) and why placing fill/removing soil is required
      </div>
      <div class="grid-double">
        {{ _applicationSubmission.soilStructureOtherUseReason }}
        @if (!_applicationSubmission.soilStructureOtherUseReason) {
          <app-no-data
            [showRequired]="showErrors"
          ></app-no-data>
        }
      </div>
    }
  }
  @if (_applicationSubmission.soilIsNewStructure === false) {
    <div class="subheading2 grid-1">
      What alternative measures have you considered or attempted before proposing to place fill?
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.soilAlternativeMeasures }}
      @if (!_applicationSubmission.soilAlternativeMeasures) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">What steps will be taken to reduce impacts to surrounding agricultural land?</div>
    <div class="grid-double">
      {{ _applicationSubmission.soilReduceNegativeImpacts }}
      @if (!_applicationSubmission.soilReduceNegativeImpacts) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
  }
  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    @for (map of proposalMap; track map) {
      @if (isMobile) {
        <a (click)="downloadFile(map.documentUuid)">{{ map.fileName }}</a>
      }
      @if (!isMobile) {
        <a routerLink="/document/{{ map.documentUuid }}" target="_blank">{{ map.fileName }}</a>
      }
    }
    @if (proposalMap.length === 0) {
      <app-no-data [showRequired]="showErrors"></app-no-data>
    }
  </div>
  @if (_applicationSubmission.soilIsNewStructure === false) {
    <div class="subheading2 grid-1">Cross Sections</div>
    <div class="grid-double multiple-documents">
      @for (file of crossSections; track file) {
        @if (isMobile) {
          <a (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
        }
        @if (!isMobile) {
          <a routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
        }
      }
      @if (crossSections.length === 0) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Reclamation Plan</div>
    <div class="grid-double multiple-documents">
      @for (file of reclamationPlans; track file) {
        @if (isMobile) {
          <a (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
        }
        @if (!isMobile) {
          <a routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
        }
      }
      @if (reclamationPlans.length === 0) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
  }
  @if (_applicationSubmission.soilIsNewStructure === true) {
    <div class="subheading2 grid-1">Detailed Building Plan(s)</div>
    <div class="grid-double multiple-documents">
      @for (file of buildingPlans; track file) {
        @if (isMobile) {
          <a (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
        }
        @if (!isMobile) {
          <a routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
        }
      }
      @if (buildingPlans.length === 0) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
  }
  @if (showEdit) {
    <div class="edit-button">
      <button mat-flat-button (click)="onEditSection(5)" color="accent">Edit Section</button>
    </div>
  }
</div>
}
