<ng-content></ng-content>
<div>
  <div class="subheading2">Use End Date</div>
  {{ component.endDate | date }}
  <app-no-data *ngIf="component.endDate === null || component.endDate === undefined"></app-no-data>
</div>
<div class="full-width">
  <div class="subheading2">Type of soil approved to be removed</div>
  <div class="pre-wrapped-text">{{ component.soilTypeRemoved }}</div>
  <app-no-data *ngIf="component.soilTypeRemoved === null || component.soilTypeRemoved === undefined"></app-no-data>
</div>
<div>
  <div class="subheading2">Volume</div>
  {{ component.soilToRemoveVolume }}<span *ngIf="component.soilToRemoveVolume !== null"> m<sup>3</sup></span>
  <app-no-data *ngIf="component.soilToRemoveVolume === null"></app-no-data>
</div>
<div>
  <div class="subheading2">Area</div>
  {{ component.soilToRemoveArea }}<span *ngIf="component.soilToRemoveArea !== null"> m<sup>2</sup></span>
  <app-no-data *ngIf="component.soilToRemoveArea === null"></app-no-data>
</div>
<div>
  <div class="subheading2">Maximum Depth</div>
  {{ component.soilToRemoveMaximumDepth }}<span *ngIf="component.soilToRemoveMaximumDepth !== null"> m</span>
  <app-no-data *ngIf="component.soilToRemoveMaximumDepth === null"></app-no-data>
</div>
<div>
  <div class="subheading2">Average Depth</div>
  {{ component.soilToRemoveAverageDepth }}<span *ngIf="component.soilToRemoveAverageDepth !== null"> m</span>
  <app-no-data *ngIf="component.soilToRemoveAverageDepth === null"></app-no-data>
</div>
