<ng-content></ng-content>
<div class="full-width">
  <div class="subheading2">Type of soil approved to be removed</div>
  <div class="pre-wrapped-text">{{ component.soilTypeRemoved }}</div>
  @if (component.soilTypeRemoved === null || component.soilTypeRemoved === undefined) {
    <app-no-data></app-no-data>
  }
</div>
<div>
  <div class="subheading2">Volume</div>
  {{ component.soilToRemoveVolume }}@if (component.soilToRemoveVolume !== null) {
  <span> m<sup>3</sup></span>
}
@if (component.soilToRemoveVolume === null) {
  <app-no-data></app-no-data>
}
</div>
<div>
  <div class="subheading2">Area</div>
  {{ component.soilToRemoveArea }}@if (component.soilToRemoveArea !== null) {
  <span> m<sup>2</sup></span>
}
@if (component.soilToRemoveArea === null) {
  <app-no-data></app-no-data>
}
</div>
<div>
  <div class="subheading2">Maximum Depth</div>
  {{ component.soilToRemoveMaximumDepth }}@if (component.soilToRemoveMaximumDepth !== null) {
  <span> m</span>
}
@if (component.soilToRemoveMaximumDepth === null) {
  <app-no-data></app-no-data>
}
</div>
<div>
  <div class="subheading2">Average Depth</div>
  {{ component.soilToRemoveAverageDepth }}@if (component.soilToRemoveAverageDepth !== null) {
  <span> m</span>
}
@if (component.soilToRemoveAverageDepth === null) {
  <app-no-data></app-no-data>
}
</div>
