mat-card {
  width: 100%;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #AAAAAA;
  background-color: transparent;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

span {
  font-weight: normal;
}