@use '../../../styles/functions' as *;
@use '../../../styles/colors';

.file-input {
  display: none;
}

.desktop-file-drag-drop {
  border: 0.2rem dashed rgba(colors.$grey-dark, 0.5);
  border-radius: 0.4rem;
  width: 100%;
  display: none;
}

.desktop-file-drag-drop[ng-reflect-disabled="true"] {
  background-color: #cbc9c9 !important;
}

.mobile-file-drag-drop {
  width: 100%;
}

a {
  color: colors.$link-color;
  text-decoration: underline;
  cursor: pointer;
}

.icon {
  font-size: 8rem;
  line-height: 8rem;
  color: colors.$grey-dark;
}

.drag-text {
  color: colors.$grey-dark;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.uploaded-file {
  border: 1px solid colors.$black;
  border-radius: rem(4);
  padding: rem(8);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: rem(8);

  &.error {
    border: 2px solid colors.$error-color;
  }

  .file-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  button {
    margin-top: rem(6);
  }
}

.error-message {
  color: colors.$error-color;
  display: flex;
  margin-bottom: rem(16);

  .mat-icon {
    margin-right: rem(4);
  }
}

@media screen and (min-width: $tabletBreakpoint) {
  .desktop-file-drag-drop {
    display: block;
  }
  .mobile-file-drag-drop {
    display: none;
  }
  .uploaded-file {
    display: flex;
    justify-content: space-between;

    .file-name {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: unset;
    }
  }
}
