@use '../../../styles/functions' as *;
@use '../../../styles/colors';

.file-input {
  display: none;
}

.desktop-file-drag-drop {
  display: none;
  margin-top: rem(5);
  margin-bottom: rem(5);
  width: 100%;
  border-radius: rem(4);

  &:hover {
    background: #f9f9f9 !important;
  }
}

.desktop-file-drag-drop.disabled {
  background-color: rgba(colors.$grey, 0.2) !important;
  cursor: not-allowed;

  .content {
    cursor: not-allowed;
  }
}

.mobile-file-drag-drop {
  width: 100%;
  margin-bottom: rem(2) !important;
}

a {
  color: colors.$link-color;
  text-decoration: underline;
  cursor: pointer;
}

.icon {
  font-size: 3rem;
  color: colors.$grey-dark;
}

.drag-text {
  color: colors.$grey-dark;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.content {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem 2rem;

  // Remove button element default styling
  background: none;
  border: none;
  font-weight: unset;
  text-transform: unset;
  width: 100%;
}

.uploaded-file {
  border: 1px solid colors.$grey;
  border-radius: rem(4);
  padding: rem(8) rem(16);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: rem(5);
  margin-bottom: rem(8);

  &:hover {
    border-color: colors.$black;
  }

  &.error {
    border: 2px solid colors.$error-color;
  }

  .file-size-cta-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: rem(4);
  }

  .file-size {
    color: colors.$grey-dark;
    display: flex;
  }

  .file-size-parentheses {
    display: none;
  }
}

.error-message {
  color: colors.$error-color;
  display: flex;
  margin-bottom: rem(16);

  .mat-icon {
    margin-right: rem(4);
  }
}

.mat-icon.mat-icon-inline {
  line-height: 100% !important;
}

@media screen and (min-width: $tabletBreakpoint) {
  .desktop-file-drag-drop {
    display: block;
  }
  .mobile-file-drag-drop {
    display: none;
  }

  .file-name {
    margin-right: rem(8) !important;
  }

  .uploaded-file {
    align-items: center;
    flex-direction: row;

    .file-size-cta-container {
      flex-grow: 2;
      margin-top: unset;
    }

    .file-size-parentheses {
      display: block;
    }
  }
}
