@import '../../../styles/colors';
@import '../../../styles/typography';

.file-input {
  display: none;
}

.desktop-file-drag-drop {
  border: 0.2rem dashed rgba($grey-dark, 0.5);
  border-radius: 0.4rem;
  width: 100%;
  display: none;
}

.mobile-file-drag-drop {
  width: 100%;
}

a {
  color: $link-color;
  text-decoration: underline;
  cursor: pointer;
}

.icon {
  font-size: 8rem;
  color: $grey-dark;
}

.drag-text {
  color: $grey-dark;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.uploaded-file {
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .file-name {
    display: flex;
    justify-content: space-between;
  }

  button {
    margin-top: rem(6);
  }
}

@media screen and (min-width: $tabletBreakpoint) {
  .desktop-file-drag-drop {
    display: block;
  }
  .mobile-file-drag-drop {
    display: none;
  }
  .uploaded-file {
    display: flex;
    justify-content: space-between;

    .file-name {
      display: flex;
      justify-content: flex-start;
    }
  }
}
