<input type="file" class="file-input" (change)="fileSelected($event)" #fileUpload />
<div *ngIf="uploadedFiles">
  <ng-container *ngFor="let file of uploadedFiles">
    <div
      class="uploaded-file"
      [ngClass]="{
        error: !!file.errorMessage
      }"
    >
      <a class="file-name" (click)="fileOpened(file.uuid)">{{ file.fileName }}</a>
      <div class="file-size-cta-container">
        <div class="file-size">
          <span class="file-size-parentheses">(</span>
          {{ file.fileSize | filesize }}
          <span class="file-size-parentheses">)</span>
        </div>
        <button [disabled]="disabled" mat-button aria-label="Remove File" (click)="_deleteFile(file)">
          <mat-icon>close</mat-icon>
          REMOVE
        </button>
      </div>
    </div>
    <div class="error-message" *ngIf="!!file.errorMessage"><mat-icon>warning</mat-icon> {{ file.errorMessage }}</div>
  </ng-container>
</div>
<div
  *ngIf="!uploadedFiles.length || allowMultiple"
  class=""
  [ngClass]="{ 'desktop-file-drag-drop': true, 'error-outline': isRequired && showErrors && !uploadedFiles.length }"
  dragDropFile
  [disabled]="disabled"
  (files)="filesDropped($event)"
>
  <div class="content">
    <div class="icon">
      <mat-icon inline="true">file_upload</mat-icon>
    </div>
    <button [disabled]="disabled" type="button" (click)="onFileUploadClicked()" mat-flat-button color="accent">
      Choose file to Upload
    </button>
    <div class="drag-text">or drag and drop them here</div>
  </div>
</div>
<button
  [disabled]="disabled"
  *ngIf="!uploadedFiles.length || allowMultiple"
  type="button"
  class="mobile-file-drag-drop"
  (click)="onFileUploadClicked()"
  mat-flat-button
  color="accent"
>
  Upload File
</button>
<app-validation-error *ngIf="isRequired && showErrors && !uploadedFiles.length" errorClass="field-error"
  >This file upload is required</app-validation-error
>
