<div class="container">
  <div class="type">
    <h6>Select owner type:</h6>
    <mat-radio-group class="radio-row" aria-label="Select a owner type">
      <mat-radio-button value="individual">Individual</mat-radio-button>
      <mat-radio-button value="organization">Organization</mat-radio-button>
    </mat-radio-group>
  </div>
  <form [formGroup]="ownerForm">
    <div class="form-row">
      <div>
        <label for="firstName">First Name</label>
        <mat-form-field class="full-width-input" appearance="outline">
          <input id="firstName" matInput placeholder="Enter First Name" formControlName="firstName" />
        </mat-form-field>
      </div>
      <div>
        <label for="lastName">Last Name</label>
        <mat-form-field class="full-width-input" appearance="outline">
          <input id="lastName" matInput placeholder="Enter Last Name" formControlName="lastName" />
        </mat-form-field>
      </div>
      <div>
        <label for="phoneNumber">Phone Number</label>
        <mat-form-field class="full-width-input" appearance="outline">
          <input
            id="phoneNumber"
            type="string"
            matInput
            placeholder="Enter Phone Number"
            formControlName="phoneNumber"
          />
        </mat-form-field>
      </div>
      <div>
        <label for="email">Email</label>
        <mat-form-field class="full-width-input" appearance="outline">
          <input id="email" type="email" matInput placeholder="Enter Email" formControlName="email" />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
