<div class="tag-container" (mouseenter)="hovered = true" (mouseleave)="hovered = false">
  <mat-form-field class="tag-field" appearance="outline">
    <mat-chip-grid #chipGrid>
      <app-tag-chip *ngFor="let tag of tags" (removeClicked)="removeTag(tag)" [tag]="tag"></app-tag-chip>
      <input
        placeholder="Add tag..."
        #tagInput
        [matChipInputFor]="chipGrid"
        [formControl]="tagControl"
        [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addTag($event)"
      />
    </mat-chip-grid>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectTag($event)" autoActiveFirstOption>
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag"
        >{{ tag.name }} <span class="category" *ngIf="tag.category"> : {{ tag.category.name }}</span></mat-option
      >
    </mat-autocomplete>
  </mat-form-field>
</div>
