<h4 class="flex-item">Notification Parcels</h4>

<div class="review-table">
  @for (parcel of parcels; track parcel; let parcelInd = $index) {
    <div class="full-width flex-space-between-wrap">
      <h5 [id]="parcel.uuid">Parcel {{ parcelInd + 1 }}</h5>
    </div>
    <div class="subheading2 grid-1">Ownership Type</div>
    <div class="grid-double">
      {{ parcel.ownershipType?.label }}
      @if (!parcel.ownershipType?.label) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Legal Description</div>
    <div class="grid-double">
      {{ parcel.legalDescription }}
      @if (!parcel.legalDescription) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Approx. Map Area</div>
    <div class="grid-double">
      {{ parcel.mapAreaHectares }}
      @if (!parcel.mapAreaHectares) {
        <app-no-data></app-no-data>
      }
      @if (parcel.mapAreaHectares) {
        <span> ha</span>
      }
    </div>
    <div class="subheading2 grid-1">
      PID {{ parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.CROWN ? '(optional)' : '' }}
    </div>
    <div class="grid-double">
      @if (parcel.pid) {
        <span>{{ parcel.pid | mask : '000-000-000' }}</span>
      }
      @if (!parcel.pid) {
        <app-no-data></app-no-data>
      }
    </div>
    @if (parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.CROWN) {
      <div class="subheading2 grid-1">PIN (optional)</div>
      <div class="grid-double">
        {{ parcel.pin }}
      </div>
    }
    <div class="subheading2 grid-1">Civic Address</div>
    <div class="grid-double">
      {{ parcel.civicAddress }}
      @if (!parcel.civicAddress) {
        <app-no-data></app-no-data>
      }
    </div>
  }
</div>
