<div class="header">
  <div>
    <span class="subtext heading">Planning Review</span>
  </div>
  <div class="first-row">
    <div class="title">
      <h5>{{ planningReview.fileNumber }} ({{ planningReview.documentName }})</h5>
      @if (planningReview.legacyId) {
        <app-application-legacy-id
          [legacyId]="planningReview.legacyId"
        ></app-application-legacy-id>
      }
      <div class="labels">
        <app-application-type-pill [type]="planningReview.type"></app-application-type-pill>
      </div>
    </div>
    <div class="center">
      @if (linkedCards.length === 1) {
        <button
          class="menu-item"
          mat-flat-button
          color="accent"
          (click)="onGoToCard(linkedCards[0])"
          >
          <div class="center">
            Go to card
            <mat-icon style="transform: scale(1.1)">arrow_right_alt</mat-icon>
          </div>
        </button>
      }
      @if (isCommissioner && (hasMeetings || isIncoming)) {
        <button
          class="menu-item"
          mat-flat-button
          color="accent"
          (click)="onGoToSchedule(planningReview.fileNumber)"
          >
          <div class="center">
            Go to card
            <mat-icon style="transform: scale(1.1)">arrow_right_alt</mat-icon>
          </div>
        </button>
      }
      @if (linkedCards.length > 1) {
        <button class="menu-item center" mat-flat-button color="accent" [matMenuTriggerFor]="goToMenu">
          Go to card ▾
        </button>
        <mat-menu class="move-board-menu" xPosition="before" #goToMenu="matMenu">
          @for (card of linkedCards; track card) {
            <button mat-menu-item (click)="onGoToCard(card)">
              {{ card.displayName }}
            </button>
          }
        </mat-menu>
      }
    </div>
  </div>
  <div class="sub-heading">
    <div>
      <div class="subheading2">Local/First Nation Government:</div>
      <div class="body-text">
        {{ planningReview.localGovernment.name }}
        @if (!planningReview.localGovernment) {
          <app-no-data></app-no-data>
        }
      </div>
    </div>
    @if (showStatus) {
      <div class="status-wrapper">
        <app-application-submission-status-type-pill [type]="statusPill"></app-application-submission-status-type-pill>
      </div>
    }
  </div>
</div>
