<ng-template #header>
  <div class="header">
    <h6 *ngIf="notificationSubmission">
      Notification ID: {{ notificationSubmission.fileNumber }} | {{ notificationSubmission.type }}
    </h6>
    <div class="header-btn-wrapper">
      <button
        *ngIf="notificationSubmission?.fileNumber && cdkStepper.selectedIndex === steps.ReviewAndSubmit"
        mat-flat-button
        color="primary"
        (click)="onDownloadPdf(notificationSubmission?.fileNumber)"
      >
        Download PDF
      </button>
    </div>
  </div>
</ng-template>

<app-custom-stepper
  class="edit-application"
  #cdkStepper
  (selectionChange)="onStepChange($event)"
  (beforeSwitchStep)="switchStep($event)"
>
  <cdk-step label="Parcel Details">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === steps.Parcel">
      <app-notification-parcel-details
        [$notificationSubmission]="$notificationSubmission"
        [showErrors]="showValidationErrors"
        (navigateToStep)="switchStep($event)"
        (componentInitialized)="onParcelDetailsInitialized()"
        (exit)="onExit()"
      >
      </app-notification-parcel-details>
    </div>
  </cdk-step>
  <cdk-step label="Identify Transferees">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === steps.Transferees">
      <app-transferees
        [$notificationSubmission]="$notificationSubmission"
        [showErrors]="showValidationErrors"
        (navigateToStep)="switchStep($event)"
        (exit)="onExit()"
      >
      </app-transferees>
    </div>
  </cdk-step>
  <cdk-step label="Primary Contact">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === steps.PrimaryContact"></div>
  </cdk-step>
  <cdk-step label="Government">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === steps.Government"></div>
  </cdk-step>
  <cdk-step label="Purpose of SRW">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="notificationSubmission && cdkStepper.selectedIndex === steps.Proposal"></div>
  </cdk-step>
  <cdk-step label="Optional Attachments">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === steps.Attachments"></div>
  </cdk-step>
  <cdk-step label="Review & Submit">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === steps.ReviewAndSubmit"></div>
  </cdk-step>
</app-custom-stepper>
