<section>
  <div class="step-description">
    <h2>Land Use</h2>
    <p>Describe the current land use of parcel(s) under application and adjacent parcels.</p>
    <p>All fields are required unless stated optional.</p>
  </div>
  <app-warning-banner>
    Please consult the
    <a
      href="https://www.alc.gov.bc.ca/application-and-notice-process/applications/what-the-commission-considers/"
      target="_blank"
      >'What the Commission Considers'</a
    >
    page of the ALC website for more information.
  </app-warning-banner>
  <form [formGroup]="landUseForm" class="land-use-form">
    <h5>Land Use of Parcel(s) under Application</h5>
    <div class="form-row">
      <div class="full-row">
        <label for="parcelsAgricultureDescription">
          Quantify and describe in detail all agriculture that currently takes place on the parcel(s).
        </label>
        <mat-form-field class="display-block" appearance="outline">
          <textarea
            #parcelsAgricultureDescriptionText
            id="parcelsAgricultureDescription"
            matInput
            name="questionText"
            formControlName="parcelsAgricultureDescription"
            rows="4"
            maxlength="4000"
          ></textarea>
        </mat-form-field>
        <span class="subtext">Characters left: {{ 4000 - parcelsAgricultureDescriptionText.textLength }}</span>
        <div
          *ngIf="
            parcelsAgricultureDescription.invalid &&
            (parcelsAgricultureDescription.dirty || parcelsAgricultureDescription.touched)
          "
          class="field-error"
        >
          <mat-icon>warning</mat-icon>
          <div *ngIf="parcelsAgricultureDescription.errors?.['required']">This field is required</div>
        </div>
      </div>
      <div class="full-row">
        <h6>
          <label for="parcelsAgricultureImprovementDescription">
            Quantify and describe in detail all agricultural improvements made to the parcel(s).
          </label>
        </h6>
        <mat-form-field class="display-block" appearance="outline">
          <textarea
            #parcelsAgricultureImprovementDescriptionText
            id="parcelsAgricultureImprovementDescription"
            matInput
            name="questionText"
            formControlName="parcelsAgricultureImprovementDescription"
            rows="4"
            maxlength="4000"
          ></textarea>
        </mat-form-field>
        <span class="subtext"
          >Characters left: {{ 4000 - parcelsAgricultureImprovementDescriptionText.textLength }}</span
        >
        <div
          *ngIf="
            parcelsAgricultureImprovementDescription.invalid &&
            (parcelsAgricultureImprovementDescription.dirty || parcelsAgricultureImprovementDescription.touched)
          "
          class="field-error"
        >
          <mat-icon>warning</mat-icon>
          <div *ngIf="parcelsAgricultureImprovementDescription.errors?.['required']">This field is required</div>
        </div>
      </div>
      <div class="full-row">
        <label for="parcelsNonAgricultureUseDescription">
          Quantify and describe all non-agricultural uses that currently take place on the parcel(s).
        </label>
        <mat-form-field class="display-block" appearance="outline">
          <textarea
            #parcelsNonAgricultureUseDescriptionText
            id="parcelsNonAgricultureUseDescription"
            matInput
            name="questionText"
            formControlName="parcelsNonAgricultureUseDescription"
            rows="4"
            maxlength="4000"
          ></textarea>
        </mat-form-field>
        <span class="subtext">Characters left: {{ 4000 - parcelsNonAgricultureUseDescriptionText.textLength }}</span>
        <div
          *ngIf="
            parcelsNonAgricultureUseDescription.invalid &&
            (parcelsNonAgricultureUseDescription.dirty || parcelsNonAgricultureUseDescription.touched)
          "
          class="field-error"
        >
          <mat-icon>warning</mat-icon>
          <div *ngIf="parcelsNonAgricultureUseDescription.errors?.['required']">This field is required</div>
        </div>
      </div>
    </div>
    <h5>Identify the land uses surrounding the parcel(s) under application.</h5>
    <div class="form-row">
      <div class="full-row">
        <label for="northLandUseType">North</label>
        <div class="land-use-type-wrapper">
          <div class="land-use-type">
            <mat-form-field appearance="outline">
              <mat-select id="northLandUseType" placeholder="Main Land Use Type" formControlName="northLandUseType">
                <mat-option *ngFor="let enum of MainLandUseTypeOptions | keyvalue" [value]="enum.value">{{
                  enum.value
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="northLandUseType.invalid && (northLandUseType.dirty || northLandUseType.touched)"
              class="field-error"
            >
              <mat-icon>warning</mat-icon>
              <div *ngIf="northLandUseType.errors?.['required']">This field is required</div>
            </div>
          </div>
          <div class="full-width-input">
            <mat-form-field appearance="outline">
              <input
                id="northLandUseTypeDescription"
                placeholder="Specific Activity"
                matInput
                formControlName="northLandUseTypeDescription"
              />
            </mat-form-field>
            <div
              *ngIf="
                northLandUseTypeDescription.invalid &&
                (northLandUseTypeDescription.dirty || northLandUseTypeDescription.touched)
              "
              class="field-error"
            >
              <mat-icon>warning</mat-icon>
              <div *ngIf="northLandUseTypeDescription.errors?.['required']">This field is required</div>
            </div>
          </div>
        </div>
      </div>

      <div class="full-row">
        <label for="eastLandUseType">East</label>
        <div class="land-use-type-wrapper">
          <div class="land-use-type">
            <mat-form-field appearance="outline">
              <mat-select id="eastLandUseType" placeholder="Main Land Use Type" formControlName="eastLandUseType">
                <mat-option *ngFor="let enum of MainLandUseTypeOptions | keyvalue" [value]="enum.value">{{
                  enum.value
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="eastLandUseType.invalid && (eastLandUseType.dirty || eastLandUseType.touched)"
              class="field-error"
            >
              <mat-icon>warning</mat-icon>
              <div *ngIf="eastLandUseType.errors?.['required']">This field is required</div>
            </div>
          </div>
          <div class="full-width-input">
            <mat-form-field appearance="outline">
              <input
                id="eastLandUseTypeDescription"
                placeholder="Specific Activity"
                matInput
                formControlName="eastLandUseTypeDescription"
              />
            </mat-form-field>
            <div
              *ngIf="
                eastLandUseTypeDescription.invalid &&
                (eastLandUseTypeDescription.dirty || eastLandUseTypeDescription.touched)
              "
              class="field-error"
            >
              <mat-icon>warning</mat-icon>
              <div *ngIf="eastLandUseTypeDescription.errors?.['required']">This field is required</div>
            </div>
          </div>
        </div>
      </div>

      <div class="full-row">
        <label for="southLandUseType">South</label>
        <div class="land-use-type-wrapper">
          <div class="land-use-type">
            <mat-form-field appearance="outline">
              <mat-select id="southLandUseType" placeholder="Main Land Use Type" formControlName="southLandUseType">
                <mat-option *ngFor="let enum of MainLandUseTypeOptions | keyvalue" [value]="enum.value">{{
                  enum.value
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="southLandUseType.invalid && (southLandUseType.dirty || southLandUseType.touched)"
              class="field-error"
            >
              <mat-icon>warning</mat-icon>
              <div *ngIf="southLandUseType.errors?.['required']">This field is required</div>
            </div>
          </div>
          <div class="full-width-input">
            <mat-form-field appearance="outline">
              <input
                id="southLandUseTypeDescription"
                placeholder="Specific Activity"
                matInput
                formControlName="southLandUseTypeDescription"
              />
            </mat-form-field>
            <div
              *ngIf="
                southLandUseTypeDescription.invalid &&
                (southLandUseTypeDescription.dirty || southLandUseTypeDescription.touched)
              "
              class="field-error"
            >
              <mat-icon>warning</mat-icon>
              <div *ngIf="southLandUseTypeDescription.errors?.['required']">This field is required</div>
            </div>
          </div>
        </div>
      </div>

      <div class="full-row">
        <label for="westLandUseType">West</label>
        <div class="land-use-type-wrapper">
          <div class="land-use-type">
            <mat-form-field appearance="outline">
              <mat-select id="westLandUseType" placeholder="Main Land Use Type" formControlName="westLandUseType">
                <mat-option *ngFor="let enum of MainLandUseTypeOptions | keyvalue" [value]="enum.value">{{
                  enum.value
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="westLandUseType.invalid && (westLandUseType.dirty || westLandUseType.touched)"
              class="field-error"
            >
              <mat-icon>warning</mat-icon>
              <div *ngIf="westLandUseType.errors?.['required']">This field is required</div>
            </div>
          </div>
          <div class="full-width-input">
            <mat-form-field appearance="outline">
              <input
                id="westLandUseTypeDescription"
                placeholder="Specific Activity"
                matInput
                formControlName="westLandUseTypeDescription"
              />
            </mat-form-field>
            <div
              *ngIf="
                westLandUseTypeDescription.invalid &&
                (westLandUseTypeDescription.dirty || westLandUseTypeDescription.touched)
              "
              class="field-error"
            >
              <mat-icon>warning</mat-icon>
              <div *ngIf="westLandUseTypeDescription.errors?.['required']">This field is required</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="button-container">
    <button (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
    <div>
      <button mat-stroked-button color="primary" (click)="onNavigateToStep(currentStep - 1)">
        Previous<span class="mobile-hidden"> Step</span>
      </button>
      <button mat-flat-button color="primary" (click)="onNavigateToStep(currentStep + 1)">
        Next<span class="mobile-hidden"> Step</span>
      </button>
    </div>
  </div>
</section>
