@use '../../../../../styles/functions' as *;
@use '../../../../../styles/colors';

:host::ng-deep {
  .view-grid-item {
    display: grid;
    grid-template-columns: minmax(rem(100), 0.5fr) 1fr;
    column-gap: rem(16);
    margin-bottom: rem(12);
  }

  .details-wrapper {
    margin-top: rem(24);
    margin-bottom: rem(24);

    .title {
      margin-bottom: rem(16) !important;
    }
  }

  h3 .subtext {
    margin: 0.5rem 0 !important;
  }

  label {
    font-weight: 600;
  }

  .no-data-text {
    text-align: center;
    color: colors.$grey;
    padding-top: rem(12);

    .error {
      justify-content: center;
    }
  }

  .custom-mat-expansion-panel-header {
    height: fit-content;
  }

  .table-wrapper {
    overflow-x: auto;
    width: 100%;
  }

  @media screen and (min-width: $tabletBreakpoint) {
    .flex-item {
      display: flex;
      gap: rem(16);
    }
  }

  .scrollable {
    overflow-x: auto;
  }

  .other-attachments {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    overflow-x: auto;
    grid-column-gap: rem(36);
    grid-row-gap: rem(12);

    .full-width {
      grid-column: 1/3;
    }
  }

  .adjacent-parcels {
    display: grid;
    overflow-x: auto;
    grid-column-gap: rem(36);
    grid-row-gap: rem(12);
    grid-template-columns: max-content max-content max-content;

    @media screen and (min-width: $tabletBreakpoint) {
      grid-template-columns: 0.55fr 1fr 1fr;
    }

    @media screen and (min-width: $midBreakpoint) {
      grid-template-columns: 1fr 1fr 2fr;
    }

    .full-width {
      grid-column: 1/4;
    }
  }

  .review-table {
    padding: rem(8);
    margin: rem(12) 0 rem(20) 0;
    background-color: colors.$grey-light;
    display: grid;
    grid-row-gap: rem(4);
    grid-column-gap: rem(16);
    grid-template-columns: 1fr;
    word-wrap: break-word;
    hyphens: auto;

    .edit-button {
      display: flex;
      justify-content: center;

      button {
        width: 100%;

        @media screen and (min-width: $tabletBreakpoint) {
          width: unset;
        }
      }
    }

    .grid-double {
      margin-bottom: rem(16);
    }

    .subheading2 {
      margin-bottom: rem(4) !important;
    }

    @media screen and (min-width: $tabletBreakpoint) {
      padding: rem(16);
      margin: rem(24) 0 rem(40) 0;
      grid-template-columns: minmax(rem(60), 1fr) minmax(rem(60), 1fr) minmax(rem(60), 1fr) minmax(rem(60), 1fr);
      grid-row-gap: rem(24);

      .full-width {
        grid-column: 1/5;
      }

      .grid-double {
        grid-column: 2/5;
        margin-bottom: unset;
      }

      .grid-1 {
        grid-column: 1/2;
      }

      .grid-2 {
        grid-column: 2/3;
      }

      .grid-3 {
        grid-column: 3/5;
      }

      .edit-button {
        grid-column: 1/5;
      }
    }
  }
}
