<section>
  <app-parcel [submission]="submission" [parcels]="parcels"></app-parcel>
</section>
<section>
  <h3>Primary Contact</h3>
  @if (submission) {
    <div class="review-table">
      <div class="subheading2 grid-1">Type</div>
      <div class="grid-double">
        {{ primaryContact?.type?.label }}
        @if (!primaryContact?.type?.label) {
          <app-no-data></app-no-data>
        }
      </div>
      <div class="subheading2 grid-1">First Name</div>
      <div class="grid-double">
        {{ primaryContact?.firstName }}
        @if (!primaryContact?.firstName) {
          <app-no-data></app-no-data>
        }
      </div>
      <div class="subheading2 grid-1">Last Name</div>
      <div class="grid-double">
        {{ primaryContact?.lastName }}
        @if (!primaryContact?.lastName) {
          <app-no-data></app-no-data>
        }
      </div>
      <div class="subheading2 grid-1">
        @if (primaryContact?.type?.code !== OWNER_TYPE.CROWN && primaryContact?.type?.code !== OWNER_TYPE.GOVERNMENT) {
          <span
            >Organization (optional)</span
            >
          }
          @if (primaryContact?.type?.code === OWNER_TYPE.CROWN) {
            <span>Ministry/Department Responsible</span>
          }
          @if (primaryContact?.type?.code === OWNER_TYPE.GOVERNMENT) {
            <span>Department</span>
          }
        </div>
        <div class="grid-double">
          {{ primaryContact?.organizationName }}
          @if (!primaryContact?.organizationName) {
            <app-no-data></app-no-data>
          }
        </div>
      </div>
    }
  </section>
  <section>
    <h3>Government</h3>
    @if (submission) {
      <div class="review-table">
        <div class="subheading2 grid-1">Local or First Nation Government</div>
        <div class="grid-double">
          {{ localGovernment?.name }}
          @if (!localGovernment) {
            <app-no-data></app-no-data>
          }
        </div>
      </div>
    }
  </section>
  <section>
    <h3>Land Use</h3>
    @if (submission) {
      <div class="review-table">
        <div class="full-width">
          <h4>Land Use of Parcel(s) under Notice of Intent</h4>
        </div>
        <div class="subheading2 grid-1">Describe all agriculture that currently takes place on the parcel(s).</div>
        <div class="grid-double">
          {{ submission.parcelsAgricultureDescription }}
          @if (!submission.parcelsAgricultureDescription) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2 grid-1">Describe all agricultural improvements made to the parcel(s).</div>
        <div class="grid-double">
          {{ submission.parcelsAgricultureImprovementDescription }}
          @if (!submission.parcelsAgricultureImprovementDescription) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2 grid-1">Describe all other uses that currently take place on the parcel(s).</div>
        <div class="grid-double">
          {{ submission.parcelsNonAgricultureUseDescription }}
          @if (!submission.parcelsNonAgricultureUseDescription) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="full-width">
          <h4>Land Use of Adjacent Parcels</h4>
        </div>
        <div class="adjacent-parcels full-width">
          <div class="grid-1 subheading2"></div>
          <div class="grid-2 subheading2">Main Land Use Type</div>
          <div class="grid-3 subheading2">Specific Activity</div>
          <div class="grid-1 subheading2">North</div>
          <div class="grid-2">
            {{ submission.northLandUseType }}
            @if (!submission.northLandUseType) {
              <app-no-data></app-no-data>
            }
          </div>
          <div class="grid-3">
            {{ submission.northLandUseTypeDescription }}
            @if (!submission.northLandUseTypeDescription) {
              <app-no-data></app-no-data>
            }
          </div>
          <div class="grid-1 subheading2">East</div>
          <div class="grid-2">
            {{ submission.eastLandUseType }}
            @if (!submission.eastLandUseType) {
              <app-no-data></app-no-data>
            }
          </div>
          <div class="grid-3">
            {{ submission.eastLandUseTypeDescription }}
            @if (!submission.eastLandUseTypeDescription) {
              <app-no-data></app-no-data>
            }
          </div>
          <div class="grid-1 subheading2">South</div>
          <div class="grid-2">
            {{ submission.southLandUseType }}
            @if (!submission.southLandUseType) {
              <app-no-data></app-no-data>
            }
          </div>
          <div class="grid-3">
            {{ submission.southLandUseTypeDescription }}
            @if (!submission.southLandUseTypeDescription) {
              <app-no-data></app-no-data>
            }
          </div>
          <div class="grid-1 subheading2">West</div>
          <div class="grid-2">
            {{ submission.westLandUseType }}
            @if (!submission.westLandUseType) {
              <app-no-data></app-no-data>
            }
          </div>
          <div class="grid-3">
            {{ submission.westLandUseTypeDescription }}
            @if (!submission.westLandUseTypeDescription) {
              <app-no-data></app-no-data>
            }
          </div>
        </div>
      </div>
    }
  </section>
  @if (submission) {
    <section>
      <h3>Proposal</h3>
      @if (submission.typeCode === 'ROSO') {
        <app-roso-details
          [noiSubmission]="submission"
          [noiDocuments]="documents"
        ></app-roso-details>
      }
      @if (submission.typeCode === 'POFO') {
        <app-pofo-details
          [noiSubmission]="submission"
          [noiDocuments]="documents"
        ></app-pofo-details>
      }
      @if (submission.typeCode === 'PFRS') {
        <app-pfrs-details
          [noiSubmission]="submission"
          [noiDocuments]="documents"
        ></app-pfrs-details>
      }
    </section>
  }
  @if (submission) {
    <section>
      <h3>Additional Information</h3>
      <app-additional-information [noiSubmission]="submission" [noiDocuments]="documents"></app-additional-information>
    </section>
  }
