.dialog {
  padding: 24px;

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    column-gap: 24px;
    margin-bottom: 12px;

    .full-width {
      grid-column: 1/3;
    }

    .mat-mdc-form-field {
      width: 100%;
    }

    .condition-fields-container {
      display: flex;
      flex-direction: column;
    }

    .condition-field {
      display: grid;
      gap: 5px;
      margin-bottom: 5px;
    }

    .condition-field-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .condition-field-input {
      width: 95%;
      margin-left: 25px;
    }
  }
}
