
<div mat-dialog-title><h2>{{data.title}}</h2> in {{data.status}}</div>
<mat-dialog-content>
    <h4>PAUSED</h4>
    <div class="card-details-wrapper">
        <div>
            <mat-label>File number:</mat-label>
            <p>{{data.fileNumber}}</p>
        </div>
        <div>
            <mat-label>Assignee:</mat-label>
            <p>Placeholder John</p>
        </div>
        <div>
            <mat-label>Details:</mat-label>
            <p>{{data.body}}</p>
        </div>
    </div>
        <mat-divider></mat-divider>
        <div>
            <mat-label>Comments</mat-label>
            <p>{{data.body}}</p>
        </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>