
<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <h4 mat-dialog-title>File: number {{data.fileNumber}}</h4>
  <!-- <div class="view-form-container">
    <div class="view-form-content">
      <div class="view-form-label">File number:</div>
      <div class="view-form-detail">
        {{data.fileNumber}}
      </div>
    </div>

  </div> -->
  <!-- <table>
    <tbody>
      <tr>
        <td>fileNumber</td>
        <td>{{data.fileNumber}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{data.status}}</td>
      </tr>
      <tr>
        <td>Assignee</td>
        <td>me</td>
      </tr>
      <tr>
        <td>Details</td>
        <td>Lorem Ipsum Delorat</td>
      </tr>
    </tbody>
  </table> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
