<div *ngIf="_applicationSubmission" class="review-table">
  <div class="subheading2 grid-1">How many hectares are you proposing to include? (hectares)</div>
  <div class="grid-double">
    {{ _applicationSubmission.inclExclHectares }}
  </div>

  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    {{ _applicationSubmission.purpose }}
  </div>

  <div class="subheading2 grid-1">Does the proposal support agriculture in the short or long term?</div>
  <div class="grid-double">
    {{ _applicationSubmission.inclAgricultureSupport }}
  </div>

  <div class="subheading2 grid-1">
    Describe any improvements that have been made to, or are planned for the parcel proposed for inclusion.
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.inclImprovements }}
  </div>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <div *ngFor="let file of proposalMap">
      <a (click)="openFile(file)">
        {{ file.fileName }}
      </a>
    </div>
  </div>

  <ng-container *ngIf="_applicationSubmission.inclGovernmentOwnsAllParcels !== null">
    <div class="subheading2 grid-1">
      Is the applying government the registered land owner of all parcels under this inclusion application?
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.inclGovernmentOwnsAllParcels ? 'Yes' : 'No' }}
    </div>
  </ng-container>

  <ng-container *ngIf="_applicationSubmission.inclGovernmentOwnsAllParcels === false">
    <div class="subheading2 grid-1">Notice of Public Hearing (Advertisement)</div>
    <div class="grid-double">
      <div *ngFor="let file of noticeOfPublicHearing">
        <a (click)="openFile(file)">
          {{ file.fileName }}
        </a>
      </div>
    </div>

    <div class="subheading2 grid-1">Proof of Signage</div>
    <div class="grid-double">
      <div *ngFor="let file of proofOfSignage">
        <a (click)="openFile(file)">
          {{ file.fileName }}
        </a>
      </div>
    </div>

    <div class="subheading2 grid-1">Report of Public Hearing</div>
    <div class="grid-double">
      <div *ngFor="let file of reportOfPublicHearing">
        <a (click)="openFile(file)">
          {{ file.fileName }}
        </a>
      </div>
    </div>
  </ng-container>
</div>
