@use '../../../../../styles/colors';

section {
  margin-bottom: 64px;
}

.decision-container {
  position: relative;
}

.decision {
  margin: 24px 0;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.25);
}

.loading-overlay {
  position: absolute;
  z-index: 2;
  background-color: colors.$grey;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-decisions {
  padding: 6px 32px;
  background-color: colors.$grey-light;
  grid-template-columns: 1fr 1fr 100px;
  display: grid;
  min-height: 36px;
  text-transform: uppercase;
  border-radius: 4px 4px 0 0;
}

.decision-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 36px;
  background: colors.$accent-color;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 4px 0 10px;
}

.decision-padding {
  padding: 18px 32px 32px 32px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 24px;
}

.grid-3 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-row-gap: 24px;
}

.decision-content,
.grid-2 {
  margin-top: 16px;
  margin-bottom: 32px;

  .subheading2 {
    margin-bottom: 6px !important;
  }

  & > div {
    font-size: 16px;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    .days {
      display: inline-block;
      margin-right: 6px;

      .mat-icon {
        font-size: 19px !important;
        line-height: 21px !important;
        width: 19px;
        vertical-align: middle;
      }
    }
  }
}

.row {
  margin: 16px 0;
}

.conditions-link-icon {
  position: absolute;
}

.no-decisions {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$grey-light;
  height: 72px;
}

:host ::ng-deep {
  .decision-documents .subheading1 {
    font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif !important;
    font-size: 19px !important;
    font-weight: 400 !important;
    margin: 0 !important;
    line-height: 24px;
    color: #565656 !important;
  }

  .application-pill-wrapper,
  .application-pill {
    margin-right: 0 !important;
  }

  .decision-tabs {
    .mdc-tab__text-label {
      color: colors.$black !important;
    }
    .mdc-tab {
      margin-left: 8px;
    }
  }
}
