<div class="split">
  <div><h1>Decisions</h1></div>
  <div matTooltip="{{ disabledCreateBtnTooltip }}" [matTooltipDisabled]="!isPaused && !isDraftExists">
    @if (decisions.length === 0) {
      <button
        [disabled]="isPaused || isDraftExists"
        mat-flat-button
        color="primary"
        (click)="onCreate()"
        >
        + Decision Draft
      </button>
    }
    @if (decisions.length > 0) {
      <button
        [matMenuTriggerFor]="createMenu"
        [disabled]="isPaused || isDraftExists"
        mat-flat-button
        color="primary"
        >
        + Decision Draft
      </button>
    }
    <mat-menu class="move-board-menu" xPosition="before" #createMenu="matMenu">
      @for (decision of decisions; track decision) {
        <button mat-menu-item (click)="onCreate(decision.uuid)">
          Duplicate Res #{{ decision.resolutionNumber }}/{{ decision.resolutionYear }}
        </button>
      }
      <button mat-menu-item (click)="onCreate()">Blank Decision</button>
    </mat-menu>
  </div>
</div>
@if (!decisions.length) {
  <section class="no-decisions">
    <div>No Decisions</div>
  </section>
}
@for (decision of decisions; track decision; let i = $index) {
  <section class="decision-container">
    @if (decision.loading) {
      <div class="loading-overlay">
        <mat-spinner></mat-spinner>
      </div>
    }
    <div
      class="decision"
    [ngClass]="{
      draft: decision.isDraft,
    }"
      [id]="decision.uuid"
      >
      @if (decision.modifiedBy?.length || decision.reconsideredBy?.length) {
        <div class="post-decisions body-text">
          <div>
            <strong>Modified&nbsp;By:&nbsp;</strong>
            {{ decision.modifiedByResolutions?.join(', ') }}
            @if (!decision.modifiedBy?.length) {
              <span>N/A</span>
            }
          </div>
          <div>
            <strong>Reconsidered&nbsp;By:&nbsp;</strong>
            {{ decision.reconsideredByResolutions?.join(', ') }}
            @if (!decision.reconsideredBy?.length) {
              <span>N/A</span>
            }
          </div>
        </div>
      }
      <div class="decision-padding">
        <div class="header">
          <div class="title">
            <h3>Decision #{{ decision.index }}</h3>
            @if (i === decisions.length - 1 && application) {
              <div>
                <span class="days" matTooltip="Active Days">
                  <mat-icon class="icon">calendar_month</mat-icon>
                  {{ application.activeDays }}
                </span>
                <span class="days" matTooltip="Paused Days">
                  <mat-icon class="icon">pause</mat-icon>
                  {{ application.pausedDays }}
                </span>
              </div>
            }
            @if (!!decision.reconsiders) {
              <app-application-type-pill [type]="reconLabel"></app-application-type-pill>
            }
            @if (!!decision.modifies) {
              <app-application-type-pill [type]="modificationLabel"></app-application-type-pill>
            }
            <h5>Res #{{ decision.resolutionNumber }}/{{ decision.resolutionYear }}</h5>
            @if (decision.isDraft) {
              <app-application-type-pill [type]="dratDecisionLabel"></app-application-type-pill>
            }
            @if (!decision.isDraft) {
              <app-application-type-pill [type]="releasedDecisionLabel"></app-application-type-pill>
            }
          </div>
          <div class="flag-button-container">
            <button
              type="button"
              (click)="decision.isFlagged ? unflag(decision) : flag(decision, false)"
              class="flag-button"
              [class.flagged]="decision.isFlagged"
              [matTooltip]="decision.isFlagged ? 'Click to unflag' : ''"
              >
              <mat-icon svgIcon="personal_places"></mat-icon>
              Flag{{ decision.isFlagged ? 'ged' : '' }} for Condition Follow Up
            </button>
          </div>
          @if (decision.isDraft) {
            <button class="edit-decision-button" mat-flat-button color="primary" (click)="onEdit(decision)">
              Edit Draft
            </button>
          }
          @if (!decision.isDraft) {
            <div
              class="revert-to-draft-button"
              [matTooltip]="decision.disabledMessage"
              [matTooltipDisabled]="!isPaused && !isDraftExists && !decision.hasDuplicateComponents"
              >
              <button
                mat-stroked-button
                color="primary"
                (click)="onRevertToDraft(decision.uuid)"
                [disabled]="isDraftExists || decision.hasDuplicateComponents"
                >
                Revert to draft
              </button>
            </div>
          }
        </div>
        <section class="decision-section-no-title">
          <div class="grid-2">
            <div>
              <span class="subheading2">Decision Date:&nbsp;</span>
              {{ decision.date | momentFormat }}
              @if (decision.date === null || decision.date === undefined) {
                <app-no-data></app-no-data>
              }
            </div>
            <div class="align-right">
              <span class="subheading2">Decision Maker:&nbsp;</span>
              {{ decision.decisionMaker?.label }}
              @if (decision.decisionMaker === null || decision.decisionMaker === undefined) {
                <app-no-data></app-no-data>
              }
            </div>
          </div>
          @if (decision.ceoCriterion) {
            <div class="component-summary">
              <div>
                <span class="subheading2">CEO Criterion:&nbsp;</span>
                {{ decision.ceoCriterion.label }}
                @if (decision.isTimeExtension || decision.isOther) {
                  &#32;-&#32;
                }
                @if (decision.isTimeExtension) {
                  Time extension
                }
                @if (decision.isTimeExtension && decision.isOther) {
                  ,&#32;
                }
                @if (decision.isOther) {
                  Other
                }
              </div>
            </div>
          }
          @if (decision.outcome.code === 'RESC') {
            <div class="component-summary">
              <div>
                <span class="subheading2">Rescinded Date:&nbsp;</span>
                @if (decision.rescindedDate) {
                  {{ decision.rescindedDate | momentFormat }}
                }
                @if (decision.rescindedDate === null || decision.rescindedDate === undefined) {
                  <app-no-data></app-no-data>
                }
              </div>
            </div>
          }
          @if (decision.outcome.code === 'RESC') {
            <div class="component-summary">
              <div>
                <span class="subheading2">Rescinded Comment:&nbsp;</span>
                {{ decision.rescindedComment }}
                @if (!decision.rescindedComment) {
                  <app-no-data></app-no-data>
                }
              </div>
            </div>
          }
          <div class="component-summary">
            <div class="full-width decision-description">
              {{ decision.decisionDescription }}
              @if (decision.decisionDescription === null || decision.decisionDescription === undefined) {
                <app-no-data
                ></app-no-data>
              }
            </div>
          </div>
          @for (component of decision.components; track component; let index = $index) {
            <div class="component-summary">
              <span class="subheading2">{{ component.applicationDecisionComponentType?.label }} </span>
              {{ getDate(component.uuid) }}
              <span class="subheading2">Conditions: </span>
              @for (condition of getConditions(component.uuid); track condition) {
                @if (condition !== null) {
                  <app-application-type-pill
                    class="status-pill"
                    [type]="condition"
                  ></app-application-type-pill>
                }
              }
              @if (getConditions(component.uuid).length === 0) {
                None
              }
            </div>
          }
          @if (['APPR', 'RESC'].includes(decision.outcome.code) && decision.isSubjectToConditions) {
            <section class="decision-section">
              <div>
                <a [routerLink]="['/application/' + fileNumber + '/decision/conditions/' + decision.uuid]"
                  >View Conditions
                  <mat-icon class="conditions-link-icon">open_in_new</mat-icon>
                </a>
              </div>
            </section>
          }
          <div class="full-width">
            @for (document of decision.documents; track document) {
              <div class="document split">
                <div>
                  <a routerLink="/document/{{ document.documentUuid }}" target="_blank">{{ document.fileName }}</a>
                  &nbsp;({{ document.fileSize ? (document.fileSize | filesize) : '' }})
                </div>
                <button class="center" mat-button (click)="openFile(decision.uuid, document.uuid, document.fileName)">
                  <mat-icon>file_download</mat-icon>
                  Download
                </button>
              </div>
            }
          </div>
          @if (decision.isFlagged) {
            <section class="flag-details">
              <div class="flag-details-header">
                <div class="flag-details-flagger">
                  <mat-icon svgIcon="personal_places"></mat-icon><strong>{{ decision.flaggedBy?.prettyName }}</strong>
                </div>
                <div><strong>Follow-Up Date:</strong> {{ formatDate(decision.followUpAt) || 'No Data' }}</div>
              </div>
              <div class="flag-details-body">
                <strong>Flagged for condition follow-up because:</strong> {{ decision.reasonFlagged }}
              </div>
              <div class="flag-details-footer">
                <div class="flag-details-edited-details">
                  {{ formatDate(decision.flagEditedAt, true) }} (Last Edited by {{ decision.flagEditedBy?.prettyName }})
                </div>
                <button mat-button type="button" (click)="flag(decision, true)">Edit</button>
              </div>
            </section>
          }
        </section>
        @if (isSummary) {
          <!-- Components -->
          @if (['APPR', 'RESC'].includes(decision.outcome.code)) {
            <h4>Components</h4>
            <section class="decision-section-no-title">
              @if (decision.components.length < 1) {
                <app-no-data
                  text="No decision components are added. Edit draft to add decision components."
                ></app-no-data>
              }
              @for (component of decision.components; track component; let index = $index) {
                <h5 class="component-title">{{ component.applicationDecisionComponentType?.label }}</h5>
                <div>
                  @if (component.applicationDecisionComponentTypeCode === COMPONENT_TYPE.NFUP) {
                    <app-nfup
                      class="grid-2"
                      [component]="component"
                      >
                      <app-app-basic
                        [component]="component"
                        [fillRow]="true"
                        (saveAlrArea)="onSaveAlrArea(decision.uuid, component.uuid, $event)"
                        [nonZeroEmptyValidation]="decision.wasReleased"
                      ></app-app-basic>
                    </app-nfup>
                  }
                  @if (
                    component.applicationDecisionComponentTypeCode === COMPONENT_TYPE.TURP ||
                    component.applicationDecisionComponentTypeCode === COMPONENT_TYPE.COVE
                    ) {
                    <app-expiry-date
                      class="grid-2"
                      [component]="component"
                      >
                      <app-app-basic
                        [component]="component"
                        [fillRow]="true"
                        (saveAlrArea)="onSaveAlrArea(decision.uuid, component.uuid, $event)"
                        [nonZeroEmptyValidation]="decision.wasReleased"
                        ></app-app-basic
                      ></app-expiry-date>
                    }
                    @if (component.applicationDecisionComponentTypeCode === COMPONENT_TYPE.POFO) {
                      <app-app-pofo
                        class="grid-2"
                        [component]="component"
                        >
                        <app-app-basic
                          [component]="component"
                          [fillRow]="true"
                          (saveAlrArea)="onSaveAlrArea(decision.uuid, component.uuid, $event)"
                          [nonZeroEmptyValidation]="decision.wasReleased"
                          ></app-app-basic
                        ></app-app-pofo>
                      }
                      @if (component.applicationDecisionComponentTypeCode === COMPONENT_TYPE.ROSO) {
                        <app-app-roso
                          class="grid-2"
                          [component]="component"
                          >
                          <app-app-basic
                            [component]="component"
                            [fillRow]="true"
                            (saveAlrArea)="onSaveAlrArea(decision.uuid, component.uuid, $event)"
                            [nonZeroEmptyValidation]="decision.wasReleased"
                            ></app-app-basic
                          ></app-app-roso>
                        }
                        @if (component.applicationDecisionComponentTypeCode === COMPONENT_TYPE.PFRS) {
                          <app-app-pfrs
                            class="grid-2"
                            [component]="component"
                            >
                            <app-app-basic
                              [component]="component"
                              [fillRow]="true"
                              (saveAlrArea)="onSaveAlrArea(decision.uuid, component.uuid, $event)"
                              [nonZeroEmptyValidation]="decision.wasReleased"
                              ></app-app-basic
                            ></app-app-pfrs>
                          }
                          @if (component.applicationDecisionComponentTypeCode === COMPONENT_TYPE.NARU) {
                            <app-naru
                              class="grid-2"
                              [component]="component"
                              >
                              <app-app-basic
                                [component]="component"
                                [fillRow]="true"
                                (saveAlrArea)="onSaveAlrArea(decision.uuid, component.uuid, $event)"
                                [nonZeroEmptyValidation]="decision.wasReleased"
                                ></app-app-basic
                              ></app-naru>
                            }
                            @if (component.applicationDecisionComponentTypeCode === COMPONENT_TYPE.SUBD) {
                              <app-subd
                                class="grid-2"
                                [component]="component"
                                >
                                <app-app-basic
                                  [component]="component"
                                  [fillRow]="true"
                                  (saveAlrArea)="onSaveAlrArea(decision.uuid, component.uuid, $event)"
                                  [nonZeroEmptyValidation]="decision.wasReleased"
                                  ></app-app-basic
                                ></app-subd>
                              }
                              @if (
                                component.applicationDecisionComponentTypeCode === COMPONENT_TYPE.INCL ||
                                component.applicationDecisionComponentTypeCode === COMPONENT_TYPE.EXCL
                                ) {
                                <app-incl-excl
                                  class="grid-2"
                                  [component]="component"
                                  >
                                  <app-app-basic
                                    [component]="component"
                                    [fillRow]="true"
                                    (saveAlrArea)="onSaveAlrArea(decision.uuid, component.uuid, $event)"
                                    [nonZeroEmptyValidation]="decision.wasReleased"
                                    ></app-app-basic
                                  ></app-incl-excl>
                                }
                                <div class="grid-2">
                                  <div>
                                    <div class="subheading2">Agricultural Capability</div>
                                    {{ component.agCap }}
                                    @if (component.agCap === null || component.agCap === undefined) {
                                      <app-no-data></app-no-data>
                                    }
                                  </div>
                                  <div>
                                    <div class="subheading2">Agricultural Capability Source</div>
                                    {{ component.agCapSource }}
                                    @if (component.agCapSource === null || component.agCapSource === undefined) {
                                      <app-no-data
                                      ></app-no-data>
                                    }
                                  </div>
                                  @if (component.agCapMap) {
                                    <div>
                                      <div class="subheading2">Agricultural Capability Mapsheet Reference</div>
                                      {{ component.agCapMap }}
                                      @if (component.agCapMap === null || component.agCapMap === undefined) {
                                        <app-no-data></app-no-data>
                                      }
                                    </div>
                                  }
                                  @if (component.agCapConsultant) {
                                    <div>
                                      <div class="subheading2">Agricultural Capability Consultant</div>
                                      {{ component.agCapConsultant }}
                                      @if (component.agCapConsultant === null || component.agCapConsultant === undefined) {
                                        <app-no-data
                                        ></app-no-data>
                                      }
                                    </div>
                                  }
                                </div>
                              </div>
                              @if (index !== decision.components.length - 1) {
                                <hr />
                              }
                            }
                          </section>
                        }
                        <h4>Audit and Chair Review</h4>
                        <section class="decision-section-no-title">
                          <div class="grid-2">
                            <div>
                              <div class="subheading2">Audit Date</div>
                              @if (decision.auditDate) {
                                <span>{{ decision.auditDate | momentFormat }}</span>
                              }
                              @if (!decision.auditDate) {
                                <span>
                                  <app-inline-datepicker (save)="onSaveAuditDate(decision.uuid, $event)"></app-inline-datepicker>
                                </span>
                              }
                            </div>
                            <div>
                              <div class="subheading2">Chair Review</div>
                              {{ decision.chairReviewRequired ? 'Required' : 'Not Needed' }}
                            </div>
                            @if (decision.chairReviewRequired) {
                              <div>
                                <div class="subheading2">Chair Review Date</div>
                                @if (!decision.chairReviewDate) {
                                  <span>
                                    <app-inline-datepicker (save)="onSaveChairReviewDate(decision.uuid, $event)"></app-inline-datepicker>
                                  </span>
                                }
                                @if (decision.chairReviewDate) {
                                  <span>{{ decision.chairReviewDate | momentFormat }}</span>
                                }
                              </div>
                            }
                            @if (decision.chairReviewRequired) {
                              <div>
                                <div class="subheading2">Chair Review Outcome</div>
                                <app-inline-chair-review-outcome
                                  [selectedValue]="decision.chairReviewOutcome?.code"
                                  (save)="onSaveChairReviewOutcome(decision.uuid, $event)"
                                ></app-inline-chair-review-outcome>
                              </div>
                            }
                          </div>
                        </section>
                      }
                      <div class="right">
                        <div
                          matTooltip="Contact administrator if you need to delete this decision"
                          [matTooltipDisabled]="decision.canBeDeleted"
                          >
                          @if (decision.isDraft) {
                            <button
                              mat-stroked-button
                              color="warn"
                              (click)="deleteDecision(decision.uuid)"
                              [disabled]="!decision.canBeDeleted"
                              >
                              <div class="draft-btn-wrapper">
                                Delete draft
                                @if (!decision.canBeDeleted) {
                                  <mat-icon class="icon">info_outline </mat-icon>
                                }
                              </div>
                            </button>
                          }
                        </div>
                        <button mat-flat-button color="link" (click)="toggleSummary()">
                          {{ isSummary ? 'View Less' : 'View More' }}
                          <mat-icon iconPositionEnd>{{ isSummary ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </section>
              }
