

<div class="inset">
  <div class="field">
    <div class="field-heading">Date Submitted</div>

    @if (dateSubmitted !== undefined) {
      {{ dateSubmitted }}
    } @else {
      <div class="no-data">No Data</div>
    }
  </div>

  <div class="field">
    <div class="field-heading">Initial Submission Type</div>

    @if (initialSubmissionType) {
      {{ initialSubmissionType }}
    } @else {
      <div class="no-data">No Data</div>
    }
  </div>

  <div class="field full-width">
    <div class="field-heading">Alleged Contravention Narrative</div>

    @if (allegedContraventionNarrative) {
      {{ allegedContraventionNarrative }}
    } @else {
      <div class="no-data">No Data</div>
    }
  </div>

  <div class="field full-width">
    <div class="field-heading">Alleged Activity</div>

    @if (allegedActivity) {
      {{ allegedActivity }}
    } @else {
      <div class="no-data">No Data</div>
    }
  </div>

  <div class="field full-width">
    <div class="field-heading">Intake Notes</div>

    @if (intakeNotes) {
      {{ intakeNotes }}
    } @else {
      <div class="no-data">No Data</div>
    }
  </div>
</div>
