<div class="step-description">
  <h2>Primary Contact</h2>
  <p>
    Enter the contact information for the person who is submitting the SRW package to the Land Title Survey Authority.
  </p>
  <p>*All fields are required unless stated optional.</p>
</div>
<section>
  <div class="form">
    <h4>Primary Contact Information</h4>
    <form [formGroup]="form">
      <div class="form-row">
        <div>
          <label for="firstName">First Name</label>
          <mat-form-field appearance="outline">
            <input id="firstName" matInput placeholder="Enter First Name" formControlName="firstName" />
          </mat-form-field>
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="field-error">
            <mat-icon>warning</mat-icon>
            <div *ngIf="firstName.errors?.['required']">This field is required</div>
          </div>
        </div>
        <div>
          <label for="lastName">Last Name</label>
          <mat-form-field appearance="outline">
            <input id="lastName" matInput placeholder="Enter Last Name" formControlName="lastName" />
          </mat-form-field>
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="field-error">
            <mat-icon>warning</mat-icon>
            <div *ngIf="lastName.errors?.['required']">This field is required</div>
          </div>
        </div>
        <div>
          <label for="orgName">Organization Name (optional)</label>
          <mat-form-field appearance="outline">
            <input id="orgName" matInput placeholder="Enter Organization Name" formControlName="organizationName" />
          </mat-form-field>
          <div
            *ngIf="organizationName.invalid && (organizationName.dirty || organizationName.touched)"
            class="field-error"
          >
            <mat-icon>warning</mat-icon>
            <div *ngIf="organizationName.errors?.['required']">This field is required</div>
          </div>
        </div>
        <div>
          <label for="phoneNumber">Phone Number</label>
          <mat-form-field appearance="outline">
            <input
              id="phoneNumber"
              mask="(000) 000-0000"
              matInput
              maxlength="14"
              placeholder="(555) 555-5555"
              formControlName="phoneNumber"
            />
          </mat-form-field>
          <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="field-error">
            <mat-icon>warning</mat-icon>
            <div *ngIf="phoneNumber.errors?.['required']">This field is required</div>
            <div *ngIf="phoneNumber.errors?.['mask']">Invalid format</div>
          </div>
        </div>
        <div>
          <label for="email">Email</label>
          <mat-form-field appearance="outline">
            <input id="email" type="email" matInput placeholder="Enter Email" formControlName="email" />
          </mat-form-field>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="field-error">
            <mat-icon>warning</mat-icon>
            <div *ngIf="email.errors?.['required']">This field is required</div>
            <div *ngIf="email.errors?.['email']">Invalid format</div>
          </div>
        </div>
        <div>
          <label for="confirmEmail">Confirm Email</label>
          <mat-form-field appearance="outline">
            <input
              (change)="onChangeConfirmationEmail()"
              id="confirmEmail"
              type="email"
              matInput
              placeholder="Enter Email"
              formControlName="confirmEmail"
            />
          </mat-form-field>
          <div *ngIf="confirmEmail.invalid && (confirmEmail.dirty || confirmEmail.touched)" class="field-error">
            <mat-icon>warning</mat-icon>
            <div *ngIf="confirmEmail.errors?.['required']">This field is required</div>
            <div *ngIf="confirmEmail.errors?.['email']">Invalid format</div>
            <div *ngIf="confirmEmail.errors?.['notMatch']">Emails do not match</div>
          </div>
        </div>
      </div>
    </form>
    <app-warning-banner>
      The ALC's automatically generated notification response, needed to complete the LTSA SRW package, will be sent to
      the Primary Contact email address provided above.
    </app-warning-banner>
  </div>
</section>
<div class="button-container">
  <button (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
  <div>
    <button mat-stroked-button color="primary" (click)="onNavigateToStep(currentStep - 1)">
      Previous<span class="mobile-hidden"> Step</span>
    </button>
    <button mat-flat-button color="primary" (click)="onNavigateToStep(currentStep + 1)">
      Next<span class="mobile-hidden"> Step</span>
    </button>
  </div>
</div>
