@import '../../../styles/colors';

button.favorite-btn.gold {
  color: $secondary-color-dark !important;
  visibility: visible;
}

.favorite-btn {
  cursor: pointer;
  padding: 0;
  visibility: hidden;
  background-color: inherit;
  border: none;
}

.favorite-btn:hover {
  visibility: visible;
  mat-icon {
    color: $grey-dark;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}
