@import '../../../styles/colors';

button.favorite-btn.gold {
  color: $favorite-star !important;
  visibility: visible;
}

.favorite-btn {
  cursor: pointer;
  padding: 0;
  visibility: hidden;
  background-color: inherit;
  border: none;
}

.favorite-btn:hover {
  visibility: visible;
  mat-icon {
    color: $grey-dark;
  }
}
