@import "../../../../../styles/typography";
@import "../../../../../styles/colors";

.actions {
  button:not(:last-child) {
    margin-right: rem(8) !important;
  }
}

.no-data-text {
  text-align: center;
  color: $grey;
}
