<ng-template #header>
  <div class="header">
    <h6 *ngIf="application">Application ID: {{ application.fileNumber }} | {{ application.type }}</h6>
    <div>
      <button (click)="onReturnApplication()" mat-flat-button color="accent">Return Application</button>
      <button *ngIf="isOnLastStep" (click)="onDownloadPdf()" mat-flat-button color="primary">Download PDF</button>
    </div>
  </div>
</ng-template>

<ng-template #menu let-stepper="stepper">
  <div class="menu">
    <button (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
    <div>
      <div *ngIf="stepper.selectedIndex === 0"></div>
      <button
        *ngIf="stepper.selectedIndex > 0"
        mat-stroked-button
        color="primary"
        (click)="onNavigateToStep(stepper.selectedIndex - 1)"
      >
        Previous<span class="mobile-hidden"> Step</span>
      </button>
      <button
        class="next-step"
        *ngIf="!isOnLastStep"
        mat-flat-button
        color="primary"
        (click)="onNavigateToStep(stepper.selectedIndex + 1)"
      >
        Next<span class="mobile-hidden"> Step</span>
      </button>
    </div>
  </div>
</ng-template>

<app-custom-stepper
  class="review-application"
  *ngIf="!isFirstNationGovernment"
  #cdkStepper
  (selectionChange)="onStepChange()"
  (beforeSwitchStep)="onBeforeSwitchStep($event)"
>
  <cdk-step label="Contact Information">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === reviewAppSteps.ContactInformation">
      <app-review-contact-information
        (navigateToStep)="onBeforeSwitchStep($event)"
        [showErrors]="showValidationErrors"
      ></app-review-contact-information>
    </div>
    <ng-container *ngTemplateOutlet="menu; context: { stepper: cdkStepper }"></ng-container>
  </cdk-step>
  <cdk-step label="Plans & Bylaws: OCP">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === reviewAppSteps.OCP">
      <app-review-ocp
        (navigateToStep)="onBeforeSwitchStep($event)"
        [showErrors]="showValidationErrors"
      ></app-review-ocp>
    </div>
    <ng-container *ngTemplateOutlet="menu; context: { stepper: cdkStepper }"></ng-container>
  </cdk-step>
  <cdk-step label="Plans & Bylaws: Zoning">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === reviewAppSteps.Zoning">
      <app-review-zoning
        (navigateToStep)="onBeforeSwitchStep($event)"
        [showErrors]="showValidationErrors"
      ></app-review-zoning>
    </div>
    <ng-container *ngTemplateOutlet="menu; context: { stepper: cdkStepper }"></ng-container>
  </cdk-step>
  <cdk-step label="Resolution">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === reviewAppSteps.Resolution">
      <app-review-resolution
        (navigateToStep)="onBeforeSwitchStep($event)"
        [showErrors]="showValidationErrors"
      ></app-review-resolution>
    </div>
    <ng-container *ngTemplateOutlet="menu; context: { stepper: cdkStepper }"></ng-container>
  </cdk-step>
  <cdk-step label="Attachments">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === reviewAppSteps.Attachments">
      <app-review-attachments
        [$applicationDocuments]="$applicationDocuments"
        [showErrors]="showValidationErrors"
        (navigateToStep)="onBeforeSwitchStep($event)"
      ></app-review-attachments>
      <ng-container *ngTemplateOutlet="menu; context: { stepper: cdkStepper }"></ng-container>
    </div>
  </cdk-step>
  <cdk-step label="Review & Submit">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === reviewAppSteps.ReviewAndSubmit">
      <app-review-submit
        [$application]="$application"
        [$applicationDocuments]="$applicationDocuments"
        (navigateToStep)="onBeforeSwitchStep($event)"
        [stepper]="cdkStepper"
      ></app-review-submit>
    </div>
  </cdk-step>
</app-custom-stepper>

<app-custom-stepper
  class="review-application"
  *ngIf="isFirstNationGovernment"
  #cdkStepper
  (selectionChange)="onStepChange()"
  (beforeSwitchStep)="onBeforeSwitchStep($event)"
>
  <cdk-step label="Contact Information">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === reviewAppFngSteps.ContactInformation">
      <app-review-contact-information
        (navigateToStep)="onBeforeSwitchStep($event)"
        [showErrors]="showValidationErrors"
      ></app-review-contact-information>
    </div>
    <ng-container *ngTemplateOutlet="menu; context: { stepper: cdkStepper }"></ng-container>
  </cdk-step>
  <cdk-step label="Resolution">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === reviewAppFngSteps.Resolution">
      <app-review-resolution
        (navigateToStep)="onBeforeSwitchStep($event)"
        [showErrors]="showValidationErrors"
      ></app-review-resolution>
    </div>
    <ng-container *ngTemplateOutlet="menu; context: { stepper: cdkStepper }"></ng-container>
  </cdk-step>
  <cdk-step label="Attachments">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === reviewAppFngSteps.Attachments">
      <app-review-attachments
        [$applicationDocuments]="$applicationDocuments"
        [showErrors]="showValidationErrors"
        (navigateToStep)="onBeforeSwitchStep($event)"
      ></app-review-attachments>
    </div>
    <ng-container *ngTemplateOutlet="menu; context: { stepper: cdkStepper }"></ng-container>
  </cdk-step>
  <cdk-step label="Review & Submit">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div *ngIf="cdkStepper.selectedIndex === reviewAppFngSteps.ReviewAndSubmitFng">
      <app-review-submit-fng
        [$application]="$application"
        [$applicationDocuments]="$applicationDocuments"
        [stepper]="cdkStepper"
        (navigateToStep)="onBeforeSwitchStep($event)"
      ></app-review-submit-fng>
    </div>
  </cdk-step>
</app-custom-stepper>
