<ng-template #header>
  <div class="header">
    @if (application) {
      <h6>Application ID: {{ application.fileNumber }} | {{ application.type }}</h6>
    }
    <div>
      <button (click)="onReturnApplication()" mat-flat-button color="accent">Return Application</button>
      @if (isOnLastStep) {
        <button (click)="onDownloadPdf()" mat-flat-button color="primary">Download PDF</button>
      }
    </div>
  </div>
</ng-template>

<ng-template #menu let-stepper="stepper">
  <div class="menu">
    <button (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
    <div>
      @if (stepper.selectedIndex === 0) {
        <div></div>
      }
      @if (stepper.selectedIndex > 0) {
        <button
          mat-stroked-button
          color="primary"
          (click)="onNavigateToStep(stepper.selectedIndex - 1)"
          >
          Previous<span class="mobile-hidden"> Step</span>
        </button>
      }
      @if (!isOnLastStep) {
        <button
          class="next-step"
          mat-flat-button
          color="primary"
          (click)="onNavigateToStep(stepper.selectedIndex + 1)"
          >
          Next<span class="mobile-hidden"> Step</span>
        </button>
      }
    </div>
  </div>
</ng-template>

@if (!isFirstNationGovernment) {
  <app-custom-stepper
    class="review-application"
    #cdkStepper
    (selectionChange)="onStepChange()"
    (beforeSwitchStep)="onBeforeSwitchStep($event)"
    >
    <cdk-step label="Contact Information">
      <ng-container *ngTemplateOutlet="header"></ng-container>
      @if (cdkStepper.selectedIndex === reviewAppSteps.ContactInformation) {
        <div>
          <app-review-contact-information
            (navigateToStep)="onBeforeSwitchStep($event)"
            [showErrors]="showValidationErrors"
          ></app-review-contact-information>
        </div>
      }
      <ng-container *ngTemplateOutlet="menu; context: { stepper: cdkStepper }"></ng-container>
    </cdk-step>
    <cdk-step label="Plans & Bylaws: OCP">
      <ng-container *ngTemplateOutlet="header"></ng-container>
      @if (cdkStepper.selectedIndex === reviewAppSteps.OCP) {
        <div>
          <app-review-ocp
            (navigateToStep)="onBeforeSwitchStep($event)"
            [showErrors]="showValidationErrors"
          ></app-review-ocp>
        </div>
      }
      <ng-container *ngTemplateOutlet="menu; context: { stepper: cdkStepper }"></ng-container>
    </cdk-step>
    <cdk-step label="Plans & Bylaws: Zoning">
      <ng-container *ngTemplateOutlet="header"></ng-container>
      @if (cdkStepper.selectedIndex === reviewAppSteps.Zoning) {
        <div>
          <app-review-zoning
            (navigateToStep)="onBeforeSwitchStep($event)"
            [showErrors]="showValidationErrors"
          ></app-review-zoning>
        </div>
      }
      <ng-container *ngTemplateOutlet="menu; context: { stepper: cdkStepper }"></ng-container>
    </cdk-step>
    <cdk-step label="Resolution">
      <ng-container *ngTemplateOutlet="header"></ng-container>
      @if (cdkStepper.selectedIndex === reviewAppSteps.Resolution) {
        <div>
          <app-review-resolution
            (navigateToStep)="onBeforeSwitchStep($event)"
            [showErrors]="showValidationErrors"
          ></app-review-resolution>
        </div>
      }
      <ng-container *ngTemplateOutlet="menu; context: { stepper: cdkStepper }"></ng-container>
    </cdk-step>
    <cdk-step label="Attachments">
      <ng-container *ngTemplateOutlet="header"></ng-container>
      @if (cdkStepper.selectedIndex === reviewAppSteps.Attachments) {
        <div>
          <app-review-attachments
            [$applicationDocuments]="$applicationDocuments"
            [showErrors]="showValidationErrors"
            (navigateToStep)="onBeforeSwitchStep($event)"
          ></app-review-attachments>
          <ng-container *ngTemplateOutlet="menu; context: { stepper: cdkStepper }"></ng-container>
        </div>
      }
    </cdk-step>
    <cdk-step label="Review & Submit">
      <ng-container *ngTemplateOutlet="header"></ng-container>
      @if (cdkStepper.selectedIndex === reviewAppSteps.ReviewAndSubmit) {
        <div>
          <app-review-submit
            [$application]="$application"
            [$applicationDocuments]="$applicationDocuments"
            (navigateToStep)="onBeforeSwitchStep($event)"
            [stepper]="cdkStepper"
          ></app-review-submit>
        </div>
      }
    </cdk-step>
  </app-custom-stepper>
}

@if (isFirstNationGovernment) {
  <app-custom-stepper
    class="review-application"
    #cdkStepper
    (selectionChange)="onStepChange()"
    (beforeSwitchStep)="onBeforeSwitchStep($event)"
    >
    <cdk-step label="Contact Information">
      <ng-container *ngTemplateOutlet="header"></ng-container>
      @if (cdkStepper.selectedIndex === reviewAppFngSteps.ContactInformation) {
        <div>
          <app-review-contact-information
            (navigateToStep)="onBeforeSwitchStep($event)"
            [showErrors]="showValidationErrors"
          ></app-review-contact-information>
        </div>
      }
      <ng-container *ngTemplateOutlet="menu; context: { stepper: cdkStepper }"></ng-container>
    </cdk-step>
    <cdk-step label="Resolution">
      <ng-container *ngTemplateOutlet="header"></ng-container>
      @if (cdkStepper.selectedIndex === reviewAppFngSteps.Resolution) {
        <div>
          <app-review-resolution
            (navigateToStep)="onBeforeSwitchStep($event)"
            [showErrors]="showValidationErrors"
          ></app-review-resolution>
        </div>
      }
      <ng-container *ngTemplateOutlet="menu; context: { stepper: cdkStepper }"></ng-container>
    </cdk-step>
    <cdk-step label="Attachments">
      <ng-container *ngTemplateOutlet="header"></ng-container>
      @if (cdkStepper.selectedIndex === reviewAppFngSteps.Attachments) {
        <div>
          <app-review-attachments
            [$applicationDocuments]="$applicationDocuments"
            [showErrors]="showValidationErrors"
            (navigateToStep)="onBeforeSwitchStep($event)"
          ></app-review-attachments>
        </div>
      }
      <ng-container *ngTemplateOutlet="menu; context: { stepper: cdkStepper }"></ng-container>
    </cdk-step>
    <cdk-step label="Review & Submit">
      <ng-container *ngTemplateOutlet="header"></ng-container>
      @if (cdkStepper.selectedIndex === reviewAppFngSteps.ReviewAndSubmitFng) {
        <div>
          <app-review-submit-fng
            [$application]="$application"
            [$applicationDocuments]="$applicationDocuments"
            [stepper]="cdkStepper"
            (navigateToStep)="onBeforeSwitchStep($event)"
          ></app-review-submit-fng>
        </div>
      }
    </cdk-step>
  </app-custom-stepper>
}
