@if (_applicationSubmission) {
  <div class="review-table">
    <div class="subheading2 full-width">Provide the name and contact information for all transferees</div>
    @if (!isMobile) {
      <div class="full-width transferee-table">
        <div class="subheading2">Type</div>
        <div class="subheading2">Full Name</div>
        <div class="subheading2">Organization Name</div>
        <div class="subheading2">Phone</div>
        <div class="subheading2">Email</div>
        @for (transferee of transferees; track transferee) {
          <div>{{ transferee.type.code === 'INDV' ? 'Individual' : 'Organization' }}</div>
          <div>{{ transferee.displayName }}</div>
          <div>
            {{ transferee.organizationName }}
            @if (!transferee.organizationName) {
              <app-no-data [showRequired]="false"></app-no-data>
            }
          </div>
          <div>
            @if (transferee.phoneNumber) {
              <span>{{ transferee.phoneNumber | mask: '(000) 000-0000' }}</span>
            }
          </div>
          <div>{{ transferee.email }}</div>
        }
      </div>
    }
    @if (isMobile) {
      <div class="transferee-mobile-list">
        @for (transferee of transferees; track transferee; let last = $last) {
          <app-transferee-mobile-card
            [transferee]="transferee"
            [isLast]="last"
            [isReviewStep]="true"
            >
          </app-transferee-mobile-card>
        }
      </div>
    }
    @if (transferees.length === 0) {
      <app-no-data class="full-width" [showRequired]="showErrors"></app-no-data>
    }
    <div class="subheading2 grid-1">How many hectares will the covenant impact?</div>
    <div class="grid-double">
      {{ _applicationSubmission.coveAreaImpacted }}@if (_applicationSubmission.coveAreaImpacted) {
      <span> ha</span>
    }
    @if (!_applicationSubmission.coveAreaImpacted) {
      <app-no-data [showRequired]="showErrors"></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">What is the purpose of this covenant?</div>
  <div class="grid-double">
    {{ _applicationSubmission.purpose }}
    @if (!_applicationSubmission.purpose) {
      <app-no-data [showRequired]="showErrors"></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Explain how the covenant impacts the use of agricultural land for farm purposes.</div>
  <div class="grid-double">
    @if (_applicationSubmission.coveFarmImpact !== null) {
      <span>
        {{ _applicationSubmission.coveFarmImpact }}
      </span>
    }
    @if (!_applicationSubmission.coveFarmImpact) {
      <app-no-data [showRequired]="showErrors"></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    @for (map of proposalMap; track map) {
      @if (isMobile) {
        <a (click)="downloadFile(map.documentUuid)">{{ map.fileName }}</a>
      }
      @if (!isMobile) {
        <a routerLink="/document/{{ map.documentUuid }}" target="_blank">{{ map.fileName }}</a>
      }
    }
    @if (proposalMap.length === 0) {
      <app-no-data [showRequired]="showErrors"></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Do you have a draft copy of the covenant?</div>
  <div class="grid-double">
    @if (_applicationSubmission.coveHasDraft !== null) {
      <span>
        {{ _applicationSubmission.coveHasDraft ? 'Yes' : 'No' }}
      </span>
    }
    @if (_applicationSubmission.coveHasDraft === null) {
      <app-no-data [showRequired]="showErrors"></app-no-data>
    }
  </div>
  @if (_applicationSubmission.coveHasDraft) {
    <div class="subheading2 grid-1">Draft Covenant</div>
    <div class="grid-double">
      @for (file of srwTerms; track file) {
        <div>
          @if (isMobile) {
            <a (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
          }
          @if (!isMobile) {
            <a routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
          }
        </div>
      }
      @if (srwTerms.length === 0) {
        <app-no-data
          [showRequired]="showErrors && !!_applicationSubmission.coveHasDraft"
        ></app-no-data>
      }
    </div>
  }
  @if (showEdit) {
    <div class="edit-button">
      <button mat-flat-button (click)="onEditSection(5)" color="accent">Edit Section</button>
    </div>
  }
</div>
}
