@use '../../../../../styles/functions' as *;
@use '../../../../../styles/colors';

.transferee-table {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr) minmax(max-content, 1fr) minmax(max-content, 1fr) minmax(max-content, 1fr);
  overflow-x: auto;
  grid-column-gap: rem(36);
  grid-row-gap: rem(12);
  overflow: unset;
  margin-bottom: rem(12);
}
