<div *ngIf="noiSubmission">
  <div class="header">
    <h2>ALC Review and Decision</h2>
  </div>
  <div *ngIf="noiSubmission.status.code === NOI_SUBMISSION_STATUS.IN_PROGRESS" class="warning">
    <mat-icon>info</mat-icon>This section will update after the Notice of Intent is submitted to the ALC.
  </div>
  <div *ngIf="noiSubmission.status.code !== NOI_SUBMISSION_STATUS.IN_PROGRESS">
    <app-decisions [fileNumber]="noiSubmission.fileNumber"></app-decisions>
    <app-submission-documents [$noiDocuments]="$noiDocuments"></app-submission-documents>
  </div>
</div>
