<section>
  <app-parcel
    *ngIf="files && submittedApplication"
    [files]="files"
    [application]="submittedApplication"
    parcelType="application"
  ></app-parcel>
  <div class="review-table edit-section">
    <div class="full-width center">
      <button *ngIf="showEdit" (click)="onEdit(0)" mat-flat-button color="accent">Edit Section</button>
    </div>
  </div>
</section>
<section>
  <app-parcel
    *ngIf="files && submittedApplication"
    [files]="files"
    [application]="submittedApplication"
    parcelType="other"
  ></app-parcel>
  <div class="review-table edit-section">
    <div class="full-width center">
      <button *ngIf="showEdit" (click)="onEdit(1)" mat-flat-button color="accent">Edit Section</button>
    </div>
  </div>
</section>
<section>
  <h3>Primary Contact Information</h3>
  <div *ngIf="submittedApplication" class="review-table">
    <div class="subheading2 grid-1">First Name</div>
    <div class="grid-double">
      {{ submittedApplication.primaryContact.firstName }}
    </div>
    <div class="subheading2 grid-1">Last Name</div>
    <div class="grid-double">
      {{ submittedApplication.primaryContact.lastName }}
    </div>
    <div class="subheading2 grid-1">
      <span *ngIf="submittedApplication.primaryContact.type.code !== 'CRWN'">Organization</span>
      <span *ngIf="submittedApplication.primaryContact.type.code === 'CRWN'">Ministry/Department Responsible</span>
    </div>
    <div class="grid-double">
      {{ submittedApplication.primaryContact.organizationName }}
    </div>
    <div class="subheading2 grid-1">Phone</div>
    <div class="grid-double">
      {{ submittedApplication.primaryContact.phoneNumber }}
    </div>
    <div class="subheading2 grid-1">Email</div>
    <div class="grid-double">
      {{ submittedApplication.primaryContact.email }}
    </div>
    <ng-container *ngIf="authorizationLetters.length > 0">
      <div class="subheading2 grid-1">Authorization Letter(s)</div>
      <div class="grid-double">
        <div *ngFor="let file of authorizationLetters">
          <a (click)="openFile(file.uuid)">{{ file.fileName }}</a>
        </div>
      </div>
    </ng-container>
    <div class="full-width center">
      <button *ngIf="showEdit" (click)="onEdit(2)" mat-flat-button color="accent">Edit Section</button>
    </div>
  </div>
</section>
<section>
  <h3>Land Use</h3>
  <div *ngIf="submittedApplication" class="review-table">
    <div class="full-width">
      <h4>Land Use of Parcel(s) under Application</h4>
    </div>
    <div class="subheading2 grid-1">
      Quantify and describe in detail all agriculture that currently takes place on the parcel(s).
    </div>
    <div class="grid-double">
      {{ submittedApplication.parcelsAgricultureDescription }}
    </div>
    <div class="subheading2 grid-1">
      Quantify and describe in detail all agricultural improvements made to the parcel(s).
    </div>
    <div class="grid-double">
      {{ submittedApplication.parcelsAgricultureImprovementDescription }}
    </div>
    <div class="subheading2 grid-1">
      Quantify and describe all non-agricultural uses that currently take place on the parcel(s).
    </div>
    <div class="grid-double">
      {{ submittedApplication.parcelsNonAgricultureUseDescription }}
    </div>
    <div class="full-width">
      <h4>Land Use of Adjacent Parcels</h4>
    </div>
    <div class="adjacent-parcels full-width">
      <div class="grid-1 subheading2"></div>
      <div class="grid-2 subheading2">Main Land Use Type</div>
      <div class="grid-3 subheading2">Specific Activity</div>
      <div class="grid-1 subheading2">North</div>
      <div class="grid-2">
        {{ submittedApplication.northLandUseType }}
      </div>
      <div class="grid-3">
        {{ submittedApplication.northLandUseTypeDescription }}
      </div>
      <div class="grid-1 subheading2">East</div>
      <div class="grid-2">
        {{ submittedApplication.eastLandUseType }}
      </div>
      <div class="grid-3">
        {{ submittedApplication.eastLandUseTypeDescription }}
      </div>
      <div class="grid-1 subheading2">South</div>
      <div class="grid-2">
        {{ submittedApplication.southLandUseType }}
      </div>
      <div class="grid-3">
        {{ submittedApplication.southLandUseTypeDescription }}
      </div>
      <div class="grid-1 subheading2">West</div>
      <div class="grid-2">
        {{ submittedApplication.westLandUseType }}
      </div>
      <div class="grid-3">
        {{ submittedApplication.westLandUseTypeDescription }}
      </div>
    </div>
    <div class="full-width center">
      <button *ngIf="showEdit" (click)="onEdit(4)" mat-flat-button color="accent">Edit Section</button>
    </div>
  </div>
</section>
<section>
  <h3>Proposal</h3>
  <app-nfu-details
    *ngIf="submittedApplication && applicationType === 'NFUP'"
    [applicationSubmission]="submittedApplication"
  ></app-nfu-details>
  <app-tur-details
    *ngIf="submittedApplication && applicationType === 'TURP'"
    [applicationSubmission]="submittedApplication"
    [files]="files"
  ></app-tur-details>
  <app-subd-details
    *ngIf="submittedApplication && applicationType === 'SUBD'"
    [applicationSubmission]="submittedApplication"
    [files]="files"
  ></app-subd-details>
  <app-roso-details
    *ngIf="submittedApplication && applicationType === 'ROSO'"
    [applicationSubmission]="submittedApplication"
    [files]="files"
  ></app-roso-details>
  <app-pofo-details
    *ngIf="submittedApplication && applicationType === 'POFO'"
    [applicationSubmission]="submittedApplication"
    [files]="files"
  ></app-pofo-details>
  <app-pfrs-details
    *ngIf="submittedApplication && applicationType === 'PFRS'"
    [applicationSubmission]="submittedApplication"
    [files]="files"
  ></app-pfrs-details>
  <app-naru-details
    *ngIf="submittedApplication && applicationType === 'NARU'"
    [applicationSubmission]="submittedApplication"
    [files]="files"
  ></app-naru-details>
  <div class="review-table edit-section">
    <div class="full-width center">
      <button *ngIf="showEdit" (click)="onEdit(5)" mat-flat-button color="accent">Edit Section</button>
    </div>
  </div>
</section>
<section>
  <h3>Optional Documents</h3>
  <div *ngIf="submittedApplication" class="review-table">
    <div class="other-attachments full-width">
      <div class="grid-1 subheading2">Type</div>
      <div class="grid-2 subheading2">Description</div>
      <div class="grid-3 subheading2">File Name</div>
      <ng-container *ngFor="let file of otherFiles">
        <div class="grid-1">
          {{ file.type?.label }}
        </div>
        <div class="grid-2">
          {{ file.description }}
        </div>
        <div class="grid-3">
          <a (click)="openFile(file.uuid)">{{ file.fileName }}</a>
        </div>
      </ng-container>
      <div *ngIf="otherFiles.length === 0" class="full-width">No optional attachments</div>
    </div>
    <div class="full-width center">
      <button *ngIf="showEdit" (click)="onEdit(6)" mat-flat-button color="accent">Edit Section</button>
    </div>
  </div>
</section>
