<div class="split header">
  <h3>Applicant Info</h3>
</div>
<section>
  @if (submission) {
    <app-parcel [application]="submission"></app-parcel>
  }
  <div class="review-table edit-section">
    <div class="full-width center">
      @if (showEdit) {
        <button [disabled]="disableEdit" (click)="onEdit(0)" mat-flat-button color="accent">
          Edit Section
        </button>
      }
    </div>
  </div>
</section>
<section>
  <h4>Other Owned Parcels</h4>
  @if (submission) {
    <div class="review-table">
      <div class="subheading2 grid-1">
        Do any of the land owners added previously own or lease other parcels that might inform this application process?
      </div>
      <div class="grid-double" data-testid="has-other-parcels">
        @if (submission.hasOtherParcelsInCommunity !== null) {
          <span>{{
            submission.hasOtherParcelsInCommunity ? 'Yes' : 'No'
          }}</span>
        }
        @if (submission.hasOtherParcelsInCommunity === null) {
          <app-no-data></app-no-data>
        }
      </div>
      @if (submission.hasOtherParcelsInCommunity) {
        <div class="subheading2 grid-1">
          Describe the other parcels including their location, who owns or leases them, and their use.
        </div>
        <div class="grid-double" data-testid="other-parcels-description">
          {{ submission.otherParcelsDescription }}
          @if (!submission.otherParcelsDescription) {
            <app-no-data></app-no-data>
          }
        </div>
      }
    </div>
  }
  <div class="review-table edit-section">
    <div class="full-width center">
      @if (showEdit) {
        <button [disabled]="disableEdit" (click)="onEdit(1)" mat-flat-button color="accent">
          Edit Section
        </button>
      }
    </div>
  </div>
</section>
<section>
  <h4>Primary Contact Information</h4>
  @if (submission) {
    <div class="review-table">
      <div class="subheading2 grid-1">Type</div>
      <div class="grid-double" data-testid="primary-contact-type">
        {{ submission.primaryContact?.type?.label }}
        @if (!submission.primaryContact?.type?.label) {
          <app-no-data></app-no-data>
        }
      </div>
      <div class="subheading2 grid-1">First Name</div>
      <div class="grid-double" data-testid="primary-contact-first-name">
        {{ submission.primaryContact?.firstName }}
        @if (!submission.primaryContact?.firstName) {
          <app-no-data></app-no-data>
        }
      </div>
      <div class="subheading2 grid-1">Last Name</div>
      <div class="grid-double" data-testid="primary-contact-last-name">
        {{ submission.primaryContact?.lastName }}
        @if (!submission.primaryContact?.lastName) {
          <app-no-data></app-no-data>
        }
      </div>
      <div class="subheading2 grid-1">
        @if (submission.primaryContact?.type?.code !== 'CRWN' && submission.primaryContact?.type?.code !== 'GOVR') {
          <span
            >Organization</span
            >
          }
          @if (submission.primaryContact?.type?.code === 'CRWN') {
            <span>Ministry/Department Responsible</span>
          }
          @if (submission.primaryContact?.type?.code === 'GOVR') {
            <span>Department</span>
          }
        </div>
        <div class="grid-double" data-testid="primary-contact-organization">
          {{ submission.primaryContact?.organizationName }}
          @if (!submission.primaryContact?.organizationName) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2 grid-1">Phone</div>
        <div class="grid-double" data-testid="primary-contact-phone-number">
          {{ submission.primaryContact?.phoneNumber }}
          @if (!submission.primaryContact?.phoneNumber) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2 grid-1">Email</div>
        <div class="grid-double" data-testid="primary-contact-email">
          {{ submission.primaryContact?.email }}
          @if (!submission.primaryContact?.email) {
            <app-no-data></app-no-data>
          }
        </div>
        @if (authorizationLetters.length > 0) {
          <div class="subheading2 grid-1">Authorization Letter(s)</div>
          <div class="grid-double">
            @for (file of authorizationLetters; track file) {
              <div>
                <a routerLink="/document/{{ file.documentUuid }}" target="_blank" data-testid="authorization-letter">{{
                  file.fileName
                }}</a>
              </div>
            }
          </div>
        }
        <div class="full-width center">
          @if (showEdit) {
            <button [disabled]="disableEdit" (click)="onEdit(2)" mat-flat-button color="accent">
              Edit Section
            </button>
          }
        </div>
      </div>
    }
  </section>
  @if (showFullApp) {
    <section>
      <h4>Land Use</h4>
      @if (submission) {
        <div class="review-table">
          <div class="full-width">
            <h5>Land Use of Parcel(s) under Application</h5>
          </div>
          <div class="subheading2 grid-1">Describe all agriculture that currently takes place on the parcel(s).</div>
          <div class="grid-double" data-testid="parcels-agriculture-description">
            {{ submission.parcelsAgricultureDescription }}
          </div>
          <div class="subheading2 grid-1">Describe all agricultural improvements made to the parcel(s).</div>
          <div class="grid-double" data-testid="parcels-agriculture-improvement-description">
            {{ submission.parcelsAgricultureImprovementDescription }}
          </div>
          <div class="subheading2 grid-1">Describe all other uses that currently take place on the parcel(s).</div>
          <div class="grid-double" data-testid="parcels-non-agriculture-description">
            {{ submission.parcelsNonAgricultureUseDescription }}
          </div>
          <div class="full-width">
            <h5>Land Use of Adjacent Parcels</h5>
          </div>
          <div class="adjacent-parcels full-width">
            <div class="grid-1 subheading2"></div>
            <div class="grid-2 subheading2">Main Land Use Type</div>
            <div class="grid-3 subheading2">Specific Activity</div>
            <div class="grid-1 subheading2">North</div>
            <div class="grid-2" data-testid="north-land-use-type">
              {{ submission.northLandUseType }}
            </div>
            <div class="grid-3" data-testid="north-land-use-description">
              {{ submission.northLandUseTypeDescription }}
            </div>
            <div class="grid-1 subheading2">East</div>
            <div class="grid-2" data-testid="east-land-use-type">
              {{ submission.eastLandUseType }}
            </div>
            <div class="grid-3" data-testid="east-land-use-description">
              {{ submission.eastLandUseTypeDescription }}
            </div>
            <div class="grid-1 subheading2">South</div>
            <div class="grid-2" data-testid="south-land-use-type">
              {{ submission.southLandUseType }}
            </div>
            <div class="grid-3" data-testid="south-land-use-description">
              {{ submission.southLandUseTypeDescription }}
            </div>
            <div class="grid-1 subheading2">West</div>
            <div class="grid-2" data-testid="west-land-use-type">
              {{ submission.westLandUseType }}
            </div>
            <div class="grid-3" data-testid="west-land-use-description">
              {{ submission.westLandUseTypeDescription }}
            </div>
          </div>
          <div class="full-width center">
            @if (showEdit) {
              <button [disabled]="disableEdit" (click)="onEdit(4)" mat-flat-button color="accent">
                Edit Section
              </button>
            }
          </div>
        </div>
      }
    </section>
  }
  @if (showFullApp) {
    <section>
      <h4>Proposal</h4>
      @if (submission && applicationType === 'NFUP') {
        <app-nfu-details
          [applicationSubmission]="submission"
          [files]="files"
        ></app-nfu-details>
      }
      @if (submission && applicationType === 'TURP') {
        <app-tur-details
          [applicationSubmission]="submission"
          [files]="files"
        ></app-tur-details>
      }
      @if (submission && applicationType === 'SUBD') {
        <app-subd-details
          [applicationSubmission]="submission"
          [files]="files"
        ></app-subd-details>
      }
      @if (submission && applicationType === 'ROSO') {
        <app-roso-details
          [applicationSubmission]="submission"
          [files]="files"
        ></app-roso-details>
      }
      @if (submission && applicationType === 'POFO') {
        <app-pofo-details
          [applicationSubmission]="submission"
          [files]="files"
        ></app-pofo-details>
      }
      @if (submission && applicationType === 'PFRS') {
        <app-pfrs-details
          [applicationSubmission]="submission"
          [files]="files"
        ></app-pfrs-details>
      }
      @if (submission && applicationType === 'NARU') {
        <app-naru-details
          [applicationSubmission]="submission"
          [files]="files"
        ></app-naru-details>
      }
      @if (submission && applicationType === 'EXCL') {
        <app-excl-details
          [applicationSubmission]="submission"
          [files]="files"
          >
        </app-excl-details>
      }
      @if (submission && applicationType === 'INCL') {
        <app-incl-details
          [applicationSubmission]="submission"
          [files]="files"
          >
        </app-incl-details>
      }
      @if (submission && applicationType === 'COVE') {
        <app-cove-details
          [applicationSubmission]="submission"
          [files]="files"
          >
        </app-cove-details>
      }
      <div class="review-table edit-section">
        <div class="full-width center">
          @if (showEdit) {
            <button [disabled]="disableEdit" (click)="onEdit(5)" mat-flat-button color="accent">
              Edit Section
            </button>
          }
        </div>
      </div>
    </section>
  }
  @if (showFullApp) {
    <section>
      <h4>Optional Documents</h4>
      @if (submission) {
        <div class="review-table">
          <div class="other-attachments full-width">
            <div class="grid-1 subheading2">File Name</div>
            <div class="grid-2 subheading2">Type</div>
            <div class="grid-3 subheading2">Description</div>
            @for (file of otherFiles; track file) {
              <div class="grid-1" data-testid="optional-document-file-name">
                <a routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
              </div>
              <div class="grid-2" data-testid="optional-document-type">
                {{ file.type?.label }}
              </div>
              <div class="grid-3" data-testid="optional-document-description">
                {{ file.description }}
              </div>
            }
            @if (otherFiles.length === 0) {
              <div class="full-width">No optional attachments</div>
            }
          </div>
          <div class="full-width center">
            @if (showEdit) {
              <button [disabled]="disableEdit" (click)="onEdit(6)" mat-flat-button color="accent">
                Edit Section
              </button>
            }
          </div>
        </div>
      }
    </section>
  }
