<mat-card [ngClass]="{ 'last-card': isLast, 'review-step': isReviewStep }">
  <mat-card-header>
    <mat-card-title>
      {{ transferee.displayName }}
    </mat-card-title>
    @if (!isReviewStep) {
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEdit()">
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="onRemove()">
          <span>Remove</span>
        </button>
      </mat-menu>
    }
  </mat-card-header>
  <mat-card-content>
    @if (transferee.organizationName) {
      <span>{{ transferee.organizationName }}</span>
    }
    @if (transferee.phoneNumber) {
      <span>Phone: {{ transferee.phoneNumber | mask: '(000) 000-0000' }}</span>
    }
    @if (transferee.email) {
      <span>Email: {{ transferee.email }}</span>
    }
  </mat-card-content>
</mat-card>
