@if (_application) {
  <div class="review-table">
    <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
    <div class="grid-double" data-testid="tur-purpose">
      {{ _application.purpose }}
    </div>
    <div class="subheading2 grid-1">
      Specify any agricultural activities such as livestock operations, greenhouses or horticultural activities in
      proximity to the proposal.
    </div>
    <div class="grid-double" data-testid="tur-agricultural-activities">
      {{ _application.turAgriculturalActivities }}
    </div>
    <div class="subheading2 grid-1">
      What steps will you take to reduce potential negative impacts on surrounding agricultural lands?
    </div>
    <div class="grid-double" data-testid="tur-reduce-negative-impacts">
      {{ _application.turReduceNegativeImpacts }}
    </div>
    <div class="subheading2 grid-1">Could this proposal be accommodated on lands outside of the ALR?</div>
    <div class="grid-double" data-testid="tur-outside-lands">
      {{ _application.turOutsideLands }}
    </div>
    <div class="subheading2 grid-1">Total area of corridor</div>
    <div class="grid-double" data-testid="tur-total-corridor-area">
      {{ _application.turTotalCorridorArea }} @if (_application.turTotalCorridorArea) {
      <span>ha</span>
    }
  </div>
  <div class="subheading2 grid-1">Proof of Serving Notice</div>
  <div class="grid-double" data-testid="tur-proof-of-serving-notice">
    @for (notice of servingNotice; track notice) {
      <a routerLink="/document/{{ notice.documentUuid }}" target="_blank">
        {{ notice.fileName }}
      </a>
    }
  </div>
  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double" data-testid="tur-proposal-map">
    @for (file of proposalMap; track file) {
      <a routerLink="/document/{{ file.documentUuid }}" target="_blank">
        {{ file.fileName }}
      </a>
    }
  </div>
</div>
}
