<div *ngIf="_noiSubmission" class="review-table">
  <div class="subheading2 grid-1">
    {{ firstQuestion }}
    <app-updated-banner *ngIf="updatedFields.includes('soilIsRemovingSoilForNewStructure')"></app-updated-banner>
  </div>
  <div class="grid-double">
    <span *ngIf="_noiSubmission.soilIsRemovingSoilForNewStructure !== null">
      {{ _noiSubmission.soilIsRemovingSoilForNewStructure ? 'Yes' : 'No' }}
    </span>
    <app-no-data
      [showRequired]="showErrors"
      *ngIf="_noiSubmission.soilIsRemovingSoilForNewStructure === null"
    ></app-no-data>
  </div>

  <ng-container *ngIf="_noiSubmission.soilIsRemovingSoilForNewStructure">
    <div class="full-width soil-table">
      <div class="grid-1 subheading2">#</div>
      <div class="grid-2 subheading2">Type</div>
      <div class="grid-3 subheading2">Area</div>
      <ng-container *ngFor="let structure of _noiSubmission.soilProposedStructures; let i = index">
        <div class="grid-1">
          {{ i + 1 }}
        </div>
        <div class="grid-2">
          {{ structure.type }}
          <app-no-data [showRequired]="showErrors" *ngIf="!structure.type"></app-no-data>
        </div>
        <div class="grid-3">
          {{ structure.area }}
          <app-no-data [showRequired]="showErrors" *ngIf="!structure.area"></app-no-data>
        </div>
      </ng-container>
      <div *ngIf="_noiSubmission.soilProposedStructures.length === 0" class="full-width">
        <app-no-data [showRequired]="showErrors"></app-no-data>
      </div>
    </div>

    <ng-container *ngIf="isSoilStructureFarmUseReasonVisible">
      <div class="subheading2 grid-1">
        Describe how the structure is necessary for farm use
        <app-updated-banner *ngIf="updatedFields.includes('soilStructureFarmUseReason')"></app-updated-banner>
      </div>
      <div class="grid-double">
        {{ _noiSubmission.soilStructureFarmUseReason }}
        <app-no-data [showRequired]="showErrors" *ngIf="!_noiSubmission.soilStructureFarmUseReason"></app-no-data>
      </div>
    </ng-container>

    <ng-container *ngIf="isSoilStructureResidentialUseReasonVisible">
      <div class="subheading2 grid-1">
        Describe how the structure is necessary for residential use
        <app-updated-banner *ngIf="updatedFields.includes('soilStructureResidentialUseReason')"></app-updated-banner>
      </div>
      <div class="grid-double">
        {{ _noiSubmission.soilStructureResidentialUseReason }}
        <app-no-data
          [showRequired]="showErrors"
          *ngIf="!_noiSubmission.soilStructureResidentialUseReason"
        ></app-no-data>
      </div>
    </ng-container>

    <ng-container *ngIf="isSoilAgriParcelActivityVisible">
      <div class="subheading2 grid-1">
        Describe the current agricultural activity on the parcel(s)
        <app-updated-banner *ngIf="updatedFields.includes('soilAgriParcelActivity')"></app-updated-banner>
      </div>
      <div class="grid-double">
        {{ _noiSubmission.soilAgriParcelActivity }}
        <app-no-data [showRequired]="showErrors" *ngIf="!_noiSubmission.soilAgriParcelActivity"></app-no-data>
      </div>
    </ng-container>

    <ng-container *ngIf="isSoilStructureResidentialAccessoryUseReasonVisible">
      <div class="subheading2 grid-1">
        Describe the intended use of the residential accessory structure
        <app-updated-banner
          *ngIf="updatedFields.includes('soilStructureResidentialAccessoryUseReason')"
        ></app-updated-banner>
      </div>
      <div class="grid-double">
        {{ _noiSubmission.soilStructureResidentialAccessoryUseReason }}
        <app-no-data
          [showRequired]="showErrors"
          *ngIf="!_noiSubmission.soilStructureResidentialAccessoryUseReason"
        ></app-no-data>
      </div>
    </ng-container>

    <div class="subheading2 grid-1">Detailed Building Plan(s)</div>
    <div class="grid-double multiple-documents">
      <a *ngFor="let file of buildingPlans" (click)="openFile(file.uuid)">
        {{ file.fileName }}
      </a>
      <app-no-data [showRequired]="showErrors" *ngIf="buildingPlans.length === 0"></app-no-data>
    </div>
  </ng-container>

  <div *ngIf="showEdit" class="edit-button">
    <button mat-flat-button (click)="onEditSection(5)" color="accent">Edit Section</button>
  </div>
</div>
