@use '../../../styles/functions' as *;
@use '../../../styles/colors';

.header {
  margin: rem(24) 0;
  display: flex;
  flex-direction: column;

  button {
    margin: rem(8) 0 rem(8) rem(24) !important;
  }

  @media screen and (min-width: $tabletBreakpoint) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button {
      margin-top: 0 !important;
    }
  }
}

:host::ng-deep {
  .field-error {
    color: colors.$error-color;
    font-size: rem(15);
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: rem(4);
  }

  .mat-horizontal-content-container {
    padding: 0;
    min-height: 100%;
  }

  .mat-horizontal-stepper-wrapper {
    min-height: 100%;
  }

  .subtext {
    margin: rem(8) 0 !important;
  }

  .mat-step-header .mat-step-icon-selected {
    color: #fff;
  }

  .mat-step-header .mat-step-label.mat-step-label-active {
    display: none;
  }

  .mat-step-label {
    display: none;
  }

  @media screen and (min-width: $tabletBreakpoint) {
    .mat-step-header .mat-step-label.mat-step-label-active {
      display: inherit;
    }

    .mat-step-label {
      display: inherit;
    }
  }

  .review-step {
    min-height: 100%;
  }

  .mobile-hidden {
    display: none;

    @media screen and (min-width: $tabletBreakpoint) {
      display: initial;
    }
  }

  .tablet-hidden {
    display: contents;

    @media screen and (min-width: $tabletBreakpoint) {
      display: none;
    }
  }

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: rem(33);
  }

  .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    background-color: colors.$primary-color-light;
  }

  .review-application {
    .description {
      margin-top: rem(12);
      margin-bottom: rem(20);
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        align-items: center;
      }

      .save-button {
        margin-top: rem(16) !important;
        width: 100%;
      }

      @media screen and (min-width: $tabletBreakpoint) {
        flex-direction: row;
        justify-content: space-between;

        .save-button {
          margin-left: rem(12) !important;
          margin-top: unset !important;
          width: unset;
        }
      }
    }

    .button-container {
      margin-top: rem(40);
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;

      @media screen and (min-width: $tabletBreakpoint) {
        flex-direction: row;
        justify-content: space-between;
      }

      div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: rem(8);

        @media screen and (min-width: $tabletBreakpoint) {
          display: flex;
          justify-content: space-between;
        }

        button {
          margin-bottom: rem(24) !important;

          @media screen and (min-width: $tabletBreakpoint) {
            margin-left: rem(24) !important;
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }
}
