<div>
  <div>
    <div class="subheading2">ALR Area Impacted
      <ng-container *ngIf="component.noticeOfIntentDecisionComponentTypeCode !== 'NARU'">(ha)</ng-container>
      <ng-container *ngIf="component.noticeOfIntentDecisionComponentTypeCode === 'NARU'">(m<sup>2</sup>)</ng-container>
    </div>
  </div>
  <app-inline-number
    [value]="component.alrArea?.toString()"
    (save)="onSaveAlrArea($event)"
    [nonZeroEmptyValidation]="nonZeroEmptyValidation"
    [decimals]="5"
  ></app-inline-number>
</div>
