@if (submission?.soilFillTypeToPlace) {
  <div>
    <div class="subheading2 header">Type, origin and quality of fill proposed to be placed.</div>
    {{ submission?.soilFillTypeToPlace }}
  </div>
}

@if (submission?.soilTypeRemoved) {
  <div>
    <div class="subheading2 header">Type of soil to be removed.</div>
    {{ submission?.soilTypeRemoved }}
  </div>
}

@if (submission) {
  <div>
    <table>
      <thead>
        <th></th>
        @if (submission.soilToRemoveVolume !== null) {
          <th>Soil to be Removed</th>
        }
        @if (submission.soilToPlaceVolume !== null) {
          <th>Fill to be Placed</th>
        }
      </thead>
      <tbody>
        <tr>
          <td class="soil-table-label">Volume</td>
          @if (submission.soilToRemoveVolume !== null) {
            <td>{{ submission.soilToRemoveVolume }} m<sup>3</sup></td>
          }
          @if (submission.soilToPlaceVolume !== null) {
            <td>{{ submission.soilToPlaceVolume }} m<sup>3</sup></td>
          }
        </tr>
        <tr>
          <td class="soil-table-label">Area</td>
          @if (submission.soilToRemoveArea !== null) {
            <td>{{ submission.soilToRemoveArea }} m<sup>2</sup></td>
          }
          @if (submission.soilToPlaceArea !== null) {
            <td>{{ submission.soilToPlaceArea }} m<sup>2</sup></td>
          }
        </tr>
        <tr>
          <td class="soil-table-label">Maximum Depth</td>
          @if (submission.soilToRemoveMaximumDepth !== null) {
            <td>{{ submission.soilToRemoveMaximumDepth }} m</td>
          }
          @if (submission.soilToPlaceMaximumDepth !== null) {
            <td>{{ submission.soilToPlaceMaximumDepth }} m</td>
          }
        </tr>
        <tr>
          <td class="soil-table-label">Average Depth</td>
          @if (submission.soilToRemoveAverageDepth !== null) {
            <td>{{ submission.soilToRemoveAverageDepth }} m</td>
          }
          @if (submission.soilToPlaceAverageDepth !== null) {
            <td>{{ submission.soilToPlaceAverageDepth }} m</td>
          }
        </tr>
      </tbody>
    </table>
  </div>
}
