<section>
  <app-parcel
    [draftMode]="draftMode"
    [$applicationSubmission]="$application"
    [showErrors]="showErrors"
    [showEdit]="showEdit"
    [originalSubmissionUuid]="originalSubmissionUuid"
  ></app-parcel>
</section>
<section>
  <app-parcel
    [$applicationSubmission]="$application"
    [showErrors]="showErrors"
    [showEdit]="showEdit"
    [parcelType]="parcelType.OTHER"
    [draftMode]="draftMode"
    [originalSubmissionUuid]="originalSubmissionUuid"
  ></app-parcel>
</section>
<section>
  <h3>3. Primary Contact</h3>
  <app-warning-banner *ngIf="draftMode" class="full-row">
    Changes made to this section will not be flagged as
    <app-updated-banner></app-updated-banner> - ensure accuracy before saving.
  </app-warning-banner>

  <div *ngIf="applicationSubmission" class="review-table">
    <div class="subheading2 grid-1">First Name</div>
    <div class="grid-double">
      {{ primaryContact?.firstName }}
      <app-no-data [showRequired]="showErrors" *ngIf="!primaryContact?.firstName"></app-no-data>
    </div>
    <div class="subheading2 grid-1">Last Name</div>
    <div class="grid-double">
      {{ primaryContact?.lastName }}
      <app-no-data [showRequired]="showErrors" *ngIf="!primaryContact?.lastName"></app-no-data>
    </div>
    <div class="subheading2 grid-1">
      <span *ngIf="primaryContact?.type?.code !== APPLICATION_OWNER.CROWN">Organization (optional)</span>
      <span *ngIf="primaryContact?.type?.code === APPLICATION_OWNER.CROWN">Ministry/Department Responsible</span>
    </div>
    <div class="grid-double">
      {{ primaryContact?.organizationName }}
      <app-no-data *ngIf="!primaryContact?.organizationName"></app-no-data>
    </div>
    <div class="subheading2 grid-1">Phone</div>
    <div class="grid-double">
      {{ primaryContact?.phoneNumber }}
      <app-no-data [showRequired]="showErrors" *ngIf="!primaryContact?.phoneNumber"></app-no-data>
      <app-validation-error *ngIf="!(primaryContact?.phoneNumber || '' | phoneValid)"
        >Invalid Format</app-validation-error
      >
    </div>
    <div class="subheading2 grid-1">Email</div>
    <div class="grid-double">
      {{ primaryContact?.email }}
      <app-no-data [showRequired]="showErrors" *ngIf="!primaryContact?.email"></app-no-data>
      <app-validation-error *ngIf="!(primaryContact?.email || '' | emailValid)">Invalid Format</app-validation-error>
    </div>
    <ng-container *ngIf="needsAuthorizationLetter || authorizationLetters.length > 0">
      <div class="subheading2 grid-1">Authorization Letter(s)</div>
      <div class="grid-double">
        <app-no-data
          [showRequired]="showErrors && needsAuthorizationLetter"
          *ngIf="authorizationLetters.length === 0"
        ></app-no-data>
        <div *ngFor="let file of authorizationLetters">
          <a (click)="openFile(file.uuid)">{{ file.fileName }}</a>
        </div>
        <app-validation-error *ngIf="!needsAuthorizationLetter && authorizationLetters.length > 0">
          Authorization letters are not required, please remove them
        </app-validation-error>
      </div>
    </ng-container>
    <div *ngIf="showEdit" class="edit-button">
      <button mat-flat-button (click)="onNavigateToStep(2)" color="accent">Edit Section</button>
    </div>
  </div>
</section>
<section>
  <h3>4. Government</h3>
  <div *ngIf="applicationSubmission" class="review-table">
    <div class="subheading2 grid-1">
      Local or First Nation Government
      <app-updated-banner *ngIf="updatedFields.includes('localGovernmentUuid')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ localGovernment?.name }}
      <app-no-data [showRequired]="showErrors" *ngIf="!localGovernment"></app-no-data>
      <app-warning-banner *ngIf="showErrors && localGovernment && !localGovernment.hasGuid" class="full-row error">
        This Local/First Nation Government has not yet been set up with the ALC Portal to receive applications. To
        submit, you will need to contact the ALC directly: &nbsp;<a href="mailto:ALC.Portal@gov.bc.ca"
          >ALC.Portal@gov.bc.ca</a
        >&nbsp;/&nbsp;<a href="tel:236-468-3342">236-468-3342</a>
      </app-warning-banner>
    </div>
    <div *ngIf="showEdit" class="edit-button">
      <button mat-flat-button (click)="onNavigateToStep(3)" color="accent">Edit Section</button>
    </div>
  </div>
</section>
<section>
  <h3>5. Land Use</h3>
  <div *ngIf="applicationSubmission" class="review-table">
    <div class="full-width">
      <h4>Land Use of Parcel(s) under Application</h4>
    </div>
    <div class="subheading2 grid-1">
      Quantify and describe in detail all agriculture that currently takes place on the parcel(s).
      <app-updated-banner *ngIf="updatedFields.includes('parcelsAgricultureDescription')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ applicationSubmission.parcelsAgricultureDescription }}
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="!applicationSubmission.parcelsAgricultureDescription"
      ></app-no-data>
    </div>
    <div class="subheading2 grid-1">
      Quantify and describe in detail all agricultural improvements made to the parcel(s).
      <app-updated-banner
        *ngIf="updatedFields.includes('parcelsAgricultureImprovementDescription')"
      ></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ applicationSubmission.parcelsAgricultureImprovementDescription }}
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="!applicationSubmission.parcelsAgricultureImprovementDescription"
      ></app-no-data>
    </div>
    <div class="subheading2 grid-1">
      Quantify and describe all non-agricultural uses that currently take place on the parcel(s).
      <app-updated-banner *ngIf="updatedFields.includes('parcelsNonAgricultureUseDescription')"></app-updated-banner>
    </div>
    <div class="grid-double">
      {{ applicationSubmission.parcelsNonAgricultureUseDescription }}
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="!applicationSubmission.parcelsNonAgricultureUseDescription"
      ></app-no-data>
    </div>
    <div class="full-width">
      <h4>
        Land Use of Adjacent Parcels
        <app-updated-banner
          *ngIf="
            updatedFields.includes('northLandUseType') ||
            updatedFields.includes('northLandUseTypeDescription') ||
            updatedFields.includes('eastLandUseType') ||
            updatedFields.includes('eastLandUseTypeDescription') ||
            updatedFields.includes('southLandUseType') ||
            updatedFields.includes('southLandUseTypeDescription') ||
            updatedFields.includes('westLandUseType') ||
            updatedFields.includes('westLandUseTypeDescription')
          "
        ></app-updated-banner>
      </h4>
    </div>
    <div class="adjacent-parcels full-width">
      <div class="grid-1 subheading2"></div>
      <div class="grid-2 subheading2">Main Land Use Type</div>
      <div class="grid-3 subheading2">Specific Activity</div>
      <div class="grid-1 subheading2">North</div>
      <div class="grid-2">
        {{ applicationSubmission.northLandUseType }}
        <app-no-data [showRequired]="showErrors" *ngIf="!applicationSubmission.northLandUseType"></app-no-data>
      </div>
      <div class="grid-3">
        {{ applicationSubmission.northLandUseTypeDescription }}
        <app-no-data
          [showRequired]="showErrors"
          *ngIf="!applicationSubmission.northLandUseTypeDescription"
        ></app-no-data>
      </div>
      <div class="grid-1 subheading2">East</div>
      <div class="grid-2">
        {{ applicationSubmission.eastLandUseType }}
        <app-no-data [showRequired]="showErrors" *ngIf="!applicationSubmission.eastLandUseType"></app-no-data>
      </div>
      <div class="grid-3">
        {{ applicationSubmission.eastLandUseTypeDescription }}
        <app-no-data
          [showRequired]="showErrors"
          *ngIf="!applicationSubmission.eastLandUseTypeDescription"
        ></app-no-data>
      </div>
      <div class="grid-1 subheading2">South</div>
      <div class="grid-2">
        {{ applicationSubmission.southLandUseType }}
        <app-no-data [showRequired]="showErrors" *ngIf="!applicationSubmission.southLandUseType"></app-no-data>
      </div>
      <div class="grid-3">
        {{ applicationSubmission.southLandUseTypeDescription }}
        <app-no-data
          [showRequired]="showErrors"
          *ngIf="!applicationSubmission.southLandUseTypeDescription"
        ></app-no-data>
      </div>
      <div class="grid-1 subheading2">West</div>
      <div class="grid-2">
        {{ applicationSubmission.westLandUseType }}
        <app-no-data [showRequired]="showErrors" *ngIf="!applicationSubmission.westLandUseType"></app-no-data>
      </div>
      <div class="grid-3">
        {{ applicationSubmission.westLandUseTypeDescription }}
        <app-no-data
          [showRequired]="showErrors"
          *ngIf="!applicationSubmission.westLandUseTypeDescription"
        ></app-no-data>
      </div>
    </div>
    <div *ngIf="showEdit" class="edit-button">
      <button mat-flat-button (click)="onNavigateToStep(4)" color="accent">Edit Section</button>
    </div>
  </div>
</section>
<section *ngIf="applicationSubmission">
  <h3>6. Proposal</h3>
  <app-nfu-details
    *ngIf="applicationSubmission.typeCode === 'NFUP'"
    [showErrors]="showErrors"
    [showEdit]="showEdit"
    [draftMode]="draftMode"
    [applicationSubmission]="applicationSubmission"
    [updatedFields]="updatedFields"
  ></app-nfu-details>
  <app-tur-details
    *ngIf="applicationSubmission.typeCode === 'TURP'"
    [showErrors]="showErrors"
    [showEdit]="showEdit"
    [draftMode]="draftMode"
    [applicationSubmission]="applicationSubmission"
    [applicationDocuments]="appDocuments"
    [updatedFields]="updatedFields"
  ></app-tur-details>
  <app-subd-details
    *ngIf="applicationSubmission.typeCode === 'SUBD'"
    [showErrors]="showErrors"
    [showEdit]="showEdit"
    [draftMode]="draftMode"
    [applicationSubmission]="applicationSubmission"
    [applicationDocuments]="appDocuments"
    [updatedFields]="updatedFields"
  ></app-subd-details>
  <app-roso-details
    *ngIf="applicationSubmission.typeCode === 'ROSO'"
    [showErrors]="showErrors"
    [showEdit]="showEdit"
    [draftMode]="draftMode"
    [applicationSubmission]="applicationSubmission"
    [applicationDocuments]="appDocuments"
    [updatedFields]="updatedFields"
  ></app-roso-details>
  <app-pofo-details
    *ngIf="applicationSubmission.typeCode === 'POFO'"
    [showErrors]="showErrors"
    [showEdit]="showEdit"
    [draftMode]="draftMode"
    [applicationSubmission]="applicationSubmission"
    [applicationDocuments]="appDocuments"
    [updatedFields]="updatedFields"
  ></app-pofo-details>
  <app-pfrs-details
    *ngIf="applicationSubmission.typeCode === 'PFRS'"
    [showErrors]="showErrors"
    [showEdit]="showEdit"
    [draftMode]="draftMode"
    [applicationSubmission]="applicationSubmission"
    [applicationDocuments]="appDocuments"
    [updatedFields]="updatedFields"
  ></app-pfrs-details>
  <app-naru-details
    *ngIf="applicationSubmission.typeCode === 'NARU'"
    [showErrors]="showErrors"
    [showEdit]="showEdit"
    [draftMode]="draftMode"
    [applicationSubmission]="applicationSubmission"
    [applicationDocuments]="appDocuments"
    [updatedFields]="updatedFields"
  ></app-naru-details>
</section>
<section>
  <h3>7. Optional Documents</h3>
  <div *ngIf="applicationSubmission" class="review-table">
    <div class="other-attachments full-width">
      <div class="grid-1 subheading2">Type</div>
      <div class="grid-2 subheading2">Description</div>
      <div class="grid-3 subheading2">File Name</div>
      <ng-container *ngFor="let file of otherFiles">
        <div class="grid-1">
          {{ file.type?.label }}
          <app-no-data [showRequired]="showErrors" *ngIf="!file.type"></app-no-data>
        </div>
        <div class="grid-2">
          {{ file.description }}
          <app-no-data [showRequired]="showErrors" *ngIf="!file.description"></app-no-data>
        </div>
        <div class="grid-3">
          <a (click)="openFile(file.uuid)">{{ file.fileName }}</a>
        </div>
      </ng-container>
      <div class="full-width">
        <app-no-data [showRequired]="false" *ngIf="otherFiles.length === 0"></app-no-data>
      </div>
    </div>
    <div *ngIf="showEdit" class="edit-button">
      <button mat-flat-button (click)="onNavigateToStep(6)" color="accent">Edit Section</button>
    </div>
  </div>
</section>
