@use '../../../../../styles/functions' as *;

section {
  margin-top: rem(36);
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

:host::ng-deep .mat-mdc-radio-button label {
  font-weight: 400 !important;
}
