@use '../../../../../styles/functions' as *;
@use '../../../../../styles/colors';

section {
  margin-bottom: rem(24);
}

.mat-expansion-panel {
  margin-bottom: rem(24);
}

.link {
  color: colors.$link-color;
  cursor: pointer;
}

.document {
  margin-bottom: rem(8);
}

:host::ng-deep {
  .mat-expansion-panel {
    box-shadow: none;
  }

  .mat-expansion-panel.mat-expanded {
    background-color: colors.$grey-light;
    border: 1px solid colors.$black;
  }

  .mat-expansion-panel-header {
    border: 1px solid colors.$black;
  }

  .mat-expansion-panel-header.mat-expanded,
  .mat-expansion-panel-header.mat-expanded:focus,
  .mat-expansion-panel-header.mat-expanded:hover {
    background-color: colors.$grey-light;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 48px; //Overriding Angular style that is in PX
  }
}

.review-table {
  margin: rem(12) 0 rem(20) 0;
  background-color: colors.$grey-light;
  display: grid;
  grid-row-gap: rem(32);
  grid-template-columns: 1fr;

  .edit-button {
    display: flex;
    justify-content: center;
  }

  .subheading2 {
    margin-bottom: rem(4) !important;
  }

  @media screen and (min-width: $tabletBreakpoint) {
    padding: rem(16);
    margin: rem(24) 0 rem(40) 0;
    grid-template-columns: 1fr 1fr;

    .full-width {
      grid-column: 1/3;
    }

    .edit-button {
      grid-column: 1/3;
    }
  }
}
