@if (_applicationSubmission) {
  <div class="review-table">
    <div class="subheading2 full-width">Provide the name and contact information for all transferees</div>
    <div class="full-width transferee-table">
      <div class="subheading2">Type</div>
      <div class="subheading2">Full Name</div>
      <div class="subheading2">Organization Name</div>
      <div class="subheading2">Phone</div>
      <div class="subheading2">Email</div>
      @for (transferee of transferees; track transferee) {
        <div>{{ transferee.type.code === 'INDV' ? 'Individual' : 'Organization' }}</div>
        <div>{{ transferee.displayName }}</div>
        <div>
          {{ transferee.organizationName }}
          @if (!transferee.organizationName) {
            <div class="no-data">
              <div class="no-data-text">Not Applicable</div>
            </div>
          }
        </div>
        <div>
          @if (transferee.phoneNumber) {
            <span>{{ transferee.phoneNumber | mask : '(000) 000-0000' }}</span>
          }
        </div>
        <div>{{ transferee.email }}</div>
      }
    </div>
    @if (transferees.length === 0) {
      <app-no-data class="full-width"></app-no-data>
    }
    <div class="subheading2 grid-1">How many hectares will the covenant impact?</div>
    <div class="grid-double">
      {{ _applicationSubmission.coveAreaImpacted }}@if (_applicationSubmission.coveAreaImpacted) {
      <span> ha</span>
    }
    @if (!_applicationSubmission.coveAreaImpacted) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">What is the purpose of this covenant?</div>
  <div class="grid-double">
    {{ _applicationSubmission.purpose }}
    @if (!_applicationSubmission.purpose) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Explain how the covenant impacts the use of agricultural land for farm purposes.</div>
  <div class="grid-double">
    @if (_applicationSubmission.coveFarmImpact !== null) {
      <span>
        {{ _applicationSubmission.coveFarmImpact }}
      </span>
    }
    @if (!_applicationSubmission.coveFarmImpact) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    @for (map of proposalMap; track map) {
      <a routerLink="/document/{{ map.documentUuid }}" target="_blank">
        {{ map.fileName }}
      </a>
    }
    @if (proposalMap.length === 0) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Do you have a draft copy of the covenant?</div>
  <div class="grid-double">
    @if (_applicationSubmission.coveHasDraft !== null) {
      <span>
        {{ _applicationSubmission.coveHasDraft ? 'Yes' : 'No' }}
      </span>
    }
    @if (_applicationSubmission.coveHasDraft === null) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Draft Covenant</div>
  <div class="grid-double">
    @for (file of srwTerms; track file) {
      <div>
        <a routerLink="/document/{{ file.documentUuid }}" target="_blank">
          {{ file.fileName }}
        </a>
      </div>
    }
    @if (srwTerms.length === 0) {
      <app-no-data
      ></app-no-data>
    }
  </div>
</div>
}
