@import '../../../styles/colors';

.layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.application {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-grow: 1;
  padding-right: 80px;
}

.child-content {
  margin: 24px 0 0 48px;
  flex-grow: 1;
}

.nav {
  background-color: $bg-color;
  min-width: 240px;
  width: 240px;
  height: 100%;
}

.nav-link {
  cursor: pointer;

  div {
    padding: 12px 24px;
    border: 2px solid transparent;
  }

  div.active {
    font-weight: bold;
    background-color: $primary-color-dark;
    color: $white;
    border-color: $primary-color-dark;

    &:hover {
      cursor: default;
      background-color: $primary-color-dark;
      color: $white;
    }
  }

  div:hover {
    border-color: $primary-color-dark;
    color: $dark-contrast-text;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  white-space: pre-wrap;

  .mat-icon {
    padding-right: 32px;
  }
}
