@use '../../../../styles/colors';

h3 {
  margin-bottom: 16px !important;
}

h4 {
  margin-bottom: 16px !important;
}

.warning {
  background-color: colors.$secondary-color-light;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 12px;
  }
}

.comment-container {
  @extend .warning;
  flex-direction: column;
  align-items: flex-start;

  div {
    margin-bottom: 4px;
  }
}

.no-comment {
  color: colors.$grey-dark;
  font-style: italic;
}

.review-table {
  padding: 16px;
  background-color: colors.$grey-light;
  display: grid;
  grid-row-gap: 24px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 32px;

  div.subheading2 {
    margin-bottom: 6px !important;
  }

  .full-row {
    grid-column: 1/3;
  }
}
