@use '../../../../styles/colors';

h3 {
  margin-bottom: 16px !important;
}

h4 {
  margin-bottom: 16px !important;
}

.warning {
  background-color: colors.$secondary-color-light;
  padding: 16px;
}

.review-table {
  padding: 16px;
  background-color: colors.$grey-light;
  display: grid;
  grid-row-gap: 24px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 32px;

  div.subheading2 {
    margin-bottom: 6px !important;
  }

  .full-row {
    grid-column: 1/3;
  }
}
