<div class="split header">
  <h3>L/FNG Info</h3>
  <div
    matTooltip="Only enabled when Portal status is 'Submitted to ALC' or 'L/FNG Refused to Forward'."
    [matTooltipDisabled]="canReturnToGovernment"
    >
    @if (hasGovernmentReview) {
      <button
        [disabled]="!canReturnToGovernment"
        mat-stroked-button
        color="primary"
        (click)="returnToLfng()"
        >
        Return to L/FNG
      </button>
    }
  </div>
</div>
<section>
  @if (!requiresReview) {
    <div class="warning">
      <mat-icon>info</mat-icon>Application not subject to Local/First Nation Government Review.
    </div>
  }
  @if (!applicationReview && requiresReview) {
    <div class="warning">
      <mat-icon>info</mat-icon>Pending Local/First Nation Government review.
    </div>
  }
  @if (submission?.returnedToLfngComment) {
    <div class="comment-container">
      <div><strong>Comment for L/FNG</strong></div>
      {{ submission?.returnedToLfngComment }}
    </div>
  }
  @if (applicationReview) {
    <h4>Government File & Contact</h4>
    <div class="review-table">
      <div class="full-row">
        <div class="subheading2">Local Government File Number</div>
        <div>
          {{ applicationReview.localGovernmentFileNumber }}
          @if (!applicationReview.localGovernmentFileNumber) {
            <app-no-data></app-no-data>
          }
        </div>
      </div>
      <div>
        <div class="subheading2">First Name</div>
        <div>
          {{ applicationReview.firstName }}
          @if (!applicationReview.firstName) {
            <app-no-data></app-no-data>
          }
        </div>
      </div>
      <div>
        <div class="subheading2">Last Name</div>
        <div>
          {{ applicationReview.lastName }}
          @if (!applicationReview.lastName) {
            <app-no-data></app-no-data>
          }
        </div>
      </div>
      <div>
        <div class="subheading2">Position</div>
        <div>
          {{ applicationReview.position }}
          @if (!applicationReview.position) {
            <app-no-data></app-no-data>
          }
        </div>
      </div>
      <div>
        <div class="subheading2">Department</div>
        <div>
          {{ applicationReview.department }}
          @if (!applicationReview.department) {
            <app-no-data></app-no-data>
          }
        </div>
      </div>
      <div>
        <div class="subheading2">Phone Number</div>
        <div>
          <a [href]="'tel:' + applicationReview.phoneNumber">{{ applicationReview.phoneNumber }}</a>
          @if (!applicationReview.phoneNumber) {
            <app-no-data></app-no-data>
          }
        </div>
      </div>
      <div>
        <div class="subheading2">Email</div>
        <div>
          <a [href]="'mailto:' + applicationReview.email">{{ applicationReview.email }}</a>
          @if (!applicationReview.email) {
            <app-no-data></app-no-data>
          }
        </div>
      </div>
    </div>
    @if (!isFirstNationGovernment) {
      <h4>Plans & Bylaws: OCP</h4>
      <div class="review-table">
        <div class="full-row">
          <div class="subheading2">Is the application parcel(s) subject to a Local Government OCP designation?</div>
          @if (applicationReview.isOCPDesignation !== null) {
            <div>
              {{ applicationReview.isOCPDesignation ? 'Yes' : 'No' }}
            </div>
          }
          @if (applicationReview.isOCPDesignation === null) {
            <app-no-data></app-no-data>
          }
        </div>
        @if (applicationReview.isOCPDesignation) {
          <div class="full-row">
            <hr />
          </div>
          <div>
            <div class="subheading2">OCP Bylaw Name</div>
            <div>
              {{ applicationReview.OCPBylawName }}
              @if (!applicationReview.OCPBylawName) {
                <app-no-data></app-no-data>
              }
            </div>
          </div>
          <div>
            <div class="subheading2">OCP Designation</div>
            <div>
              {{ applicationReview.OCPDesignation }}
              @if (!applicationReview.OCPDesignation) {
                <app-no-data></app-no-data>
              }
            </div>
          </div>
          <div>
            <div class="subheading2">Is this proposal consistent with the current OCP designation?</div>
            @if (applicationReview.OCPConsistent !== null) {
              <div>
                {{ applicationReview.OCPConsistent ? 'Yes' : 'No' }}
              </div>
            }
            @if (applicationReview.OCPConsistent === null) {
              <app-no-data></app-no-data>
            }
          </div>
        }
      </div>
    }
    @if (!isFirstNationGovernment) {
      <h4>Plans & Bylaws: Zoning</h4>
      <div class="review-table">
        <div class="full-row">
          <div class="subheading2">Is the application parcel(s) subject to a Local Government zoning designation?</div>
          @if (applicationReview.isSubjectToZoning !== null) {
            <div>
              {{ applicationReview.isSubjectToZoning ? 'Yes' : 'No' }}
            </div>
          }
          @if (applicationReview.isSubjectToZoning === null) {
            <app-no-data></app-no-data>
          }
        </div>
        @if (applicationReview.isSubjectToZoning) {
          <div class="full-row">
            <hr />
          </div>
          <div>
            <div class="subheading2">Zoning Bylaw Name</div>
            <div>{{ applicationReview.zoningBylawName }}</div>
            @if (!applicationReview.zoningBylawName) {
              <app-no-data></app-no-data>
            }
          </div>
          <div>
            <div class="subheading2">Zoning Designation</div>
            <div>{{ applicationReview.zoningDesignation }}</div>
            @if (!applicationReview.zoningDesignation) {
              <app-no-data></app-no-data>
            }
          </div>
          <div>
            <div class="subheading2">Minimum Lot Size (hectares)</div>
            <div>{{ applicationReview.zoningMinimumLotSize }}@if (applicationReview.zoningMinimumLotSize) {
              <span> ha</span>
            }</div>
            @if (!applicationReview.zoningMinimumLotSize) {
              <app-no-data></app-no-data>
            }
          </div>
          <div>
            <div class="subheading2">Is this proposal consistent with the current zoning designation?</div>
            @if (applicationReview.isZoningConsistent !== null) {
              <div>
                {{ applicationReview.isZoningConsistent ? 'Yes' : 'No' }}
              </div>
            }
            @if (applicationReview.isZoningConsistent === null) {
              <app-no-data></app-no-data>
            }
          </div>
        }
      </div>
    }
    <h4>Resolution</h4>
    <div class="review-table">
      @if (
        !isFirstNationGovernment &&
        (applicationReview.isOCPDesignation === null || applicationReview.isSubjectToZoning === null)
        ) {
        <div
          class="full-row"
          >
          Please complete both Step 2 Plans & Bylaws: OCP and Step 3 Plans & Bylaws: Zoning to continue with this step.
        </div>
      }
      @if (
        !isFirstNationGovernment &&
        applicationReview.isOCPDesignation === false &&
        applicationReview.isSubjectToZoning === false
        ) {
        <div
          class="full-row"
          >
          By indicating that the parcel(s) is not subject to Local Government OCP or Zoning,
          <strong>no authorizing resolution is required</strong> as per S. 25 (3) or S. 29 (4) of the <em>ALC Act</em>.
          The only option available is to forward this application on to the ALC.
        </div>
      }
      @if (hasCompletedStepsBeforeResolution) {
        <div class="full-row">
          <div class="subheading2">What is the outcome of the Board/Council resolution?</div>
          @if (applicationReview.isAuthorized !== null) {
            <div>
              {{ applicationReview.isAuthorized ? 'Forward for ALC decision' : 'Refuse to forward to ALC' }}
            </div>
          }
          @if (applicationReview.isAuthorized === null) {
            <app-no-data></app-no-data>
          }
        </div>
      }
    </div>
    <h4>Attachments</h4>
    @if (!hasCompletedStepsBeforeDocuments) {
      <div class="review-table">
        <div class="full-row">
          Please complete Step 2 Plans & Bylaws: OCP, Step 3 Plans & Bylaws: Zoning and Step 4 Resolution to continue with
          this step.
        </div>
      </div>
    }
    @if (hasCompletedStepsBeforeDocuments) {
      <div class="review-table">
        @if (isFirstNationGovernment || applicationReview.isOCPDesignation || applicationReview.isSubjectToZoning) {
          <div
            class="full-row"
            >
            <div class="subheading2">Resolution Document</div>
            <div>
              @if (resolutionDocument) {
                <a routerLink="/document/{{ resolutionDocument.documentUuid }}" target="_blank">{{
                  resolutionDocument.fileName
                }}</a>
              }
            </div>
            @if (!resolutionDocument) {
              <app-no-data></app-no-data>
            }
          </div>
        }
        @if (
          (applicationReview.isOCPDesignation || applicationReview.isSubjectToZoning) &&
          (applicationReview.isAuthorized || staffReports.length > 0)
          ) {
          <div
            class="full-row"
            >
            <div class="subheading2">Staff Report</div>
            @if (staffReports.length > 0) {
              <div>
                @for (staffReport of staffReports; track staffReport) {
                  <div>
                    <a routerLink="/document/{{ staffReport.documentUuid }}" target="_blank">{{ staffReport.fileName }}</a>
                  </div>
                }
              </div>
            }
            @if (staffReports.length === 0) {
              <app-no-data></app-no-data>
            }
          </div>
        }
        <div class="full-row">
          <div class="subheading2">Other Attachments</div>
          <div>
            @if (otherAttachments.length === 0) {
              <app-no-data></app-no-data>
            }
            @for (attachment of otherAttachments; track attachment) {
              <div>
                <a routerLink="/document/{{ attachment.documentUuid }}" target="_blank">{{ attachment.fileName }}</a>
              </div>
            }
          </div>
        </div>
      </div>
    }
  }
</section>
