<section>
  <div class="header">
    <h3>View Conditions</h3>
    <div class="header-buttons">
      @if (decision) {
        <button type="button" mat-flat-button color="primary" (click)="openConditionCardDialog()">
          + Condition Card
        </button>
      }
      @if (decision) {
        <button
          type="button"
          mat-stroked-button
          color="primary"
          [routerLink]="['../../']"
          [queryParams]="{ uuid: decision.uuid }"
          >
          back to decision #{{ decision.index }}
        </button>
      }
    </div>
  </div>

  <div class="quick-filters">
    <div class="quick-filters-label">Quick Filters:</div>
    <mat-chip-listbox multiple (change)="onConditionFilterChange($event)" class="quick-filters-list" >
      @for (label of conditionLabelsByStatus | keyvalue; track label) {
        <mat-chip-option [value]="label.key" class="quick-filters-button">
          {{ label.value }}
        </mat-chip-option>
      }
    </mat-chip-listbox>
  </div>

  @if (decision) {
    <section class="body">
      <div class="decision-container">
        @if (decision.modifiedBy?.length) {
          <div class="post-decisions">
            <div>
              <strong>Modified&nbsp;By:&nbsp;</strong>
              {{ decision.modifiedByResolutions?.join(', ') }}
              @if (!decision.modifiedBy?.length) {
                <span>N/A</span>
              }
            </div>
          </div>
        }
        @if (decision.conditions.length < 1) {
          <div class="no-conditions">
            <app-no-data text="No conditions added. Return to decision draft to add conditions."></app-no-data>
          </div>
        }
        @for (condition of filterConditions(decision.conditions); track condition; let j = $index) {
          <div>
            <app-condition
              [ngClass]="{ 'condition-container': true, 'even-condition': j % 2 }"
              [condition]="condition"
              [isDraftDecision]="decision.isDraft"
              [fileNumber]="fileNumber"
              [index]="j + 1"
              (statusChange)="onStatusChange(condition, $event)"
            ></app-condition>
          </div>
        }
      </div>
    </section>
  }
  <div class="footer">
    @if (decision) {
      <button
        type="button"
        mat-stroked-button
        color="primary"
        [routerLink]="['../../']"
        [queryParams]="{ uuid: decision.uuid }"
        >
        back to decision #{{ decision.index }}
      </button>
    }
  </div>
</section>
