@if (submission) {
  <div class="review-table">
    <div class="subheading2 grid-1">Submitter’s File Number</div>
    <div class="grid-double">
      {{ submission.submittersFileNumber }}
      @if (!submission.submittersFileNumber) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">What is the purpose of the SRW?</div>
    <div class="grid-double">
      {{ submission.purpose }}
      @if (!submission.purpose) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Total area of the SRW</div>
    <div class="grid-double">
      {{ submission.totalArea }}
      @if (!submission.totalArea) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Is there a survey plan associated with the SRW?</div>
    <div class="grid-double">
      @if (submission.hasSurveyPlan !== null) {
        <span>
          {{ submission.hasSurveyPlan ? 'Yes' : 'No' }}
        </span>
      }
      @if (submission.hasSurveyPlan === null) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
  </div>
}
