<div *ngIf="comment" class="comment">
  <div class="body">
    <div class="made-by label-text">{{ comment.author }}</div>
    <div *ngIf="isEditing">
      <app-mention-textarea
        [comment]="comment"
        (cancel)="onCancel()"
        (save)="onSave($event)"
        labelText="Edit comment"
      ></app-mention-textarea>
    </div>
    <div *ngIf="!isEditing" class="content body2-text" [innerHtml]="highlightMentions(comment.body)"></div>
    <div class="footer" *ngIf="!isEditing">
      <div class="edited">
        {{ commentDate }}
        <span *ngIf="comment.edited">&nbsp;(edited)</span>
      </div>
      <div>
        <button *ngIf="comment.isEditable" (click)="onDelete()" mat-button>Delete</button>
        <button *ngIf="comment.isEditable" (click)="onEdit()" mat-button>Edit</button>
      </div>
    </div>
  </div>
</div>
