<div class="comments">
  <mat-form-field *ngIf="!isEditing" class="placeholder-input" appearance="fill" (click)="onEdit()">
    <input matInput placeholder="Add a comment..." />
  </mat-form-field>
  <app-mention-textarea
    *ngIf="isEditing"
    (create)="onSave($event)"
    [fileNumber]="fileNumber"
    [comment]="comment"
    (cancel)="onCancel()"
    [isNewComment]="true"
    labelText="Add a comment"
  >
  </app-mention-textarea>
  <app-comment
    *ngFor="let comment of comments"
    [comment]="comment"
    (edit)="onEditComment($event)"
    (delete)="onDeleteComment($event)"
    [mentions]="comment.mentions"
  ></app-comment>
</div>

<ng-template #mentionListTemplate let-item="item">
  <p>{{ item.mentionLabel }}</p>
  <p>{{ item.email }}</p>
</ng-template>
