@if (comment) {
  <div class="comment">
    <div class="body">
      <div class="made-by button-text">{{ comment.author }}</div>
      @if (isEditing) {
        <div>
          <app-mention-textarea
            [comment]="comment"
            (cancel)="onCancel()"
            (save)="onSave($event)"
            labelText="Edit comment"
            [notificationTitle]='notificationTitle'
          ></app-mention-textarea>
        </div>
      }
      @if (!isEditing) {
        <div class="content body-text" [innerHtml]="highlightMentions(comment.body)"></div>
      }
      @if (!isEditing) {
        <div class="footer">
          <div class="edited">
            {{ commentDate }}
            @if (comment.edited) {
              <span>&nbsp;(edited)</span>
            }
          </div>
          <div>
            @if (comment.isEditable) {
              <button (click)="onDelete()" mat-button>Delete</button>
            }
            @if (comment.isEditable) {
              <button (click)="onEdit()" mat-button>Edit</button>
            }
          </div>
        </div>
      }
    </div>
  </div>
}
