@import '../../../styles/colors';

.avatar-circle {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $accent-color-dark;
  color: $white;
}
