@use '../../../styles/colors';

.avatar-circle {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$accent-color-dark;
  color: colors.$white;
}

.avatar-circle.large {
  font-size: 18px;
  width: 45px;
  height: 45px;
}
