@use '../../../styles/colors';
@use '../../../styles/typography';

.avatar-circle {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$accent-color-dark;
  color: colors.$white;
}

.avatar-circle.large {
  @extend .body-text;
  width: 40px;
  height: 40px;
}
