<h3>Review</h3>
<div class="notification-date">
  <div class="subheading1">'Ready for Review' Notification Sent to Applicant</div>
  <app-inline-datepicker
    [selectedValue]="notificationSentDate"
    (save)="onSaveNotificationDate($event)"
  ></app-inline-datepicker>
</div>
<section>
  <app-decision-meeting [fileNumber]="fileNumber"></app-decision-meeting>
</section>
<section>
  <app-document [fileNumber]="fileNumber" [documentType]="DOCUMENT_TYPE.REVIEW_DOCUMENT" title="Evidentiary Record"></app-document>
</section>
