<h3>Review</h3>
<div class="notification-date">
  <div class="subheading1">Applicant Notified to Review Evidentiary Record</div>
  <app-inline-datepicker [value]="notificationSentDate" (save)="onSaveNotificationDate($event)"></app-inline-datepicker>
</div>
<section>
  <app-decision-meeting [fileNumber]="fileNumber"></app-decision-meeting>
</section>
<section>
  <app-document
    [fileNumber]="fileNumber"
    [visibilityFlags]="['C']"
    [sortable]="true"
    tableTitle="Evidentiary Record"
  ></app-document>
</section>
