@use '../../../../../styles/functions' as *;
@use '../../../../../styles/colors';

.result-list {
  margin-top: rem(16);
}

.result {
  border-radius: rem(4);
  border: 2px solid var(--portal-grey-light, #efefef);
  margin: rem(4) rem(4) rem(20); //BOX SHADOWS
  padding: rem(12) rem(8);
  font-size: rem(14) !important;

  div {
    margin: rem(4);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .subheading2 {
    margin-bottom: rem(8) !important;
  }

  &.hoverable {
    border-color: transparent;
    box-shadow: 0 rem(2) rem(6) 0 rgba(0, 0, 0, 0.2);
  }

  &.hoverable:hover {
    cursor: pointer;
    background-color: colors.$grey-light;
  }
}
