<div class="row">
  <h1>Decision #{{ index }} Draft</h1>
</div>

<h3>Resolution</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="grid">
    <div>
      <ng-select
        appearance="outline"
        class="resolution-year"
        [items]="resolutionYears"
        formControlName="resolutionYear"
        appendTo="body"
        placeholder="Select Year for Resolution Number*"
        [clearable]="false"
      ></ng-select>
    </div>

    <div class="resolution-number-wrapper">
      <div *ngIf="!resolutionNumberControl.getRawValue()" class="resolution-number-btn-wrapper">
        <button
          class="generate-number-btn"
          [loading]="isLoading"
          type="button"
          mat-stroked-button
          color="primary"
          (click)="onGenerateResolutionNumber()"
          [ngClass]="{
            'error-field-outlined ng-invalid': !resolutionNumberControl.valid && resolutionNumberControl.touched
          }"
        >
          Generate Number
        </button>
        <app-error-message
          *ngIf="!resolutionNumberControl.valid && resolutionNumberControl.touched"
        ></app-error-message>
      </div>
      <div *ngIf="resolutionNumberControl.getRawValue()">
        <div class="resolution-number">
          <span>Res #{{ resolutionNumberControl.getRawValue() }} / {{ resolutionYearControl.getRawValue() }}</span>
          <button
            matTooltip="Delete resolution number"
            class="delete-icon"
            mat-icon-button
            (click)="onDeleteResolutionNumber()"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <mat-form-field appearance="outline" class="date-picker">
      <mat-label>Decision Date</mat-label>
      <input
        matInput
        (click)="datePicker.open()"
        [matDatepicker]="datePicker"
        formControlName="date"
        name="date"
        [min]="minDate | startOfDay"
      />
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker type="date"></mat-datepicker>
    </mat-form-field>

    <div>
      <mat-label class="toggle-label">Decision Maker*</mat-label>
      <mat-button-toggle-group
        required
        id="decisionMaker"
        formControlName="decisionMaker"
        [ngClass]="{
          'error-field-outlined': !form.controls.decisionMaker.valid && form.controls.decisionMaker.touched
        }"
      >
        <mat-button-toggle value="CEO Delegate">CEO Delegate</mat-button-toggle>
        <mat-button-toggle value="CEO">CEO</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Decision Maker Name</mat-label>
      <input matInput formControlName="decisionMakerName" />
    </mat-form-field>

    <ng-select
      appearance="outline"
      class="card-post-decision"
      [items]="postDecisions"
      appendTo="body"
      placeholder="Linked Request *"
      bindLabel="label"
      bindValue="uuid"
      [clearable]="false"
      formControlName="postDecision"
    >
    </ng-select>

    <ng-select
      appearance="outline"
      class="decision-outcome"
      [items]="outcomes"
      formControlName="outcome"
      appendTo="body"
      bindLabel="label"
      bindValue="code"
      placeholder="Decision Outcome *"
      [clearable]="false"
      (change)="onChangeDecisionOutcome($event)"
    ></ng-select>

    <div>
      <div>
        <mat-label class="toggle-label">Subject to Conditions*</mat-label>
        <mat-button-toggle-group
          id="isSubjectToConditions"
          formControlName="isSubjectToConditions"
          name="isSubjectToConditions"
          (change)="onChangeSubjectToConditions($event)"
          [ngClass]="{
            'error-field-outlined':
              !form.controls.isSubjectToConditions.valid && form.controls.isSubjectToConditions.touched
          }"
        >
          <mat-button-toggle value="true">Yes</mat-button-toggle>
          <mat-button-toggle value="false">No</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <div class="full-width">
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Decision Description</mat-label>
        <input matInput formControlName="decisionDescription" />
      </mat-form-field>
    </div>

    <ng-container *ngIf="form.controls.outcome.value === 'RESC'">
      <mat-form-field appearance="outline" class="date-picker">
        <mat-label>Rescinded Date</mat-label>
        <input
          matInput
          (click)="rescindedDatePicker.open()"
          [matDatepicker]="rescindedDatePicker"
          formControlName="rescindedDate"
          name="date"
          [min]="minDate | startOfDay"
        />
        <mat-datepicker-toggle matSuffix [for]="rescindedDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #rescindedDatePicker type="date"></mat-datepicker>
      </mat-form-field>
    </ng-container>
  </div>

  <ng-container *ngIf="form.controls.outcome.value === 'RESC'">
    <mat-form-field appearance="outline" class="row">
      <mat-label>Rescinded Comment</mat-label>
      <input matInput formControlName="rescindedComment" />
    </mat-form-field>
  </ng-container>

  <div>
    <app-decision-documents
      (beforeDocumentUpload)="onSubmit(true, true)"
      [showError]="form.touched && !existingDecision?.documents?.length"
    ></app-decision-documents>
  </div>

  <app-decision-components
    *ngIf="codes && showComponents"
    [codes]="codes"
    [fileNumber]="fileNumber"
    [components]="components"
    (componentsChange)="onComponentChange($event)"
    [showError]="form.touched && components.length < 1 && requireComponents"
  >
  </app-decision-components>

  <div>
    <app-noi-decision-conditions
      *ngIf="codes && showComponents && showConditions"
      [codes]="codes"
      [components]="components"
      [conditions]="conditions"
      (conditionsChange)="onConditionsChange($event)"
      [showError]="form.touched && conditionUpdates.length < 1 && showConditions"
    ></app-noi-decision-conditions>
  </div>

  <section>
    <h3>Audit and Chair Review</h3>
    <div class="grid">
      <mat-form-field appearance="outline" class="date-picker">
        <mat-label>Audit Date</mat-label>
        <input
          matInput
          (click)="auditDatePicker.open()"
          [matDatepicker]="auditDatePicker"
          formControlName="auditDate"
          name="auditDate"
        />
        <mat-datepicker-toggle matSuffix [for]="auditDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #auditDatePicker type="date"></mat-datepicker>
      </mat-form-field>
    </div>
  </section>
</form>

<div class="split bottom-scroller">
  <div>
    <button class="release-decision-btn" type="button" (click)="onRelease()" mat-flat-button color="accent">
      Release Decision
    </button>
  </div>
  <div>
    <div class="center">
      <button mat-stroked-button color="primary" type="button" (click)="onCancel()">Cancel</button>
      <button (click)="onSubmit()" mat-flat-button color="primary">Save Changes</button>
    </div>
  </div>
</div>
