<div *ngIf="noiSubmission" class="review-table">
  <div class="subheading2 grid-1">
    Has the ALC previously received an application or Notice of Intent for this proposal?
  </div>
  <div class="grid-double">
    <span *ngIf="noiSubmission.soilIsFollowUp !== null">
      {{ noiSubmission.soilIsFollowUp ? 'Yes' : 'No' }}
    </span>
    <app-no-data *ngIf="noiSubmission.soilIsFollowUp === null"></app-no-data>
  </div>

  <div *ngIf="noiSubmission.soilIsFollowUp" class="subheading2 grid-1">Application or NOI ID</div>
  <div *ngIf="noiSubmission.soilIsFollowUp" class="grid-double">
    {{ noiSubmission.soilFollowUpIDs }}
    <app-no-data *ngIf="!noiSubmission.soilFollowUpIDs"></app-no-data>
  </div>

  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    {{ noiSubmission.purpose }}
    <app-no-data *ngIf="!noiSubmission.purpose"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Describe the type of soil proposed to be removed.</div>
  <div class="grid-double">
    {{ noiSubmission.soilTypeRemoved }}
    <app-no-data *ngIf="!noiSubmission.soilTypeRemoved"></app-no-data>
  </div>

  <div class="subheading1 full-width"></div>
  <div class="full-width soil-table">
    <div class="grid-1"></div>
    <div class="grid-2">
      <strong>Soil to be Removed</strong>
    </div>
    <div class="grid-1"><strong>Volume</strong></div>
    <div class="grid-2">
      {{ noiSubmission.soilToRemoveVolume }}
      <span *ngIf="noiSubmission.soilToRemoveVolume">m<sup>3</sup></span>
      <app-no-data *ngIf="!noiSubmission.soilToRemoveVolume"></app-no-data>
    </div>
    <div class="grid-1"><strong>Area</strong></div>
    <div class="grid-2">
      {{ noiSubmission.soilToRemoveArea }} <span *ngIf="noiSubmission.soilToRemoveArea">ha</span>
      <app-no-data *ngIf="!noiSubmission.soilToRemoveArea"></app-no-data>
    </div>
    <div class="grid-1"><strong>Maximum Depth</strong></div>
    <div class="grid-2">
      {{ noiSubmission.soilToRemoveMaximumDepth }}
      <span *ngIf="noiSubmission.soilToRemoveMaximumDepth">m</span>
      <app-no-data *ngIf="!noiSubmission.soilToRemoveMaximumDepth"></app-no-data>
    </div>
    <div class="grid-1"><strong>Average Depth</strong></div>
    <div class="grid-2">
      {{ noiSubmission.soilToRemoveAverageDepth }}
      <span *ngIf="noiSubmission.soilToRemoveAverageDepth">m</span>
      <app-no-data *ngIf="!noiSubmission.soilToRemoveAverageDepth"></app-no-data>
    </div>
  </div>

  <div class="subheading1 full-width"></div>
  <div class="full-width soil-table">
    <div class="grid-1"></div>
    <div class="grid-2">
      <strong>Soil already Removed</strong>
    </div>
    <div class="grid-1"><strong>Volume</strong></div>
    <div class="grid-2">
      {{ noiSubmission.soilAlreadyRemovedVolume }}
      <span *ngIf="noiSubmission.soilAlreadyRemovedVolume !== null">m<sup>3</sup></span>
      <app-no-data *ngIf="noiSubmission.soilAlreadyRemovedVolume === null"></app-no-data>
    </div>
    <div class="grid-1"><strong>Area</strong></div>
    <div class="grid-2">
      {{ noiSubmission.soilAlreadyRemovedArea }}
      <span *ngIf="noiSubmission.soilAlreadyRemovedArea !== null">ha</span>
      <app-no-data *ngIf="noiSubmission.soilAlreadyRemovedArea === null"></app-no-data>
    </div>
    <div class="grid-1"><strong>Maximum Depth</strong></div>
    <div class="grid-2">
      {{ noiSubmission.soilAlreadyRemovedMaximumDepth }}
      <span *ngIf="noiSubmission.soilAlreadyRemovedMaximumDepth !== null">m</span>
      <app-no-data *ngIf="noiSubmission.soilAlreadyRemovedMaximumDepth === null"></app-no-data>
    </div>
    <div class="grid-1"><strong>Average Depth</strong></div>
    <div class="grid-2">
      {{ noiSubmission.soilAlreadyRemovedAverageDepth }}
      <span *ngIf="noiSubmission.soilAlreadyRemovedAverageDepth !== null">m</span>
      <app-no-data *ngIf="noiSubmission.soilAlreadyRemovedAverageDepth === null"></app-no-data>
    </div>
  </div>

  <div class="full-width">
    <h4>Project Duration</h4>
  </div>
  <div class="subheading2 grid-1">Duration</div>
  <div class="grid-double">
    {{ noiSubmission.soilProjectDurationUnit }}
    <app-no-data *ngIf="!noiSubmission.soilProjectDurationUnit"></app-no-data>
  </div>
  <div class="subheading2 grid-1">Length</div>
  <div class="grid-double">
    {{ noiSubmission.soilProjectDurationAmount }}
    <app-no-data *ngIf="!noiSubmission.soilProjectDurationAmount"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <a *ngFor="let map of proposalMap" (click)="openFile(map.uuid)">
      {{ map.fileName }}
    </a>
    <app-no-data *ngIf="proposalMap.length === 0"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Is your proposal for aggregate extraction or placer mining?</div>
  <div class="grid-double">
    <span *ngIf="noiSubmission.soilIsExtractionOrMining !== null">
      {{ noiSubmission.soilIsExtractionOrMining ? 'Yes' : 'No' }}
    </span>
    <app-no-data *ngIf="noiSubmission.soilIsExtractionOrMining === null"></app-no-data>
  </div>

  <ng-container *ngIf="noiSubmission?.soilIsExtractionOrMining">
    <div class="subheading2 grid-1">Cross Sections</div>
    <div class="grid-double">
      <a *ngFor="let file of crossSections" (click)="openFile(file.uuid)">
        {{ file.fileName }}
      </a>
      <app-no-data *ngIf="crossSections.length === 0"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Have you submitted a Notice of Work to the Ministry of Energy, Mines and Low Carbon Innovation (EMLI)?
    </div>
    <div class="grid-double">
      <span *ngIf="noiSubmission.soilHasSubmittedNotice !== null">
        {{ noiSubmission.soilHasSubmittedNotice ? 'Yes' : 'No' }}
      </span>
      <app-no-data *ngIf="noiSubmission.soilHasSubmittedNotice === null"></app-no-data>
    </div>
  </ng-container>
</div>
