@if (_noiSubmission) {
  <div class="review-table">
    <div class="subheading2 grid-1">
      Has the ALC previously received an application or Notice of Intent for this proposal?
    </div>
    <div class="grid-double">
      {{ _noiSubmission.soilIsFollowUp ? 'Yes' : 'No' }}
    </div>
    @if (_noiSubmission.soilIsFollowUp) {
      <div class="subheading2 grid-1">Application or NOI ID</div>
    }
    @if (_noiSubmission.soilIsFollowUp) {
      <div class="grid-double">
        {{ _noiSubmission.soilFollowUpIDs }}
      </div>
    }
    <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
    <div class="grid-double">
      <span>{{ _noiSubmission.purpose }}</span>
    </div>
    <div class="subheading2 grid-1">Describe the type of soil proposed to be removed.</div>
    <div class="grid-double">
      <span>{{ _noiSubmission.soilTypeRemoved }}</span>
    </div>
    <div class="subheading2 grid-1">Describe the type, origin and quality of fill proposed to be placed.</div>
    <div class="grid-double">
      <span>{{ _noiSubmission.soilFillTypeToPlace }}</span>
    </div>
    <div class="subheading2 grid-1">Placement of Fill Project Duration</div>
    <div class="grid-double">
      @if (_noiSubmission.fillProjectDuration) {
        <div>
          {{ _noiSubmission.fillProjectDuration }}
        </div>
      }
      @if (!_noiSubmission.fillProjectDuration) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Removal of Soil Project Duration</div>
    <div class="grid-double">
      @if (_noiSubmission.soilProjectDuration) {
        <div>
          {{ _noiSubmission.soilProjectDuration }}
        </div>
      }
      @if (!_noiSubmission.soilProjectDuration) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="full-width soil-table">
      <div></div>
      <div><strong>Soil to be Removed</strong></div>
      <div><strong>Fill to be Placed</strong></div>
      <div><strong>Volume</strong></div>
      <div>
        {{ _noiSubmission.soilToRemoveVolume }}
        @if (_noiSubmission.soilToRemoveVolume !== null) {
          <span>m<sup>3</sup></span>
        }
      </div>
      <div>
        {{ _noiSubmission.soilToPlaceVolume }}
        @if (_noiSubmission.soilToPlaceVolume !== null) {
          <span>m<sup>3</sup></span>
        }
      </div>
      <div><strong>Area</strong></div>
      <div>
        {{ _noiSubmission.soilToRemoveArea }}
        @if (_noiSubmission.soilToRemoveArea !== null) {
          <span>m<sup>2</sup></span>
        }
      </div>
      <div>
        {{ _noiSubmission.soilToPlaceArea }}
        @if (_noiSubmission.soilToPlaceArea !== null) {
          <span>m<sup>2</sup></span>
        }
      </div>
      <div><strong>Maximum Depth</strong></div>
      <div>
        {{ _noiSubmission.soilToRemoveMaximumDepth }}
        @if (_noiSubmission.soilToRemoveMaximumDepth !== null) {
          <span>m</span>
        }
      </div>
      <div>
        {{ _noiSubmission.soilToPlaceMaximumDepth }}
        @if (_noiSubmission.soilToPlaceMaximumDepth !== null) {
          <span>m</span>
        }
      </div>
      <div><strong>Average Depth</strong></div>
      <div>
        {{ _noiSubmission.soilToRemoveAverageDepth }}
        @if (_noiSubmission.soilToRemoveAverageDepth !== null) {
          <span>m</span>
        }
      </div>
      <div>
        {{ _noiSubmission.soilToPlaceAverageDepth }}
        @if (_noiSubmission.soilToPlaceAverageDepth !== null) {
          <span>m</span>
        }
      </div>
      <div class="spacer-row"></div>
      <div></div>
      <div><strong>Soil already Removed</strong></div>
      <div><strong>Fill already Placed</strong></div>
      <div><strong>Volume</strong></div>
      <div>
        {{ _noiSubmission.soilAlreadyRemovedVolume }}
        @if (_noiSubmission.soilAlreadyRemovedVolume !== null) {
          <span>m<sup>3</sup></span>
        }
      </div>
      <div>
        {{ _noiSubmission.soilAlreadyPlacedVolume }}
        @if (_noiSubmission.soilAlreadyPlacedVolume !== null) {
          <span>m<sup>3</sup></span>
        }
      </div>
      <div><strong>Area</strong></div>
      <div>
        {{ _noiSubmission.soilAlreadyRemovedArea }}
        @if (_noiSubmission.soilAlreadyRemovedArea !== null) {
          <span>m<sup>2</sup></span>
        }
      </div>
      <div>
        {{ _noiSubmission.soilAlreadyPlacedArea }}
        @if (_noiSubmission.soilAlreadyPlacedArea !== null) {
          <span>m<sup>2</sup></span>
        }
      </div>
      <div><strong>Maximum Depth</strong></div>
      <div>
        {{ _noiSubmission.soilAlreadyRemovedMaximumDepth }}
        @if (_noiSubmission.soilAlreadyRemovedMaximumDepth !== null) {
          <span>m</span>
        }
      </div>
      <div>
        {{ _noiSubmission.soilAlreadyPlacedMaximumDepth }}
        @if (_noiSubmission.soilAlreadyPlacedMaximumDepth !== null) {
          <span>m</span>
        }
      </div>
      <div><strong>Average Depth</strong></div>
      <div>
        {{ _noiSubmission.soilAlreadyRemovedAverageDepth }}
        @if (_noiSubmission.soilAlreadyRemovedAverageDepth !== null) {
          <span>m</span>
        }
      </div>
      <div>
        {{ _noiSubmission.soilAlreadyPlacedAverageDepth }}
        @if (_noiSubmission.soilAlreadyPlacedAverageDepth !== null) {
          <span>m</span>
        }
      </div>
    </div>
    <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
    <div class="grid-double multiple-documents">
      @for (file of proposalMap; track file) {
        <a routerLink="/document/{{ file.documentUuid }}" target="_blank">
          {{ file.fileName }}
        </a>
      }
    </div>
    <div class="subheading2 grid-1">Is your proposal for area-wide filling?</div>
    <div class="grid-double">
      @if (_noiSubmission.soilIsAreaWideFilling !== null) {
        <span>
          {{ _noiSubmission.soilIsAreaWideFilling ? 'Yes' : 'No' }}
        </span>
      }
      @if (_noiSubmission.soilIsAreaWideFilling === null) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Is your proposal for aggregate extraction or placer mining?</div>
    <div class="grid-double">
      @if (_noiSubmission.soilIsExtractionOrMining !== null) {
        <span>
          {{ _noiSubmission.soilIsExtractionOrMining ? 'Yes' : 'No' }}
        </span>
      }
    </div>
    <div class="subheading2 grid-1">Cross Sections</div>
    <div class="grid-double multiple-documents">
      <div>
        @for (file of crossSections; track file) {
          <a routerLink="/document/{{ file.documentUuid }}" target="_blank">
            {{ file.fileName }}
          </a>
        }
      </div>
    </div>
    <div class="subheading2 grid-1">Reclamation Plan</div>
    <div class="grid-double multiple-documents">
      @for (file of reclamationPlans; track file) {
        <a routerLink="/document/{{ file.documentUuid }}" target="_blank">
          {{ file.fileName }}
        </a>
      }
    </div>
    @if (_noiSubmission.soilIsExtractionOrMining) {
      <div class="subheading2 grid-1">
        Have you submitted a Notice of Work to the Ministry of Mining and Critical Minerals (MCM)?
      </div>
    }
    @if (_noiSubmission.soilIsExtractionOrMining) {
      <div class="grid-double">
        @if (_noiSubmission.soilHasSubmittedNotice !== null) {
          <span>
            {{ _noiSubmission.soilHasSubmittedNotice ? 'Yes' : 'No' }}
          </span>
        }
      </div>
    }
    @if (_noiSubmission.soilHasSubmittedNotice) {
      <div class="subheading2 grid-1">Notice of Work</div>
    }
    @if (_noiSubmission.soilHasSubmittedNotice) {
      <div class="grid-double multiple-documents">
        @for (file of noticeOfWork; track file) {
          <a routerLink="/document/{{ file.documentUuid }}" target="_blank">
            {{ file.fileName }}
          </a>
        }
      </div>
    }
  </div>
}
