<h3 class="flex-item">1. Identify Parcel(s) Under The Statutory Right of Way</h3>
<div class="review-table">
  <ng-container *ngFor="let parcel of parcels; let parcelInd = index">
    <div class="full-width flex-space-between-wrap">
      <h4>Parcel {{ parcelInd + 1 }}: Parcel and Owner Information</h4>
      <div>
        <button
          *ngIf="showEdit"
          class="mobile-hidden"
          mat-flat-button
          color="accent"
          (click)="onEditParcelClick(parcel.uuid)"
        >
          Edit Parcel {{ parcelInd + 1 }}
        </button>
      </div>
    </div>
    <div class="subheading2 grid-1">Ownership Type</div>
    <div class="grid-double">
      {{ parcel.ownershipType?.label }}
      <app-no-data [showRequired]="showErrors" *ngIf="!parcel.ownershipType"></app-no-data>
    </div>
    <div class="subheading2 grid-1">Legal Description</div>
    <div class="grid-double">
      {{ parcel.legalDescription }}
      <app-no-data [showRequired]="showErrors" *ngIf="!parcel.legalDescription"></app-no-data>
    </div>
    <div class="subheading2 grid-1">Area (Hectares)</div>
    <div class="grid-double">
      {{ parcel.mapAreaHectares }}
      <app-no-data [showRequired]="showErrors" *ngIf="!parcel.mapAreaHectares"></app-no-data>
    </div>
    <div class="subheading2 grid-1">
      PID {{ parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.CROWN ? '(optional)' : '' }}
    </div>
    <div class="grid-double">
      <span *ngIf="parcel.pid">{{ parcel.pid | mask : '000-000-000' }}</span>
      <app-no-data
        [showRequired]="showErrors && parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.FEE_SIMPLE"
        *ngIf="!parcel.pid"
      ></app-no-data>
      <app-validation-error *ngIf="showErrors && parcel.pid && parcel.pid.length < 9">
        Invalid Format
      </app-validation-error>
    </div>
    <ng-container *ngIf="parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.CROWN">
      <div class="subheading2 grid-1">PIN (optional)</div>
      <div class="grid-double">
        {{ parcel.pin }}
        <app-no-data [showRequired]="false" *ngIf="!parcel.pin"></app-no-data>
      </div>
    </ng-container>
    <div class="subheading2 grid-1">Civic Address</div>
    <div class="grid-double">
      {{ parcel.civicAddress }}
      <app-no-data [showRequired]="showErrors" *ngIf="!parcel.civicAddress"></app-no-data>
    </div>
    <div *ngIf="showEdit" class="edit-button tablet-hidden">
      <button mat-flat-button color="accent" (click)="onEditParcelClick(parcel.uuid)">
        Edit Parcel {{ parcelInd + 1 }}
      </button>
    </div>
  </ng-container>
  <div *ngIf="showEdit" class="edit-button">
    <button mat-flat-button (click)="onEditParcelsClick($event)" color="accent">Edit Section</button>
  </div>
</div>
