<h3 class="flex-item">1. Identify Parcel(s) Under The Statutory Right of Way</h3>
<div class="review-table">
  @for (parcel of parcels; track parcel; let parcelInd = $index) {
    <div class="full-width parcel-header">
      <h4>Parcel {{ parcelInd + 1 }}</h4>
      <div>
        @if (showEdit && parcels.length > 1) {
          <button class="mobile-hidden" mat-flat-button color="accent" (click)="onEditParcelClick(parcel.uuid)">
            Edit Parcel {{ parcelInd + 1 }}
          </button>
        }
        @if (showEdit && parcels.length > 1) {
          <button class="tablet-hidden" mat-icon-button color="accent" (click)="onEditParcelClick(parcel.uuid)">
            <mat-icon>edit</mat-icon>
          </button>
        }
      </div>
    </div>
    <div class="subheading2 grid-1">Parcel Type</div>
    <div class="grid-double">
      {{ parcel.ownershipType?.label }}
      @if (!parcel.ownershipType) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    @if (parcel.ownershipType) {
      <div class="subheading2 grid-1">Legal Description</div>
      <div class="grid-double">
        {{ parcel.legalDescription }}
        @if (!parcel.legalDescription) {
          <app-no-data [showRequired]="showErrors"></app-no-data>
        }
      </div>
      <div class="subheading2 grid-1">Approx. Map Area</div>
      <div class="grid-double">
        {{ parcel.mapAreaHectares }}
        @if (parcel.mapAreaHectares !== null) {
          <span>ha</span>
        }
        @if (!parcel.mapAreaHectares) {
          <app-no-data [showRequired]="showErrors"></app-no-data>
        }
      </div>
      <div class="subheading2 grid-1">
        PID {{ parcel.ownershipType.code === PARCEL_OWNERSHIP_TYPES.CROWN ? '(optional)' : '' }}
      </div>
      <div class="grid-double">
        @if (parcel.pid) {
          <span>{{ parcel.pid | mask: '000-000-000' }}</span>
        }
        @if (!parcel.pid) {
          <app-no-data
            [showRequired]="showErrors && parcel.ownershipType.code !== PARCEL_OWNERSHIP_TYPES.CROWN"
          ></app-no-data>
        }
        @if (showErrors && parcel.pid && parcel.pid.length < 9) {
          <app-validation-error> Invalid Format </app-validation-error>
        }
      </div>
      @if (parcel.ownershipType.code === PARCEL_OWNERSHIP_TYPES.CROWN) {
        <div class="subheading2 grid-1">PIN (optional)</div>
        <div class="grid-double">
          {{ parcel.pin }}
          @if (!parcel.pin) {
            <app-no-data [showRequired]="false"></app-no-data>
          }
        </div>
      }
      <div class="subheading2 grid-1">Civic Address</div>
      <div class="grid-double">
        {{ parcel.civicAddress }}
        @if (!parcel.civicAddress) {
          <app-no-data [showRequired]="showErrors"></app-no-data>
        }
      </div>
    }
  }
  @if (showEdit) {
    <div class="edit-button">
      <button mat-flat-button (click)="onEditParcelsClick($event)" color="accent">Edit Section</button>
    </div>
  }
</div>
