<div class="entry" [class.is-draft]="entry?.isDraft">
  <form [formGroup]="form">
    <div class="date">
      @if (entry?.isDraft) {
        <mat-form-field appearance="outline">
          <mat-label>Date</mat-label>
          <input
            matInput
            (click)="datePicker.open()"
            [matDatepicker]="datePicker"
            name="date-submitted"
            formControlName="date"
          />
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker type="date"></mat-datepicker>
        </mat-form-field>
        @if (showErrors && date.errors) {
          <div>
            @if (date.errors['required']) {
              <app-error-message message="This field is required"></app-error-message>
            }
            @if (date.errors['dateInUse']) {
              <app-error-message message="Date is already in use"></app-error-message>
            }
          </div>
        }
      } @else {
        <div>{{ entry?.date | date: 'yyyy-MMM-dd' }}</div>
      }
    </div>

    <div class="main">
      @if (!entry?.isDraft) {
        <button
          type="button"
          class="edit-button"
          [disabled]="!entry?.uuid || editDisabled"
          (click)="setDraft(entry?.uuid!)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      }

      @if (entry?.isDraft) {
        <mat-form-field appearance="outline">
          <mat-label>Author</mat-label>
          <mat-select panelClass="author-list-panel" [formControl]="authorDropdown">
            @for (author of authors; track author.uuid) {
              <mat-option [value]="author.uuid">
                {{ author.prettyName }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      } @else {
        <strong>{{ entry?.author?.prettyName }}</strong>
      }

      @if (entry?.isDraft) {
        <div class="description-wrapper">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" rows="3"></textarea>
          </mat-form-field>
          @if (showErrors && description.errors) {
            <div>
              @if (description.errors['required']) {
                <app-error-message message="This field is required"></app-error-message>
              }
            </div>
          }
        </div>
      } @else {
        <div class="description-view">{{ entry?.description }}</div>
      }

      <div class="c-and-e-action-list">
        <strong>C&E Action:</strong>
        @if (sortedInspections().length > 0 || sortedOrders().length > 0 || sortedNotices().length > 0) {
          @for (inspection of sortedInspections(); track inspection) {
            <div class="c-and-e-action-wrapper">
              <div class="c-and-e-action inspection">
                @if (inspection.isDraft) {
                  DRAFT
                }
                {{ inspection.type }} Inspection
                @if (entry?.isDraft) {
                  <button
                    mat-icon-button
                    class="c-and-e-action-button c-and-e-action-edit-button"
                    type="button"
                    (click)="onEditInspectionClick(inspection.uuid)"
                    touch-target="none"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    class="c-and-e-action-button c-and-e-action-delete-button"
                    type="button"
                    (click)="confirmInspectionDelete(inspection.uuid)"
                    touch-target="none"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                }
              </div>
              @if (showErrors && inspection.isDraft) {
                <div>
                  <app-error-message message="Inspection must be finalized"></app-error-message>
                </div>
              }
            </div>
          }

          @for (notice of sortedNotices(); track notice.uuid) {
            <div class="c-and-e-action-wrapper">
              <div class="c-and-e-action notice">
                @if (notice.isDraft) {
                  DRAFT
                }
                @if (notice.type) {
                  {{ notice.type }}
                } @else {
                  Notice
                }
                @if (entry?.isDraft) {
                  <button
                    mat-icon-button
                    class="c-and-e-action-button c-and-e-action-edit-button"
                    type="button"
                    (click)="onEditNoticeClick(notice.uuid)"
                    touch-target="none"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    class="c-and-e-action-button c-and-e-action-delete-button"
                    type="button"
                    (click)="confirmNoticeDelete(notice.uuid)"
                    touch-target="none"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                }
              </div>
              @if (showErrors && notice.isDraft) {
                <div>
                  <app-error-message message="Notice must be finalized"></app-error-message>
                </div>
              }
            </div>
          }

          @for (order of sortedOrders(); track order) {
            <div class="c-and-e-action-wrapper">
              <div class="c-and-e-action order">
                @if (order.isDraft) {
                  DRAFT
                }
                @if (order.type) {
                  {{ order.type }}
                } @else {
                  Order
                }
                @if (entry?.isDraft) {
                  <button
                    mat-icon-button
                    class="c-and-e-action-button c-and-e-action-edit-button"
                    type="button"
                    (click)="onEditOrderClick(order.uuid)"
                    touch-target="none"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    class="c-and-e-action-button c-and-e-action-delete-button"
                    type="button"
                    (click)="confirmOrderDelete(order.uuid)"
                    touch-target="none"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                }
              </div>
              @if (showErrors && order.isDraft) {
                <div>
                  <app-error-message message="Order must be finalized"></app-error-message>
                </div>
              }
            </div>
          }
        } @else {
          <span class="no-data"> No Data</span>
        }
      </div>

      @if (entry?.isDraft) {
        <div class="add-component-actions">
          <button
            mat-stroked-button
            color="primary"
            type="button"
            [disabled]="!entry?.uuid"
            class="add-action-button"
            [matMenuTriggerFor]="decisionComponentMenu"
          >
            + ALC C&E Action
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <button
            mat-stroked-button
            type="button"
            [disabled]="!entry?.uuid"
            (click)="openAddCorrespondenceDialog(entry?.uuid!)"
            class="add-correspondence-button"
          >
            + Correspondence
          </button>
        </div>

        <mat-menu xPosition="before" #decisionComponentMenu="matMenu">
          <button type="button" mat-menu-item class="c-and-e-action-menu-item" (click)="onAddInspectionClick()">
            Inspection
          </button>

          <button type="button" mat-menu-item class="c-and-e-action-menu-item" (click)="onAddNoticeClick()">
            Notice
          </button>

          <button type="button" mat-menu-item class="c-and-e-action-menu-item" (click)="onAddOrderClick()">
            Order
          </button>
        </mat-menu>
      }

      @if (entry?.isDraft || entry?.documents?.length) {
        <app-compliance-and-enforcement-chronology-entry-documents
          [isDraft]="!!entry?.isDraft"
          [documents]="sortDocuments(entry?.documents ?? [])"
          (edit)="openEditDocumentDialog(entry?.uuid, $event)"
          (delete)="confirmDocumentDelete($event)"
        />
      }

      @if (entry?.isDraft) {
        <div class="actions">
          <button
            mat-stroked-button
            color="warn"
            type="button"
            [disabled]="!entry?.uuid"
            (click)="confirmEntryDelete(this.entry?.uuid)"
          >
            Delete
          </button>
          <button
            mat-flat-button
            color="primary"
            type="button"
            [disabled]="!entry?.uuid"
            (click)="onCompleteButtonClick()"
          >
            Complete
          </button>
        </div>
      }
    </div>
  </form>
</div>
