<mat-card [ngClass]="{ 'last-card': isLast, 'review-step': isReviewStep, crown: isCrown && !isReviewStep }">
  <mat-card-header>
    <mat-card-title>
      {{ owner.displayName }}
      {{ owner.crownLandOwnerType === 'provincial' ? ' (Provincial Crown)' : '' }}
      {{ owner.crownLandOwnerType === 'federal' ? ' (Federal Crown)' : '' }}
    </mat-card-title>
    @if (!isReviewStep) {
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEdit()">
          <span>Edit</span>
        </button>
        @if (!isCrown) {
          <button mat-menu-item (click)="onRemove()">
            <span>Remove</span>
          </button>
        }
      </mat-menu>
    }
  </mat-card-header>
  <mat-card-content>
    @if (owner.organizationName) {
      <span>{{ owner.organizationName }}</span>
    }
    @if (owner.phoneNumber) {
      <span>Phone: {{ owner.phoneNumber | mask: '(000) 000-0000' }}</span>
    }
    @if (owner.email) {
      <span>Email: {{ owner.email }}</span>
    }
    @if (owner.corporateSummary) {
      <a class="mobile" (click)="downloadFile(owner.corporateSummary.documentUuid)">{{
        owner.corporateSummary.fileName
      }}</a>
      <a class="desktop" routerLink="/document/{{ owner.corporateSummary.documentUuid }}" target="_blank">{{
        owner.corporateSummary.fileName
      }}</a>
    }
  </mat-card-content>
</mat-card>
