@use '../../../../styles/colors';
@use '../../../../styles/functions' as *;

mat-card {
  width: 100%;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #EFEFEF;
  border-radius: 0;
  word-wrap: break-word;
  white-space: normal;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 0 !important;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 0 10px 0 !important;
}

span {
  font-weight: normal;
}

.last-card {
  border-bottom: none !important;
}

.review-step {
  border-bottom: 1px solid #AAAAAA;
  background-color: transparent;

  mat-card-header {
    padding: 5px 0 10px 0 !important;
  }
}

.crown {
  background-color: transparent;
  border-bottom: none;
  padding: 10px;
}

.mobile {
  @media screen and (min-width: $tabletBreakpoint) {
    display: none;
  }
}

.desktop {
  display: none;

  @media screen and (min-width: $tabletBreakpoint) {
    display: inline;
  }
}
