<div class="header">
  <h4 *ngIf="condition.type">{{ condition.type.label }}</h4>
  <ng-container *ngIf="conditionStatus === CONDITION_STATUS.INCOMPLETE">
    <app-application-type-pill [type]="incompleteLabel"></app-application-type-pill>
  </ng-container>
  <ng-container *ngIf="conditionStatus === CONDITION_STATUS.COMPLETE">
    <app-application-type-pill [type]="completeLabel"></app-application-type-pill>
  </ng-container>
  <ng-container *ngIf="conditionStatus === CONDITION_STATUS.SUPERSEDED">
    <app-application-type-pill [type]="supersededLabel"></app-application-type-pill>
  </ng-container>
</div>
<div class="grid-3">
  <div>
    <div class="subheading2">Component to Condition</div>
    <span class="component-labels">{{ condition.componentLabelsStr }}</span>
    <app-no-data *ngIf="!condition.componentLabelsStr"></app-no-data>
  </div>

  <div>
    <div class="subheading2">Approval Dependent</div>
    {{ condition.approvalDependant | booleanToString }}
    <app-no-data
      *ngIf="condition.approvalDependant === null || condition.approvalDependant === undefined"
    ></app-no-data>
  </div>

  <div>
    <div class="subheading2">Security Amount</div>
    {{ condition.securityAmount }}
    <app-no-data *ngIf="condition.securityAmount === null || condition.securityAmount === undefined"></app-no-data>
  </div>

  <div>
    <div class="subheading2">Admin Fee</div>
    {{ condition.administrativeFee }}
    <app-no-data
      *ngIf="condition.administrativeFee === null || condition.administrativeFee === undefined"
    ></app-no-data>
  </div>

  <div>
    <div class="subheading2">Completion Date</div>
    <app-inline-datepicker
      [value]="condition.completionDate ?? undefined"
      (save)="onUpdateCondition('completionDate', $event)"
    ></app-inline-datepicker>
  </div>

  <div>
    <div class="subheading2">Superseded Date</div>
    <app-inline-datepicker
      [value]="condition.supersededDate ?? undefined"
      (save)="onUpdateCondition('supersededDate', $event)"
    ></app-inline-datepicker>
  </div>

  <div *ngIf="isRequireSurveyPlan && planNumbers.length > 0" class="full-width grid-3">
    <ng-container *ngFor="let plan of planNumbers">
      <div class="full-width">
        <div class="subheading2">
          <span>{{ getComponentLabel(plan.applicationDecisionComponentUuid) }} Survey Plans</span>
          <mat-icon class="icon" matTooltip="Separate multiple plans with a comma">info_outline </mat-icon>
        </div>
        <app-inline-text
          class="inline-plan-numbers"
          [value]="plan.planNumbers ?? undefined"
          (save)="updateConditionPlanNumbers(condition.uuid, plan.applicationDecisionComponentUuid, $event)"
        ></app-inline-text>
      </div>
    </ng-container>
  </div>

  <div *ngIf="isRequireSurveyPlan" class="full-width">
    <div *ngIf="subdComponent !== undefined">
      <div class="subheading2">
        <span>{{ getComponentLabel(subdComponent.uuid!) }} Survey Plans</span>
        <mat-icon class="icon" matTooltip="Separate multiple plans with a comma">info_outline </mat-icon>
      </div>
      <div class="lot-table">
        <div class="subheading2">#</div>
        <div class="subheading2">Type</div>
        <div class="subheading2">Size (ha)</div>
        <div class="subheading2">Plan numbers</div>
        <ng-container *ngFor="let lot of subdComponent.lots; let i = index">
          <div>
            {{ lot.index }}
            <app-no-data *ngIf="lot.index === null || lot.index === undefined"></app-no-data>
          </div>
          <div>
            {{ lot.type }}
            <app-no-data *ngIf="lot.type === null || lot.type === undefined"></app-no-data>
          </div>
          <div>
            {{ lot.size }}
            <app-no-data *ngIf="lot.size === null || lot.size === undefined"></app-no-data>
          </div>
          <div>
            <app-inline-textarea
              [value]="lot.planNumbers ?? undefined"
              [placeholder]="'Add plan'"
              (save)="savePlanNumbers(lot.uuid, condition.uuid, $event)"
            ></app-inline-textarea>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="full-width">
    <div class="subheading2">Description</div>
    <span [id]="condition.uuid + 'Description'" [ngClass]="{ 'ellipsis-3': !isReadMoreClicked }">{{
      condition.description
    }}</span>
    <app-no-data *ngIf="condition.description === null || condition.description === undefined"></app-no-data>
    <div class="read-more">
      <a
        (click)="onToggleReadMore()"
        (keypress)="onToggleReadMore()"
        [ngClass]="{ 'display-none': !isReadMoreVisible || !condition.description }"
        >{{ isReadMoreClicked ? 'Read Less' : 'Read More' }}</a
      >
    </div>
  </div>
</div>
