.component-labels {
  white-space: pre-wrap;
}

.parcel-table {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-column-gap: 36px;
  grid-row-gap: 12px;
}

.container {
  margin: 32px 0;
}

.subheading2 {
  display: flex;
  gap: 4px;
}

.icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
}
