<div mat-dialog-title>
  <h2 class="card-title">Confirm Revert to Draft</h2>
</div>
<mat-dialog-content class="content">
  <p>Upon reverting the decision to a draft:</p>
  <div class="release-data">
    <div><strong>Visibility:</strong> ALC staff only (with full editing capabilities)</div>
    <div>
      <strong>Portal Status: </strong>
      @if (mappedType) {
        <app-application-submission-status-type-pill
          [type]="mappedType"
        ></app-application-submission-status-type-pill>
      }
    </div>
    <div>
      <strong>Email (with decision document) sent to: </strong>
      No auto-emails will be sent
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="button-container">
    <button mat-stroked-button color="primary" [mat-dialog-close]="false">Cancel</button>
    <button mat-flat-button color="primary" type="button" (click)="onConfirm()">Confirm Revert to Draft</button>
  </div>
</mat-dialog-actions>
