<div mat-dialog-title>
  <h2 class="card-title">Confirm Revert to Draft</h2>
</div>
<mat-dialog-content style="height: 100%">
  <div class="grid">
    <p>
      This decision and document will be reverted into draft form, providing you with full editing capabilities but
      hiding it from the Applicant, Local/First Nation Government, and the Public.
    </p>
    <p>
      Upon reverting the decision to draft, the application will be updated to the status:
      <app-application-submission-status-type-pill
        *ngIf="mappedType"
        [type]="mappedType"
      ></app-application-submission-status-type-pill>
    </p>
    <app-warning-banner> If there is more than one decision, the status will not change</app-warning-banner>
    <p>
      The Applicant and Local/First Nation Government will not receive an auto-email notification. Please complete any
      notification manually.
    </p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="button-container">
    <button mat-stroked-button color="accent" [mat-dialog-close]="false">Cancel</button>
    <button mat-flat-button color="accent" type="button" (click)="onConfirm()">Confirm Revert to Draft</button>
  </div>
</mat-dialog-actions>
