@import '../../../../styles/typography';
@import '../../../../styles/colors';

section {
  margin-bottom: rem(32);
}

.agent-form {
  .form-row {
    grid-template-columns: 1fr;
  }

  .form-row .full-row {
    grid-column: 1/2;
  }

  @media screen and (min-width: $tabletBreakpoint) {
    .form-row {
      grid-template-columns: 1fr 1fr;
    }

    .form-row .full-row {
      grid-column: 1/3;
    }
  }
}

.contacts {
  margin: rem(24) 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: rem(30);
  grid-row-gap: rem(24);
}

.uploader {
  margin-bottom: rem(24);
}

.selected {
  color: $primary-color;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .mat-icon {
    margin-right: rem(8);
  }
}
