<div class="container">
  <h2>C&E File ID: {{ file?.fileNumber }}</h2>

  <form [formGroup]="form">
    <section class="form-section">
      <div>
        <h3>Overview</h3>
        <app-compliance-and-enforcement-overview
          #overviewComponent
          [file]="file"
          (formReady)="registerFormGroup('overview', $event.formGroup)"
        />
      </div>
      <app-compliance-and-enforcement-submitter
        #submitterComponent
        title="Submitter"
        [submitter]="submitter"
        [initialSubmissionType]="initialSubmissionType"
        (formReady)="registerFormGroup($event.name, $event.formGroup)"
      />

      <app-compliance-and-enforcement-documents
        #submissionDocumentsComponent
        title="Complaint/Referral Submission"
        noDocumentsText="No Complaint/Referral"
        [fileNumber]="fileNumber"
        [options]="submissionDocumentOptions"
        [section]="Section.SUBMISSION"
      />
    </section>

    <section class="form-section">
      <app-compliance-and-enforcement-property #propertyComponent [parentForm]="form" [property]="property" />
    </section>

    <section class="form-section">
      <app-compliance-and-enforcement-responsible-parties
        #responsiblePartiesComponent
        [fileUuid]="file?.uuid"
        [isPropertyCrown]="isPropertyCrown"
      />
      <app-compliance-and-enforcement-documents
        #ownershipDocumentsComponent
        title="Property Ownership Documents"
        noDocumentsText="No owner information"
        [fileNumber]="fileNumber"
        [options]="ownershipDocumentOptions"
        [section]="Section.OWNERSHIP"
      />
    </section>

    <div class="button-row">
      <div class="left-actions">
        <button type="button" mat-stroked-button color="warn" (click)="onCancelDiscardClicked()">
          Cancel & Discard
        </button>
      </div>
      <div class="right-actions">
        <button type="button" mat-stroked-button color="primary" (click)="onSaveDraftClicked()">
          Save Draft & Exit
        </button>
        <button type="button" mat-flat-button color="primary" (click)="onFinishCreateFileClicked()">
          Finish & Create File
        </button>
      </div>
    </div>
  </form>
</div>
