<div
  class="full-width"
  [ngClass]="{
    'grid-uneven': component.agCapMap && component.agCapConsultant,
    'grid-3': !component.agCapMap || !component.agCapConsultant
  }"
>
  <app-basic [component]="component" *ngIf="component.agCapMap || component.agCapConsultant"></app-basic>
  <div>
    <div class="subheading2">Use End Date</div>
    {{ component.endDate | date }}
  </div>
</div>
<div class="full-width">
  <div class="subheading2">Type of soil approved to be removed.</div>
  <div class="pre-wrapped-text">{{ component.soilTypeRemoved }}</div>
</div>
<div class="full-width">
  <table>
    <thead>
      <th></th>
      <th>Soil to be Removed</th>
    </thead>
    <tbody>
      <tr>
        <td class="soil-table-label">Volume</td>
        <td>{{ component.soilToRemoveVolume }} m<sup>3</sup></td>
      </tr>
      <tr>
        <td class="soil-table-label">Area</td>
        <td>{{ component.soilToRemoveArea }} ha</td>
      </tr>
      <tr>
        <td class="soil-table-label">Maximum Depth</td>
        <td>{{ component.soilToRemoveMaximumDepth }} m</td>
      </tr>
      <tr>
        <td class="soil-table-label">Average Depth</td>
        <td>{{ component.soilToRemoveAverageDepth }} m</td>
      </tr>
    </tbody>
  </table>
</div>
