<div mat-dialog-title>
  <h2 class="card-title">Edit {{ meetingType?.label }}</h2>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-dialog-content style="height: 100%">
    <div class="flex-container">
      <mat-form-field appearance="outline" class="flex-child">
        <mat-label>{{ data.meetingType.code === 'AM' ? 'Meeting' : 'Visit' }} Requested</mat-label>
        <mtx-datetimepicker #meetingStartDate type="date"></mtx-datetimepicker>
        <input
          matInput
          [mtxDatetimepicker]="meetingStartDate"
          formControlName="meetingStartDate"
          required
          (dateChange)="onChange()"
        />
        <mtx-datetimepicker-toggle [for]="meetingStartDate" matSuffix></mtx-datetimepicker-toggle>
      </mat-form-field>

      <mat-form-field appearance="outline" class="flex-child">
        <mat-label>{{ data.meetingType.code === 'AM' ? 'Meeting' : 'Visit' }} Conducted</mat-label>
        <mtx-datetimepicker #meetingEndDate type="date"></mtx-datetimepicker>
        <input
          matInput
          [mtxDatetimepicker]="meetingEndDate"
          formControlName="meetingEndDate"
          [min]="form.get('meetingStartDate')?.value | lessOneDay"
          (dateChange)="onChange()"
        />
        <mtx-datetimepicker-toggle [for]="meetingEndDate" matSuffix></mtx-datetimepicker-toggle>
      </mat-form-field>
    </div>
    <div class="flex-container">
      <mat-form-field appearance="outline" class="flex-child">
        <mat-label>Report Sent</mat-label>
        <mtx-datetimepicker #reportStartDate type="date"></mtx-datetimepicker>
        <input
          matInput
          [mtxDatetimepicker]="reportStartDate"
          formControlName="reportStartDate"
          [min]="form.get('meetingEndDate')?.value | lessOneDay"
          (dateChange)="onChange()"
        />
        <mtx-datetimepicker-toggle [for]="reportStartDate" matSuffix></mtx-datetimepicker-toggle>
      </mat-form-field>
      <mat-form-field appearance="outline" class="flex-child">
        <mat-label>Report Approved</mat-label>
        <mtx-datetimepicker #reportEndDate type="date"></mtx-datetimepicker>
        <input
          matInput
          [mtxDatetimepicker]="reportEndDate"
          formControlName="reportEndDate"
          [min]="form.get('reportStartDate')?.value | lessOneDay"
          (dateChange)="onChange()"
        />
        <mtx-datetimepicker-toggle [for]="reportEndDate" matSuffix></mtx-datetimepicker-toggle>
      </mat-form-field>
    </div>
    <div class="warning">
      <mat-icon>warning</mat-icon>
      <div>
        The application’s active day count will be paused between the dates:
        <ul>
          <li>
            {{ data.meetingType.code === 'AM' ? 'Meeting' : 'Visit' }} Requested &
            {{ data.meetingType.code === 'AM' ? 'Meeting' : 'Visit' }} Conducted
          </li>
          <li>Report Sent & Report Approved</li>
        </ul>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="button-container">
      <button mat-stroked-button color="primary" mat-dialog-close="false">Close</button>
      <button [loading]="isLoading" mat-flat-button color="primary" type="submit" [disabled]="!form.valid">
        Save
      </button>
    </div>
  </mat-dialog-actions>
</form>
