<h3 class="flex-item">
  Notice of Intent Parcels
</h3>
<div class="review-table">
  @for (parcel of parcels; track parcel; let parcelInd = $index) {
    <div class="full-width flex-space-between-wrap">
      <h4>Parcel #{{ parcelInd + 1 }}</h4>
    </div>
    <div class="subheading2 grid-1">Parcel Type</div>
    <div class="grid-double">
      {{ parcel.ownershipType?.label }}
      @if (!parcel.ownershipType) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Legal Description</div>
    <div class="grid-double">
      {{ parcel.legalDescription }}
    </div>
    <div class="subheading2 grid-1">Approx. Map Area</div>
    <div class="grid-double">
      {{ parcel.mapAreaHectares }}
      @if (parcel.mapAreaHectares !== null) {
        <span>ha</span>
      }
    </div>
    <div class="subheading2 grid-1">
      PID {{ parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.CROWN ? '(optional)' : '' }}
    </div>
    <div class="grid-double">
      @if (parcel.pid) {
        <span>{{ parcel.pid | mask : '000-000-000' }}</span>
      }
      @if (!parcel.pid) {
        <app-no-data></app-no-data>
      }
    </div>
    @if (parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.CROWN) {
      <div class="subheading2 grid-1">PIN (optional)</div>
      <div class="grid-double">
        {{ parcel.pin }}
        @if (!parcel.pin) {
          <app-no-data></app-no-data>
        }
      </div>
    }
    @if (parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.FEE_SIMPLE) {
      <div class="subheading2 grid-1">Purchase Date</div>
      <div class="grid-double">
        {{ parcel.purchasedDate | date }}
        @if (!parcel.purchasedDate) {
          <app-no-data></app-no-data>
        }
      </div>
    }
    <div class="subheading2 grid-1">Farm Classification</div>
    <div class="grid-double">
      @if (parcel.isFarm !== null) {
        <span>{{ parcel.isFarm ? 'Yes' : 'No' }}</span>
      }
      @if (parcel.isFarm === null) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Civic Address</div>
    <div class="grid-double">
      {{ parcel.civicAddress }}
      @if (!parcel.civicAddress) {
        <app-no-data></app-no-data>
      }
    </div>
    @if (parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.CROWN) {
      <h5>Government Parcel Contact</h5>
      @if (parcel.owners[0]) {
        <div class="subheading2 grid-1">First Name</div>
        <div class="grid-double">
          {{ parcel.owners[0].firstName }}
          @if (!parcel.owners[0].firstName) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2 grid-1">
          Last Name
        </div>
        <div class="grid-double">
          {{ parcel.owners[0].lastName }}
          @if (!parcel.owners[0].lastName) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2 grid-1">
          Ministry or Department
        </div>
        <div class="grid-double">
          {{ parcel.owners[0].organizationName }}
          @if (!parcel.owners[0].organizationName) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2 grid-1">
          Crown Type
        </div>
        <div class="grid-double">
          {{ parcel.owners[0].crownLandOwnerType === 'provincial' ? 'Provincial Crown' : '' }}
          {{ parcel.owners[0].crownLandOwnerType === 'federal' ? 'Federal Crown' : '' }}
          @if (!parcel.owners[0].crownLandOwnerType) {
            <app-no-data></app-no-data>
          }
        </div>
      }
      @if (!parcel.owners[0]) {
        <app-no-data></app-no-data>
      }
    }
    @if (parcel.ownershipTypeCode !== PARCEL_OWNERSHIP_TYPES.CROWN) {
      <div class="full-width owner-information">
        <div class="subheading2">Land Owner(s)</div>
        <div class="subheading2">Organization</div>
        @for (owner of parcel.owners; track owner) {
          <div>{{ owner.displayName }}</div>
          <div>
            @if (owner.organizationName) {
              <span></span>
              }{{ owner.organizationName }}
              @if (!owner.organizationName) {
                <div class="no-data-text">Not Applicable</div>
              }
            </div>
          }
          <div class="full-width">
            @if (parcel.owners.length === 0) {
              <app-no-data></app-no-data>
            }
          </div>
        </div>
      }
    }
  </div>
