<h2>Resolution</h2>
<div>
  <div class="description">
    <div>Provide the {{ governmentName }} resolution outcome</div>
  </div>
  <div *ngIf="!isFirstNationGovernment && (this.isOCPDesignation === null || this.isSubjectToZoning === null)">
    Please complete both Step 2 Plans & Bylaws: OCP and Step 3 Plans & Bylaws: Zoning to continue with this step.
  </div>
  <div *ngIf="!isFirstNationGovernment && this.isOCPDesignation === false && this.isSubjectToZoning === false">
    By indicating that the parcel(s) is not subject to Local Government OCP or Zoning,
    <strong>no authorizing resolution is required</strong> as per S. 25 (3) or S. 29 (4) of the <em>ALC Act</em>. The
    only option available to you is to forward this application on to the ALC.
  </div>
  <form [formGroup]="resolutionForm">
    <div class="form-row">
      <div
        class="full-row"
        *ngIf="
          ((this.isOCPDesignation === true || this.isSubjectToZoning === true) &&
            this.isOCPDesignation !== null &&
            this.isSubjectToZoning !== null) ||
          this.isFirstNationGovernment
        "
      >
        <label for="is-consistent">What is the outcome of the Board/Council resolution?</label>
        <mat-button-toggle-group class="input" id="is-consistent" formControlName="isAuthorized">
          <mat-button-toggle value="true" [ngClass]="{ 'error-outline': isAuthorized.invalid && showErrors }"
            >Forward for ALC decision
          </mat-button-toggle>
          <mat-button-toggle value="false" [ngClass]="{ 'error-outline': isAuthorized.invalid && showErrors }"
            >Refuse to forward to ALC
          </mat-button-toggle>
        </mat-button-toggle-group>
        <div *ngIf="isAuthorized.invalid && showErrors" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="isAuthorized.errors?.['required']">This field is required</div>
        </div>
      </div>
    </div>
  </form>
</div>
