@use '../../../../../../styles/functions' as *;
@use '../../../../../../styles/colors';

section {
  margin-top: rem(36);
}

.steps-list {
  margin: rem(16) 0;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

:host::ng-deep .mat-mdc-radio-button label {
  font-weight: 400 !important;
}

.scrollable {
  overflow-x: auto;
}

.actions {
  button:not(:last-child) {
    margin-right: rem(8) !important;
  }
}

.no-data-text {
  color: colors.$grey-dark;
  text-align: left;
  padding-top: 0;
}

.visible-count-container {
  text-align: center;
  margin: 12px 0;
  font-size: 1.1rem;
}

.no-data-container {
  justify-content: center;
  margin: 10px;
}

td {
  vertical-align: top;
}

.description-column {
  width: 40%;
}

.description-data {
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 40%;
}
