<div class="step-description">
  <h2>Proposal</h2>
  <p>*All fields are required unless stated optional or disabled.</p>
  <app-commission-purposes-panel></app-commission-purposes-panel>
</div>
<app-warning-banner>
  In order to complete this step, please consult the following pages on the ALC website:
  <ul class="steps-list">
    <li>
      <a
        href="https://www.alc.gov.bc.ca/application-and-notice-process/applications/what-the-commission-considers/"
        target="_blank"
      >
        What the Commission Considers
      </a>
    </li>
    <li>
      <a
        href="https://www.alc.gov.bc.ca/application-and-notice-process/applications/required-documents/#naru"
        target="_blank"
      >
        Non-Adhering Residential Use within the ALR</a
      >
    </li>
  </ul>
</app-warning-banner>
<form [formGroup]="form">
  <div class="form-row">
    <div class="full-row">
      <mat-label for="will-be-over-five-hundred-m2">
        Is your proposal for a principal residence with a total floor area greater than 500 m<sup>2</sup>?
      </mat-label>
      <div class="subtext">Total floor area includes the basement and any attached garage</div>
      <mat-button-toggle-group
        (change)="onChangeOver500m2($event.value)"
        class="input"
        id="will-be-over-five-hundred-m2"
        formControlName="willBeOverFiveHundredM2"
      >
        <mat-button-toggle
          [value]="true"
          [ngClass]="{
            'error-outline':
              willBeOverFiveHundredM2.invalid && (willBeOverFiveHundredM2.dirty || willBeOverFiveHundredM2.touched),
          }"
          >Yes</mat-button-toggle
        >
        <mat-button-toggle
          [value]="false"
          [ngClass]="{
            'error-outline':
              willBeOverFiveHundredM2.invalid && (willBeOverFiveHundredM2.dirty || willBeOverFiveHundredM2.touched),
          }"
          >No</mat-button-toggle
        >
      </mat-button-toggle-group>
      <div
        *ngIf="willBeOverFiveHundredM2.invalid && (willBeOverFiveHundredM2.dirty || willBeOverFiveHundredM2.touched)"
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="willBeOverFiveHundredM2.errors?.['required']">This field is required</div>
      </div>
    </div>

    <div class="full-row">
      <mat-label for="will-retain-residence">
        Is your proposal to retain an existing residence while building a new residence?
      </mat-label>
      <mat-button-toggle-group
        (change)="onChangeRetain($event.value)"
        class="input"
        id="will-retain-residence"
        formControlName="willRetainResidence"
      >
        <mat-button-toggle
          [value]="true"
          [ngClass]="{
            'error-outline': willRetainResidence.invalid && (willRetainResidence.dirty || willRetainResidence.touched),
          }"
          >Yes</mat-button-toggle
        >
        <mat-button-toggle
          [value]="false"
          [ngClass]="{
            'error-outline': willRetainResidence.invalid && (willRetainResidence.dirty || willRetainResidence.touched),
          }"
          >No</mat-button-toggle
        >
      </mat-button-toggle-group>
      <div
        *ngIf="willRetainResidence.invalid && (willRetainResidence.dirty || willRetainResidence.touched)"
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="willRetainResidence.errors?.['required']">This field is required</div>
      </div>
    </div>

    <div class="full-row">
      <mat-label for="will-have-additional-residence">Is your proposal for an additional residence?</mat-label>
      <mat-button-toggle-group
        (change)="onChangeAdditional($event.value)"
        class="input"
        id="will-have-additional-residence"
        formControlName="willHaveAdditionalResidence"
      >
        <mat-button-toggle
          [value]="true"
          [ngClass]="{
            'error-outline':
              willHaveAdditionalResidence.invalid &&
              (willHaveAdditionalResidence.dirty || willHaveAdditionalResidence.touched),
          }"
          >Yes</mat-button-toggle
        >
        <mat-button-toggle
          [value]="false"
          [ngClass]="{
            'error-outline':
              willHaveAdditionalResidence.invalid &&
              (willHaveAdditionalResidence.dirty || willHaveAdditionalResidence.touched),
          }"
          >No</mat-button-toggle
        >
      </mat-button-toggle-group>
      <div
        *ngIf="
          willHaveAdditionalResidence.invalid &&
          (willHaveAdditionalResidence.dirty || willHaveAdditionalResidence.touched)
        "
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="willHaveAdditionalResidence.errors?.['required']">This field is required</div>
      </div>
    </div>

    <div class="full-row">
      <mat-label for="will-have-temporary-foreign-worker-housing">
        Is your proposal for temporary foreign worker housing?
      </mat-label>
      <div class="subtext">For registration in a federal temporary worker program</div>
      <mat-button-toggle-group
        (change)="onChangeTemporaryHousing($event.value)"
        class="input"
        id="will-have-temporary-foreign-worker-housing"
        formControlName="willHaveTemporaryForeignWorkerHousing"
      >
        <mat-button-toggle
          [value]="true"
          [ngClass]="{
            'error-outline':
              willHaveTemporaryForeignWorkerHousing.invalid &&
              (willHaveTemporaryForeignWorkerHousing.dirty || willHaveTemporaryForeignWorkerHousing.touched),
          }"
          >Yes</mat-button-toggle
        >
        <mat-button-toggle
          [value]="false"
          [ngClass]="{
            'error-outline':
              willHaveTemporaryForeignWorkerHousing.invalid &&
              (willHaveTemporaryForeignWorkerHousing.dirty || willHaveTemporaryForeignWorkerHousing.touched),
          }"
          >No</mat-button-toggle
        >
      </mat-button-toggle-group>
      <div
        *ngIf="
          willHaveTemporaryForeignWorkerHousing.invalid &&
          (willHaveTemporaryForeignWorkerHousing.dirty || willHaveTemporaryForeignWorkerHousing.touched)
        "
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="willHaveTemporaryForeignWorkerHousing.errors?.['required']">This field is required</div>
      </div>
    </div>

    <div class="full-row">
      <mat-label for="will-import-fill">
        Do you need to import any fill to construct or conduct the proposed non-adhering residential use?
      </mat-label>
      <div class="subtext">Fill is any material brought onto the property, including gravel for construction.</div>
      <mat-button-toggle-group
        (change)="onChangeFill($event.value)"
        class="input"
        id="will-import-fill"
        formControlName="willImportFill"
      >
        <mat-button-toggle
          [value]="true"
          [ngClass]="{ 'error-outline': willImportFill.invalid && (willImportFill.dirty || willImportFill.touched) }"
          >Yes</mat-button-toggle
        >
        <mat-button-toggle
          [value]="false"
          [ngClass]="{ 'error-outline': willImportFill.invalid && (willImportFill.dirty || willImportFill.touched) }"
          >No</mat-button-toggle
        >
      </mat-button-toggle-group>
      <div *ngIf="willImportFill.invalid && (willImportFill.dirty || willImportFill.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="willImportFill.errors?.['required']">This field is required</div>
      </div>
    </div>

    <div class="full-row">
      <label for="purpose">What is the purpose of the proposal?</label>
      <div class="subtext">
        Include why you are applying for non-adhering residential use, what the proposal will achieve, and any benefits
        to agriculture that the proposal provides.
      </div>
      <mat-form-field appearance="outline">
        <textarea formControlName="purpose" #purposeText maxlength="4000" id="purpose" matInput></textarea>
      </mat-form-field>
      <div *ngIf="purpose.invalid && (purpose.dirty || purpose.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="purpose.errors?.['required']">This field is required</div>
      </div>
      <div class="subtext">Characters left: {{ 4000 - purposeText.textLength }}</div>
    </div>

    <div class="full-row">
      <mat-expansion-panel [expanded]="true" class="siting-of-residences">
        <mat-expansion-panel-header>
          <mat-panel-title>Siting of the residence(s)</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="siting-of-residences-content">
          <p>
            Siting of the residence in the ALR should maintain a visible agricultural remainder and should not
            unnecessarily infringe upon the productive farming area of the property. Siting considers both clustering
            and setback from the lot line.
          </p>

          <p>
            For more information see
            <a
              href="https://www.alc.gov.bc.ca/assets/alc/assets/legislation-and-regulation/policies/alc_policy_l-26_-_non-adhering_residential_use_applications.pdf"
              target="_blank"
              >L-26: Non-Adhering Residential Applications for Housing in the ALR.</a
            >
          </p>

          <div class="siting-of-residences-figures">
            <figure class="siting-of-residences-figure">
              <figcaption class="siting-of-residences-figure-caption">Unclustered</figcaption>
              <img class="siting-of-residences-figure-image" src="assets/siting-figures/unclustered.svg" alt="" />
            </figure>

            <figure class="siting-of-residences-figure">
              <figcaption class="siting-of-residences-figure-caption">Clustered</figcaption>
              <img class="siting-of-residences-figure-image" src="assets/siting-figures/clustered.svg" alt="" />
            </figure>

            <figure class="siting-of-residences-figure">
              <figcaption class="siting-of-residences-figure-caption">Setback</figcaption>
              <img class="siting-of-residences-figure-image" src="assets/siting-figures/setback.svg" alt="" />
            </figure>
          </div>
        </div>
      </mat-expansion-panel>
    </div>

    <div class="full-row">
      <label for="residenceNecessity"
        >Describe the necessity for an additional residence for farm use and how it will support agriculture in the
        short or long term.</label
      >
      <div class="subtext">
        Include a description of the scale, intensity, and labour capacity of the farm operation
      </div>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="residenceNecessity"
          #residenceNecessityText
          maxlength="4000"
          id="residenceNecessity"
          matInput
        ></textarea>
      </mat-form-field>
      <div
        *ngIf="residenceNecessity.invalid && (residenceNecessity.dirty || residenceNecessity.touched)"
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="residenceNecessity.errors?.['required']">This field is required</div>
      </div>
      <div class="subtext">Characters left: {{ 4000 - residenceNecessityText.textLength }}</div>
    </div>

    <div class="full-row">
      <label for="residenceNecessity"
        >Describe how the proposal for a principal residence more than 500 m<sup>2</sup> will support agriculture in the
        short or long term.</label
      >
      <mat-form-field appearance="outline">
        <textarea
          formControlName="residenceNecessity"
          #residenceNecessityText
          maxlength="4000"
          id="residenceNecessity"
          matInput
        ></textarea>
      </mat-form-field>
      <div
        *ngIf="residenceNecessity.invalid && (residenceNecessity.dirty || residenceNecessity.touched)"
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="residenceNecessity.errors?.['required']">This field is required</div>
      </div>
      <div class="subtext">Characters left: {{ 4000 - residenceNecessityText.textLength }}</div>
    </div>

    <div class="full-row">
      <label for="clustered"
        >Will the proposed residence(s) be clustered with existing residential structures? Please explain.</label
      >
      <mat-form-field appearance="outline">
        <textarea formControlName="clustered" #clusteredText maxlength="4000" id="clustered" matInput></textarea>
      </mat-form-field>
      <div *ngIf="clustered.invalid && (clustered.dirty || clustered.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="clustered.errors?.['required']">This field is required</div>
      </div>
      <div class="subtext">Characters left: {{ 4000 - clusteredText.textLength }}</div>
    </div>

    <div class="full-row">
      <label for="setback"
        >Will the proposed residence(s) be located within a 60 m setback from the front lot line? Please explain.</label
      >
      <mat-form-field appearance="outline">
        <textarea formControlName="setback" #setbackText maxlength="4000" id="setback" matInput></textarea>
      </mat-form-field>
      <div *ngIf="setback.invalid && (setback.dirty || setback.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="setback.errors?.['required']">This field is required</div>
      </div>
      <div class="subtext">Characters left: {{ 4000 - setbackText.textLength }}</div>
    </div>

    <div class="full-row">
      <label for="locationRationale"
        >Where on the parcel will the proposal be situated and is there an agricultural rationale for the proposed
        location?</label
      >
      <mat-form-field appearance="outline">
        <textarea
          formControlName="locationRationale"
          #locationRationaleText
          maxlength="4000"
          id="locationRationale"
          matInput
        ></textarea>
      </mat-form-field>
      <div
        *ngIf="locationRationale.invalid && (locationRationale.dirty || locationRationale.touched)"
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="locationRationale.errors?.['required']">This field is required</div>
      </div>
      <div class="subtext">Characters left: {{ 4000 - locationRationaleText.textLength }}</div>
    </div>

    <div class="full-row">
      <label for="infrastructure">
        Describe any infrastructure required to support the proposed residence(s) and the approximate area
        (m<sup>2</sup>) required for that infrastructure
      </label>
      <div class="subtext">For example: driveway, septic field, sewage lagoon, yard</div>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="infrastructure"
          #infrastructureText
          maxlength="4000"
          id="infrastructure"
          matInput
        ></textarea>
      </mat-form-field>
      <div *ngIf="infrastructure.invalid && (infrastructure.dirty || infrastructure.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="infrastructure.errors?.['required']">This field is required</div>
      </div>
      <div class="subtext">Characters left: {{ 4000 - infrastructureText.textLength }}</div>
    </div>

    <div class="full-row">
      <mat-label>Total Floor Area of Existing Residence(s) - If Applicable</mat-label>
      <div class="scrollable" *ngIf="!isMobile">
        <table mat-table [dataSource]="existingResidencesSource">
          <ng-container class="sample" matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>Existing Residence</th>
            <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="floorArea">
            <th mat-header-cell *matHeaderCellDef>Total Floor Area</th>
            <td mat-cell *matCellDef="let element">
              {{ element.floorArea }} <span matTextSuffix>m<sup>2</sup></span>
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="description-column">Description</th>
            <td mat-cell *matCellDef="let element" class="description-data">
              {{ element.isExpanded ? element.description : getTruncatedDescription(element.description) }}
              <a *ngIf="isDescriptionTruncated(element.description)" (click)="toggleReadMore(element)">
                {{ element.isExpanded ? 'Read Less' : 'Read More' }}
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell class="actions" *matCellDef="let element">
              <button
                type="button"
                mat-stroked-button
                color="primary"
                (click)="onAddEditExistingResidence(element, true)"
              >
                Edit
              </button>
              <button type="button" mat-stroked-button color="accent" (click)="onDeleteExistingResidence(element)">
                Remove
              </button>
            </td></ng-container
          >

          <tr mat-header-row *matHeaderRowDef="existingResidencesDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: existingResidencesDisplayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <div class class="no-data-container">
              <td class="no-data-text" colspan="6">Use the button below to add any existing residence(s)</td>
            </div>
          </tr>
        </table>
      </div>
      <ng-container *ngIf="isMobile">
        <app-naru-residence-mobile-card
          *ngFor="let existingResidence of existingResidences; let last = last"
          [existingResidence]="existingResidence"
          [isLast]="last"
          [isReviewStep]="false"
          (editClicked)="onAddEditExistingResidence(existingResidence, true)"
          (removeClicked)="onDeleteExistingResidence(existingResidence)"
        >
        </app-naru-residence-mobile-card>
      </ng-container>
      <button mat-stroked-button color="primary" (click)="onAddEditExistingResidence(undefined, false)">
        + Add Existing Residence
      </button>
    </div>

    <div class="full-row">
      <mat-label class="subheading2" for="proposal-map">Proposal Map / Site Plan</mat-label>
      <div class="subtext">A visual representation of your proposal.</div>
      <app-file-drag-drop
        id="proposal-map"
        [uploadedFiles]="proposalMap"
        (uploadFiles)="attachProposalMap($event)"
        (deleteFile)="onDeleteFile($event)"
        (openFile)="openFile($event)"
        [showErrors]="showErrors"
        [isRequired]="true"
        [showVirusError]="showProposalMapVirus"
      ></app-file-drag-drop>
    </div>

    <div class="full-row">
      <mat-label class="subheading2" for="detailed-building-plans">Detailed Building Plan(s)</mat-label>
      <div class="subtext">
        Building plans must be the most up to date, current version and should include (1) the total floor area of all
        levels and intended use; and (2) interior and exterior views
      </div>
      <app-file-drag-drop
        id="detailed-building-plans"
        [uploadedFiles]="buildingPlans"
        (uploadFiles)="attachBuildingPlan($event)"
        (deleteFile)="onDeleteFile($event)"
        (openFile)="openFile($event)"
        [showErrors]="showErrors"
        [showVirusError]="showBuildingPlanVirus"
      ></app-file-drag-drop>
    </div>
  </div>

  <section>
    <h3>Soil & Fill Components</h3>
    <div class="form-row">
      <div class="full-row">
        <label for="fillType">Describe the type and amount of fill proposed to be placed.</label>
        <div class="subtext">The Commission must approve any proposed fill. List all proposed types of fill.</div>
        <mat-form-field appearance="outline">
          <textarea formControlName="fillType" #fillTypeToPlaceText maxlength="4000" id="fillType" matInput></textarea>
        </mat-form-field>
        <div *ngIf="fillType.invalid && (fillType.dirty || fillType.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="fillType.errors?.['required']">This field is required</div>
        </div>
        <mat-hint class="subtext">Example: Aggregate, topsoil, structural fill, sand, gravel, etc</mat-hint>
        <div class="subtext">Characters left: {{ 4000 - fillTypeToPlaceText.textLength }}</div>
      </div>
    </div>

    <div class="form-row">
      <div class="full-row">
        <label for="fillOrigin">Briefly describe the origin and quality of fill.</label>
        <mat-form-field appearance="outline">
          <textarea
            formControlName="fillOrigin"
            #fillOriginToPlaceText
            maxlength="4000"
            id="fillOrigin"
            matInput
          ></textarea>
        </mat-form-field>
        <div *ngIf="fillOrigin.invalid && (fillOrigin.dirty || fillOrigin.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="fillOrigin.errors?.['required']">This field is required</div>
        </div>
        <div class="subtext">Characters left: {{ 4000 - fillOriginToPlaceText.textLength }}</div>
      </div>
    </div>

    <div class="form-row">
      <div class="full-row">
        <label for="projectDuration">Placement of Fill Project Duration</label>
        <div class="subtext">Length of time you anticipate it would take to complete the project</div>
        <mat-form-field appearance="outline">
          <input
            id="projectDuration"
            maxlength="500"
            matInput
            [formControl]="projectDuration"
            placeholder="Type project duration"
          />
        </mat-form-field>
        <div *ngIf="projectDuration.invalid && (projectDuration.dirty || projectDuration.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="projectDuration.errors?.['required']">This field is required</div>
        </div>
        <mat-hint class="subtext">Example: 30 years; or 3 months; or 5 days</mat-hint>
        <div class="subtext">Characters left: {{ 500 - (projectDuration.value || '').length }}</div>
      </div>
    </div>

    <app-soil-table
      tableHeader="Fill to be Placed"
      [disabled]="fillTableDisabled"
      [touchAll]="showErrors"
      [(data)]="fillTableData"
      (dataChange)="markDirty()"
    ></app-soil-table>
  </section>
</form>
<div class="button-container">
  <button *ngIf="!draftMode" (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
  <button *ngIf="draftMode" (click)="onSaveExit()" mat-stroked-button color="accent">Discard all Changes</button>
  <div>
    <button mat-stroked-button color="primary" (click)="onNavigateToStep(currentStep - 1)">
      Previous<span class="mobile-hidden"> Step</span>
    </button>
    <button mat-flat-button color="primary" (click)="onNavigateToStep(currentStep + 1)">
      Next<span class="mobile-hidden"> Step</span>
    </button>
  </div>
</div>
