<div class="layout">
  <div class="application">
    <app-details-header
      [application]="application"
      heading="Application"
      days="Business Days"
      [isTagSectionHidden]="false"
      [submissionStatusService]="applicationStatusService"
      [showStatus]="true"
    ></app-details-header>
    <section class="content">
      <app-commissioner-decisions
        *ngIf="application?.decisions"
        [applicationDecisions]="application?.decisions!"
      ></app-commissioner-decisions>
      <app-document
        *ngIf="fileNumber"
        [fileNumber]="fileNumber"
        [visibilityFlags]="['C']"
        tableTitle="Evidentiary Record"
      ></app-document>
    </section>
  </div>
</div>
