<div class="layout">
  <div class="application">
    <app-details-header
      [application]="application"
      heading="Application"
      days="Business Days"
      [isTagSectionHidden]="false"
      [submissionStatusService]="applicationStatusService"
      [showStatus]="true"
    ></app-details-header>
    <section class="content">
      @if (!application?.decisions) {
        <div class="summary">
          <h4>Proposal Summary</h4>
          <div class="summary-content">
            @if (application?.summary) {
              <p>{{ application?.summary }}</p>
            }
          </div>
        </div>
      }
      @if (application?.decisions) {
        <app-commissioner-decisions
          [applicationDecisions]="application?.decisions!"
        ></app-commissioner-decisions>
      }
      @if (fileNumber) {
        <app-document
          [fileNumber]="fileNumber"
          [visibilityFlags]="['C']"
          tableTitle="Evidentiary Record"
        ></app-document>
      }
    </section>
  </div>
</div>
