<div *ngIf="_applicationSubmission" class="review-table">
  <div class="subheading2 grid-1">
    Do you need to import any fill to construct or conduct the proposed non-adhering residential use?
  </div>
  <div class="grid-double">
    <span *ngIf="_applicationSubmission.naruWillImportFill !== null">{{
      _applicationSubmission.naruWillImportFill ? 'Yes' : 'No'
    }}</span>
    <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.naruWillImportFill === null"></app-no-data>
  </div>

  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    {{ _applicationSubmission.purpose }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.purpose"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Where on the parcel will the proposal be situated and is there an agricultural rationale for the proposed location?
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.naruLocationRationale }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruLocationRationale"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Describe any infrastructure required to support the proposed residence(s) and the approximate area (m<sup>2</sup>)
    required for that infrastructure
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.naruInfrastructure }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruInfrastructure"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <a *ngFor="let map of proposalMap" (click)="openFile(map)">
      {{ map.fileName }}
    </a>
    <app-no-data [showRequired]="showErrors" *ngIf="proposalMap.length === 0"></app-no-data>
  </div>

  <ng-container *ngIf="_applicationSubmission.naruWillImportFill">
    <div class="subheading2 grid-1">Describe the type and amount of fill proposed to be placed.</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruFillType }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruFillType"></app-no-data>
    </div>

    <div class="subheading2 grid-1">Briefly describe the origin and quality of fill.</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruFillOrigin }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruFillOrigin"></app-no-data>
    </div>

    <div class="subheading2 grid-1">Placement of Fill Project Duration</div>
    <div class="grid-double">
      <div *ngIf="_applicationSubmission.naruProjectDuration">{{ _applicationSubmission.naruProjectDuration }}</div>
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruProjectDuration"></app-no-data>
    </div>

    <div class="full-width soil-table">
      <div></div>
      <div class="subheading2">Fill to be Placed</div>

      <div class="subheading2">Volume</div>
      <div>
        {{ _applicationSubmission.naruToPlaceVolume }}
        <span *ngIf="_applicationSubmission.naruToPlaceVolume !== null">m<sup>3</sup></span>
        <app-no-data
          [showRequired]="showErrors"
          *ngIf="_applicationSubmission.naruToPlaceVolume === null"
        ></app-no-data>
      </div>

      <div class="subheading2">Area</div>
      <div>
        {{ _applicationSubmission.naruToPlaceArea }}
        <span *ngIf="_applicationSubmission.naruToPlaceArea !== null">m<sup>2</sup></span>
        <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.naruToPlaceArea === null"></app-no-data>
      </div>

      <div class="subheading2">Maximum Depth</div>
      <div>
        {{ _applicationSubmission.naruToPlaceMaximumDepth }}
        <span *ngIf="_applicationSubmission.naruToPlaceMaximumDepth !== null">m</span>
        <app-no-data
          [showRequired]="showErrors"
          *ngIf="_applicationSubmission.naruToPlaceMaximumDepth === null"
        ></app-no-data>
      </div>

      <div class="subheading2">Average Depth</div>
      <div>
        {{ _applicationSubmission.naruToPlaceAverageDepth }}
        <span *ngIf="_applicationSubmission.naruToPlaceAverageDepth !== null">m</span>
        <app-no-data
          [showRequired]="showErrors"
          *ngIf="_applicationSubmission.naruToPlaceAverageDepth === null"
        ></app-no-data>
      </div>
    </div>
  </ng-container>

  <div *ngIf="showEdit" class="edit-button">
    <button mat-flat-button (click)="onEditSection(5)" color="accent">Edit Section</button>
  </div>
</div>
