<div *ngIf="_applicationSubmission" class="review-table">
  <div class="subheading2 grid-1">
    Is your proposal for a principal residence with a total floor area greater than 500 m<sup>2</sup>
  </div>
  <div class="grid-double">
    <span *ngIf="_applicationSubmission.naruWillBeOverFiveHundredM2 !== null">{{
      _applicationSubmission.naruWillBeOverFiveHundredM2 ? 'Yes' : 'No'
    }}</span>
    <app-no-data
      [showRequired]="showErrors"
      *ngIf="_applicationSubmission.naruWillBeOverFiveHundredM2 === null"
    ></app-no-data>
  </div>

  <div class="subheading2 grid-1">Is your proposal to retain an existing residence while building a new residence?</div>
  <div class="grid-double">
    <span *ngIf="_applicationSubmission.naruWillRetainResidence !== null">{{
      _applicationSubmission.naruWillRetainResidence ? 'Yes' : 'No'
    }}</span>
    <app-no-data
      [showRequired]="showErrors"
      *ngIf="_applicationSubmission.naruWillRetainResidence === null"
    ></app-no-data>
  </div>

  <div class="subheading2 grid-1">Is your proposal for an additional residence?</div>
  <div class="grid-double">
    <span *ngIf="_applicationSubmission.naruWillHaveAdditionalResidence !== null">{{
      _applicationSubmission.naruWillHaveAdditionalResidence ? 'Yes' : 'No'
    }}</span>
    <app-no-data
      [showRequired]="showErrors"
      *ngIf="_applicationSubmission.naruWillHaveAdditionalResidence === null"
    ></app-no-data>
  </div>

  <div class="subheading2 grid-1">Is your proposal for temporary foreign worker housing?</div>
  <div class="grid-double">
    <span *ngIf="_applicationSubmission.naruWillHaveTemporaryForeignWorkerHousing !== null">{{
      _applicationSubmission.naruWillHaveTemporaryForeignWorkerHousing ? 'Yes' : 'No'
    }}</span>
    <app-no-data
      [showRequired]="showErrors"
      *ngIf="_applicationSubmission.naruWillHaveTemporaryForeignWorkerHousing === null"
    ></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Do you need to import any fill to construct or conduct the proposed non-adhering residential use?
  </div>
  <div class="grid-double">
    <span *ngIf="_applicationSubmission.naruWillImportFill !== null">{{
      _applicationSubmission.naruWillImportFill ? 'Yes' : 'No'
    }}</span>
    <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.naruWillImportFill === null"></app-no-data>
  </div>

  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    {{ _applicationSubmission.purpose }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.purpose"></app-no-data>
  </div>

  <ng-container
    *ngIf="
      _applicationSubmission.naruWillBeOverFiveHundredM2 ||
      _applicationSubmission.naruWillHaveAdditionalResidence ||
      _applicationSubmission.naruWillHaveTemporaryForeignWorkerHousing
    "
  >
    <div class="subheading2 grid-1">
      Is your proposal necessary for farm use? If so, please explain<ng-container
        *ngIf="_applicationSubmission.naruWillHaveTemporaryForeignWorkerHousing"
      >
        what the temporary foreign workers will be doing on the farm</ng-container
      >.
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruResidenceNecessity }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruResidenceNecessity"></app-no-data>
    </div>
  </ng-container>

  <ng-container *ngIf="_applicationSubmission.naruWillHaveTemporaryForeignWorkerHousing">
    <div class="subheading2 grid-1">How many temporary foreign workers will be housed by the proposal?</div>
    <div class="grid-double">
      {{ _applicationSubmission.tfwhCount }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.tfwhCount"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Will the temporary foreign worker housing be designed to move from one place to another?
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.tfwhDesign ? 'Yes' : 'No' }}
      <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.tfwhDesign === null"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      What is the size (in hectares) of the farm operation that the temporary foreign workers will be supporting?
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.tfwhFarmSize }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.tfwhFarmSize"></app-no-data>
    </div>
  </ng-container>

  <div class="subheading2 grid-1">
    Will the proposed residence(s) be clustered with existing residential structures? Please explain.
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.naruClustered }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruClustered"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Will the proposed residence(s) be located within a 60 m setback from the front lot line? Please explain.
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.naruSetback }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruSetback"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Where on the parcel will the proposal be situated and is there an agricultural rationale for the proposed location?
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.naruLocationRationale }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruLocationRationale"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Describe any infrastructure required to support the proposed residence(s) and the approximate area (m<sup>2</sup>)
    required for that infrastructure
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.naruInfrastructure }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruInfrastructure"></app-no-data>
  </div>

  <ng-container *ngIf="_applicationSubmission.naruExistingResidences">
    <div class="full-width existing-residences" *ngIf="!isMobile">
      <div class="subheading2">Existing Residence</div>
      <div class="subheading2">Total Floor Area</div>
      <div class="subheading2">Description</div>
      <ng-container *ngIf="_applicationSubmission.naruExistingResidences?.length === 0">
        <div>
          <app-no-data></app-no-data>
        </div>
      </ng-container>
      <ng-container *ngFor="let existingResidence of _applicationSubmission.naruExistingResidences; let i = index">
        <div>
          {{ i + 1 }}
        </div>
        <div>
          {{ existingResidence.floorArea }} <span matTextSuffix>m<sup>2</sup></span>
        </div>
        <div>{{ existingResidence.description }}</div>
      </ng-container>
    </div>
    <ng-container *ngIf="isMobile">
      <div class="subheading2 grid-1">Total Floor Area of Existing Residence(s) - If Applicable</div>
      <ng-container *ngIf="_applicationSubmission.naruExistingResidences?.length === 0">
        <div>
          <app-no-data></app-no-data>
        </div>
      </ng-container>
      <app-naru-residence-mobile-card
        *ngFor="let existingResidence of _applicationSubmission.naruExistingResidences; let last = last"
        [residence]="existingResidence"
        [isLast]="last"
        [isReviewStep]="true"
      >
      </app-naru-residence-mobile-card>
    </ng-container>
  </ng-container>

  <div class="full-width existing-residences" *ngIf="!isMobile">
    <div class="subheading2">Proposed Residence</div>
    <div class="subheading2">Total Floor Area</div>
    <div class="subheading2">Description</div>
    <ng-container *ngIf="_applicationSubmission.naruProposedResidences?.length === 0">
      <div>
        <app-no-data [showRequired]="showErrors"></app-no-data>
      </div>
    </ng-container>
    <ng-container *ngFor="let proposedResidence of _applicationSubmission.naruProposedResidences; let i = index">
      <div>
        {{ i + 1 }}
      </div>
      <div>
        {{ proposedResidence.floorArea }} <span matTextSuffix>m<sup>2</sup></span>
      </div>
      <div>{{ proposedResidence.description }}</div>
    </ng-container>
  </div>
  <ng-container *ngIf="isMobile">
    <div class="subheading2 grid-1">Total Floor Area of Proposed Residence(s)</div>
    <ng-container *ngIf="_applicationSubmission.naruProposedResidences?.length === 0">
      <div>
        <app-no-data [showRequired]="showErrors"></app-no-data>
      </div>
    </ng-container>
    <app-naru-residence-mobile-card
      *ngFor="let proposedResidence of _applicationSubmission.naruProposedResidences; let last = last"
      [residence]="proposedResidence"
      [isLast]="last"
      [isReviewStep]="true"
    >
    </app-naru-residence-mobile-card>
  </ng-container>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <a *ngFor="let map of proposalMap" (click)="openFile(map)">
      {{ map.fileName }}
    </a>
    <app-no-data [showRequired]="showErrors" *ngIf="proposalMap.length === 0"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Detailed Building Plan(s)</div>
  <div class="grid-double">
    <a *ngFor="let plan of buildingPlans" (click)="openFile(plan)">
      {{ plan.fileName }}
    </a>
    <app-no-data *ngIf="buildingPlans.length === 0"></app-no-data>
  </div>

  <ng-container *ngIf="_applicationSubmission.naruWillImportFill">
    <div class="subheading2 grid-1">Describe the type and amount of fill proposed to be placed.</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruFillType }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruFillType"></app-no-data>
    </div>

    <div class="full-width soil-table">
      <div></div>
      <div class="subheading2">Fill to be Placed</div>

      <div class="subheading2">Area</div>
      <div>
        {{ _applicationSubmission.naruToPlaceArea }}
        <span *ngIf="_applicationSubmission.naruToPlaceArea !== null">m<sup>2</sup></span>
        <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.naruToPlaceArea === null"></app-no-data>
      </div>

      <div class="subheading2">Maximum Depth</div>
      <div>
        {{ _applicationSubmission.naruToPlaceMaximumDepth }}
        <span *ngIf="_applicationSubmission.naruToPlaceMaximumDepth !== null">m</span>
        <app-no-data
          [showRequired]="showErrors"
          *ngIf="_applicationSubmission.naruToPlaceMaximumDepth === null"
        ></app-no-data>
      </div>

      <div class="subheading2">Average Depth</div>
      <div>
        {{ _applicationSubmission.naruToPlaceAverageDepth }}
        <span *ngIf="_applicationSubmission.naruToPlaceAverageDepth !== null">m</span>
        <app-no-data
          [showRequired]="showErrors"
          *ngIf="_applicationSubmission.naruToPlaceAverageDepth === null"
        ></app-no-data>
      </div>
    </div>
  </ng-container>

  <div *ngIf="showEdit" class="edit-button">
    <button mat-flat-button (click)="onEditSection(5)" color="accent">Edit Section</button>
  </div>
</div>
