<div *ngIf="_applicationSubmission" class="review-table">
  <div class="subheading2 grid-1">Selected Subtype:</div>
  <div class="grid-double">
    <span *ngIf="_applicationSubmission.naruSubtype !== null">
      {{ _applicationSubmission.naruSubtype.label }}
    </span>
    <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.naruSubtype === null"></app-no-data>
  </div>

  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    {{ _applicationSubmission.purpose }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.purpose"></app-no-data>
  </div>

  <ng-container *ngIf="_applicationSubmission.naruSubtype?.code === 'ARFU'">
    <div class="subheading2 grid-1">
      What is the total floor area (m<sup>2</sup>) of the proposed additional residence?
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruFloorArea }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruFloorArea"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Describe the necessity for an additional residence for farm use and how it will support agriculture in the short
      or long term.
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruResidenceNecessity }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruResidenceNecessity"></app-no-data>
    </div>

    <div class="subheading2 grid-1">Describe the rationale for the proposed location of the additional residence.</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruLocationRationale }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruLocationRationale"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Provide the total area (m<sup>2</sup>) and a description of infrastructure necessary to support the additional
      residence.
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruInfrastructure }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruInfrastructure"></app-no-data>
    </div>
  </ng-container>

  <ng-container *ngIf="_applicationSubmission.naruSubtype?.code === 'PRIN'">
    <div class="subheading2 grid-1">
      What is the total floor area (m<sup>2</sup>) of the proposed principal residence?
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruFloorArea }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruFloorArea"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Describe how the proposal for a principal residence more than 500 m<sup>2</sup> will support agriculture in the
      short or long term.
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruResidenceNecessity }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruResidenceNecessity"></app-no-data>
    </div>

    <div class="subheading2 grid-1">Describe the rationale for the proposed location of the principal residence.</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruLocationRationale }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruLocationRationale"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Provide the total area (m<sup>2</sup>) and a description of infrastructure necessary to support the additional
      residence.
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruInfrastructure }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruInfrastructure"></app-no-data>
    </div>
  </ng-container>

  <ng-container *ngIf="_applicationSubmission.naruSubtype?.code === 'TOUR'">
    <div class="subheading2 grid-1">What is the total floor area (m<sup>2</sup>) of the proposed accommodation?</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruFloorArea }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruFloorArea"></app-no-data>
    </div>

    <div class="subheading2 grid-1">How many "sleeping units" in total are proposed?</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruSleepingUnits }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruSleepingUnits"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Describe how the proposal for tourism accommodation will support agriculture in the short or long term.
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruResidenceNecessity }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruResidenceNecessity"></app-no-data>
    </div>

    <div class="subheading2 grid-1">Describe the rationale for the proposed location of the tourism accommodation.</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruLocationRationale }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruLocationRationale"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Provide the total area (m<sup>2</sup>) and a description of infrastructure necessary to support the tourism
      accommodation.
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruInfrastructure }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruInfrastructure"></app-no-data>
    </div>

    <div class="subheading2 grid-1">Describe any agri-tourism that is currently taking place on the property.</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruAgriTourism }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruAgriTourism"></app-no-data>
    </div>
  </ng-container>

  <div class="subheading2 grid-1">
    Describe the total floor area (m<sup>2</sup>), type, number, and occupancy of all residential structures currently
    located on the property.
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.naruExistingStructures }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruExistingStructures"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <a *ngFor="let map of proposalMap" (click)="openFile(map.uuid)">
      {{ map.fileName }}
    </a>
    <app-no-data [showRequired]="showErrors" *ngIf="proposalMap.length === 0"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Do you need to import any fill to construct or conduct the proposed non-adhering residential use?
  </div>
  <div class="grid-double">
    <span *ngIf="_applicationSubmission.naruWillImportFill !== null">{{
      _applicationSubmission.naruWillImportFill ? 'Yes' : 'No'
    }}</span>
    <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.naruWillImportFill === null"></app-no-data>
  </div>

  <ng-container *ngIf="_applicationSubmission.naruWillImportFill">
    <div class="subheading2 grid-1">Describe the type and amount of fill proposed to be placed.</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruFillType }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruFillType"></app-no-data>
    </div>

    <div class="subheading2 grid-1">Briefly describe the origin and quality of fill.</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruFillOrigin }}
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.naruFillOrigin"></app-no-data>
    </div>

    <div class="subheading2 grid-1">Fill Project Duration</div>
    <div class="grid-double">
      <div *ngIf="_applicationSubmission.naruProjectDurationAmount && _applicationSubmission.naruProjectDurationUnit">
        {{ _applicationSubmission.naruProjectDurationAmount }}
        <ng-container [ngPlural]="_applicationSubmission.naruProjectDurationAmount">
          <ng-template ngPluralCase="=1">
            {{ _applicationSubmission.naruProjectDurationUnit.slice(0, -1) | titlecase }}
          </ng-template>
          <ng-template ngPluralCase="other">
            {{ _applicationSubmission.naruProjectDurationUnit | titlecase }}
          </ng-template>
        </ng-container>
      </div>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="!_applicationSubmission.naruProjectDurationAmount || !_applicationSubmission.naruProjectDurationUnit"
      ></app-no-data>
    </div>

    <div class="grid-1"></div>
    <div class="subheading2 grid-double">Fill to be Placed</div>

    <div class="subheading2 grid-1">Volume</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruToPlaceVolume }}
      <span *ngIf="_applicationSubmission.naruToPlaceVolume !== null">m<sup>3</sup></span>
      <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.naruToPlaceVolume === null"></app-no-data>
    </div>
    <div class="subheading2 grid-1">Area</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruToPlaceArea }}
      <span *ngIf="_applicationSubmission.naruToPlaceArea !== null">m<sup>2</sup></span>
      <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.naruToPlaceArea === null"></app-no-data>
    </div>
    <div class="subheading2 grid-1">Maximum Depth</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruToPlaceMaximumDepth }}
      <span *ngIf="_applicationSubmission.naruToPlaceMaximumDepth !== null">m</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.naruToPlaceMaximumDepth === null"
      ></app-no-data>
    </div>
    <div class="subheading2 grid-1">Average Depth</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruToPlaceAverageDepth }}
      <span *ngIf="_applicationSubmission.naruToPlaceAverageDepth !== null">m</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.naruToPlaceAverageDepth === null"
      ></app-no-data>
    </div>
  </ng-container>

  <div *ngIf="showEdit" class="edit-button">
    <button mat-flat-button (click)="onEditSection(5)" color="accent">Edit Section</button>
  </div>
</div>
