<mat-card [ngClass]="{ 'last-card': isLast, 'review-step':  isReviewStep, 'error-card': isError && !isReviewStep }">
  <mat-card-header>
    <mat-card-title>
      <div class="line-info-floor">
        <span class="strong">#{{ index+1 }} Total Floor Area: </span>
        <ng-container *ngIf="structure.area === 0 || !structure.area; else validFloorArea">
          <div class="text-error">No Data</div>
        </ng-container>
        <ng-template #validFloorArea>
          <span [class.strong]="isReviewStep">{{ structure.area }} <span matTextSuffix>(m<sup>2</sup>)</span></span>
        </ng-template>
      <div class="line-info-type">
        <span class="strong">Type: </span>{{ mapStructureTypeValueToLabel(structure.type) }}
      </div>
      <div class="field-error" *ngIf="(!structure.area || structure.area === 0 || !structure.type) && !isReviewStep">
        <mat-icon>warning</mat-icon>
        <div>This field is required</div>
      </div>
      <app-no-data [showRequired]="showErrors" *ngIf="(!structure.area || structure.area === 0 || !structure.type) && isReviewStep"></app-no-data>
    </div>
    </mat-card-title>
    <ng-container *ngIf="!isReviewStep">
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEdit()">
          <span class="span-action">Edit</span>
        </button>
        <button mat-menu-item (click)="onRemove()">
          <span class="span-action">Remove</span>
        </button>
      </mat-menu>
    </ng-container>
  </mat-card-header>
  <div class="residential-warning" *ngIf="isResidential(structure.type) && !isReviewStep">
    <div class="residential-warning-text">
      The proposed residential structure and its total floor area must be allowed under the ALC Act and/or ALR Use Regulation. 
      If not, you may require a 'Non-Adhering Residential Use' application instead. For more info, please see 
      <a href="https://www.alc.gov.bc.ca/resources/alc-policies-and-bulletins/#housing" target="_blank">Housing in the ALR</a> 
      on the ALC website.
    </div>
  </div>
</mat-card>
