@use '../../../../styles/colors.scss';
@use '../../../../styles/functions' as *;

mat-card {
  width: 100%;
  box-shadow: none;
  border: none;
  border-bottom: rem(1) solid #565656;
  border-radius: 0;
  word-wrap: break-word;
  white-space: normal;
  padding-left: rem(10);
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: rem(15);
  padding: 0 0 rem(10) 0 !important;
}

.span-action {
  font-weight: normal;
}

.last-card {
  border-bottom: none !important;
  margin-bottom: rem(20);
}

.review-step {
  border-bottom: rem(1) solid #565656;
  background-color: transparent;

  mat-card-header {
    padding: rem(5) 0 rem(10) 0 !important;
  }
}

.strong {
  font-weight: 700;
}

.line-info-floor {
  padding-bottom: rem(10);
  padding-top: rem(10);
}

.line-info-type {
  padding-bottom: rem(10);
}

.text-error {
  color: colors.$grey-dark;
  font-weight: 400;
  display: inline;
  padding-bottom: 0 !important;
}

.field-error {
  color: colors.$error-color;
  font-size: rem(15);
  font-weight: 700;
  display: flex;
  align-items: center;

  .mat-icon {
    min-width: rem(24);
  }
}

.review-error {
  margin-top: rem(4);
  color: colors.$error-color;
  display: flex;
  align-items: center;
  font-size: rem(12);

  .mat-icon {
    margin-right: rem(4);
    font-size: rem(14);
    width: rem(14);
    min-width: rem(14);
    height: rem(14);
  }
}

.error-card {
  border-radius: rem(4) !important;
  border: rem(2) solid colors.$error-color !important;
  padding: 0 0 rem(5) rem(10);
  margin-top: rem(5);
}

.no-data {
  margin-bottom: rem(-5) !important;
  margin-top: rem(-10) !important;
}

.residential-warning {
  width: 100%;
  background-color: rgba(colors.$secondary-color-light, 0.5);
  margin-bottom: rem(20);
}

.residential-warning-text {
  font-weight: 400;
  font-size: rem(12);
  margin: rem(20) rem(10) rem(20) rem(10);
  line-height: rem(24);
}
