<mat-card [ngClass]="{ 'last-card': isLast, 'review-step':  isReviewStep, 'error-card': (structure.area === 0 || !structure.area || !structure.area) && !isReviewStep }">
  <mat-card-header>
    <mat-card-title>
      <div class="line-info-floor">
        <span class="strong">#{{ index+1 }} Total Floor Area: </span>
        @if (structure.area === 0 || !structure.area) {
          <div class="text-error">No Data</div>
          <div [ngClass]="isReviewStep ? 'review-error' : 'field-error'">
            <mat-icon>warning</mat-icon>
            <div>{{ isReviewStep ? 'Required Field' : 'This field is required'}}</div>
          </div>
        } @else {
          <span [class.strong]="isReviewStep">{{ structure.area }} <span matTextSuffix>m<sup>2</sup></span></span>
        }
      </div>
      <div class="line-info-type">
        @if (!structure.type) {
          <span class="strong">Type: </span>
          <div class="text-error">No Data</div>
          <div [ngClass]="isReviewStep ? 'review-error' : 'field-error'">
            <mat-icon>warning</mat-icon>
            <div>{{ isReviewStep ? 'Required Field' : 'This field is required'}}</div>
          </div>
        } @else {
          <span class="strong">Type: </span>{{ mapStructureTypeValueToLabel(structure.type) }}
        }
      </div>
    </mat-card-title>
    @if (!isReviewStep) {
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEdit()">
          <span class="span-action">Edit</span>
        </button>
        <button mat-menu-item (click)="onRemove()">
          <span class="span-action">Remove</span>
        </button>
      </mat-menu>
    }
  </mat-card-header>
  @if (isResidential(structure.type) && !isReviewStep) {
    <div class="residential-warning">
      <div class="residential-warning-text">
        The proposed residential structure and its total floor area must be allowed under the ALC Act and/or ALR Use Regulation.
        If not, you may require a 'Non-Adhering Residential Use' application instead. For more info, please see
        <a href="https://www.alc.gov.bc.ca/resources/alc-policies-and-bulletins/#housing" target="_blank">Housing in the ALR</a>
        on the ALC website.
      </div>
    </div>
  }
</mat-card>
