@use '../../../../styles/colors';

.row {
  display: flex;
  margin: 24px 0;
  width: 100%;
  justify-content: space-between;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 4px;
  color: colors.$black;
}

.inactive {
  color: colors.$grey;
}

:host::ng-deep {
  .toggle {
    & .mdc-form-field {
      display: flex;
    }

    & .mdc-label {
      font-size: 16px;
    }

    & .mat-mdc-slide-toggle .mdc-form-field {
      color: colors.$grey;
    }

    & .mat-mdc-slide-toggle-checked .mdc-form-field {
      color: colors.$black;
    }
  }
}
