<div class="container">
  <h2>Maintenance</h2>
  <div class="row">
    <div id="maintenanceModeLabel">Maintenance Mode (Portal, Public Search)</div>
    <div class="toggle">
      <mat-label [ngClass]="{ inactive: maintenanceMode }">Off</mat-label>
      <mat-slide-toggle
        [(ngModel)]="maintenanceMode"
        (change)="onToggleMaintenanceMode()"
        aria-labelledby="maintenanceModeLabel"
        [ngClass]="{ inactive: !maintenanceMode }"
        >On</mat-slide-toggle
      >
    </div>
  </div>
</div>
