@use '../../../../../styles/functions' as *;
@use '../../../../../styles/colors';

h4 {
  margin-bottom: rem(24) !important;
}

h6 {
  margin: rem(32) 0 rem(16) !important;
}

section {
  margin-bottom: rem(32);
}

.agent-form {
  .form-row {
    grid-template-columns: 1fr;
  }

  .form-row .full-row {
    grid-column: 1/2;
  }

  @media screen and (min-width: $tabletBreakpoint) {
    .form-row {
      grid-template-columns: 1fr 1fr;
    }

    .form-row .full-row {
      grid-column: 1/3;
    }
  }
}

.contacts {
  margin: rem(24) 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: rem(30);
  grid-row-gap: rem(24);
}

.uploader {
  margin-bottom: rem(24);
}

.selected {
  color: colors.$primary-color;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .mat-icon {
    margin-right: rem(8);
  }
}

.radio-option {
  display: block !important;

  & .mdc-label {
    cursor: pointer !important;
  }
}

.warning-banner {
  margin-top: rem(8);
  background-color: rgba(colors.$accent-color-light, 0.5);
  padding: rem(16);

  .owner-details {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    margin-bottom: rem(10);
  }

  .key {
    font-weight: bold;
    margin-right: rem(5);
    width: rem(300);
  }

  .value {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
