@if (applicationSubmission) {
  <div class="review-table">
    <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
    <div class="grid-double">
      {{ applicationSubmission.purpose }}
      @if (!applicationSubmission.purpose) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">
      Specify any agricultural activities such as livestock operations, greenhouses or horticultural activities in
      proximity to the proposal.
    </div>
    <div class="grid-double">
      {{ applicationSubmission.turAgriculturalActivities }}
      @if (!applicationSubmission.turAgriculturalActivities) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">
      What steps will you take to reduce potential negative impacts on surrounding agricultural lands?
    </div>
    <div class="grid-double">
      {{ applicationSubmission.turReduceNegativeImpacts }}
      @if (!applicationSubmission.turReduceNegativeImpacts) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Could this proposal be accommodated on lands outside of the ALR?</div>
    <div class="grid-double">
      {{ applicationSubmission.turOutsideLands }}
      @if (!applicationSubmission.turOutsideLands) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Total area of corridor</div>
    <div class="grid-double">
      @if (applicationSubmission.turTotalCorridorArea !== null) {
        <span
          >{{ applicationSubmission.turTotalCorridorArea }} ha</span
          >
        }
        @if (applicationSubmission.turTotalCorridorArea === null) {
          <app-no-data></app-no-data>
        }
      </div>
      <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
      <div class="grid-double">
        @for (file of proposalMap; track file) {
          <a class="mobile" (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
          <a class="desktop" routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
        }
        @if (proposalMap.length === 0) {
          <app-no-data></app-no-data>
        }
      </div>
    </div>
  }
