<div *ngIf="application">
  <div class="header">
    <h3>ALC Review and Decision</h3>
    <div>
      <button
        [routerLink]="'/application/' + application.fileNumber + '/edit'"
        *ngIf="application.canEdit"
        mat-flat-button
        color="primary"
      >
        Edit Application
      </button>
      <button *ngIf="application.canReview" (click)="onReview(application.fileNumber)" mat-flat-button color="primary">
        Review Application
      </button>
    </div>
  </div>
  <div
    *ngIf="
      application.status.code === SUBMISSION_STATUS.IN_PROGRESS ||
      application.status.code === SUBMISSION_STATUS.IN_REVIEW_BY_FG ||
      application.status.code === SUBMISSION_STATUS.INCOMPLETE ||
      application.status.code === SUBMISSION_STATUS.WRONG_GOV ||
      application.status.code === SUBMISSION_STATUS.SUBMITTED_TO_LG
    "
    class="warning"
  >
    This section will update after the application is submitted to the ALC.
  </div>
  <div *ngIf="application.status.code === SUBMISSION_STATUS.REFUSED_TO_FORWARD_LG" class="warning">
    Application not subject to Agricultural Land Commission review.
  </div>
  <div
    *ngIf="
      application.status.code === SUBMISSION_STATUS.SUBMITTED_TO_ALC ||
      application.status.code === SUBMISSION_STATUS.ALC_DECISION
    "
  >
    <app-decisions [fileNumber]="application.fileNumber"></app-decisions>
    <app-submission-documents [$applicationDocuments]="$applicationDocuments"></app-submission-documents>
  </div>
</div>
