.dialog {
  padding: 24px;

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    column-gap: 24px;
    margin-bottom: 12px;

    .full-width {
      grid-column: 1/3;
    }

    .mat-mdc-form-field {
      width: 100%;
    }
  }
}
