@import '../../../../styles/colors';

.unread-notifications::before {
  content: '';
  position: absolute;
  top: 13px;
  background: $error-color;
  width: 7px;
  height: 7px;
  border: 1px solid whitesmoke;
  border-radius: 100%;
  right: calc(50% - 10px);
}

.notifications-header {
  padding: 0 8px;
}

.notifications-header-menu {
  min-width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 9px !important;
}

.unread-button.mat-flat-button {
  padding: 0;
  margin: 0;
  font-size: 9px !important;
  font-weight: 400 !important;
  text-decoration: underline;
  line-height: 16px;
  letter-spacing: 0;
}

.notification {
  padding: 8px;
  width: 280px;
  border-left: 4px solid transparent;
  border-bottom: 1px solid #959595;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  white-space: initial;

  div {
    text-align: left;
  }

  .header {
    line-height: 16px;
    font-size: 12px;
    font-weight: 700;
  }

  .body {
    line-height: 24px;
    font-size: 12px;
    margin: 4px 0;
    font-weight: normal !important;
  }

  .date {
    font-size: 9px;
    color: #999999;
    line-height: 12px;
  }
}

.notification.unread {
  border-left: 4px solid $error-color;
}

.notification:last-child {
  margin-bottom: -8px !important;
}

.no-notifications {
  width: 280px;
  padding: 8px;
  color: #999999;
  font-style: italic;
}
