<div class="intake">
  <h3>ALC Intake</h3>
  <div>
    <div class="subheading2">Submitted to ALC</div>
    <div class="date-received">{{ dateReceived }}</div>
  </div>
  <div>
    <div class="subheading2">Paid</div>
    <div>
      <app-inline-datepicker
        [selectedValue]="application?.datePaid"
        (save)="updateApplication('datePaid', $event)"
      ></app-inline-datepicker>
    </div>
  </div>
  <div>
    <div class="subheading2">Acknowledged Incomplete</div>
    <div>
      <app-inline-datepicker
        [selectedValue]="application?.dateAcknowledgedIncomplete"
        (save)="updateApplication('dateAcknowledgedIncomplete', $event)"
      ></app-inline-datepicker>
    </div>
  </div>
  <div>
    <div class="subheading2">Received All Items</div>
    <div>
      <app-inline-datepicker
        [selectedValue]="application?.dateReceivedAllItems"
        (save)="updateApplication('dateReceivedAllItems', $event)"
      ></app-inline-datepicker>
    </div>
  </div>
  <div>
    <div class="subheading2">Acknowledged Complete</div>
    <div>
      <app-inline-datepicker
        [selectedValue]="application?.dateAcknowledgedComplete"
        (save)="updateApplication('dateAcknowledgedComplete', $event)"
      ></app-inline-datepicker>
    </div>
  </div>
</div>
