.intake {
  & > div {
    margin: 40px 0;
  }
}

h5 {
  margin-bottom: 4px !important;
}

.icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
}

.label-wrapper {
  display: flex;
  gap: 8px;
}

.payment-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 16px;
  row-gap: 32px;
  column-gap: 24px;
}
