<div class="intake">
  <h3>ALC Intake</h3>
  <div>
    <h5>Submitted to ALC</h5>
    <app-inline-datepicker
      [value]="application?.dateSubmittedToAlc"
      (save)="updateApplicationDate('dateSubmittedToAlc', $event)"
      [required]="true"
    ></app-inline-datepicker>
  </div>
  <div *ngIf="application?.source === APPLICATION_SYSTEM_SOURCE_TYPES.APPLICANT">
    <h5>Payment</h5>
    <div class="payment-section">
      <div>
        <div class="subheading2">Payment Date</div>
        <app-inline-datepicker
          [value]="application?.feePaidDate"
          (save)="updateApplicationDate('feePaidDate', $event)"
        ></app-inline-datepicker>
      </div>
      <div>
        <div class="subheading2">Payment Amount</div>
        <app-inline-number
          [value]="application?.feeAmount"
          (save)="updateApplicationNumber('feeAmount', $event)"
        ></app-inline-number>
      </div>
      <div>
        <div class="subheading2">Split with L/FNG</div>
        <app-inline-boolean
          [selectedValue]="application?.feeSplitWithLg ?? null"
          (save)="updateApplicationBoolean('feeSplitWithLg', $event)"
        ></app-inline-boolean>
      </div>
      <div>
        <div class="subheading2">Fee Waived</div>
        <app-inline-boolean
          [selectedValue]="application?.feeWaived ?? null"
          (save)="updateApplicationBoolean('feeWaived', $event)"
        ></app-inline-boolean>
      </div>
    </div>
  </div>
  <div *ngIf="application?.source !== APPLICATION_SYSTEM_SOURCE_TYPES.APPLICANT">
    <h5>Payment Date</h5>
    <app-inline-datepicker
      [value]="application?.feePaidDate"
      (save)="updateApplicationDate('feePaidDate', $event)"
    ></app-inline-datepicker>
  </div>
  <div>
    <h5>Acknowledged Incomplete</h5>
    <div>
      <app-inline-datepicker
        [value]="application?.dateAcknowledgedIncomplete"
        (save)="updateApplicationDate('dateAcknowledgedIncomplete', $event)"
      ></app-inline-datepicker>
    </div>
  </div>
  <div>
    <h5>Received All Items</h5>
    <div>
      <app-inline-datepicker
        [value]="application?.dateReceivedAllItems"
        (save)="updateApplicationDate('dateReceivedAllItems', $event)"
      ></app-inline-datepicker>
    </div>
  </div>
  <div>
    <h5>Acknowledged Complete</h5>
    <div>
      <app-inline-datepicker
        [value]="application?.dateAcknowledgedComplete"
        (save)="updateApplicationDate('dateAcknowledgedComplete', $event)"
      ></app-inline-datepicker>
    </div>
  </div>
</div>
