@if (noiSubmission) {
  <div class="review-table">
    <div class="subheading2 grid-1">
      {{ firstQuestion }}
    </div>
    <div class="grid-double">
      @if (noiSubmission.soilIsRemovingSoilForNewStructure !== null) {
        <span>
          {{ noiSubmission.soilIsRemovingSoilForNewStructure ? 'Yes' : 'No' }}
        </span>
      }
      @if (noiSubmission.soilIsRemovingSoilForNewStructure === null) {
        <app-no-data></app-no-data>
      }
    </div>
    @if (noiSubmission.soilIsRemovingSoilForNewStructure) {
      <div class="full-width subheading2">The total floor area (m<sup>2</sup>) of the proposed structure(s)</div>
      <div class="full-width soil-table">
        <div class="grid-1 subheading2">#</div>
        <div class="grid-2 subheading2">Type</div>
        <div class="grid-3 subheading2">Area</div>
        @for (structure of noiSubmission.soilProposedStructures; track structure; let i = $index) {
          <div class="grid-1">
            {{ i + 1 }}
          </div>
          <div class="grid-2">
            {{ structure.type }}
            @if (!structure.type) {
              <app-no-data></app-no-data>
            }
          </div>
          <div class="grid-3">
            {{ structure.area }}
            @if (!structure.area) {
              <app-no-data></app-no-data>
            }
          </div>
        }
        @if (noiSubmission.soilProposedStructures.length === 0) {
          <div class="full-width">
            <app-no-data></app-no-data>
          </div>
        }
      </div>
      @if (isSoilStructureFarmUseReasonVisible) {
        <div class="subheading2 grid-1">Describe how the structure is necessary for farm use</div>
        <div class="grid-double">
          {{ noiSubmission.soilStructureFarmUseReason }}
          @if (!noiSubmission.soilStructureFarmUseReason) {
            <app-no-data></app-no-data>
          }
        </div>
      }
      @if (isSoilStructureResidentialUseReasonVisible) {
        <div class="subheading2 grid-1">Describe how the structure is necessary for residential use</div>
        <div class="grid-double">
          {{ noiSubmission.soilStructureResidentialUseReason }}
          @if (!noiSubmission.soilStructureResidentialUseReason) {
            <app-no-data></app-no-data>
          }
        </div>
      }
      @if (isSoilAgriParcelActivityVisible) {
        <div class="subheading2 grid-1">Describe the current agricultural activity on the parcel(s)</div>
        <div class="grid-double">
          {{ noiSubmission.soilAgriParcelActivity }}
          @if (!noiSubmission.soilAgriParcelActivity) {
            <app-no-data></app-no-data>
          }
        </div>
      }
      @if (isSoilStructureResidentialAccessoryUseReasonVisible) {
        <div class="subheading2 grid-1">Describe the intended use of the residential accessory structure</div>
        <div class="grid-double">
          {{ noiSubmission.soilStructureResidentialAccessoryUseReason }}
          @if (!noiSubmission.soilStructureResidentialAccessoryUseReason) {
            <app-no-data></app-no-data>
          }
        </div>
      }
      @if (isSoilOtherStructureVisible) {
        <div class="subheading2 grid-1">Describe the intended use of the 'Other' structure</div>
        <div class="grid-double">
          {{ noiSubmission.soilStructureOtherUseReason }}
          @if (!noiSubmission.soilStructureOtherUseReason) {
            <app-no-data></app-no-data>
          }
        </div>
      }
    }
  </div>
}
