<form [formGroup]="form" class="roso-component-form">
  <div class="grid-3">
    <mat-form-field appearance="outline" class="date-picker">
      <mat-label>Use End Date</mat-label>
      <input
        matInput
        (click)="endDatePicker.open()"
        [matDatepicker]="endDatePicker"
        formControlName="endDate"
        name="date"
      />
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker type="date"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <textarea
        class="soil-text-area"
        formControlName="soilTypeRemoved"
        #fillTypeToPlaceText
        maxlength="4000"
        matInput
        placeholder="Type of soil approved to be removed*"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="container">
    <div class="soil-table">
      <div></div>
      <div>
        <label for="volume">Soil to be Removed</label>
      </div>
      <div class="label">
        <label for="volumeToRemove">Volume*</label>
      </div>
      <div>
        <mat-form-field appearance="outline" class="full-width">
          <input
            min="0.01"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999"
            matInput
            formControlName="volumeToRemove"
          />
          <span matTextSuffix>m<sup>3</sup></span>
        </mat-form-field>
      </div>
      <div class="label">
        <label for="areaToRemove">Area*</label>
        <div class="subtext">Note: 0.01 ha is 100m2</div>
      </div>
      <div>
        <mat-form-field appearance="outline" class="full-width">
          <input
            min="0.01"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999"
            matInput
            formControlName="areaToRemove"
          />
          <span matTextSuffix>ha</span>
        </mat-form-field>
      </div>
      <div class="label">
        <label for="maximumDepthToRemove">Maximum Depth*</label>
      </div>
      <div>
        <mat-form-field appearance="outline" class="full-width">
          <input
            min="0.01"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999"
            matInput
            formControlName="maximumDepthToRemove"
          />
          <span matTextSuffix>m</span>
        </mat-form-field>
      </div>
      <div class="label">
        <label for="averageDepthToRemove">Average Depth*</label>
      </div>
      <div>
        <mat-form-field appearance="outline" class="full-width">
          <input
            min="0.01"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999"
            matInput
            formControlName="averageDepthToRemove"
          />
          <span matTextSuffix>m</span>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
