@use '../../../../../styles/colors';

.assignee {
  margin: 18px 0;
}

.assigned-table {
  margin-top: 12px;
  width: 100%;

  td,
  th {
    font-size: 16px;
  }

  .cards-cell {
    width: 20%;
  }

  .high-priority-cell {
    width: 35px;
  }

  .type-cell {
    width: 15%;
  }

  .active-days-cell {
    width: 10%;
    min-width: fit-content;
  }

  .stage-cell {
    width: 25%;
  }

  .subtask-days-cell {
    width: 10%;
  }

  .assignee-header {
    padding: 0px 26px !important;
  }

  .paused {
    background-color: #efefef;
  }

  tr.no-data {
    border: none;
    background-color: colors.$grey-light;
    align-items: center;
    justify-content: center;
    cursor: auto;
    height: 32px;
  }
}

.high-priority {
  font-size: 1.4em;
  font-weight: bold;
  color: colors.$error-color;
}

.unassigned {
  font-style: italic;
  color: colors.$grey;
}

.subtask-assignee {
  .assignee-card-name {
    font-size: 1.2em !important;
    font-weight: 600 !important;
  }
  .assignee-card-email {
    font-size: 0.9em !important;
  }
}

.assignee-column {
  padding-right: 12px;
  width: 20%;
  overflow: inherit;

  .assignee-card-body {
    overflow: auto;
  }
}

:host::ng-deep .ng-select .ng-select-container {
  .ng-value-container .ng-input > input {
    margin-bottom: 8px;
  }
  padding: 0 0 0 10px;
  .ng-input {
    padding: 0 0 0 10px;
  }
  &:hover {
    background-color: colors.$grey-light !important;
  }
}

::ng-deep ng-dropdown-panel {
  padding: 8px 0 !important;
  .ng-dropdown-panel-items .ng-option {
    padding: 4px 16px !important;
  }
}
