<form [formGroup]="form" class="nfu-component-form">
  <div class="grid-2">
    <mat-form-field appearance="outline">
      <mat-label>ALR Area Impacted (ha)</mat-label>
      <input
        matInput
        min="0.01"
        mask="separator.2"
        thousandSeparator=","
        separatorLimit="9999999999"
        formControlName="alrArea"
        required
      />
    </mat-form-field>

    <div>
      <ng-select
        appearance="outline"
        [items]="nfuTypeOptions"
        formControlName="nfuType"
        appendTo="body"
        bindLabel="label"
        bindValue="value"
        placeholder="Non-Farm Use Type*"
        [clearable]="false"
      ></ng-select>
    </div>

    <div>
      <ng-select
        appearance="outline"
        [items]="nfuSubTypeOptions"
        formControlName="nfuSubType"
        appendTo="body"
        bindLabel="label"
        bindValue="value"
        placeholder="Non-Farm Use Sub-Type*"
        [clearable]="false"
      ></ng-select>
    </div>

    <mat-form-field appearance="outline" class="date-picker">
      <mat-label>Use End Date</mat-label>
      <input
        matInput
        (click)="endDatePicker.open()"
        [matDatepicker]="endDatePicker"
        formControlName="endDate"
        name="date"
      />
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker type="date"></mat-datepicker>
    </mat-form-field>
  </div>
</form>
