<div class="split">
  <h5>{{ data.applicationDecisionComponentType?.label }}</h5>
  <button type="button" class="remove-button" mat-stroked-button color="warn" (click)="onRemove()">Remove</button>
</div>

<form [formGroup]="form" class="decision-component-form">
  <div *ngIf="data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.NFUP" class="row-no-flex">
    <app-nfu-input [form]="form"></app-nfu-input>
  </div>

  <div
    *ngIf="
      data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.TURP ||
      data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.COVE
    "
    class="row-no-flex"
  >
    <app-expiry-date-input [form]="form"></app-expiry-date-input>
  </div>

  <div *ngIf="data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.POFO" class="row-no-flex">
    <app-app-pofo-input [form]="form"></app-app-pofo-input>
  </div>

  <div *ngIf="data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.ROSO" class="row-no-flex">
    <app-roso-input [form]="form"></app-roso-input>
  </div>
  <div *ngIf="data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.PFRS" class="row-no-flex">
    <app-pfrs-input [form]="form"></app-pfrs-input>
  </div>
  <div *ngIf="data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.NARU" class="row-no-flex">
    <app-naru-input [form]="form" [codes]="codes"></app-naru-input>
  </div>
  <div *ngIf="data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.SUBD" class="row-no-flex">
    <app-subd-input [form]="form"></app-subd-input>
  </div>
  <div
    *ngIf="
      data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.EXCL ||
      data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.INCL
    "
    class="row-no-flex"
  >
    <app-incl-excl-input [form]="form"></app-incl-excl-input>
  </div>
  <div class="grid-2">
    <div>
      <ng-select
        appearance="outline"
        [items]="agCapOptions"
        formControlName="agCap"
        appendTo="body"
        bindLabel="label"
        bindValue="value"
        required
        placeholder="Agricultural Capability*"
        [clearable]="false"
      ></ng-select>
    </div>

    <div>
      <ng-select
        appearance="outline"
        [items]="agCapSourceOptions"
        formControlName="agCapSource"
        appendTo="body"
        bindLabel="label"
        bindValue="value"
        required
        placeholder="Agricultural Capability Source*"
        [clearable]="false"
      ></ng-select>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Agricultural Capability Mapsheet Reference</mat-label>
      <input matInput formControlName="agCapMap" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Agricultural Capability Consultant</mat-label>
      <input matInput formControlName="agCapConsultant" />
    </mat-form-field>
  </div>
</form>
