<div class="split">
  <h5>{{ data.applicationDecisionComponentType?.label }}</h5>
  <button type="button" class="remove-button" mat-stroked-button color="warn" (click)="onRemove()">Remove</button>
</div>

<form [formGroup]="form" class="decision-component-form">
  @if (data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.NFUP) {
    <div class="row-no-flex">
      <app-nfu-input [form]="form"></app-nfu-input>
    </div>
  }

  @if (
    data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.TURP ||
    data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.COVE ||
    data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.SUBD
    ) {
    <div
      class="row-no-flex"
      >
      <div class="full-width">
        <mat-form-field appearance="outline" class="row">
          <mat-label>ALR Area Impacted (ha)</mat-label>
          <input
            matInput
            min="0.01"
            mask="separator.5"
            thousandSeparator=","
            separatorLimit="9999999999"
            formControlName="alrArea"
            required
            />
        </mat-form-field>
      </div>
    </div>
  }

  @if (data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.POFO) {
    <div class="row-no-flex">
      <app-app-pofo-input [form]="form"></app-app-pofo-input>
    </div>
  }

  @if (data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.ROSO) {
    <div class="row-no-flex">
      <app-roso-input [form]="form"></app-roso-input>
    </div>
  }
  @if (data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.PFRS) {
    <div class="row-no-flex">
      <app-pfrs-input [form]="form"></app-pfrs-input>
    </div>
  }
  @if (data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.NARU) {
    <div class="row-no-flex">
      <app-naru-input [form]="form" [codes]="codes"></app-naru-input>
    </div>
  }
  @if (data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.SUBD) {
    <div class="row-no-flex">
      <app-subd-input [form]="form"></app-subd-input>
    </div>
  }
  @if (
    data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.EXCL ||
    data.applicationDecisionComponentTypeCode === COMPONENT_TYPE.INCL
    ) {
    <div
      class="row-no-flex"
      >
      <app-incl-excl-input [form]="form"></app-incl-excl-input>
    </div>
  }
  <div class="grid-2">
    <div>
      <ng-select
        appearance="outline"
        [items]="agCapOptions"
        formControlName="agCap"
        appendTo="body"
        bindLabel="label"
        bindValue="value"
        required
        placeholder="Agricultural Capability*"
        [clearable]="false"
      ></ng-select>
    </div>

    <div>
      <ng-select
        appearance="outline"
        [items]="agCapSourceOptions"
        formControlName="agCapSource"
        appendTo="body"
        bindLabel="label"
        bindValue="value"
        required
        placeholder="Agricultural Capability Source*"
        [clearable]="false"
      ></ng-select>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Agricultural Capability Mapsheet Reference</mat-label>
      <input matInput formControlName="agCapMap" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Agricultural Capability Consultant</mat-label>
      <input matInput formControlName="agCapConsultant" />
    </mat-form-field>
  </div>
</form>
