<div>
  <div class="subheading2 header split">
    <div>Sub-Tasks ({{ subtasks.length }})</div>
    <div>
      <button mat-flat-button color="primary" [matMenuTriggerFor]="createMenu">+ NEW SUB-TASK ▾</button>
      <mat-menu class="move-board-menu" xPosition="before" #createMenu="matMenu">
        <span
          matTooltip="Only one Audit subtask per card."
          [matTooltipDisabled]="!hasAuditSubtask"
          matTooltipPosition="left"
          >
          <button mat-menu-item (click)="create('AUDT')" [disabled]="hasAuditSubtask">Audit</button>
        </span>
        <button mat-menu-item (click)="create('GIS')">GIS</button>
        <button mat-menu-item (click)="create('AGRO')">Agrologist</button>
        <button mat-menu-item (click)="create('PEER')">Peer Review</button>
      </mat-menu>
    </div>
  </div>
  @if (!subtasks.length) {
    <div class="no-subtasks">No Sub-Tasks</div>
  }
  @if (subtasks.length) {
    <div class="subtasks">
      @for (subtask of subtasks; track subtask) {
        <div class="subtask">
          <div class="left subheading2 status">
            @if (subtask.assignee && !subtask.completedAt) {
              <div class="center in-progress">
                <mat-icon>pending</mat-icon>In Progress
              </div>
            }
            @if (subtask.completedAt) {
              <div class="center completed">
                <mat-icon>check_circle_outline</mat-icon> Completed
              </div>
            }
            @if (!subtask.assignee && !subtask.completedAt) {
              <div class="center unassigned">
                <mat-icon>no_accounts</mat-icon>Unassigned
              </div>
            }
          </div>
          <div class="center">
            @if (subtask.assignee) {
              <app-avatar-circle
                [initials]="subtask.assignee.initials || ''"
                [name]="subtask.assignee.prettyName"
              ></app-avatar-circle>
            }
            @if (!subtask.assignee) {
              <app-avatar-circle class="unassigned-circle" initials="-"></app-avatar-circle>
            }
          </div>
          <div class="left">
            <div
              class="type badge"
              [ngStyle]="{ backgroundColor: subtask.type.backgroundColor, color: subtask.type.textColor }"
              >
              {{ subtask.type.label }}
            </div>
          </div>
          <div class="left">
            <span class="subtext">Created: {{ subtask.createdAt | momentFormat }}</span>
          </div>
          <div class="left">
            @if (subtask.completedAt) {
              <span class="subtext">Completed: {{ subtask.completedAt | momentFormat }}</span>
            }
          </div>
          <div class="center">
            @if (!subtask.completedAt) {
              <button
                matTooltip="Complete Task"
                mat-icon-button
                (click)="completeTask(subtask.uuid)"
                >
                <mat-icon>check</mat-icon>
              </button>
            }
            @if (subtask.completedAt) {
              <button
                matTooltip="Resume Task"
                mat-icon-button
                (click)="uncompleteSubtask(subtask.uuid)"
                >
                <mat-icon>play_circle_outline</mat-icon>
              </button>
            }
          </div>
          <div class="center">
            <button matTooltip="Delete Task" mat-icon-button (click)="onDelete(subtask.uuid)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      }
    </div>
  }
</div>
