@use '../../../../styles/colors';

.header {
  margin-bottom: 8px !important;
}

.subtasks {
  margin: 1rem 0;
}

.subtask {
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 0.7fr max-content 0.8fr 1fr 1fr 48px 48px;
  height: 48px;
  margin-bottom: 8px;
  transition: all 100ms ease-in-out;

  &:hover {
    border-color: colors.$primary-color;
  }

  & > div {
    padding: 0 16px;
  }
}

.type {
  padding: 0 12px;
  border-radius: 3px;
}

.unassigned-circle {
  ::ng-deep.avatar-circle {
    background-color: colors.$grey;
  }
}

.status {
  text-transform: uppercase;
  font-size: 12px !important;
  white-space: nowrap;

  .mat-icon {
    margin-right: 4px;
  }

  .unassigned {
    color: colors.$grey;
  }

  .in-progress {
    color: colors.$secondary-color-dark;
  }

  .completed {
    color: colors.$success-color;
  }
}

.subtext {
  color: colors.$grey-dark;
}

.no-subtasks {
  border: none;
  background-color: colors.$grey-light;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
