@use '../../../../../styles/functions' as *;
@use '../../../../../styles/colors';

.steps-list {
  margin: rem(16) 0;
}

.scrollable {
  overflow-x: auto;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-table .mdc-data-table__row {
  height: rem(75);
}

.info-banner {
  background-color: rgba(colors.$secondary-color-light, 0.5);
  padding: rem(4);
  margin-bottom: 0 !important;
}

.residential-warning {
  width: 74%;
  background-color: rgba(colors.$secondary-color-light, 0.5);
  margin-bottom: rem(20);
  margin-left: 6.5%;
}

.residential-warning-text {
  font-weight: 400;
  font-size: rem(12);
  margin: rem(10) 0 rem(20) rem(5);
  line-height: rem(24);
}

.no-top-border {
  border-top-style: hidden;
}

.no-bottom-border {
  border-bottom-style: hidden;
}
