@use '../../../../../styles/functions' as *;
@use '../../../../../styles/colors';

.steps-list {
  margin: rem(16) 0;
}

.scrollable {
  overflow-x: auto;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-table .mdc-data-table__row {
  height: rem(75);
}

.info-banner {
  background-color: rgba(colors.$secondary-color-light, 0.5);
  padding: rem(4);
  margin-bottom: 0 !important;
}
