<div mat-dialog-title>
  <h4>Will one of the landowners or government contacts added previously be the primary contact?</h4>
</div>

<div mat-dialog-content class="content">
  <!-- <app-warning-banner> -->
  <div>
    Changing the answer to this question will remove content already saved to this page. Do you want to continue?
  </div>
  <br />
  <!-- </app-warning-banner> -->

  <div class="step-controls">
    <button mat-stroked-button color="primary" (click)="onDecide(false)">cancel</button>
    <button mat-flat-button color="primary" (click)="onDecide(true)">confirm</button>
  </div>
</div>
