<div mat-dialog-title>
  <h4>
    <ng-container *ngIf="isGovernmentUser">
      Will {{ governmentName ?? 'Local / First Nation Government' }} staff be the primary contact?
    </ng-container>
    <ng-container *ngIf="!isGovernmentUser">
      Will one of the landowners or government contacts added previously be the primary contact?
    </ng-container>
  </h4>
</div>

<div mat-dialog-content class="content">
  <app-warning-banner>
    Changing the answer to this question will remove content already saved to this page. Do you want to continue?
  </app-warning-banner>

  <div class="step-controls">
    <button mat-stroked-button color="primary" (click)="onDecide(false)">cancel</button>
    <button mat-flat-button color="primary" (click)="onDecide(true)">confirm</button>
  </div>
</div>
