<form [formGroup]="form" class="pofo-component-form">
  <div class="grid-2">
    <mat-form-field appearance="outline">
      <mat-label>ALR Area Impacted (ha)</mat-label>
      <input
        matInput
        min="0.01"
        mask="separator.2"
        thousandSeparator=","
        separatorLimit="9999999999"
        formControlName="alrArea"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="date-picker">
      <mat-label>Use End Date</mat-label>
      <input
        matInput
        (click)="endDatePicker.open()"
        [matDatepicker]="endDatePicker"
        formControlName="endDate"
        name="date"
      />
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker type="date"></mat-datepicker>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="row">
    <textarea
      class="soil-text-area"
      formControlName="fillTypeToPlace"
      #fillTypeToPlaceText
      maxlength="4000"
      matInput
      placeholder="Type, origin and quality of fill approved to be placed*"
    ></textarea>
  </mat-form-field>

  <div class="grid-2">
    <mat-form-field appearance="outline">
      <input
        matInput
        min="0.01"
        mask="separator.2"
        thousandSeparator=","
        separatorLimit="9999999999"
        formControlName="volumeToPlace"
        placeholder="Volume*"
      />
      <span matTextSuffix>m<sup>3</sup></span>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input
        matInput
        min="0.01"
        mask="separator.2"
        thousandSeparator=","
        separatorLimit="9999999999"
        formControlName="areaToPlace"
        placeholder="Area*"
      />
      <span matTextSuffix>ha</span>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input
        matInput
        min="0.01"
        mask="separator.2"
        thousandSeparator=","
        separatorLimit="9999999999"
        formControlName="maximumDepthToPlace"
        placeholder="Maximum Depth*"
      />
      <span matTextSuffix>m</span>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input
        matInput
        min="0.01"
        mask="separator.2"
        thousandSeparator=","
        separatorLimit="9999999999"
        formControlName="averageDepthToPlace"
        placeholder="Volume*"
      />
      <span matTextSuffix>m</span>
    </mat-form-field>
  </div>
</form>
