<h2>Resolution</h2>
<div>
  <div class="description">
    <div *ngIf="isFirstNationGovernment">Provide First Nation government authorizing resolution</div>
    <div *ngIf="!isFirstNationGovernment">Provide Local government authorizing resolution</div>
    <div>
      <button class="save-button" (click)="onSave()" mat-flat-button color="primary">Save Progress</button>
    </div>
  </div>
  <div *ngIf="!isFirstNationGovernment && (this.isOCPDesignation === null || this.isSubjectToZoning === null)">
    Please complete both Step 2 Plans & Bylaws: OCP and Step 3 Plans & Bylaws: Zoning to continue with this step.
  </div>
  <div *ngIf="!isFirstNationGovernment && this.isOCPDesignation === false && this.isSubjectToZoning === false">
    By indicating that the parcel(s) is not subject to Local Government OCP or Zoning,
    <strong>no authorizing resolution is required</strong> as per S. 25 (3) or S. 29 (4) of the <em>ALC Act</em>. The only option
    available to you is to forward this application on to the ALC.
  </div>
  <form [formGroup]="resolutionForm">
    <div class="form-row">
      <div
        class="full-row"
        *ngIf="
          ((this.isOCPDesignation === true || this.isSubjectToZoning === true) &&
            this.isOCPDesignation !== null &&
            this.isSubjectToZoning !== null) ||
          this.isFirstNationGovernment
        "
      >
        <label for="is-consistent">Resolution for Application to Proceed to the ALC</label>
        <mat-button-toggle-group class="input" id="is-consistent" formControlName="isAuthorized">
          <mat-button-toggle value="true">Authorize</mat-button-toggle>
          <mat-button-toggle value="false">Refuse to Authorize</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </form>
  <div class="button-container">
    <button (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
    <div>
      <button (click)="onSave()" mat-stroked-button matStepperPrevious color="primary">
        Previous<span class="mobile-hidden"> Step</span>
      </button>
      <button (click)="onSave()" mat-flat-button matStepperNext color="primary">
        Next<span class="mobile-hidden"> Step</span>
      </button>
    </div>
  </div>
</div>
