<div mat-dialog-title>
  <h4>{{ title }} Document</h4>
  <span class="superseded-warning" *ngIf="showSupersededWarning"
    >Superseded - Not associated with Applicant Submission in Portal</span
  >
</div>
<div mat-dialog-content>
  <form class="form" [formGroup]="form">
    <div class="double">
      <div>
        <mat-label>Document Upload*</mat-label>
      </div>
      <input hidden type="file" #fileInput (change)="uploadFile($event)" placeholder="Upload file" />
      <button
        class="full-width upload-button"
        mat-flat-button
        color="accent"
        *ngIf="!pendingFile && !existingFile"
        (click)="fileInput.click()"
      >
        Upload
      </button>
      <div class="file" *ngIf="pendingFile">
        <div>
          <a (click)="openFile()">{{ pendingFile.name }}</a>
          &nbsp;({{ pendingFile.size | filesize }})
        </div>
        <button [disabled]="!allowsFileEdit" (click)="onRemoveFile()" mat-button>
          <mat-icon>close</mat-icon>Remove
        </button>
      </div>
      <div class="file" *ngIf="existingFile">
        <div>
          <a (click)="openExistingFile()">{{ existingFile.name }}</a>
          &nbsp;({{ existingFile.size | filesize }})
        </div>
        <button [disabled]="!allowsFileEdit" (click)="onRemoveFile()" mat-button>
          <mat-icon>close</mat-icon>Remove
        </button>
      </div>
    </div>

    <div class="double">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Document Name</mat-label>
        <input required matInput id="name" [formControl]="name" name="name" />
      </mat-form-field>
    </div>

    <div>
      <ng-select
        appearance="outline"
        required
        [items]="documentTypes"
        placeholder="Document Type*"
        bindLabel="label"
        bindValue="code"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="documentTypeAhead"
        [searchFn]="filterDocumentTypes"
        (change)="onDocTypeSelected($event)"
        appendTo="body"
      >
      </ng-select>
    </div>
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Source</mat-label>
        <mat-select [formControl]="source">
          <mat-option *ngFor="let source of documentSources" [value]="source">{{ source }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="type.value === DOCUMENT_TYPE.CERTIFICATE_OF_TITLE">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Associated Parcel</mat-label>
        <mat-select [formControl]="parcelId">
          <mat-option *ngFor="let parcel of selectableParcels" [value]="parcel.uuid">
            #{{ parcel.index + 1 }} PID:
            <span *ngIf="parcel.pid">{{ parcel.pid | mask : '000-000-000' }}</span>
            <span *ngIf="!parcel.pid">No Data</span></mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="type.value === DOCUMENT_TYPE.CORPORATE_SUMMARY">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Associated Organization</mat-label>
        <mat-select [formControl]="ownerId">
          <mat-option *ngFor="let owner of selectableOwners" [value]="owner.uuid">
            {{ owner.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="double">
      <mat-label>Visible To:</mat-label>
      <div>
        <mat-checkbox [formControl]="visibleToInternal">Applicant, L/FNG</mat-checkbox>
      </div>
      <div>
        <mat-checkbox [formControl]="visibleToPublic">Public</mat-checkbox>
      </div>
    </div>
  </form>

  <mat-dialog-actions align="end">
    <div class="button-container">
      <button type="button" mat-stroked-button color="primary" [mat-dialog-close]="false">Close</button>
      <button
        *ngIf="!isSaving"
        type="button"
        mat-flat-button
        color="primary"
        [disabled]="!form.valid || (!pendingFile && !existingFile)"
        (click)="onSubmit()"
      >
        Save
      </button>
      <button *ngIf="isSaving" type="button" mat-flat-button color="primary" [disabled]="true">
        <mat-spinner class="spinner" diameter="20"></mat-spinner>
        Uploading
      </button>
    </div>
  </mat-dialog-actions>
</div>
