@use '@angular/material' as mat;
@use 'styles/theme';
@use 'styles/typography';
@use 'styles/colors';
@use 'styles/buttons';
@use 'styles/form-controls';
@use 'styles/dialog';
@use 'styles/functions' as *;
@use 'styles/toast';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

html,
body {
  position: relative;
  height: auto;
  min-height: 100vh;
  scroll-behavior: smooth;
  margin: 0;
}

body {
  font-size: rem(16);
  min-width: rem(240);
}

a {
  color: colors.$link-color;
  text-decoration: underline;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.display-none {
  display: none;
}

.center {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.no-padding .mat-dialog-container {
  padding: 0;
}

@mixin text-ellipsis($lines: 1) {
  text-overflow: ellipsis;
  overflow: hidden;
  @if ($lines > 1) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  } @else {
    white-space: nowrap;
  }
}

.ellipsis-3 {
  @include text-ellipsis($lines: 3);
}

.mat-dialog-container {
  max-height: 99vh !important;
}

.backdrop {
  background-color: rgba(255, 255, 255, 0.7);
}
