@use '@angular/material' as mat;

@import 'styles/theme';
@import 'styles/typography';
@import 'styles/colors';
@import 'styles/buttons';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  overflow: hidden;
  margin: 0;

}

html {
  font-size: 62.5% //Set here to 10px, so that 1rem = 10px
}

body {
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
}

