@use '../../../styles/functions' as *;
@use '../../../styles/colors';

.updated-banner {
  display: inline-block;
  color: colors.$white;
  background-color: #c08106;
  padding: rem(4);
  font-style: italic;
  font-weight: bold;
}
