<div class="assignee">
  <h4>GIS Subtasks: {{ subtasks.length }}</h4>
  <table class="assigned-table">
    <thead>
      <th></th>
      <th class="header">Application</th>
      <th class="header">Active Days</th>
      <th class="header">Workflow Stage</th>
      <th class="header">Assignee</th>
      <th class="header action-column">Action</th>
    </thead>
    <tbody class="assigned-body">
      <tr
        [ngClass]="{
          paused: subtask.paused
        }"
        *ngFor="let subtask of subtasks"
      >
        <td class="priority-column">
          <span class="high-priority" *ngIf="subtask.card.highPriority">!</span>
        </td>
        <td>{{ subtask.title }}</td>
        <td>{{ subtask.activeDays !== undefined ? subtask.activeDays : '-' }}</td>
        <td [innerHTML]="subtask.card.status.label"></td>
        <td class="assignee-column">
          <ng-select
            class="subtask-assignee"
            [items]="gisUsers"
            bindLabel="name"
            bindValue="name"
            [ngModel]="subtask.assignee?.name"
            [searchFn]="filterAssigneeList"
            (change)="onAssigneeSelected($event, subtask.uuid)"
          >
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
              <div class="assignee-card-body">
                <p [ngOptionHighlight]="search" class="assignee-card-name">{{ item.name }}</p>
                <p class="assignee-card-email" [ngOptionHighlight]="search">
                  {{ item.email }}
                </p>
              </div>
            </ng-template>
          </ng-select>
        </td>
        <td class="action-column">
          <button (click)="openCard(subtask)" mat-flat-button color="accent">View</button>
        </td>
      </tr>
    </tbody>
    <tr class="no-data" *ngIf="subtasks.length === 0">
      <td class="text-center" colspan="7">No GIS subtasks</td>
    </tr>
  </table>
</div>
