<div *ngIf="application">
  <div class="header">
    <h3>Local/First Nation Gov Review</h3>
    <div class="btns-wrapper">
      <button
        [routerLink]="'/application/' + application.fileNumber + '/edit'"
        *ngIf="application.canEdit"
        mat-flat-button
        color="primary"
      >
        Edit Application
      </button>
      <button *ngIf="application.canReview" (click)="onReview(application.fileNumber)" mat-flat-button color="primary">
        Review Application
      </button>
      <button
        [disabled]="!application.canReview && !applicationReview"
        (click)="onDownloadReviewPdf(application.fileNumber)"
        mat-flat-button
        color="accent"
      >
        Download PDF
      </button>
    </div>
  </div>
  <div *ngIf="application.status.code === APPLICATION_STATUS.IN_PROGRESS" class="warning">
    This section will update after the application is submitted.
  </div>
  <div *ngIf="!applicationReview && application.status.code === APPLICATION_STATUS.SUBMITTED_TO_ALC" class="warning">
    Application not subject to Local/First Nation Government review.
  </div>
  <div
    *ngIf="
      application.status.code === APPLICATION_STATUS.IN_REVIEW ||
      application.status.code === APPLICATION_STATUS.SUBMITTED_TO_LG
    "
    class="warning"
  >
    Pending Local/First Nation Government review.
  </div>
  <div
    *ngIf="
      application.status.code === APPLICATION_STATUS.WRONG_GOV ||
      application.status.code === APPLICATION_STATUS.INCOMPLETE
    "
    class="warning"
  >
    <div><strong>Comment for Applicant</strong></div>
    {{ application.returnedComment }}
    <span class="no-comment" *ngIf="!application.returnedComment">No comment added</span>
  </div>
  <div *ngIf="applicationReview">
    <section>
      <h4>Contact Information</h4>
      <div class="review-table">
        <div>
          <div class="subheading2">Local Government File Number</div>
          <div>
            {{ applicationReview.localGovernmentFileNumber }}
          </div>
        </div>
        <div>
          <div class="subheading2">First Name</div>
          <div>
            {{ applicationReview.firstName }}
          </div>
        </div>
        <div>
          <div class="subheading2">Last Name</div>
          <div>
            {{ applicationReview.lastName }}
          </div>
        </div>
        <div>
          <div class="subheading2">Position</div>
          <div>
            {{ applicationReview.position }}
          </div>
        </div>
        <div>
          <div class="subheading2">Department</div>
          <div>
            {{ applicationReview.department }}
          </div>
        </div>
        <div>
          <div class="subheading2">Phone Number</div>
          <div>
            {{ applicationReview.phoneNumber }}
          </div>
        </div>
        <div>
          <div class="subheading2">Email</div>
          <div>
            {{ applicationReview.email }}
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="!applicationReview.isFirstNationGovernment">
      <h4>Plans & Bylaws: OCP</h4>
      <div class="review-table">
        <div class="full-width">
          <div class="subheading2">Is the application parcel(s) subject to a Local Government OCP designation?</div>
          <div>
            <span *ngIf="applicationReview.isOCPDesignation !== null">{{
              applicationReview.isOCPDesignation ? 'Yes' : 'No'
            }}</span>
          </div>
        </div>
        <div *ngIf="applicationReview.isOCPDesignation">
          <div class="subheading2">OCP Bylaw Name</div>
          <div>
            {{ applicationReview.OCPBylawName }}
          </div>
        </div>
        <div *ngIf="applicationReview.isOCPDesignation">
          <div class="subheading2">OCP Designation</div>
          <div>
            {{ applicationReview.OCPDesignation }}
          </div>
        </div>
        <div *ngIf="applicationReview.isOCPDesignation">
          <div class="subheading2">Is this proposal consistent with the current OCP designation?</div>
          <div>
            <span *ngIf="applicationReview.OCPConsistent !== null">{{
              applicationReview.OCPConsistent ? 'Yes' : 'No'
            }}</span>
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="!applicationReview.isFirstNationGovernment">
      <h4>Plans & Bylaws: Zoning</h4>
      <div class="review-table">
        <div class="full-width">
          <div class="subheading2">Is the application parcel(s) subject to a Local Government zoning designation?</div>
          <div>
            <span *ngIf="applicationReview.isSubjectToZoning !== null">{{
              applicationReview.isSubjectToZoning ? 'Yes' : 'No'
            }}</span>
          </div>
        </div>
        <div *ngIf="applicationReview.isSubjectToZoning">
          <div class="subheading2">Zoning Bylaw Name</div>
          <div>
            {{ applicationReview.zoningBylawName }}
          </div>
        </div>
        <div *ngIf="applicationReview.isSubjectToZoning">
          <div class="subheading2">Zoning Designation</div>
          <div>
            {{ applicationReview.zoningDesignation }}
          </div>
        </div>
        <div *ngIf="applicationReview.isSubjectToZoning">
          <div class="subheading2">Minimum Lot Size (hectares)</div>
          <div>
            {{ applicationReview.zoningMinimumLotSize }}
          </div>
        </div>
        <div *ngIf="applicationReview.isSubjectToZoning">
          <div class="subheading2">Is this proposal consistent with the current zoning designation?</div>
          <div>
            <span *ngIf="applicationReview.isZoningConsistent !== null">{{
              applicationReview.isZoningConsistent ? 'Yes' : 'No'
            }}</span>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h4>Resolution</h4>
      <div class="review-table">
        <div
          class="full-width"
          *ngIf="
            !applicationReview.isFirstNationGovernment &&
            applicationReview.isOCPDesignation === false &&
            applicationReview.isSubjectToZoning === false
          "
        >
          By indicating that the parcel(s) is not subject to Local Government OCP or Zoning,
          <strong>no authorizing resolution is required</strong> as per S. 25 (3) or S. 29 (4) of the <em>ALC Act</em>.
          The only option available is to forward this application on to the ALC.
        </div>
        <div
          *ngIf="
            !applicationReview.isFirstNationGovernment &&
            (applicationReview.isOCPDesignation === true || applicationReview.isSubjectToZoning === true)
          "
          class="full-width"
        >
          <div class="subheading2">Resolution for Application to Proceed to the ALC</div>
          <div>
            <span *ngIf="applicationReview.isAuthorized !== null">{{
              applicationReview.isAuthorized ? 'Authorized' : 'Refuse to Authorize'
            }}</span>
          </div>
        </div>
        <div *ngIf="applicationReview.isFirstNationGovernment" class="full-width">
          <div class="subheading2">Resolution for Application to Proceed to the ALC</div>
          <div>
            <span *ngIf="applicationReview.isAuthorized !== null">{{
              applicationReview.isAuthorized ? 'Authorized' : 'Refuse to Authorize'
            }}</span>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h4>Attachments</h4>
      <div class="review-table">
        <div *ngIf="applicationReview.isOCPDesignation || applicationReview.isSubjectToZoning">
          <div class="subheading2">Resolution Document</div>
          <div>
            <a class="link" (click)="openFile(document.uuid)" *ngFor="let document of resolutionDocument">{{
              document.fileName
            }}</a>
          </div>
        </div>
        <div *ngIf="applicationReview.isOCPDesignation || applicationReview.isSubjectToZoning">
          <div class="subheading2">
            Staff Report <span *ngIf="applicationReview.isAuthorized === false">(optional)</span>
          </div>
          <div>
            <a class="link" (click)="openFile(document.uuid)" *ngFor="let document of staffReport">{{
              document.fileName
            }}</a>
          </div>
        </div>
        <div class="full-width">
          <div class="subheading2">Other Attachments (optional):</div>
          <div>
            <div class="document" *ngFor="let document of governmentOtherAttachments">
              <a class="link" (click)="openFile(document.uuid)">{{ document.fileName }}</a>
            </div>
            <div *ngIf="governmentOtherAttachments.length === 0"><em>None provided</em></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
