<div class="header">
  <h4 *ngIf="condition.type">{{ stringIndex }}. {{ condition.type.label }}</h4>
  <app-application-type-pill [type]="statusLabel"></app-application-type-pill>
</div>
<div class="grid-3">
  <div>
    <div class="subheading2">Component to Condition</div>
    <span class="component-labels">{{ condition.componentLabelsStr }}</span>
    <app-no-data *ngIf="!condition.componentLabelsStr"></app-no-data>
  </div>

  <div *ngIf="showAdmFeeField">
    <div class="subheading2">Administrative Fee Amount</div>
    {{ condition.administrativeFee }}
    <app-no-data
      *ngIf="condition.administrativeFee === null || condition.administrativeFee === undefined"
    ></app-no-data>
  </div>

  <div *ngIf="showSingleDateField">
    <div class="subheading2">{{ singleDateLabel }}</div>
    {{ singleDateFormated }}
    <app-no-data
      *ngIf="singleDateFormated === null || singleDateFormated === undefined"
    ></app-no-data>
  </div>

  <div *ngIf="showSecurityAmountField">
    <div class="subheading2">Security Amount</div>
    {{ condition.securityAmount }}
    <app-no-data *ngIf="condition.securityAmount === null || condition.securityAmount === undefined"></app-no-data>
  </div>

  <div class="full-width">
    <div class="subheading2">Description</div>
    <span
      class="decision-condition-description"
      [id]="condition.uuid + 'Description'"
      [ngClass]="{ 'ellipsis-3': !isReadMoreClicked }"
      >{{ condition.description }}</span
    >
    <app-no-data *ngIf="condition.description === null || condition.description === undefined"></app-no-data>
    <div class="read-more">
      <a
        (click)="onToggleReadMore()"
        (keypress)="onToggleReadMore()"
        [ngClass]="{ 'display-none': !isReadMoreVisible || !condition.description }"
        >{{ isReadMoreClicked ? 'Read Less' : 'Read More' }}</a
      >
    </div>
  </div>
</div>
