<section>
  <h5>Decision Conditions</h5>
  <div class="condition" *ngFor="let condition of mappedConditions; let index = index; trackBy: trackByFn">
    <app-decision-condition
      [(data)]="mappedConditions[index]"
      (dataChange)="onChanges()"
      [codes]="codes.decisionConditionTypes"
      [selectableComponents]="selectableComponents"
    ></app-decision-condition>
    <button class="remove-button" type="button" (click)="onRemoveCondition(index)" mat-stroked-button color="warn">
      Remove Condition
    </button>
  </div>
  <div class="buttons">
    <button
      [ngClass]="{ 'error-field-outlined ng-invalid': showError }"
      type="button"
      (click)="onAddNewCondition()"
      mat-stroked-button
      color="primary"
    >
      Add New Condition
    </button>
    <app-error-message *ngIf="showError"></app-error-message>
  </div>
</section>
