section {
  width: 100%;
  margin: 24px 0 56px;
}

.buttons {
  margin-top: 28px;
}

.condition {
  margin: 48px 0;

  &:first-of-type {
    margin-top: 12px;
  }
}

.remove-button {
  margin-top: 18px !important;
}
