@use '../../../../../../../styles/colors';

section {
  width: 100%;
  margin: 24px 0 56px;
}

.buttons {
  margin-top: 28px;
}

.condition {
  border-radius: 4px;
  border: 1px solid colors.$grey;
  padding: 16px;
  margin-bottom: 48px;

  &:first-of-type {
    margin-top: 12px;
  }
}

.remove-button {
  margin-top: 18px !important;
}
