<div mat-dialog-title>
  <h2 *ngIf="!isEdit">Add New Owner</h2>
  <h2 *ngIf="isEdit">Edit Owner</h2>
</div>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-row">
      <div class="full-row">
        <label for="type">Owner Type</label>
        <mat-button-toggle-group (change)="onChangeType($event)" class="input" id="type" formControlName="type">
          <mat-button-toggle [value]="OWNER_TYPE.INDIVIDUAL">Individual</mat-button-toggle>
          <mat-button-toggle [value]="OWNER_TYPE.ORGANIZATION">Organization</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="full-row" *ngIf="type.getRawValue() === OWNER_TYPE.ORGANIZATION">
        <label for="orgName">Organization Name</label>
        <mat-form-field appearance="outline">
          <input id="orgName" matInput placeholder="Enter Organization Name" formControlName="organizationName" />
        </mat-form-field>
        <div
          *ngIf="organizationName.invalid && (organizationName.dirty || organizationName.touched)"
          class="field-error"
        >
          <mat-icon>warning</mat-icon>
          <div *ngIf="organizationName.errors?.['required']">This field is required</div>
        </div>
      </div>
      <div *ngIf="type.getRawValue() === OWNER_TYPE.ORGANIZATION" class="full-row">
        <label for="fileUpload">Corporate Summary</label>
        <div>
          <mat-hint class="subtext">
            A corporate/company summary provides the names of the directors, which is required to determine the signing
            authority for the application. Visit BC Registry Services online or call their Help Desk at 1-877-526-1526
            to submit a search request.</mat-hint
          >
        </div>
        <h6></h6>
        <app-file-drag-drop
          [uploadedFiles]="files"
          (uploadFiles)="attachFile($event)"
          (deleteFile)="removeCorporateSummary()"
          (openFile)="openCorporateSummary()"
          id="fileUpload"
          [showErrors]="showFileErrors"
          [isRequired]="true"
        ></app-file-drag-drop>
        <mat-form-field style="display: none">
          <input id="corporateSummary" matInput formControlName="corporateSummary" />
        </mat-form-field>
      </div>
      <h4 class="full-row" *ngIf="type.getRawValue() === OWNER_TYPE.ORGANIZATION">Organization Contact Info</h4>
      <div>
        <label for="firstName">First Name</label>
        <mat-form-field appearance="outline">
          <input id="firstName" matInput placeholder="Enter First Name" formControlName="firstName" />
        </mat-form-field>
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="firstName.errors?.['required']">This field is required</div>
        </div>
      </div>
      <div>
        <label for="lastName">Last Name</label>
        <mat-form-field appearance="outline">
          <input id="lastName" matInput placeholder="Enter Last Name" formControlName="lastName" />
        </mat-form-field>
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="lastName.errors?.['required']">This field is required</div>
        </div>
      </div>
      <div>
        <label for="phoneNumber">Phone Number</label>
        <mat-form-field appearance="outline">
          <input
            id="phoneNumber"
            mask="(000) 000-0000"
            matInput
            placeholder="(555) 555-5555"
            formControlName="phoneNumber"
          />
        </mat-form-field>
        <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="phoneNumber.errors?.['required']">This field is required</div>
          <div *ngIf="phoneNumber.errors?.['mask']">Invalid format</div>
        </div>
      </div>
      <div>
        <label for="firstName">Email</label>
        <mat-form-field appearance="outline">
          <input id="email" type="email" matInput placeholder="Enter Email" formControlName="email" />
        </mat-form-field>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="email.errors?.['required']">This field is required</div>
          <div *ngIf="email.errors?.['email']">Invalid format</div>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="actions">
  <button mat-stroked-button (click)="onClose()">Cancel</button>
  <button mat-flat-button color="primary" *ngIf="!isEdit" (click)="onCreate()">Add</button>
  <button mat-flat-button color="primary" *ngIf="isEdit" (click)="onSave()">Save</button>
</div>
