<h3>Post-Decision</h3>

<h5 id="modifications" class="post-decision-header">
  Modification Requests
  <mat-icon class="icon" matTooltip="Create new Modification Requests from NOI tracking board">info_outline </mat-icon>
</h5>

<section class="no-decisions" *ngIf="!modifications.length">
  <div>No Requests</div>
</section>

<section>
  <div class="post-decision" *ngFor="let modification of modifications; let i = index">
    <div class="decision-menu modification">
      <button (click)="onEditModification(modification)" matTooltip="Edit Request" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button
        (click)="deleteModification(modification.uuid, modifications.length - i)"
        matTooltip="Delete Request"
        mat-icon-button
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="subheading1">Modification Request #{{ modifications.length - i }}</div>
    <div class="decision-content">
      <div>
        <div class="subheading2">Request Submission Date</div>
        {{ modification.submittedDate | momentFormat }}
      </div>
      <div>
        <div class="subheading2">Resolutions to be Modified</div>
        <ng-container> {{ modification.modifiesDecisionsNumbers.join(', ') }} </ng-container>
      </div>
      <div class="full-grid">
        <div class="subheading2">Request Description</div>
        {{ modification.description }}
      </div>
      <div>
        <div class="subheading2">Review Outcome</div>
        <span *ngIf="modification.reviewOutcome.code === 'PEN'">
          <app-inline-review-outcome
            [isModification]="true"
            (save)="onSaveModificationOutcome(modification.uuid, $event)"
          ></app-inline-review-outcome>
        </span>
        <span *ngIf="modification.reviewOutcome.code !== 'PEN'">{{ modification.reviewOutcome.label }}</span>
      </div>
      <div>
        <ng-container *ngIf="!!modification.resultingDecision">
          <div class="subheading2">Resulting Resolution</div>
          #{{ modification.resultingDecision.resolutionNumber }}/{{ modification.resultingDecision.resolutionYear }}
        </ng-container>
      </div>
    </div>
  </div>
</section>
