<h3 class="flex-item">Notification Parcels</h3>
<div class="review-table">
  @for (parcel of parcels; track parcel; let parcelInd = $index) {
    <div class="full-width flex-space-between-wrap">
      <h4>Parcel {{ parcelInd + 1 }}</h4>
    </div>
    <div class="subheading2 grid-1">Parcel Type</div>
    <div class="grid-double">
      {{ parcel.ownershipType?.label }}
      @if (!parcel.ownershipType) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Legal Description</div>
    <div class="grid-double">
      {{ parcel.legalDescription }}
    </div>
    <div class="subheading2 grid-1">Approx. Map Area</div>
    <div class="grid-double">
      {{ parcel.mapAreaHectares }}
      @if (parcel.mapAreaHectares !== null) {
        <span>ha</span>
      }
    </div>
    <div class="subheading2 grid-1">
      PID {{ parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.CROWN ? '(optional)' : '' }}
    </div>
    <div class="grid-double">
      @if (parcel.pid) {
        <span>{{ parcel.pid | mask : '000-000-000' }}</span>
      }
      @if (!parcel.pid) {
        <app-no-data></app-no-data>
      }
    </div>
    @if (parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.CROWN) {
      <div class="subheading2 grid-1">PIN (optional)</div>
      <div class="grid-double">
        {{ parcel.pin }}
        @if (!parcel.pin) {
          <app-no-data></app-no-data>
        }
      </div>
    }
    <div class="subheading2 grid-1">Civic Address</div>
    <div class="grid-double">
      {{ parcel.civicAddress }}
      @if (!parcel.civicAddress) {
        <app-no-data></app-no-data>
      }
    </div>
  }
</div>
