<ng-content></ng-content>
<div></div>
<div class="full-width">
  <div class="subheading2">Type of soil approved to be removed</div>
  <div class="pre-wrapped-text">{{ component.soilTypeRemoved }}</div>
  @if (component.soilTypeRemoved === null || component.soilTypeRemoved === undefined) {
    <app-no-data></app-no-data>
  }
</div>
<div class="full-width">
  <div class="subheading2">Type, origin and quality of fill proposed to be placed</div>
  <div class="pre-wrapped-text">{{ component.soilFillTypeToPlace }}</div>
  @if (component.soilFillTypeToPlace === null || component.soilFillTypeToPlace === undefined) {
    <app-no-data
    ></app-no-data>
  }
</div>
<div class="full-width">
  <table>
    <thead>
      <th></th>
      <th>Soil to be Removed</th>
      <th>Fill to be Placed</th>
    </thead>
    <tbody>
      <tr>
        <td class="soil-table-label">Volume</td>
        <td>
          @if (component.soilToRemoveVolume !== null && component.soilToRemoveVolume !== undefined) {
            <span
              >{{ component.soilToRemoveVolume }} m<sup>3</sup></span
              >
            }
            @if (component.soilToRemoveVolume === null || component.soilToRemoveVolume === undefined) {
              <app-no-data
              ></app-no-data>
            }
          </td>

          <td>
            @if (component.soilToPlaceVolume !== null && component.soilToPlaceVolume !== undefined) {
              <span
                >{{ component.soilToPlaceVolume }} m<sup>3</sup></span
                >
              }
              @if (component.soilToPlaceVolume === null || component.soilToPlaceVolume === undefined) {
                <app-no-data
                ></app-no-data>
              }
            </td>
          </tr>
          <tr>
            <td class="soil-table-label">Area</td>
            <td>
              @if (component.soilToRemoveArea !== null && component.soilToRemoveArea !== undefined) {
                <span>
                  {{ component.soilToRemoveArea }} m<sup>2</sup></span
                  >
                }
                @if (component.soilToRemoveArea === null || component.soilToRemoveArea === undefined) {
                  <app-no-data
                  ></app-no-data>
                }
              </td>

              <td>
                @if (component.soilToPlaceArea !== null && component.soilToPlaceArea !== undefined) {
                  <span
                    >{{ component.soilToPlaceArea }} m<sup>2</sup></span
                    >
                  }
                  @if (component.soilToPlaceArea === null || component.soilToPlaceArea === undefined) {
                    <app-no-data
                    ></app-no-data>
                  }
                </td>
              </tr>
              <tr>
                <td class="soil-table-label">Maximum Depth</td>
                <td>
                  @if (component.soilToRemoveMaximumDepth !== null && component.soilToRemoveMaximumDepth !== undefined) {
                    <span
                      >{{ component.soilToRemoveMaximumDepth }} m</span
                      >
                    }
                    @if (component.soilToRemoveMaximumDepth === null || component.soilToRemoveMaximumDepth === undefined) {
                      <app-no-data
                      ></app-no-data>
                    }
                  </td>

                  <td>
                    @if (component.soilToPlaceMaximumDepth !== null && component.soilToPlaceMaximumDepth !== undefined) {
                      <span
                        >{{ component.soilToPlaceMaximumDepth }} m</span
                        >
                      }
                      @if (component.soilToPlaceMaximumDepth === null || component.soilToPlaceMaximumDepth === undefined) {
                        <app-no-data
                        ></app-no-data>
                      }
                    </td>
                  </tr>
                  <tr>
                    <td class="soil-table-label">Average Depth</td>
                    <td>
                      @if (component.soilToRemoveAverageDepth !== null && component.soilToRemoveAverageDepth !== undefined) {
                        <span
                          >{{ component.soilToRemoveAverageDepth }} m</span
                          >
                        }
                        @if (component.soilToRemoveAverageDepth === null || component.soilToRemoveAverageDepth === undefined) {
                          <app-no-data
                          ></app-no-data>
                        }
                      </td>

                      <td>
                        @if (component.soilToPlaceAverageDepth !== null && component.soilToPlaceAverageDepth !== undefined) {
                          <span>
                            {{ component.soilToPlaceAverageDepth }} m</span
                            >
                          }
                          @if (component.soilToPlaceAverageDepth === null || component.soilToPlaceAverageDepth === undefined) {
                            <app-no-data
                            ></app-no-data>
                          }
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
