<form [formGroup]="form">
  <div class="date-field">
    <mat-form-field appearance="outline" class="date-picker">
      <mat-label>Date Submitted</mat-label>
      <input
        matInput
        (click)="datePicker.open()"
        [matDatepicker]="datePicker"
        name="date-submitted"
        formControlName="dateSubmitted"
        />
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker type="date"></mat-datepicker>
    </mat-form-field>
    @if (form.get('dateSubmitted')?.hasError('required') && form.get('dateSubmitted')?.touched) {
      <div class="validation-error">
        <mat-icon class="error-icon">warning</mat-icon>
        <span>This field is required</span>
      </div>
    }
  </div>

  <div class="submission-type-field">
    <mat-form-field appearance="outline">
      <mat-label>Initial Submission Type</mat-label>
      <mat-select multiple="false" formControlName="initialSubmissionType">
        @for (type of initialSubmissionTypes; track type) {
          <mat-option [value]="type.value">
            {{ type.value }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    @if (form.get('initialSubmissionType')?.hasError('required') && form.get('initialSubmissionType')?.touched) {
      <div class="validation-error">
        <mat-icon class="error-icon">warning</mat-icon>
        <span>This field is required</span>
      </div>
    }
  </div>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Alleged Contravention Narrative</mat-label>
    <textarea matInput formControlName="allegedContraventionNarrative" rows="3"></textarea>
  </mat-form-field>
  @if (form.get('allegedContraventionNarrative')?.hasError('required') && form.get('allegedContraventionNarrative')?.touched) {
    <div class="validation-error">
      <mat-icon class="error-icon">warning</mat-icon>
      <span>This field is required</span>
    </div>
  }

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Alleged Activity</mat-label>
    <mat-select multiple="true" formControlName="allegedActivity">
      @for (activity of allegedActivities; track activity) {
        <mat-option [value]="activity.value">
          {{ activity.value }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (form.get('allegedActivity')?.hasError('required') && form.get('allegedActivity')?.touched) {
    <div class="validation-error">
      <mat-icon class="error-icon">warning</mat-icon>
      <span>This field is required</span>
    </div>
  }

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Intake Notes</mat-label>
    <textarea matInput formControlName="intakeNotes" rows="3"></textarea>
  </mat-form-field>
</form>
