@use '../../../../styles/colors.scss' as colors;

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  margin-top: 16px;

  .full-width {
    grid-column: 1 / -1;
  }

  .date-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .submission-type-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.validation-error {
  display: flex;
  align-items: center;
  gap: 8px;
  color: colors.$error-color;
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: 8px;

  .error-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    color: colors.$error-color;
  }
}
