<div mat-dialog-title>
  <h2 class="card-title">Cancel Application</h2>
</div>
<mat-dialog-content class="content">
  <div class="grid">
    <p>Are you sure you want to cancel this Notice of Intent?</p>
    <div class="row">
      <div class="toggle-label" id="sendEmailLabel">Send Email to the primary contact and L/FNG</div>
      <div class="toggle">
        <mat-slide-toggle
          [(ngModel)]="sendEmail"
          aria-labelledby="sendEmailLabel"
          ></mat-slide-toggle
          >
        </div>
      </div>
      @if (sendEmail) {
        <p class="msg-padding">Email will be sent to the primary contact and L/FNG</p>
      }
      @if (!sendEmail) {
        <div class="warning-section">
          <div class="warning">
            <mat-icon>info</mat-icon> <b>Warning: </b>&nbsp; Email will not be sent
          </div>
        </div>
      }
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div class="button-container">
      <button mat-stroked-button color="primary" [mat-dialog-close]="false">No</button>
      <button mat-flat-button color="primary" type="button" (click)="onConfirm()">Yes</button>
    </div>
  </mat-dialog-actions>
