<section>
  <h1>Welcome to the ALC Public Search</h1>
  <app-warning-banner>
    This search returns only publicly available information from submissions created as of July 2015. To view older
    decisions, visit the
    <a href="https://www.alc.gov.bc.ca/application-decision-search/">Applications and Decisions</a> section of the ALC
    website. Applicants and local or First Nation governments should <a routerLink="/login">log in to the Portal</a> to
    view their detailed submissions.
  </app-warning-banner>

  <h3>Search by one or more of the following fields:</h3>

  <form class="content" [formGroup]="searchForm" (ngSubmit)="onSubmit()" (keydown)="onEnter($event)">
    <div class="search-form">
      <div>
        <label for="fileNumber">ALC ID</label>
        <mat-form-field appearance="outline">
          <input mask="0*" id="fileNumber" matInput formControlName="fileNumber" />
          @if (searchForm.controls.fileNumber.value) {
            <button class="clear-button" matSuffix mat-icon-button
              aria-label="Clear"
              (click)="searchForm.controls.fileNumber.reset()">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      </div>
      <div>
        <label for="pid">PID</label>
        <mat-form-field appearance="outline">
          <input id="pid" matInput formControlName="pid" minlength="9" maxlength="12" mask="000-000-000" />
          @if (pidControl.value) {
            <button class="clear-button" matSuffix mat-icon-button
              aria-label="Clear"
              (click)="pidControl.reset()">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        @if (pidInvalid) {
          <div class="field-error">
            <mat-icon>warning</mat-icon>
            @if (pidControl.errors?.['mask']) {
              <div>PID must be 9 digits including leading zeroes</div>
            }
          </div>
        }
      </div>
      <div>
        <label for="name">Name</label>
        <mat-form-field appearance="outline">
          <input id="name" matInput formControlName="name" minlength="3" />
          @if (nameControl.value) {
            <button class="clear-button" matSuffix mat-icon-button
              aria-label="Clear"
              (click)="nameControl.reset()">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        @if (nameControl.invalid && (nameControl.dirty || nameControl.touched)) {
          <div class="field-error">
            <mat-icon>warning</mat-icon>
            @if (nameControl.errors?.['minlength']) {
              <div>Enter 3 or more characters to search by name</div>
            }
          </div>
        }
      </div>
      <div>
        <label for="civicAddress">Civic Address</label>
        <mat-form-field appearance="outline">
          <input id="civicAddress" matInput formControlName="civicAddress" minlength="3" />
          @if (civicAddressControl.value) {
            <button class="clear-button" matSuffix mat-icon-button
              aria-label="Clear"
              (click)="civicAddressControl.reset()">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        @if (civicAddressInvalid) {
          <div class="field-error">
            <mat-icon>warning</mat-icon>
            @if (civicAddressControl.errors?.['minlength']) {
              <div>Enter 3 or more characters to search</div>
            }
          </div>
        }
      </div>
      <div>
        <label for="government">Local/First Nation Government</label>
        <mat-form-field appearance="outline">
          <input
            (blur)="onBlur()"
            id="government"
            type="text"
            matInput
            formControlName="government"
            [matAutocomplete]="auto"
            />
          @if (localGovernmentControl.value) {
            <button class="clear-button" matSuffix mat-icon-button
              aria-label="Clear"
              (click)="localGovernmentControl.reset()">
              <mat-icon>close</mat-icon>
            </button>
          }
          <mat-autocomplete (optionSelected)="onGovernmentChange($event)" #auto="matAutocomplete">
            @for (option of filteredLocalGovernments | async; track option) {
              <mat-option [value]="option.name">
                {{ option.name }}
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div>
        <mat-label for="region">Region</mat-label>
        <mat-form-field appearance="outline">
          <mat-select multiple="true" id="region" formControlName="region">
            @for (region of regions; track region) {
              <mat-option [value]="region.code">{{ region.label }}</mat-option>
            }
          </mat-select>
          @if (searchForm.controls.region.value?.length) {
            <button class="clear-button" matSuffix mat-icon-button
              aria-label="Clear"
              (click)="searchForm.controls.region.reset()">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      </div>
      <div>
        <label for="decisionOutcome">Decision Outcome</label>
        <mat-form-field appearance="outline">
          <mat-select multiple="true" id="decisionOutcome" [formControl]="portalDecisionOutcomeControl">
            @for (decision of DECISION_MAP; track decision) {
              <mat-option [value]="decision[1]">
                {{ decision[0] }}
              </mat-option>
            }
          </mat-select>
          @if (portalDecisionOutcomeControl.value?.length) {
            <button class="clear-button" matSuffix mat-icon-button
              aria-label="Clear"
              (click)="portalDecisionOutcomeControl.reset()">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      </div>
      <div>
        <mat-label for="decisionMaker">Decision Maker</mat-label>
        <mat-form-field appearance="outline">
          <mat-select id="decisionMaker" formControlName="decisionMaker">
            @for (decisionMaker of decisionMakers; track decisionMaker) {
              <mat-option [value]="decisionMaker.code">{{
                decisionMaker.label
                }}
              </mat-option>
            }
          </mat-select>
          @if (searchForm.controls.decisionMaker.value) {
            <button class="clear-button" matSuffix mat-icon-button
              aria-label="Clear"
              (click)="searchForm.controls.decisionMaker.reset()">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      </div>
      <div>
        <label for="type">Type</label>
        <app-file-type-filter-drop-down
          #fileTypeDropDown
          [setFileTypes]="previousFileTypes"
          (fileTypeChange)="onFileTypeChange($event)"
          />
      </div>
      <div>
        <mat-label for="status">Status</mat-label>
        <mat-form-field appearance="outline">
          <mat-select multiple="true" id="status" [formControl]="portalStatusControl">
            @for (status of STATUS_MAP; track status) {
              <mat-option [value]="status[1]">
                {{ status[0] }}
              </mat-option>
            }
          </mat-select>
          @if (portalStatusControl.value?.length) {
            <button class="clear-button" matSuffix mat-icon-button
              aria-label="Clear"
              (click)="portalStatusControl.reset()">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      </div>
      <div>
        <mat-label for="decisionDates">Decision Date Range - Start Date</mat-label>
        <mat-form-field appearance="outline" (click)="dateDecidedFromPicker.open()">
          <input
            readonly
            matInput
            formControlName="dateDecidedFrom"
            [matDatepicker]="dateDecidedFromPicker"
            aria-label="date-decided-from"
            [min]="minDate"
            [max]="today"
            />
          <mat-datepicker-toggle matIconSuffix [for]="dateDecidedFromPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateDecidedFromPicker></mat-datepicker>
          @if (searchForm.controls.dateDecidedFrom.value) {
            <button
              class="clear-button"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="onClickFromClear($event)"
              >
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      </div>
      <div>
        <mat-label for="decisionDates">Decision Date Range - End Date</mat-label>
        <mat-form-field appearance="outline" (click)="dateDecidedToPicker.open()">
          <input
            readonly
            matInput
            formControlName="dateDecidedTo"
            [matDatepicker]="dateDecidedToPicker"
            aria-label="date-decided-to"
            [min]="searchForm.controls.dateDecidedFrom.value"
            [max]="today"
            />
          <mat-datepicker-toggle matIconSuffix [for]="dateDecidedToPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateDecidedToPicker></mat-datepicker>
          @if (searchForm.controls.dateDecidedTo.value) {
            <button
              class="clear-button"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="onClickToClear($event)"
              >
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      </div>
    </div>

    <div class="button-controls">
      <button type="button" mat-stroked-button color="accent" (click)="onClear()">Clear</button>
      <button type="submit" mat-flat-button color="primary" [disabled]="formEmpty || !searchForm.valid || isLoading">
        Search
      </button>
    </div>
  </form>

  <div id="searchResultsWrapper" class="search-fields-wrapper search-result-wrapper">
    @if (!searchResultsHidden || isLoading) {
      <h3 class="search-title">Search Results</h3>
    }
    @if (isLoading) {
      <div class="center">
        <mat-spinner></mat-spinner>
      </div>
    }
    @if (!isLoading && !searchResultsHidden) {
      <mat-tab-group mat-align-tabs="start" mat-stretch-tabs #searchResultTabs>
        <mat-tab>
          <ng-template mat-tab-label> Applications: {{ applicationTotal }}</ng-template>
          @if (isMobile) {
            <app-search-list
              type="applications"
              [results]="applications"
              [totalCount]="applicationTotal"
              [statuses]="statuses"
              [pageIndex]="pageIndex"
              (loadMore)="onLoadMore('APP')"
              >
            </app-search-list>
          }
          @if (!isMobile) {
            <app-application-search-table
              [applications]="applications"
              [totalCount]="applicationTotal"
              [pageIndex]="pageIndex"
              [statuses]="statuses"
              (tableChange)="onTableChange($event)"
            ></app-application-search-table>
          }
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label> Notice of Intent: {{ noticeOfIntentTotal }}</ng-template>
          @if (isMobile) {
            <app-search-list
              type="notices of intent"
              [results]="noticeOfIntents"
              [pageIndex]="pageIndex"
              [totalCount]="noticeOfIntentTotal"
              [statuses]="statuses"
              (loadMore)="onLoadMore('NOI')"
              >
            </app-search-list>
          }
          @if (!isMobile) {
            <app-notice-of-intent-search-table
              [noticeOfIntents]="noticeOfIntents"
              [totalCount]="noticeOfIntentTotal"
              [pageIndex]="pageIndex"
              [statuses]="statuses"
              (tableChange)="onTableChange($event)"
            ></app-notice-of-intent-search-table>
          }
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label> Notifications: {{ notificationTotal }}</ng-template>
          @if (isMobile) {
            <app-search-list
              type="notifications"
              [results]="notifications"
              [pageIndex]="pageIndex"
              [totalCount]="notificationTotal"
              [statuses]="statuses"
              (loadMore)="onLoadMore('NOTI')"
              >
            </app-search-list>
          }
          @if (!isMobile) {
            <app-notification-search-table
              [statuses]="statuses"
              [pageIndex]="pageIndex"
              [notifications]="notifications"
              [totalCount]="notificationTotal"
              (tableChange)="onTableChange($event)"
              >
            </app-notification-search-table>
          }
        </mat-tab>
      </mat-tab-group>
    }
  </div>
</section>
