<section>
  <div class="step-description">
    <h2>Land Use</h2>
    <p>Current land use of parcel(s) under application and adjacent parcels.</p>
    <p>*All fields are required unless stated optional.</p>
  </div>
  <form [formGroup]="landUseForm" class="land-use-form">
    <h5>Land Use of Parcel(s) under Application</h5>
    <div class="form-row">
      <div class="full-row">
        <label for="parcelsAgricultureDescription">
          Describe all agriculture that currently takes place on the parcel(s).
        </label>
        <div class="subtext">You may describe multiple parcels collectively or individually.</div>
        <mat-form-field class="display-block" appearance="outline">
          <textarea
            #parcelsAgricultureDescriptionText
            id="parcelsAgricultureDescription"
            matInput
            name="questionText"
            formControlName="parcelsAgricultureDescription"
            rows="4"
            maxlength="4000"
          ></textarea>
        </mat-form-field>
        <div
          *ngIf="
            parcelsAgricultureDescription.invalid &&
            (parcelsAgricultureDescription.dirty || parcelsAgricultureDescription.touched)
          "
          class="field-error"
        >
          <mat-icon>warning</mat-icon>
          <div *ngIf="parcelsAgricultureDescription.errors?.['required']">This field is required</div>
        </div>
        <mat-hint class="subtext"
          >Example 1: PID 001-002-003: 60 ha hay crop, 40 ha grazing, 200 sheep. Example 2: Parcel 1: 10% blueberry
          crop, 30% vegetables, 60% hay. Parcel 2: 100% hay.
        </mat-hint>
        <div class="subtext">Characters left: {{ 4000 - parcelsAgricultureDescriptionText.textLength }}</div>
      </div>
      <div class="full-row">
        <h6>
          <label for="parcelsAgricultureImprovementDescription">
            Describe all agricultural improvements made to the parcel(s).
          </label>
        </h6>
        <div class="subtext">
          Describe any irrigation, drainage, fencing, material enhancement, clearing, etc. undertaken on the parcel(s).
          If there have been no agricultural improvements on the parcel(s), please specify "No Agricultural
          Improvements".
        </div>
        <mat-form-field class="display-block" appearance="outline">
          <textarea
            #parcelsAgricultureImprovementDescriptionText
            id="parcelsAgricultureImprovementDescription"
            matInput
            name="questionText"
            formControlName="parcelsAgricultureImprovementDescription"
            rows="4"
            maxlength="4000"
          ></textarea>
        </mat-form-field>
        <div
          *ngIf="
            parcelsAgricultureImprovementDescription.invalid &&
            (parcelsAgricultureImprovementDescription.dirty || parcelsAgricultureImprovementDescription.touched)
          "
          class="field-error"
        >
          <mat-icon>warning</mat-icon>
          <div *ngIf="parcelsAgricultureImprovementDescription.errors?.['required']">This field is required</div>
        </div>
        <mat-hint class="subtext">Example: 40 ha of grazing land fenced in 2010.</mat-hint>
        <div class="subtext">Characters left: {{ 4000 - parcelsAgricultureImprovementDescriptionText.textLength }}</div>
      </div>
      <div class="full-row">
        <label for="parcelsNonAgricultureUseDescription">
          Describe all other uses that currently take place on the parcel(s).
        </label>
        <div class="subtext">
          Describe other uses such as residential, home-based businesses, commercial, recreational, institutional,
          industrial, etc.
        </div>
        <mat-form-field class="display-block" appearance="outline">
          <textarea
            #parcelsNonAgricultureUseDescriptionText
            id="parcelsNonAgricultureUseDescription"
            matInput
            name="questionText"
            formControlName="parcelsNonAgricultureUseDescription"
            rows="4"
            maxlength="4000"
          ></textarea>
        </mat-form-field>
        <div
          *ngIf="
            parcelsNonAgricultureUseDescription.invalid &&
            (parcelsNonAgricultureUseDescription.dirty || parcelsNonAgricultureUseDescription.touched)
          "
          class="field-error"
        >
          <mat-icon>warning</mat-icon>
          <div *ngIf="parcelsNonAgricultureUseDescription.errors?.['required']">This field is required</div>
        </div>
        <mat-hint class="subtext"
          >Example: 100m<sup>2</sup> house and 50m<sup>2</sup> detached auto repair shop</mat-hint
        >
        <div class="subtext">Characters left: {{ 4000 - parcelsNonAgricultureUseDescriptionText.textLength }}</div>
      </div>
    </div>
    <h5>Choose and describe neighbouring land uses.</h5>
    <div class="subtext">Choose the main land use type from the drop-down and describe the specific activities.</div>
    <div class="form-row">
      <div class="full-row">
        <mat-label for="northLandUseType">North</mat-label>
        <div class="land-use-type-wrapper">
          <div class="land-use-type">
            <mat-form-field appearance="outline">
              <mat-select id="northLandUseType" placeholder="Main Land Use Type" formControlName="northLandUseType">
                <mat-option *ngFor="let enum of MainLandUseTypeOptions | keyvalue" [value]="enum.value">{{
                  enum.value
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="northLandUseType.invalid && (northLandUseType.dirty || northLandUseType.touched)"
              class="field-error"
            >
              <mat-icon>warning</mat-icon>
              <div *ngIf="northLandUseType.errors?.['required']">This field is required</div>
            </div>
          </div>
          <div class="full-width-input">
            <mat-form-field appearance="outline">
              <input
                id="northLandUseTypeDescription"
                placeholder="Specific Activity"
                matInput
                formControlName="northLandUseTypeDescription"
                aria-label="North land use type description"
              />
            </mat-form-field>
            <div
              *ngIf="
                northLandUseTypeDescription.invalid &&
                (northLandUseTypeDescription.dirty || northLandUseTypeDescription.touched)
              "
              class="field-error"
            >
              <mat-icon>warning</mat-icon>
              <div *ngIf="northLandUseTypeDescription.errors?.['required']">This field is required</div>
            </div>
          </div>
        </div>
      </div>

      <div class="full-row">
        <mat-label for="eastLandUseType">East</mat-label>
        <div class="land-use-type-wrapper">
          <div class="land-use-type">
            <mat-form-field appearance="outline">
              <mat-select id="eastLandUseType" placeholder="Main Land Use Type" formControlName="eastLandUseType">
                <mat-option *ngFor="let enum of MainLandUseTypeOptions | keyvalue" [value]="enum.value">{{
                  enum.value
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="eastLandUseType.invalid && (eastLandUseType.dirty || eastLandUseType.touched)"
              class="field-error"
            >
              <mat-icon>warning</mat-icon>
              <div *ngIf="eastLandUseType.errors?.['required']">This field is required</div>
            </div>
          </div>
          <div class="full-width-input">
            <mat-form-field appearance="outline">
              <input
                id="eastLandUseTypeDescription"
                placeholder="Specific Activity"
                matInput
                formControlName="eastLandUseTypeDescription"
                aria-label="East land use type description"
              />
            </mat-form-field>
            <div
              *ngIf="
                eastLandUseTypeDescription.invalid &&
                (eastLandUseTypeDescription.dirty || eastLandUseTypeDescription.touched)
              "
              class="field-error"
            >
              <mat-icon>warning</mat-icon>
              <div *ngIf="eastLandUseTypeDescription.errors?.['required']">This field is required</div>
            </div>
          </div>
        </div>
      </div>

      <div class="full-row">
        <mat-label for="southLandUseType">South</mat-label>
        <div class="land-use-type-wrapper">
          <div class="land-use-type">
            <mat-form-field appearance="outline">
              <mat-select id="southLandUseType" placeholder="Main Land Use Type" formControlName="southLandUseType">
                <mat-option *ngFor="let enum of MainLandUseTypeOptions | keyvalue" [value]="enum.value">{{
                  enum.value
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="southLandUseType.invalid && (southLandUseType.dirty || southLandUseType.touched)"
              class="field-error"
            >
              <mat-icon>warning</mat-icon>
              <div *ngIf="southLandUseType.errors?.['required']">This field is required</div>
            </div>
          </div>
          <div class="full-width-input">
            <mat-form-field appearance="outline">
              <input
                id="southLandUseTypeDescription"
                placeholder="Specific Activity"
                matInput
                formControlName="southLandUseTypeDescription"
                aria-label="South land use type description"
              />
            </mat-form-field>
            <div
              *ngIf="
                southLandUseTypeDescription.invalid &&
                (southLandUseTypeDescription.dirty || southLandUseTypeDescription.touched)
              "
              class="field-error"
            >
              <mat-icon>warning</mat-icon>
              <div *ngIf="southLandUseTypeDescription.errors?.['required']">This field is required</div>
            </div>
          </div>
        </div>
      </div>

      <div class="full-row">
        <mat-label for="westLandUseType">West</mat-label>
        <div class="land-use-type-wrapper">
          <div class="land-use-type">
            <mat-form-field appearance="outline">
              <mat-select id="westLandUseType" placeholder="Main Land Use Type" formControlName="westLandUseType">
                <mat-option *ngFor="let enum of MainLandUseTypeOptions | keyvalue" [value]="enum.value">{{
                  enum.value
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="westLandUseType.invalid && (westLandUseType.dirty || westLandUseType.touched)"
              class="field-error"
            >
              <mat-icon>warning</mat-icon>
              <div *ngIf="westLandUseType.errors?.['required']">This field is required</div>
            </div>
          </div>
          <div class="full-width-input">
            <mat-form-field appearance="outline">
              <input
                id="westLandUseTypeDescription"
                placeholder="Specific Activity"
                matInput
                formControlName="westLandUseTypeDescription"
                aria-label="West land use type description"
              />
            </mat-form-field>
            <div
              *ngIf="
                westLandUseTypeDescription.invalid &&
                (westLandUseTypeDescription.dirty || westLandUseTypeDescription.touched)
              "
              class="field-error"
            >
              <mat-icon>warning</mat-icon>
              <div *ngIf="westLandUseTypeDescription.errors?.['required']">This field is required</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="button-container">
    <button *ngIf="!draftMode" (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
    <button *ngIf="draftMode" (click)="onSaveExit()" mat-stroked-button color="accent">Discard all Changes</button>
    <div>
      <button mat-stroked-button color="primary" (click)="onNavigateToStep(currentStep - 1)">
        Previous<span class="mobile-hidden"> Step</span>
      </button>
      <button mat-flat-button color="primary" (click)="onNavigateToStep(currentStep + 1)">
        Next<span class="mobile-hidden"> Step</span>
      </button>
    </div>
  </div>
</section>
