form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.button-container {
  display: flex;
}

// Allow dropdown to overflow modal
.officer-list-panel {
  overflow: visible !important;
}

.clear-button {
  padding: 0 !important;
  width: 24px !important;
  height: 24px !important;
  position: absolute;
  top: 18px;
  right: 16px;

  &:last-child {
    margin-right: 4px !important;
  }

  & > *[role='img'] {
    width: 16px;
    height: 16px;
    font-size: 16px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .mat-mdc-button-touch-target {
    width: 24px !important;
    height: 24px !important;
  }
}
