@use '../../../../styles/colors';

:host {
  display: block;
  padding-bottom: 48px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.documents {
  margin-top: 64px;
}

.mat-mdc-no-data-row {
  height: 56px;
  color: colors.$grey-dark;
}

a {
  word-break: break-all;
}

table {
  position: relative; 

  th mat-header-cell {
    position: relative; 
  }

  .subheading {
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    position: absolute;
    top: 100%; /* Position it below the header text */
    left: 0; /* Align it to the left edge of the header cell */
  }

  .actions-column {
    min-width: 200px;
  }
}



