@import '../../../styles/colors';
@import '../../../styles/functions';

.create-new-app-modal {
  line-height: rem(24);

  #radio-label {
    display: block;
    line-height: rem(36);
  }

  .dialog-content-wrapper {
    margin: rem(16);
  }

  mat-radio-button {
    display: block;
    margin: rem(14);

    .mat-radio-label-content {
      display: block;
      white-space: normal;
    }
  }

  .warning-banner {
    padding: 0 rem(16) 0 rem(16);
    background-color: $accent-color-light;
    margin-bottom: rem(16);
  }

  .dialog-controls-wrapper {
    padding: 0 rem(16) rem(16) rem(16);

    button {
      width: rem(116);
      margin-right: rem(10);
    }
  }
}
