@import '../../../styles/colors';

.app-type-radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;

  .mat-radio-button {
    margin: 1.2rem 0;
  }

  .mat-radio-label {
    align-items: flex-start;
  }
}

.app-type-description {
  margin: 0.8rem 0;
  padding: 0.8rem;
  background-color: rgba($secondary-color-light, 0.5);
  border-radius: 0.4rem;
  word-wrap: normal;
  white-space: normal;
  font-size: 1.2rem !important;
  line-height: 2.4rem !important;

  a {
    font-size: 1.2rem !important;
    line-height: 2.4rem !important;
  }
}

.create-dialog-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.4rem;

  button {
    margin-left: 1.2rem !important;
  }
}
