@import '../../../styles/colors';
@import '../../../styles/functions';

.create-new-app-modal {
  line-height: rem(24);
  max-height: rem(650);

  #radio-label {
    display: block;
    line-height: rem(36);
  }

  .dialog-content-wrapper {
    margin: rem(16);
  }

  mat-radio-button {
    display: block;
    margin: rem(14);

    .mat-radio-label-content {
      display: block;
      white-space: normal;
    }
  }

  .warning-banner {
    padding: rem(16);
    background-color: rgba($accent-color-light, 0.5);
    margin-bottom: rem(16);

    .read-more-btn {
      padding-top: rem(8);

      cursor: pointer;
      display: flex;
      justify-content: end;
      color: $accent-color-dark;
    }
  }

  .dialog-controls-wrapper {
    padding: 0 rem(16) rem(16) rem(16);

    button {
      width: rem(116);
      margin-right: rem(10);
    }
  }
}
