@import '../../../../../styles/colors';

.editing.hidden {
  display: none;
}

.button-container {
  button:not(:last-child) {
    margin-right: 2px !important;
  }
  .save {
    color: $primary-color;
  }
}
