@use '../../../../../styles/functions' as *;

.mobile {
  @media screen and (min-width: $tabletBreakpoint) {
    display: none;
  }
}

.desktop {
  display: none;

  @media screen and (min-width: $tabletBreakpoint) {
    display: inline;
  }
}
