<section>
  <app-parcel [applicationSubmission]="applicationSubmission" [parcels]="applicationParcels"></app-parcel>
</section>
<section>
  <h3>Primary Contact</h3>
  @if (applicationSubmission) {
    <div class="review-table">
      <div class="subheading2 grid-1">Type</div>
      <div class="grid-double">
        {{ primaryContact?.type?.label }}
        @if (!primaryContact?.type?.label) {
          <app-no-data></app-no-data>
        }
      </div>
      <div class="subheading2 grid-1">First Name</div>
      <div class="grid-double">
        {{ primaryContact?.firstName }}
        @if (!primaryContact?.firstName) {
          <app-no-data></app-no-data>
        }
      </div>
      <div class="subheading2 grid-1">Last Name</div>
      <div class="grid-double">
        {{ primaryContact?.lastName }}
        @if (!primaryContact?.lastName) {
          <app-no-data></app-no-data>
        }
      </div>
      <div class="subheading2 grid-1">
        @if (primaryContact?.type?.code !== OWNER_TYPE.CROWN && primaryContact?.type?.code !== OWNER_TYPE.GOVERNMENT) {
          <span
            >Organization (optional)</span
            >
          }
          @if (primaryContact?.type?.code === OWNER_TYPE.CROWN) {
            <span>Ministry/Department Responsible</span>
          }
          @if (primaryContact?.type?.code === OWNER_TYPE.GOVERNMENT) {
            <span>Department</span>
          }
        </div>
        <div class="grid-double">
          {{ primaryContact?.organizationName }}
          @if (!primaryContact?.organizationName) {
            <app-no-data></app-no-data>
          }
        </div>
      </div>
    }
  </section>
  <section>
    <h3>Government</h3>
    @if (applicationSubmission) {
      <div class="review-table">
        <div class="subheading2 grid-1">Local or First Nation Government</div>
        <div class="grid-double">
          {{ localGovernment?.name }}
          @if (!localGovernment) {
            <app-no-data></app-no-data>
          }
        </div>
      </div>
    }
  </section>
  <section>
    <h3>Land Use</h3>
    @if (applicationSubmission) {
      <div class="review-table">
        <div class="full-width">
          <h4>Land Use of Parcel(s) under Application</h4>
        </div>
        <div class="subheading2 grid-1">Describe all agriculture that currently takes place on the parcel(s).</div>
        <div class="grid-double">
          {{ applicationSubmission.parcelsAgricultureDescription }}
          @if (!applicationSubmission.parcelsAgricultureDescription) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2 grid-1">Describe all agricultural improvements made to the parcel(s).</div>
        <div class="grid-double">
          {{ applicationSubmission.parcelsAgricultureImprovementDescription }}
          @if (!applicationSubmission.parcelsAgricultureImprovementDescription) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2 grid-1">Describe all other uses that currently take place on the parcel(s).</div>
        <div class="grid-double">
          {{ applicationSubmission.parcelsNonAgricultureUseDescription }}
          @if (!applicationSubmission.parcelsNonAgricultureUseDescription) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="full-width">
          <h4>Land Use of Adjacent Parcels</h4>
        </div>
        <div class="adjacent-parcels full-width">
          <div class="grid-1 subheading2"></div>
          <div class="grid-2 subheading2">Main Land Use Type</div>
          <div class="grid-3 subheading2">Specific Activity</div>
          <div class="grid-1 subheading2">North</div>
          <div class="grid-2">
            {{ applicationSubmission.northLandUseType }}
            @if (!applicationSubmission.northLandUseType) {
              <app-no-data></app-no-data>
            }
          </div>
          <div class="grid-3">
            {{ applicationSubmission.northLandUseTypeDescription }}
            @if (!applicationSubmission.northLandUseTypeDescription) {
              <app-no-data></app-no-data>
            }
          </div>
          <div class="grid-1 subheading2">East</div>
          <div class="grid-2">
            {{ applicationSubmission.eastLandUseType }}
            @if (!applicationSubmission.eastLandUseType) {
              <app-no-data></app-no-data>
            }
          </div>
          <div class="grid-3">
            {{ applicationSubmission.eastLandUseTypeDescription }}
            @if (!applicationSubmission.eastLandUseTypeDescription) {
              <app-no-data></app-no-data>
            }
          </div>
          <div class="grid-1 subheading2">South</div>
          <div class="grid-2">
            {{ applicationSubmission.southLandUseType }}
            @if (!applicationSubmission.southLandUseType) {
              <app-no-data></app-no-data>
            }
          </div>
          <div class="grid-3">
            {{ applicationSubmission.southLandUseTypeDescription }}
            @if (!applicationSubmission.southLandUseTypeDescription) {
              <app-no-data></app-no-data>
            }
          </div>
          <div class="grid-1 subheading2">West</div>
          <div class="grid-2">
            {{ applicationSubmission.westLandUseType }}
            @if (!applicationSubmission.westLandUseType) {
              <app-no-data></app-no-data>
            }
          </div>
          <div class="grid-3">
            {{ applicationSubmission.westLandUseTypeDescription }}
            @if (!applicationSubmission.westLandUseTypeDescription) {
              <app-no-data></app-no-data>
            }
          </div>
        </div>
      </div>
    }
  </section>
  @if (applicationSubmission) {
    <section>
      <h3>Proposal</h3>
      @if (applicationSubmission.typeCode === 'NFUP') {
        <app-nfu-details
          [applicationSubmission]="applicationSubmission"
          [applicationDocuments]="applicationDocuments"
        ></app-nfu-details>
      }
      @if (applicationSubmission.typeCode === 'TURP') {
        <app-tur-details
          [applicationSubmission]="applicationSubmission"
          [applicationDocuments]="applicationDocuments"
        ></app-tur-details>
      }
      @if (applicationSubmission.typeCode === 'SUBD') {
        <app-subd-details
          [applicationSubmission]="applicationSubmission"
          [applicationDocuments]="applicationDocuments"
        ></app-subd-details>
      }
      @if (applicationSubmission.typeCode === 'ROSO') {
        <app-roso-details
          [applicationSubmission]="applicationSubmission"
          [applicationDocuments]="applicationDocuments"
        ></app-roso-details>
      }
      @if (applicationSubmission.typeCode === 'POFO') {
        <app-pofo-details
          [applicationSubmission]="applicationSubmission"
          [applicationDocuments]="applicationDocuments"
        ></app-pofo-details>
      }
      @if (applicationSubmission.typeCode === 'PFRS') {
        <app-pfrs-details
          [applicationSubmission]="applicationSubmission"
          [applicationDocuments]="applicationDocuments"
        ></app-pfrs-details>
      }
      @if (applicationSubmission.typeCode === 'NARU') {
        <app-naru-details
          [applicationSubmission]="applicationSubmission"
          [applicationDocuments]="applicationDocuments"
        ></app-naru-details>
      }
      @if (applicationSubmission.typeCode === 'EXCL') {
        <app-excl-details
          [applicationSubmission]="applicationSubmission"
          [applicationDocuments]="applicationDocuments"
        ></app-excl-details>
      }
      @if (applicationSubmission.typeCode === 'INCL') {
        <app-incl-details
          [applicationSubmission]="applicationSubmission"
          [applicationDocuments]="applicationDocuments"
        ></app-incl-details>
      }
      @if (applicationSubmission.typeCode === 'COVE') {
        <app-cove-details
          [applicationSubmission]="applicationSubmission"
          [applicationDocuments]="applicationDocuments"
          [transferees]="transferees"
        ></app-cove-details>
      }
    </section>
  }
