<div class="title">
  <h1>Advanced Search</h1>
</div>

<form class="content" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="search-fields-wrapper">
    <h4>File Details</h4>
    <div class="row">
      <div class="column">
        <mat-form-field appearance="outline">
          <mat-label>File ID</mat-label>
          <input id="fileNumber" matInput formControlName="fileNumber" />
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field
          matTooltip="Search by Primary Contact, Parcel Owner, Organization, Ministry or Department, Inquirer, SRW Transferee, PR
          Document Name"
          appearance="outline"
        >
          <mat-label>Name</mat-label>
          <input id="name" matInput formControlName="name" minlength="3" />
          <mat-icon matSuffix>info</mat-icon>
        </mat-form-field>
        <div class="subtext"></div>
        <div *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="nameControl.errors?.['minlength']">Enter 3 or more characters to search by name</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <app-file-type-filter-drop-down
          label="Current Portal Status"
          #statusTypeDropDown
          [fileTypeData]="portalStatusDataService"
          (fileTypeChange)="onPortalStatusChange($event)"
          [preExpanded]="['With ALC']"
          onclick="event.preventDefault()"
        />
      </div>

      <div class="column">
        <app-file-type-filter-drop-down
          label="File Type"
          tooltip="Note: This field searches both proposal and decision component type"
          #fileTypeDropDown
          [fileTypeData]="fileTypeService"
          (fileTypeChange)="onFileTypeChange($event)"
          onclick="event.preventDefault()"
        />
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="row resolution-wrapper">
          <div class="column">
            <mat-form-field appearance="outline">
              <mat-label>Resolution Number</mat-label>
              <input id="resolutionNumber" matInput formControlName="resolutionNumber" />
            </mat-form-field>
          </div>
          <div class="center">/</div>
          <div class="column">
            <ng-select
              appearance="outline"
              class="resolution-year"
              [items]="resolutionYears"
              formControlName="resolutionYear"
              appendTo="body"
              placeholder="Resolution Year"
            ></ng-select>
          </div>
        </div>
      </div>
      <div class="column">
        <mat-form-field appearance="outline">
          <mat-label>Legacy ID</mat-label>
          <input id="legacyId" matInput formControlName="legacyId" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div
          class="tag-container"
          [ngClass]="{ hovered: hovered, clicked: clicked }"
          (mouseleave)="hovered = false"
          (mouseenter)="hovered = true"
          (click)="onClick()"
        >
          <mat-form-field class="tag-field" appearance="outline">
            <mat-label>Tags</mat-label>
            <mat-chip-grid #chipGrid>
              <app-tag-chip *ngFor="let tag of tags" (removeClicked)="removeTag(tag)" [tag]="tag"></app-tag-chip>
              <input
                #tagInput
                [matChipInputFor]="chipGrid"
                [formControl]="tagControl"
                [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (focus)="autoCompleteTrigger.openPanel()"
                (click)="clearSearch()"
                (blur)="checkDirty()"
              />
                <button *ngIf="tags.length > 0" class="clear-button" matSuffix mat-icon-button aria-label="Clear" (click)="clearTags()">
                  <mat-icon>close</mat-icon>
                </button>
            </mat-chip-grid>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selectTag($event)"
              autoActiveFirstOption
              class="auto-complete"
            >
              <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                {{ tag.name }} <span class="category-label" *ngIf="tag.category"> : {{ tag.category.name }}</span>
                <span *ngIf="!tag.isActive" class="inactive-label">&nbsp;Inactive</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="column">
        <ng-select
          appearance="outline"
          [items]="tagCategories"
          appendTo="body"
          placeholder="Tag Categories"
          bindLabel="name"
          bindValue="uuid"
          formControlName="tagCategory"
        >
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            <div [ngOptionHighlight]="search">{{ item.name }}</div>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>

  <div class="search-fields-wrapper">
    <h4>Location</h4>
    <div class="row">
      <div class="column">
        <mat-form-field class="address-field" appearance="outline">
          <mat-label>PID</mat-label>
          <input id="pid" matInput formControlName="pid" minlength="9" maxlength="12" mask="000-000-000" />
        </mat-form-field>
        <div *ngIf="pidInvalid" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="pidControl.errors?.['mask']">PID must be 9 digits including leading zeroes</div>
        </div>
      </div>
      <div class="column">
        <mat-form-field appearance="outline" class="address-field">
          <mat-label>Civic Address</mat-label>
          <input id="civicAddress" matInput placeholder="Civic Address" formControlName="civicAddress" minlength="3" />
        </mat-form-field>
        <div *ngIf="civicAddressInvalid" class="field-error column">
          <mat-icon>warning</mat-icon>
          <div *ngIf="civicAddressControl.errors?.['minlength']">Enter 3 or more characters to search</div>
        </div>
      </div>
      <div class="info-banner">
        <div class="icon">
          <mat-icon>info</mat-icon>
        </div>
        <div class="info-description">
          Property details change over time. Use both ALCS and
          <a href="https://arcmaps.gov.bc.ca/ess/hm/alc/" target="_blank">iMap</a> to confirm ALC history on a property
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <ng-select
          appearance="outline"
          placeholder="L/FNG Government"
          [items]="localGovernments"
          bindLabel="name"
          bindValue="name"
          formControlName="government"
        >
        </ng-select>
      </div>

      <div class="column">
        <ng-select
          appearance="outline"
          [items]="regions"
          appendTo="body"
          placeholder="Region"
          bindLabel="label"
          bindValue="code"
          formControlName="region"
        >
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            <div [ngOptionHighlight]="search">{{ item.label }}</div>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>

  <div class="search-fields-wrapper">
    <h4>Date Range</h4>
    <div class="row">
      <div class="column">
        <mat-form-field (click)="dateSubmittedFromPicker.open()" appearance="outline" class="date-picker">
          <mat-label>Submitted to ALC - Start Date</mat-label>
          <input
            matInput
            readonly
            [matDatepicker]="dateSubmittedFromPicker"
            formControlName="dateSubmittedFrom"
            name="dateSubmittedFrom"
            min="1970"
            [max]="today | date: 'yyyy-MM-dd'"
          />
          <button
            class="clear-button"
            *ngIf="searchForm.controls.dateSubmittedFrom.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="$event.stopPropagation(); searchForm.controls.dateSubmittedFrom.reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-datepicker-toggle matSuffix [for]="dateSubmittedFromPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateSubmittedFromPicker type="date"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="column">
        <mat-form-field (click)="dateSubmittedToPicker.open()" appearance="outline" class="date-picker">
          <mat-label>Submitted to ALC - End Date</mat-label>
          <input
            matInput
            readonly
            [matDatepicker]="dateSubmittedToPicker"
            formControlName="dateSubmittedTo"
            name="dateSubmittedTo"
            min="1970"
            [max]="today | date: 'yyyy-MM-dd'"
          />
          <button
            class="clear-button"
            *ngIf="searchForm.controls.dateSubmittedTo.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="$event.stopPropagation(); searchForm.controls.dateSubmittedTo.reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-datepicker-toggle matSuffix [for]="dateSubmittedToPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateSubmittedToPicker type="date"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-form-field (click)="dateDecidedFromPicker.open()" appearance="outline" class="date-picker">
          <mat-label>Decision - Start Date</mat-label>
          <input
            matInput
            readonly
            [matDatepicker]="dateDecidedFromPicker"
            formControlName="dateDecidedFrom"
            name="dateDecidedFrom"
            min="1970"
            [max]="today | date: 'yyyy-MM-dd'"
          />
          <button
            class="clear-button"
            *ngIf="searchForm.controls.dateDecidedFrom.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="$event.stopPropagation(); searchForm.controls.dateDecidedFrom.reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-datepicker-toggle matSuffix [for]="dateDecidedFromPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateDecidedFromPicker type="date"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="column">
        <mat-form-field (click)="dateDecidedToPicker.open()" appearance="outline" class="date-picker">
          <mat-label>Decision - End Date</mat-label>
          <input
            matInput
            readonly
            [matDatepicker]="dateDecidedToPicker"
            formControlName="dateDecidedTo"
            name="dateDecidedTo"
            min="1970"
            [max]="today | date: 'yyyy-MM-dd'"
          />
          <button
            class="clear-button"
            *ngIf="searchForm.controls.dateDecidedTo.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="$event.stopPropagation(); searchForm.controls.dateDecidedTo.reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-datepicker-toggle matSuffix [for]="dateDecidedToPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateDecidedToPicker type="date"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="btn-controls">
    <button class="reset-btn" type="button" mat-stroked-button color="primary" (click)="onReset()">Reset</button>
    <button
      class="search-btn"
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="formEmpty || !searchForm.valid || isLoading"
    >
      Search
    </button>
  </div>
</form>

<div class="search-fields-wrapper search-result-wrapper" *ngIf="!searchResultsHidden">
  <h2 class="search-title">Search Results:</h2>
  <mat-tab-group id="results" mat-align-tabs="start" [mat-stretch-tabs]="isCommissioner" (selectedTabChange)="onTabChanged($event.index);" #searchResultTabs>
    <mat-tab>
      <ng-template mat-tab-label> Applications: {{ applicationTotal }}</ng-template>
      <app-application-search-table
        *ngIf="!isLoading"
        [applications]="applications"
        [totalCount]="applicationTotal"
        [statuses]="applicationStatuses"
        [pageIndex]="pageIndex"
        [regions]="regions"
        [isCommissioner]="isCommissioner"
        (tableChange)="onTableChange($event)"
      ></app-application-search-table>
      <div class="center">
        <mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
      </div>
    </mat-tab>

    <mat-tab *ngIf="!isCommissioner">
      <ng-template mat-tab-label> Notice of Intent: {{ noticeOfIntentTotal }}</ng-template>
      <app-notice-of-intent-search-table
        *ngIf="!isLoading"
        [noticeOfIntents]="noticeOfIntents"
        [totalCount]="noticeOfIntentTotal"
        [pageIndex]="pageIndex"
        [statuses]="noiStatuses"
        [regions]="regions"
        (tableChange)="onTableChange($event)"
      ></app-notice-of-intent-search-table>
      <div class="center">
        <mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
      </div>
    </mat-tab>

    <mat-tab *ngIf="!isCommissioner">
      <ng-template mat-tab-label> Planning Reviews: {{ planningReviewsTotal }}</ng-template>
      <app-planning-review-search-table
        *ngIf="!isLoading"
        [planningReviews]="planningReviews"
        [totalCount]="planningReviewsTotal"
        [pageIndex]="pageIndex"
        (tableChange)="onTableChange($event)"
      >
      </app-planning-review-search-table>
      <div class="center">
        <mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
      </div>
    </mat-tab>

    <mat-tab *ngIf="!isCommissioner">
      <ng-template mat-tab-label> Notifications: {{ notificationTotal }}</ng-template>
      <app-notification-search-table
        [statuses]="notificationStatuses"
        [notifications]="notifications"
        [totalCount]="notificationTotal"
        [pageIndex]="pageIndex"
        (tableChange)="onTableChange($event)"
      >
      </app-notification-search-table>
      <div class="center">
        <mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
      </div>
    </mat-tab>

    <mat-tab *ngIf="!isCommissioner">
      <ng-template mat-tab-label> Inquiries: {{ inquiriesTotal }}</ng-template>
      <app-inquiry-search-table
        *ngIf="!isLoading"
        [inquiries]="inquiries"
        [totalCount]="inquiriesTotal"
        [pageIndex]="pageIndex"
        (tableChange)="onTableChange($event)"
      >
      </app-inquiry-search-table>
      <div class="center">
        <mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
