@use '../../../styles/colors';

.spinner {
  margin: 20px;
}

h4 {
  margin-bottom: -4px !important;
  margin-top: 48px !important;
}

.info-banner {
  margin-top: -16px;
  background-color: rgba(#F7F7F7, 0.5);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;

  .info-description {
    min-width: 0;
    word-break: break-word;
    color: colors.$grey;
  }

  .icon {
    display: flex;
    justify-content: center;

    mat-icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
      margin-right: 8px;
    }
  }
}

:host::ng-deep {
  h3,
  div,
  span {
    color: colors.$black;
  }

  .search-title {
    width: 100%;
    margin-top: 42px;
    margin-bottom: 24px;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .table {
    width: 100%;
    margin-top: 12px;

    td,
    th {
      font-size: 16px;
      width: 25%;
    }

    .type-cell {
      width: 90px;
    }

    tr.mdc-data-table__row:hover {
      box-shadow: 0 0 0 2px rgba(colors.$primary-color, 0.9);
      cursor: pointer;
      transform: scale(1);
    }

    tr.no-data td {
      text-align: start;

      > div:first-child {
        margin-top: 28px;
      }
    }
  }

  .search-fields-wrapper {
    padding: 0 160px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    margin: 24px 0;

    .column {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .resolution-wrapper {
      gap: 12px;
      margin: 0;
    }
  }

  .address-search-fields-wrapper {
    padding: 12px 80px;

    .address-field {
      background-color: white;
    }

    .row {
      margin: 4px 0;
    }
  }

  .btn-controls {
    padding: 12px 160px;
    display: flex;
    justify-content: flex-end;

    button:not(:last-child) {
      margin-right: 16px !important;
    }
  }

  .title {
    margin: 36px 160px;
  }

  .search-result-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .field-error {
    color: colors.$error-color;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: 4px;
    flex-direction: row !important;
    gap: 4px;

    div {
      color: colors.$error-color;
    }
  }

  .btn-controls {
    .reset-btn span {
      color: colors.$primary-color;
    }

    .search-btn span {
      color: #fff !important;
    }
  }

  .mat-mdc-select-placeholder {
    color: rgba(0, 0, 0, 0.6);
  }

  .no-data {
    overflow: hidden;
    margin: 20px 0;
    padding: 8px 12px;
  }

  .clear-button {
    padding: 0 !important;
    width: 24px !important;
    height: 24px !important;


    & > *[role=img] {
      width: 16px;
      height: 16px;
      font-size: 16px;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    .mat-mdc-button-touch-target {
      width: 24px !important;
      height: 24px !important;
    }
  }
}
