<div mat-dialog-title>
  @if (!isEdit) {
    <h3>Add New Transferee</h3>
  }
  @if (isEdit) {
    <h3>Edit Transferee</h3>
  }
</div>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-row">
      <div class="full-row">
        <mat-label for="type">Transferee Type</mat-label>
        <mat-button-toggle-group (change)="onChangeType($event)" class="input" id="type" formControlName="type">
          <mat-button-toggle color="primary" [value]="OWNER_TYPE.INDIVIDUAL">Individual</mat-button-toggle>
          <mat-button-toggle color="primary" [value]="OWNER_TYPE.ORGANIZATION">Organization</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      @if (type.getRawValue() === OWNER_TYPE.ORGANIZATION) {
        <div class="full-row">
          <label for="orgName">Organization Name</label>
          <mat-form-field appearance="outline">
            <input id="orgName" matInput placeholder="Enter Organization Name" formControlName="organizationName" />
          </mat-form-field>
          @if (organizationName.invalid && (organizationName.dirty || organizationName.touched)) {
            <div
              class="field-error"
              >
              <mat-icon>warning</mat-icon>
              @if (organizationName.errors?.['required']) {
                <div>This field is required</div>
              }
            </div>
          }
        </div>
      }
      @if (type.getRawValue() === OWNER_TYPE.ORGANIZATION) {
        <h5 class="full-row">Organization Contact Info</h5>
      }
      <div>
        <label for="firstName">First Name</label>
        <mat-form-field appearance="outline">
          <input id="firstName" matInput placeholder="Enter First Name" formControlName="firstName" />
        </mat-form-field>
        @if (firstName.invalid && (firstName.dirty || firstName.touched)) {
          <div class="field-error">
            <mat-icon>warning</mat-icon>
            @if (firstName.errors?.['required']) {
              <div>This field is required</div>
            }
          </div>
        }
      </div>
      <div>
        <label for="lastName">Last Name</label>
        <mat-form-field appearance="outline">
          <input id="lastName" matInput placeholder="Enter Last Name" formControlName="lastName" />
        </mat-form-field>
        @if (lastName.invalid && (lastName.dirty || lastName.touched)) {
          <div class="field-error">
            <mat-icon>warning</mat-icon>
            @if (lastName.errors?.['required']) {
              <div>This field is required</div>
            }
          </div>
        }
      </div>
      <div>
        <label for="phoneNumber">Phone Number</label>
        <mat-form-field appearance="outline">
          <input
            id="phoneNumber"
            mask="(000) 000-0000"
            matInput
            placeholder="(555) 555-5555"
            formControlName="phoneNumber"
            />
        </mat-form-field>
        @if (phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)) {
          <div class="field-error">
            <mat-icon>warning</mat-icon>
            @if (phoneNumber.errors?.['required']) {
              <div>This field is required</div>
            }
            @if (phoneNumber.errors?.['mask']) {
              <div>Invalid format</div>
            }
          </div>
        }
      </div>
      <div>
        <label for="email">Email</label>
        <mat-form-field appearance="outline">
          <input id="email" type="email" matInput placeholder="Enter Email" formControlName="email" />
        </mat-form-field>
        @if (email.invalid && (email.dirty || email.touched)) {
          <div class="field-error">
            <mat-icon>warning</mat-icon>
            @if (email.errors?.['required']) {
              <div>This field is required</div>
            }
            @if (email.errors?.['email']) {
              <div>Invalid format</div>
            }
          </div>
        }
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="actions" align="end">
  <button mat-stroked-button color="primary" (click)="onClose()">Cancel</button>
  @if (!isEdit) {
    <button mat-flat-button color="primary" [disabled]="form.invalid || isLoading" (click)="onCreate()">
      Add
    </button>
  }
  @if (isEdit) {
    <button mat-flat-button color="primary" [disabled]="form.invalid || isLoading" (click)="onSave()">
      Save
    </button>
  }
</div>
