<div class="step-description">
  <h2>Proposal</h2>
  <p>
    Considerations are subject to
    <a> Section 6 of the ALC Act. </a>
  </p>
  <p>All fields are required unless stated optional.</p>
</div>
<app-warning-banner>
  In order to complete this step, please consult the following pages on the ALC website:
  <ul>
    <li>
      <a
        href="https://www.alc.gov.bc.ca/application-and-notice-process/applications/what-the-commission-considers/"
        target="_blank"
      >
        What the Commission Considers
      </a>
    </li>
    <li>
      <a href="TODO" target="_blank">FIXME: Subdivision</a>
    </li>
  </ul>
</app-warning-banner>
<form [formGroup]="form">
  <div class="form-row">
    <div class="full-row">
      <label for="purpose">What is the purpose of the proposal?</label>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="purpose"
          #purposeText
          maxlength="4000"
          id="purpose"
          matInput
          class="comment-input"
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <span class="subtext">Characters left: {{ 4000 - purposeText.textLength }}</span>
      <div *ngIf="purpose.invalid && (purpose.dirty || purpose.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="purpose.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label for="suitability"> Why do you believe this parcel is suitable for subdivision? </label>
      <div class="subtext">
        Please justify why you believe this parcel is suitable for subdivision, and why you have chosen the proposed lot
        configuration.
      </div>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="suitability"
          #suitabilityText
          maxlength="4000"
          id="suitability"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <span class="subtext">Characters left: {{ 4000 - suitabilityText.textLength }}</span>
      <div *ngIf="suitability.invalid && (suitability.dirty || suitability.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="suitability.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label for="agricultural-support"
        >Does the proposal support agriculture in the short or long term? Please explain.</label
      >
      <mat-form-field appearance="outline">
        <textarea
          [formControl]="agriculturalSupport"
          #agriculturalSupportText
          maxlength="4000"
          id="agricultural-support"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <span class="subtext">Characters left: {{ 4000 - agriculturalSupportText.textLength }}</span>
      <div
        *ngIf="agriculturalSupport.invalid && (agriculturalSupport.dirty || agriculturalSupport.touched)"
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="agriculturalSupport.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label class="subheading2" for="proposal-map">Proposal Map / Site Plan</label>
      <div class="subtext">A visual representation of your proposal.</div>
      <app-file-drag-drop
        id="proposal-map"
        [uploadedFiles]="proposalMap"
        (uploadFiles)="attachFile($event, DOCUMENT.PROPOSAL_MAP)"
        (deleteFile)="deleteFile($event)"
        (openFile)="openFile($event)"
        [showErrors]="showErrors"
        [isRequired]="true"
      ></app-file-drag-drop>
    </div>
    <div class="full-row">
      <label class="subheading2" for="home-site-severance"
        >Are you applying for subdivision pursuant to the ALC Homesite Severance Policy?
      </label>
      <div class="subtext">
        If yes, you are required to submit proof of property ownership prior to December 21, 1972 and proof of continued
        occupancy since December 21, 1972
      </div>
      <app-info-banner
        >Please refer to the <a class="subtext">FIXME: Subdivision</a> page on the ALC website for more information
      </app-info-banner>
      <mat-button-toggle-group id="home-site-severance" formControlName="isHomeSiteSeverance">
        <mat-button-toggle
          class="toggle-button"
          [ngClass]="{
            'error-outline': isHomeSiteSeverance.invalid && (isHomeSiteSeverance.dirty || isHomeSiteSeverance.touched)
          }"
          value="true"
          >Yes
        </mat-button-toggle>
        <mat-button-toggle
          class="toggle-button"
          [ngClass]="{
            'error-outline': isHomeSiteSeverance.invalid && (isHomeSiteSeverance.dirty || isHomeSiteSeverance.touched)
          }"
          value="false"
          >No
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="full-row">
      <label class="subheading2" for="ownership">Proof of Homesite Severance Qualification</label>
      <div class="subtext">
        Please submit proof of property ownership prior to December 21, 1972 <strong>and</strong> proof of continued
        occupancy since December 21, 1972.
      </div>
      <app-file-drag-drop
        id="ownership"
        [uploadedFiles]="homesiteSeverance"
        (uploadFiles)="attachFile($event, DOCUMENT.HOMESITE_SEVERANCE)"
        (deleteFile)="deleteFile($event)"
        (openFile)="openFile($event)"
        [showErrors]="showErrors"
        [isRequired]="true"
        [allowMultiple]="true"
        [disabled]="isHomeSiteSeverance.getRawValue() === 'false'"
      ></app-file-drag-drop>
    </div>
  </div>
</form>
<div class="button-container">
  <button (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
  <div>
    <button mat-stroked-button color="primary" (click)="onNavigateToStep(currentStep - 1)">
      Previous<span class="mobile-hidden"> Step</span>
    </button>
    <button mat-flat-button color="primary" (click)="onNavigateToStep(currentStep + 1)">
      Next<span class="mobile-hidden"> Step</span>
    </button>
  </div>
</div>
