@if (application && submission) {
  <div>
    @if (submission.returnedComment) {
      <div class="comment-container">
        <div><strong>Comment for Applicant</strong></div>
        {{ submission.returnedComment }}
      </div>
    }
    <app-application-details
      [submission]="submission"
      [fileNumber]="fileNumber"
      [applicationType]="application.type.code"
      [isSubmittedToAlc]="isSubmittedToAlc"
      [wasSubmittedToLfng]="wasSubmittedToLfng"
      [showEdit]="true"
    ></app-application-details>
  </div>
}
<div class="center">
  @if (!application || !submission) {
    <mat-spinner></mat-spinner>
  }
</div>
