<div *ngIf="_applicationSubmission" class="review-table">
  <div class="subheading2 full-width">
    Proposed Lot Areas
    <app-updated-banner *ngIf="updatedFields.includes('subdProposedLots')"></app-updated-banner>
  </div>
  <div class="full-width parcel-table">
    <div class="grid-1 subheading2">#</div>
    <div class="grid-2 subheading2">Type</div>
    <div class="grid-3 subheading2">Size</div>
    <ng-container *ngFor="let lot of _applicationSubmission.subdProposedLots; let i = index">
      <div class="grid-1">
        {{ i + 1 }}
      </div>
      <div class="grid-2">
        {{ lot.type }}
        <app-no-data [showRequired]="showErrors" *ngIf="!lot.type"></app-no-data>
      </div>
      <div class="grid-3">
        {{ lot.size }}
        <app-no-data [showRequired]="showErrors" *ngIf="!lot.size"></app-no-data>
      </div>
    </ng-container>
    <div *ngIf="_applicationSubmission.subdProposedLots.length === 0" class="full-width">
      <app-no-data [showRequired]="showErrors"></app-no-data>
    </div>
    <div *ngIf="showErrors && totalAcres !== totalTargetAcres" class="full-width field-error">
      <mat-icon>warning</mat-icon>
      <div>The total lot area proposed must match {{ totalTargetAcres }} hectares as provided in Step 1</div>
    </div>
  </div>
  <div class="subheading2 grid-1">
    What is the purpose of the proposal?
    <app-updated-banner *ngIf="updatedFields.includes('purpose')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.purpose }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.purpose"></app-no-data>
  </div>
  <div class="subheading2 grid-1">
    Why do you believe this parcel is suitable for subdivision?
    <app-updated-banner *ngIf="updatedFields.includes('subdSuitability')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.subdSuitability }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.subdSuitability"></app-no-data>
  </div>
  <div class="subheading2 grid-1">
    Does the proposal support agriculture in the short or long term?
    <app-updated-banner *ngIf="updatedFields.includes('subdAgricultureSupport')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.subdAgricultureSupport }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.subdAgricultureSupport"></app-no-data>
  </div>
  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <a *ngFor="let map of proposalMap" (click)="openFile(map.uuid)">
      {{ map.fileName }}
    </a>
    <app-no-data [showRequired]="showErrors" *ngIf="proposalMap.length === 0"></app-no-data>
  </div>
  <div class="subheading2 grid-1">
    Are you applying for subdivision pursuant to the ALC Homesite Severance Policy?
    <app-updated-banner *ngIf="updatedFields.includes('subdIsHomeSiteSeverance')"></app-updated-banner>
  </div>
  <div class="grid-double">
    <span *ngIf="_applicationSubmission.subdIsHomeSiteSeverance !== null">
      {{ _applicationSubmission.subdIsHomeSiteSeverance ? 'Yes' : 'No' }}
    </span>
    <app-no-data
      [showRequired]="showErrors"
      *ngIf="_applicationSubmission.subdIsHomeSiteSeverance === null"
    ></app-no-data>
  </div>
  <div class="subheading2 grid-1">Proof of Homesite Severance Qualification</div>
  <div class="grid-double">
    <div *ngFor="let file of homesiteDocuments">
      <a (click)="openFile(file.uuid)">
        {{ file.fileName }}
      </a>
    </div>
    <app-no-data
      [showRequired]="showErrors && !!_applicationSubmission.subdIsHomeSiteSeverance"
      *ngIf="homesiteDocuments.length === 0"
    ></app-no-data>
  </div>
  <div *ngIf="showEdit" class="edit-button">
    <button mat-flat-button (click)="onEditSection(5)" color="accent">Edit Section</button>
  </div>
</div>
