<h3 class="flex-item">Notice of Intent Parcels</h3>

<div class="review-table">
  <ng-container *ngFor="let parcel of parcels; let parcelInd = index">
    <div class="full-width flex-space-between-wrap">
      <h4 [id]="parcel.uuid">Parcel #{{ parcelInd + 1 }}: Parcel and Owner Information</h4>
    </div>
    <div class="subheading2 grid-1">Ownership Type</div>
    <div class="grid-double">
      {{ parcel.ownershipType?.label }}
      <app-no-data *ngIf="!parcel.ownershipType?.label"></app-no-data>
    </div>
    <div class="subheading2 grid-1">Legal Description</div>
    <div class="grid-double">
      {{ parcel.legalDescription }}
      <app-no-data *ngIf="!parcel.legalDescription"></app-no-data>
    </div>
    <div class="subheading2 grid-1">Area (Hectares)</div>
    <div class="grid-double">
      {{ parcel.mapAreaHectares }}
      <app-no-data *ngIf="!parcel.mapAreaHectares"></app-no-data>
    </div>
    <div class="subheading2 grid-1">
      PID {{ parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.CROWN ? '(optional)' : '' }}
    </div>
    <div class="grid-double">
      <span *ngIf="parcel.pid">{{ parcel.pid | mask : '000-000-000' }}</span>
      <app-no-data *ngIf="!parcel.pid"></app-no-data>
    </div>
    <ng-container *ngIf="parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.CROWN">
      <div class="subheading2 grid-1">PIN (optional)</div>
      <div class="grid-double">
        {{ parcel.pin }}
      </div>
    </ng-container>
    <ng-container *ngIf="parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.FEE_SIMPLE">
      <div class="subheading2 grid-1">Purchase Date</div>
      <div class="grid-double">
        {{ parcel.purchasedDate | date }}
        <app-no-data *ngIf="!parcel.purchasedDate"></app-no-data>
      </div>
    </ng-container>
    <div class="subheading2 grid-1">Farm Classification</div>
    <div class="grid-double">
      <span *ngIf="parcel.isFarm !== null">{{ parcel.isFarm ? 'Yes' : 'No' }}</span>
      <app-no-data *ngIf="parcel.isFarm === null"></app-no-data>
    </div>
    <div class="subheading2 grid-1">Civic Address</div>
    <div class="grid-double">
      {{ parcel.civicAddress }}
      <app-no-data *ngIf="!parcel.civicAddress"></app-no-data>
    </div>
    <ng-container *ngIf="parcel.crownLandOwnerType">
      <div class="subheading2 grid-1">Crown Selection</div>
      <div class="grid-double">
        <span class="crown-land">{{ parcel.crownLandOwnerType }}</span>
        <app-no-data *ngIf="!parcel.crownLandOwnerType"></app-no-data>
      </div>
    </ng-container>
    <div *ngIf="showCertificateOfTitle" class="subheading2 grid-1">Certificate Of Title</div>
    <div *ngIf="showCertificateOfTitle" class="grid-double">
      <div *ngIf="parcel.certificateOfTitle">
        <a (click)="onOpenFile(parcel.certificateOfTitle.documentUuid)">{{ parcel.certificateOfTitle.fileName }}</a>
      </div>
    </div>

    <div
      class="full-width owner-information"
      [ngClass]="{ 'crown-owner-information': parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.CROWN }"
    >
      <div class="subheading2" *ngIf="parcel.ownershipTypeCode !== PARCEL_OWNERSHIP_TYPES.CROWN">Land Owner(s)</div>
      <div class="subheading2" *ngIf="parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.CROWN">Crown Contact(s)</div>
      <div class="subheading2" *ngIf="parcel.ownershipTypeCode !== PARCEL_OWNERSHIP_TYPES.CROWN">Organization</div>
      <div class="subheading2" *ngIf="parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.CROWN">
        Ministry/Department
      </div>
      <div class="subheading2">Phone</div>
      <div class="subheading2">Email</div>
      <div class="subheading2">Corporate Summary</div>
      <ng-container *ngFor="let owner of parcel.owners">
        <div>{{ owner.displayName }}</div>
        <div>
          {{ owner.organizationName }}
          <app-no-data *ngIf="!owner.organizationName"></app-no-data>
        </div>
        <div>{{ owner.phoneNumber }}</div>
        <div>{{ owner.email }}</div>
        <div>
          <a *ngIf="owner.corporateSummary" (click)="onOpenFile(owner.corporateSummary.uuid)">{{
            owner.corporateSummary.fileName
          }}</a>
          <app-no-data *ngIf="!owner.corporateSummary"></app-no-data>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
