<div class="step-description">
  <h2>Proposal</h2>
  <p>
    Considerations are subject to
    <a> Section 6 of the ALC Act. </a>
  </p>
  <p>*All fields are required unless stated optional or disabled.</p>
  <div class="step-documents">
    <h6>Documents needed for this step:</h6>
    <ul>
      <li>Proposal Map / Site Plan</li>
      <li>Proof of Homesite Severance Qualification</li>
    </ul>
  </div>
</div>
<app-warning-banner>
  In order to complete this step, please consult the following pages on the ALC website:
  <ul>
    <li>
      <a
        href="https://www.alc.gov.bc.ca/application-and-notice-process/applications/what-the-commission-considers/"
        target="_blank"
      >
        What the Commission Considers
      </a>
    </li>
    <li>
      <a href="TODO" target="_blank">FIXME: Subdivision</a>
    </li>
  </ul>
</app-warning-banner>
<form [formGroup]="form">
  <div class="form-row">
    <div class="full-row">
      <span class="subheading2">Total area of the parcels added on Step 1: {{ totalTargetAcres }} (ha)</span>
      <div class="subtext">Total area of the parcels must equal total area of the proposed lots</div>
    </div>
    <div class="full-row">
      <label for="lotsProposed">Total number of lots proposed</label>
      <div class="subtext">You must include any road dedications as additional lot(s) in the field below</div>
      <mat-form-field appearance="outline">
        <input
          formControlName="lotsProposed"
          id="lotsProposed"
          mask="0*"
          maxlength="3"
          matInput
          placeholder="Type number of lots"
          (change)="onChangeLotCount($event)"
        />
        <span *ngIf="lotsProposed.value" matTextSuffix>lots</span>
      </mat-form-field>
      <div *ngIf="purpose.invalid && (purpose.dirty || purpose.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="purpose.errors?.['required']">This field is required</div>
      </div>
      <mat-hint class="subtext">
        Example: If the proposal is to subdivide a 5 ha lot with road dedication from a 20 ha parcel, the total number
        of lots proposed is three.
      </mat-hint>
    </div>
    <div class="full-row">
      <form [formGroup]="lotsForm">
        <mat-label>Enter your proposed lot areas (ha)</mat-label>
        <table class="proposed-lots" mat-table [dataSource]="lotsSource">
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element; let i = index">
              <mat-form-field appearance="outline">
                <mat-select
                  placeholder="Please select"
                  required
                  [formControlName]="i + '-type'"
                  (valueChange)="onChangeLotType(i, $event)"
                >
                  <mat-option value="Lot"> Lot </mat-option>
                  <mat-option value="Road Dedication"> Road Dedication </mat-option>
                </mat-select>
              </mat-form-field>
              <div
                *ngIf="
                  lotsForm.controls[i + '-type']!.invalid &&
                  (lotsForm.controls[i + '-type']!.dirty || lotsForm.controls[i + '-type']!.touched)
                "
                class="field-error"
              >
                <mat-icon>warning</mat-icon>
                <div *ngIf="lotsForm.controls[i + '-type']!.errors?.['required']">This field is required</div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef>Size</th>
            <td mat-cell *matCellDef="let element; let i = index">
              <mat-form-field appearance="outline">
                <input
                  type="text"
                  matInput
                  thousandSeparator=","
                  mask="separator.5"
                  separatorLimit="9999999999"
                  min="0.01"
                  required
                  placeholder="Type size in hectares"
                  [formControlName]="i + '-size'"
                  (change)="onChangeLotSize(i, $event)"
                  aria-label="Size in hectares"
                />
                <span *ngIf="element.size" matTextSuffix>ha</span>
              </mat-form-field>
              <div
                *ngIf="
                  lotsForm.controls[i + '-size']!.invalid &&
                  (lotsForm.controls[i + '-size']!.dirty || lotsForm.controls[i + '-size']!.touched)
                "
                class="field-error"
              >
                <mat-icon>warning</mat-icon>
                <div *ngIf="lotsForm.controls[i + '-size']!.errors?.['required']">This field is required</div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <tr class="mat-row no-data" *matNoDataRow>
            <td class="text-center" colspan="7">No Proposed Lots Entered</td>
          </tr>
        </table>
        <div>Total area of the proposed lots: {{ totalAcres }} ha</div>
        <div *ngIf="totalAcres !== '0' && totalAcres !== totalTargetAcres" class="field-error">
          <mat-icon>warning</mat-icon>
          <div>The total lot area proposed must match {{ totalTargetAcres }} hectares as provided in Step 1</div>
        </div>
      </form>
    </div>
    <div class="full-row">
      <label for="purpose">What is the purpose of the proposal?</label>
      <div class="subtext">
        Include why you are applying for a subdivision, what the proposal will achieve, and any benefits to agriculture
        that the proposal provides.
      </div>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="purpose"
          #purposeText
          maxlength="4000"
          id="purpose"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <div *ngIf="purpose.invalid && (purpose.dirty || purpose.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="purpose.errors?.['required']">This field is required</div>
      </div>
      <div class="subtext">Characters left: {{ 4000 - purposeText.textLength }}</div>
    </div>
    <div class="full-row">
      <label for="suitability"> Why do you believe this parcel is suitable for subdivision? </label>
      <div class="subtext">
        Please justify why you believe this parcel is suitable for subdivision, and why you have chosen the proposed lot
        configuration.
      </div>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="suitability"
          #suitabilityText
          maxlength="4000"
          id="suitability"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <div *ngIf="suitability.invalid && (suitability.dirty || suitability.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="suitability.errors?.['required']">This field is required</div>
      </div>
      <div class="subtext">Characters left: {{ 4000 - suitabilityText.textLength }}</div>
    </div>
    <div class="full-row">
      <label for="agricultural-support">Does the proposal support agriculture in the short or long term?</label>
      <div class="subtext">Please explain</div>
      <mat-form-field appearance="outline">
        <textarea
          [formControl]="agriculturalSupport"
          #agriculturalSupportText
          maxlength="4000"
          id="agricultural-support"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <div
        *ngIf="agriculturalSupport.invalid && (agriculturalSupport.dirty || agriculturalSupport.touched)"
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="agriculturalSupport.errors?.['required']">This field is required</div>
      </div>
      <div class="subtext">Characters left: {{ 4000 - agriculturalSupportText.textLength }}</div>
    </div>
    <div class="full-row">
      <mat-label class="subheading2" for="proposal-map">Proposal Map / Site Plan</mat-label>
      <div class="subtext">A visual representation of your proposal.</div>
      <app-file-drag-drop
        id="proposal-map"
        [uploadedFiles]="proposalMap"
        (uploadFiles)="attachProposalMap($event)"
        (deleteFile)="onDeleteFile($event)"
        (openFile)="openFile($event)"
        [showErrors]="showErrors"
        [isRequired]="true"
        [showVirusError]="showProposalMapVirus"
      ></app-file-drag-drop>
    </div>
    <div class="full-row">
      <mat-label class="subheading2" for="home-site-severance"
        >Are you applying for subdivision pursuant to the ALC Homesite Severance Policy?
      </mat-label>
      <div class="subtext">
        If yes, you are required to submit proof of property ownership prior to December 21, 1972 and proof of continued
        occupancy since December 21, 1972
      </div>
      <app-info-banner
        >Please refer to the <a class="subtext">FIXME: Subdivision</a> page on the ALC website for more information
      </app-info-banner>
      <mat-button-toggle-group id="home-site-severance" formControlName="isHomeSiteSeverance" class="input">
        <mat-button-toggle
          class="toggle-button"
          [ngClass]="{
            'error-outline': isHomeSiteSeverance.invalid && (isHomeSiteSeverance.dirty || isHomeSiteSeverance.touched)
          }"
          value="true"
          >Yes
        </mat-button-toggle>
        <mat-button-toggle
          class="toggle-button"
          [ngClass]="{
            'error-outline': isHomeSiteSeverance.invalid && (isHomeSiteSeverance.dirty || isHomeSiteSeverance.touched)
          }"
          value="false"
          >No
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="full-row">
      <mat-label class="subheading2" for="ownership">Proof of Homesite Severance Qualification</mat-label>
      <div class="subtext">
        Please submit proof of property ownership prior to December 21, 1972 <strong>and</strong> proof of continued
        occupancy since December 21, 1972.
      </div>
      <app-file-drag-drop
        id="ownership"
        [uploadedFiles]="homesiteSeverance"
        (uploadFiles)="attachHomesiteSeverance($event)"
        (deleteFile)="onDeleteFile($event)"
        (openFile)="openFile($event)"
        [showErrors]="showErrors"
        [isRequired]="isHomeSiteSeverance.getRawValue() !== 'false'"
        [allowMultiple]="true"
        [disabled]="isHomeSiteSeverance.getRawValue() === 'false'"
        [showVirusError]="showHomesiteSeveranceVirus"
      ></app-file-drag-drop>
    </div>
  </div>
</form>
<div class="button-container">
  <button *ngIf="!draftMode" (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
  <button *ngIf="draftMode" (click)="onSaveExit()" mat-stroked-button color="accent">Discard all Changes</button>
  <div>
    <button mat-stroked-button color="primary" (click)="onNavigateToStep(currentStep - 1)">
      Previous<span class="mobile-hidden"> Step</span>
    </button>
    <button mat-flat-button color="primary" (click)="onNavigateToStep(currentStep + 1)">
      Next<span class="mobile-hidden"> Step</span>
    </button>
  </div>
</div>
