@use '../../../styles/colors.scss';

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;

  color: colors.$black;

  height: 100%;
  margin-top: 24px;
}

.reason-flagged {
  margin-top: 5px;
}

.follow-up-at {
  align-self: flex-start;
}

.button-container {
  margin: 16px;
}
