@use '../../../../styles/colors';

.editable {
  display: inline-block;
  cursor: pointer;
  border: 2px solid colors.$primary-color-dark;
  padding: 8px;
  border-radius: 2px;
  font-size: 16px;
  width: 100%;
  min-height: 96px;
  margin-left: -8px;
  margin-right: -8px;
}

.content {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 2px;
  font-size: 16px;
  border: 2px solid transparent;
  margin-left: -8px;
  margin-right: -8px;
  min-height: 28px;
}

.text {
  padding: 8px;
}

.content:hover {
  border: 2px solid colors.$grey;
  border-radius: 4px;
  cursor: pointer;

  .edit-button {
    color: colors.$white;
    background-color: colors.$grey;
  }

  mat-icon {
    display: inline-block;
  }
}

.edit-button {
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    display: none;
  }
}

.editing.hidden {
  display: none;
}

.placeholder {
  font-style: italic;
  color: colors.$grey;
}

.editable:hover {
  border: 2px solid colors.$primary-color;
}

.save {
  color: colors.$primary-color;
}
