<div class="flex-container">
  <div class="col-40">
    <h4>Site Visit Dates</h4>
  </div>
  <div class="pull-right">
    <button mat-flat-button color="primary" class="pull-right" (click)="onCreate({ code: 'SV', label: 'Site Visit' })">
      + New visit
    </button>
  </div>
</div>

<table mat-table [dataSource]="siteVisits" class="mat-elevation-z8 width-100 section">
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef>Start Date</th>
    <td mat-cell *matCellDef="let element">{{ element.startDate | momentFormat }}</td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef>End Date</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.endDate">{{ element.endDate | momentFormat }}</ng-container>
      <ng-container *ngIf="!element.endDate">
        <app-inline-datepicker
          [selectedValue]="undefined"
          [min]="element.startDate"
          (save)="onSaveSiteVisitEndDate(element.uuid, $event)"
        ></app-inline-datepicker>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>User Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button class="action-btn" (click)="onEdit(element.uuid)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="action-btn delete" (click)="onDelete(element.uuid)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="text-center" colspan="3">No data</td>
  </tr>
</table>

<div class="flex-container section">
  <div class="col-40">
    <h4>Applicant Meeting Dates</h4>
  </div>
  <div class="pull-right">
    <button
      mat-flat-button
      color="primary"
      class="pull-right"
      (click)="onCreate({ code: 'AM', label: 'Applicant Meeting' })"
    >
      + New meeting
    </button>
  </div>
</div>

<table mat-table [dataSource]="applicantMeetings" class="mat-elevation-z8 width-100 section">
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef>Start Date</th>
    <td mat-cell *matCellDef="let element">{{ element.startDate | momentFormat }}</td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef>End Date</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.endDate">{{ element.endDate | momentFormat }}</ng-container>
      <ng-container *ngIf="!element.endDate">
        <app-inline-datepicker
          [selectedValue]="undefined"
          [min]="element.startDate"
          (save)="onSaveAppMeetingEndDate(element.uuid, $event)"
        ></app-inline-datepicker>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>User Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button class="action-btn" (click)="onEdit(element.uuid)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="action-btn delete" (click)="onDelete(element.uuid)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="text-center" colspan="3">No data</td>
  </tr>
</table>
