<div class="flex-container">
  <div class="col-40">
    <h4>Site Visits</h4>
  </div>
  <div class="pull-right">
    <button mat-flat-button color="primary" class="pull-right" (click)="onCreate({ code: 'SV', label: 'Site Visit' })">
      + New visit
    </button>
  </div>
</div>

<table mat-table [dataSource]="siteVisits" class="mat-elevation-z8 width-100 section">
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let i = index">{{ siteVisits.length - i }}</td>
  </ng-container>

  <ng-container matColumnDef="meetingStartDate">
    <th mat-header-cell *matHeaderCellDef>Visit Requested</th>
    <td mat-cell *matCellDef="let element">{{ element.meetingStartDate | momentFormat }}</td>
  </ng-container>

  <ng-container matColumnDef="meetingEndDate">
    <th mat-header-cell *matHeaderCellDef>Visit Conducted</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.meetingEndDate">{{ element.meetingEndDate | momentFormat }}</ng-container>
      <ng-container *ngIf="!element.meetingEndDate">
        <app-inline-datepicker
          [selectedValue]="undefined"
          [min]="element.meetingStartDate | lessOneDay"
          (save)="onSaveMeetingEndDate(element.uuid, $event)"
        ></app-inline-datepicker>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="reportStartDate">
    <th mat-header-cell *matHeaderCellDef>Report Sent</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.reportStartDate">{{ element.reportStartDate | momentFormat }}</ng-container>
      <ng-container *ngIf="!element.reportStartDate && element.meetingEndDate">
        <app-inline-datepicker
          [selectedValue]="undefined"
          [min]="element.meetingEndDate | lessOneDay"
          (save)="onSaveReportStartDate(element.uuid, $event)"
        ></app-inline-datepicker>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="reportEndDate">
    <th mat-header-cell *matHeaderCellDef>Report Approved</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.reportEndDate">{{ element.reportEndDate | momentFormat }}</ng-container>
      <ng-container *ngIf="!element.reportEndDate && element.reportStartDate">
        <app-inline-datepicker
          [selectedValue]="undefined"
          [min]="element.reportStartDate | lessOneDay"
          (save)="onSaveReportEndDate(element.uuid, $event)"
        ></app-inline-datepicker>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>User Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button class="action-btn" (click)="onEdit(element.uuid)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="action-btn delete" (click)="onDelete(element.uuid)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="text-center" colspan="5">No data</td>
  </tr>
</table>

<div class="flex-container section">
  <div class="col-40">
    <h4>Applicant Meeting Dates</h4>
  </div>
  <div class="pull-right">
    <button
      mat-flat-button
      color="primary"
      class="pull-right"
      (click)="onCreate({ code: 'AM', label: 'Applicant Meeting' })"
    >
      + New meeting
    </button>
  </div>
</div>

<table mat-table [dataSource]="applicantMeetings" class="mat-elevation-z8 width-100 section">
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>Index</th>
    <td mat-cell *matCellDef="let i = index">{{ applicantMeetings.length - i }}</td>
  </ng-container>

  <ng-container matColumnDef="meetingStartDate">
    <th mat-header-cell *matHeaderCellDef>Meeting Requested</th>
    <td mat-cell *matCellDef="let element">{{ element.meetingStartDate | momentFormat }}</td>
  </ng-container>

  <ng-container matColumnDef="meetingEndDate">
    <th mat-header-cell *matHeaderCellDef>Meeting Conducted</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.meetingEndDate">{{ element.meetingEndDate | momentFormat }}</ng-container>
      <ng-container *ngIf="!element.meetingEndDate">
        <app-inline-datepicker
          [selectedValue]="undefined"
          [min]="element.meetingStartDate | lessOneDay"
          (save)="onSaveMeetingEndDate(element.uuid, $event)"
        ></app-inline-datepicker>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="reportStartDate">
    <th mat-header-cell *matHeaderCellDef>Report Sent</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.reportStartDate">{{ element.reportStartDate | momentFormat }}</ng-container>
      <ng-container *ngIf="!element.reportStartDate && element.meetingEndDate">
        <app-inline-datepicker
          [selectedValue]="undefined"
          [min]="element.meetingEndDate | lessOneDay"
          (save)="onSaveReportStartDate(element.uuid, $event)"
        ></app-inline-datepicker>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="reportEndDate">
    <th mat-header-cell *matHeaderCellDef>Report Approved</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.reportEndDate">{{ element.reportEndDate | momentFormat }}</ng-container>
      <ng-container *ngIf="!element.reportEndDate && element.reportStartDate">
        <app-inline-datepicker
          [selectedValue]="undefined"
          [min]="element.reportStartDate | lessOneDay"
          (save)="onSaveReportEndDate(element.uuid, $event)"
        ></app-inline-datepicker>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>User Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button class="action-btn" (click)="onEdit(element.uuid)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="action-btn delete" (click)="onDelete(element.uuid)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="text-center" colspan="5">No data</td>
  </tr>
</table>
