<div>
  <div class="subheading2">Non-Farm Use Type</div>
  <app-inline-dropdown
    [value]="application?.nfuUseType"
    [options]="nfuTypes"
    (save)="updateApplicationValue('nfuUseType', $event)"
  ></app-inline-dropdown>
</div>
<div class="nfu-subtype-wrapper">
  <div class="subheading2">Non-Farm Use Sub-Type</div>
  <app-inline-ng-select
    [value]="application?.nfuUseSubType"
    [options]="nfuSubTypes"
    (save)="updateApplicationValue('nfuUseSubType', $event)"
  ></app-inline-ng-select>
</div>
<div>
  <div class="subheading2">Use End Date</div>
  <app-inline-datepicker
    [value]="application?.proposalEndDate"
    (save)="updateApplicationValue('proposalEndDate', $event)"
  ></app-inline-datepicker>
</div>
