@use '../../../styles/functions' as *;
@use '../../../styles/colors';

.color-accent-dark {
  color: colors.$accent-color-dark;
}

ul {
  list-style-position: outside;

  li {
    position: relative;
    list-style-type: none;
  }

  li:before {
    content: 'arrow_right_alt';
    font-size: rem(24);
    font-family: 'Material Icons';
    position: absolute;
    left: rem(-36);
    color: colors.$accent-color;
  }
}

.inbox-btn-wrapper {
  margin-top: rem(40);
  margin-bottom: rem(40);
}
