<p class="color-accent-dark">Create and manage your Applications, Notice of Intent, and Notification of SRW.</p>

<ul>
    <li>
        Applications: Create an <a target="_blank"
            href="https://www.alc.gov.bc.ca/application-and-notice-process/applications/">Application</a> if you are
        proposing to exclude, include, subdivide, conduct a non-farm use activity, conduct a non-adhering residential
        use, conduct a transportation/utility/recreational trail use, or conduct a soil or fill use. Non-adhering
        residential use applications have a fee of $750. All other applications have a fee of $1,500 fee, except for
        inclusion of land (no fee). Application fees are split equally between the
        local government and the ALC.
    </li>
    <li>
        NOI: Create a <a target="_blank"
            href="https://www.alc.gov.bc.ca/application-and-notice-process/soil-and-fill-notice-of-intent/">Notice of
            Intent</a> if you are proposing to remove soil and/or place fill that does not qualify for exemption under
        Section 35 of the <i>Agricultural Land Reserve Use Regulation</i>. All notices are subject to a $150 fee.
    </li>
    <li>
        Notification of SRW: <a target="_blank"
            href="https://www.alc.gov.bc.ca/application-and-notice-process/statutory-right-of-way-notice/">Create a
            Notification of Statutory Right of Way (SRW)</a> if you are notifying the ALC that you are planning to
        register a SRW under section 218 of the <i>Land Title Act</i> in accordance with section 18.1 (2) of the
        <i>Agricultural
            Land Commission Act</i>.
    </li>
</ul>

<div *ngIf="isControlsVisible" class="center inbox-btn-wrapper">
    <button routerLink='/home' mat-flat-button color="primary">Continue to inbox</button>
</div>