<div *ngIf="_noiSubmission" class="review-table">
  <div class="subheading2 grid-1">
    Has the ALC previously received an application or Notice of Intent for this proposal?
  </div>
  <div class="grid-double">
    {{ _noiSubmission.soilIsFollowUp ? 'Yes' : 'No' }}
  </div>
  <div *ngIf="_noiSubmission.soilFollowUpIDs" class="subheading2 grid-1">Application or NOI ID</div>
  <div class="grid-double">
    {{ _noiSubmission.soilFollowUpIDs }}
  </div>
  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    <span>{{ _noiSubmission.purpose }}</span>
  </div>

  <div class="subheading2 grid-1">Project Duration</div>
  <div class="grid-double">
    <div *ngIf="_noiSubmission.soilProjectDurationAmount && _noiSubmission.soilProjectDurationUnit">
      {{ _noiSubmission.soilProjectDurationAmount }}
      <ng-container [ngPlural]="_noiSubmission.soilProjectDurationAmount">
        <ng-template ngPluralCase="=1">
          {{ _noiSubmission.soilProjectDurationUnit.slice(0, -1) | titlecase }}
        </ng-template>
        <ng-template ngPluralCase="other">
          {{ _noiSubmission.soilProjectDurationUnit | titlecase }}
        </ng-template>
      </ng-container>
    </div>
    <app-no-data
      *ngIf="!_noiSubmission.soilProjectDurationAmount || !_noiSubmission.soilProjectDurationUnit"
    ></app-no-data>
  </div>

  <div class="grid-1"></div>
  <div class="subheading2 grid-double">Fill to be Placed</div>

  <div class="subheading2 grid-1">Volume</div>
  <div class="grid-double">
    {{ _noiSubmission.soilToPlaceVolume }}
    <span *ngIf="_noiSubmission.soilToPlaceVolume">m<sup>3</sup></span>
  </div>
  <div class="subheading2 grid-1">Area</div>
  <div class="grid-double">
    {{ _noiSubmission.soilToPlaceArea }} <span *ngIf="_noiSubmission.soilToPlaceArea">m<sup>2</sup></span>
  </div>
  <div class="subheading2 grid-1">Maximum Depth</div>
  <div class="grid-double">
    {{ _noiSubmission.soilToPlaceMaximumDepth }}
    <span *ngIf="_noiSubmission.soilToPlaceMaximumDepth">m</span>
  </div>
  <div class="subheading2 grid-1">Average Depth</div>
  <div class="grid-double">
    {{ _noiSubmission.soilToPlaceAverageDepth }}
    <span *ngIf="_noiSubmission.soilToPlaceAverageDepth">m</span>
  </div>

  <div class="grid-1"></div>
  <div class="subheading2 grid-double">Fill already Placed</div>

  <div class="subheading2 grid-1">Volume</div>
  <div class="grid-double">
    {{ _noiSubmission.soilAlreadyPlacedVolume }}
    <span *ngIf="_noiSubmission.soilAlreadyPlacedVolume">m<sup>3</sup></span>
  </div>
  <div class="subheading2 grid-1">Area</div>
  <div class="grid-double">
    {{ _noiSubmission.soilAlreadyPlacedArea }}
    <span *ngIf="_noiSubmission.soilAlreadyPlacedArea">m<sup>2</sup></span>
  </div>
  <div class="subheading2 grid-1">Maximum Depth</div>
  <div class="grid-double">
    {{ _noiSubmission.soilAlreadyPlacedMaximumDepth }}
    <span *ngIf="_noiSubmission.soilAlreadyPlacedMaximumDepth">m</span>
  </div>
  <div class="subheading2 grid-1">Average Depth</div>
  <div class="grid-double">
    {{ _noiSubmission.soilAlreadyPlacedAverageDepth }}
    <span *ngIf="_noiSubmission.soilAlreadyPlacedAverageDepth">m</span>
  </div>

  <div class="subheading2 grid-1">Describe the type, origin and quality of fill proposed to be placed.</div>
  <div class="grid-double">
    <span>{{ _noiSubmission.soilFillTypeToPlace }}</span>
  </div>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double multiple-documents">
    <a *ngFor="let file of proposalMap" (click)="openFile(file)">
      {{ file.fileName }}
    </a>
  </div>
  <div class="subheading2 grid-1">Cross Sections</div>
  <div class="grid-double multiple-documents">
    <a *ngFor="let file of crossSections" (click)="openFile(file)">
      {{ file.fileName }}
    </a>
  </div>
  <div class="subheading2 grid-1">Reclamation Plan</div>
  <div class="grid-double multiple-documents">
    <a *ngFor="let file of reclamationPlans" (click)="openFile(file)">
      {{ file.fileName }}
    </a>
  </div>
</div>
