<div *ngIf="_noiSubmission" class="review-table">
  <div class="subheading2 grid-1">
    Has the ALC previously received an application or Notice of Intent for this proposal?
  </div>
  <div class="grid-double">
    {{ _noiSubmission.soilIsFollowUp ? 'Yes' : 'No' }}
  </div>
  <div *ngIf="_noiSubmission.soilFollowUpIDs" class="subheading2 grid-1">Application or NOI ID</div>
  <div class="grid-double">
    {{ _noiSubmission.soilFollowUpIDs }}
  </div>
  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    <span>{{ _noiSubmission.purpose }}</span>
  </div>

  <div class="subheading1 full-width">Fill to be Placed</div>
  <div class="full-width soil-table">
    <div class="grid-1"><strong>Volume</strong></div>
    <div class="grid-2">
      {{ _noiSubmission.soilToPlaceVolume }}
      <span *ngIf="_noiSubmission.soilToPlaceVolume">m<sup>3</sup></span>
    </div>
    <div class="grid-1"><strong>Area</strong></div>
    <div class="grid-2">
      {{ _noiSubmission.soilToPlaceArea }} <span *ngIf="_noiSubmission.soilToPlaceArea">ha</span>
    </div>
    <div class="grid-1"><strong>Maximum Depth</strong></div>
    <div class="grid-2">
      {{ _noiSubmission.soilToPlaceMaximumDepth }}
      <span *ngIf="_noiSubmission.soilToPlaceMaximumDepth">m</span>
    </div>
    <div class="grid-1"><strong>Average Depth</strong></div>
    <div class="grid-2">
      {{ _noiSubmission.soilToPlaceAverageDepth }}
      <span *ngIf="_noiSubmission.soilToPlaceAverageDepth">m</span>
    </div>
  </div>

  <div class="subheading1 full-width">Fill already Placed</div>
  <div class="full-width soil-table">
    <div class="grid-1"><strong>Volume</strong></div>
    <div class="grid-2">
      {{ _noiSubmission.soilAlreadyPlacedVolume }}
      <span *ngIf="_noiSubmission.soilAlreadyPlacedVolume">m<sup>3</sup></span>
    </div>
    <div class="grid-1"><strong>Area</strong></div>
    <div class="grid-2">
      {{ _noiSubmission.soilAlreadyPlacedArea }}
      <span *ngIf="_noiSubmission.soilAlreadyPlacedArea">ha</span>
    </div>
    <div class="grid-1"><strong>Maximum Depth</strong></div>
    <div class="grid-2">
      {{ _noiSubmission.soilAlreadyPlacedMaximumDepth }}
      <span *ngIf="_noiSubmission.soilAlreadyPlacedMaximumDepth">m</span>
    </div>
    <div class="grid-1"><strong>Average Depth</strong></div>
    <div class="grid-2">
      {{ _noiSubmission.soilAlreadyPlacedAverageDepth }}
      <span *ngIf="_noiSubmission.soilAlreadyPlacedAverageDepth">m</span>
    </div>
  </div>

  <div class="full-width">
    <span class="subheading1">Project Duration</span>
  </div>
  <div class="subheading2 grid-1">Duration</div>
  <div class="grid-double">
    {{ _noiSubmission.soilProjectDurationUnit }}
  </div>
  <div class="subheading2 grid-1">Length</div>
  <div class="grid-double">
    {{ _noiSubmission.soilProjectDurationAmount }}
  </div>

  <div class="subheading2 grid-1">Describe the type, origin and quality of fill proposed to be placed.</div>
  <div class="grid-double">
    <span>{{ _noiSubmission.soilFillTypeToPlace }}</span>
  </div>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <a *ngFor="let file of proposalMap" (click)="openFile(file)">
      {{ file.fileName }}
    </a>
  </div>
  <div class="subheading2 grid-1">Cross Sections</div>
  <div class="grid-double">
    <a *ngFor="let file of crossSections" (click)="openFile(file)">
      {{ file.fileName }}
    </a>
  </div>
  <div class="subheading2 grid-1">Reclamation Plan</div>
  <div class="grid-double">
    <a *ngFor="let file of reclamationPlans" (click)="openFile(file)">
      {{ file.fileName }}
    </a>
  </div>
</div>
