@use '../../../styles/functions' as *;
@use '../../../styles/colors';

footer {
  font-size: rem(16);
  background-color: colors.$secondary-color;
  color: colors.$white;

  .trademark {
    padding: rem(40) rem(24);
  }

  a {
    color: colors.$white;
    display: block;
    padding: rem(12) rem(12) rem(12) rem(24);
  }

  a:last-child {
    padding-bottom: rem(40);
  }

  @media screen and (min-width: $tabletBreakpoint) {
    padding-left: rem(47);

    div {
      display: inline-block;
    }
    .trademark {
      padding: rem(16) rem(80) rem(16) rem(32);
    }

    a,
    a:last-child {
      color: colors.$white;
      display: inline-block;
      padding: rem(12) rem(32);
    }
  }
}
