<footer>
  <div class="trademark">
    Provincial Agricultural Land Commission © {{ year }}
  </div>
  <div class="links">
    <a target="_blank" href="https://www2.gov.bc.ca/gov/content/home/disclaimer">Disclaimer</a>
    <a target="_blank" href="https://www2.gov.bc.ca/gov/content/home/privacy">Privacy</a>
    <a target="_blank" href="https://www2.gov.bc.ca/gov/content/home/accessibility">Accessibility</a>
    <a target="_blank" href="https://www2.gov.bc.ca/gov/content/home/copyright">Copyright</a>
  </div>
</footer>