@import '../../../styles/colors.scss';
@import '../../../styles/typography.scss';

footer {
  @extend .body-text;
  padding: 1.6rem 8rem;
  display: flex;
  background-color: $accent-color;
  color: $white;

  a {
    color: #fff;
  }
}

.links {
  display: flex;
  flex-grow: 1;
  margin-left: 6.4rem;

  a {
    margin-right: 2.4rem !important;
  }
}
