@use '../../../../../styles/functions' as *;

.parcel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(12);

  @media screen and (min-width: $tabletBreakpoint) {
    flex-wrap: wrap;
    column-gap: rem(12);
    row-gap: rem(12);
    margin-bottom: unset;
  }
}

.owner-information {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  overflow-x: auto;
  grid-column-gap: rem(36);
  grid-row-gap: rem(12);

  .full-width {
    grid-column: 1/3;
  }
}

.crown-owner-information {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.crown-land {
  text-transform: capitalize;
}
