<div mat-dialog-title>
  <h2 class="card-title">{{ currentCard.title }}</h2>
  <span>
    in <span class="italic card-status-label">{{ currentCard.statusDetails.label }}</span>
  </span>
  <span class="pull-right card-state">{{ paused ? 'Paused' : 'Active' }}</span>
</div>
<mat-dialog-content>
  <div>
    <mat-label>File number:</mat-label>
    <p class="card-file-number">{{ currentCard.fileNumber }}</p>
  </div>
  <div>
    <mat-label>Applicant:</mat-label>
    <p class="card-applicant">Dart Placeholder</p>
  </div>

  <div>
    <ng-select
      class="assignee"
      [items]="$users | async"
      placeholder="Assignee"
      bindLabel="name"
      bindValue="name"
      [(ngModel)]="selectedAssigneeName"
      [searchFn]="filterAssigneeList"
      (change)="onAssigneeSelected($event)"
    >
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <div class="card-body">
          <h5 [ngOptionHighlight]="search" class="assignee-card-name">{{ item.name }}</h5>
          <p class="assignee-card-email" [ngOptionHighlight]="search" class="assignee-card-email">{{ item.email }}</p>
        </div>
      </ng-template>
    </ng-select>
  </div>

  <div class="flex-container">
    <div class="flex-child">
      <mat-label>Active days:</mat-label>
      <p class="card-active-days">10 Placeholder</p>
    </div>
    <div class="flex-child">
      <mat-label>Paused days:</mat-label>
      <p class="card-paused-days">5 Placeholder</p>
    </div>
    <div class="flex-chil small">
      <mat-label></mat-label>
      <button class="card-state-btn pull-right" (click)="onToggle()">{{ paused ? 'Activate' : 'Pause' }}</button>
    </div>
  </div>
  <div>
    <mat-label>Details:</mat-label>
    <p class="card-details">{{ currentCard.body }}</p>
  </div>
  <div>
    <mat-divider></mat-divider>
  </div>
  <div class="card-comments-wrapper">
    <mat-label>Comments</mat-label>
    <p>Placeholder comments</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</mat-dialog-actions>
