div{
    margin: 10px;
}

.card-detailed-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.full-width {
    width: 100%;
  }

.pull-right {
  float: right;
}

.flex-container {
  display: flex;
  margin: 0;
}

.flex-child {
  flex: 1 0 auto;
  .small {
      flex: 2 4 auto;
  }
}  