div{
    margin: 10px;
}
  
.full-width {
    width: 100%;
  }

.pull-right {
  float: right;
}

.flex-container {
  display: flex;
  margin: 0;
}

.flex-child {
  flex: 1 0 auto;
  .small {
      flex: 2 4 auto;
  }
}  

.italic {
  font-style: italic;
}