<div class="split">
  <div><h3>Decisions</h3></div>
  <div matTooltip="{{ disabledCreateBtnTooltip }}" [matTooltipDisabled]="!isDraftExists">
    <button [disabled]="isDraftExists" mat-flat-button color="primary" (click)="onCreate()">+ Decision Draft</button>
  </div>
</div>
@if (!decisions.length) {
  <section class="no-decisions">
    <div>No Decisions</div>
  </section>
}
@for (decision of decisions; track decision; let i = $index) {
  <section class="decision-container">
    <div
      class="decision"
    [ngClass]="{
      draft: decision.isDraft
    }"
      [id]="decision.uuid"
      >
      <div class="decision-padding">
        <div class="header">
          <div class="title">
            <h3>Decision #{{ decisions.length - i }}</h3>
            <h5>Res #{{ decision.resolutionNumber }}/{{ decision.resolutionYear }}</h5>
            @if (decision.isDraft) {
              <app-application-type-pill [type]="dratDecisionLabel"></app-application-type-pill>
            }
            @if (!decision.isDraft) {
              <app-application-type-pill [type]="releasedDecisionLabel"></app-application-type-pill>
            }
          </div>
          @if (decision.isDraft) {
            <button mat-flat-button color="primary" (click)="onEdit(decision)">Edit Draft</button>
          }
          @if (!decision.isDraft) {
            <div [matTooltip]="disabledCreateBtnTooltip" [matTooltipDisabled]="!isDraftExists">
              <button
                mat-stroked-button
                color="primary"
                (click)="onRevertToDraft(decision.uuid)"
                [disabled]="isDraftExists"
                >
                Revert to draft
              </button>
            </div>
          }
        </div>
        <h4>Resolution</h4>
        <section class="decision-section-no-title">
          <div class="grid-2">
            <div>
              <div class="subheading2">Decision Date</div>
              @if (decision.date) {
                <span>{{ decision.date | momentFormat }}</span>
              }
              @if (!decision.date) {
                <app-no-data></app-no-data>
              }
            </div>
            <div>
              <div class="subheading2">Decision Outcome</div>
              {{ decision.outcome?.label }}
              @if (!decision.outcome) {
                <app-no-data></app-no-data>
              }
            </div>
            <div class="full-width">
              <div class="subheading2">Decision Description</div>
              {{ decision.decisionDescription }}
              @if (!decision.decisionDescription) {
                <app-no-data></app-no-data>
              }
            </div>
          </div>
        </section>
        <h4>Documents</h4>
        <section class="decision-section">
          <app-decision-documents [editable]="false" [loadData]="false" [decision]="decision"></app-decision-documents>
        </section>
        @if (decision.isDraft) {
          <div class="right">
            <button mat-stroked-button color="warn" (click)="deleteDecision(decision.uuid)">Delete draft</button>
          </div>
        }
      </div>
    </div>
  </section>
}
