<div *ngIf="applicationSubmission" class="review-table">
  <div class="subheading2 grid-1">Are you removing soil and placing fill in order to build a structure?</div>
  <div class="grid-double">
    <span *ngIf="applicationSubmission.soilIsNewStructure !== null">
      {{ applicationSubmission.soilIsNewStructure ? 'Yes' : 'No' }}
    </span>
    <app-no-data *ngIf="applicationSubmission.soilIsNewStructure === null"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Has the ALC previously received an application or Notice of Intent for this proposal?
  </div>
  <div class="grid-double">
    <span *ngIf="applicationSubmission.soilIsFollowUp !== null">
      {{ applicationSubmission.soilIsFollowUp ? 'Yes' : 'No' }}
    </span>
    <app-no-data *ngIf="applicationSubmission.soilIsFollowUp === null"></app-no-data>
  </div>

  <div *ngIf="applicationSubmission.soilIsFollowUp" class="subheading2 grid-1">Application or NOI ID</div>
  <div *ngIf="applicationSubmission.soilIsFollowUp" class="grid-double">
    {{ applicationSubmission.soilFollowUpIDs }}
    <app-no-data *ngIf="!applicationSubmission.soilFollowUpIDs"></app-no-data>
  </div>

  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    {{ applicationSubmission.purpose }}
    <app-no-data *ngIf="!applicationSubmission.purpose"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Placement of Fill Project Duration</div>
  <div class="grid-double">
    <div *ngIf="applicationSubmission.fillProjectDuration">
      {{ applicationSubmission.fillProjectDuration }}
    </div>
    <app-no-data *ngIf="!applicationSubmission.fillProjectDuration"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Removal of Soil Project Duration</div>
  <div class="grid-double">
    <div *ngIf="applicationSubmission.soilProjectDuration">
      {{ applicationSubmission.soilProjectDuration }}
    </div>
    <app-no-data *ngIf="!applicationSubmission.soilProjectDuration"></app-no-data>
  </div>

  <div class="full-width soil-table">
    <div></div>
    <div class="subheading2">Soil to be Removed</div>
    <div class="subheading2">Fill to be Placed</div>

    <div class="subheading2">Volume</div>
    <div>
      {{ applicationSubmission.soilToRemoveVolume }}
      <span *ngIf="applicationSubmission.soilToRemoveVolume !== null">m<sup>3</sup></span>
      <app-no-data *ngIf="applicationSubmission.soilToRemoveVolume === null"></app-no-data>
    </div>
    <div>
      {{ applicationSubmission.soilToPlaceVolume }}
      <span *ngIf="applicationSubmission.soilToPlaceVolume !== null">m<sup>3</sup></span>
      <app-no-data *ngIf="applicationSubmission.soilToPlaceVolume === null"></app-no-data>
    </div>

    <div class="subheading2">Area</div>
    <div>
      {{ applicationSubmission.soilToRemoveArea }}
      <span *ngIf="applicationSubmission.soilToRemoveArea !== null">m<sup>2</sup></span>
      <app-no-data *ngIf="applicationSubmission.soilToRemoveArea === null"></app-no-data>
    </div>
    <div>
      {{ applicationSubmission.soilToPlaceArea }}
      <span *ngIf="applicationSubmission.soilToPlaceArea !== null">m<sup>2</sup></span>
      <app-no-data *ngIf="applicationSubmission.soilToPlaceArea === null"></app-no-data>
    </div>

    <div class="subheading2">Maximum Depth</div>
    <div>
      {{ applicationSubmission.soilToRemoveMaximumDepth }}
      <span *ngIf="applicationSubmission.soilToRemoveMaximumDepth !== null">m</span>
      <app-no-data *ngIf="applicationSubmission.soilToRemoveMaximumDepth === null"></app-no-data>
    </div>
    <div>
      {{ applicationSubmission.soilToPlaceMaximumDepth }}
      <span *ngIf="applicationSubmission.soilToPlaceMaximumDepth !== null">m</span>
      <app-no-data *ngIf="applicationSubmission.soilToPlaceMaximumDepth === null"></app-no-data>
    </div>

    <div class="subheading2">Average Depth</div>
    <div>
      {{ applicationSubmission.soilToRemoveAverageDepth }}
      <span *ngIf="applicationSubmission.soilToRemoveAverageDepth !== null">m</span>
      <app-no-data *ngIf="applicationSubmission.soilToRemoveAverageDepth === null"></app-no-data>
    </div>
    <div>
      {{ applicationSubmission.soilToPlaceAverageDepth }}
      <span *ngIf="applicationSubmission.soilToPlaceAverageDepth !== null">m</span>
      <app-no-data *ngIf="applicationSubmission.soilToPlaceAverageDepth === null"></app-no-data>
    </div>

    <div class="spacer-row"></div>

    <div></div>
    <div class="subheading2">Soil already Removed</div>
    <div class="subheading2">Fill already Placed</div>

    <div class="subheading2">Volume</div>
    <div>
      {{ applicationSubmission.soilAlreadyRemovedVolume }}
      <span *ngIf="applicationSubmission.soilAlreadyRemovedVolume !== null">m<sup>3</sup></span>
      <app-no-data *ngIf="applicationSubmission.soilAlreadyRemovedVolume === null"></app-no-data>
    </div>
    <div>
      {{ applicationSubmission.soilAlreadyPlacedVolume }}
      <span *ngIf="applicationSubmission.soilAlreadyPlacedVolume !== null">m<sup>3</sup></span>
      <app-no-data *ngIf="applicationSubmission.soilAlreadyPlacedVolume === null"></app-no-data>
    </div>

    <div class="subheading2">Area</div>
    <div>
      {{ applicationSubmission.soilAlreadyRemovedArea }}
      <span *ngIf="applicationSubmission.soilAlreadyRemovedArea !== null">m<sup>2</sup></span>
      <app-no-data *ngIf="applicationSubmission.soilAlreadyRemovedArea === null"></app-no-data>
    </div>
    <div>
      {{ applicationSubmission.soilAlreadyPlacedArea }}
      <span *ngIf="applicationSubmission.soilAlreadyPlacedArea !== null">m<sup>2</sup></span>
      <app-no-data *ngIf="applicationSubmission.soilAlreadyPlacedArea === null"></app-no-data>
    </div>

    <div class="subheading2">Maximum Depth</div>
    <div>
      {{ applicationSubmission.soilAlreadyRemovedMaximumDepth }}
      <span *ngIf="applicationSubmission.soilAlreadyRemovedMaximumDepth !== null">m</span>
      <app-no-data *ngIf="applicationSubmission.soilAlreadyRemovedMaximumDepth === null"></app-no-data>
    </div>
    <div>
      {{ applicationSubmission.soilAlreadyPlacedMaximumDepth }}
      <span *ngIf="applicationSubmission.soilAlreadyPlacedMaximumDepth !== null">m</span>
      <app-no-data *ngIf="applicationSubmission.soilAlreadyPlacedMaximumDepth === null"></app-no-data>
    </div>

    <div class="subheading2">Average Depth</div>
    <div>
      {{ applicationSubmission.soilAlreadyRemovedAverageDepth }}
      <span *ngIf="applicationSubmission.soilAlreadyRemovedAverageDepth !== null">m</span>
      <app-no-data *ngIf="applicationSubmission.soilAlreadyRemovedAverageDepth === null"></app-no-data>
    </div>
    <div>
      {{ applicationSubmission.soilAlreadyPlacedAverageDepth }}
      <span *ngIf="applicationSubmission.soilAlreadyPlacedAverageDepth !== null">m</span>
      <app-no-data *ngIf="applicationSubmission.soilAlreadyPlacedAverageDepth === null"></app-no-data>
    </div>
  </div>

  <div class="subheading2 grid-1">Describe the type, origin and quality of fill proposed to be placed.</div>
  <div class="grid-double">
    {{ applicationSubmission.soilFillTypeToPlace }}
    <app-no-data *ngIf="!applicationSubmission.soilFillTypeToPlace"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Describe the type of soil proposed to be removed.</div>
  <div class="grid-double">
    {{ applicationSubmission.soilTypeRemoved }}
    <app-no-data *ngIf="!applicationSubmission.soilTypeRemoved"></app-no-data>
  </div>

  <ng-container *ngIf="applicationSubmission.soilIsNewStructure === false">
    <div class="subheading2 grid-1">
      What alternative measures have you considered or attempted before proposing to place fill?
    </div>
    <div class="grid-double">
      {{ applicationSubmission.soilAlternativeMeasures }}
      <app-no-data *ngIf="!applicationSubmission.soilAlternativeMeasures"></app-no-data>
    </div>

    <div class="subheading2 grid-1">What steps will be taken to reduce impacts to surrounding agricultural land?</div>
    <div class="grid-double">
      {{ applicationSubmission.soilReduceNegativeImpacts }}
      <app-no-data *ngIf="!applicationSubmission.soilReduceNegativeImpacts"></app-no-data>
    </div>
  </ng-container>

  <ng-container *ngIf="applicationSubmission.soilIsNewStructure === true">
    <div class="full-width subheading2">The total floor area (m<sup>2</sup>) for each of the proposed structure(s)</div>
    <div class="full-width structure-table" *ngIf="!isMobile">
      <div class="grid-1 subheading2">#</div>
      <div class="grid-2 subheading2">Type</div>
      <div class="grid-3 subheading2">Area</div>
      <ng-container *ngFor="let structure of applicationSubmission.soilProposedStructures; let i = index">
        <div class="grid-1">
          {{ i + 1 }}
        </div>
        <div class="grid-2">
          {{ mapStructureTypeValueToLabel(structure.type) }}
          <app-no-data *ngIf="!structure.type"></app-no-data>
        </div>
        <div class="grid-3">
          {{ structure.area }} <span *ngIf="structure.area">m<sup>2</sup></span>
          <app-no-data *ngIf="!structure.area"></app-no-data>
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="isMobile">
      <app-structure-mobile-card
        *ngFor="let structure of applicationSubmission.soilProposedStructures; let last = last; index as i"
        [structure]="structure"
        [isLast]="last"
        [index]="i"
        [isReviewStep]="true"
      >
      </app-structure-mobile-card>
    </ng-container>
    <div *ngIf="applicationSubmission.soilProposedStructures.length === 0" class="full-width">
      <app-no-data></app-no-data>
    </div>

    <ng-container *ngIf="isSoilStructureFarmUseReasonVisible">
      <div class="subheading2 grid-1">Describe how the structure is necessary for farm use</div>
      <div class="grid-double">
        {{ applicationSubmission.soilStructureFarmUseReason }}
        <app-no-data *ngIf="!applicationSubmission.soilStructureFarmUseReason"></app-no-data>
      </div>
    </ng-container>

    <ng-container *ngIf="isSoilStructureResidentialUseReasonVisible">
      <div class="subheading2 grid-1">
        Describe why placing fill/removing soil is required for the residential structure(s)
      </div>
      <div class="grid-double">
        {{ applicationSubmission.soilStructureResidentialUseReason }}
        <app-no-data *ngIf="!applicationSubmission.soilStructureResidentialUseReason"></app-no-data>
      </div>
    </ng-container>

    <ng-container *ngIf="isSoilAgriParcelActivityVisible">
      <div class="subheading2 grid-1">Describe the current or proposed agricultural activity on the parcel(s)</div>
      <div class="grid-double">
        {{ applicationSubmission.soilAgriParcelActivity }}
        <app-no-data *ngIf="!applicationSubmission.soilAgriParcelActivity"></app-no-data>
      </div>
    </ng-container>

    <ng-container *ngIf="isSoilStructureResidentialAccessoryUseReasonVisible">
      <div class="subheading2 grid-1">
        Describe the intended use of the residential accessory structure(s) and why placing fill/removing soil is
        required
      </div>
      <div class="grid-double">
        {{ applicationSubmission.soilStructureResidentialAccessoryUseReason }}
        <app-no-data *ngIf="!applicationSubmission.soilStructureResidentialAccessoryUseReason"></app-no-data>
      </div>
    </ng-container>

    <ng-container *ngIf="isSoilOtherStructureVisible">
      <div class="subheading2 grid-1">
        Describe the intended use of the 'Other' structure(s) and why placing fill/removing soil is required
      </div>
      <div class="grid-double">
        {{ applicationSubmission.soilStructureOtherUseReason }}
        <app-no-data *ngIf="!applicationSubmission.soilStructureOtherUseReason"></app-no-data>
      </div>
    </ng-container>
  </ng-container>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <a *ngFor="let map of proposalMap" (click)="openFile(map)">
      {{ map.fileName }}
    </a>
    <app-no-data *ngIf="proposalMap.length === 0"></app-no-data>
  </div>

  <ng-container *ngIf="applicationSubmission.soilIsNewStructure === false">
    <div class="subheading2 grid-1">Cross Sections</div>
    <div class="grid-double multiple-documents">
      <a *ngFor="let file of crossSections" (click)="openFile(file)">
        {{ file.fileName }}
      </a>
      <app-no-data *ngIf="crossSections.length === 0"></app-no-data>
    </div>

    <div class="subheading2 grid-1">Reclamation Plan</div>
    <div class="grid-double multiple-documents">
      <a *ngFor="let file of reclamationPlans" (click)="openFile(file)">
        {{ file.fileName }}
      </a>
      <app-no-data *ngIf="reclamationPlans.length === 0"></app-no-data>
    </div>
  </ng-container>

  <ng-container *ngIf="applicationSubmission.soilIsNewStructure === false">
    <div class="subheading2 grid-1">Is your proposal for aggregate extraction or placer mining?</div>
    <div class="grid-double">
      <span *ngIf="applicationSubmission.soilIsExtractionOrMining !== null">
        {{ applicationSubmission.soilIsExtractionOrMining ? 'Yes' : 'No' }}
      </span>
      <app-no-data *ngIf="applicationSubmission.soilIsExtractionOrMining === null"></app-no-data>
    </div>

    <div *ngIf="applicationSubmission.soilIsExtractionOrMining" class="subheading2 grid-1">
      Have you submitted a Notice of Work to the Ministry of Mining and Critical Minerals (MCM)?
    </div>
    <div *ngIf="applicationSubmission.soilIsExtractionOrMining" class="grid-double">
      <span *ngIf="applicationSubmission.soilHasSubmittedNotice !== null">
        {{ applicationSubmission.soilHasSubmittedNotice ? 'Yes' : 'No' }}
      </span>
      <app-no-data *ngIf="applicationSubmission.soilHasSubmittedNotice === null"></app-no-data>
    </div>
  </ng-container>
</div>
