<h3>Post-Decision</h3>

<div>
  <span class="subheading2">Jump to Section:&nbsp;</span>
  <a (click)="goToRecons()">Reconsideration Requests</a> | <a (click)="goToAmendments()">Amendments Requests</a>
</div>

<h5 id="recons" class="post-decision-header">
  Reconsideration Requests
  <mat-icon class="icon" matTooltip="Create new Reconsideration Request from application tracking boards"
    >info_outline
  </mat-icon>
</h5>

<section class="no-decisions" *ngIf="!reconsiderations.length">
  <div>No Reconsiderations</div>
</section>

<section>
  <div class="post-decision" *ngFor="let reconsideration of reconsiderations; let i = index">
    <div class="decision-menu recon">
      <button (click)="onEditReconsideration(reconsideration)" matTooltip="Edit Request" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button
        (click)="deleteReconsideration(reconsideration.uuid, reconsiderations.length - i)"
        matTooltip="Delete Request"
        mat-icon-button
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="body-large">Reconsideration Request #{{ reconsiderations.length - i }}</div>
    <div class="decision-content">
      <div>
        <div class="subheading2">Request Submission Date</div>
        {{ reconsideration.submittedDate | momentFormat }}
      </div>
      <div>
        <div class="subheading2">Reconsideration Type</div>
        {{ reconsideration.type.code }}
      </div>
      <div></div>
      <div *ngIf="reconsideration.type.code === '33'">
        <div class="subheading2">Review Date</div>
        <span *ngIf="reconsideration.reviewDate">{{ reconsideration.reviewDate | momentFormat }}</span>
        <span *ngIf="!reconsideration.reviewDate">
          <app-inline-datepicker
            (save)="onSaveReconsiderationReviewDate(reconsideration.uuid, $event)"
          ></app-inline-datepicker>
        </span>
      </div>
      <div>
        <ng-container *ngIf="reconsideration.type.code === '33'">
          <div class="subheading2">Review Outcome</div>
          <span *ngIf="!isReviewOutcomeSet(reconsideration.isReviewApproved)">
            <app-inline-review-outcome
              (save)="onSaveReconsiderationReviewOutcome(reconsideration.uuid, $event)"
            ></app-inline-review-outcome>
          </span>
          <span *ngIf="isReviewOutcomeSet(reconsideration.isReviewApproved)">{{
            getReviewOutcomeLabel(reconsideration.isReviewApproved!)
          }}</span>
        </ng-container>
      </div>
      <div></div>
      <div>
        <div class="subheading2">Resolutions to be Reconsidered</div>
        <ng-container *ngFor="let decision of reconsideration.reconsideredDecisions">
          #{{ decision.resolutionNumber }}/{{ decision.resolutionYear }}
        </ng-container>
      </div>
      <div>
        <ng-container *ngIf="!!reconsideration.resultingDecision">
          <div class="subheading2">Resolution of Resulting Decision</div>
          #{{ reconsideration.resultingDecision?.resolutionNumber }}/{{
            reconsideration.resultingDecision?.resolutionYear
          }}
        </ng-container>
      </div>
    </div>
  </div>
</section>

<h5 id="amendments" class="post-decision-header">
  Amendment Requests
  <mat-icon class="icon" matTooltip="Create new Amendment Requests from application tracking boards"
    >info_outline
  </mat-icon>
</h5>

<section class="no-decisions" *ngIf="!amendments.length">
  <div>No Amendements</div>
</section>

<section>
  <div class="post-decision" *ngFor="let amendment of amendments; let i = index">
    <div class="decision-menu amendment">
      <button (click)="onEditAmendment(amendment)" matTooltip="Edit Request" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button
        (click)="deleteAmendment(amendment.uuid, amendments.length - i)"
        matTooltip="Delete Request"
        mat-icon-button
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="body-large">Amendment Request #{{ amendments.length - i }}</div>
    <div class="decision-content">
      <div>
        <div class="subheading2">Request Submission Date</div>
        {{ amendment.submittedDate | momentFormat }}
      </div>
      <div>
        <div class="subheading2">Condition to be Modified</div>
        {{ amendment.isTimeExtension ? 'Time Extension' : 'Other' }}
      </div>
      <div></div>
      <div>
        <div class="subheading2">Review Date</div>
        <span *ngIf="amendment.reviewDate">{{ amendment.reviewDate | momentFormat }}</span>
        <span *ngIf="!amendment.reviewDate">
          <app-inline-datepicker (save)="onSaveAmendmentReviewDate(amendment.uuid, $event)"></app-inline-datepicker>
        </span>
      </div>
      <div>
        <div class="subheading2">Review Outcome</div>
        <span *ngIf="!isReviewOutcomeSet(amendment.isReviewApproved)">
          <app-inline-review-outcome
            (save)="onSaveAmendmentOutcome(amendment.uuid, $event)"
          ></app-inline-review-outcome>
        </span>
        <span *ngIf="isReviewOutcomeSet(amendment.isReviewApproved)">{{
          getReviewOutcomeLabel(amendment.isReviewApproved!)
        }}</span>
      </div>
      <div></div>
      <div>
        <div class="subheading2">Resolutions to be Amended</div>
        <ng-container *ngFor="let decision of amendment.amendedDecisions">
          #{{ decision.resolutionNumber }}/{{ decision.resolutionYear }}
        </ng-container>
      </div>
      <div>
        <ng-container *ngIf="!!amendment.resultingDecision">
          <div class="subheading2">Resolution of Resulting Decision</div>
          #{{ amendment.resultingDecision?.resolutionNumber }}/{{ amendment.resultingDecision?.resolutionYear }}
        </ng-container>
      </div>
    </div>
  </div>
</section>
