@import "../../../styles/colors";

header {
  display: flex;
  align-content: center;
  margin: 1.8rem 8rem;
  justify-content: space-between;

  div {
    display: flex;
  }
}

.title {
  color: $primary-color;
  align-items: center;
  margin-left: 1.6rem;
}

.controls {
  button:not(:last-child) {
    margin-right: 3.2rem !important;
    height: 4.3rem;
  }
}
