<header>
  <div class="top-nav">
    <ul>
      <li>
        <a href="https://www.alc.gov.bc.ca/">ALC Website</a>
      </li>
      <li *ngIf="!isOnSearch">
        <a routerLink="/public">Public Search</a>
      </li>
      <li *ngIf="isOnSearch">
        <a routerLink="/">Portal</a>
      </li>
    </ul>
  </div>
  <div class="title-wrapper">
    <div class="title">
      <img class="logo" (click)="onClickLogo()" src="assets/alc_logo.svg" alt="ALC Portal" />
      <h5 class="center">
        <span *ngIf="isOnSearch">Provincial Agricultural Land Commission Public Search</span>
        <span *ngIf="!isOnSearch">Provincial Agricultural Land Commission Portal</span>
      </h5>
      <div *ngIf="isAuthenticated" class="burger-menu">
        <mat-icon (click)="onMenuToggle()">{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
      </div>
    </div>

    <div *ngIf="isAuthenticated" class="controls">
      <button class="inbox-btn" routerLink="/home" mat-flat-button color="primary">Portal Inbox</button>
      <button class="logout-btn" (click)="onLogout()" mat-stroked-button color="primary">Log Out</button>
    </div>

    <div *ngIf="isMenuOpen" class="mobile-menu-wrapper">
      <h1 (click)="onMenuClicked('/home')">Portal Inbox</h1>
      <h1 (click)="onLogout()">Log Out</h1>
    </div>
  </div>
</header>
