@import '../../../styles/functions.scss';
@import '../../../styles/typography.scss';

header {
  .title-wrapper {
    margin: rem(8) rem(24);

    .title {
      .logo {
        width: rem(49);
        height: rem(32);
      }
      h5 {
        display: none;
      }
      .burger-menu {
        float: right;
      }
    }

    .controls {
      display: none;
    }
  }

  .mobile-menu-wrapper {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: rem(24);
    line-height: 20vh;
  }

  @media screen and (min-width: $tabletBreakpoint) {
    margin: rem(18) rem(80) !important;
    justify-content: space-between;

    .burger-menu {
      display: none;
    }

    .title-wrapper {
      display: flex;
      margin: 0;
      justify-content: space-between;

      button:not(:last-child) {
        margin-right: rem(28) !important;
      }

      .title,
      .title h5,
      .controls {
        display: flex;
      }

      .title {
        .logo {
          width: rem(69);
          height: rem(45);
        }

        h5 {
          margin-left: rem(28) !important;
        }
      }
    }
  }
}
