<div class="step-description">
  <h2>Proposal</h2>
  <p>
    Considerations are subject to
    <a> Section 6 of the ALC Act. </a>
  </p>
  <p>*All fields are required unless stated optional.</p>
  <div class="step-documents">
    <h6>Documents needed for this step:</h6>
    <ul>
      <li>Proof of Serving Notice</li>
      <li>Proposal Map / Sketch Plan</li>
    </ul>
  </div>
</div>
<app-warning-banner>
  In order to complete this step, please consult the following pages on the ALC website:
  <ul>
    <li>
      <a
        href="https://www.alc.gov.bc.ca/application-and-notice-process/applications/what-the-commission-considers/"
        target="_blank"
      >
        What the Commission Considers
      </a>
    </li>
    <li>
      <a href="TODO" target="_blank">FIXME: Transportation, Utility and Recreational Trail</a>
    </li>
  </ul>
</app-warning-banner>
<form [formGroup]="form">
  <div class="form-row">
    <div class="full-row">
      <label for="purpose">What is the purpose of the proposal?</label>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="purpose"
          #purposeText
          maxlength="4000"
          id="purpose"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <span class="subtext">Characters left: {{ 4000 - purposeText.textLength }}</span>
      <div *ngIf="purpose.invalid && (purpose.dirty || purpose.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="purpose.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label for="agriculture-activities">
        Specify any agricultural activities such as livestock operations, greenhouses or horticultural activities in
        proximity to the proposal.
      </label>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="agriculturalActivities"
          #agriculturalActivitiesText
          maxlength="4000"
          id="agriculture-activities"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <span class="subtext">Characters left: {{ 4000 - agriculturalActivitiesText.textLength }}</span>
      <div
        *ngIf="agriculturalActivities.invalid && (agriculturalActivities.dirty || agriculturalActivities.touched)"
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="agriculturalActivities.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label for="negative-impact">
        What steps will you take to reduce potential negative impacts on surrounding agricultural lands?
      </label>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="reduceNegativeImpacts"
          #reduceNegativeImpactsText
          maxlength="4000"
          id="negative-impact"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <span class="subtext">Characters left: {{ 4000 - reduceNegativeImpactsText.textLength }}</span>
      <div
        *ngIf="reduceNegativeImpacts.invalid && (reduceNegativeImpacts.dirty || reduceNegativeImpacts.touched)"
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="reduceNegativeImpacts.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label for="negative-impact">Could this proposal be accommodated on lands outside of the ALR?</label>
      <mat-form-field appearance="outline">
        <textarea
          [formControl]="outsideLands"
          #outsideLandsText
          maxlength="4000"
          id="outside-lands"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <span class="subtext">Characters left: {{ 4000 - outsideLandsText.textLength }}</span>
      <div *ngIf="outsideLands.invalid && (outsideLands.dirty || outsideLands.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="outsideLands.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label for="total-area">Total area of corridor</label>
      <div class="subtext">Enter area in hectares (ha) (Note: 0.01 ha is 100 m<sup>2</sup>)</div>
      <mat-form-field appearance="outline">
        <input
          [formControl]="totalCorridorArea"
          mask="separator.2"
          thousandSeparator=","
          separatorLimit="9999999999"
          min="0.01"
          id="total-area"
          matInput
          placeholder="Type total area"
        />
        <span *ngIf="totalCorridorArea.value" matTextSuffix>ha</span>
      </mat-form-field>
      <div
        *ngIf="totalCorridorArea.invalid && (totalCorridorArea.dirty || totalCorridorArea.touched)"
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="totalCorridorArea.errors?.['required']">This field is required</div>
      </div>
    </div>
  </div>
  <div class="affected-area">
    All affected property owners with land in the ALR must be notified as required by
    <a href="https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/57_2020#section22"
      >Section 22(2) of the Agricultural Land Reserve General Regulation.</a
    >
  </div>
  <div class="full-row">
    <mat-checkbox
      [formControl]="allOwnersNotified"
      [ngClass]="{
        'parcel-checkbox': true,
        'error-outline': allOwnersNotified.invalid && (allOwnersNotified.dirty || allOwnersNotified.touched)
      }"
      >I confirm that all affected property owners with land in the ALR have been notified.
    </mat-checkbox>
  </div>
</form>
<div>
  <div class="section">
    <label class="subheading2" for="proof-of-serving">Proof of Serving Notice</label>
    <div class="subtext">Proof that all affected property owners with land in the ALR were notified as required.</div>
    <app-file-drag-drop
      id="proof-of-serving"
      [uploadedFiles]="servingNotice"
      (uploadFiles)="attachFile($event, DOCUMENT.SERVING_NOTICE)"
      (deleteFile)="onDeleteFile($event)"
      (openFile)="openFile($event)"
      [showErrors]="showErrors"
      [isRequired]="true"
    ></app-file-drag-drop>
  </div>
  <div class="section">
    <label class="subheading2" for="proposal-map">Proposal Map / Sketch Plan</label>
    <app-file-drag-drop
      id="proposal-map"
      [uploadedFiles]="proposalMap"
      (uploadFiles)="attachFile($event, DOCUMENT.PROPOSAL_MAP)"
      (deleteFile)="onDeleteFile($event)"
      (openFile)="openFile($event)"
      [showErrors]="showErrors"
      [isRequired]="true"
    ></app-file-drag-drop>
  </div>
</div>
<div class="button-container">
  <button *ngIf="!draftMode" (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
  <button *ngIf="draftMode" (click)="onSaveExit()" mat-stroked-button color="accent">Discard all Changes</button>
  <div>
    <button mat-stroked-button color="primary" (click)="onNavigateToStep(currentStep - 1)">
      Previous<span class="mobile-hidden"> Step</span>
    </button>
    <button mat-flat-button color="primary" (click)="onNavigateToStep(currentStep + 1)">
      Next<span class="mobile-hidden"> Step</span>
    </button>
  </div>
</div>
