<div class="split">
  <h3>Overview</h3>
</div>
<section>
  <app-staff-journal *ngIf="planningReview" parentType="Planning Review" [parentUuid]="planningReview.uuid" />
</section>
<section *ngIf="planningReview">
  <h5>Planning Review Type</h5>
  <div>
    <app-inline-dropdown (save)="onSaveType($event)" [options]="types" [value]="planningReview.type.code" />
  </div>
</section>
<section *ngIf="planningReview">
  <h5>Status</h5>
  <div>
    <app-inline-button-toggle
      (save)="onSaveStatus($event)"
      [selectedValue]="planningReview.open ? 'Open' : 'Closed'"
      [options]="[
        {
          label: 'Open',
          value: 'Open'
        },
        {
          label: 'Closed',
          value: 'Closed'
        }
      ]"
    />
  </div>
</section>
