h5 {
  margin: 16px 0 !important;
}

section {
  margin: 32px 0;
}

.two-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 16px !important;
  row-gap: 32px;
  column-gap: 24px;
  margin-bottom: 48px;
}
