<div class="split">
  <h3>Overview</h3>
</div>
<section>
  <app-staff-journal *ngIf="planningReview" parentType="Planning Review" [parentUuid]="planningReview.uuid" />
</section>
<section *ngIf="planningReview">
  <h5>Planning Review Type</h5>
  <div style="width: 50%">
    <app-inline-dropdown (save)="onSaveType($event)" [options]="types" [value]="planningReview.type.code" />
  </div>
</section>
<section *ngIf="planningReview">
  <h5>Status</h5>
  <div style="width: 50%">
    <app-inline-button-toggle
      (save)="onSaveStatus($event)"
      [selectedValue]="planningReview.open ? 'Open' : 'Closed'"
      [options]="[
        {
          label: 'Open',
          value: 'Open'
        },
        {
          label: 'Closed',
          value: 'Closed'
        }
      ]"
    />
  </div>
</section>
<section *ngIf="planningReview">
  <h5>L/FNG Information</h5>
  <div class="two-grid">
    <div>
      <div class="subheading2">Local/First Nation Government</div>
      <app-inline-dropdown
        [options]="localGovernments"
        [value]="planningReview.localGovernment.uuid"
        (save)="updateLocalGovernment($event)"
      ></app-inline-dropdown>
    </div>
    <div>
      <div class="subheading2">Region</div>
      <app-inline-dropdown
        [options]="regions"
        [value]="planningReview.region.code"
        (save)="updateRegion($event)"
      ></app-inline-dropdown>
    </div>
  </div>
</section>
<section>
  <h5>Planning Review Event Timeline</h5>
  <app-timeline [events]="events"></app-timeline>
</section>
