<div class="header">
  <div *ngIf="!editable" class="subheading1">Decision Documents</div>
  <div *ngIf="editable" class="subheading2">Decision Documents *</div>
</div>
<div *ngIf="editable">
  <button type="button" class="upload-button" (click)="onUploadFile()" mat-flat-button color="primary">Upload</button>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z3 documents">
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type">Type</th>
    <td mat-cell *matCellDef="let element" matTooltip="Decision Package">DECPACK</td>
  </ng-container>

  <ng-container matColumnDef="fileName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Document Name</th>
    <td mat-cell *matCellDef="let element">
      <a (click)="openFile(element.uuid, element.fileName)">{{ element.fileName }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="source">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by source">Source</th>
    <td mat-cell *matCellDef="let element">ALC</td>
  </ng-container>

  <ng-container matColumnDef="visibilityFlags">
    <th mat-header-cell *matHeaderCellDef matTooltip='* = Pending' mat-sort-header sortActionDescription="Sort by visibility">
      Visibility
    </th>
    <td mat-cell *matCellDef="let element">
      <span matTooltip="Applicant">A*, </span>
      <span matTooltip="Commissioner">C*, </span>
      <span matTooltip="L/FNG">G*, </span>
      <span matTooltip="Public">P*</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="uploadedAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">Upload Date</th>
    <td mat-cell *matCellDef="let element">{{ element.uploadedAt | date }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>File Actions</th>
    <td mat-cell *matCellDef="let element">
      <button type="button" mat-icon-button (click)="downloadFile(element.uuid, element.fileName)">
        <mat-icon>file_download</mat-icon>
      </button>
      <button type="button" *ngIf="editable" mat-icon-button (click)="onEditFile(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button type="button" *ngIf="editable" mat-icon-button (click)="onDeleteFile(element)">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="text-center" colspan="6">No Documents</td>
  </tr>
</table>
