@use '../../../../../../styles/colors';

.header {
  display: flex;
  justify-content: space-between;
}

.documents {
  margin-top: 12px;
}

.upload-button {
  width: 100%;
  margin: 4px 0 12px !important;
}

.mat-mdc-no-data-row {
  height: 56px;
  color: colors.$grey-dark;
}

a {
  word-break: break-all;
}

table {
  box-shadow: none;

  th {
    font-weight: 700;
    padding-bottom: 16px;
    position: relative;

    .subheading {
      font-size: 11px;
      line-height: 16px;
      font-weight: 400;
      position: absolute;
    }
  }
}
