<div class='inline-number-wrapper'>
  <span class='left' *ngIf='!isEditing'>
    <a (click)='startEdit()' class='add' *ngIf='!value'> Select an option </a>
    <span *ngIf='value'>
      {{ value }}
    </span>
    <button *ngIf='value' class='edit-button' mat-icon-button (click)='startEdit()'>
      <mat-icon class='edit-icon'>edit</mat-icon>
    </button>
  </span>
  <div
    class='editing'
    [ngClass]='{
      hidden: !isEditing
    }'
  >
    <mat-form-field appearance='outline'>
      <mat-select placeholder='Select a value' [(ngModel)]='pendingValue'>
        <mat-option *ngFor='let option of options' [value]='option.value'>
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class='button-container'>
      <button mat-button (click)='cancelEdit()'>CANCEL</button>
      <button mat-button class='save' (click)='confirmEdit()'>SAVE</button>
    </div>
  </div>
</div>
