<section>
  <app-noi-details
    [$noticeOfIntentSubmission]="$noiSubmission"
    [$noiDocuments]="$noiDocuments"
    [draftMode]="draftMode"
  ></app-noi-details>
  <div class="button-container">
    <button
      *ngIf="noiSubmission?.fileNumber && !draftMode"
      mat-flat-button
      color="primary"
      (click)="onDownloadPdf(noiSubmission?.fileNumber)"
    >
      Download PDF
    </button>
  </div>

  <app-button-container [draftMode]="draftMode" [currentStep]="7" (saveExit)="onSaveExit()" [reviewStep]="true"
  (navigateStep)="onNavigateToStep($event)" (onSubmitToAlcs)="onSubmitToAlcs()"></app-button-container>
</section>
