@use '../../../../../styles/functions' as *;
@use '../../../../../styles/colors';

.owner-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-owner {
  margin: rem(8) 0 !important;
}

.link-text {
  color: colors.$link-color;
  text-decoration: underline;
}

.lookup-pid-fields {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: $desktopBreakpoint) {
    flex-direction: row;
  }
}

.lookup-search-by {
  margin-top: rem(8);

  @media screen and (min-width: $desktopBreakpoint) {
    width: unset !important;
    flex-grow: 1;
  }
}

.lookup-input {
  margin-top: rem(8);

  @media screen and (min-width: $desktopBreakpoint) {
    width: unset !important;
    flex-grow: 5;
  }
}

.lookup-search-button {
  width: 100%;
  margin-top: rem(8) !important;

  @media screen and (min-width: $desktopBreakpoint) {
    height: rem(55);
    margin-top: rem(7) !important;
    width: rem(150);
  }
}

.lookup-bottom-row {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: rem(24);

  .reset-button {
    width: 100%;
    margin-bottom: rem(8);
  }

  @media screen and (min-width: $desktopBreakpoint) {
    flex-direction: row;
    justify-content: space-between;

    .reset-button {
      width: unset;
    }
  }
}

.crown-owner-type {
  display: block;
  margin-bottom: rem(24);

  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: rem(16);
  }
}

mat-button-toggle-group#isFarm {
  height: rem(55);

  .mat-button-toggle {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
