@import '../../../styles/colors';

.layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.application {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-grow: 1;
  padding: 0 80px;
}

.child-content {
  margin: 24px 0 0 24px;
  flex-grow: 1;
}

.nav {
  min-width: 250px;
  width: 250px;
  border-right: 1px solid;
  border-left: 1px solid;
  height: 100%;
}

.nav-link {
  cursor: pointer;
  border-bottom: 1px solid;

  div {
    padding: 12px;
  }

  div.active {
    font-weight: bold;
    color: #fff;
    background-color: $primary-color-dark;
  }

  div:hover {
    color: #000;
    background-color: $primary-color-light;
  }
}
