<div class="layout">
  <div class="application">
    <app-application-header
      [application]="application"
      [reconsiderations]="reconsiderations"
      [modifications]="modifications"
    ></app-application-header>
    <div class="content">
      <div class="nav">
        <div *ngFor="let route of childRoutes" class="nav-link">
          <div
            *ngIf="route.requiresAuthorization ? isAuthorized : true"
            [routerLink]="route.path ? route.path : './'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-item"
          >
            <mat-icon>{{ route.icon }}</mat-icon>
            {{ route.menuTitle }}
          </div>
          <div
            *ngIf="route.requiresAuthorization ? !isAuthorized : false"
            class="nav-item disabled"
            matTooltip="Application not subject to ALC Review"
          >
            <mat-icon>{{ route.icon }}</mat-icon>
            {{ route.menuTitle }}
          </div>
        </div>
      </div>
      <div class="child-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
