<div *ngIf="application" class="layout">
  <div class="application">
    <div class="header">
      <div class="heading">
        <h5>{{ application?.fileNumber }} ({{ application?.applicant }})</h5>
        <span
          class="application-type"
          [ngStyle]="{
            backgroundColor: application.typeDetails.backgroundColor,
            color: application.typeDetails.textColor
          }"
          >{{ application.typeDetails.label }}</span
        >
      </div>
      <div class="sub-heading">
        <div>
          <div class="subheading2">Local Government:</div>
          <div class="body1-text">{{ application.localGovernment }}</div>
        </div>
        <div>
          <div class="subheading2">Business Days:</div>
          <div class="body1-text left time-tracking">
            <div *ngIf="!application.paused"><span class="dot"></span>Active</div>
            <div *ngIf="application.paused"><span class="dot paused"></span>Paused</div>
            <div
              matTooltip="Active Days"
              class="card-active-days"
              [ngClass]="{
                'inactive-timer': application.paused
              }"
            >
              <mat-icon class="icon">calendar_month</mat-icon>
              {{ application.activeDays }}
            </div>
            <div
              matTooltip="Paused Days"
              class="card-paused-days"
              [ngClass]="{
                'inactive-timer': !application.paused
              }"
            >
              <mat-icon class="icon">pause</mat-icon>
              {{ application.pausedDays }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="nav">
        <div *ngFor="let route of childRoutes" class="section">
          <div
            [routerLink]="route.path ? route.path : './'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ route.menuTitle }}
          </div>
        </div>
      </div>
      <div class="child-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
