<div *ngIf="notificationSubmission">
  <div class="header">
    <h3>ALC Review and Response</h3>
  </div>
  <app-warning-banner *ngIf="notificationSubmission.status.code === NOTIFICATION_STATUS.IN_PROGRESS">
    This section will update after the notification is submitted to the ALC.
  </app-warning-banner>
  <div
    *ngIf="
      notificationSubmission.status.code === NOTIFICATION_STATUS.SUBMITTED_TO_ALC ||
      notificationSubmission.status.code === NOTIFICATION_STATUS.ALC_RESPONSE
    "
  >
    <app-submission-documents [$notificationDocuments]="$notificationDocuments"></app-submission-documents>
  </div>
</div>
