@use '../../../../styles/colors';

.icon {
  color: colors.$white;
}

.search-container {
  display: flex;
  width: fit-content;
  flex-direction: column;
  position: relative;
}

.advanced-search {
  background: colors.$white;
  position: absolute;
  top: 56px;
  right: 0;
  left: 0;
  bottom: 0;
  height: fit-content;
  padding: 12px;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 4px 4px;
  z-index: 9999;

  button {
    width: 100%;
    background: colors.$white;
  }
}

.search-bar {
  align-items: center;
  background-color: colors.$white;
  border-radius: 4px;
  color: colors.$primary-color;
  font-size: 16px;
  display: flex;
  height: 56px;

  .mat-icon {
    font-size: 175%;
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    position: absolute;
  }

  ::ng-deep .mdc-text-field--outlined.mdc-text-field--focused {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__trailing,
    .mdc-notched-outline__notch {
      border-color: colors.$primary-color-light !important;
    }
  }

  ::ng-deep .mdc-text-field--outlined {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__trailing,
    .mdc-notched-outline__notch {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-color: colors.$primary-color !important;
    }
  }

  button {
    align-items: center;
    background: colors.$primary-color-dark;
    border-radius: 0 4px 0 0;
    color: colors.$white;
    display: flex;
    height: 100%;
  }
}

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}

:host ::ng-deep .mat-form-field-infix {
  border-top: none;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  margin-top: 0;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  top: 0;
}
