@import '../../../../styles/colors';

.search-bar {
  background-color: $primary-color-dark;
  font-size: 16px;
  color: $white;
  border-radius: 4px;

  .mat-icon {
    font-size: 125%;
  }
}

input {
  color: $white;
}

.mat-input-element {
  color: #fff;
  &::placeholder {
    color: $grey-light;
    letter-spacing: 0.5px;
  }
}

:host ::ng-deep .mat-form-field-flex {
  border-radius: 4px;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}

:host ::ng-deep .mat-form-field-infix {
  border-top: none;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  margin-top: 0;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  top: 0;
}
