@import '../../../../styles/colors';

.search-bar {
  background-color: $primary-color-dark;
  font-size: 16px;
  color: $white;
  border-radius: 4px;

  .mat-icon {
    font-size: 125%;
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    position: absolute;
  }
}

input {
  color: $white;
}

.mat-mdc-input-element {
  color: #fff !important;
  &::placeholder {
    color: $grey-light !important;
    letter-spacing: 0.5px;
  }
}

:host ::ng-deep .mat-form-field-flex {
  border-radius: 4px;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}

:host ::ng-deep .mat-form-field-infix {
  border-top: none;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  margin-top: 0;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  top: 0;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-focused:hover .mat-form-field-outline,
:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: $primary-color-light;
}

:host ::ng-deep .mat-form-field-appearance-outline:hover .mat-form-field-outline {
  color: rgba($primary-color-light, 0.7);
}
