@if (noiSubmission) {
  <div class="review-table">
    <div class="subheading2 grid-1">
      Has the ALC previously received an application or Notice of Intent for this proposal?
    </div>
    <div class="grid-double">
      @if (noiSubmission.soilIsFollowUp !== null) {
        <span>
          {{ noiSubmission.soilIsFollowUp ? 'Yes' : 'No' }}
        </span>
      }
      @if (noiSubmission.soilIsFollowUp === null) {
        <app-no-data></app-no-data>
      }
    </div>
    @if (noiSubmission.soilIsFollowUp) {
      <div class="subheading2 grid-1">Application or NOI ID</div>
    }
    @if (noiSubmission.soilIsFollowUp) {
      <div class="grid-double">
        {{ noiSubmission.soilFollowUpIDs }}
        @if (!noiSubmission.soilFollowUpIDs) {
          <app-no-data></app-no-data>
        }
      </div>
    }
    <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
    <div class="grid-double">
      {{ noiSubmission.purpose }}
      @if (!noiSubmission.purpose) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Describe the type, origin and quality of fill proposed to be placed.</div>
    <div class="grid-double">
      {{ noiSubmission.soilFillTypeToPlace }}
      @if (!noiSubmission.soilFillTypeToPlace) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Placement of Fill Project Duration</div>
    <div class="grid-double">
      @if (noiSubmission.soilProjectDuration) {
        <div>
          {{ noiSubmission.soilProjectDuration }}
        </div>
      }
      @if (!noiSubmission.soilProjectDuration) {
        <app-no-data></app-no-data>
      }
    </div>
    @if (noiSubmission) {
      <div class="full-width soil-table">
        <div></div>
        <div class="subheading2">Fill to be Placed</div>
        <div class="subheading2">Volume</div>
        <div>
          {{ noiSubmission.soilToPlaceVolume }}
          @if (noiSubmission.soilToPlaceVolume !== null) {
            <span>m<sup>3</sup></span>
          }
          @if (noiSubmission.soilToPlaceVolume === null) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2">Area</div>
        <div>
          {{ noiSubmission.soilToPlaceArea }}
          @if (noiSubmission.soilToPlaceArea !== null) {
            <span>m<sup>2</sup></span>
          }
          @if (noiSubmission.soilToPlaceArea === null) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2">Maximum Depth</div>
        <div>
          {{ noiSubmission.soilToPlaceMaximumDepth }}
          @if (noiSubmission.soilToPlaceMaximumDepth !== null) {
            <span>m</span>
          }
          @if (noiSubmission.soilToPlaceMaximumDepth === null) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2">Average Depth</div>
        <div>
          {{ noiSubmission.soilToPlaceAverageDepth }}
          @if (noiSubmission.soilToPlaceAverageDepth !== null) {
            <span>m</span>
          }
          @if (noiSubmission.soilToPlaceAverageDepth === null) {
            <app-no-data></app-no-data>
          }
        </div>
        <div></div>
        <div class="subheading2">Fill already Placed</div>
        <div class="subheading2">Volume</div>
        <div>
          {{ noiSubmission.soilAlreadyPlacedVolume }}
          @if (noiSubmission.soilAlreadyPlacedVolume !== null) {
            <span>m<sup>3</sup></span>
          }
          @if (noiSubmission.soilAlreadyPlacedVolume === null) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2">Area</div>
        <div>
          {{ noiSubmission.soilAlreadyPlacedArea }}
          @if (noiSubmission.soilAlreadyPlacedArea !== null) {
            <span>m<sup>2</sup></span>
          }
          @if (noiSubmission.soilAlreadyPlacedArea === null) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2">Maximum Depth</div>
        <div>
          {{ noiSubmission.soilAlreadyPlacedMaximumDepth }}
          @if (noiSubmission.soilAlreadyPlacedMaximumDepth !== null) {
            <span>m</span>
          }
          @if (noiSubmission.soilAlreadyPlacedMaximumDepth === null) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="subheading2">Average Depth</div>
        <div>
          {{ noiSubmission.soilAlreadyPlacedAverageDepth }}
          @if (noiSubmission.soilAlreadyPlacedAverageDepth !== null) {
            <span>m</span>
          }
          @if (noiSubmission.soilAlreadyPlacedAverageDepth === null) {
            <app-no-data></app-no-data>
          }
        </div>
      </div>
    }
    <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
    <div class="grid-double">
      @for (map of proposalMap; track map) {
        <a class="mobile" (click)="downloadFile(map.documentUuid)">{{ map.fileName }}</a>
        <a class="desktop" routerLink="/document/{{ map.documentUuid }}" target="_blank">{{ map.fileName }}</a>
      }
      @if (proposalMap.length === 0) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Is your proposal for area-wide filling?</div>
    <div class="grid-double">
      @if (noiSubmission.soilIsAreaWideFilling !== null) {
        <span>
          {{ noiSubmission.soilIsAreaWideFilling ? 'Yes' : 'No' }}
        </span>
      }
      @if (noiSubmission.soilIsAreaWideFilling === null) {
        <app-no-data></app-no-data>
      }
    </div>
    @if (noiSubmission.soilIsAreaWideFilling) {
      <div class="subheading2 grid-1">Cross Sections</div>
      <div class="grid-double multiple-documents">
        @for (file of crossSections; track file) {
          <a class="mobile" (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
          <a class="desktop" routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
        }
        @if (crossSections.length === 0) {
          <app-no-data></app-no-data>
        }
      </div>
    }
  </div>
}
