@use '../../../../styles/colors';

.inline-number-wrapper {
  padding-top: 4px;

  &.fixed-height {
    padding-top: 0;

    .editing {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .editing.hidden {
    display: none;
  }
}

::ng-deep {
  .inline-number-wrapper .editing {
    .mat-mdc-form-field-infix {
      padding: 0 !important;
      min-height: 0 !important;
    }

    .mdc-text-field {
      padding-inline: 8px;
    }
  }
}

.edit-button {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
}

.edit-icon {
  font-size: inherit;
  line-height: 22px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  position: relative;

  button:not(:last-child) {
    margin-right: 2px !important;
  }
}

.char-limit {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: colors.$grey;
}

.add {
  cursor: pointer;
}

.save {
  color: colors.$primary-color;
}

:host::ng-deep {
  .mat-form-field-wrapper {
    padding: 0 !important;
    margin: 0 !important;
  }

  button mat-icon {
    overflow: visible;
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
    padding: 0 !important;
  }

  .mat-mdc-button-disabled {
    color: silver;
  }
}
