<div class="inline-number-wrapper">
  <span class="left" *ngIf="!isEditing">
    <a (click)="startEdit()" class="add" *ngIf="!value"> Add text </a>
    <span *ngIf="value">
      {{ value }}
    </span>
    <button *ngIf="value" class="edit-button" mat-icon-button (click)="startEdit()">
      <mat-icon class="edit-icon">edit</mat-icon>
    </button>
  </span>
  <div
    class="editing"
    [ngClass]="{
      hidden: !isEditing
    }"
  >
    <form>
      <mat-form-field appearance="outline">
        <input
          matInput
          class="editable"
          name="value"
          [placeholder]="placeholder"
          #editInput
          [(ngModel)]="pendingValue"
          (keydown.enter)="confirmEdit()"
          (keydown.escape)="cancelEdit()"
        />
      </mat-form-field>
    </form>
    <div class="button-container">
      <button mat-button (click)="cancelEdit()">CANCEL</button>
      <button mat-button class="save" [disabled]="required && !pendingValue" (click)="confirmEdit()">SAVE</button>
    </div>
  </div>
</div>
