@if (_applicationSubmission) {
  <div class="review-table">
    <div class="subheading2 grid-1">The governmental or prescribed public body that is applying to exclude land</div>
    <div class="grid-double">
      {{ _applicationSubmission.prescribedBody }}
    </div>
    <div class="subheading2 grid-1">How many hectares are you proposing to exclude?</div>
    <div class="grid-double">
      {{ _applicationSubmission.inclExclHectares }} @if (_applicationSubmission.inclExclHectares) {
      <span>ha</span>
    }
    @if (!_applicationSubmission.inclExclHectares) {
      <app-no-data [showRequired]="showErrors"></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">
    Does any land under application share a common property line with land in another Local or First Nation Government?
  </div>
  <div class="grid-double">
    @if (_applicationSubmission.exclShareGovernmentBorders !== null) {
      <span>
        {{ _applicationSubmission.exclShareGovernmentBorders ? 'Yes' : 'No' }}
      </span>
    }
    @if (_applicationSubmission.exclShareGovernmentBorders === null) {
      <app-no-data
        [showRequired]="showErrors"
      ></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    {{ _applicationSubmission.purpose }}
    @if (!_applicationSubmission.purpose) {
      <app-no-data [showRequired]="showErrors"></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Explain why you believe that the parcel(s) should be excluded from the ALR</div>
  <div class="grid-double">
    {{ _applicationSubmission.exclWhyLand }}
    @if (!_applicationSubmission.exclWhyLand) {
      <app-no-data [showRequired]="showErrors"></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    @for (map of proposalMap; track map) {
      <a class="mobile" (click)="downloadFile(map.documentUuid)">{{ map.fileName }}</a>
      <a class="desktop" routerLink="/document/{{ map.documentUuid }}" target="_blank">{{ map.fileName }}</a>
    }
    @if (proposalMap.length === 0) {
      <app-no-data [showRequired]="showErrors"></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Notice of Public Hearing (Advertisement)</div>
  <div class="grid-double">
    @for (file of noticeOfPublicHearing; track file) {
      <div>
        <a class="mobile" (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
        <a class="desktop" routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
      </div>
    }
    @if (noticeOfPublicHearing.length === 0) {
      <app-no-data [showRequired]="showErrors"></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Proof of Signage</div>
  <div class="grid-double">
    @for (file of proofOfSignage; track file) {
      <div>
        <a class="mobile" (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
        <a class="desktop" routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
      </div>
    }
    @if (proofOfSignage.length === 0) {
      <app-no-data [showRequired]="showErrors"></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Report of Public Hearing</div>
  <div class="grid-double">
    @for (file of reportOfPublicHearing; track file) {
      <div>
        <a class="mobile" (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
        <a class="desktop" routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
      </div>
    }
    @if (reportOfPublicHearing.length === 0) {
      <app-no-data [showRequired]="showErrors"></app-no-data>
    }
  </div>
  @if (showEdit) {
    <div class="edit-button">
      <button mat-flat-button (click)="onEditSection(5)" color="accent">Edit Section</button>
    </div>
  }
</div>
}
