@use '../../../styles/colors';
@use '../../../styles/typography';

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.search-form-field {
  width: 100%;
  margin-right: 32px;
}

:host::ng-deep {
  .search-bar {
    .mat-form-field-wrapper {
      padding: 0;
      margin: 0;
    }

    .mat-mdc-form-field {
      width: 100%;
    }
  }
}

.search-button {
  flex-shrink: 0;
  font-weight: 700 !important;
}

.search-input {
  flex-grow: 1;
  margin-right: 16px;
  font-size: 16px;
}

.main-panel-header {
  border: 2px solid colors.$white;
  border-radius: 5px;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.25);
  transition: all 100ms ease-in-out;

  &:hover {
    border-color: colors.$primary-color;
    background-color: unset !important;

    ::ng-deep .favorite-btn {
      visibility: visible;
      color: colors.$grey;
    }
  }
}

.meeting-header {
  box-shadow: 0 4px 8px 1px rgba(0, 36, 71, 0.15);
}

.main-panel {
  margin-bottom: 24px;
}

.main-panel:hover {
  .main-panel-description {
    visibility: visible;
    opacity: 0.6;
  }

  .main-panel-description.panel-favourite {
    opacity: 1;
  }
}

mat-panel-description {
  justify-content: flex-end;
}

.mat-expansion-panel-header-title {
  margin-right: 0;
  flex-basis: auto;
}

.main-panel-description {
  visibility: hidden;

  &.panel-favourite {
    visibility: visible;
  }
}

.main-panel-date {
  //FIX @extend typography, h4;
  color: colors.$black;

  mat-icon {
    margin-right: 8px;
  }
}

:host::ng-deep .mat-expansion-indicator::after {
  border-width: 0 4px 4px 0;
  padding: 5px;
  color: colors.$black;
}

.main-panel-no-meetings {
  //FIX @extend typography, h4;
  color: colors.$grey;
}

.meetings-container {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 31% 32% 31%;
  grid-column-gap: 3%;
  text-align: center;

  & > div {
    border-radius: 4px;
    padding: 16px 12px;

    & > mat-expansion-panel {
      margin: 16px 0;
    }
  }

  .previous-meetings {
    background-color: rgba(colors.$secondary-color-light, 0.8);

    .meeting-header-previous.mat-expansion-panel-header:hover {
      border: 2px solid colors.$secondary-color-dark;
      background-color: colors.$white;

      mat-panel-title {
        color: colors.$secondary-color-dark;
      }
    }

    .meeting-header-previous.mat-expansion-panel-header.mat-expanded {
      background-color: colors.$secondary-color-dark;

      &:hover {
        background-color: colors.$secondary-color;
        border-color: colors.$secondary-color;
      }

      mat-panel-title {
        color: colors.$white;
      }
    }

    .application-card:hover {
      border-color: colors.$secondary-color;
    }
  }

  .next-meeting {
    background-color: rgba(colors.$primary-color-light, 0.5);

    .meeting-header-next.mat-expansion-panel-header:hover {
      border: 2px solid colors.$primary-color;
      background-color: colors.$white;

      mat-panel-title {
        color: colors.$primary-color;
      }
    }

    .meeting-header-next.mat-expansion-panel-header.mat-expanded {
      background-color: colors.$primary-color-dark;

      &:hover {
        background-color: colors.$primary-color;
        border-color: colors.$primary-color;
      }

      mat-panel-title {
        color: colors.$white;
      }
    }

    .application-card:hover {
      border-color: colors.$primary-color;
    }
  }

  .upcoming-meetings {
    background-color: rgba(colors.$accent-color-light, 0.5);

    .meeting-header-upcoming.mat-expansion-panel-header:hover {
      border: 2px solid colors.$accent-color;
      background-color: colors.$white;

      mat-panel-title {
        color: colors.$accent-color;
      }
    }

    .meeting-header-upcoming.mat-expansion-panel-header.mat-expanded {
      background-color: colors.$accent-color-dark;

      &:hover {
        background-color: colors.$accent-color;
        border-color: colors.$accent-color;
      }

      mat-panel-title {
        color: colors.$white;
      }
    }

    .application-card:hover {
      border-color: colors.$accent-color;
    }
  }
}

:host::ng-deep .meeting-panel {
  margin-top: 16px;

  & > mat-expansion-panel-header {
    background: colors.$white;
    box-shadow: 0 4px 8px 1px rgba(0, 36, 71, 0.15);
  }

  .mat-panel-title {
    justify-content: center;
  }

  .mat-expansion-panel-body {
    padding: 16px 8px;
  }
}

@keyframes border-pulsate {
  0% {
    border-color: rgba(colors.$primary-color, 1);
  }
  50% {
    border-color: rgba(colors.$primary-color, 0.2);
  }
  100% {
    border-color: rgba(colors.$primary-color, 1);
  }
}

.application-card {
  margin-bottom: 16px;
  padding: 8px 16px;
  background-color: colors.$white;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border: solid 2px transparent;

  &:last-of-type {
    margin-bottom: unset;
  }

  &.application-highlighted {
    border: 5px solid rgba(colors.$primary-color, 0.5);
    animation: border-pulsate 2s infinite;
  }
}

.application-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.application-file {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    padding: 0 !important;
  }

  a {
    cursor: pointer;
  }
}

:host::ng-deep .mat-expansion-panel-body {
  background-color: colors.$grey-light;
}

.no-meetings {
  color: colors.$grey;
  font-style: italic;
  margin-top: 24px !important;
}

.previous-meetings,
.next-meeting,
.upcoming-meetings {
  min-width: 100%;
  width: 100%;

  mat-panel-title {
    width: 100%;
  }

  .ellipsis {
    white-space: nowrap;
    max-width: calc(100% - 48px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
