<div>
  <div class="search-bar">
    <mat-form-field class="search-form-field" appearance="outline">
      <mat-label>Search by File ID</mat-label>
      <input
        class="search-input"
        #searchInput
        (keyup.enter)="onSearch()"
        (focus)="searchInput.select()"
        [(ngModel)]="searchText"
        matInput
        type="text"
        placeholder="61251231"
      />
    </mat-form-field>
    <button class="search-button" (click)="onSearch()" mat-flat-button color="accent">
      <mat-icon>search</mat-icon>
      Search
    </button>
  </div>
  <mat-expansion-panel [(expanded)]="boardMeeting.isExpanded" class="main-panel" *ngFor="let boardMeeting of viewData">
    <mat-expansion-panel-header expandedHeight="80px" collapsedHeight="80px" class="main-panel-header">
      <mat-panel-title>
        <h3 class="center">
          <app-favorite-button
            class="center"
            [boardCode]="boardMeeting.boardCode"
            [isFavorite]="boardMeeting.isFavourite"
          ></app-favorite-button>
          {{ boardMeeting.boardTitle }}
        </h3>
      </mat-panel-title>
      <mat-panel-description
        class="main-panel-description"
        [ngClass]="{
          'panel-favourite': boardMeeting.isFavourite
        }"
      >
        <div class="main-panel-date center" *ngIf="boardMeeting.nextMeeting?.meetingDate">
          <mat-icon>event</mat-icon> {{ boardMeeting.nextMeeting!.meetingDate | momentFormat: customDateFormat }}
        </div>
        <span class="main-panel-no-meetings center" *ngIf="!boardMeeting.nextMeeting?.meetingDate">None Scheduled</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="meetings-container">
      <div class="previous-meetings">
        <h4>Previous Meetings</h4>
        <h5 *ngIf="!boardMeeting.pastMeetings.length" class="no-meetings">No Meetings</h5>
        <mat-expansion-panel
          class="meeting-panel"
          hideToggle="true"
          [(expanded)]="pastMeeting.isExpanded"
          *ngFor="let pastMeeting of boardMeeting.pastMeetings"
        >
          <mat-expansion-panel-header
            expandedHeight="54px"
            collapsedHeight="54px"
            class="meeting-header meeting-header-previous"
          >
            <mat-panel-title class="center">
              <h5>{{ pastMeeting.meetingDate | momentFormat: customDateFormat }}</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let application of pastMeeting.applications">
            <ng-template *ngTemplateOutlet="applicationPanel; context: { $implicit: application }"></ng-template>
          </ng-container>
        </mat-expansion-panel>
      </div>
      <div class="next-meeting">
        <h4>Next Meeting</h4>
        <h5 *ngIf="!boardMeeting.nextMeeting" class="no-meetings">No Meetings</h5>
        <mat-expansion-panel
          [(expanded)]="boardMeeting.nextMeeting.isExpanded"
          class="meeting-panel"
          hideToggle="true"
          *ngIf="boardMeeting.nextMeeting"
        >
          <mat-expansion-panel-header
            expandedHeight="54px"
            collapsedHeight="54px"
            class="meeting-header meeting-header-next"
          >
            <mat-panel-title class="center">
              <h5>{{ boardMeeting.nextMeeting!.meetingDate | momentFormat: customDateFormat }}</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let application of boardMeeting.nextMeeting!.applications">
            <ng-template *ngTemplateOutlet="applicationPanel; context: { $implicit: application }"></ng-template>
          </ng-container>
        </mat-expansion-panel>
      </div>
      <div class="upcoming-meetings">
        <h4>Scheduled Meetings</h4>
        <h5 *ngIf="!boardMeeting.upcomingMeetings.length" class="no-meetings">None Scheduled</h5>
        <mat-expansion-panel
          class="meeting-panel"
          hideToggle="true"
          [(expanded)]="upcomingMeeting.isExpanded"
          *ngFor="let upcomingMeeting of boardMeeting.upcomingMeetings"
        >
          <mat-expansion-panel-header
            expandedHeight="54px"
            collapsedHeight="54px"
            class="meeting-header meeting-header-upcoming"
          >
            <mat-panel-title class="center">
              <h5>{{ upcomingMeeting.meetingDate | momentFormat: customDateFormat }}</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let application of upcomingMeeting.applications">
            <ng-template *ngTemplateOutlet="applicationPanel; context: { $implicit: application }"></ng-template>
          </ng-container>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-expansion-panel>
</div>

<ng-template #applicationPanel let-application>
  <mat-expansion-panel
    class="application-panel"
    [ngClass]="{
      'application-highlighted': application.isHighlighted
    }"
    [(expanded)]="application.isExpanded"
    hideToggle="true"
  >
    <mat-expansion-panel-header
      (click)="clearHighlight()"
      class="application-header"
      expandedHeight="48px"
      collapsedHeight="48px"
    >
      <mat-panel-title id="{{ application.fileNumber }}" class="split">
        <div
          class="ellipsis"
          [id]="'title_' + application.fileNumber"
          matTooltipClass="no-wrap-tooltip"
          [matTooltip]="application.fileNumber + ' (' + application.applicant + ')'"
          [matTooltipDisabled]="!isEllipsisActive('title_' + application.fileNumber)"
        >
          {{ application.fileNumber }} ({{ application.applicant }})
        </div>
        <div>
          <app-avatar-circle
            *ngIf="application.assignee"
            [initials]="application.assignee.initials"
            [name]="application.assignee.name"
          ></app-avatar-circle>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="application-file" *ngFor="let file of application.files, let i = index">
      <a
        [id]="i + '_file'"
        class="ellipsis"
        [matTooltip]="file.fileName"
        [matTooltipDisabled]="!isEllipsisActive(i + '_file')"
        matTooltipClass="no-wrap-tooltip"
        (click)="onOpen(file.uuid, file.fileName)"
        onKeyPress =
        >{{ file.fileName }}</a
      >
      <div>
        <button mat-icon-button title="Download" (click)="onDownload(file.uuid, file.fileName)">
          <mat-icon>download</mat-icon>
        </button>
      </div>
    </div>
    <span *ngIf="application.files.length === 0"> No Files </span>
  </mat-expansion-panel>
</ng-template>
