@use '../../../../../styles/functions' as *;
@use '../../../../../styles/colors';

section {
  margin-top: rem(32);
}

.uploader {
  margin-top: rem(12);
}

h4 {
  margin-bottom: rem(8) !important;
}

.scrollable {
  overflow-x: auto;
}

.mat-mdc-table .mdc-data-table__row {
  height: rem(75);
}

.mat-mdc-form-field {
  width: 100%;
}

:host::ng-deep {
  .mdc-text-field--invalid {
    margin-top: rem(8);
  }
}

.no-data-text {
  text-align: center;
  color: colors.$grey-dark;
  padding-top: rem(12);
}

.actions-column {
  width: 15%;
}

.action-buttons-wrapper {
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
  align-items: center;
  height: rem(75);
}

.table-header {
  margin: rem(24) 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  .add-attachment-button-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: rem(16);
    margin-left: 0;
    width: 100%;

    button {
      width: 100%;
    }
  }

  @media screen and (min-width: $tabletBreakpoint) {
    .add-attachment-button-wrapper {
      margin-top: 0;
      width: auto;
      display: flex;
      align-items: center;

      button {
        width: auto;
      }
    }
  }
}
