<div class="step-description">
  <h2>Optional Attachments</h2>
  <p>
    Please upload any optional supporting documents. Where possible, provide KML/KMZ Google Earth files or GIS
    shapefiles and geodatabases.
  </p>
</div>
<section>
  <div class="table-header">
    <h5>Optional Attachments</h5>
    <div class="add-attachment-button-wrapper">
      <button mat-flat-button color="accent" (click)="onAddEditAttachment(undefined)">
        Add Attachment
      </button>
    </div>
  </div>
  <div class="scrollable">
    <table *ngIf="!isMobile" mat-table [dataSource]="otherFiles">
      <ng-container matColumnDef="fileName">
        <th mat-header-cell *matHeaderCellDef>File Name</th>
        <td mat-cell *matCellDef="let file">
          <a *ngIf="isMobile" (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
          <a *ngIf="!isMobile" routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">
          {{element.type?.label}}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">
          {{element.description}}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="actions-column">Action</th>
        <td mat-cell class="action-buttons-wrapper" *matCellDef="let element">
          <button (click)="onAddEditAttachment(element)" mat-stroked-button color="primary">Edit</button>
          <button (click)="onDeleteFile(element)" mat-stroked-button color="accent">Remove</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="no-data-text" colspan="6">
          No attachments added. 
          Use 'Add Attachment' button to the right to add your first attachment
        </td>
      </tr>
    </table>
    <div *ngIf="isMobile">
      <app-other-attachment-mobile-card
        *ngFor="let otherFile of otherFiles; let last = last"
        [file]="otherFile"
        [isLast]="last"
        (removeClicked)="onDeleteFile(otherFile)"
        (editClicked)="onAddEditAttachment(otherFile)"
      >
      </app-other-attachment-mobile-card>
      <div *ngIf="otherFiles.length === 0" class="no-data-text">No attachments added.</div>
    </div>
  </div>
</section>
<div class="button-container">
  <button (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
  <div>
    <button mat-stroked-button color="primary" (click)="onNavigateToStep(currentStep - 1)">
      Previous<span class="mobile-hidden"> Step</span>
    </button>
    <button mat-flat-button color="primary" (click)="onNavigateToStep(currentStep + 1)">
      Next<span class="mobile-hidden"> Step</span>
    </button>
  </div>
</div>
