@use '../../../../../../styles/colors.scss';

.content {
  height: 100%;
  color: colors.$black;
  margin-top: 24px;
}

.release-data {
  background-color: #FFF6E1;
  padding: 12px;
  margin: 12px;

  div {
    margin: 12px 0;
  }
}

:host::ng-deep {
  .mat-mdc-form-field-infix {
    display: flex;
  }
}
