<div mat-dialog-title>
  <h2 class="card-title">Confirm Release Decision</h2>
</div>
<mat-dialog-content style="height: 100%">
  <div class="grid">
    <p>
      This decision and document will be immediately visible to the Applicant and Local/First Nation Government. The
      decision will be visible to the Public after the prescribed amount of days is exhausted.
    </p>

    <ng-select
      appearance="outline"
      [items]="statuses"
      bindLabel="label"
      bindValue="code"
      required
      placeholder="Please select the portal status *"
      [clearable]="false"
      [(ngModel)]="selectedApplicationStatus"
    ></ng-select>

    <p>Applicant and Local/First Nation Government will receive an automatic email notification from the Portal.</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="button-container">
    <button mat-stroked-button color="primary" [mat-dialog-close]="false">Cancel</button>
    <button mat-flat-button color="primary" [disabled]="!selectedApplicationStatus" type="button" (click)="onRelease()">
      Release decision
    </button>
  </div>
</mat-dialog-actions>
