<div mat-dialog-title>
  <h4>Change Non-Adhering Residential Use Application Sub-Type</h4>
</div>

<div mat-dialog-content class="content">
  <div>
    <app-warning-banner>
      Changing application sub-type will remove content already saved to this page.<br />
      Do you want to continue?
    </app-warning-banner>

    <div class="step-controls">
      <button mat-stroked-button color="primary" (click)="onCancel()">cancel</button>
      <button mat-flat-button color="primary" (click)="onConfirm()">confirm</button>
    </div>
  </div>
</div>
