@use '../../../../../../../styles/functions' as *;

.margin-bottom-1 {
  margin-bottom: rem(16);
}

.step-controls {
  display: flex;
  justify-content: space-between;
}

.confirm-content {
  margin: rem(24) 0;
}

@media screen and (min-width: $desktopBreakpoint) {
  .step-controls {
    justify-content: flex-end;

    button {
      margin-left: rem(25) !important;
    }
  }
}
