<div class="{{ fillRow ? 'grid-3' : 'grid-2' }}">
  <div *ngIf="component.agCapMap">
    <div class="subheading2">Ag Cap Map</div>
    {{ component.agCapMap }}
    <app-no-data *ngIf="component.agCapMap === null || component.agCapMap === undefined"></app-no-data>
  </div>
  <div *ngIf="component.agCapConsultant">
    <div class="subheading2">Ag Cap Consultant</div>
    {{ component.agCapConsultant }}
    <app-no-data *ngIf="component.agCapConsultant === null || component.agCapConsultant === undefined"></app-no-data>
  </div>
</div>
