<div class="step-description">
  <h2>Proposal</h2>
  <p>
    Considerations are subject to
    <a> Section 6 of the ALC Act. </a>
  </p>
  <p>All fields are required unless stated optional.</p>
</div>
<app-warning-banner>
  Please consult the '
  <a href="https://www.alc.gov.bc.ca/application-and-notice-process/applications/what-the-commission-considers/" target="_blank">
    What the Commission Considers
  </a>
  ' page of the ALC website for more information.
</app-warning-banner>
<form [formGroup]="form">
  <div class="form-row">
    <div class="full-row">
      <label for="hectares">How many hectares are proposed for non-farm use? (hectares)</label>
      <mat-form-field appearance="outline">
        <input
          id="hectares"
          mask="separator.2"
          thousandSeparator=","
          separatorLimit="9999999999"
          min="0.01"
          matInput
          formControlName="hectares"
          placeholder="Type size in hectares"
        />
      </mat-form-field>
      <div *ngIf="hectares.invalid && (hectares.dirty || hectares.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="hectares.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label for="purpose">What is the purpose of the proposal?</label>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="purpose"
          #purposeText
          maxlength="4000"
          id="purpose"
          matInput
          class="comment-input"
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <span class="subtext">Characters left: {{ 4000 - purposeText.textLength }}</span>
      <div *ngIf="purpose.invalid && (purpose.dirty || purpose.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="purpose.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label for="outside-lands">
        Could this proposal be accommodated on lands outside of the ALR? Please justify why the proposal cannot be
        carried out on lands outside the ALR.
      </label>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="outsideLands"
          #outsideLandsText
          maxlength="4000"
          id="outside-lands"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <span class="subtext">Characters left: {{ 4000 - outsideLandsText.textLength }}</span>
      <div *ngIf="outsideLands.invalid && (outsideLands.dirty || outsideLands.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="outsideLands.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label for="agriculture-support">
        Does the proposal support agriculture in the short or long term? Please explain.
      </label>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="agricultureSupport"
          #agricultureSupportText
          maxlength="4000"
          id="agriculture-support"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <span class="subtext">Characters left: {{ 4000 - agricultureSupportText.textLength }}</span>
      <div
        *ngIf="agricultureSupport.invalid && (agricultureSupport.dirty || agricultureSupport.touched)"
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="agricultureSupport.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label for="will-import-fill">
        Do you need to import any fill to construct or conduct the proposed Non-farm use? Fill is any material brought
        onto the property, including gravel for construction.
      </label>
      <mat-button-toggle-group
        (change)="onChangeFill($event.value)"
        class="input"
        id="will-import-fill"
        formControlName="willImportFill"
      >
        <mat-button-toggle
          value="true"
          [ngClass]="{ 'error-outline': willImportFill.invalid && (willImportFill.dirty || willImportFill.touched) }"
          >Yes</mat-button-toggle
        >
        <mat-button-toggle
          value="false"
          [ngClass]="{ 'error-outline': willImportFill.invalid && (willImportFill.dirty || willImportFill.touched) }"
          >No</mat-button-toggle
        >
      </mat-button-toggle-group>
      <div *ngIf="willImportFill.invalid && (willImportFill.dirty || willImportFill.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="willImportFill.errors?.['required']">This field is required</div>
      </div>
    </div>
  </div>
  <section>
    <h3>Soil & Fill Components</h3>
    <div class="form-row">
      <div class="full-row">
        <label for="fillTypeDescription">Describe the type and amount of fill proposed to be placed.</label>
        <mat-form-field appearance="outline">
          <textarea
            formControlName="fillTypeDescription"
            #fillTypeDescriptionText
            maxlength="4000"
            id="fillTypeDescription"
            matInput
            placeholder="Type comment"
          ></textarea>
        </mat-form-field>
        <span class="subtext">Characters left: {{ 4000 - fillTypeDescriptionText.textLength }}</span>
        <div
          *ngIf="fillTypeDescription.invalid && (fillTypeDescription.dirty || fillTypeDescription.touched)"
          class="field-error"
        >
          <mat-icon>warning</mat-icon>
          <div *ngIf="fillTypeDescription.errors?.['required']">This field is required</div>
        </div>
      </div>
      <div class="full-row">
        <label for="fillOriginDescription">Briefly describe the origin and quality of fill.</label>
        <mat-form-field appearance="outline">
          <textarea
            formControlName="fillOriginDescription"
            #fillOriginDescriptionText
            maxlength="4000"
            id="fillOriginDescription"
            matInput
            placeholder="Type comment"
          ></textarea>
        </mat-form-field>
        <span class="subtext">Characters left: {{ 4000 - fillOriginDescriptionText.textLength }}</span>
        <div
          *ngIf="fillOriginDescription.invalid && (fillOriginDescription.dirty || fillOriginDescription.touched)"
          class="field-error"
        >
          <mat-icon>warning</mat-icon>
          <div *ngIf="fillOriginDescription.errors?.['required']">This field is required</div>
        </div>
      </div>
      <div class="full-row">
        <h4>Project Dimensions</h4>
      </div>
      <div>
        <label for="totalFillPlacement">Total fill placement area (ha)</label>
        <div>
          <mat-hint class="subtext">Enter area in hectares (ha) (Note: 0.01 ha is 100 m<sup>2</sup>)</mat-hint>
        </div>
        <mat-form-field appearance="outline">
          <input
            id="totalFillPlacement"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999"
            min="0.01"
            matInput
            formControlName="totalFillPlacement"
            placeholder="Type fill depth"
          />
        </mat-form-field>
        <div
          *ngIf="totalFillPlacement.invalid && (totalFillPlacement.dirty || totalFillPlacement.touched)"
          class="field-error"
        >
          <mat-icon>warning</mat-icon>
          <div *ngIf="totalFillPlacement.errors?.['required']">This field is required</div>
        </div>
      </div>
      <div>
        <label for="maxFillDepth">Maximum depth of material to be placed as fill</label>
        <div>
          <mat-hint class="subtext">Enter depth in meters (m)<sup>&nbsp;</sup></mat-hint>
        </div>
        <mat-form-field appearance="outline">
          <input
            id="maxFillDepth"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999"
            min="0.01"
            matInput
            formControlName="maxFillDepth"
            placeholder="Type placement area"
          />
        </mat-form-field>
        <div *ngIf="maxFillDepth.invalid && (maxFillDepth.dirty || maxFillDepth.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="maxFillDepth.errors?.['required']">This field is required</div>
        </div>
      </div>
      <div>
        <label for="fillVolume">Volume of material to be placed as fill</label>
        <div>
          <mat-hint class="subtext">Enter volume in cubic meters (m<sup>3</sup>) without a comma</mat-hint>
        </div>
        <mat-form-field appearance="outline">
          <input
            min="0.01"
            id="fillVolume"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999"
            matInput
            formControlName="fillVolume"
            placeholder="Type volume"
          />
        </mat-form-field>
        <div *ngIf="fillVolume.invalid && (fillVolume.dirty || fillVolume.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="fillVolume.errors?.['required']">This field is required</div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h4>Project Duration</h4>
    <div class="subtext">
      Estimated duration of the project. Both the Years and Months fields must be entered. If your project is less than
      1 year, enter 0 in the Years field.
    </div>
    <div class="form-row">
      <div>
        <label for="projectDurationAmount">Length</label>
        <mat-form-field appearance="outline">
          <input
            id="projectDurationAmount"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999"
            min="0.01"
            matInput
            formControlName="projectDurationAmount"
            placeholder="Type length as a decimal number"
          />
        </mat-form-field>
        <div
          *ngIf="projectDurationAmount.invalid && (projectDurationAmount.dirty || projectDurationAmount.touched)"
          class="field-error"
        >
          <mat-icon>warning</mat-icon>
          <div *ngIf="projectDurationAmount.errors?.['required']">This field is required</div>
        </div>
      </div>
      <div>
        <label for="projectDurationUnit">Unit</label>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Select one" id="projectDurationUnit" formControlName="projectDurationUnit">
            <mat-option value="days">Days</mat-option>
            <mat-option value="months">Months</mat-option>
            <mat-option value="years">Years</mat-option>
          </mat-select>
        </mat-form-field>
        <div
          *ngIf="projectDurationUnit.invalid && (projectDurationUnit.dirty || projectDurationUnit.touched)"
          class="field-error"
        >
          <mat-icon>warning</mat-icon>
          <div *ngIf="projectDurationUnit.errors?.['required']">This field is required</div>
        </div>
      </div>
    </div>
  </section>
</form>
<div class="button-container">
  <button (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
  <div>
    <button mat-stroked-button color="primary" (click)="onNavigateToStep(currentStep - 1)">
      Previous<span class="mobile-hidden"> Step</span>
    </button>
    <button mat-flat-button color="primary" (click)="onNavigateToStep(currentStep + 1)">
      Next<span class="mobile-hidden"> Step</span>
    </button>
  </div>
</div>
