@use '../styles/functions.scss' as *;
@use '../styles/typography.scss';

:host {
  width: 100%;
  height: 100%;
}

.site-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  div {
    flex-grow: 0;
  }

  div.main-content {
    flex-grow: 1;
    margin: rem(8) rem(24);

    @media screen and (min-width: $tabletBreakpoint) {
      margin: rem(12) rem(36) !important;
    }

    // TODO: this is just a placeholder and will be addressed later
    @media screen and (min-width: $desktopBreakpoint) {
      margin: rem(18) rem(80) !important;
    }
  }
}
