@import '../styles/functions.scss';
@import '../styles/typography.scss';

:host {
  width: 100%;
  height: 100%;
}

.site-layout {
  height: 100%;
  display: flex;
  flex-direction: column;

  div {
    flex-grow: 0;
  }

  div.main-content {
    flex-grow: 1;
    overflow: auto;
    margin: rem(8) rem(24);

    // TODO: this is just a placeholder and will be addressed later
    @media screen and (min-width: $tabletBreakpoint) {
      margin: rem(18) rem(80) !important;
    }
  }
}
