@import '../../../styles/colors.scss';

:host {
  --circle-size: clamp(1rem, 2.5vw, 1.5rem);
  --spacing: clamp(0.25rem, 1vw, 0.5rem);
}

.stepper {
  display: flex;
  counter-reset: li; /* Initiate a counter */
  margin-left: 0; /* Remove the default left margin */
  padding-left: 0; /* Remove the default left padding */

  .step.activeClass {
    &:before {
      color: white;
      background-color: $primary-color;
      // opacity: 0.5;
      margin: 0 auto 1rem;
    }
  }

  .step {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;

    &:hover {
      background-color: rgb(245, 245, 245);
      border-radius: 4px;
    }

    &:before {
      --size: 3rem;
      content: counter(li);
      counter-increment: li;
      display: block;
      width: var(--circle-size);
      height: var(--circle-size);
      border-radius: 50%;
      border: 1px solid $primary-color-dark;
      color: $primary-color-dark;
      // background-color: red;
      // opacity: 0.5;
      margin: 0 auto 1rem;
    }

    &:not(:last-child) {
      &:after {
        content: '';
        position: relative;
        top: calc(var(--circle-size) / 2);
        width: calc(100% - var(--circle-size));
        left: calc(50% + calc(var(--circle-size) / 2));
        height: 2px;
        background-color: $primary-color-dark;
        order: -1;
      }
    }
  }
}
