<div>
  <div class="step-description">
    <h3>Identify Parcel(s) Under the Statutory Right of Way</h3>
    <p>Provide parcel identification information for each parcel under the SRW.</p>
    <p>*All fields are required unless stated optional.</p>
  </div>
  <mat-expansion-panel
    *ngFor="let parcel of parcels; let parcelInd = index"
    [expanded]="
      parcels.length === 1 || (newParcelAdded && parcelInd === parcels.length - 1) || parcel.uuid === expandedParcel
    "
    (opened)="openParcel(parcel.uuid)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class='subheading1'>Parcel #{{ parcelInd + 1 }} Details</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-notification-parcel-entry
      [parcel]="parcel"
      [fileId]="fileId"
      [submissionUuid]="submissionUuid"
      [showErrors]="showErrors"
      (onFormGroupChange)="onParcelFormChange($event)"
    ></app-notification-parcel-entry>

    <div>
      <div class="flex-evenly-wrap parcel-buttons-wrappers">
        <button class="margin-top-1-half" mat-stroked-button color="primary" (click)="onSave()">
          Save Parcel #{{ parcelInd + 1 }} Details
        </button>
        <button
          class="margin-top-1-half"
          *ngIf="parcels.length > 1"
          mat-stroked-button
          color="accent"
          (click)="onDelete(parcel.uuid, parcelInd + 1)"
        >
          Delete Parcel #{{ parcelInd + 1 }} Details
        </button>
      </div>
    </div>
  </mat-expansion-panel>

  <div>
    <button mat-stroked-button color="primary" (click)="onAddParcel()">Add another parcel</button>
  </div>

  <div class="button-container">
    <button (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
    <div>
      <div></div>
      <button mat-flat-button color="primary" (click)="onNavigateToStep(currentStep + 1)">
        Next<span class="mobile-hidden"> Step</span>
      </button>
    </div>
  </div>
</div>
