<div>
  <div class="step-description">
    <h2>Identify Parcels Under Application</h2>
    <p>Provide parcel identification and registered ownership information for each parcel under application.</p>
    <p>*All fields are required unless stated optional.</p>
    <div class="step-documents">
      <h6>Documents needed for this step:</h6>
      <ul>
        <li>Certificate of Title</li>
        <li>Corporate Summary (if applicable)</li>
      </ul>
    </div>
  </div>
  <mat-expansion-panel
    *ngFor="let parcel of parcels; let parcelInd = index"
    [expanded]="
      parcels.length === 1 || (newParcelAdded && parcelInd === parcels.length - 1) || parcel.uuid === expandedParcel
    "
    (opened)="openParcel(parcel.uuid)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Parcel #{{ parcelInd + 1 }}</mat-panel-title>
    </mat-expansion-panel-header>

    <app-parcel-entry
      [isDraft]="draftMode"
      [parcel]="parcel"
      [$owners]="$owners"
      [fileId]="fileId"
      [submissionUuid]="submissionUuid"
      [showErrors]="showErrors"
      (onFormGroupChange)="onParcelFormChange($event)"
      (onOwnersUpdated)="onOwnersUpdated()"
    ></app-parcel-entry>

    <div>
      <div class="flex-evenly-wrap parcel-buttons-wrappers">
        <button class="margin-top-1-half" mat-stroked-button color="primary" (click)="onSave()">
          Save Parcel #{{ parcelInd + 1 }}
        </button>
        <button
          class="margin-top-1-half"
          *ngIf="parcels.length > 1"
          mat-stroked-button
          color="accent"
          (click)="onDelete(parcel.uuid, parcelInd + 1)"
        >
          Delete Parcel #{{ parcelInd + 1 }}
        </button>
      </div>
    </div>
  </mat-expansion-panel>

  <div>
    <button mat-stroked-button color="primary" (click)="onAddParcel()">Add another parcel to the application</button>
  </div>

  <div class="button-container">
    <button *ngIf="!draftMode" (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
    <button *ngIf="draftMode" (click)="onSaveExit()" mat-stroked-button color="accent">Discard all Changes</button>
    <div>
      <div></div>
      <button mat-flat-button color="primary" (click)="onNavigateToStep(currentStep + 1)">
        Next<span class="mobile-hidden"> Step</span>
      </button>
    </div>
  </div>
</div>
