<h2>Plans & Bylaws: OCP</h2>
<div>
  <div class="description">
    <div>Provide information about applicable Official Community Plan (OCP)</div>
    <div>
      <button class="save-button" (click)="onSave()" mat-flat-button color="primary">Save Progress</button>
    </div>
  </div>
  <form [formGroup]="ocpForm">
    <div class="form-row">
      <div class="full-row">
        <label for="is-ocp">Is the application parcel(s) subject to a Local Government OCP designation?</label>
        <div class="subtext">
          Note: Selecting “Yes” in the following field will display mandatory OCP designation questions that must be
          answered.
        </div>
        <mat-button-toggle-group
          class="input"
          (change)="onChangeDesignation($event)"
          id="is-ocp"
          formControlName="isOCPDesignation"
        >
          <mat-button-toggle value="true">Yes</mat-button-toggle>
          <mat-button-toggle value="false">No</mat-button-toggle>
        </mat-button-toggle-group>
        <div *ngIf="isOCPDesignation.getRawValue() === null && showErrors" class="field-error">
          <mat-icon>warning</mat-icon>
          <div>This field is required</div>
        </div>
      </div>
      <div>
        <label for="bylaw-name">OCP Bylaw Name</label>
        <mat-form-field class="input" appearance="outline">
          <input id="bylaw-name" matInput placeholder="Type OCP Bylaw Name" formControlName="OCPBylawName" />
        </mat-form-field>
        <div *ngIf="OCPBylawName.invalid && (OCPBylawName.dirty || OCPBylawName.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="OCPBylawName.errors?.['required']">This field is required</div>
        </div>
      </div>
      <div>
        <label for="designation">OCP Designation</label>
        <mat-form-field class="input" appearance="outline">
          <input id="designation" matInput placeholder="Type OCP Designation" formControlName="OCPDesignation" />
        </mat-form-field>
        <div *ngIf="OCPDesignation.invalid && (OCPDesignation.dirty || OCPDesignation.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="OCPDesignation.errors?.['required']">This field is required</div>
        </div>
      </div>
      <div class="full-row">
        <label for="is-consistent">Is this proposal consistent with the current OCP designation?</label>
        <mat-button-toggle-group class="input" id="is-consistent" formControlName="isOCPConsistent">
          <mat-button-toggle value="true">Yes</mat-button-toggle>
          <mat-button-toggle value="false">No</mat-button-toggle>
        </mat-button-toggle-group>
        <div
          *ngIf="isOCPConsistent.getRawValue() === null && showErrors && !isOCPConsistent.disabled"
          class="field-error"
        >
          <mat-icon>warning</mat-icon>
          <div>This field is required</div>
        </div>
      </div>
    </div>
  </form>
  <div class="button-container">
    <button (click)="onExit()" mat-stroked-button color="accent">Save and Exit</button>
    <div>
      <button mat-stroked-button color="primary" (click)="onNavigateToStep(currentStep - 1)">
        Previous<span class="mobile-hidden"> Step</span>
      </button>
      <button mat-flat-button color="primary" (click)="onNavigateToStep(currentStep + 1)">
        Next<span class="mobile-hidden"> Step</span>
      </button>
    </div>
  </div>
</div>
