<form [formGroup]="parcelForm" (keydown.enter)="$event.preventDefault()">
  <div class="type">
    <label>Select ownership type:</label>
    <div class="warning">
      The answer to the following question will change the rest of the notice of intent form. Do not change this answer
      once selected.
    </div>
    <mat-button-toggle-group
      class="input"
      (change)="onChangeParcelType($event)"
      id="parcelType"
      formControlName="parcelType"
    >
      <mat-button-toggle
        value="{{ PARCEL_OWNERSHIP_TYPES.FEE_SIMPLE }}"
        [ngClass]="{ 'error-outline': parcelType.invalid && (parcelType.dirty || parcelType.touched) }"
        >Fee Simple</mat-button-toggle
      >
      <mat-button-toggle
        value="{{ PARCEL_OWNERSHIP_TYPES.CROWN }}"
        [ngClass]="{ 'error-outline': parcelType.invalid && (parcelType.dirty || parcelType.touched) }"
        >Crown</mat-button-toggle
      >
    </mat-button-toggle-group>
    <div *ngIf="parcelType.invalid && (parcelType.dirty || parcelType.touched)" class="field-error">
      <mat-icon>warning</mat-icon>
      <div *ngIf="parcelType.errors?.['required']">This field is required</div>
    </div>
  </div>

  <h5>Parcel Lookup</h5>
  <div class="form-row">
    <div class="full-row pmbc-search">
      <label *ngIf="!isCrownLand" for="lookup-pid">Enter PID to auto-fill parcel details</label>
      <label *ngIf="isCrownLand" for="lookup-pid">Enter PID or PIN to auto-fill parcel details</label>
      <div class="subtext">Please ensure the auto-filled information is accurate by comparing with your records</div>
      <div>
        <div class="lookup-pid-fields">
          <mat-form-field class="lookup-search-by" *ngIf="isCrownLand" appearance="outline">
            <mat-select [formControl]="searchBy" (valueChange)="onChangeSearchBy($event)" placeholder="Search by ...">
              <mat-option value="pid">Search by PID</mat-option>
              <mat-option value="pin">Search by PIN</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="lookup-input" appearance="outline">
            <input id="lookup-pid" matInput [placeholder]="pidPinPlaceholder" formControlName="pidPin" />
          </mat-form-field>
          <button
            class="lookup-search-button"
            mat-flat-button
            color="primary"
            (click)="onSearch()"
            [disabled]="!parcelType.getRawValue() || _disabled || (!!isCrownLand && !searchBy.getRawValue())"
          >
            Search
          </button>
        </div>
        <div class="lookup-bottom-row">
          <button class="reset-button" mat-stroked-button color="accent" (click)="onReset()" [disabled]="_disabled">
            Reset
          </button>
          <span class="float-right">Powered by PMBC!</span>
        </div>
      </div>
    </div>

    <div class="full-row">
      <label for="legal-description">Legal Description</label>
      <div class="subtext">Can be found on the parcel's Certificate of Title</div>
      <mat-form-field class="full-width-input" appearance="outline">
        <input
          id="legal-description"
          matInput
          placeholder="Enter legal description"
          formControlName="legalDescription"
        />
      </mat-form-field>
      <div *ngIf="legalDescription.invalid && (legalDescription.dirty || legalDescription.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="legalDescription.errors?.['required']">This field is required</div>
      </div>
    </div>

    <div>
      <label for="map-area">Approx. Map Area (Hectares)</label>
      <div class="subtext">The area of the entire parcel in hectares, not just the area under application.</div>
      <mat-form-field class="full-width-input" appearance="outline">
        <input
          id="map-area"
          mask="separator.2"
          thousandSeparator=","
          separatorLimit="9999999999"
          matInput
          placeholder="Enter parcel size"
          formControlName="mapArea"
        />
      </mat-form-field>
      <div *ngIf="mapArea.invalid && (mapArea.dirty || mapArea.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="mapArea.errors?.['required']">This field is required</div>
      </div>
    </div>

    <div>
      <label for="pid">PID <span *ngIf="isCrownLand">(optional)</span></label>
      <mat-form-field class="full-width-input" appearance="outline">
        <input id="pid" matInput placeholder="Enter PID" formControlName="pid" maxlength="11" mask="000-000-000" />
      </mat-form-field>
      <div *ngIf="pid.invalid && (pid.dirty || pid.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="pid.errors?.['required']">This field is required</div>
        <div *ngIf="pid.errors?.['mask']">Invalid format</div>
      </div>
    </div>

    <div class="full-row" *ngIf="isCrownLand">
      <label for="pin">PIN (optional)</label>
      <mat-form-field class="full-width-input" appearance="outline">
        <input id="pin" matInput placeholder="Enter PIN" formControlName="pin" />
      </mat-form-field>
    </div>

    <div class="full-row" *ngIf="!isCrownLand">
      <label for="purchase-date">Parcel Purchase Date</label>
      <mat-form-field (click)="purchaseDatePicker.open()" class="full-width-input date-picker" appearance="outline">
        <input
          id="purchase-date"
          matInput
          [matDatepicker]="purchaseDatePicker"
          formControlName="purchaseDate"
          [max]="maxPurchasedDate"
          [placeholder]="isCrownLand ? 'Fee Simple Only' : 'YYYY-MMM-DD'"
        />
        <mat-datepicker-toggle matIconSuffix [for]="purchaseDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #purchaseDatePicker startView="multi-year"></mat-datepicker>
      </mat-form-field>
      <div *ngIf="purchaseDate.invalid && (purchaseDate.dirty || purchaseDate.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="purchaseDate.errors?.['required']">This field is required</div>
      </div>
      <div>
        <mat-hint class="subtext"> Example: 2020-Mar-01 </mat-hint>
      </div>
    </div>

    <div class="full-row">
      <label for="isFarm">Farm Classification</label>
      <div class="subtext">
        As determined by
        <a class="subtext" href="https://www.bcassessment.ca/" target="_blank" rel="noreferrer">BC Assessment</a>
      </div>
      <mat-button-toggle-group class="input" id="isFarm" formControlName="isFarm">
        <mat-button-toggle
          value="true"
          [ngClass]="{ 'error-outline': isFarm.invalid && (isFarm.dirty || isFarm.touched) }"
          >Yes</mat-button-toggle
        >
        <mat-button-toggle
          value="false"
          [ngClass]="{ 'error-outline': isFarm.invalid && (isFarm.dirty || isFarm.touched) }"
          >No</mat-button-toggle
        >
      </mat-button-toggle-group>
      <div *ngIf="showErrors && isFarm.invalid && (isFarm.dirty || isFarm.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="isFarm.errors?.['required']">This field is required</div>
      </div>
    </div>

    <div class="full-row">
      <label for="civicAddress">Civic Address</label>
      <mat-form-field class="full-width-input" appearance="outline">
        <input id="civicAddress" matInput placeholder="Enter Address" formControlName="civicAddress" />
      </mat-form-field>
      <div *ngIf="civicAddress.invalid && (civicAddress.dirty || civicAddress.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="civicAddress.errors?.['required']">This field is required</div>
      </div>
    </div>
  </div>

  <div class="section" *ngIf="enableCertificateOfTitleUpload">
    <label for="certificate-of-title-upload">Upload Certificate of Title</label>
    <app-file-drag-drop
      id="certificate-of-title-upload"
      [uploadedFiles]="parcel.certificateOfTitle ? [parcel.certificateOfTitle] : []"
      (uploadFiles)="attachFile($event, parcel.uuid)"
      (deleteFile)="deleteFile($event)"
      (openFile)="openFile($event)"
      (beforeFileUploadOpened)="beforeFileUploadOpened()"
      [showErrors]="showErrors"
      [isRequired]="isCertificateOfTitleRequired"
    ></app-file-drag-drop>
  </div>

  <section *ngIf="enableOwners" class="container">
    <h6>Owner Information</h6>
    <ng-container *ngIf="!isCrownLand">
      <p>Provide the following information for all owners listed on the parcel's Certificate of Title</p>
      <label for="owner-search">Add Owner to Parcel</label>
      <mat-form-field class="full-width-input" appearance="outline">
        <input
          [ngClass]="{ 'error-outline': ownerInput.errors && ownerInput.errors['required'] && !ownerInput.disabled }"
          id="owner-search"
          type="text"
          aria-label="Text"
          matInput
          placeholder="Type owner name"
          [matAutocomplete]="auto"
          (input)="onTypeOwner($event)"
          [formControl]="ownerInput"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            (click)="onSelectOwner(option, option.isSelected)"
            *ngFor="let option of filteredOwners"
            [disabled]="option.isSelected"
          >
            <div class="owner-option">
              <div>{{ option.displayName }}</div>
              <button mat-flat-button color="primary" [disabled]="option.isSelected">
                {{ option.isSelected ? 'Added' : 'Add' }}
              </button>
            </div>
          </mat-option>
          <mat-option class="option" *ngIf="filteredOwners.length === 0 && enableAddNewOwner" (click)="onAddNewOwner()">
            <div class="owner-option">
              <div>No owner matching search</div>
              <button mat-flat-button color="primary">Add new owner</button>
            </div>
          </mat-option>
          <mat-option class="option" *ngIf="owners.length > 0" (click)="onSeeAllOwners()">
            <span class="link-text">See all Owners</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div *ngIf="ownerInput.errors && ownerInput.errors['required'] && !ownerInput.disabled" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="ownerInput.errors?.['required']">This field is required</div>
      </div>
      <button
        class="new-owner"
        *ngIf="enableAddNewOwner"
        (click)="onAddNewOwner()"
        mat-stroked-button
        color="primary"
        [disabled]="_disabled"
      >
        Add new owner
      </button>
      <div>
        <app-parcel-owners
          [isDraft]="isDraft"
          [fileId]="fileId"
          [submissionUuid]="submissionUuid"
          [parcelUuid]="parcel.uuid"
          [owners]="parcel.owners"
          (onOwnersUpdated)="onOwnersUpdated.emit()"
          (onOwnerRemoved)="onOwnerRemoved($event)"
          [ownerService]="noticeOfIntentOwnerService"
          [documentService]="noticeOfIntentDocumentService"
          [disabled]="_disabled"
        ></app-parcel-owners>
      </div>
    </ng-container>
    <ng-container *ngIf="isCrownLand">
      <div>
        <label for="crown-owner-type">Select owner:</label>
      </div>
      <mat-radio-group
        formControlName="crownLandOwnerType"
        class="crown-owner-type"
        id="crown-owner-type"
        aria-label="Select an Owner"
      >
        <mat-radio-button value="provincial">Provincial Crown</mat-radio-button>
        <mat-radio-button value="federal">Federal Crown</mat-radio-button>
        <div *ngIf="showErrors && !crownLandOwnerType.getRawValue()" class="field-error">
          <mat-icon>warning</mat-icon>
          <div>This field is required</div>
        </div>
      </mat-radio-group>
      <mat-form-field class="full-width-input" appearance="outline">
        <input
          id="government-search"
          type="text"
          aria-label="Text"
          matInput
          placeholder="Search by Ministry or Department"
          [matAutocomplete]="auto"
          (input)="onTypeOwner($event)"
          [formControl]="ownerInput"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            (click)="onSelectOwner(option, option.isSelected)"
            *ngFor="let option of filteredOwners"
            [disabled]="option.isSelected"
          >
            <div class="owner-option">
              <div>{{ option.displayName }}</div>
              <button mat-flat-button color="primary" [disabled]="option.isSelected">
                {{ option.isSelected ? 'Added' : 'Add' }}
              </button>
            </div>
          </mat-option>
          <mat-option
            class="option"
            *ngIf="filteredOwners.length === 0 && enableAddNewOwner"
            (click)="onAddNewGovernmentContact()"
          >
            <div class="owner-option">
              <div>No owner matching search</div>
              <button mat-flat-button color="primary">Add new government contact</button>
            </div>
          </mat-option>
          <mat-option class="option" *ngIf="owners.length > 0" (click)="onSeeAllOwners()">
            <span class="link-text">See all Owners</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div *ngIf="ownerInput.errors && ownerInput.errors['required']" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="ownerInput.errors?.['required']">This field is required</div>
      </div>
      <button
        class="new-owner"
        *ngIf="enableAddNewOwner"
        (click)="onAddNewGovernmentContact()"
        mat-stroked-button
        color="primary"
        [disabled]="_disabled || parcel.owners.length > 0"
      >
        Add new government contact
      </button>
      <div>
        <!--        <app-parcel-owners-->
        <!--          [fileId]="fileId"-->
        <!--          [submissionUuid]="submissionUuid"-->
        <!--          [parcelUuid]="parcel.uuid"-->
        <!--          [owners]="parcel.owners"-->
        <!--          (onOwnersUpdated)="onOwnersUpdated.emit()"-->
        <!--          (onOwnerRemoved)="onOwnerRemoved($event)"-->
        <!--          [disabled]="_disabled"-->
        <!--          [isCrown]="true"-->
        <!--        ></app-parcel-owners>-->
      </div>
    </ng-container>
  </section>
  <mat-checkbox
    *ngIf="enableUserSignOff"
    formControlName="isConfirmedByApplicant"
    [ngClass]="{
      'parcel-checkbox': true,
      'error-outline':
        enableUserSignOff &&
        isConfirmedByApplicant.invalid &&
        (isConfirmedByApplicant.dirty || isConfirmedByApplicant.touched)
    }"
    >I confirm that the owner information provided above matches the current Certificate of Title. Mismatched
    information can cause significant delays to processing time.
  </mat-checkbox>
  <div
    *ngIf="
      enableUserSignOff &&
      isConfirmedByApplicant.invalid &&
      (isConfirmedByApplicant.dirty || isConfirmedByApplicant.touched)
    "
    class="field-error"
  >
    <mat-icon>warning</mat-icon>
    <div *ngIf="isConfirmedByApplicant.errors?.['required']">This field is required</div>
  </div>
</form>
