<div class="step-description">
  <h2>Government</h2>
  <p>Please indicate the local or First Nation government in which the parcel(s) are located.</p>
  <p>*All fields are required unless stated optional or disabled.</p>
</div>
<form [formGroup]="form">
  <div class="form-row">
    <div class="full-row">
      <label for="government">Local or First Nation Government</label>
      <mat-form-field appearance="outline" class="full-width-input">
        <input
          (blur)="onBlur()"
          [matAutocomplete]="auto"
          formControlName="localGovernment"
          id="government"
          matInput
          placeholder="Type government"
          type="text"
          />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onChange($event)">
          @for (option of filteredLocalGovernments | async; track option) {
            <mat-option [value]="option.name">
              {{ option.name }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      @if (
        localGovernment.errors &&
        localGovernment.errors['required'] &&
        (localGovernment.dirty || localGovernment.touched)
        ) {
        <div
          class="field-error"
          >
          <mat-icon>warning</mat-icon>
          @if (localGovernment.errors?.['required']) {
            <div>This field is required</div>
          }
        </div>
      }
    </div>
  </div>
</form>
@if (showWarning) {
  <app-warning-banner class="full-row">
    This local/First Nation government is not set up with the ALC Portal to receive submissions. You can continue to fill
    out the form but you will be unable to submit. Please contact the ALC directly as soon as possible: &nbsp;<a
    href="mailto:ALC.Portal@gov.bc.ca"
    >ALC.Portal&#64;gov.bc.ca</a
    >&nbsp;/&nbsp;<a href="tel:236-468-3342">236-468-3342</a>
  </app-warning-banner>
}
<p>
  Please Note: If your Local or First Nation Government is not listed, please contact the ALC directly.
  <a href="mailto:ALC.Portal@gov.bc.ca">ALC.Portal&#64;gov.bc.ca</a> / <a href="tel:236-468-3342">236-468-3342</a>
</p>
<div class="button-container">
  @if (!draftMode) {
    <button (click)="onSaveExit()" color="accent" mat-stroked-button>Save and Exit</button>
  }
  @if (draftMode) {
    <button (click)="onSaveExit()" color="accent" mat-stroked-button>Discard all Changes</button>
  }
  <div>
    <button (click)="onNavigateToStep(currentStep - 1)" color="primary" mat-stroked-button>
      Previous<span class="mobile-hidden"> Step</span>
    </button>
    <button (click)="onNavigateToStep(currentStep + 1)" color="primary" mat-flat-button>
      Next<span class="mobile-hidden"> Step</span>
    </button>
  </div>
</div>
