<div
  class="container"
  [ngClass]="{
    'double-table': !!data2
  }"
>
  <form [formGroup]="form">
    <div
      class="soil-table"
      [ngClass]="{
        'double-table': !!data2
      }"
    >
      <div></div>
      <div>
        <span class="subheading1">{{ tableHeader }}</span>
      </div>
      <div *ngIf="!!data2">
        <span class="subheading1">{{ tableHeader2 }}</span>
      </div>

      <div class="label">
        <label for="volume">Volume</label>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <input
            min="0.01"
            id="volume"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999"
            matInput
            formControlName="volume"
            onfocus="this.select()"
          />
          <span matTextSuffix>m<sup>3</sup></span>
        </mat-form-field>
        <div *ngIf="volume.invalid && (volume.dirty || volume.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="volume.errors?.['required']">This field is required</div>
        </div>
      </div>
      <div *ngIf="data2">
        <mat-form-field appearance="outline">
          <input
            min="0.01"
            id="volume2"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999"
            matInput
            formControlName="volume2"
            onfocus="this.select()"
          />
          <span matTextSuffix>m<sup>3</sup></span>
        </mat-form-field>
        <div *ngIf="volume2.invalid && (volume2.dirty || volume2.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="volume2.errors?.['required']">This field is required</div>
        </div>
      </div>

      <div class="label">
        <label for="area">Area</label>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <input
            min="0.01"
            id="area"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999"
            matInput
            formControlName="area"
            onfocus="this.select()"
          />
          <span matTextSuffix>m<sup>2</sup></span>
        </mat-form-field>
        <div *ngIf="area.invalid && (area.dirty || area.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="area.errors?.['required']">This field is required</div>
        </div>
      </div>
      <div *ngIf="!!data2">
        <mat-form-field appearance="outline">
          <input
            min="0.01"
            id="area2"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999"
            matInput
            formControlName="area2"
            onfocus="this.select()"
          />
          <span matTextSuffix>m<sup>2</sup></span>
        </mat-form-field>
        <div *ngIf="area2.invalid && (area2.dirty || area2.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="area2.errors?.['required']">This field is required</div>
        </div>
      </div>

      <div class="label">
        <label for="volume">Maximum Depth</label>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <input
            min="0.01"
            id="maximumDepth"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999"
            matInput
            formControlName="maximumDepth"
            onfocus="this.select()"
          />
          <span matTextSuffix>m</span>
        </mat-form-field>
        <div *ngIf="maximumDepth.invalid && (maximumDepth.dirty || maximumDepth.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="maximumDepth.errors?.['required']">This field is required</div>
        </div>
      </div>
      <div *ngIf="!!data2">
        <mat-form-field appearance="outline">
          <input
            min="0.01"
            id="maximumDepth2"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999"
            matInput
            formControlName="maximumDepth2"
            onfocus="this.select()"
          />
          <span matTextSuffix>m</span>
        </mat-form-field>
        <div *ngIf="maximumDepth2.invalid && (maximumDepth2.dirty || maximumDepth2.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="maximumDepth2.errors?.['required']">This field is required</div>
        </div>
      </div>

      <div class="label">
        <label for="volume">Average Depth</label>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <input
            min="0.01"
            id="averageDepth"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999"
            matInput
            formControlName="averageDepth"
            onfocus="this.select()"
          />
          <span matTextSuffix>m</span>
        </mat-form-field>
        <div *ngIf="averageDepth.invalid && (averageDepth.dirty || averageDepth.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="averageDepth.errors?.['required']">This field is required</div>
        </div>
      </div>
      <div *ngIf="!!data2">
        <mat-form-field appearance="outline">
          <input
            min="0.01"
            id="averageDepth2"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999"
            matInput
            formControlName="averageDepth2"
            onfocus="this.select()"
          />
          <span matTextSuffix>m</span>
        </mat-form-field>
        <div *ngIf="averageDepth2.invalid && (averageDepth2.dirty || averageDepth2.touched)" class="field-error">
          <mat-icon>warning</mat-icon>
          <div *ngIf="averageDepth2.errors?.['required']">This field is required</div>
        </div>
      </div>
    </div>
  </form>
</div>
