<section>
  <div class="row">
    <h5>Decision Components</h5>
  </div>

  <div class="component" *ngFor="let component of components; let index = index; trackBy: trackByFn">
    <app-decision-component
      [(data)]="components[index]"
      [codes]="codes"
      (dataChange)="onChange()"
    ></app-decision-component>
    <div class="row">
      <button type="button" class="remove-button" mat-stroked-button color="warn" (click)="onRemove(index)">
        Remove Component
      </button>
    </div>
  </div>

  <div class="row">
    <div>
      <button
        [ngClass]="{ 'error-field-outlined ng-invalid': showError }"
        type="button"
        [matMenuTriggerFor]="decisionComponentMenu"
        mat-stroked-button
        color="primary"
      >
        ADD Decision component ▾
      </button>
      <app-error-message *ngIf="showError"></app-error-message>
    </div>
  </div>

  <mat-menu xPosition="before" #decisionComponentMenu="matMenu">
    <button
      *ngFor="let componentType of decisionComponentTypes"
      mat-menu-item
      (click)="onAddNewComponent(componentType.uiCode, componentType.code)"
      [disabled]="componentType.isDisabled"
    >
      <div class="board-menu-item">
        <span>{{ componentType.label }}</span>
      </div>
    </button>
  </mat-menu>
</section>
