@if (applicationSubmission) {
  <div>
    <div class="header">
      <h2>Local/First Nation Gov Review</h2>
    </div>
    @if (!applicationReview) {
      <app-warning-banner>
        Application not subject to Local/First Nation Government review.
      </app-warning-banner>
    }
    @if (applicationReview) {
      <div>
        <section>
          <h4>Contact Information</h4>
          <div class="review-table">
            <div>
              <div class="subheading2">Local Government File Number</div>
              <div>
                {{ applicationReview.localGovernmentFileNumber }}
                @if (!applicationReview.localGovernmentFileNumber) {
                  <app-no-data></app-no-data>
                }
              </div>
            </div>
            <div>
              <div class="subheading2">First Name</div>
              <div>
                {{ applicationReview.firstName }}
                @if (!applicationReview.firstName) {
                  <app-no-data></app-no-data>
                }
              </div>
            </div>
            <div>
              <div class="subheading2">Last Name</div>
              <div>
                {{ applicationReview.lastName }}
                @if (!applicationReview.lastName) {
                  <app-no-data></app-no-data>
                }
              </div>
            </div>
            <div>
              <div class="subheading2">Position</div>
              <div>
                {{ applicationReview.position }}
                @if (!applicationReview.position) {
                  <app-no-data></app-no-data>
                }
              </div>
            </div>
            <div>
              <div class="subheading2">Department</div>
              <div>
                {{ applicationReview.department }}
                @if (!applicationReview.department) {
                  <app-no-data></app-no-data>
                }
              </div>
            </div>
          </div>
        </section>
        @if (applicationReview.isOCPDesignation !== null) {
          <section>
            <h4>Plans & Bylaws: OCP</h4>
            <div class="review-table">
              <div class="full-width">
                <div class="subheading2">
                  Is the applicationSubmission parcel(s) subject to a Local Government OCP designation?
                </div>
                <div>
                  {{ applicationReview.isOCPDesignation ? 'Yes' : 'No' }}
                </div>
              </div>
              @if (applicationReview.isOCPDesignation) {
                <div>
                  <div class="subheading2">OCP Bylaw Name</div>
                  <div>
                    {{ applicationReview.OCPBylawName }}
                    @if (!applicationReview.OCPBylawName) {
                      <app-no-data></app-no-data>
                    }
                  </div>
                </div>
              }
              @if (applicationReview.isOCPDesignation) {
                <div>
                  <div class="subheading2">OCP Designation</div>
                  <div>
                    {{ applicationReview.OCPDesignation }}
                    @if (!applicationReview.OCPDesignation) {
                      <app-no-data></app-no-data>
                    }
                  </div>
                </div>
              }
              @if (applicationReview.isOCPDesignation) {
                <div>
                  <div class="subheading2">Is this proposal consistent with the current OCP designation?</div>
                  <div>
                    @if (applicationReview.OCPConsistent !== null) {
                      <span>{{
                        applicationReview.OCPConsistent ? 'Yes' : 'No'
                      }}</span>
                    }
                    @if (applicationReview.OCPConsistent === null) {
                      <app-no-data></app-no-data>
                    }
                  </div>
                </div>
              }
            </div>
          </section>
        }
        @if (applicationReview.isSubjectToZoning !== null) {
          <section>
            <h4>Plans & Bylaws: Zoning</h4>
            <div class="review-table">
              <div class="full-width">
                <div class="subheading2">
                  Is the applicationSubmission parcel(s) subject to a Local Government zoning designation?
                </div>
                <div>
                  {{ applicationReview.isSubjectToZoning ? 'Yes' : 'No' }}
                </div>
              </div>
              @if (applicationReview.isSubjectToZoning) {
                <div>
                  <div class="subheading2">Zoning Bylaw Name</div>
                  <div>
                    {{ applicationReview.zoningBylawName }}
                    @if (!applicationReview.zoningBylawName) {
                      <app-no-data></app-no-data>
                    }
                  </div>
                </div>
              }
              @if (applicationReview.isSubjectToZoning) {
                <div>
                  <div class="subheading2">Zoning Designation</div>
                  <div>
                    {{ applicationReview.zoningDesignation }}
                    @if (!applicationReview.zoningDesignation) {
                      <app-no-data></app-no-data>
                    }
                  </div>
                </div>
              }
              @if (applicationReview.isSubjectToZoning) {
                <div>
                  <div class="subheading2">Minimum Lot Size (hectares)</div>
                  <div>
                    {{ applicationReview.zoningMinimumLotSize }}@if (applicationReview.zoningMinimumLotSize) {
                    <span> ha</span>
                  }
                  @if (!applicationReview.zoningMinimumLotSize) {
                    <app-no-data></app-no-data>
                  }
                </div>
              </div>
            }
            @if (applicationReview.isSubjectToZoning) {
              <div>
                <div class="subheading2">Is this proposal consistent with the current zoning designation?</div>
                <div>
                  @if (applicationReview.isZoningConsistent !== null) {
                    <span>{{
                      applicationReview.isZoningConsistent ? 'Yes' : 'No'
                    }}</span>
                  }
                  @if (applicationReview.isZoningConsistent === null) {
                    <app-no-data></app-no-data>
                  }
                </div>
              </div>
            }
          </div>
        </section>
      }
      <section>
        <h4>Resolution</h4>
        <div class="review-table">
          @if (applicationReview.isAuthorized === null) {
            <div class="full-width">
              Parcels not subject to OCP or Zoning do not require local government authorization
            </div>
          }
          @if (applicationReview.isAuthorized !== null) {
            <div class="full-width">
              <div class="subheading2">What is the outcome of the Board/Council resolution?</div>
              <div>
                <span>{{ applicationReview.isAuthorized ? 'Forward for ALC decision' : 'Refuse to forward to ALC' }}</span>
              </div>
            </div>
          }
        </div>
      </section>
      @if (resolutionDocument.length > 0) {
        <section>
          <h4>Attachments</h4>
          <div class="review-table">
            <div>
              <div class="subheading2">Resolution Document</div>
              <div>
                @for (file of resolutionDocument; track file) {
                  <a class="link" class="mobile" (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
                  <a class="link" class="desktop" routerLink="/document/{{ file.documentUuid }}" target="_blank">{{
                    file.fileName
                  }}</a>
                }
              </div>
            </div>
          </div>
        </section>
      }
    </div>
  }
</div>
}
