<div mat-dialog-title>
  <h2 class="card-title">Create Inquiry</h2>
</div>
<ng-container *ngIf="currentStep === 0">
  <form class="content" [formGroup]="createForm">
    <h2 class="subtitle">Type</h2>
    <div class="subheading2">Select an inquiry type to learn more</div>
    <mat-radio-group id="type" class="type-selector" [formControl]="typeControl" (change)="onChange($event)">
      <mat-radio-button *ngFor="let type of types" [value]="type.code">{{ type.label }}</mat-radio-button>
    </mat-radio-group>
    <div id="warningBanner" class="warning-banner" *ngIf="selectedType">
      <div class="subheading2">{{ selectedType.label }}</div>
      <div style="margin-top: 12px">
        {{ selectedType.description }}
      </div>
    </div>
    <mat-dialog-actions align="end">
      <div class="button-container">
        <button mat-stroked-button color="primary" [mat-dialog-close]="false">Cancel</button>
        <button [disabled]="!selectedType" mat-flat-button color="primary" type="button" (click)="onNextStep()">
          Next
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</ng-container>
<ng-container *ngIf="currentStep === 1">
  <form class="content" [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <h2>Details</h2>
      <div class="two-item-row">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Submitted to ALC</mat-label>
          <input
            matInput
            (click)="submissionDate.open()"
            [matDatepicker]="submissionDate"
            [formControl]="submissionDateControl"
            name="date"
            id="date"
            required
          />
          <mat-datepicker-toggle matSuffix [for]="submissionDate"></mat-datepicker-toggle>
          <mat-datepicker #submissionDate type="date"></mat-datepicker>
        </mat-form-field>
        <div>
          <ng-select
            appearance="outline"
            class="card-local-government"
            [items]="localGovernments"
            appendTo="body"
            placeholder="Local/First Nation Government*"
            bindLabel="name"
            bindValue="uuid"
            [clearable]="false"
            [formControl]="localGovernmentControl"
            (change)="onSelectGovernment($event)"
          >
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
              <div [ngOptionHighlight]="search">{{ item.name }}</div>
            </ng-template>
          </ng-select>
        </div>
        <div>
          <ng-select
            appearance="outline"
            [items]="regions"
            appendTo="body"
            placeholder="Region*"
            bindLabel="label"
            bindValue="code"
            [clearable]="false"
            [formControl]="regionControl"
          >
          </ng-select>
        </div>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Summary</mat-label>
          <input matInput [formControl]="summaryControl" required />
        </mat-form-field>
      </div>

      <h2>Inquirer</h2>

      <div class="two-item-row">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput [formControl]="firstName" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput [formControl]="lastName" />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Organization</mat-label>
          <input matInput [formControl]="organization" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input
            mask="(000) 000-0000"
            matInput
            maxlength="14"
            placeholder="(555) 555-5555"
            [formControl]="phone"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="email" />
        </mat-form-field>
      </div>

      <h2>Parcels</h2>

      <table mat-table [dataSource]="tableSource">
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let row; let i = index">
            {{ i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Civic Address*</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <mat-form-field appearance="outline">
              <input required [ngModelOptions]="{ standalone: true }" matInput [(ngModel)]="parcels[i].civicAddress" />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="pid">
          <th mat-header-cell *matHeaderCellDef>PID</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <mat-form-field appearance="outline">
              <input mask="000-000-000" [ngModelOptions]="{ standalone: true }" matInput [(ngModel)]="parcels[i].pid" />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="pin">
          <th mat-header-cell *matHeaderCellDef>PIN</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <mat-form-field appearance="outline">
              <input [ngModelOptions]="{ standalone: true }" matInput [(ngModel)]="parcels[i].pin" />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <button type="button" class="edit-btn" mat-flat-button (click)="onRemoveParcel(i)">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr class="mat-row no-data" *matNoDataRow>
          <td class="text-center" colspan="5">No Parcels</td>
        </tr>
      </table>
      <button style="margin-top: 12px;" mat-stroked-button type="button" (click)="onAddParcel()" color="primary">+ Add Parcel</button>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <div class="button-container">
        <button mat-stroked-button color="primary" (click)="onPreviousStep()">Back</button>
        <button [loading]="isLoading" mat-flat-button color="primary" type="submit"
                [disabled]="!createForm.valid || !areParcelsValid()">
          Create
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</ng-container>
