<ng-template #header>
  <div class="header">
    @if (applicationSubmission) {
      <h6>
        Application ID: {{ applicationSubmission.fileNumber }} | {{ applicationSubmission.type }}
      </h6>
    }
    <div class="header-btn-wrapper">
      @if (applicationSubmission?.fileNumber && cdkStepper.selectedIndex === editAppSteps.ReviewAndSubmit) {
        <button
          mat-flat-button
          color="primary"
          (click)="onDownloadPdf(applicationSubmission?.fileNumber)"
          >
          Download PDF
        </button>
      }
      <div class="change-app-type-btn-wrapper">
        <button mat-flat-button color="accent" (click)="onApplicationTypeChangeClicked()">
          Change Application Type
        </button>
        <mat-icon
          color="accent"
          matTooltip="Changing application type will remove some inputs from your saved progress"
          >
          help_outline
        </mat-icon>
      </div>
    </div>
  </div>
</ng-template>

<app-custom-stepper
  class="edit-application"
  #cdkStepper
  (selectionChange)="onStepChange()"
  (beforeSwitchStep)="onBeforeSwitchStep($event)"
  >
  <cdk-step label="Parcel Details">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    @if (cdkStepper.selectedIndex === editAppSteps.AppParcel) {
      <div>
        <app-parcel-details
          [$applicationSubmission]="$applicationSubmission"
          [showErrors]="showValidationErrors"
          (navigateToStep)="onBeforeSwitchStep($event)"
          (componentInitialized)="onParcelDetailsInitialized()"
          (exit)="onExit()"
        ></app-parcel-details>
      </div>
    }
  </cdk-step>
  <cdk-step label="Other Owned Parcels">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    @if (cdkStepper.selectedIndex === editAppSteps.OtherParcel) {
      <div>
        <app-other-parcels
          [showErrors]="showValidationErrors"
          [$applicationSubmission]="$applicationSubmission"
          (navigateToStep)="onBeforeSwitchStep($event)"
          (exit)="onExit()"
        ></app-other-parcels>
      </div>
    }
  </cdk-step>
  <cdk-step label="Primary Contact">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    @if (cdkStepper.selectedIndex === editAppSteps.PrimaryContact) {
      <div>
        <app-primary-contact
          [showErrors]="showValidationErrors"
          [$applicationSubmission]="$applicationSubmission"
          [$applicationDocuments]="$applicationDocuments"
          (navigateToStep)="onBeforeSwitchStep($event)"
          (exit)="onExit()"
        ></app-primary-contact>
      </div>
    }
  </cdk-step>
  <cdk-step label="Government">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    @if (cdkStepper.selectedIndex === editAppSteps.Government) {
      <div>
        <app-select-government
          [showErrors]="showValidationErrors"
          [$applicationSubmission]="$applicationSubmission"
          (navigateToStep)="onBeforeSwitchStep($event)"
          (exit)="onExit()"
        ></app-select-government>
      </div>
    }
  </cdk-step>
  <cdk-step label="Land Use">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    @if (cdkStepper.selectedIndex === editAppSteps.LandUse) {
      <div>
        <app-land-use
          [$applicationSubmission]="$applicationSubmission"
          [showErrors]="showValidationErrors"
          (navigateToStep)="onBeforeSwitchStep($event)"
          (exit)="onExit()"
        ></app-land-use>
      </div>
    }
  </cdk-step>
  <cdk-step label="Proposal">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    @if (applicationSubmission && cdkStepper.selectedIndex === editAppSteps.Proposal) {
      <div>
        @if (applicationSubmission.typeCode === 'NFUP') {
          <app-nfu-proposal
            [$applicationSubmission]="$applicationSubmission"
            [$applicationDocuments]="$applicationDocuments"
            [showErrors]="showValidationErrors"
            (navigateToStep)="onBeforeSwitchStep($event)"
            (exit)="onExit()"
          ></app-nfu-proposal>
        }
        @if (applicationSubmission.typeCode === 'TURP') {
          <app-tur-proposal
            [$applicationSubmission]="$applicationSubmission"
            [$applicationDocuments]="$applicationDocuments"
            [showErrors]="showValidationErrors"
            (navigateToStep)="onBeforeSwitchStep($event)"
            (exit)="onExit()"
          ></app-tur-proposal>
        }
        @if (applicationSubmission.typeCode === 'SUBD') {
          <app-subd-proposal
            [$applicationSubmission]="$applicationSubmission"
            [$applicationDocuments]="$applicationDocuments"
            [showErrors]="showValidationErrors"
            (navigateToStep)="onBeforeSwitchStep($event)"
            (exit)="onExit()"
          ></app-subd-proposal>
        }
        @if (applicationSubmission.typeCode === 'ROSO') {
          <app-roso-proposal
            [$applicationSubmission]="$applicationSubmission"
            [$applicationDocuments]="$applicationDocuments"
            [showErrors]="showValidationErrors"
            (navigateToStep)="onBeforeSwitchStep($event)"
            (exit)="onExit()"
          ></app-roso-proposal>
        }
        @if (applicationSubmission.typeCode === 'POFO') {
          <app-pofo-proposal
            [$applicationSubmission]="$applicationSubmission"
            [$applicationDocuments]="$applicationDocuments"
            [showErrors]="showValidationErrors"
            (navigateToStep)="onBeforeSwitchStep($event)"
            (exit)="onExit()"
          ></app-pofo-proposal>
        }
        @if (applicationSubmission.typeCode === 'PFRS') {
          <app-pfrs-proposal
            [$applicationSubmission]="$applicationSubmission"
            [$applicationDocuments]="$applicationDocuments"
            [showErrors]="showValidationErrors"
            (navigateToStep)="onBeforeSwitchStep($event)"
            (exit)="onExit()"
          ></app-pfrs-proposal>
        }
        @if (applicationSubmission.typeCode === 'NARU') {
          <app-naru-proposal
            [$applicationSubmission]="$applicationSubmission"
            [$applicationDocuments]="$applicationDocuments"
            [showErrors]="showValidationErrors"
            (navigateToStep)="onBeforeSwitchStep($event)"
            (exit)="onExit()"
          ></app-naru-proposal>
        }
        @if (applicationSubmission.typeCode === 'EXCL') {
          <app-excl-proposal
            [$applicationSubmission]="$applicationSubmission"
            [$applicationDocuments]="$applicationDocuments"
            [showErrors]="showValidationErrors"
            (navigateToStep)="onBeforeSwitchStep($event)"
            (exit)="onExit()"
          ></app-excl-proposal>
        }
        @if (applicationSubmission.typeCode === 'INCL') {
          <app-incl-proposal
            [$applicationSubmission]="$applicationSubmission"
            [$applicationDocuments]="$applicationDocuments"
            [showErrors]="showValidationErrors"
            (navigateToStep)="onBeforeSwitchStep($event)"
            (exit)="onExit()"
          ></app-incl-proposal>
        }
        @if (applicationSubmission.typeCode === 'COVE') {
          <app-cove-proposal
            [$applicationSubmission]="$applicationSubmission"
            [$applicationDocuments]="$applicationDocuments"
            [showErrors]="showValidationErrors"
            (navigateToStep)="onBeforeSwitchStep($event)"
            (exit)="onExit()"
          ></app-cove-proposal>
        }
      </div>
    }
  </cdk-step>
  <cdk-step label="Upload Attachments">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    @if (cdkStepper.selectedIndex === editAppSteps.Attachments) {
      <div>
        <app-other-attachments
          [$applicationSubmission]="$applicationSubmission"
          [$applicationDocuments]="$applicationDocuments"
          [showErrors]="showValidationErrors"
          (navigateToStep)="onBeforeSwitchStep($event)"
          (exit)="onExit()"
        ></app-other-attachments>
      </div>
    }
  </cdk-step>
  <cdk-step label="Review & Submit">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    @if (cdkStepper.selectedIndex === editAppSteps.ReviewAndSubmit) {
      <div>
        <app-review-and-submit
          [$applicationSubmission]="$applicationSubmission"
          [$applicationDocuments]="$applicationDocuments"
          (exit)="onExit()"
          (submit)="onSubmit()"
        ></app-review-and-submit>
      </div>
    }
  </cdk-step>
</app-custom-stepper>
