<div *ngIf="_applicationSubmission" class="review-table">
  <div class="subheading2 grid-1">
    Is your proposal for a principal residence with a total floor area greater than 500 m<sup>2</sup>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.naruWillBeOverFiveHundredM2 ? 'Yes' : 'No' }}
  </div>

  <div class="subheading2 grid-1">Is your proposal to retain an existing residence while building a new residence?</div>
  <div class="grid-double">
    {{ _applicationSubmission.naruWillRetainResidence ? 'Yes' : 'No' }}
  </div>

  <div class="subheading2 grid-1">Is your proposal for an additional residence?</div>
  <div class="grid-double">
    {{ _applicationSubmission.naruWillHaveAdditionalResidence ? 'Yes' : 'No' }}
  </div>

  <div class="subheading2 grid-1">Is your proposal for temporary foreign worker housing?</div>
  <div class="grid-double">
    {{ _applicationSubmission.naruWillHaveTemporaryForeignWorkerHousing ? 'Yes' : 'No' }}
  </div>

  <div class="subheading2 grid-1">
    Do you need to import any fill to construct or conduct the proposed non-adhering residential use?
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.naruWillImportFill ? 'Yes' : 'No' }}
  </div>

  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    {{ _applicationSubmission.purpose }}
  </div>

  <ng-container
    *ngIf="
      _applicationSubmission.naruWillBeOverFiveHundredM2 ||
      _applicationSubmission.naruWillHaveAdditionalResidence ||
      _applicationSubmission.naruWillHaveTemporaryForeignWorkerHousing
    "
  >
    <div class="subheading2 grid-1">
      Is your proposal necessary for farm use? If so, please explain<ng-container
        *ngIf="_applicationSubmission.naruWillHaveTemporaryForeignWorkerHousing"
      >
        what the temporary foreign workers will be doing on the farm</ng-container
      >.
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.naruResidenceNecessity }}
    </div>
  </ng-container>

  <ng-container *ngIf="_applicationSubmission.naruWillHaveTemporaryForeignWorkerHousing">
    <div class="subheading2 grid-1">How many temporary foreign workers will be housed by the proposal?</div>
    <div class="grid-double">
      {{ _applicationSubmission.tfwhCount }}
    </div>

    <div class="subheading2 grid-1">
      Will the temporary foreign worker housing be designed to move from one place to another?
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.tfwhDesign }}
    </div>

    <div class="subheading2 grid-1">
      What is the size (in hectares) of the farm operation that the temporary foreign workers will be supporting?
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.tfwhFarmSize }}
    </div>
  </ng-container>

  <div class="subheading2 grid-1">
    Will the proposed residence(s) be clustered with existing residential structures? Please explain.
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.naruClustered }}
  </div>

  <div class="subheading2 grid-1">
    Will the proposed residence(s) be located within a 60 m setback from the front lot line? Please explain.
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.naruSetback }}
  </div>

  <div class="subheading2 grid-1">
    Where on the parcel will the proposal be situated and is there an agricultural rationale for the proposed location?
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.naruLocationRationale }}
  </div>

  <div class="subheading2 grid-1">
    Describe any infrastructure required to support the proposed residence(s) and the approximate area (m<sup>2</sup>)
    required for that infrastructure
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.naruInfrastructure }}
  </div>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <div *ngFor="let file of proposalMap">
      <a (click)="openFile(file)">
        {{ file.fileName }}
      </a>
    </div>
  </div>

  <ng-container *ngIf="buildingPlans.length !== 0">
    <div class="subheading2 grid-1">Detailed Building Plan(s)</div>
    <div class="grid-double">
      <div *ngFor="let file of buildingPlans">
        <a (click)="openFile(file)">
          {{ file.fileName }}
        </a>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="_applicationSubmission.naruWillImportFill">
    <div class="subheading2 grid-1">Describe the type and amount of fill proposed to be placed.</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruFillType }}
    </div>

    <div class="subheading2 grid-1">Briefly describe the origin and quality of fill.</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruFillOrigin }}
    </div>

    <div class="subheading2 grid-1">Placement of Fill Project Duration</div>
    <div class="grid-double">
      {{ _applicationSubmission.naruProjectDuration }}
    </div>

    <div class="subheading1 full-width">Fill to be Placed</div>
    <div class="full-width soil-table">
      <div class="grid-1"><strong>Volume</strong></div>
      <div class="grid-2">{{ _applicationSubmission.naruToPlaceVolume }} m<sup>3</sup></div>
      <div class="grid-1"><strong>Area</strong></div>
      <div class="grid-2">{{ _applicationSubmission.naruToPlaceArea }} m<sup>2</sup></div>
      <div class="grid-1"><strong>Maximum Depth</strong></div>
      <div class="grid-2">{{ _applicationSubmission.naruToPlaceMaximumDepth }} m</div>
      <div class="grid-1"><strong>Average Depth</strong></div>
      <div class="grid-2">{{ _applicationSubmission.naruToPlaceAverageDepth }} m</div>
    </div>
  </ng-container>
</div>
