<div aria-hidden="true" class="banner absolute">
  <div>
    <h4 *ngIf="submission">Application ID: {{ submission.fileNumber }} | {{ submission.type }}</h4>
  </div>
  <div class="banner-status">
    <div>
      <div class="subheading2">Status Date</div>
      <span *ngIf="submission">{{ submission.lastStatusUpdate | date }}</span>
    </div>
    <div>
      <div class="subheading2">Application Status</div>
      <span *ngIf="submission">{{ submission.status.label }}</span>
    </div>
  </div>
</div>
<div class="banner">
  <div>
    <h4 *ngIf="submission">Application ID: {{ submission.fileNumber }}</h4>
  </div>
  <div class="banner-status">
    <div>
      <div class="subheading2">Status Date</div>
      <span *ngIf="submission">{{ submission.lastStatusUpdate | date }}</span>
    </div>
    <div>
      <div class="subheading2">Application Status</div>
      <span *ngIf="submission">{{ submission.status.label }}</span>
    </div>
  </div>
</div>
<button routerLink="/search" mat-button color="accent">
  <mat-icon>chevron_left</mat-icon>Return to Search Results
</button>
<div>
  <div class="navigation">
    <mat-tab-group>
      <mat-tab label="Applicant Submission">
        <div *ngIf="submission" class="content">
          <section>
            <div class="header">
              <h3>Applicant Submission</h3>
            </div>
            <app-public-app-submission-details
              [applicationDocuments]="documents"
              [applicationSubmission]="submission"
              [applicationParcels]="parcels"
            >
            </app-public-app-submission-details>
          </section>
        </div>
      </mat-tab>
      <mat-tab label="Local/First Nation Gov Review">
        <div class="content">//TODO</div>
      </mat-tab>
      <mat-tab label="ALC Review and Decision">
        <div class="content">//TODO</div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
