<header class="header">
  <div class="flex-grid">
    <mat-toolbar>
      <div class="col">
        <a class="logo" [routerLink]="homeUrl">
          <img alt="ALCS - Permit Tracking System" src="/assets/images/ALC-logo.svg" />
        </a>
      </div>
      <div class="col right">
        <div *ngIf="hasRoles">
          <a [routerLink]="homeUrl">
            <button class="menu-item">Home</button>
          </a>
        </div>
      </div>
      <div class="col">
        <button *ngIf="hasRoles" class="menu-item" [matMenuTriggerFor]="navigationMenu">Boards ▾</button>
        <mat-menu #navigationMenu="matMenu">
          <div class="board-item menu-item" *ngFor="let board of sortedBoards" (click)="onSelectBoard(board.code)">
            <app-favorite-button
              [boardCode]="board.code"
              [isFavorite]="board.isFavourite"
              [currentUserProfile]="currentUserProfile"
            ></app-favorite-button>
            <button mat-menu-item>
              {{ board.title }}
            </button>
          </div>
        </mat-menu>
      </div>
      <div *ngIf="currentUserProfile" class="col right">
        <app-notifications *ngIf="hasRoles"></app-notifications>
        <button
          [class.open]="menuTrigger.menuOpen"
          *ngIf="hasRoles"
          class="menu-item avatar-menu"
          #menuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="avatarMenu"
        >
          <app-avatar-circle [initials]="currentUserProfile.initials"></app-avatar-circle>
          <span class="avatar-menu-arrow">▾</span>
        </button>
        <mat-menu #avatarMenu="matMenu">
          <div class="name-text">
            Signed in as <br />
            <strong>{{ currentUserProfile.idirUserName }}{{ currentUserProfile.bceidUserName }}</strong>
          </div>
          <hr />
          <div class="avatar-menu-items">
            <button class="menu-item" (click)="onLogout()">Log Out</button>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar>
  </div>
</header>
