@use '../../../styles/colors';

.header {
  padding: 8px 80px;
  border-bottom: 1px solid;
  background-color: colors.$primary-color;
  color: colors.$white;

  a {
    text-decoration: none;
  }
}

.mat-toolbar {
  background-color: colors.$primary-color;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0;
}

.menu-item {
  border: none;
  background: inherit;
  cursor: pointer;
  color: colors.$white;
  display: flex;
  align-items: center;
}

button.mat-mdc-menu-item {
  width: auto;
  display: inline-block;
  padding-left: 0 !important;
}

button.mat-mdc-menu-item:hover {
  background-color: inherit;
}

.logo {
  display: inline-block;
  height: 64px;
  padding: 10px 4px 4px 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.flex-grid {
  display: flex;
  justify-content: space-between;

  .col {
    width: 80%;
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: right;
}

div.board-item {
  ::ng-deep .favorite-btn {
    visibility: hidden;
    color: colors.$pending-star;
  }
}

.board-item:hover {
  background-color: colors.$secondary-color-light;

  ::ng-deep .favorite-btn {
    visibility: visible;
  }
}

.name-text {
  min-width: 150px;
  padding: 8px 16px;
}

.avatar-menu-items {
  display: flex;
  flex-direction: column;

  button {
    text-align: left;
    background-color: colors.$white;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: colors.$secondary-color-light;
  }
}

.notification {
  margin: 0 16px;
}

.avatar-menu-button {
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: colors.$white;

  .avatar-menu-arrow {
    font-size: 18px;
    margin-left: 4px;
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 0.15s linear;
    line-height: 4px;
  }
}

.avatar-menu-button.open {
  .avatar-menu-arrow {
    transform: rotate(180deg);
  }
}

.board-menu-arrow {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.15s linear;
  margin-left: 8px;
}

.menu-item.open {
  .board-menu-arrow {
    transform: rotate(180deg);
  }
}
