.menu-items-container {
  width: 100%;
  .menu-item:hover {
    background: rgb(244, 238, 238);
    border-radius: 8px;
  }
}

.menu-item {
  border: none;
  background: inherit;
  cursor: pointer;
}

button.mat-menu-item {
  width: auto;
  display: inline-block
}

.logo {
  display: inline-block;
  position: fixed;
  top:0;
  left: 10px;
  width: 100px;

  image {
    width: 100%;
    height: 100%;
  }
}
.flex-grid {
  display: flex;
  justify-content: space-between;
}

.flex-grid .col {
  width: 80%;
}

.right {
  display: flex;
  align-items: right;
  justify-content: right;
}

.grey-star {
  color: lightgrey
}

.favorite-btn.gold-star {
  color: gold;
  visibility: visible !important;
}

.favorite-btn {
  visibility: hidden;
}

.board-item .favorite-btn {
  visibility: hidden;
}
.board-item:hover .favorite-btn  {
  visibility: visible;
}