<div mat-dialog-title>
  <div class="close">
    <h6 class="card-type-label">Application</h6>
    <button mat-icon-button [mat-dialog-close]="isDirty">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="header-row">
    <div class="left">
      <h3 class="card-title">
        <span class="margin-right">{{ cardTitle }}</span>
      </h3>
    </div>
    <div class="center">
      @if (decision) {
        <button
          color="accent"
          mat-flat-button
          [mat-dialog-close]="isDirty"
          [routerLink]="['application', application.fileNumber, 'decision', 'conditions', decision.uuid]"
          >
          View Conditions
        </button>
      }
    </div>
  </div>
  <div class="pill-row">
    <app-application-type-pill [type]="application.type"></app-application-type-pill>
    @if (applicationDecisionConditionCard.isModification) {
      <app-application-type-pill
        [type]="getStatusPill('MODIFICATION')"
      ></app-application-type-pill>
    }
    @if (applicationDecisionConditionCard.isReconsideration) {
      <app-application-type-pill
        [type]="getStatusPill('RECONSIDERATION')"
      ></app-application-type-pill>
    }
    <app-application-type-pill [type]="getStatusPill('CONDITION')"></app-application-type-pill>

    @if (decision?.isFlagged) {
      <mat-icon svgIcon="personal_places" class="flag-icon"></mat-icon>
    }
  </div>
  <div class="header-row">
    <div class="left">
      <div>
        <span class="region">{{ application.localGovernment?.name }} - {{ application.region?.label }} Region</span>
      </div>
    </div>
    <div class="right">
      <button matTooltip="Move Board" [matMenuTriggerFor]="moveMenu" mat-icon-button>
        <mat-icon>move_down</mat-icon>
      </button>
      <mat-menu class="move-board-menu" xPosition="before" #moveMenu="matMenu">
        @for (board of allowedBoards; track board) {
          <button (click)="onBoardSelected(board)" mat-menu-item>
            <div class="board-menu-item">
              <span class="favourite-board-icon-container"
                >@if (board.isFavourite) {
                <mat-icon class="favourite-board-icon">star</mat-icon>
              }
            </span>
            <span>{{ board.title }}</span>
            @if (card && card!.boardCode === board.code) {
              <span
                ><mat-icon class="selected-board-icon">check</mat-icon></span
                >
              }
            </div>
          </button>
        }
      </mat-menu>
      @if (canArchive) {
        <button
          matTooltip="Archive Card"
          class="toggle-priority"
          (click)="onArchiveCard()"
          mat-icon-button
          >
          <mat-icon>archive</mat-icon>
        </button>
      }
      @if (card) {
        <button
          [matTooltip]="card.highPriority ? 'Remove Priority' : 'Add Priority'"
          class="toggle-priority"
          (click)="onTogglePriority()"
          mat-icon-button
          >
          <div
            class="priority"
          [ngClass]="{
            'filled-priority': card.highPriority,
            'empty-priority': !card.highPriority,
          }"
          ></div>
        </button>
      }
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="select-container">
    <ng-select
      class="card-type"
      [items]="boardStatuses"
      appearance="outline"
      placeholder="Workflow Stage"
      bindLabel="label"
      bindValue="statusCode"
      [clearable]="false"
      [(ngModel)]="selectedApplicationStatus"
      (change)="onStatusSelected($event)"
      >
      <ng-template ng-option-tmp let-item="item">
        <span [innerHTML]="item.label"> </span>
      </ng-template>
      <ng-template ng-label-tmp let-item="item">
        <span [innerHTML]="item.label"> </span>
      </ng-template>
    </ng-select>
    <ng-select
      class="card-assignee"
      appearance="outline"
      [items]="$users | async"
      placeholder="Assigned Planner"
      bindLabel="prettyName"
      bindValue="prettyName"
      [(ngModel)]="selectedAssigneeName"
      [searchFn]="filterAssigneeList"
      (change)="onAssigneeSelected($event)"
      >
      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <div class="assignee-card-body">
          <p [ngOptionHighlight]="search" class="assignee-card-name">{{ item.prettyName }}</p>
          <p class="assignee-card-email" [ngOptionHighlight]="search">{{ item.email }}</p>
        </div>
      </ng-template>
    </ng-select>
  </div>
  <div class="conditions-container">
    <div class="conditions-header-container">
      <span class="conditions-header"
        >Decision #{{ applicationDecisionConditionCard.decisionOrder }} - Conditions to Review</span
        >
        <div class="buttons-container">
          @if (!isEditing) {
            <button class="edit-button" mat-icon-button (click)="editClicked()">
              <mat-icon class="edit-icon">edit</mat-icon>
            </button>
          } @else {
            <button type="button" mat-stroked-button color="primary" (click)="onCancel()">Cancel</button>
            <button type="button" mat-flat-button color="primary" [disabled]="isSaveDisabled()" (click)="onSave()">
              Save
            </button>
          }
        </div>
      </div>
      <div
        class="conditions-table-container"
      [ngClass]="{
        'error-state': isSaveDisabled() && isEditing,
        'no-conditions': dataSource.data.length === 0 && !isEditing,
      }"
        >
        @if (dataSource.data.length === 0) {
          <div class="no-conditions">No Conditions</div>
        } @else {
          <table mat-table class="conditions-table mat-elevation-z2" [dataSource]="dataSource">
            <ng-container matColumnDef="select">
              <td mat-cell *matCellDef="let element" class="column-select">
                <mat-checkbox
                  [disabled]="isConditionDisabled(element.condition)"
                  [(ngModel)]="element.selected"
                ></mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="condition">
              <td mat-cell *matCellDef="let element" class="column-condition">
                {{ !isOrderNull ? alphaIndex(element.condition.order + 1) + '.' : '' }} {{ element.condition.type.label }}
              </td>
            </ng-container>
            <ng-container matColumnDef="date">
              <td mat-cell *matCellDef="let element" class="column-date">
                @if (element.condition.type.isDateChecked) {
                  @if (element.condition.type.dateType === 'Single') {
                    @if (element.condition.type.singleDateLabel === 'Due Date') {
                      <span class="date-label">Due Date: </span>
                    } @else {
                      <span class="date-label">End Date: </span>
                    }
                  } @else {
                    <span class="date-label">Due Date: </span>
                  }
                  @if (getDate(element.condition)) {
                    {{ getDate(element.condition) }}
                  } @else {
                    <span class="no-data">No Data</span>
                  }
                }
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <td mat-cell *matCellDef="let element" class="column-status">
                <app-application-type-pill [type]="getStatusPill(element.condition.status)"></app-application-type-pill>
              </td>
            </ng-container>
            <tr
              mat-row
              *matRowDef="let row; columns: displayColumns"
              [class.disabled-row]="isConditionDisabled(row.condition)"
              matTooltip="Condition is already used by another card"
              [matTooltipDisabled]="!isConditionDisabled(row.condition)"
            ></tr>
          </table>
        }
      </div>
    </div>
    <div class="subtasks-wrapper">
      @if (card) {
        <app-subtasks [cardUuid]="card.uuid"></app-subtasks>
      }
    </div>
    <div class="card-comments-wrapper">
      @if (card) {
        <app-comments
          [cardUuid]="card.uuid"
          [fileNumber]="application.fileNumber"
          [notificationTitle]="cardTitle"
        ></app-comments>
      }
    </div>
  </mat-dialog-content>
