.column-select {
  width: 10%;
}

.column-condition {
  width: 40%;
}

.column-date {
  width: 35%;
}

.column-status {
  width: 15%;
}

.conditions-table {
  width: 100%;
}

.disabled-row {
  background-color: #f0f0f0;
  cursor: default;
  opacity: 0.6;
}

.conditions-table-container {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 8px;
  border: 2px solid #929292;
  border-radius: 4px;
}

.date-label {
  font-weight: 700;
  color: #313132;
}

.conditions-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.conditions-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-container {
  width: 30%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
}

.conditions-header {
  font-weight: 700;
  color: #565656;
  flex-grow: 1;
}

.edit-button {
  position: relative;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  transform: translate(-50%, -50%);
}

.pill-row {
  display: flex;
  flex-direction: row;
  gap: 1px;
}
