@if (applicationSubmission) {
  <div class="review-table">
    <div class="subheading2 full-width">Proposed Lot Areas</div>
    <div class="full-width parcel-table">
      <div class="grid-1 subheading2">#</div>
      <div class="grid-2 subheading2">Type</div>
      <div class="grid-3 subheading2">Size</div>
      @for (lot of applicationSubmission.subdProposedLots; track lot; let i = $index) {
        <div class="grid-1">
          {{ i + 1 }}
        </div>
        <div class="grid-2">
          {{ lot.type }}
          @if (!lot.type) {
            <app-no-data></app-no-data>
          }
        </div>
        <div class="grid-3">
          {{ lot.size }} @if (lot.size !== null) {
          <span>ha</span>
        }
        @if (!lot.size) {
          <app-no-data></app-no-data>
        }
      </div>
    }
    @if (applicationSubmission.subdProposedLots.length === 0) {
      <div class="full-width">
        <app-no-data></app-no-data>
      </div>
    }
  </div>
  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    {{ applicationSubmission.purpose }}
    @if (!applicationSubmission.purpose) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Why do you believe this parcel is suitable for subdivision?</div>
  <div class="grid-double">
    {{ applicationSubmission.subdSuitability }}
    @if (!applicationSubmission.subdSuitability) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Does the proposal support agriculture in the short or long term?</div>
  <div class="grid-double">
    {{ applicationSubmission.subdAgricultureSupport }}
    @if (!applicationSubmission.subdAgricultureSupport) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    @for (map of proposalMap; track map) {
      <a class="mobile" (click)="downloadFile(map.documentUuid)">{{ map.fileName }}</a>
      <a class="desktop" routerLink="/document/{{ map.documentUuid }}" target="_blank">{{ map.fileName }}</a>
    }
    @if (proposalMap.length === 0) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Are you applying for subdivision pursuant to the ALC Homesite Severance Policy?</div>
  <div class="grid-double">
    @if (applicationSubmission.subdIsHomeSiteSeverance !== null) {
      <span>
        {{ applicationSubmission.subdIsHomeSiteSeverance ? 'Yes' : 'No' }}
      </span>
    }
    @if (applicationSubmission.subdIsHomeSiteSeverance === null) {
      <app-no-data></app-no-data>
    }
  </div>
</div>
}
