<div *ngIf="applicationSubmission" class="review-table">
  <div class="subheading2 grid-1">How many hectares are proposed for non-farm use? (hectares)</div>
  <div class="grid-double">
    {{ applicationSubmission.nfuHectares }}
  </div>
  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    {{ applicationSubmission.purpose }}
  </div>
  <div class="subheading2 grid-1">
    Could this proposal be accommodated on lands outside of the ALR? Please justify why the proposal cannot be carried
    out on lands outside the ALR.
  </div>
  <div class="grid-double">
    {{ applicationSubmission.nfuOutsideLands }}
  </div>
  <div class="subheading2 grid-1">Does the proposal support agriculture in the short or long term? Please explain</div>
  <div class="grid-double">
    {{ applicationSubmission.nfuAgricultureSupport }}
  </div>
  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <div *ngFor="let file of proposalMap">
      <a (click)="openFile(file)">
        {{ file.fileName }}
      </a>
    </div>
  </div>
  <div class="subheading2 grid-1">
    Do you need to import any fill to construct or conduct the proposed Non-farm use? Fill is any material brought onto
    the property, including gravel for construction.
  </div>
  <div class="grid-double">
    <span *ngIf="applicationSubmission.nfuWillImportFill !== null">{{
      applicationSubmission.nfuWillImportFill === true ? 'Yes' : 'No'
    }}</span>
  </div>
  <ng-container *ngIf="applicationSubmission.nfuWillImportFill === true">
    <div class="full-width">
      <hr />
    </div>
    <div class="full-width">
      <h4>Soil and Fill Components</h4>
    </div>
    <div class="subheading2 grid-1">Describe the type and amount of fill proposed to be placed.</div>
    <div class="grid-double">
      {{ applicationSubmission.nfuFillTypeDescription }}
    </div>
    <div class="subheading2 grid-1">Briefly describe the origin and quality of fill.</div>
    <div class="grid-double">
      {{ applicationSubmission.nfuFillOriginDescription }}
    </div>

    <div class="subheading1 full-width">Fill to be Placed</div>
    <div class="full-width soil-table">
      <div class="grid-1"><strong>Volume</strong></div>
      <div class="grid-2">{{ applicationSubmission.nfuFillVolume }} m<sup>3</sup></div>
      <div class="grid-1"><strong>Area</strong></div>
      <div class="grid-2">{{ applicationSubmission.nfuTotalFillPlacement }} ha</div>
      <div class="grid-1"><strong>Maximum Depth</strong></div>
      <div class="grid-2">{{ applicationSubmission.nfuMaxFillDepth }} m</div>
      <div class="grid-1"><strong>Average Depth</strong></div>
      <div class="grid-2">{{ applicationSubmission.nfuAverageFillDepth }} m</div>
    </div>

    <div class="full-width">
      <span class="subheading1">Project Duration</span>
    </div>
    <div class="subheading2 grid-1">Duration</div>
    <div class="grid-double">
      {{ applicationSubmission.nfuProjectDurationUnit }}
    </div>
    <div class="subheading2 grid-1">Length</div>
    <div class="grid-double">
      {{ applicationSubmission.nfuProjectDurationAmount }}
    </div>
  </ng-container>
</div>
