<div *ngIf="_applicationSubmission" class="review-table">
  <div class="subheading2 grid-1">The governmental or prescribed public body that is applying to exclude land</div>
  <div class="grid-double">
    {{ _applicationSubmission.prescribedBody }}
  </div>

  <div class="subheading2 grid-1">How many hectares are you proposing to exclude? (hectares)</div>
  <div class="grid-double">
    {{ _applicationSubmission.inclExclHectares }}
  </div>

  <div class="subheading2 grid-1">
    Does any land under application share a common property line with land in another Local or First Nation Government?
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.exclShareGovernmentBorders ? 'Yes' : 'No' }}
  </div>

  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    {{ _applicationSubmission.purpose }}
  </div>

  <div class="subheading2 grid-1">Explain why you believe that the parcel(s) should be excluded from the ALR</div>
  <div class="grid-double">
    {{ _applicationSubmission.exclWhyLand }}
  </div>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <a *ngFor="let file of proposalMap" (click)="openFile(file)">
      {{ file.fileName }}
    </a>
  </div>

  <div class="subheading2 grid-1">Notice of Public Hearing (Advertisement)</div>
  <div class="grid-double">
    <div *ngFor="let file of noticeOfPublicHearing">
      <a (click)="openFile(file)">
        {{ file.fileName }}
      </a>
    </div>
  </div>

  <div class="subheading2 grid-1">Proof of Signage</div>
  <div class="grid-double">
    <div *ngFor="let file of proofOfSignage">
      <a (click)="openFile(file)">
        {{ file.fileName }}
      </a>
    </div>
  </div>

  <div class="subheading2 grid-1">Report of Public Hearing</div>
  <div class="grid-double">
    <div *ngFor="let file of reportOfPublicHearing">
      <a (click)="openFile(file)">
        {{ file.fileName }}
      </a>
    </div>
  </div>
</div>
