<div mat-dialog-title>
  <h4>
    Do any of the land owners added previously own or lease other parcels that might inform this application process?
  </h4>
</div>

<div mat-dialog-content class="content">
  <app-warning-banner>
    Changing the answer to this question will remove content already saved to this page. Do you want to continue?
  </app-warning-banner>

  <div class="step-controls">
    <button mat-stroked-button color="primary" (click)="onDecide(false)">cancel</button>
    <button mat-flat-button color="primary" (click)="onDecide(true)">confirm</button>
  </div>
</div>
