<ng-container *ngIf="_totalCount > 0">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z2 table"
    matSort
    matSortActive="dateSubmitted"
    matSortDirection="desc"
    matSortDisableClear
  >
    <ng-container matColumnDef="fileId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Notification ID</th>
      <td mat-cell *matCellDef="let element">
        <a (click)="onSelectRecord(element)">{{ element.fileNumber | emptyColumn }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="ownerName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Transferee</th>
      <td mat-cell *matCellDef="let element">
        {{ element.ownerName | emptyColumn }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th class="type-cell" mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell class="type-cell" *matCellDef="let element">
        {{ element.type }}
        <ng-container *ngIf="element.type === null || element.type === undefined">-</ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="portalStatus">
      <th class="type-cell" mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell class="type-cell" *matCellDef="let element">
        <div
          *ngIf="element.status"
          class="label"
          [style]="{ 'background-color': element.status.portalBackgroundColor, color: element.status.portalColor }"
        >
          {{ element.status.label }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastUpdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Update</th>
      <td mat-cell *matCellDef="let element">
        {{ element.lastUpdate | momentFormat | emptyColumn }}
      </td>
    </ng-container>

    <ng-container matColumnDef="government">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Local/First Nation Government</th>
      <td mat-cell *matCellDef="let element">
        {{ element.localGovernmentName | emptyColumn }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row no-data" *matNoDataRow>
      <td class="text-center" colspan="6">
        <div><b>No notice of intent found.</b></div>
        <div>Please adjust search criteria and try again.</div>
      </td>
    </tr>
  </table>
  <mat-paginator
    [length]="_totalCount"
    [pageSize]="20"
    [pageSizeOptions]="[20, 50, 100]"
    (page)="onPageChange($event)"
    aria-label="Select page"
  ></mat-paginator>
</ng-container>
<div class="no-data" *ngIf="_totalCount === 0">
  <div><b>No notifications found.</b></div>
  <div>Please adjust search criteria and try again.</div>
</div>
