<div>
  <table class="timeline">
    <thead>
      <th class="timeline-line"></th>
      <th class="timeline-date">Date</th>
      <th class="timeline-date">Fulfillment Date</th>
      <th class="timeline-event">Event</th>
    </thead>
    <tbody>
      <tr class="timeline-row" *ngFor="let event of events">
        <td class="line">
          <div
            [ngClass]="{
              'hollow-dot': !event.isFulfilled
            }"
            class="dot"
          ></div>
        </td>
        <td>{{ event.startDate | momentFormat }}</td>
        <td>
          <span *ngIf="event.fulfilledDate">{{ event.fulfilledDate | momentFormat }}</span>
          <span *ngIf="!event.fulfilledDate">
            <a *ngIf="event.link" [routerLink]="event.link">Add date</a>
            <span *ngIf="!event.link">-</span>
          </span>
        </td>
        <td><span [innerHTML]="event.htmlText"></span></td>
      </tr>
    </tbody>
  </table>
</div>
