<div aria-hidden="true" class="banner absolute">
  <div>
    <h4 *ngIf="submission">Notification ID: {{ submission.fileNumber }} | {{ submission.type }}</h4>
  </div>
  <div class="banner-status">
    <div>
      <div class="subheading2">Status Date</div>
      <span *ngIf="submission">{{ submission.lastStatusUpdate | date }}</span>
    </div>
    <div>
      <div class="subheading2">Notification Status</div>
      <span *ngIf="submission">{{ submission.status.label }}</span>
    </div>
  </div>
</div>
<div class="banner">
  <div>
    <h4 *ngIf="submission">Notification ID: {{ submission.fileNumber }}</h4>
  </div>
  <div class="banner-status">
    <div>
      <div class="subheading2">Status Date</div>
      <span *ngIf="submission">{{ submission.lastStatusUpdate | date }}</span>
    </div>
    <div>
      <div class="subheading2">Notification Status</div>
      <span *ngIf="submission">{{ submission.status.label }}</span>
    </div>
  </div>
</div>
<button (click)="onNavigateHome()" mat-button color="accent"><mat-icon>chevron_left</mat-icon>Return to Inbox</button>
<div>
  <div class="navigation">
    <mat-tab-group [(selectedIndex)]="selectedIndex">
      <mat-tab label="Applicant Submission">
        <div *ngIf="submission" class="content">
          <section>
            <div class="header">
              <h2>Applicant Submission</h2>
              <div class="btns-wrapper">
                <button *ngIf="submission.canEdit" mat-stroked-button color="warn" (click)="onCancel(submission.uuid)">
                  Cancel SRW
                </button>
                <button
                  [routerLink]="'/notification/' + submission.fileNumber + '/edit'"
                  *ngIf="submission.canEdit"
                  mat-flat-button
                  color="primary"
                >
                  Edit SRW
                </button>
              </div>
            </div>
            <div>
              <app-notification-details
                [$notificationSubmission]="$notificationSubmission"
                [$notificationDocuments]="$notificationDocuments"
                [showErrors]="false"
                [showEdit]="false"
              ></app-notification-details>
            </div>
          </section>
        </div>
        <div class="buttons" *ngIf="submission">
          <div>
            <button *ngIf="submission.canEdit" mat-stroked-button color="warn" (click)="onCancel(submission.uuid)">
              Cancel SRW
            </button>
          </div>
          <div>
            <button
              [routerLink]="'/notification/' + submission.fileNumber + '/edit'"
              *ngIf="submission.canEdit"
              mat-flat-button
              color="primary"
            >
              Edit SRW
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="ALC Review and Response">
        <div class="content">
          <app-alc-review
            [$notificationDocuments]="$notificationDocuments"
            [$notificationSubmission]="$notificationSubmission"
          ></app-alc-review>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div *ngIf="submission && submission.canEdit" class="action-bar">
  <button [routerLink]="'/notification/' + submission.fileNumber + '/edit'" mat-button>
    <div>
      <span class="subheading2">Continue SRW </span>
      <mat-icon>keyboard_double_arrow_right</mat-icon>
    </div>
  </button>
</div>
