@use '../../../../../../styles/functions' as *;
@use '../../../../../../styles/colors';

section {
  margin-top: rem(36);
}

.affected-area {
  margin-top: rem(36);
}

.template-link-container {
  background-color: colors.$secondary-color-light;
}
