<div mat-dialog-title>
  <h2 class="card-title">{{ model.uuid ? 'Update' : 'Create' }} Review Meeting</h2>
</div>
<form (ngSubmit)="onSubmit()" #meetingForm="ngForm">
  <mat-dialog-content style="height: 100%">
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="pdd" [(ngModel)]="model.date" name="date" required />
      <mat-datepicker-toggle matSuffix [for]="pdd"></mat-datepicker-toggle>
      <mat-datepicker #pdd type="date"> </mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="button-container">
      <button mat-stroked-button color="primary" mat-dialog-close="false">Close</button>
      <button [loading]="isLoading" mat-flat-button color="primary" type="submit" [disabled]="!meetingForm.form.valid">
        Save
      </button>
    </div>
  </mat-dialog-actions>
</form>
