<div mat-dialog-title>
  @if (!data.isEdit) {
    <h2>
      @if (data.isExisting) {
        Add Existing Residence
      }
      @if (!data.isExisting) {
        Add Proposed Residence
      }
    </h2>
  }
  @if (data.isEdit) {
    <h2>
      @if (data.isExisting) {
        Edit Existing Residence
      }
      @if (!data.isExisting) {
        Edit Proposed Residence
      }
    </h2>
  }
</div>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-container">
      <div class="form-field-floor-area">
        <div class="label">
          <label for="floorAreaId">Total Floor Area (<span matTextSuffix>m<sup>2</sup></span>) according to the ALC's definition(s)</label>
        </div>
        <div class="subtext">Please refer to <a
          href="https://www.alc.gov.bc.ca/resources/alc-policies-and-bulletins/#housing"
          target="_blank"
        >Housing in the ALR</a> on the ALC website for more detail.</div>
        <mat-form-field appearance="outline">
          <input
            min="0.01"
            mask="separator.5"
            separatorLimit="9999999999"
            thousandSeparator=","
            matInput
            id="floorAreaId"
            formControlName="floorArea"
            />
          <span matTextSuffix>m<sup>2</sup></span>
        </mat-form-field>
        @if (
          form.controls['floorArea']!.invalid &&
          (form.controls['floorArea']!.dirty || form.controls['floorArea']!.touched)
          ) {
          <div
            class="field-error"
            >
            <mat-icon class="warning-icon">warning</mat-icon>
            @if (form.controls['floorArea']!.errors?.['required']) {
              <div>This field is required</div>
            }
            @if (form.controls['floorArea']!.errors?.['pattern']) {
              <div>
                This field must be a non-zero number with no more than 2 decimal places.
              </div>
            }
          </div>
        }
      </div>

      <div class="form-field-description">
        <div class="label">
          <label for="descriptionId">Description of the Residence</label>
        </div>
        <div class="subtext">Include measurements (<span matTextSuffix>m<sup>2</sup></span>) of any basement or attached garage</div>
        <mat-form-field appearance="outline">
          <textarea
            formControlName="description"
            #descriptionText
            maxlength="4000"
            id="descriptionId"
            matInput
          ></textarea>
        </mat-form-field>
        <div class="subtext">Characters left: {{ 4000 - description.value?.length! }}</div>
        @if (
          form.controls['description']!.invalid &&
          (form.controls['description']!.dirty || form.controls['description']!.touched)
          ) {
          <div
            class="field-error"
            >
            <mat-icon>warning</mat-icon>
            @if (form.controls['description']!.errors?.['required']) {
              <div>This field is required</div>
            }
          </div>
        }
      </div>
    </div>
  </form>
</div>
<mat-dialog-actions align="end">
  <div class="button-container">
    @if (!this.data.residenceData) {
      <button
        mat-flat-button
        color="primary"
        (click)="onSaveAdd()"
        [disabled]="isSaving"
        >
        ADD
      </button>
    }
    @if (this.data.residenceData) {
      <button mat-flat-button color="primary" (click)="onSaveAdd()" [disabled]="isSaving">
        SAVE
      </button>
    }
    <button mat-stroked-button color="primary" [mat-dialog-close]="false" (click)="onCancel()">CANCEL</button>
  </div>
</mat-dialog-actions>
