<div *ngIf="applicationSubmission" class="review-table">
  <div class="subheading2 grid-1">
    Is your proposal for a principal residence with a total floor area greater than 500 m<sup>2</sup>
  </div>
  <div class="grid-double">
    <span *ngIf="applicationSubmission.naruWillBeOverFiveHundredM2 !== null">{{
      applicationSubmission.naruWillBeOverFiveHundredM2 ? 'Yes' : 'No'
    }}</span>
    <app-no-data *ngIf="applicationSubmission.naruWillBeOverFiveHundredM2 === null"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Is your proposal to retain an existing residence while building a new residence?</div>
  <div class="grid-double">
    <span *ngIf="applicationSubmission.naruWillRetainResidence !== null">{{
      applicationSubmission.naruWillRetainResidence ? 'Yes' : 'No'
    }}</span>
    <app-no-data *ngIf="applicationSubmission.naruWillRetainResidence === null"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Is your proposal for an additional residence?</div>
  <div class="grid-double">
    <span *ngIf="applicationSubmission.naruWillHaveAdditionalResidence !== null">{{
      applicationSubmission.naruWillHaveAdditionalResidence ? 'Yes' : 'No'
    }}</span>
    <app-no-data *ngIf="applicationSubmission.naruWillHaveAdditionalResidence === null"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Is your proposal for temporary foreign worker housing?</div>
  <div class="grid-double">
    <span *ngIf="applicationSubmission.naruWillHaveTemporaryForeignWorkerHousing !== null">{{
      applicationSubmission.naruWillHaveTemporaryForeignWorkerHousing ? 'Yes' : 'No'
    }}</span>
    <app-no-data *ngIf="applicationSubmission.naruWillHaveTemporaryForeignWorkerHousing === null"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Do you need to import any fill to construct or conduct the proposed non-adhering residential use?
  </div>
  <div class="grid-double">
    <span *ngIf="applicationSubmission.naruWillImportFill !== null">{{
      applicationSubmission.naruWillImportFill ? 'Yes' : 'No'
    }}</span>
    <app-no-data *ngIf="applicationSubmission.naruWillImportFill === null"></app-no-data>
  </div>

  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    {{ applicationSubmission.purpose }}
    <app-no-data *ngIf="!applicationSubmission.purpose"></app-no-data>
  </div>

  <ng-container
    *ngIf="
      applicationSubmission.naruWillBeOverFiveHundredM2 ||
      applicationSubmission.naruWillHaveAdditionalResidence ||
      applicationSubmission.naruWillHaveTemporaryForeignWorkerHousing
    "
  >
    <div class="subheading2 grid-1">
      Is your proposal necessary for farm use? If so, please explain<ng-container
        *ngIf="applicationSubmission.naruWillHaveTemporaryForeignWorkerHousing"
      >
        what the temporary foreign workers will be doing on the farm</ng-container
      >.
    </div>
    <div class="grid-double">
      {{ applicationSubmission.naruResidenceNecessity }}
      <app-no-data *ngIf="!applicationSubmission.naruResidenceNecessity"></app-no-data>
    </div>
  </ng-container>

  <ng-container *ngIf="applicationSubmission.naruWillHaveTemporaryForeignWorkerHousing">
    <div class="subheading2 grid-1">How many temporary foreign workers will be housed by the proposal?</div>
    <div class="grid-double">
      {{ applicationSubmission.tfwhCount }}
      <app-no-data *ngIf="!applicationSubmission.tfwhCount"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      Will the temporary foreign worker housing be designed to move from one place to another?
    </div>
    <div class="grid-double">
      {{ applicationSubmission.tfwhDesign }}
      <app-no-data *ngIf="!applicationSubmission.tfwhDesign"></app-no-data>
    </div>

    <div class="subheading2 grid-1">
      What is the size (in hectares) of the farm operation that the temporary foreign workers will be supporting?
    </div>
    <div class="grid-double">
      {{ applicationSubmission.tfwhFarmSize }}
      <app-no-data *ngIf="!applicationSubmission.tfwhFarmSize"></app-no-data>
    </div>
  </ng-container>

  <div class="subheading2 grid-1">
    Will the proposed residence(s) be clustered with existing residential structures? Please explain.
  </div>
  <div class="grid-double">
    {{ applicationSubmission.naruClustered }}
    <app-no-data *ngIf="!applicationSubmission.naruClustered"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Will the proposed residence(s) be located within a 60 m setback from the front lot line? Please explain.
  </div>
  <div class="grid-double">
    {{ applicationSubmission.naruSetback }}
    <app-no-data *ngIf="!applicationSubmission.naruSetback"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Where on the parcel will the proposal be situated and is there an agricultural rationale for the proposed location?
  </div>
  <div class="grid-double">
    {{ applicationSubmission.naruLocationRationale }}
    <app-no-data *ngIf="!applicationSubmission.naruLocationRationale"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Describe any infrastructure required to support the proposed residence(s) and the approximate area (m<sup>2</sup>)
    required for that infrastructure
  </div>
  <div class="grid-double">
    {{ applicationSubmission.naruInfrastructure }}
    <app-no-data *ngIf="!applicationSubmission.naruInfrastructure"></app-no-data>
  </div>

  <ng-container *ngIf="applicationSubmission.naruExistingResidences">
    <div class="full-width existing-residences">
      <div class="subheading2">Existing Residence</div>
      <div class="subheading2">Total Floor Area</div>
      <div class="subheading2">Description</div>
      <ng-container *ngFor="let existingResidence of applicationSubmission.naruExistingResidences; let i = index">
        <div>
          {{ i + 1 }}
        </div>
        <div>
          {{ existingResidence.floorArea }} <span matTextSuffix>m<sup>2</sup></span>
        </div>
        <div>{{ existingResidence.description }}</div>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="applicationSubmission.naruProposedResidences">
    <div class="full-width existing-residences">
      <div class="subheading2">Proposed Residence</div>
      <div class="subheading2">Total Floor Area</div>
      <div class="subheading2">Description</div>
      <ng-container *ngFor="let proposedResidence of applicationSubmission.naruProposedResidences; let i = index">
        <div>
          {{ i + 1 }}
        </div>
        <div>
          {{ proposedResidence.floorArea }} <span matTextSuffix>m<sup>2</sup></span>
        </div>
        <div>{{ proposedResidence.description }}</div>
      </ng-container>
    </div>
  </ng-container>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <a *ngFor="let map of proposalMap" (click)="openFile(map)">
      {{ map.fileName }}
    </a>
    <app-no-data *ngIf="proposalMap.length === 0"></app-no-data>
  </div>

  <ng-container>
    <div class="subheading2 grid-1">Detailed Building Plans</div>
    <div class="grid-double">
      <a *ngFor="let plan of buildingPlans" (click)="openFile(plan)">
        {{ plan.fileName }}
      </a>
      <app-no-data *ngIf="buildingPlans.length === 0"></app-no-data>
    </div>
  </ng-container>

  <ng-container *ngIf="applicationSubmission.naruWillImportFill">
    <div class="subheading2 grid-1">Describe the type and amount of fill proposed to be placed.</div>
    <div class="grid-double">
      {{ applicationSubmission.naruFillType }}
      <app-no-data *ngIf="!applicationSubmission.naruFillType"></app-no-data>
    </div>

    <div class="grid-1"></div>
    <div class="subheading2 grid-double">Fill to be Placed</div>

    <div class="subheading2 grid-1">Area</div>
    <div class="grid-double">
      {{ applicationSubmission.naruToPlaceArea }}
      <span *ngIf="applicationSubmission.naruToPlaceArea !== null">m<sup>2</sup></span>
      <app-no-data *ngIf="applicationSubmission.naruToPlaceArea === null"></app-no-data>
    </div>
    <div class="subheading2 grid-1">Maximum Depth</div>
    <div class="grid-double">
      {{ applicationSubmission.naruToPlaceMaximumDepth }}
      <span *ngIf="applicationSubmission.naruToPlaceMaximumDepth !== null">m</span>
      <app-no-data *ngIf="applicationSubmission.naruToPlaceMaximumDepth === null"></app-no-data>
    </div>
    <div class="subheading2 grid-1">Average Depth</div>
    <div class="grid-double">
      {{ applicationSubmission.naruToPlaceAverageDepth }}
      <span *ngIf="applicationSubmission.naruToPlaceAverageDepth !== null">m</span>
      <app-no-data *ngIf="applicationSubmission.naruToPlaceAverageDepth === null"></app-no-data>
    </div>
  </ng-container>
</div>
