<div class="layout">
  <div class="search-title">
    <h4>Search Results:</h4>
    <h4>File ID: {{ searchText }}</h4>
  </div>

  <table mat-table [dataSource]="searchResults" class="mat-elevation-z2 table">
    <ng-container matColumnDef="fileId">
      <th mat-header-cell *matHeaderCellDef>File ID</th>
      <td mat-cell *matCellDef="let element">
        {{ element.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef>Class</th>
      <td mat-cell *matCellDef="let element">
        {{ element.class }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th class="type-cell" mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell class="type-cell" *matCellDef="let element">
        <app-application-type-pill *ngIf="element.label" [type]="element.label" [useShortLabel]="true">
        </app-application-type-pill>
      </td>
    </ng-container>

    <ng-container matColumnDef="government">
      <th mat-header-cell *matHeaderCellDef>Local/First Nation Government</th>
      <td mat-cell *matCellDef="let element">
        {{ element.government }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="onSelectCard(row)" mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row no-data" *matNoDataRow>
      <td class="text-center" colspan="4">No Search Results</td>
    </tr>
  </table>
</div>
