<section>
  <h2>Other Owned Parcels</h2>
  <div class="step-description">
    <div>
      <p>*All fields are required unless stated optional.</p>
    </div>
  </div>
  <form [formGroup]="otherParcelsForm" class="other-parcels-form">
    <div class="full-row">
      <mat-label for="has-other-parcels">
        Do any of the land owners added previously own or lease other parcels that might inform this application
        process?
      </mat-label>
      <mat-button-toggle-group
        class="input"
        id="has-other-parcels"
        [formControl]="hasOtherParcelsInCommunity"
        (change)="onChangeOtherParcels($event)"
      >
        <mat-button-toggle
          class="toggle-button"
          [ngClass]="{
            'error-outline':
              hasOtherParcelsInCommunity.invalid &&
              (hasOtherParcelsInCommunity.dirty || hasOtherParcelsInCommunity.touched)
          }"
          value="true"
          >Yes
        </mat-button-toggle>
        <mat-button-toggle
          class="toggle-button"
          [ngClass]="{
            'error-outline':
              hasOtherParcelsInCommunity.invalid &&
              (hasOtherParcelsInCommunity.dirty || hasOtherParcelsInCommunity.touched)
          }"
          value="false"
          >No
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="full-row">
      <label for="otherParcelsDescription">
        Describe the other parcels including their location, who owns or leases them, and their use.
      </label>
      <div class="subtext">Be specific and provide the civic address or PID where possible.</div>
      <mat-form-field class="display-block" appearance="outline">
        <textarea
          #otherParcelsDescriptionText
          id="otherParcelsDescription"
          matInput
          [formControl]="otherParcelsDescription"
          rows="4"
          maxlength="4000"
        ></textarea>
      </mat-form-field>
      <div
        *ngIf="otherParcelsDescription.invalid && (otherParcelsDescription.dirty || otherParcelsDescription.touched)"
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="otherParcelsDescription.errors?.['required']">This field is required</div>
      </div>
      <div class="subtext">
        Example 1: PID 112-345-678 in Kelowna partially owned by Jane Doe, used for temporary farm worker housing.
      </div>
      <div class="subtext">
        Example 2: One parcel in Cranbrook fully owned by John Doe for haying and one parcel in the Regional District of
        East Kootenay leased by 12345 BC LTD for grazing.
      </div>
      <div class="subtext">Characters left: {{ 4000 - otherParcelsDescriptionText.textLength }}</div>
    </div>
  </form>
</section>

<div class="button-container">
  <button *ngIf="!draftMode" (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
  <button *ngIf="draftMode" (click)="onSaveExit()" mat-stroked-button color="accent">Discard all Changes</button>
  <div>
    <button mat-stroked-button (click)="onNavigateToStep(currentStep - 1)" color="primary">
      Previous<span class="mobile-hidden"> Step</span>
    </button>
    <button mat-flat-button (click)="onNavigateToStep(currentStep + 1)" color="primary">
      Next<span class="mobile-hidden"> Step</span>
    </button>
  </div>
</div>
