.file-type-input {
  width: 100%;
}

#type {
  text-overflow: ellipsis;
}

.dropdown-arrow {
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  padding: 0 !important;

  &:last-child {
    padding-right: 8px !important;
  }
}
