<div *ngIf="_applicationSubmission" class="review-table">
  <div class="subheading2 grid-1">
    Has the ALC previously received an application or Notice of Intent for this proposal?
    <app-updated-banner *ngIf="updatedFields.includes('soilIsFollowUp')"></app-updated-banner>
  </div>
  <div class="grid-double">
    <span *ngIf="_applicationSubmission.soilIsFollowUp !== null">
      {{ _applicationSubmission.soilIsFollowUp ? 'Yes' : 'No' }}
    </span>
    <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.soilIsFollowUp === null"></app-no-data>
  </div>

  <div *ngIf="_applicationSubmission.soilIsFollowUp" class="subheading2 grid-1">
    Application or NOI ID
    <app-updated-banner *ngIf="updatedFields.includes('soilFollowUpIDs')"></app-updated-banner>
  </div>
  <div *ngIf="_applicationSubmission.soilIsFollowUp" class="grid-double">
    {{ _applicationSubmission.soilFollowUpIDs }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilFollowUpIDs"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    What is the purpose of the proposal?
    <app-updated-banner *ngIf="updatedFields.includes('purpose')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.purpose }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.purpose"></app-no-data>
  </div>

  <div class="subheading1 full-width">
    Soil to be Removed
    <app-updated-banner *ngIf="updatedFields.includes('subdProposedLots')"></app-updated-banner>
  </div>
  <div class="full-width soil-table">
    <div class="grid-1"><strong>Volume</strong></div>
    <div class="grid-2">
      {{ _applicationSubmission.soilToRemoveVolume }}
      <span *ngIf="_applicationSubmission.soilToRemoveVolume">m<sup>3</sup></span>
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilToRemoveVolume"></app-no-data>
    </div>
    <div class="grid-1"><strong>Area</strong></div>
    <div class="grid-2">
      {{ _applicationSubmission.soilToRemoveArea }} <span *ngIf="_applicationSubmission.soilToRemoveArea">ha</span>
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilToRemoveArea"></app-no-data>
    </div>
    <div class="grid-1"><strong>Maximum Depth</strong></div>
    <div class="grid-2">
      {{ _applicationSubmission.soilToRemoveMaximumDepth }}
      <span *ngIf="_applicationSubmission.soilToRemoveMaximumDepth">m</span>
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilToRemoveMaximumDepth"></app-no-data>
    </div>
    <div class="grid-1"><strong>Average Depth</strong></div>
    <div class="grid-2">
      {{ _applicationSubmission.soilToRemoveAverageDepth }}
      <span *ngIf="_applicationSubmission.soilToRemoveAverageDepth">m</span>
      <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilToRemoveAverageDepth"></app-no-data>
    </div>
  </div>

  <div class="subheading1 full-width">
    Soil already Removed
    <app-updated-banner *ngIf="updatedFields.includes('subdProposedLots')"></app-updated-banner>
  </div>
  <div class="full-width soil-table">
    <div class="grid-1"><strong>Volume</strong></div>
    <div class="grid-2">
      {{ _applicationSubmission.soilAlreadyRemovedVolume }}
      <span *ngIf="_applicationSubmission.soilAlreadyRemovedVolume !== null">m<sup>3</sup></span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilAlreadyRemovedVolume === null"
      ></app-no-data>
    </div>
    <div class="grid-1"><strong>Area</strong></div>
    <div class="grid-2">
      {{ _applicationSubmission.soilAlreadyRemovedArea }}
      <span *ngIf="_applicationSubmission.soilAlreadyRemovedArea !== null">ha</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilAlreadyRemovedArea === null"
      ></app-no-data>
    </div>
    <div class="grid-1"><strong>Maximum Depth</strong></div>
    <div class="grid-2">
      {{ _applicationSubmission.soilAlreadyRemovedMaximumDepth }}
      <span *ngIf="_applicationSubmission.soilAlreadyRemovedMaximumDepth !== null">m</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilAlreadyRemovedMaximumDepth === null"
      ></app-no-data>
    </div>
    <div class="grid-1"><strong>Average Depth</strong></div>
    <div class="grid-2">
      {{ _applicationSubmission.soilAlreadyRemovedAverageDepth }}
      <span *ngIf="_applicationSubmission.soilAlreadyRemovedAverageDepth !== null">m</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilAlreadyRemovedAverageDepth === null"
      ></app-no-data>
    </div>
  </div>

  <div class="full-width">
    <span class="subheading1">Project Duration</span>
  </div>
  <div class="subheading2 grid-1">
    Duration <app-updated-banner *ngIf="updatedFields.includes('soilProjectDurationUnit')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.soilProjectDurationUnit }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilProjectDurationUnit"></app-no-data>
  </div>
  <div class="subheading2 grid-1">
    Length <app-updated-banner *ngIf="updatedFields.includes('soilProjectDurationAmount')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.soilProjectDurationAmount }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilProjectDurationAmount"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    Describe the type of soil proposed to be removed.
    <app-updated-banner *ngIf="updatedFields.includes('soilTypeRemoved')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.soilTypeRemoved }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilTypeRemoved"></app-no-data>
  </div>

  <div class="subheading2 grid-1">
    What steps will be taken to reduce impacts to surrounding agricultural land?
    <app-updated-banner *ngIf="updatedFields.includes('soilReduceNegativeImpacts')"></app-updated-banner>
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.soilReduceNegativeImpacts }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilReduceNegativeImpacts"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <a *ngFor="let map of proposalMap" (click)="openFile(map.uuid)">
      {{ map.fileName }}
    </a>
    <app-no-data [showRequired]="showErrors" *ngIf="proposalMap.length === 0"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Cross Sections</div>
  <div class="grid-double">
    <a *ngFor="let file of crossSections" (click)="openFile(file.uuid)">
      {{ file.fileName }}
    </a>
    <app-no-data [showRequired]="showErrors" *ngIf="crossSections.length === 0"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Reclamation Plan</div>
  <div class="grid-double">
    <a *ngFor="let file of crossSections" (click)="openFile(file.uuid)">
      {{ file.fileName }}
    </a>
    <app-no-data [showRequired]="showErrors" *ngIf="crossSections.length === 0"></app-no-data>
  </div>

  <div *ngIf="showEdit" class="edit-button">
    <button mat-flat-button (click)="onEditSection(5)" color="accent">Edit Section</button>
  </div>
</div>
