<div *ngIf="_applicationSubmission" class="review-table">
  <div class="subheading2 grid-1">
    Has the ALC previously received an application or Notice of Intent for this proposal?
  </div>
  <div class="grid-double">
    <span *ngIf="_applicationSubmission.soilIsFollowUp !== null">
      {{ _applicationSubmission.soilIsFollowUp ? 'Yes' : 'No' }}
    </span>
    <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.soilIsFollowUp === null"></app-no-data>
  </div>

  <div *ngIf="_applicationSubmission.soilIsFollowUp" class="subheading2 grid-1">Application or NOI ID</div>
  <div *ngIf="_applicationSubmission.soilIsFollowUp" class="grid-double">
    {{ _applicationSubmission.soilFollowUpIDs }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilFollowUpIDs"></app-no-data>
  </div>

  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    {{ _applicationSubmission.purpose }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.purpose"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Project Duration</div>
  <div class="grid-double">
    <div *ngIf="_applicationSubmission.soilProjectDurationAmount && _applicationSubmission.soilProjectDurationUnit">
      {{ _applicationSubmission.soilProjectDurationAmount }}
      <ng-container [ngPlural]="_applicationSubmission.soilProjectDurationAmount">
        <ng-template ngPluralCase="=1">
          {{ _applicationSubmission.soilProjectDurationUnit.slice(0, -1) | titlecase }}
        </ng-template>
        <ng-template ngPluralCase="other">
          {{ _applicationSubmission.soilProjectDurationUnit | titlecase }}
        </ng-template>
      </ng-container>
    </div>
    <app-no-data
      [showRequired]="showErrors"
      *ngIf="!_applicationSubmission.soilProjectDurationAmount || !_applicationSubmission.soilProjectDurationUnit"
    ></app-no-data>
  </div>

  <div class="full-width soil-table">
    <div></div>
    <div class="subheading2">Soil to be Removed</div>

    <div class="subheading2">Volume</div>
    <div>
      {{ _applicationSubmission.soilToRemoveVolume }}
      <span *ngIf="_applicationSubmission.soilToRemoveVolume !== null">m<sup>3</sup></span>
      <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.soilToRemoveVolume === null"></app-no-data>
    </div>

    <div class="subheading2">Area</div>
    <div>
      {{ _applicationSubmission.soilToRemoveArea }}
      <span *ngIf="_applicationSubmission.soilToRemoveArea !== null">m<sup>2</sup></span>
      <app-no-data [showRequired]="showErrors" *ngIf="_applicationSubmission.soilToRemoveArea === null"></app-no-data>
    </div>

    <div class="subheading2">Maximum Depth</div>
    <div>
      {{ _applicationSubmission.soilToRemoveMaximumDepth }}
      <span *ngIf="_applicationSubmission.soilToRemoveMaximumDepth !== null">m</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilToRemoveMaximumDepth === null"
      ></app-no-data>
    </div>

    <div class="subheading2">Average Depth</div>
    <div>
      {{ _applicationSubmission.soilToRemoveAverageDepth }}
      <span *ngIf="_applicationSubmission.soilToRemoveAverageDepth !== null">m</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilToRemoveAverageDepth === null"
      ></app-no-data>
    </div>

    <div></div>
    <div class="subheading2">Soil already Removed</div>

    <div class="subheading2">Volume</div>
    <div>
      {{ _applicationSubmission.soilAlreadyRemovedVolume }}
      <span *ngIf="_applicationSubmission.soilAlreadyRemovedVolume !== null">m<sup>3</sup></span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilAlreadyRemovedVolume === null"
      ></app-no-data>
    </div>

    <div class="subheading2">Area</div>
    <div>
      {{ _applicationSubmission.soilAlreadyRemovedArea }}
      <span *ngIf="_applicationSubmission.soilAlreadyRemovedArea !== null">m<sup>2</sup></span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilAlreadyRemovedArea === null"
      ></app-no-data>
    </div>

    <div class="subheading2">Maximum Depth</div>
    <div>
      {{ _applicationSubmission.soilAlreadyRemovedMaximumDepth }}
      <span *ngIf="_applicationSubmission.soilAlreadyRemovedMaximumDepth !== null">m</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilAlreadyRemovedMaximumDepth === null"
      ></app-no-data>
    </div>

    <div class="subheading2">Average Depth</div>
    <div>
      {{ _applicationSubmission.soilAlreadyRemovedAverageDepth }}
      <span *ngIf="_applicationSubmission.soilAlreadyRemovedAverageDepth !== null">m</span>
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="_applicationSubmission.soilAlreadyRemovedAverageDepth === null"
      ></app-no-data>
    </div>
  </div>

  <div class="subheading2 grid-1">Describe the type of soil proposed to be removed.</div>
  <div class="grid-double">
    {{ _applicationSubmission.soilTypeRemoved }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilTypeRemoved"></app-no-data>
  </div>

  <div class="subheading2 grid-1">What steps will be taken to reduce impacts to surrounding agricultural land?</div>
  <div class="grid-double">
    {{ _applicationSubmission.soilReduceNegativeImpacts }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_applicationSubmission.soilReduceNegativeImpacts"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <a *ngFor="let map of proposalMap" (click)="openFile(map.uuid)">
      {{ map.fileName }}
    </a>
    <app-no-data [showRequired]="showErrors" *ngIf="proposalMap.length === 0"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Cross Sections</div>
  <div class="grid-double multiple-documents">
    <a *ngFor="let file of crossSections" (click)="openFile(file.uuid)">
      {{ file.fileName }}
    </a>
    <app-no-data [showRequired]="showErrors" *ngIf="crossSections.length === 0"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Reclamation Plan</div>
  <div class="grid-double multiple-documents">
    <a *ngFor="let file of crossSections" (click)="openFile(file.uuid)">
      {{ file.fileName }}
    </a>
    <app-no-data [showRequired]="showErrors" *ngIf="crossSections.length === 0"></app-no-data>
  </div>

  <div *ngIf="showEdit" class="edit-button">
    <button mat-flat-button (click)="onEditSection(5)" color="accent">Edit Section</button>
  </div>
</div>
