<h3>Application Prep</h3>
<section *ngIf="application?.source === APPLICATION_SYSTEM_SOURCE_TYPES.APPLICANT">
  <h5>Proposal Components - {{ application?.type?.label }}</h5>
  <div class="input-table">
    <div>
      <div class="subheading2">Proposal ALR Area (ha)</div>
      <app-inline-number [value]="alrArea" (save)="onSaveAlrArea($event)"></app-inline-number>
    </div>
    <div>
      <div class="subheading2">Ag Cap</div>
      <app-inline-dropdown
        [options]="agCapOptions"
        [value]="application?.agCap"
        (save)="updateApplicationValue('agCap', $event)"
      ></app-inline-dropdown>
    </div>
    <div>
      <div class="subheading2">Ag Cap Source</div>
      <app-inline-dropdown
        [options]="agCapSourceOptions"
        [value]="application?.agCapSource"
        (save)="updateApplicationValue('agCapSource', $event)"
      ></app-inline-dropdown>
    </div>
    <div>
      <div class="subheading2">Ag Cap Map</div>
      <app-inline-text
        [value]="application?.agCapMap"
        (save)="updateApplicationValue('agCapMap', $event)"
      ></app-inline-text>
    </div>
    <div>
      <div class="subheading2">Ag Cap Consultant</div>
      <app-inline-text
        [value]="application?.agCapConsultant"
        (save)="updateApplicationValue('agCapConsultant', $event)"
      ></app-inline-text>
    </div>
    <app-proposal-tur *ngIf="application && application.type.code === 'TURP'"></app-proposal-tur>
    <app-proposal-excl *ngIf="application && application.type.code === 'EXCL'"></app-proposal-excl>
  </div>
  <app-proposal-nfu *ngIf="application && application.type.code === 'NFUP'"></app-proposal-nfu>
  <app-proposal-subd *ngIf="application && application.type.code === 'SUBD'"></app-proposal-subd>
  <app-proposal-soil
    *ngIf="application && ['POFO', 'ROSO', 'PFRS'].includes(application.type.code)"
  ></app-proposal-soil>
  <app-proposal-naru *ngIf="application && application.type.code === 'NARU'"></app-proposal-naru>
</section>
<section>
  <h5>Application Parcels</h5>
  <app-parcel-prep *ngIf="application" [fileNumber]="application.fileNumber"></app-parcel-prep>
</section>
<section>
  <h5>Staff Comments and Observations</h5>
  <app-inline-edit
    [value]="staffObservations"
    placeholder="Add Staff Comments and Observations"
    (save)="onSaveStaffObservations($event)"
  ></app-inline-edit>
</section>
