<p>Individual landowners may not submit exclusion applications to the ALC.</p>
<div>
  @for (body of prescribedBodies; track body) {
    <mat-radio-button
      color="primary"
      [disabled]="!body.enabled"
      [checked]="body.label === selectedValue"
      class="radio-group"
      (change)="onSelect(body.label)"
      >
      {{ body.label }}
    </mat-radio-button>
  }
</div>
@if (isLocalGovernmentUser) {
  <app-warning-banner>
    This option is selected because your BCeID is associated with a local government.
  </app-warning-banner>
}
@if (isFirstNationUser) {
  <app-warning-banner>
    This option is selected because your BCeID is associated with a first nation government.
  </app-warning-banner>
}
@if (showGovernmentWarning) {
  <app-warning-banner>
    In order to proceed, you must either use a BCeID that is associated with a {{ selectedValue }} or change your
    selection above.
  </app-warning-banner>
}
