<div class="inline-number-wrapper">
  <span class="left" *ngIf="!isEditing">
    <a (click)="startEdit()" class="add" *ngIf="value === null && !hideButtons"> Add amount </a>
    <span *ngIf="value !== null">
      {{ value }}
    </span>
    <button *ngIf="value !== null && !hideButtons" class="edit-button" mat-icon-button (click)="startEdit()">
      <mat-icon class="edit-icon">edit</mat-icon>
    </button>
  </span>
  <div
    class="editing"
    [ngClass]="{
      hidden: !isEditing
    }"
  >
    <form>
      <mat-form-field appearance="outline">
        <input
          matInput
          class="editable"
          [mask]="'separator.' + decimals"
          [thousandSeparator]="disableThousandsSeparator ? '' : ','"
          separatorLimit="99999999"
          name="value"
          [placeholder]="placeholder"
          #editInput
          (keydown.enter)="!valueControl.invalid ? confirmEdit(): preventKeydown($event)"
          (keydown.escape)="cancelEdit()"
          [formControl]="valueControl"
        />
      </mat-form-field>

      <ng-container *ngIf="valueControl.hasError">
        <mat-error *ngFor="let error of valueControl?.errors | keyvalue"
          ><mat-icon>warning</mat-icon>&nbsp;
          <ng-container *ngIf="error.key === 'nonZero'">Value cannot be 0</ng-container>
          <ng-container *ngIf="error.key === 'required'">Value cannot be Empty</ng-container>
          <ng-container *ngIf="!['nonZero', 'required'].includes(error.key)">{{ error.value }}</ng-container>
        </mat-error>
      </ng-container>
    </form>
    <div class="button-container" *ngIf="!hideButtons">
      <button mat-button (click)="cancelEdit()">CANCEL</button>
      <button 
        mat-button 
        [class.disabled] = "valueControl.invalid"
        [class.save] = "!valueControl.invalid"
        (click)="confirmEdit()"
        [disabled]="valueControl.invalid">
        SAVE
      </button>
      
    </div>
  </div>
</div>
