<div class="inline-number-wrapper">
  <span class="left" *ngIf="!isEditing">
    <a (click)="startEdit()" class="add" *ngIf="value === null"> Add amount </a>
    <span *ngIf="value !== null">
      {{ value }}
    </span>
    <button *ngIf="value !== null" class="edit-button" mat-icon-button (click)="startEdit()">
      <mat-icon class="edit-icon">edit</mat-icon>
    </button>
  </span>
  <div
    class="editing"
    [ngClass]="{
      hidden: !isEditing
    }"
  >
    <form>
      <mat-form-field appearance="outline">
        <input
          matInput
          class="editable"
          [mask]="'separator.' + decimals"
          thousandSeparator=","
          separatorLimit="99999999"
          name="value"
          [placeholder]="placeholder"
          #editInput
          (keydown.enter)="confirmEdit()"
          (keydown.escape)="cancelEdit()"
          [formControl]="valueControl"
        />
      </mat-form-field>
      <mat-error *ngIf="valueControl.errors?.['nonZero']"><mat-icon>warning</mat-icon>&nbsp;Value cannot be 0</mat-error>
      <mat-error *ngIf="valueControl.errors?.['required']"><mat-icon>warning</mat-icon>&nbsp;Value cannot be Empty</mat-error>
    </form>
    <div class="button-container">
      <button mat-button (click)="cancelEdit()">CANCEL</button>
      <button 
        mat-button 
        [class.disabled] = "valueControl.invalid"
        [class.save] = "!valueControl.invalid"
        (click)="confirmEdit()"
        [disabled]="valueControl.invalid">
        SAVE
      </button>
      
    </div>
  </div>
</div>
