<div class="body-text left time-tracking">
  <div *ngIf="!paused"><span class="dot"></span>Active</div>
  <div *ngIf="paused"><span class="dot paused"></span>Paused</div>
  <div
    *ngIf="activeDays !== null"
    matTooltip="Active Days"
    class="card-active-days"
    [ngClass]="{
      'inactive-timer': paused
    }"
  >
    <mat-icon class="icon">calendar_month</mat-icon>
    {{ isOverdue ? maxActiveDays + '+' : activeDays }}
  </div>
  <div
    *ngIf="pausedDays !== null"
    matTooltip="Paused Days"
    class="card-paused-days"
    [ngClass]="{
      'inactive-timer': !paused
    }"
  >
    <mat-icon class="icon">pause</mat-icon>
    {{ pausedDays }}
  </div>
  <div *ngIf="dueDate && activeDays !== null">
    <span *ngIf="!isOverdue">Due: {{ dueDate | momentFormat }}</span>
    <span class="red-text" *ngIf="isOverdue">Overdue</span>
  </div>
</div>
