<div mat-dialog-title>
  <div class="close">
    <h6 class="card-type-label">Notice of Intent</h6>
    <button mat-icon-button [mat-dialog-close]="isDirty">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="header-row">
    <div class="left">
      <h3 class="card-title">
        <span class="margin-right">{{ cardTitle }}</span>
      </h3>
    </div>
    <div class="center">
      <button color="accent" [matMenuTriggerFor]="moreActions" mat-flat-button>More Actions ▾</button>
      <mat-menu xPosition="before" #moreActions="matMenu">
        <button
          [mat-dialog-close]="isDirty"
          mat-menu-item
          [routerLink]="['notice-of-intent', noticeOfIntent.fileNumber]"
        >
          View Detail
        </button>
        <button [mat-dialog-close]="isDirty" mat-menu-item>Add Info Request</button>
        <button [mat-dialog-close]="isDirty" mat-menu-item>Add Site Visit / Meeting</button>
      </mat-menu>
    </div>
  </div>
  <div>
    <span class="region">{{ noticeOfIntent.localGovernment.name }} - {{ noticeOfIntent.region.label }} Region</span>
  </div>
  <div class="header-row">
    <div class="left">
      <app-time-tracker [application]="noticeOfIntent"></app-time-tracker>
    </div>
    <div class="right">
      <button matTooltip="Move Board" [matMenuTriggerFor]="moveMenu" mat-icon-button>
        <mat-icon>move_down</mat-icon>
      </button>
      <mat-menu class="move-board-menu" xPosition="before" #moveMenu="matMenu">
        <button (click)="onBoardSelected(board)" *ngFor="let board of allowedBoards" mat-menu-item>
          <div class="board-menu-item">
            <span class="favourite-board-icon-container"
              ><mat-icon *ngIf="board.isFavourite" class="favourite-board-icon">star</mat-icon>
            </span>
            <span>{{ board.title }}</span>
            <span *ngIf="card && card.board.code === board.code"
              ><mat-icon class="selected-board-icon">check</mat-icon></span
            >
          </div>
        </button>
      </mat-menu>
      <button
        *ngIf="canArchive"
        matTooltip="Archive Card"
        class="toggle-priority"
        (click)="onArchiveCard()"
        mat-icon-button
      >
        <mat-icon>archive</mat-icon>
      </button>
      <button
        *ngIf="card"
        [matTooltip]="card.highPriority ? 'Remove Priority' : 'Add Priority'"
        class="toggle-priority"
        (click)="onTogglePriority()"
        mat-icon-button
      >
        <div
          class="priority"
          [ngClass]="{
            'filled-priority': card.highPriority,
            'empty-priority': !card.highPriority
          }"
        ></div>
      </button>
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="select-container">
    <ng-select
      class="card-type"
      appearance="outline"
      [items]="boardStatuses"
      placeholder="Workflow Stage"
      bindLabel="label"
      bindValue="statusCode"
      [clearable]="false"
      [(ngModel)]="selectedApplicationStatus"
      (change)="onStatusSelected($event)"
    >
      <ng-template ng-option-tmp let-item="item">
        <span [innerHTML]="item.label"> </span>
      </ng-template>
      <ng-template ng-label-tmp let-item="item">
        <span [innerHTML]="item.label"> </span>
      </ng-template>
    </ng-select>
    <ng-select
      class="card-assignee"
      appearance="outline"
      [items]="$users | async"
      placeholder="Assigned Soil Officer"
      bindLabel="prettyName"
      bindValue="prettyName"
      [(ngModel)]="selectedAssigneeName"
      [searchFn]="filterAssigneeList"
      (change)="onAssigneeSelected($event)"
    >
      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <div class="assignee-card-body">
          <p [ngOptionHighlight]="search" class="assignee-card-name">{{ item.prettyName }}</p>
          <p class="assignee-card-email" [ngOptionHighlight]="search">{{ item.email }}</p>
        </div>
      </ng-template>
    </ng-select>
  </div>
  <div *ngIf="card" class="subtasks-wrapper">
    <app-subtasks [cardUuid]="card.uuid"></app-subtasks>
  </div>
  <div *ngIf="card" class="card-comments-wrapper">
    <app-comments [cardUuid]="card.uuid" [notificationTitle]="cardTitle"></app-comments>
  </div>
</mat-dialog-content>
