<div class="table-wrapper">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        [ngClass]="{
          link: !!row.routerLink
        }"
        *matRowDef="let row; columns: displayedColumns"
        (click)="onRowClick(row.routerLink)"
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="no-data" colspan="7">No {{ type }} Found</td>
      </tr>

      <ng-container matColumnDef="fileNumber">
        <th mat-header-cell *matHeaderCellDef>{{ type }} ID</th>
        <td mat-cell *matCellDef="let row">
          <a [routerLink]="row.routerLink" *ngIf="row.routerLink">{{ row.fileNumber }}</a>
          <span *ngIf="!row.routerLink">{{ row.fileNumber }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef>Date Created</th>
        <td mat-cell *matCellDef="let row">{{ row.createdAt | date }}</td>
      </ng-container>

      <ng-container matColumnDef="applicant">
        <th mat-header-cell *matHeaderCellDef>{{ type === 'Notifications' ? 'Transferee' : 'Owner Name' }}</th>
        <td mat-cell *matCellDef="let row">{{ row.ownerName || '(Unknown)' }}</td>
      </ng-container>

      <ng-container matColumnDef="applicationType">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let row">{{ row.type }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">
          <div
            class="label"
            [style]="{ 'background-color': row.statusType.portalBackgroundColor, color: row.statusType.portalColor }"
          >
            {{ row.statusType.label }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="lastUpdated">
        <th mat-header-cell *matHeaderCellDef>Last Updated</th>
        <td mat-cell *matCellDef="let row">{{ row.lastUpdate | momentFormat }}</td>
      </ng-container>
    </table>
    <mat-paginator
      [length]="_totalCount"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)"
      aria-label="Select page"
    ></mat-paginator>
  </div>
</div>
