<h3 class="flex-item">1. Identify Parcel(s) Under Application</h3>
<div class="review-table">
  <ng-container *ngFor="let parcel of parcels; let parcelInd = index">
    <div class="full-width parcel-header">
      <h4>Parcel #{{ parcelInd + 1 }}</h4>
      <div>
        <button
          *ngIf="showEdit && parcels.length > 1"
          class="mobile-hidden"
          mat-flat-button
          color="accent"
          (click)="onEditParcelClick(parcel.uuid)"
        >
          Edit Parcel {{ parcelInd + 1 }}
        </button>
        <button
          *ngIf="showEdit && parcels.length > 1"
          class="tablet-hidden"
          mat-icon-button
          color="accent"
          (click)="onEditParcelClick(parcel.uuid)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
    <div class="subheading2 grid-1">Parcel Type</div>
    <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-type'">
      {{ parcel.ownershipType?.label }}
      <app-no-data [showRequired]="showErrors" *ngIf="!parcel.ownershipType"></app-no-data>
    </div>
    <ng-container *ngIf="parcel.ownershipType">
      <div class="subheading2 grid-1">Legal Description</div>
      <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-legal-description'">
        {{ parcel.legalDescription }}
        <app-no-data
          [showRequired]="showErrors"
          *ngIf="parcel.validation?.isLegalDescriptionRequired || false"
        ></app-no-data>
      </div>
      <div class="subheading2 grid-1">Approx. Map Area</div>
      <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-map-area'">
        {{ parcel.mapAreaHectares }}
        <span *ngIf="parcel.mapAreaHectares !== null">ha</span>
        <app-no-data
          [showRequired]="showErrors"
          *ngIf="parcel.validation?.isMapAreaHectaresRequired || false"
        ></app-no-data>
      </div>
      <div class="subheading2 grid-1">
        PID {{ parcel.ownershipType.code === PARCEL_OWNERSHIP_TYPES.CROWN ? '(optional)' : '' }}
      </div>
      <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-pid'">
        <span *ngIf="parcel.pid">{{ parcel.pid | mask: '000-000-000' }}</span>
        <app-no-data
          [showRequired]="showErrors && !!parcel.validation?.isPidRequired"
          *ngIf="!parcel.pid"
        ></app-no-data>
        <app-validation-error *ngIf="showErrors && parcel.pid && parcel.pid.length < 9">
          Invalid Format
        </app-validation-error>
      </div>
      <ng-container *ngIf="parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.CROWN">
        <div class="subheading2 grid-1">PIN (optional)</div>
        <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-pin'">
          {{ parcel.pin }}
          <app-no-data
            [showRequired]="showErrors && !!parcel.validation?.isPinRequired"
            *ngIf="!parcel.pin"
          ></app-no-data>
        </div>
      </ng-container>
      <ng-container *ngIf="parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.FEE_SIMPLE">
        <div class="subheading2 grid-1">Purchase Date</div>
        <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-purchase-date'">
          {{ parcel.purchasedDate | date }}
          <app-no-data
            [showRequired]="showErrors && !!parcel.validation?.isPurchasedDateRequired"
            *ngIf="!parcel.purchasedDate"
          >
          </app-no-data>
        </div>
      </ng-container>
      <div class="subheading2 grid-1">Farm Classification</div>
      <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-is-farm'">
        <span *ngIf="parcel.isFarm !== null">{{ parcel.isFarm ? 'Yes' : 'No' }}</span>
        <app-no-data [showRequired]="showErrors" *ngIf="parcel.isFarm === null"></app-no-data>
      </div>
      <div class="subheading2 grid-1">Civic Address</div>
      <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-civic-address'">
        {{ parcel.civicAddress }}
        <app-no-data [showRequired]="showErrors" *ngIf="!parcel.civicAddress"></app-no-data>
      </div>
      <div *ngIf="showCertificateOfTitle" class="subheading2 grid-1">Certificate Of Title</div>
      <div
        *ngIf="showCertificateOfTitle"
        class="grid-double"
        [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-certificate-of-title'"
      >
        <div *ngIf="parcel.certificateOfTitle">
          <a (click)="onOpenFile(parcel.certificateOfTitle)">{{ parcel.certificateOfTitle.fileName }}</a>
        </div>
        <app-no-data
          [showRequired]="showErrors && !!parcel.validation?.isCertificateRequired"
          *ngIf="!parcel.validation?.isCertificateUploaded"
        ></app-no-data>
      </div>

      <ng-container *ngIf="parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.CROWN">
        <h5>Government Parcel Contact</h5>
        <ng-container *ngIf="parcel.owners[0]">
          <div class="subheading2 grid-1">First Name</div>
          <div class="grid-double">
            {{ parcel.owners[0].firstName }}
            <app-no-data [showRequired]="showErrors" *ngIf="!parcel.owners[0].firstName"></app-no-data>
          </div>
          <div class="subheading2 grid-1">Last Name</div>
          <div class="grid-double">
            {{ parcel.owners[0].lastName }}
            <app-no-data [showRequired]="showErrors" *ngIf="!parcel.owners[0].lastName"></app-no-data>
          </div>
          <div class="subheading2 grid-1">Ministry or Department</div>
          <div class="grid-double">
            {{ parcel.owners[0].organizationName }}
            <app-no-data [showRequired]="showErrors" *ngIf="!parcel.owners[0].organizationName"></app-no-data>
          </div>
          <div class="subheading2 grid-1">Phone</div>
          <div class="grid-double">
            {{ parcel.owners[0].phoneNumber ?? '' | mask: '(000) 000-0000' }}
            <app-no-data [showRequired]="showErrors" *ngIf="!parcel.owners[0].phoneNumber"></app-no-data>
          </div>
          <div class="subheading2 grid-1">Email</div>
          <div class="grid-double">
            {{ parcel.owners[0].email }}
            <app-no-data [showRequired]="showErrors" *ngIf="!parcel.owners[0].email"></app-no-data>
          </div>
          <div class="subheading2 grid-1">Crown Type</div>
          <div class="grid-double">
            {{ parcel.owners[0].crownLandOwnerType === 'provincial' ? 'Provincial Crown' : '' }}
            {{ parcel.owners[0].crownLandOwnerType === 'federal' ? 'Federal Crown' : '' }}
            <app-no-data [showRequired]="showErrors" *ngIf="!parcel.owners[0].crownLandOwnerType"></app-no-data>
          </div>
        </ng-container>
        <app-no-data [showRequired]="showErrors" *ngIf="!parcel.owners[0]"></app-no-data>
      </ng-container>

      <div class="full-width owner-information" *ngIf="parcel.ownershipTypeCode !== PARCEL_OWNERSHIP_TYPES.CROWN">
        <div class="subheading2">Land Owner(s)</div>
        <div class="subheading2">Organization</div>
        <div class="subheading2">Phone</div>
        <div class="subheading2">Email</div>
        <div class="subheading2">Corporate Summary</div>
        <ng-container *ngFor="let owner of parcel.owners">
          <div [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-owner-name'">
            {{ owner.displayName }}
          </div>
          <div [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-owner-organization'">
            <span *ngIf="owner.organizationName"></span>{{ owner.organizationName }}
            <app-no-data [showRequired]="false" *ngIf="!owner.organizationName"></app-no-data>
          </div>
          <div [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-owner-phone-number'">
            {{ owner.phoneNumber ?? '' | mask: '(000) 000-0000' }}
          </div>
          <div [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-owner-email'">
            {{ owner.email }}
          </div>
          <div [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-owner-corporate-summary'">
            <a *ngIf="owner.corporateSummary" (click)="onOpenFile(owner.corporateSummary)">{{
              owner.corporateSummary.fileName
            }}</a>
            <div class="no-data" *ngIf="!owner.corporateSummary">
              <div class="no-data-text">Not Applicable</div>
            </div>
          </div>
        </ng-container>
        <div class="full-width">
          <app-no-data [showRequired]="showErrors" *ngIf="parcel.owners.length === 0"></app-no-data>
        </div>
      </div>
      <div *ngIf="parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.CROWN" class="subheading2 grid-1">
        I confirm that I have provided the ministry or department responsible for this Crown land parcel to the best of
        my ability in order to avoid processing delays
      </div>
      <div *ngIf="parcel.ownershipTypeCode !== PARCEL_OWNERSHIP_TYPES.CROWN" class="subheading2 grid-1">
        I confirm that the owner information provided above matches the current Certificate of Title
      </div>
      <div class="grid-double" [attr.data-testid]="'parcel-' + (parcelInd + 1) + '-is-confirmed-by-applicant'">
        <span *ngIf="parcel.isConfirmedByApplicant">Yes</span>
        <app-no-data [showRequired]="showErrors" *ngIf="!parcel.isConfirmedByApplicant"></app-no-data>
      </div>
    </ng-container>
  </ng-container>
  <div *ngIf="showEdit" class="edit-button">
    <button mat-flat-button (click)="onEditParcelsClick($event)" color="accent">Edit Section</button>
  </div>
</div>
