<h3 class="flex-item">{{ pageTitle }}</h3>
<div class="review-table">
  <div class="subheading2 grid-1" *ngIf="parcelType === PARCEL_TYPES.OTHER">
    Does any of the parcel owners hold an interest (ownership or lease) in any other land (ALR or non-ALR) within the
    community where the application parcel(s) is located?
  </div>
  <div class="grid-double" *ngIf="parcelType === PARCEL_TYPES.OTHER">
    <span *ngIf="application.hasOtherParcelsInCommunity !== null">{{
      application.hasOtherParcelsInCommunity ? 'Yes' : 'No'
    }}</span>
    <app-no-data [showRequired]="showErrors" *ngIf="application.hasOtherParcelsInCommunity === null"></app-no-data>
  </div>

  <ng-container *ngFor="let parcel of parcels; let parcelInd = index">
    <div class="full-width parcel-header">
      <h4>
        Parcel {{ parcelType === PARCEL_TYPES.OTHER ? getLetterIndex(parcelInd) : parcelInd + 1 }}: Parcel and Owner
        Information
      </h4>
      <div>
        <button
          *ngIf="showEdit"
          class="mobile-hidden"
          mat-flat-button
          color="accent"
          (click)="onEditParcelClick(parcel.uuid)"
        >
          Edit Parcel {{ parcelType === PARCEL_TYPES.OTHER ? getLetterIndex(parcelInd) : parcelInd + 1 }}
        </button>
        <button
          *ngIf="showEdit"
          class="tablet-hidden"
          mat-icon-button
          color="accent"
          (click)="onEditParcelClick(parcel.uuid)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
    <div class="subheading2 grid-1">Ownership Type</div>
    <div class="grid-double">
      {{ parcel.ownershipType?.label }}
      <app-no-data [showRequired]="showErrors" *ngIf="!parcel.ownershipType"></app-no-data>
    </div>
    <div class="subheading2 grid-1">Legal Description</div>
    <div class="grid-double">
      {{ parcel.legalDescription }}
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="parcel.validation?.isLegalDescriptionRequired || false"
      ></app-no-data>
    </div>
    <div class="subheading2 grid-1">Area (Hectares)</div>
    <div class="grid-double">
      {{ parcel.mapAreaHectares }}
      <app-no-data
        [showRequired]="showErrors"
        *ngIf="parcel.validation?.isMapAreaHectaresRequired || false"
      ></app-no-data>
    </div>
    <div class="subheading2 grid-1">
      PID {{ parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.CROWN ? '(optional)' : '' }}
    </div>
    <div class="grid-double">
      <span *ngIf="parcel.pid">{{ parcel.pid | mask : '000-000-000' }}</span>
      <app-no-data [showRequired]="showErrors && !!parcel.validation?.isPidRequired" *ngIf="!parcel.pid"></app-no-data>
      <app-validation-error *ngIf="showErrors && parcel.pid && parcel.pid.length < 9">
        Invalid Format
      </app-validation-error>
    </div>
    <ng-container *ngIf="parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.CROWN">
      <div class="subheading2 grid-1">PIN (optional)</div>
      <div class="grid-double">
        {{ parcel.pin }}
        <app-no-data
          [showRequired]="showErrors && !!parcel.validation?.isPinRequired"
          *ngIf="!parcel.pin"
        ></app-no-data>
      </div>
    </ng-container>
    <ng-container *ngIf="parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.FEE_SIMPLE">
      <div class="subheading2 grid-1">Purchase Date</div>
      <div class="grid-double">
        {{ parcel.purchasedDate | date }}
        <app-no-data
          [showRequired]="showErrors && !!parcel.validation?.isPurchasedDateRequired"
          *ngIf="!parcel.purchasedDate"
        >
        </app-no-data>
      </div>
    </ng-container>
    <div class="subheading2 grid-1">Farm Classification</div>
    <div class="grid-double">
      <span *ngIf="parcel.isFarm !== null">{{ parcel.isFarm ? 'Yes' : 'No' }}</span>
      <app-no-data [showRequired]="showErrors" *ngIf="parcel.isFarm === null"></app-no-data>
    </div>
    <div class="subheading2 grid-1">Civic Address</div>
    <div class="grid-double">
      {{ parcel.civicAddress }}
      <app-no-data [showRequired]="showErrors" *ngIf="!parcel.civicAddress"></app-no-data>
    </div>
    <ng-container *ngIf="parcel.validation?.isCrownSelectionMandatory">
      <div class="subheading2 grid-1">Crown Selection</div>
      <div class="grid-double">
        <span class="crown-land" *ngIf="parcel.crownLandOwnerType !== null">{{ parcel.crownLandOwnerType }}</span>
        <app-no-data [showRequired]="showErrors" *ngIf="parcel.crownLandOwnerType === null"></app-no-data>
      </div>
    </ng-container>
    <div *ngIf="showCertificateOfTitle" class="subheading2 grid-1">Certificate Of Title</div>
    <div *ngIf="showCertificateOfTitle" class="grid-double">
      <div *ngIf="parcel.certificateOfTitle">
        <a (click)="onOpenFile(parcel.certificateOfTitle.uuid)">{{ parcel.certificateOfTitle.fileName }}</a>
      </div>
      <app-no-data
        [showRequired]="showErrors && !!parcel.validation?.isCertificateRequired"
        *ngIf="!parcel.validation?.isCertificateUploaded"
      ></app-no-data>
    </div>

    <div
      class="full-width owner-information"
      [ngClass]="{ 'crown-owner-information': parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.CROWN }"
    >
      <div class="subheading2" *ngIf="parcel.ownershipTypeCode !== PARCEL_OWNERSHIP_TYPES.CROWN">Land Owner(s)</div>
      <div class="subheading2" *ngIf="parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.CROWN">Crown Contact(s)</div>
      <div class="subheading2" *ngIf="parcel.ownershipTypeCode !== PARCEL_OWNERSHIP_TYPES.CROWN">Organization</div>
      <div class="subheading2" *ngIf="parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.CROWN">
        Ministry/Department
      </div>
      <div class="subheading2">Phone</div>
      <div class="subheading2">Email</div>
      <div class="subheading2" *ngIf="parcel.ownershipTypeCode !== PARCEL_OWNERSHIP_TYPES.CROWN">Corporate Summary</div>
      <ng-container *ngFor="let owner of parcel.owners">
        <div>{{ owner.displayName }}</div>
        <div>
          <span *ngIf="owner.organizationName"></span>{{ owner.organizationName }}
          <app-no-data [showRequired]="false" *ngIf="!owner.organizationName"></app-no-data>
        </div>
        <div>{{ owner.phoneNumber }}</div>
        <div>{{ owner.email }}</div>
        <div *ngIf="parcel.ownershipTypeCode !== PARCEL_OWNERSHIP_TYPES.CROWN">
          <a *ngIf="owner.corporateSummary" (click)="onOpenFile(owner.corporateSummary.uuid)">{{
            owner.corporateSummary.fileName
          }}</a>
          <app-no-data [showRequired]="false" *ngIf="!owner.corporateSummary"></app-no-data>
        </div>
      </ng-container>
      <div class="full-width">
        <app-no-data [showRequired]="showErrors" *ngIf="parcel.owners.length === 0"></app-no-data>
      </div>
    </div>
    <div class="subheading2 grid-1" *ngIf="parcelType !== PARCEL_TYPES.OTHER">
      I confirm that the owner information provided above matches the current Certificate of Title
    </div>
    <div class="grid-double" *ngIf="parcelType !== PARCEL_TYPES.OTHER">
      <span *ngIf="parcel.isConfirmedByApplicant">Yes</span>
      <app-no-data [showRequired]="showErrors" *ngIf="!parcel.isConfirmedByApplicant"></app-no-data>
    </div>
  </ng-container>
  <div *ngIf="showEdit" class="edit-button">
    <button mat-flat-button (click)="onEditParcelsClick($event)" color="accent">Edit Section</button>
  </div>
</div>
