@use '../../../../../styles/functions' as *;

.owner-information {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content max-content;
  overflow-x: auto;
  grid-column-gap: rem(36);
  grid-row-gap: rem(12);

  .full-width {
    grid-column: 1/3;
  }
}

.review-table {
  grid-template-columns: 1fr 1fr !important;

  .full-width {
    grid-column: 1/3;
  }

  .edit-button {
    grid-column: 1/3;
  }

  @media screen and (min-width: $tabletBreakpoint) {
    .full-width {
      grid-column: 1/5;
    }

    .edit-button {
      grid-column: 1/5;
    }
  }
}

.crown-land {
  text-transform: capitalize;
}
