<div mat-dialog-title>
  <h2 class="card-title">Edit Reconsideration</h2>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-dialog-content style="height: 100%">
    <div class="grid">
      <mat-form-field appearance="outline" class="date-picker">
        <mat-label>Request Submission Date</mat-label>
        <input
          matInput
          (click)="datePicker.open()"
          [matDatepicker]="datePicker"
          formControlName="submittedDate"
          name="submittedDate"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker type="date"> </mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Decisions to be Reconsidered</mat-label>
        <mat-select formControlName="reconsidersDecisions" multiple>
          <mat-option *ngFor="let decision of decisions" [value]="decision.uuid">{{ decision.resolution }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="full-grid-line toggle-group">
        <mat-label class="toggle-label">Reconsideration Type *</mat-label>
        <mat-button-toggle-group
          id="reviewOutcome"
          formControlName="type"
          name="reviewOutcome"
          (change)="onTypeReconsiderationChange($event.value)"
        >
          <mat-button-toggle *ngFor="let type of codes" value="{{ type.code }}">{{ type.label }}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div *ngIf="typeControl.value === '33'" class="full-grid-line toggle-group">
        <mat-label class="toggle-label">Review Outcome <span>*</span></mat-label>
        <mat-button-toggle-group id="reviewOutcomeCode" formControlName="reviewOutcomeCode" name="reviewOutcomeCode">
          <mat-button-toggle value="PEN">Pending</mat-button-toggle>
          <mat-button-toggle value="PRC">Proceed to Reconsider</mat-button-toggle>
          <mat-button-toggle value="REF">Refuse to Reconsider</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <mat-form-field
        *ngIf="
          typeControl.value === '33' &&
          reviewOutcomeCodeControl.value !== 'PEN' &&
          reviewOutcomeCodeControl.value !== null
        "
        appearance="outline"
        class="date-picker full-grid-line"
      >
        <mat-label>
          Outcome Notification Date
          <mat-icon matTooltip="The date that the applicant/affected party is notified of the review outcome">
            info
          </mat-icon>
        </mat-label>
        <input
          matInput
          (click)="reviewDatePicker.open()"
          [matDatepicker]="reviewDatePicker"
          formControlName="reviewDate"
          name="reviewDate"
        />
        <mat-datepicker-toggle matSuffix [for]="reviewDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #reviewDatePicker type="date"> </mat-datepicker>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="button-container">
      <button mat-stroked-button color="primary" mat-dialog-close="false">Close</button>
      <button [loading]="isLoading" mat-flat-button color="primary" type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </mat-dialog-actions>
</form>
