<div class="header">
  <h3>Documents</h3>
  <button (click)="onUploadFile()" mat-flat-button color="primary">+ Add Document</button>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z3 documents">
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type">Type</th>
    <td mat-cell *matCellDef="let element" [matTooltip]="element.type.label">
      {{ element.type.oatsCode }}
    </td>
  </ng-container>

  <ng-container matColumnDef="fileName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Document Name</th>
    <td mat-cell *matCellDef="let element">
      <a
        (click)="openFile(element.uuid, element.fileName)" 
        [matTooltip]="element.fileName"
        [matTooltipDisabled]="element.fileName.length <= fileNameTruncLen">
        {{ element.fileName | truncate: fileNameTruncLen}}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="source">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by source">Source - System</th>
    <td mat-cell *matCellDef="let element">{{ element.source }} - {{ element.system }}</td>
  </ng-container>

  <ng-container matColumnDef="visibilityFlags">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by visibility">
      Visibility
      <div class="subheading">* = Pending</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.visibilityFlags.includes('A')">
        <span matTooltip="Applicant">A<span *ngIf="hiddenFromPortal">*</span></span>
        <ng-container
          *ngIf="
            element.visibilityFlags.includes('C') ||
            element.visibilityFlags.includes('G') ||
            element.visibilityFlags.includes('P')
          "
        >,
        </ng-container>
      </ng-container>
      <ng-container *ngIf="element.visibilityFlags.includes('C')">
        <span matTooltip="Commissioner">C<span *ngIf="!hasBeenSetForDiscussion">*</span></span>
        <ng-container *ngIf="element.visibilityFlags.includes('G') || element.visibilityFlags.includes('P')"
        >,
        </ng-container>
      </ng-container>
      <ng-container *ngIf="element.visibilityFlags.includes('G')">
        <span matTooltip="L/FNG">G<span *ngIf="hiddenFromPortal">*</span></span>
        <ng-container *ngIf="element.visibilityFlags.includes('P')">,&nbsp;</ng-container>
      </ng-container>
      <ng-container *ngIf="element.visibilityFlags.includes('P')">
        <span matTooltip="Public">P<span *ngIf="hiddenFromPortal || !hasBeenReceived">*</span></span>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="uploadedAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">Upload Date</th>
    <td mat-cell *matCellDef="let element">{{ element.uploadedAt | date }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="downloadFile(element.uuid, element.fileName)">
        <mat-icon>file_download</mat-icon>
      </button>
      <button mat-icon-button (click)="onEditFile(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        *ngIf="element.system === DOCUMENT_SYSTEM.ALCS || element.system === DOCUMENT_SYSTEM.OATS"
        mat-icon-button
        (click)="onDeleteFile(element)"
      >
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="text-center" colspan="6">No Documents</td>
  </tr>
</table>
