<h2>Review & Submit</h2>
<div>
  <div class="description">
    <div>Complete First Nation government review and submit to ALC</div>
  </div>
  <div *ngIf="_applicationReview" class="mobile-hidden">
    <section>
      <h4>1. Contact Information</h4>
      <div class="review-table">
        <div>
          <div class="subheading2">First Nation Government File Number</div>
          <div>
            {{ _applicationReview.localGovernmentFileNumber }}
            <app-no-data [showRequired]="showErrors" *ngIf="!_applicationReview.localGovernmentFileNumber">
            </app-no-data>
          </div>
        </div>
        <div>
          <div class="subheading2">First Name</div>
          <div>
            {{ _applicationReview.firstName }}
            <app-no-data [showRequired]="showErrors" *ngIf="!_applicationReview.firstName"></app-no-data>
          </div>
        </div>
        <div>
          <div class="subheading2">Last Name</div>
          <div>
            {{ _applicationReview.lastName }}
            <app-no-data [showRequired]="showErrors" *ngIf="!_applicationReview.lastName"></app-no-data>
          </div>
        </div>
        <div>
          <div class="subheading2">Position</div>
          <div>
            {{ _applicationReview.position }}
            <app-no-data [showRequired]="showErrors" *ngIf="!_applicationReview.position"></app-no-data>
          </div>
        </div>
        <div>
          <div class="subheading2">Department</div>
          <div>
            {{ _applicationReview.department }}
            <app-no-data [showRequired]="showErrors" *ngIf="!_applicationReview.department"></app-no-data>
          </div>
        </div>
        <div>
          <div class="subheading2">Phone Number</div>
          <div>
            {{ _applicationReview.phoneNumber }}
            <app-no-data [showRequired]="showErrors" *ngIf="!_applicationReview.phoneNumber"></app-no-data>
          </div>
        </div>
        <div>
          <div class="subheading2">Email</div>
          <div>
            {{ _applicationReview.email }}
            <app-no-data [showRequired]="showErrors" *ngIf="!_applicationReview.email"></app-no-data>
          </div>
        </div>
        <div class="edit-button">
          <button mat-flat-button (click)="onEditSection(0)" color="accent">Edit Section</button>
        </div>
      </div>
    </section>
    <section>
      <h4>2. Resolution</h4>
      <div class="review-table">
        <div class="full-width">
          <div class="subheading2">Resolution for Application to Proceed to the ALC</div>
          <div>
            {{ _applicationReview.isAuthorized ? 'Yes' : 'No' }}
            <app-no-data [showRequired]="showErrors" *ngIf="_applicationReview.isAuthorized === null"></app-no-data>
          </div>
        </div>
        <div class="edit-button">
          <button mat-flat-button (click)="onEditSection(1)" color="accent">Edit Section</button>
        </div>
      </div>
    </section>
    <section>
      <h4>3. Attachments</h4>
      <div class="review-table">
        <div>
          <div class="subheading2">Resolution Document</div>
          <div>
            <a class="link" (click)="openFile(document.uuid)" *ngFor="let document of resolutionDocument">{{
              document.fileName
            }}</a>
            <app-no-data [showRequired]="showErrors" *ngIf="resolutionDocument.length === 0"></app-no-data>
          </div>
        </div>
        <div>
          <div class="subheading2">Other Attachments (optional):</div>
          <div>
            <a class="link" (click)="openFile(document.uuid)" *ngFor="let document of otherAttachments">{{
              document.fileName
            }}</a>
          </div>
        </div>
        <div class="edit-button">
          <button mat-flat-button (click)="onEditSection(2)" color="accent">Edit Section</button>
        </div>
      </div>
    </section>
  </div>
  <div *ngIf="_applicationReview" class="tablet-hidden">
    <mat-expansion-panel #contactInfo>
      <mat-expansion-panel-header>
        <h4>1. Contact Information</h4>
      </mat-expansion-panel-header>
      <div class="review-table">
        <div>
          <div class="subheading2">First Nation Government File Number</div>
          <div>
            {{ _applicationReview.localGovernmentFileNumber }}
            <app-no-data
              [showRequired]="showErrors"
              *ngIf="!_applicationReview.localGovernmentFileNumber"
            ></app-no-data>
          </div>
        </div>
        <div>
          <div class="subheading2">First Name</div>
          <div>
            {{ _applicationReview.firstName }}
            <app-no-data [showRequired]="showErrors" *ngIf="!_applicationReview.firstName"></app-no-data>
          </div>
        </div>
        <div>
          <div class="subheading2">Last Name</div>
          <div>
            {{ _applicationReview.lastName }}
            <app-no-data [showRequired]="showErrors" *ngIf="!_applicationReview.lastName"></app-no-data>
          </div>
        </div>
        <div>
          <div class="subheading2">Position</div>
          <div>
            {{ _applicationReview.position }}
            <app-no-data [showRequired]="showErrors" *ngIf="!_applicationReview.position"></app-no-data>
          </div>
        </div>
        <div>
          <div class="subheading2">Department</div>
          <div>
            {{ _applicationReview.department }}
            <app-no-data [showRequired]="showErrors" *ngIf="!_applicationReview.department"></app-no-data>
          </div>
        </div>
        <div>
          <div class="subheading2">Phone Number</div>
          <div>
            {{ _applicationReview.phoneNumber }}
            <app-no-data [showRequired]="showErrors" *ngIf="!_applicationReview.phoneNumber"></app-no-data>
          </div>
        </div>
        <div>
          <div class="subheading2">Email</div>
          <div>
            {{ _applicationReview.email }}
            <app-no-data [showRequired]="showErrors" *ngIf="!_applicationReview.email"></app-no-data>
          </div>
        </div>
        <div class="edit-button">
          <button mat-flat-button (click)="onEditSection(0)" color="accent">Edit Section</button>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel #resolutionInfo>
      <mat-expansion-panel-header>
        <h4>2. Resolution</h4>
      </mat-expansion-panel-header>
      <div class="review-table">
        <div class="full-width">
          <div class="subheading2">Resolution for Application to Proceed to the ALC</div>
          <div>
            <span *ngIf="_applicationReview.isAuthorized !== null">{{
              _applicationReview.isAuthorized ? 'Yes' : 'No'
            }}</span>
            <app-no-data [showRequired]="showErrors" *ngIf="_applicationReview.isAuthorized === null"></app-no-data>
          </div>
        </div>
        <div class="edit-button">
          <button mat-flat-button (click)="onEditSection(1)" color="accent">Edit Section</button>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel #attachmentInfo>
      <mat-expansion-panel-header>
        <h4>3. Attachments</h4>
      </mat-expansion-panel-header>
      <div class="review-table">
        <div>
          <div class="subheading2">Resolution Document</div>
          <div>
            <a class="link" (click)="openFile(document.uuid)" *ngFor="let document of resolutionDocument">{{
              document.fileName
            }}</a>
            <app-no-data [showRequired]="showErrors" *ngIf="resolutionDocument.length === 0"></app-no-data>
          </div>
        </div>
        <div>
          <div class="subheading2">Other Attachments (optional):</div>
          <div>
            <a class="link" (click)="openFile(document.uuid)" *ngFor="let document of otherAttachments">{{
              document.fileName
            }}</a>
          </div>
        </div>
        <div class="edit-button">
          <button mat-flat-button (click)="onEditSection(2)" color="accent">Edit Section</button>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
  <div class="button-container">
    <button (click)="onExit()" mat-stroked-button color="accent">Save and Exit</button>
    <div>
      <button mat-stroked-button matStepperPrevious color="primary">
        Previous<span class="mobile-hidden"> Step</span>
      </button>
      <button (click)="onSubmit()" mat-flat-button color="primary">Submit</button>
    </div>
  </div>
</div>
