<section>
  <div class="split">
    <h3>Components</h3>
    <div>
      <button
        type="button"
        [ngClass]="{ 'error-field-outlined ng-invalid': showError }"
        [matMenuTriggerFor]="decisionComponentMenu"
        mat-flat-button
        color="primary"
        >
        Add Component ▾
      </button>
      @if (showError) {
        <app-error-message></app-error-message>
      }
    </div>
  </div>

  <mat-menu xPosition="before" #decisionComponentMenu="matMenu">
    @for (componentType of decisionComponentTypes; track componentType) {
      <button
        type="button"
        mat-menu-item
        (click)="onAddNewComponent(componentType.uiCode, componentType.code)"
        [disabled]="componentType.isDisabled"
        >
        <div class="board-menu-item">
          <span>{{ componentType.label }}</span>
        </div>
      </button>
    }
  </mat-menu>

  @for (component of components; track trackByFn(index, component); let index = $index) {
    <div class="component">
      <app-decision-component
        [(data)]="components[index]"
        [codes]="codes"
        (dataChange)="onChange()"
        (remove)="onRemove(index)"
      ></app-decision-component>
    </div>
  }
</section>
