@if (_noiSubmission) {
  <div class="review-table">
    <div class="subheading2 grid-1">
      Has the ALC previously received an application or Notice of Intent for this proposal?
    </div>
    <div class="grid-double">
      @if (_noiSubmission.soilIsFollowUp !== null) {
        <span>
          {{ _noiSubmission.soilIsFollowUp ? 'Yes' : 'No' }}
        </span>
      }
      @if (_noiSubmission.soilIsFollowUp === null) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    @if (_noiSubmission.soilIsFollowUp) {
      <div class="subheading2 grid-1">Application or NOI ID</div>
    }
    @if (_noiSubmission.soilIsFollowUp) {
      <div class="grid-double">
        {{ _noiSubmission.soilFollowUpIDs }}
        @if (!_noiSubmission.soilFollowUpIDs) {
          <app-no-data [showRequired]="showErrors"></app-no-data>
        }
      </div>
    }
    <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
    <div class="grid-double">
      {{ _noiSubmission.purpose }}
      @if (!_noiSubmission.purpose) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Describe the type, origin and quality of fill proposed to be placed.</div>
    <div class="grid-double">
      {{ _noiSubmission.soilFillTypeToPlace }}
      @if (!_noiSubmission.soilFillTypeToPlace) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Placement of Fill Project Duration</div>
    <div class="grid-double">
      @if (_noiSubmission.soilProjectDuration) {
        <div>
          {{ _noiSubmission.soilProjectDuration }}
        </div>
      }
      @if (!_noiSubmission.soilProjectDuration) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    <div class="full-width soil-table">
      <div></div>
      <div class="subheading2">Fill to be Placed</div>
      <div class="subheading2">Volume</div>
      <div>
        {{ _noiSubmission.soilToPlaceVolume }}
        @if (_noiSubmission.soilToPlaceVolume !== null) {
          <span>m<sup>3</sup></span>
        }
        @if (_noiSubmission.soilToPlaceVolume === null) {
          <app-no-data [showRequired]="showErrors"></app-no-data>
        }
      </div>
      <div class="subheading2">Area</div>
      <div>
        {{ _noiSubmission.soilToPlaceArea }}
        @if (_noiSubmission.soilToPlaceArea !== null) {
          <span>m<sup>2</sup></span>
        }
        @if (_noiSubmission.soilToPlaceArea === null) {
          <app-no-data [showRequired]="showErrors"></app-no-data>
        }
      </div>
      <div class="subheading2">Maximum Depth</div>
      <div>
        {{ _noiSubmission.soilToPlaceMaximumDepth }}
        @if (_noiSubmission.soilToPlaceMaximumDepth !== null) {
          <span>m</span>
        }
        @if (_noiSubmission.soilToPlaceMaximumDepth === null) {
          <app-no-data [showRequired]="showErrors"></app-no-data>
        }
      </div>
      <div class="subheading2">Average Depth</div>
      <div>
        {{ _noiSubmission.soilToPlaceAverageDepth }}
        @if (_noiSubmission.soilToPlaceAverageDepth !== null) {
          <span>m</span>
        }
        @if (_noiSubmission.soilToPlaceAverageDepth === null) {
          <app-no-data [showRequired]="showErrors"></app-no-data>
        }
      </div>
      <div></div>
      <div class="subheading2">Fill already Placed</div>
      <div class="subheading2">Volume</div>
      <div>
        {{ _noiSubmission.soilAlreadyPlacedVolume }}
        @if (_noiSubmission.soilAlreadyPlacedVolume !== null) {
          <span>m<sup>3</sup></span>
        }
        @if (_noiSubmission.soilAlreadyPlacedVolume === null) {
          <app-no-data [showRequired]="showErrors"></app-no-data>
        }
      </div>
      <div class="subheading2">Area</div>
      <div>
        {{ _noiSubmission.soilAlreadyPlacedArea }}
        @if (_noiSubmission.soilAlreadyPlacedArea !== null) {
          <span>m<sup>2</sup></span>
        }
        @if (_noiSubmission.soilAlreadyPlacedArea === null) {
          <app-no-data [showRequired]="showErrors"></app-no-data>
        }
      </div>
      <div class="subheading2">Maximum Depth</div>
      <div>
        {{ _noiSubmission.soilAlreadyPlacedMaximumDepth }}
        @if (_noiSubmission.soilAlreadyPlacedMaximumDepth !== null) {
          <span>m</span>
        }
        @if (_noiSubmission.soilAlreadyPlacedMaximumDepth === null) {
          <app-no-data
            [showRequired]="showErrors"
          ></app-no-data>
        }
      </div>
      <div class="subheading2">Average Depth</div>
      <div>
        {{ _noiSubmission.soilAlreadyPlacedAverageDepth }}
        @if (_noiSubmission.soilAlreadyPlacedAverageDepth !== null) {
          <span>m</span>
        }
        @if (_noiSubmission.soilAlreadyPlacedAverageDepth === null) {
          <app-no-data
            [showRequired]="showErrors"
          ></app-no-data>
        }
      </div>
    </div>
    <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
    <div class="grid-double">
      @for (map of proposalMap; track map) {
        <a class="mobile" (click)="downloadFile(map.documentUuid)">{{ map.fileName }}</a>
        <a class="desktop" routerLink="/document/{{ map.documentUuid }}" target="_blank">{{ map.fileName }}</a>
      }
      @if (proposalMap.length === 0) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Is your proposal for area-wide filling?</div>
    <div class="grid-double">
      @if (_noiSubmission.soilIsAreaWideFilling !== null) {
        <span>
          {{ _noiSubmission.soilIsAreaWideFilling ? 'Yes' : 'No' }}
        </span>
      }
      @if (_noiSubmission.soilIsAreaWideFilling === null) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    @if (_noiSubmission.soilIsAreaWideFilling) {
      <div class="subheading2 grid-1">Cross Sections</div>
      <div class="grid-double">
        @for (file of crossSections; track file) {
          <div>
            <a class="mobile" (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
            <a class="desktop" routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
          </div>
        }
        @if (crossSections.length === 0) {
          <app-no-data [showRequired]="showErrors"></app-no-data>
        }
      </div>
      <div class="subheading2 grid-1">Reclamation Plan</div>
      <div class="grid-double">
        @for (file of reclamationPlans; track file) {
          <div>
            <a class="mobile" (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
            <a class="desktop" routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
          </div>
        }
        @if (reclamationPlans.length === 0) {
          <app-no-data [showRequired]="showErrors"></app-no-data>
        }
      </div>
    }
    @if (showEdit) {
      <div class="edit-button">
        <button mat-flat-button (click)="onEditSection(4)" color="accent">Edit Section</button>
      </div>
    }
  </div>
}
