<section>
  <div class="split">
    <h3>Conditions</h3>
    <div>
      <button
        [ngClass]="{ 'error-field-outlined ng-invalid': showError }"
        type="button"
        [matMenuTriggerFor]="decisionComponentMenu"
        mat-flat-button
        color="primary"
        >
        Add Condition ▾
      </button>
      @if (showError) {
        <app-error-message></app-error-message>
      }
    </div>
  </div>

  <mat-menu xPosition="before" #decisionComponentMenu="matMenu">
    @for (type of activeTypes; track type) {
      <button mat-menu-item (click)="onAddNewCondition(type.code)">
        <div class="board-menu-item">
          <span>{{ type.label }}</span>
        </div>
      </button>
    }
  </mat-menu>

  @for (condition of mappedConditions; track trackByFn(index, condition); let index = $index) {
    <div class="condition">
      <app-noi-decision-condition
        [(data)]="mappedConditions[index]"
        (dataChange)="onChanges()"
        (remove)="onRemoveCondition(index)"
        [selectableComponents]="selectableComponents"
        [showDateError]="showDateErrors"
      ></app-noi-decision-condition>
    </div>
  }
</section>
