@use '../../../../styles/colors.scss' as colors;

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  .full-width {
    grid-column: 1 / -1;
  }

  div > mat-form-field {
    width: 100%;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .anonymous-toggle,
  .delete-button {
    margin-left: auto;
  }
}
