<form [formGroup]="form">
  <div class="header full-width">
    <h3>{{ title }}</h3>

    <mat-slide-toggle class="anonymous-toggle" formControlName="isAnonymous" (change)="setAnonymity($event.checked)">
      &nbsp;Mark as Anonymous
    </mat-slide-toggle>

    <button
      *ngIf="showDeleteButton"
      class="delete-button"
      mat-stroked-button
      color="warn"
      type="button"
      (click)="deleteButtonClicked.emit()"
    >
      Delete
    </button>
  </div>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name" />
  </mat-form-field>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="text" matInput formControlName="email" />
    </mat-form-field>
    <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="validation-error">
      <mat-icon class="error-icon">warning</mat-icon>
      <span>Please type a valid email address</span>
    </div>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Telephone</mat-label>
      <input mask="(000) 000-0000" maxlength="14" type="text" matInput formControlName="telephoneNumber" />
    </mat-form-field>
    <div *ngIf="form.controls['telephoneNumber'].invalid && form.controls['telephoneNumber'].touched" class="validation-error">
      <mat-icon class="error-icon">warning</mat-icon>
      <span>Please type a valid telephone number</span>
    </div>
  </div>

  <div class="form-field-container">
    <div class="affiliation-field">
      <mat-form-field appearance="outline">
        <mat-label>Affiliation</mat-label>
        <input type="text" matInput formControlName="affiliation" />
      </mat-form-field>
      <div *ngIf="form.controls['affiliation'].hasError('required') && form.controls['affiliation'].touched" class="validation-error">
        <mat-icon class="error-icon">warning</mat-icon>
        <span>This field is required</span>
      </div>
    </div>

    <div class="additional-info-field">
      <mat-form-field appearance="outline">
        <mat-label>Additional Contact Information</mat-label>
        <input type="text" matInput formControlName="additionalContactInformation" />
      </mat-form-field>
    </div>
  </div>
</form>
