<div mat-dialog-title>
  <h4>{{ title }} Document</h4>
</div>
<div mat-dialog-content>
  <form [formGroup]="form" class="form">
    <div class="double">
      <div>
        <mat-label>Document Upload*</mat-label>
      </div>
      <input #fileInput (change)="uploadFile($event)" hidden placeholder="Upload file" type="file" />
      <div
        *ngIf="!pendingFile && !existingFile"
        [ngClass]="{
          'file-drag-drop': true,
          error: showHasVirusError || showVirusScanFailedError,
        }"
        class="full-width upload-button"
        appDragDropFile
        color="accent"
        (files)="filesDropped($event)"
      >
        <button class="content" type="button" (click)="fileInput.click()">
          <div class="icon">
            <mat-icon inline="true">file_upload</mat-icon>
          </div>
          <button type="button" mat-flat-button color="accent">Upload File</button>
          <div class="drag-text">or drag and drop them here</div>
        </button>
      </div>
      <div *ngIf="pendingFile" class="file">
        <div>
          <a (click)="openFile()">{{ pendingFile.name }}</a>
          &nbsp;({{ pendingFile.size | filesize }})
        </div>
        <button (click)="onRemoveFile()" [disabled]="!allowsFileEdit" mat-button>
          <mat-icon>close</mat-icon>
          Remove
        </button>
      </div>
      <div *ngIf="existingFile" class="file">
        <div>
          <a (click)="openExistingFile()">{{ existingFile.name }}</a>
        </div>
        <button (click)="onRemoveFile()" [disabled]="!allowsFileEdit" mat-button>
          <mat-icon>close</mat-icon>
          Remove
        </button>
      </div>

      <mat-error *ngIf="showHasVirusError" class="left" style="display: flex">
        <mat-icon>warning</mat-icon>&nbsp;A virus was detected in the file. Choose another file and try again.
      </mat-error>
      <mat-error *ngIf="showVirusScanFailedError" class="left" style="display: flex">
        <mat-icon>warning</mat-icon>&nbsp;There was a problem scanning the file for viruses. Please try again.
      </mat-error>
    </div>

    <div class="double">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Document Name</mat-label>
        <input [formControl]="name" id="name" matInput name="name" required />
        <span matTextSuffix>{{ extension }}</span>
      </mat-form-field>
    </div>

    <div>
      <ng-select
        formControlName="type"
        (change)="onDocTypeSelected($event)"
        [searchFn]="filterDocumentTypes"
        appendTo="body"
        [items]="documentTypes"
        bindLabel="label"
        bindValue="code"
        appearance="outline"
        placeholder="Document Type*"
      >
      </ng-select>
    </div>

    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Source</mat-label>
        <mat-select [formControl]="source">
          <mat-option *ngFor="let source of documentSources" [value]="source">{{ source }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="selectableParcels && type.value === DOCUMENT_TYPE.CERTIFICATE_OF_TITLE">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Associated Parcel</mat-label>
        <mat-select [formControl]="parcelId">
          <mat-option *ngFor="let parcel of selectableParcels; let i = index" [value]="parcel.uuid">
            #{{ i + 1 }} PID:
            <span *ngIf="parcel.pid">{{ parcel.pid | mask: '000-000-000' }}</span>
            <span *ngIf="!parcel.pid">No Data</span></mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="selectableOwners && type.value === DOCUMENT_TYPE.CORPORATE_SUMMARY">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Associated Organization</mat-label>
        <mat-select [formControl]="ownerId">
          <mat-option *ngFor="let owner of selectableOwners" [value]="owner.uuid">
            {{ owner.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="data.allowedVisibilityFlags" class="double">
      <mat-label>Visible To:</mat-label>
      <div
        *ngIf="
          data.allowedVisibilityFlags?.includes('A') ||
          data.allowedVisibilityFlags?.includes('C') ||
          data.allowedVisibilityFlags?.includes('G')
        "
      >
        <mat-checkbox [formControl]="visibleToInternal">{{ internalVisibilityLabel }}</mat-checkbox>
      </div>
      <div *ngIf="data.allowedVisibilityFlags?.includes('P')">
        <mat-checkbox [formControl]="visibleToPublic">Public</mat-checkbox>
      </div>
    </div>
  </form>

  <mat-dialog-actions align="end">
    <div class="button-container">
      <button [mat-dialog-close]="false" color="primary" mat-stroked-button type="button">Close</button>
      <button
        (click)="onSubmit()"
        *ngIf="!isSaving"
        [disabled]="!form.valid || (!pendingFile && !existingFile)"
        color="primary"
        mat-flat-button
        type="button"
      >
        Save
      </button>
      <button *ngIf="isSaving" [disabled]="true" color="primary" mat-flat-button type="button">
        <mat-spinner class="spinner" diameter="20"></mat-spinner>
        Uploading
      </button>
    </div>
  </mat-dialog-actions>
</div>
