@use '../../../../styles/functions' as *;
@use '../../../../styles/colors';

.label {
  display: inline-block;
  padding: rem(4) rem(16);
  border-radius: rem(16);
  font-weight: bold;
}

.incomplete,
.wrong-government,
.refused-to-forward,
.alc-incomplete {
  background-color: colors.$accent-color-light;
  color: colors.$accent-color-dark;
}

.submitted-to-alc,
.submitted-to-lg,
.alc-decision {
  background-color: colors.$primary-color-light;
  color: colors.$primary-color-dark;
}

.in-progress,
.in-review,
.in-review-alcs,
.alc-received {
  background-color: colors.$secondary-color-light;
  color: colors.$secondary-color-dark;
}

.cancelled {
  background-color: colors.$grey-light;
  color: colors.$grey-dark;
}

.table-wrapper {
  overflow-x: auto;

  .table-container {
    display: table;
    width: 100%;

    table {
      width: 100%;
    }

    ::ng-deep .mat-table {
      ::ng-deep .mat-cell,
      ::ng-deep .mat-header-cell,
      ::ng-deep .mat-row,
      ::ng-deep .mat-header-row {
        min-width: rem(150);
      }
    }
  }
}
