@import '../../../../styles/colors';
@import '../../../../styles/functions';

.label {
  display: inline-block;
  padding: 0.4rem 2rem;
  border-radius: 1.6rem;
}

.in-progress {
  background-color: $accent-color-light;
  color: $accent-color-dark;
}

.submitted-to-alc {
  background-color: $primary-color-light;
  color: $primary-color-dark;
}

.submitted-to-lg {
  background-color: $secondary-color-light;
  color: $secondary-color-dark;
}

.cancelled {
  background-color: $secondary-color-light;
  color: $secondary-color-dark;
}

.table-wrapper {
  overflow-x: auto;

  .table-container {
    display: table;

    table {
      width: 100%;
    }

    ::ng-deep .mat-table {
      ::ng-deep .mat-cell,
      ::ng-deep .mat-header-cell,
      ::ng-deep .mat-row,
      ::ng-deep .mat-header-row {
        min-width: rem(150);
      }
    }
  }
}
