<div class="step-description">
  <h2>Proposal</h2>
  <p>
    Considerations are subject to
    <a> Section 6 of the ALC Act. </a>
  </p>
  <p>*All fields are required unless stated optional.</p>
</div>
<app-warning-banner>
  Please consult the '
  <a
    href="https://www.alc.gov.bc.ca/application-and-notice-process/applications/what-the-commission-considers/"
    target="_blank"
  >
    What the Commission Considers
  </a>
  ' page of the ALC website for more information.
</app-warning-banner>
<form [formGroup]="form">
  <div class="form-row">
    <div>
      <label for="hectares">How many hectares are you proposing to include?</label>
      <div class="subtext">Note: 0.01 ha is 100m<sup>2</sup></div>
      <mat-form-field appearance="outline">
        <input
          id="hectares"
          mask="separator.2"
          thousandSeparator=","
          separatorLimit="9999999999"
          min="0.01"
          matInput
          formControlName="hectares"
          placeholder="Type area in hectares"
        />
        <span matTextSuffix>ha</span>
      </mat-form-field>
      <div *ngIf="hectares.invalid && (hectares.dirty || hectares.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="hectares.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label for="purpose">What is the purpose of the proposal?</label>
      <div class="subtext">
        Be clear and concise in describing the proposal. Include why you are applying for inclusion and what the
        proposal will achieve.
      </div>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="purpose"
          #purposeText
          maxlength="4000"
          id="purpose"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <span class="subtext">Characters left: {{ 4000 - purposeText.textLength }}</span>
      <div *ngIf="purpose.invalid && (purpose.dirty || purpose.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="purpose.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label for="agSupport">Does the proposal support agriculture in the short or long term? Please explain.</label>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="agSupport"
          #outsideLandsText
          maxlength="4000"
          id="agSupport"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <span class="subtext">Characters left: {{ 4000 - outsideLandsText.textLength }}</span>
      <div *ngIf="agSupport.invalid && (agSupport.dirty || agSupport.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="agSupport.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label for="improvements"
        >Describe any improvements that have been made to, or are planned for the parcel proposed for inclusion.</label
      >
      <div class="subtext">
        Describe any irrigation, drainage, fencing, material enhancement, clearing, or other improvements that have been
        completed, are in progress, or are planned for the subject parcel(s). If there have not been any agricultural
        improvements on the parcel(s), please specify "No Agricultural Improvements".
      </div>
      <mat-form-field appearance="outline">
        <textarea
          formControlName="improvements"
          #improvementsText
          maxlength="4000"
          id="improvements"
          matInput
          placeholder="Type comment"
        ></textarea>
      </mat-form-field>
      <div class="subtext">Example: 40 ha of grazing land fenced in 2010.</div>
      <span class="subtext">Characters left: {{ 4000 - improvementsText.textLength }}</span>
      <div *ngIf="improvements.invalid && (improvements.dirty || improvements.touched)" class="field-error">
        <mat-icon>warning</mat-icon>
        <div *ngIf="improvements.errors?.['required']">This field is required</div>
      </div>
    </div>
    <div class="full-row">
      <label class="subheading2" for="proposal-map">Proposal Map / Site Plan</label>
      <div class="subtext">A visual representation of your proposal.</div>
      <app-file-drag-drop
        id="proposal-map"
        [uploadedFiles]="proposalMap"
        (uploadFiles)="attachFile($event, DOCUMENT.PROPOSAL_MAP)"
        (deleteFile)="onDeleteFile($event)"
        (openFile)="openFile($event)"
        [showErrors]="showErrors"
        [isRequired]="true"
      ></app-file-drag-drop>
    </div>
    <div class="full-row" *ngIf="showGovernmentQuestions">
      <label for="isFarm"
        >Is the {{ governmentName }} the registered land owner of all parcels under this inclusion application?</label
      >
      <div class="subtext">
        The ALR General Regulation does not require the {{ governmentName }} to complete a public hearing if all
        inclusion application parcel(s) are owned by the {{ governmentName }}.
      </div>
      <app-info-banner>
        Please refer to <a>FIXME: Inclusion</a> page on the ALC website for more information.
      </app-info-banner>
      <mat-button-toggle-group
        (change)="onSelectLocalGovernmentParcelOwner($event)"
        class="input"
        id="isFarm"
        formControlName="governmentOwnsAllParcels"
      >
        <mat-button-toggle
          value="true"
          [ngClass]="{
            'error-outline':
              governmentOwnsAllParcels.invalid && (governmentOwnsAllParcels.dirty || governmentOwnsAllParcels.touched)
          }"
          >Yes</mat-button-toggle
        >
        <mat-button-toggle
          value="false"
          [ngClass]="{
            'error-outline':
              governmentOwnsAllParcels.invalid && (governmentOwnsAllParcels.dirty || governmentOwnsAllParcels.touched)
          }"
          >No</mat-button-toggle
        >
      </mat-button-toggle-group>
      <div
        *ngIf="
          showErrors &&
          governmentOwnsAllParcels.invalid &&
          (governmentOwnsAllParcels.dirty || governmentOwnsAllParcels.touched)
        "
        class="field-error"
      >
        <mat-icon>warning</mat-icon>
        <div *ngIf="governmentOwnsAllParcels.errors?.['required']">This field is required</div>
      </div>
    </div>
  </div>
</form>

<section *ngIf="showGovernmentQuestions">
  <h3>Notification and Public Hearing Requirements</h3>
  <p class="requirement-description">
    A printed copy of the application will need to be used for notification. Please ensure all prior fields are complete
    and correct before downloading the PDF of the application (Step 8 of this application form will flag outstanding
    fields).
  </p>

  <button [disabled]="disableNotificationFileUploads" mat-flat-button color="accent">Download PDF</button>
  <app-warning-banner>
    You will not be able to complete the remaining portion of the application until the notification and public hearing
    process is complete.
  </app-warning-banner>
  <form>
    <div class="form-row">
      <div class="full-row">
        <label class="subheading2" for="advertising">Notice of Public Hearing (Advertisement)</label>
        <div class="subtext">
          Proof that notice of the application was provided in a form and manner acceptable to the Commission
        </div>
        <app-file-drag-drop
          id="advertising"
          [uploadedFiles]="noticeOfPublicHearing"
          (uploadFiles)="attachFile($event, DOCUMENT.PROOF_OF_ADVERTISING)"
          (deleteFile)="onDeleteFile($event)"
          (openFile)="openFile($event)"
          [showErrors]="showErrors"
          [isRequired]="!disableNotificationFileUploads"
          [disabled]="disableNotificationFileUploads"
          [allowMultiple]="true"
        ></app-file-drag-drop>
      </div>
      <div class="full-row">
        <label class="subheading2" for="signage">Proof of Signage</label>
        <div class="subtext">
          Proof that a sign, in a form and manner acceptable to the Commission, was posted on the land that is the
          subject of the application
        </div>
        <app-file-drag-drop
          id="signage"
          [uploadedFiles]="proofOfSignage"
          (uploadFiles)="attachFile($event, DOCUMENT.PROOF_OF_SIGNAGE)"
          (deleteFile)="onDeleteFile($event)"
          (openFile)="openFile($event)"
          [showErrors]="showErrors"
          [isRequired]="!disableNotificationFileUploads"
          [disabled]="disableNotificationFileUploads"
          [allowMultiple]="true"
        ></app-file-drag-drop>
      </div>
      <div class="full-row">
        <label class="subheading2" for="report">Report of Public Hearing</label>
        <div class="subtext">Public hearing report and any other public comments received</div>
        <app-file-drag-drop
          id="report"
          [uploadedFiles]="reportOfPublicHearing"
          (uploadFiles)="attachFile($event, DOCUMENT.REPORT_OF_PUBLIC_HEARING)"
          (deleteFile)="onDeleteFile($event)"
          (openFile)="openFile($event)"
          [showErrors]="showErrors"
          [isRequired]="!disableNotificationFileUploads"
          [disabled]="disableNotificationFileUploads"
          [allowMultiple]="true"
        ></app-file-drag-drop>
      </div>
    </div>
  </form>
</section>

<div class="button-container">
  <button *ngIf="!draftMode" (click)="onSaveExit()" mat-stroked-button color="accent">Save and Exit</button>
  <button *ngIf="draftMode" (click)="onSaveExit()" mat-stroked-button color="accent">Discard all Changes</button>
  <div>
    <button mat-stroked-button color="primary" (click)="onNavigateToStep(currentStep - 1)">
      Previous<span class="mobile-hidden"> Step</span>
    </button>
    <button mat-flat-button color="primary" (click)="onNavigateToStep(currentStep + 1)">
      Next<span class="mobile-hidden"> Step</span>
    </button>
  </div>
</div>
