

<div class="submitters-container">
  @for (submitter of submitters; track submitter) {
    <div class="inset">
      @if (!submitter.isAnonymous) {
        <div class="header">
          <h4>{{ submitter.name }}</h4>
          <div class="date-added">Added: {{ formatDate(submitter.dateAdded) }}</div>
        </div>
        <div class="field">
          <div class="field-heading">Email</div>
          @if (submitter.email) {
            {{ submitter.email }}
          } @else {
            <div class="no-data">No Data</div>
          }
        </div>
        <div class="field">
          <div class="field-heading">Telephone</div>
          @if (submitter.telephoneNumber) {
            {{ submitter.telephoneNumber | mask: '(000) 000-0000' }}
          } @else {
            <div class="no-data">No Data</div>
          }
        </div>
        <div class="field">
          <div class="field-heading">Affiliation</div>
          @if (submitter.affiliation) {
            {{ submitter.affiliation }}
          } @else {
            <div class="no-data">No Data</div>
          }
        </div>
        <div class="field">
          <div class="field-heading">Additional Contact Information</div>
          @if (submitter.additionalContactInformation) {
            {{ submitter.additionalContactInformation }}
          } @else {
            <div class="no-data">No Data</div>
          }
        </div>
      } @else {
        <div class="header">
          <h4>Anonymous</h4>
          <div class="date-added">Added: {{ formatDate(submitter.dateAdded) }}</div>
        </div>
      }
    </div>
  }
</div>
