@use '../../../../../../styles/colors.scss' as colors;

.no-data {
  color: colors.$grey;
}

.inset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  background-color: colors.$grey-light;
  padding: 24px;
  margin-top: 24px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: span 2;
    margin-bottom: 24px;
  }
}

.field {
  width: 100%;
  margin-bottom: 16px;

  &.full-width {
    grid-column: span 2;
  }
}

.field-heading {
  font-weight: bold;
  margin-bottom: 5px;
}
