<h3>Submitters</h3>

<ng-template #noData>
  <div class="no-data">No Data</div>
</ng-template>

<div class="inset" *ngFor="let submitter of submitters">
  <div class="header">
    <h4>{{ submitter.name }}</h4>

    <div class="date-added">Added: {{ formatDate(submitter.dateAdded) }}</div>
  </div>

  <div class="field">
    <div class="field-heading">Email</div>

    <ng-container *ngIf="submitter.email; else noData">
      {{ submitter.email }}
    </ng-container>
  </div>

  <div class="field">
    <div class="field-heading">Telephone</div>

    <ng-container *ngIf="submitter.telephoneNumber; else noData">
      {{ submitter.telephoneNumber | mask: '(000) 000-0000' }}
    </ng-container>
  </div>

  <div class="field">
    <div class="field-heading">Affiliation</div>

    <ng-container *ngIf="submitter.affiliation; else noData">
      {{ submitter.affiliation }}
    </ng-container>
  </div>

  <div class="field">
    <div class="field-heading">Additional Contact Information</div>

    <ng-container *ngIf="submitter.additionalContactInformation; else noData">
      {{ submitter.additionalContactInformation }}
    </ng-container>
  </div>
</div>
