@if (applicationSubmission) {
  <div class="review-table">
    <div class="subheading2 grid-1">The governmental or prescribed public body that is applying to exclude land</div>
    <div class="grid-double">
      {{ applicationSubmission.prescribedBody }}
    </div>
    <div class="subheading2 grid-1">How many hectares are you proposing to exclude?</div>
    <div class="grid-double">
      {{ applicationSubmission.inclExclHectares }} @if (applicationSubmission.inclExclHectares) {
      <span>ha</span>
    }
    @if (!applicationSubmission.inclExclHectares) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">
    Does any land under application share a common property line with land in another Local or First Nation Government?
  </div>
  <div class="grid-double">
    @if (applicationSubmission.exclShareGovernmentBorders !== null) {
      <span>
        {{ applicationSubmission.exclShareGovernmentBorders ? 'Yes' : 'No' }}
      </span>
    }
    @if (applicationSubmission.exclShareGovernmentBorders === null) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    {{ applicationSubmission.purpose }}
    @if (!applicationSubmission.purpose) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Explain why you believe that the parcel(s) should be excluded from the ALR</div>
  <div class="grid-double">
    {{ applicationSubmission.exclWhyLand }}
    @if (!applicationSubmission.exclWhyLand) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    @for (map of proposalMap; track map) {
      <a class="mobile" (click)="downloadFile(map.documentUuid)">{{ map.fileName }}</a>
      <a class="desktop" routerLink="/document/{{ map.documentUuid }}" target="_blank">{{ map.fileName }}</a>
    }
    @if (proposalMap.length === 0) {
      <app-no-data></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Report of Public Hearing</div>
  <div class="grid-double">
    @for (file of reportOfPublicHearing; track file) {
      <div>
        <a class="mobile" (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
        <a class="desktop" routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
      </div>
    }
    @if (reportOfPublicHearing.length === 0) {
      <app-no-data></app-no-data>
    }
  </div>
</div>
}
