<div class="table-header">
  <div>
    <h4>{{ tableTitle }}</h4>
  </div>
</div>

<table
  cdkDropList
  [cdkDropListDisabled]='!sortable'
  (cdkDropListDropped)="onRowDropped($event)"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z3 width-100"
>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">{{ element.type.label }}</td>
  </ng-container>

  <ng-container matColumnDef="fileName">
    <th mat-header-cell *matHeaderCellDef>File Name</th>
    <td mat-cell *matCellDef="let element">
      <a (click)="onOpen(element.uuid, element.fileName)">{{ element.fileName }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="source">
    <th mat-header-cell *matHeaderCellDef>Source</th>
    <td mat-cell *matCellDef="let element">{{ element.source }}</td>
  </ng-container>

  <ng-container matColumnDef="uploadedAt">
    <th mat-header-cell *matHeaderCellDef>Upload Date</th>
    <td mat-cell *matCellDef="let element">{{ element.uploadedAt | momentFormat }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button title="Download" mat-icon-button class="action-btn" (click)="onDownload(element.uuid, element.fileName)">
        <mat-icon>download</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="sorting">
    <th mat-header-cell *matHeaderCellDef></th>
    <td class='drag-cell' mat-cell *matCellDef="let element">
      <mat-icon>drag_indicator</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    style="background-color: #fff"
    mat-row
    cdkDrag
    cdkDragLockAxis="y"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="text-center" colspan="4">No files</td>
  </tr>
</table>
