@use '../../../styles/colors';

.action-btn.delete {
  color: colors.$error-color;
}

.table-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.width-100 {
  width: 100%;
}

.mat-column-action {
  width: 8%;
  text-align: right;
}

a {
  font-size: 14px !important;
  cursor: pointer;
}

:host::ng-deep {
  .mat-spinner circle {
    stroke: #fff;
  }
}

.drag-cell {
  cursor: grab;
}

.drag-cell:active {
  cursor: grabbing;
}
