mat-card {
  width: 100%;
  border-bottom: 1px solid #EFEFEF;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

span {
  font-weight: normal;
}