<ng-content></ng-content>
<div class="full-width">
  <div class="subheading2">Type, origin and quality of fill proposed to be placed</div>
  <div class="pre-wrapped-text">{{ component.soilFillTypeToPlace }}</div>
  @if (component.soilFillTypeToPlace === null) {
    <app-no-data></app-no-data>
  }
</div>
<div>
  <div class="subheading2">Volume</div>
  {{ component.soilToPlaceVolume }}@if (component.soilToPlaceVolume !== null) {
  <span> m<sup>3</sup></span>
}
@if (component.soilToPlaceVolume === null) {
  <app-no-data></app-no-data>
}
</div>
<div>
  <div class="subheading2">Area</div>
  {{ component.soilToPlaceArea }}@if (component.soilToPlaceArea !== null) {
  <span> m<sup>2</sup></span>
}
@if (component.soilToPlaceArea === null) {
  <app-no-data></app-no-data>
}
</div>
<div>
  <div class="subheading2">Maximum Depth</div>
  {{ component.soilToPlaceMaximumDepth }}@if (component.soilToPlaceMaximumDepth !== null) {
  <span> m</span>
}
@if (component.soilToPlaceMaximumDepth === null) {
  <app-no-data></app-no-data>
}
</div>
<div>
  <div class="subheading2">Average Depth</div>
  {{ component.soilToPlaceAverageDepth }}@if (component.soilToPlaceAverageDepth !== null) {
  <span> m</span>
}
@if (component.soilToPlaceAverageDepth === null) {
  <app-no-data></app-no-data>
}
</div>
