<div mat-dialog-title>
  <h4>{{ isEdit ? 'Edit' : 'Create' }} CEO Criterion</h4>
</div>
<div mat-dialog-content class="dialog">
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div>
      <mat-form-field class="number-input" appearance="outline">
        <mat-label>Number</mat-label>
        <input required matInput id="number" mask="0*" [(ngModel)]="number" name="number" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="code" appearance="outline">
        <mat-label>Code</mat-label>
        <input
          [disabled]="isEdit"
          required
          maxlength="4"
          minlength="4"
          matInput
          id="code"
          [(ngModel)]="code"
          name="code"
        />
      </mat-form-field>
    </div>

    <div class="full-width">
      <mat-form-field class="label" appearance="outline">
        <mat-label>Label</mat-label>
        <input required matInput id="label" [(ngModel)]="label" name="label" />
      </mat-form-field>
    </div>

    <div class="full-width">
      <mat-form-field class="description" appearance="outline">
        <mat-label>Description</mat-label>
        <input required matInput id="description" [(ngModel)]="description" name="description" />
      </mat-form-field>
    </div>
  </form>

  <mat-dialog-actions align="end">
    <div class="button-container">
      <button mat-stroked-button color="primary" mat-dialog-close="false">Close</button>
      <button
        [loading]="isLoading"
        (click)="onSubmit()"
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!form.form.valid"
      >
        Save
      </button>
    </div>
  </mat-dialog-actions>
</div>
