@if (_notificationSubmission) {
  <div class="review-table">
    <div class="subheading2 grid-1">Submitter's File Number</div>
    <div class="grid-double">
      {{ _notificationSubmission.submittersFileNumber }}
      @if (!_notificationSubmission.submittersFileNumber) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">What is the purpose of the SRW?</div>
    <div class="grid-double">
      {{ _notificationSubmission.purpose }}
      @if (!_notificationSubmission.purpose) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">Total area of the SRW</div>
    <div class="grid-double">
      {{ _notificationSubmission.totalArea }} @if (_notificationSubmission.totalArea) {
      <span>ha</span>
    }
    @if (!_notificationSubmission.totalArea) {
      <app-no-data [showRequired]="showErrors"></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Upload Terms of the SRW</div>
  <div class="grid-double">
    @for (file of srwTerms; track file) {
      <a class="mobile" (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
      <a class="desktop" routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
    }
    @if (srwTerms.length === 0) {
      <app-no-data [showRequired]="showErrors"></app-no-data>
    }
  </div>
  <div class="subheading2 grid-1">Is there a survey plan associated with the SRW?</div>
  <div class="grid-double">
    @if (_notificationSubmission.hasSurveyPlan !== null) {
      <span>
        {{ _notificationSubmission.hasSurveyPlan ? 'Yes' : 'No' }}
      </span>
    }
    @if (_notificationSubmission.hasSurveyPlan === null) {
      <app-no-data [showRequired]="showErrors"></app-no-data>
    }
  </div>
  @if (_notificationSubmission.hasSurveyPlan) {
    <div class="survey-table full-width">
      <div><strong>File Name</strong></div>
      <div><strong>Survey Plan Number</strong></div>
      <div><strong>Control Number</strong></div>
      @for (file of surveyPlans; track file) {
        <div>
          <a class="mobile" (click)="downloadFile(file.documentUuid)">{{ file.fileName }}</a>
          <a class="desktop" routerLink="/document/{{ file.documentUuid }}" target="_blank">{{ file.fileName }}</a>
        </div>
        <div>
          {{ file.surveyPlanNumber }}
          @if (file.surveyPlanNumber === null) {
            <app-no-data [showRequired]="showErrors"></app-no-data>
          }
        </div>
        <div>
          {{ file.controlNumber }}
          @if (file.controlNumber === null) {
            <app-no-data [showRequired]="showErrors"></app-no-data>
          }
        </div>
      }
      @if (surveyPlans.length === 0) {
        <app-no-data [showRequired]="showErrors"></app-no-data>
      }
    </div>
  }
  @if (showEdit) {
    <div class="edit-button full-width">
      <button mat-flat-button (click)="onEditSection(4)" color="accent">Edit Section</button>
    </div>
  }
</div>
}
