<div *ngIf="_notificationSubmission" class="review-table">
  <div class="subheading2 grid-1">Submitter’s File Number</div>
  <div class="grid-double">
    {{ _notificationSubmission.submittersFileNumber }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_notificationSubmission.submittersFileNumber"></app-no-data>
  </div>

  <div class="subheading2 grid-1">What is the purpose of the SRW?</div>
  <div class="grid-double">
    {{ _notificationSubmission.purpose }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_notificationSubmission.purpose"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Total area of the SRW</div>
  <div class="grid-double">
    {{ _notificationSubmission.totalArea }}
    <app-no-data [showRequired]="showErrors" *ngIf="!_notificationSubmission.totalArea"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Upload Terms of the SRW</div>
  <div class="grid-double">
    <a *ngFor="let file of srwTerms" (click)="openFile(file.uuid)">
      {{ file.fileName }}
    </a>
    <app-no-data [showRequired]="showErrors" *ngIf="srwTerms.length === 0"></app-no-data>
  </div>

  <div class="subheading2 grid-1">Is there a survey plan associated with the SRW?</div>
  <div class="grid-double">
    <span *ngIf="_notificationSubmission.hasSurveyPlan !== null">
      {{ _notificationSubmission.hasSurveyPlan ? 'Yes' : 'No' }}
    </span>
    <app-no-data [showRequired]="showErrors" *ngIf="_notificationSubmission.hasSurveyPlan === null"></app-no-data>
  </div>

  <div *ngIf="_notificationSubmission.hasSurveyPlan" class="survey-table full-width">
    <div><strong>File Name</strong></div>
    <div><strong>Survey Plan Number</strong></div>
    <div><strong>Control Number</strong></div>
    <ng-container *ngFor="let file of surveyPlans">
      <div>
        <a (click)="openFile(file.uuid)">{{ file.fileName }}</a>
      </div>
      <div>
        {{ file.surveyPlanNumber }}
        <app-no-data [showRequired]="showErrors" *ngIf="file.surveyPlanNumber === null"></app-no-data>
      </div>
      <div>
        {{ file.controlNumber }}
        <app-no-data [showRequired]="showErrors" *ngIf="file.controlNumber === null"></app-no-data>
      </div>
    </ng-container>
    <app-no-data [showRequired]="showErrors" *ngIf="surveyPlans.length === 0"></app-no-data>
  </div>

  <div *ngIf="showEdit" class="edit-button full-width">
    <button mat-flat-button (click)="onEditSection(4)" color="accent">Edit Section</button>
  </div>
</div>
