@use '../../../../../styles/functions' as *;

.survey-table {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  overflow-x: auto;
  grid-column: 1/3;
  grid-column-gap: rem(36);
  grid-row-gap: rem(12);

  @media screen and (min-width: $tabletBreakpoint) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: rem(16);
  }
}
