name: build

on: [workflow_call]

env:
  API_IMAGE_NAME: alcs-api
  MIGRATE_IMAGE_NAME: alcs-migrate
  FE_IMAGE_NAME: alcs-frontend
  GITOPS_REPO: bcgov-c/tenant-gitops-a5cf88
  
jobs:
  build-api:
    uses: ./.github/workflows/_build-image.yml
    with:
      image-name: alcs-api 
      build-context: ./services
      build-args: NEST_APP=alcs
    secrets: inherit
  build-frontend:
    uses: ./.github/workflows/_build-image.yml
    with:
      image-name: alcs-frontend
      build-context: ./alcs-frontend
    secrets: inherit
  build-migrate:
    uses: ./.github/workflows/_build-image.yml
    with:
      image-name: alcs-migrate
      build-context: ./services
      dockerfile: Dockerfile.migrate
      build-args: NEST_APP=alcs
    secrets: inherit
  build-portal-api:
    uses: ./.github/workflows/_build-image.yml
    with:
      image-name: alcs-portal-api 
      build-context: ./services
      build-args: NEST_APP=portal
    secrets: inherit
  build-portal-frontend:
    uses: ./.github/workflows/_build-image.yml
    with:
      image-name: alcs-portal-frontend
      build-context: ./portal-frontend
    secrets: inherit
  build-portal-migrate:
    uses: ./.github/workflows/_build-image.yml
    with:
      image-name: alcs-portal-migrate
      build-context: ./services
      dockerfile: Dockerfile.migrate
      build-args: NEST_APP=portal
    secrets: inherit