<h3 class="flex-item">
  {{ pageTitle }}
</h3>
<div class="review-table">
  <ng-container *ngFor="let parcel of parcels; let parcelInd = index">
    <div class="full-width flex-space-between-wrap">
      <h4>Parcel #{{ parcelInd + 1 }}</h4>
    </div>
    <div class="subheading2 grid-1">Parcel Type</div>
    <div class="grid-double">
      {{ parcel.ownershipType?.label }}
      <app-no-data *ngIf="!parcel.ownershipType"></app-no-data>
    </div>
    <div class="subheading2 grid-1">Legal Description</div>
    <div class="grid-double">
      {{ parcel.legalDescription }}
    </div>
    <div class="subheading2 grid-1">Approx. Map Area</div>
    <div class="grid-double">
      {{ parcel.mapAreaHectares }}
      <span *ngIf="parcel.mapAreaHectares !== null">ha</span>
    </div>
    <div class="subheading2 grid-1">
      PID {{ parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.CROWN ? '(optional)' : '' }}
    </div>
    <div class="grid-double">
      <span *ngIf="parcel.pid">{{ parcel.pid | mask : '000-000-000' }}</span>
      <app-no-data *ngIf="!parcel.pid"></app-no-data>
    </div>
    <ng-container *ngIf="parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.CROWN">
      <div class="subheading2 grid-1">PIN (optional)</div>
      <div class="grid-double">
        {{ parcel.pin }}
        <app-no-data *ngIf="!parcel.pin"></app-no-data>
      </div>
    </ng-container>
    <ng-container *ngIf="parcel.ownershipType?.code === PARCEL_OWNERSHIP_TYPES.FEE_SIMPLE">
      <div class="subheading2 grid-1">Purchase Date</div>
      <div class="grid-double">
        {{ parcel.purchasedDate | date }}
        <app-no-data *ngIf="!parcel.purchasedDate"> </app-no-data>
      </div>
    </ng-container>
    <div class="subheading2 grid-1">Farm Classification</div>
    <div class="grid-double">
      <span *ngIf="parcel.isFarm !== null">{{ parcel.isFarm ? 'Yes' : 'No' }}</span>
      <app-no-data *ngIf="parcel.isFarm === null"></app-no-data>
    </div>
    <div class="subheading2 grid-1">Civic Address</div>
    <div class="grid-double">
      {{ parcel.civicAddress }}
      <app-no-data *ngIf="!parcel.civicAddress"></app-no-data>
    </div>
    <ng-container *ngIf="parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.CROWN">
      <div class="subheading2 grid-1">Crown Selection</div>
      <div class="grid-double">
        <span class="crown-land" *ngIf="parcel.crownLandOwnerType !== null">{{ parcel.crownLandOwnerType }}</span>
        <app-no-data *ngIf="parcel.crownLandOwnerType === null"></app-no-data>
      </div>
    </ng-container>
    <div class="full-width owner-information">
      <div class="subheading2">Land Owner(s)</div>
      <div class="subheading2" *ngIf="parcel.ownershipTypeCode !== PARCEL_OWNERSHIP_TYPES.CROWN">Organization</div>
      <div class="subheading2" *ngIf="parcel.ownershipTypeCode === PARCEL_OWNERSHIP_TYPES.CROWN">
        Ministry or Department
      </div>
      <ng-container *ngFor="let owner of parcel.owners">
        <div>{{ owner.displayName }}</div>
        <div>
          <span *ngIf="owner.organizationName"></span>{{ owner.organizationName }}
          <app-no-data [showRequired]="false" *ngIf="!owner.organizationName"></app-no-data>
        </div>
      </ng-container>
      <div class="full-width">
        <app-no-data *ngIf="parcel.owners.length === 0"></app-no-data>
      </div>
    </div>
  </ng-container>
</div>
