<div mat-dialog-title>
  @if (!isEdit) {
    <h2>Add New Government Contact</h2>
  }
  @if (isEdit) {
    <h2>Edit Government Contact</h2>
  }
</div>
<div mat-dialog-content>
  <form [formGroup]="form">
    @if (isEdit) {
      <app-warning-banner class="full-row error changes-banner">
        The changes made to this government contact will be reflected across the submission.
      </app-warning-banner>
    }
    <div class="form-row">
      <div class="full-row">
        <label for="ministryName">Ministry or Department Responsible</label>
        <mat-form-field appearance="outline">
          <input
            #ministryNameText
            id="ministryName"
            maxlength="30"
            matInput
            placeholder="Type ministry or department name"
            formControlName="ministryName"
            />
        </mat-form-field>
        <span class="subtext">Characters left: {{ 30 - ministryNameText.value.length }}</span>
        @if (ministryName.invalid && (ministryName.dirty || ministryName.touched)) {
          <div class="field-error">
            <mat-icon>warning</mat-icon>
            @if (ministryName.errors?.['required']) {
              <div>This field is required</div>
            }
          </div>
        }
      </div>
      <div>
        <label for="firstName">First Name</label>
        <mat-form-field appearance="outline">
          <input id="firstName" matInput placeholder="Enter First Name" formControlName="firstName" />
        </mat-form-field>
        @if (firstName.invalid && (firstName.dirty || firstName.touched)) {
          <div class="field-error">
            <mat-icon>warning</mat-icon>
            @if (firstName.errors?.['required']) {
              <div>This field is required</div>
            }
          </div>
        }
      </div>
      <div>
        <label for="lastName">Last Name</label>
        <mat-form-field appearance="outline">
          <input id="lastName" matInput placeholder="Enter Last Name" formControlName="lastName" />
        </mat-form-field>
        @if (lastName.invalid && (lastName.dirty || lastName.touched)) {
          <div class="field-error">
            <mat-icon>warning</mat-icon>
            @if (lastName.errors?.['required']) {
              <div>This field is required</div>
            }
          </div>
        }
      </div>
      <div>
        <label for="phoneNumber">Phone Number</label>
        <mat-form-field appearance="outline">
          <input
            id="phoneNumber"
            mask="(000) 000-0000"
            matInput
            placeholder="(555) 555-5555"
            formControlName="phoneNumber"
            />
        </mat-form-field>
        @if (phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)) {
          <div class="field-error">
            <mat-icon>warning</mat-icon>
            @if (phoneNumber.errors?.['required']) {
              <div>This field is required</div>
            }
            @if (phoneNumber.errors?.['mask']) {
              <div>Invalid format</div>
            }
          </div>
        }
      </div>
      <div>
        <label for="firstName">Email</label>
        <mat-form-field appearance="outline">
          <input id="email" type="email" matInput placeholder="Enter Email" formControlName="email" />
        </mat-form-field>
        @if (email.invalid && (email.dirty || email.touched)) {
          <div class="field-error">
            <mat-icon>warning</mat-icon>
            @if (email.errors?.['required']) {
              <div>This field is required</div>
            }
            @if (email.errors?.['email']) {
              <div>Invalid format</div>
            }
          </div>
        }
      </div>
      <div class="full-row">
        <mat-label for="type">Crown Type</mat-label>
        <mat-button-toggle-group formControlName="crownLandOwnerType" class="input" id="crownLandOwnerType">
          <mat-button-toggle
            value="provincial"
            [ngClass]="{ 'error-outline': crownLandOwnerType.touched && crownLandOwnerType.errors?.['required'] }"
            >
            Provincial Crown
          </mat-button-toggle>
          <mat-button-toggle
            value="federal"
            [ngClass]="{ 'error-outline': crownLandOwnerType.touched && crownLandOwnerType.errors?.['required'] }"
            >
            Federal Crown
          </mat-button-toggle>
        </mat-button-toggle-group>
        @if (crownLandOwnerType.touched && crownLandOwnerType.errors?.['required']) {
          <div class="field-error">
            <mat-icon>warning</mat-icon>
            @if (crownLandOwnerType.errors?.['required']) {
              <div>This field is required</div>
            }
          </div>
        }
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions class="actions" align="end">
  @if (isEdit) {
    <button mat-stroked-button color="warn" class="delete-btn" (click)="onDelete()">Delete Contact</button>
  }
  <div class="btn-group">
    <button mat-stroked-button (click)="onClose()" style="margin-left: auto">Cancel</button>
    @if (!isEdit) {
      <button mat-flat-button color="primary" [disabled]="isLoading" (click)="onCreate()">Add</button>
    }
    @if (isEdit) {
      <button mat-flat-button color="primary" [disabled]="isLoading" (click)="onSave()">Save</button>
    }
  </div>
</div>
