<div mat-dialog-title>
  <div class="close">
    <button mat-icon-button [mat-dialog-close]="isDirty">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="header-row">
    <div class="left">
      <h3 class="card-title center">
        {{ planningReview.fileNumber }} ({{ planningReview.type }})
        <app-application-type-pill [type]="planningType"></app-application-type-pill>
      </h3>
    </div>
  </div>
  <div class="split">
    <span class="region">{{ planningReview.localGovernment.name }} - {{ planningReview.region.label }} Region</span>
    <button
      [matTooltip]="planningReview.card.highPriority ? 'Remove Priority' : 'Add Priority'"
      class="toggle-priority"
      (click)="onTogglePriority()"
      mat-icon-button
    >
      <div
        class="priority"
        [ngClass]="{
          'filled-priority': planningReview.card.highPriority,
          'empty-priority': !planningReview.card.highPriority
        }"
      ></div>
    </button>
  </div>
</div>
<mat-dialog-content>
  <div class="select-container">
    <ng-select
      class="card-type"
      appearance="outline"
      [items]="boardStatuses"
      placeholder="Workflow Stage"
      bindLabel="label"
      bindValue="statusCode"
      [clearable]="false"
      [(ngModel)]="selectedApplicationStatus"
      (change)="onStatusSelected($event)"
    >
      <ng-template ng-option-tmp let-item="item">
        <span [innerHTML]="item.label"> </span>
      </ng-template>
      <ng-template ng-label-tmp let-item="item">
        <span [innerHTML]="item.label"> </span>
      </ng-template>
    </ng-select>
    <ng-select
      class="card-assignee"
      appearance="outline"
      [items]="$users | async"
      placeholder="Assigned Planner"
      bindLabel="prettyName"
      bindValue="prettyName"
      [(ngModel)]="selectedAssigneeName"
      [searchFn]="filterAssigneeList"
      (change)="onAssigneeSelected($event)"
    >
      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <div class="assignee-card-body">
          <p [ngOptionHighlight]="search" class="assignee-card-name">{{ item.prettyName }}</p>
          <p class="assignee-card-email" [ngOptionHighlight]="search">{{ item.email }}</p>
        </div>
      </ng-template>
    </ng-select>
  </div>
  <div class="subtasks-wrapper">
    <app-subtasks [cardUuid]="planningReview.card.uuid"></app-subtasks>
  </div>
  <div class="card-comments-wrapper">
    <app-comments [cardUuid]="planningReview.card.uuid"></app-comments>
  </div>
</mat-dialog-content>
