<div mat-dialog-title>
  <div class="close">
    <h6 class="card-type-label">Planning Review</h6>
    <button mat-icon-button [mat-dialog-close]="isDirty">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="header-row">
    <div class="left">
      <h3 class="card-title center">
        <span class="margin-right">{{ cardTitle }}</span>
        @if (planningReview.legacyId) {
          <app-application-legacy-id
            [legacyId]="planningReview.legacyId"
          ></app-application-legacy-id>
        }
        @if (planningType) {
          <app-application-type-pill [type]="planningType"></app-application-type-pill>
        }
      </h3>
    </div>
    <div class="center">
      <button
        color="accent"
        mat-flat-button
        [mat-dialog-close]="isDirty"
        [routerLink]="['planning-review', planningReview.fileNumber]"
        >
        View Detail
      </button>
    </div>
  </div>
  <div>
    <span class="region">{{ planningReview.localGovernment.name }} - {{ planningReview.region.label }} Region</span>
  </div>
  <div class="split">
    <div class="body-text">
      @if (planningReview.open) {
        <app-application-type-pill [type]="OPEN_TYPE"></app-application-type-pill>
      }
      @if (!planningReview.open) {
        <app-application-type-pill [type]="CLOSED_TYPE"></app-application-type-pill>
      }
      @if (planningReferral.dueDate) {
        <span>Due: {{ planningReferral.dueDate | momentFormat }}</span>
      }
    </div>
    <div class="right">
      <button matTooltip="Move Board" [matMenuTriggerFor]="moveMenu" mat-icon-button>
        <mat-icon>move_down</mat-icon>
      </button>
      <mat-menu class="move-board-menu" xPosition="before" #moveMenu="matMenu">
        @for (board of allowedBoards; track board) {
          <button (click)="onBoardSelected(board)" mat-menu-item>
            <div class="board-menu-item">
              <span class="favourite-board-icon-container"
                >@if (board.isFavourite) {
                <mat-icon class="favourite-board-icon">star</mat-icon>
              }
            </span>
            <span>{{ board.title }}</span>
            @if (card && card.boardCode === board.code) {
              <span
                ><mat-icon class="selected-board-icon">check</mat-icon></span
                >
              }
            </div>
          </button>
        }
      </mat-menu>
      @if (canArchive) {
        <button
          matTooltip="Archive Card"
          class="toggle-priority"
          (click)="onArchiveCard()"
          mat-icon-button
          >
          <mat-icon>archive</mat-icon>
        </button>
      }
      @if (card) {
        <button
          [matTooltip]="card.highPriority ? 'Remove Priority' : 'Add Priority'"
          class="toggle-priority"
          (click)="onTogglePriority()"
          mat-icon-button
          >
          <div
            class="priority"
          [ngClass]="{
            'filled-priority': card.highPriority,
            'empty-priority': !card.highPriority
          }"
          ></div>
        </button>
      }
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="select-container">
    <ng-select
      class="card-type"
      appearance="outline"
      [items]="boardStatuses"
      placeholder="Workflow Stage"
      bindLabel="label"
      bindValue="statusCode"
      [clearable]="false"
      [(ngModel)]="selectedApplicationStatus"
      (change)="onStatusSelected($event)"
      >
      <ng-template ng-option-tmp let-item="item">
        <span [innerHTML]="item.label"> </span>
      </ng-template>
      <ng-template ng-label-tmp let-item="item">
        <span [innerHTML]="item.label"> </span>
      </ng-template>
    </ng-select>
    <ng-select
      class="card-assignee"
      appearance="outline"
      [items]="$users | async"
      placeholder="Assigned Planner"
      bindLabel="prettyName"
      bindValue="prettyName"
      [(ngModel)]="selectedAssigneeName"
      [searchFn]="filterAssigneeList"
      (change)="onAssigneeSelected($event)"
      >
      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <div class="assignee-card-body">
          <p [ngOptionHighlight]="search" class="assignee-card-name">{{ item.prettyName }}</p>
          <p class="assignee-card-email" [ngOptionHighlight]="search">{{ item.email }}</p>
        </div>
      </ng-template>
    </ng-select>
  </div>
  @if (card) {
    <div class="subtasks-wrapper">
      <app-subtasks [cardUuid]="card.uuid"></app-subtasks>
    </div>
  }
  @if (card) {
    <div class="card-comments-wrapper">
      <app-comments [cardUuid]="card.uuid" [notificationTitle]="cardTitle"></app-comments>
    </div>
  }
</mat-dialog-content>
