<div aria-hidden="true" class="banner absolute">
  <div>
    <h4 *ngIf="submission">NOI ID: {{ submission.fileNumber }}</h4>
  </div>
  <div class="banner-status">
    <div>
      <div class="subheading2">Status Date</div>
      <span *ngIf="submission">{{ submission.lastStatusUpdate | date }}</span>
    </div>
    <div>
      <div class="subheading2">NOI Status</div>
      <span *ngIf="submission">{{ submission.status.label }}</span>
    </div>
  </div>
</div>
<div class="banner">
  <div>
    <h4 *ngIf="submission">NOI ID: {{ submission.fileNumber }}</h4>
  </div>
  <div class="banner-status">
    <div>
      <div class="subheading2">Status Date</div>
      <span *ngIf="submission">{{ submission.lastStatusUpdate | date }}</span>
    </div>
    <div>
      <div class="subheading2">NOI Status</div>
      <span *ngIf="submission">{{ submission.status.label }}</span>
    </div>
  </div>
</div>
<button (click)="onNavigateHome()" mat-button color="accent"><mat-icon>chevron_left</mat-icon>Return to Inbox</button>
<div>
  <div class="navigation">
    <mat-tab-group>
      <mat-tab label="Applicant Submission">
        <div *ngIf="submission" class="content">
          <section>
            <div class="header">
              <h3>Applicant Submission</h3>
              <div class="btns-wrapper">
                <button *ngIf="submission.canEdit" mat-stroked-button color="warn" (click)="onCancel(submission.uuid)">
                  Cancel NOI
                </button>
                <button
                  [routerLink]="'/notice-of-intent/' + submission.fileNumber + '/edit'"
                  *ngIf="submission.canEdit"
                  mat-flat-button
                  color="primary"
                >
                  Edit NOI
                </button>
                <button mat-flat-button color="accent" (click)="onDownloadSubmissionPdf(submission.fileNumber)">
                  Download PDF
                </button>
              </div>
            </div>
            <div>
              <app-noi-details
                [$noticeOfIntentSubmission]="$noiSubmission"
                [$noiDocuments]="$noiDocuments"
                [draftMode]="false"
                [showEdit]="false"
                [showErrors]="false"
              ></app-noi-details>
            </div>
          </section>
        </div>
        <div class="buttons" *ngIf="submission">
          <div>
            <button
              *ngIf="submission.canEdit"
              mat-stroked-button
              color="warn"
              (click)="onCancel(submission.fileNumber)"
            >
              Cancel NOI
            </button>
          </div>
          <div>
            <button
              [routerLink]="'/notice-of-intent/' + submission.fileNumber + '/edit'"
              *ngIf="submission.canEdit"
              mat-flat-button
              color="primary"
            >
              Edit NOI
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="ALC Review and Decision">
        <div class="content">
          <app-alc-review [$noiDocuments]="$noiDocuments" [$noiSubmission]="$noiSubmission"></app-alc-review>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div *ngIf="submission && submission.canEdit" class="action-bar">
  <button [routerLink]="'/notice-of-intent/' + submission.fileNumber + '/edit'" mat-button>
    <div>
      <span class="subheading2">Continue NOI </span>
      <mat-icon>keyboard_double_arrow_right</mat-icon>
    </div>
  </button>
</div>
