@use '../../../styles/functions' as *;
@use '../../../styles/colors';

.mat-dialog-container {
  height: auto;
}

#radio-label {
  display: block;
  line-height: rem(36);
  margin-bottom: rem(24);
}

.radio-option {
  display: block !important;
}

.dialog-content-wrapper {
  margin: rem(16);
}

ul {
  margin: 0;
}

.warning-banner {
  padding: rem(16);
  background-color: rgba(colors.$accent-color-light, 0.5);
  margin: rem(16) 0;

  .read-more-btn {
    padding-top: rem(8);
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    color: colors.$accent-color-dark;
  }

  .display-none {
    display: none !important;
  }
}

.dialog-controls-wrapper {
  display: flex;
  justify-content: space-between;

  button {
    width: rem(116);
  }
}

.sub-type-label,
.app-type-label {
  display: none;
}

.step-description {
  margin-bottom: rem(8);
}

.dialog-container {
  display: flex;
  flex-direction: column;
  max-height: 80vh !important;
}

.dialog-action-container {
  margin: rem(4) 0;
  padding: 0 rem(24);
}

@media screen and (min-width: $minWidth) {
  .dialog-action-container {
    margin: rem(8) 0 rem(24);
  }
}

@media screen and (min-width: $tabletBreakpoint) {
  .sub-type-label,
  .app-type-label {
    display: block;
    margin-bottom: rem(8);
  }

  .warning-banner {
    padding: rem(16) rem(32);

    .ellipsis-3 {
      display: block;
    }
  }

  .dialog-container {
    max-height: unset;
    width: 70vw;
  }

  .app-type-dialog {
    height: 70vh;
  }

  .dialog-content-wrapper {
    margin: rem(32) rem(48);
  }

  .dialog-controls-wrapper {
    justify-content: flex-end;

    button {
      margin-left: rem(16) !important;
    }
  }

  .dialog-action-container {
    margin: rem(24) 0;
  }

  .steps {
    margin-top: rem(16);
  }
}
