<div class="buttons" *ngIf="application">
  <div>
    <button *ngIf="application.canEdit" mat-stroked-button color="warn" (click)="onCancel(application.fileNumber)">
      Cancel Application
    </button>
  </div>
  <div>
    <button
      [routerLink]="'/application/' + application.fileNumber + '/edit'"
      *ngIf="application.canEdit"
      mat-flat-button
      color="primary"
    >
      Edit Application
    </button>
    <button *ngIf="application.canReview" (click)="onReview(application.fileNumber)" mat-flat-button color="primary">
      Review Application
    </button>
  </div>
</div>
<div *ngIf="application" class="content">
  <section>
    <h5>1. Application</h5>
    <div class="view-box">
      <div>
        <div class="subheading2">Application ID</div>
        <div>{{ application.fileNumber }}</div>
      </div>
      <div>
        <div class="subheading2">Applicant Status</div>
        <div>{{ application.status.label }}</div>
      </div>
      <div>
        <div class="subheading2">Applicant Name</div>
        <div>{{ application.applicant }}</div>
      </div>
      <div>
        <div class="subheading2">Application Type</div>
        <div>{{ application.type }}</div>
      </div>
    </div>
  </section>
</div>
<div *ngIf="application && application.canReview" class="action-bar">
  <span (click)="onReview(application.fileNumber)" class="subheading2">Start Local Government Review</span>
  <button (click)="onReview(application.fileNumber)" mat-button>
    <mat-icon>keyboard_double_arrow_right</mat-icon>
  </button>
  <button mat-stroked-button color="primary" class="action-bar-button" (click)="onReview(application.fileNumber)">
    Review Now
  </button>
</div>
<div *ngIf="application && application.canEdit" class="action-bar">
  <span class="subheading2">Continue Application</span>
  <button [routerLink]="'/application/' + application.fileNumber + '/edit'" mat-button>
    <mat-icon>keyboard_double_arrow_right</mat-icon>
  </button>
  <button
    [routerLink]="'/application/' + application.fileNumber + '/edit'"
    mat-stroked-button
    color="primary"
    class="action-bar-button"
  >
    Edit
  </button>
</div>
