<div *ngIf="_applicationSubmission" class="review-table">
  <div class="subheading2 grid-1">
    Has the ALC previously received an application or Notice of Intent for this proposal?
  </div>
  <div class="grid-double">
    {{ _applicationSubmission.soilIsFollowUp ? 'Yes' : 'No' }}
  </div>
  <div *ngIf="_applicationSubmission.soilIsFollowUp" class="subheading2 grid-1">Application or NOI ID</div>
  <div *ngIf="_applicationSubmission.soilIsFollowUp" class="grid-double">
    {{ _applicationSubmission.soilFollowUpIDs }}
  </div>
  <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
  <div class="grid-double">
    <span>{{ _applicationSubmission.purpose }}</span>
  </div>

  <div class="subheading2 grid-1">Project Duration</div>
  <div class="grid-double">
    <div *ngIf="_applicationSubmission.soilProjectDurationAmount && _applicationSubmission.soilProjectDurationUnit">
      {{ _applicationSubmission.soilProjectDurationAmount }}
      <ng-container [ngPlural]="_applicationSubmission.soilProjectDurationAmount">
        <ng-template ngPluralCase="=1">
          {{ _applicationSubmission.soilProjectDurationUnit.slice(0, -1) | titlecase }}
        </ng-template>
        <ng-template ngPluralCase="other">
          {{ _applicationSubmission.soilProjectDurationUnit | titlecase }}
        </ng-template>
      </ng-container>
    </div>
    <app-no-data
      *ngIf="!_applicationSubmission.soilProjectDurationAmount || !_applicationSubmission.soilProjectDurationUnit"
    ></app-no-data>
  </div>

  <div class="grid-1"></div>
  <div class="subheading2 grid-double">Soil to be Removed</div>

  <div class="subheading2 grid-1">Volume</div>
  <div class="grid-double">
    {{ _applicationSubmission.soilToRemoveVolume }}
    <span *ngIf="_applicationSubmission.soilToRemoveVolume">m<sup>3</sup></span>
  </div>
  <div class="subheading2 grid-1">Area</div>
  <div class="grid-double">
    {{ _applicationSubmission.soilToRemoveArea }} <span *ngIf="_applicationSubmission.soilToRemoveArea">ha</span>
  </div>
  <div class="subheading2 grid-1">Maximum Depth</div>
  <div class="grid-double">
    {{ _applicationSubmission.soilToRemoveMaximumDepth }}
    <span *ngIf="_applicationSubmission.soilToRemoveMaximumDepth">m</span>
  </div>
  <div class="subheading2 grid-1">Average Depth</div>
  <div class="grid-double">
    {{ _applicationSubmission.soilToRemoveAverageDepth }}
    <span *ngIf="_applicationSubmission.soilToRemoveAverageDepth">m</span>
  </div>

  <div class="grid-1"></div>
  <div class="subheading2 grid-double">Soil already Removed</div>

  <div class="subheading2 grid-1">Volume</div>
  <div class="grid-double">
    {{ _applicationSubmission.soilAlreadyRemovedVolume }}
    <span *ngIf="_applicationSubmission.soilAlreadyRemovedVolume">m<sup>3</sup></span>
  </div>
  <div class="subheading2 grid-1">Area</div>
  <div class="grid-double">
    {{ _applicationSubmission.soilAlreadyRemovedArea }}
    <span *ngIf="_applicationSubmission.soilAlreadyRemovedArea">ha</span>
  </div>
  <div class="subheading2 grid-1">Maximum Depth</div>
  <div class="grid-double">
    {{ _applicationSubmission.soilAlreadyRemovedMaximumDepth }}
    <span *ngIf="_applicationSubmission.soilAlreadyRemovedMaximumDepth">m</span>
  </div>
  <div class="subheading2 grid-1">Average Depth</div>
  <div class="grid-double">
    {{ _applicationSubmission.soilAlreadyRemovedAverageDepth }}
    <span *ngIf="_applicationSubmission.soilAlreadyRemovedAverageDepth">m</span>
  </div>

  <div class="subheading2 grid-1">Describe the type of soil proposed to be removed.</div>
  <div class="grid-double">
    <span>{{ _applicationSubmission.soilTypeRemoved }}</span>
  </div>
  <div class="subheading2 grid-1">What steps will be taken to reduce impacts to surrounding agricultural land?</div>
  <div class="grid-double">
    <span>{{ _applicationSubmission.soilReduceNegativeImpacts }}</span>
  </div>

  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    <a *ngFor="let file of proposalMap" (click)="openFile(file)">
      {{ file.fileName }}
    </a>
  </div>
  <div class="subheading2 grid-1">Cross Sections</div>
  <div class="grid-double">
    <a *ngFor="let file of crossSections" (click)="openFile(file)">
      {{ file.fileName }}
    </a>
  </div>
  <div class="subheading2 grid-1">Reclamation Plan</div>
  <div class="grid-double">
    <a *ngFor="let file of reclamationPlans" (click)="openFile(file)">
      {{ file.fileName }}
    </a>
  </div>
</div>
