@if (_applicationSubmission) {
  <div class="review-table">
    <div class="subheading2 grid-1">Are you removing soil and placing fill in order to build a structure?</div>
    <div class="grid-double">
      @if (_applicationSubmission.soilIsNewStructure !== null) {
        <span>
          {{ _applicationSubmission.soilIsNewStructure ? 'Yes' : 'No' }}
        </span>
      }
      @if (_applicationSubmission.soilIsNewStructure === null) {
        <app-no-data></app-no-data>
      }
    </div>
    <div class="subheading2 grid-1">
      Has the ALC previously received an application or Notice of Intent for this proposal?
    </div>
    <div class="grid-double">
      {{ _applicationSubmission.soilIsFollowUp ? 'Yes' : 'No' }}
    </div>
    @if (_applicationSubmission.soilIsFollowUp) {
      <div class="subheading2 grid-1">Application or NOI ID</div>
    }
    @if (_applicationSubmission.soilIsFollowUp) {
      <div class="grid-double">
        {{ _applicationSubmission.soilFollowUpIDs }}
      </div>
    }
    <div class="subheading2 grid-1">What is the purpose of the proposal?</div>
    <div class="grid-double">
      <span>{{ _applicationSubmission.purpose }}</span>
    </div>
    <div class="subheading2 grid-1">Removal of Soil Project Duration</div>
    <div class="grid-double">
      @if (_applicationSubmission.soilProjectDuration) {
        <div>
          {{ _applicationSubmission.soilProjectDuration }}
        </div>
      }
      @if (!_applicationSubmission.soilProjectDuration || !_applicationSubmission.soilProjectDuration) {
        <app-no-data
        ></app-no-data>
      }
    </div>
    <div class="grid-1"></div>
    <div class="subheading2 grid-double">Soil to be Removed</div>
    <div class="subheading2 grid-1">Volume</div>
    <div class="grid-double">
      {{ _applicationSubmission.soilToRemoveVolume }}
      @if (_applicationSubmission.soilToRemoveVolume) {
        <span>m<sup>3</sup></span>
      }
    </div>
    <div class="subheading2 grid-1">Area</div>
    <div class="grid-double">
      {{ _applicationSubmission.soilToRemoveArea }}
      @if (_applicationSubmission.soilToRemoveArea) {
        <span>m<sup>2</sup></span>
      }
    </div>
    <div class="subheading2 grid-1">Maximum Depth</div>
    <div class="grid-double">
      {{ _applicationSubmission.soilToRemoveMaximumDepth }}
      @if (_applicationSubmission.soilToRemoveMaximumDepth) {
        <span>m</span>
      }
    </div>
    <div class="subheading2 grid-1">Average Depth</div>
    <div class="grid-double">
      {{ _applicationSubmission.soilToRemoveAverageDepth }}
      @if (_applicationSubmission.soilToRemoveAverageDepth) {
        <span>m</span>
      }
    </div>
    <div class="grid-1"></div>
    <div class="subheading2 grid-double">Soil already Removed</div>
    <div class="subheading2 grid-1">Volume</div>
    <div class="grid-double">
      {{ _applicationSubmission.soilAlreadyRemovedVolume }}
      @if (_applicationSubmission.soilAlreadyRemovedVolume) {
        <span>m<sup>3</sup></span>
      }
    </div>
    <div class="subheading2 grid-1">Area</div>
    <div class="grid-double">
      {{ _applicationSubmission.soilAlreadyRemovedArea }}
      @if (_applicationSubmission.soilAlreadyRemovedArea) {
        <span>m<sup>2</sup></span>
      }
    </div>
    <div class="subheading2 grid-1">Maximum Depth</div>
    <div class="grid-double">
      {{ _applicationSubmission.soilAlreadyRemovedMaximumDepth }}
      @if (_applicationSubmission.soilAlreadyRemovedMaximumDepth) {
        <span>m</span>
      }
    </div>
    <div class="subheading2 grid-1">Average Depth</div>
    <div class="grid-double">
      {{ _applicationSubmission.soilAlreadyRemovedAverageDepth }}
      @if (_applicationSubmission.soilAlreadyRemovedAverageDepth) {
        <span>m</span>
      }
    </div>
    <div class="subheading2 grid-1">Describe the type of soil proposed to be removed.</div>
    <div class="grid-double">
      <span>{{ _applicationSubmission.soilTypeRemoved }}</span>
    </div>
    @if (_applicationSubmission.soilIsNewStructure === true) {
      <div class="full-width subheading2">The total floor area (m<sup>2</sup>) for each of the proposed structure(s)</div>
      <div class="full-width structure-table">
        <div class="grid-1 subheading2">#</div>
        <div class="grid-2 subheading2">Type</div>
        <div class="grid-3 subheading2">Area</div>
        @for (structure of _applicationSubmission.soilProposedStructures; track structure; let i = $index) {
          <div class="grid-1">
            {{ i + 1 }}
          </div>
          <div class="grid-2">
            {{ mapStructureTypeValueToLabel(structure.type) }}
            @if (!structure.type) {
              <app-no-data></app-no-data>
            }
          </div>
          <div class="grid-3">
            {{ structure.area }} @if (structure.area) {
            <span>m<sup>2</sup></span>
          }
          @if (!structure.area) {
            <app-no-data></app-no-data>
          }
        </div>
      }
    </div>
    @if (_applicationSubmission.soilProposedStructures.length === 0) {
      <div class="full-width">
        <app-no-data></app-no-data>
      </div>
    }
    @if (isSoilStructureFarmUseReasonVisible) {
      <div class="subheading2 grid-1">Describe how the structure is necessary for farm use</div>
      <div class="grid-double">
        {{ _applicationSubmission.soilStructureFarmUseReason }}
        @if (!_applicationSubmission.soilStructureFarmUseReason) {
          <app-no-data></app-no-data>
        }
      </div>
    }
    @if (isSoilStructureResidentialUseReasonVisible) {
      <div class="subheading2 grid-1">
        Describe why placing fill/removing soil is required for the residential structure(s)
      </div>
      <div class="grid-double">
        {{ _applicationSubmission.soilStructureResidentialUseReason }}
        @if (!_applicationSubmission.soilStructureResidentialUseReason) {
          <app-no-data></app-no-data>
        }
      </div>
    }
    @if (isSoilAgriParcelActivityVisible) {
      <div class="subheading2 grid-1">Describe the current or proposed agricultural activity on the parcel(s)</div>
      <div class="grid-double">
        {{ _applicationSubmission.soilAgriParcelActivity }}
        @if (!_applicationSubmission.soilAgriParcelActivity) {
          <app-no-data></app-no-data>
        }
      </div>
    }
    @if (isSoilStructureResidentialAccessoryUseReasonVisible) {
      <div class="subheading2 grid-1">
        Describe the intended use of the residential accessory structure(s) and why placing fill/removing soil is
        required
      </div>
      <div class="grid-double">
        {{ _applicationSubmission.soilStructureResidentialAccessoryUseReason }}
        @if (!_applicationSubmission.soilStructureResidentialAccessoryUseReason) {
          <app-no-data></app-no-data>
        }
      </div>
    }
    @if (isSoilOtherStructureVisible) {
      <div class="subheading2 grid-1">
        Describe the intended use of the 'Other' structure(s) and why placing fill/removing soil is required
      </div>
      <div class="grid-double">
        {{ _applicationSubmission.soilStructureOtherUseReason }}
        @if (!_applicationSubmission.soilStructureOtherUseReason) {
          <app-no-data></app-no-data>
        }
      </div>
    }
  }
  @if (_applicationSubmission.soilIsNewStructure === false) {
    <div class="subheading2 grid-1">What steps will be taken to reduce impacts to surrounding agricultural land?</div>
    <div class="grid-double">
      <span>{{ _applicationSubmission.soilReduceNegativeImpacts }}</span>
    </div>
  }
  <div class="subheading2 grid-1">Proposal Map / Site Plan</div>
  <div class="grid-double">
    @for (file of proposalMap; track file) {
      <a routerLink="/document/{{ file.documentUuid }}" target="_blank">
        {{ file.fileName }}
      </a>
    }
  </div>
  @if (_applicationSubmission.soilIsNewStructure === false) {
    <div class="subheading2 grid-1">Cross Sections</div>
    <div class="grid-double multiple-documents">
      @for (file of crossSections; track file) {
        <a routerLink="/document/{{ file.documentUuid }}" target="_blank">
          {{ file.fileName }}
        </a>
      }
    </div>
    <div class="subheading2 grid-1">Reclamation Plan</div>
    <div class="grid-double multiple-documents">
      @for (file of reclamationPlans; track file) {
        <a routerLink="/document/{{ file.documentUuid }}" target="_blank">
          {{ file.fileName }}
        </a>
      }
    </div>
  }
  @if (_applicationSubmission.soilIsNewStructure === true) {
    <div class="subheading2 grid-1">Detailed Building Plan(s)</div>
    <div class="grid-double multiple-documents">
      @for (file of buildingPlans; track file) {
        <a routerLink="/document/{{ file.documentUuid }}" target="_blank">
          {{ file.fileName }}
        </a>
      }
      @if (buildingPlans.length === 0) {
        <app-no-data></app-no-data>
      }
    </div>
  }
</div>
}
