@import '../../../styles/colors';

.card {
  height: 160px;
  margin-bottom: 1rem !important;
  cursor: grab;
  width: 280px;
  font-size: 16px;
}

.card.paused {
  opacity: 0.8;
  background-color: #c3c3c3;
  border: 2px solid $grey-dark;
}

.card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.lower-card {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.lower-card > div {
  display: flex;
  align-items: center;
}

.high-priority {
  font-size: 1.4em;
  font-weight: bold;
  color: $error-color;
  float: right;
}

.assignee {
  border-radius: 50%;
  padding: 6px;
  border: 1px solid #0a5a9c;
}

.active-days {
  padding: 6px 0;

  mat-icon {
    text-align: center;
    transform: scale(0.75);
  }
}

.type {
  margin: 8px 8px 0 0;
  border-radius: 10px;
  width: fit-content;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  height: 24px;
  font-size: 11px;
  letter-spacing: 0.03em;
  border: 3px solid;
}

.cdk-drag-placeholder {
  opacity: 0.6;
}

.decision-date-info {
  background-color: $secondary-color;
  border-radius: 4px 4px 0 0;
  text-align: center;
  position: relative;
  font-size: 16px;
  width: 280px;
  padding: 8px 0px;
}

.decision-date-info.paused {
  background-color: $secondary-color-light;
  border: 2px solid $grey-dark;
  opacity: 0.8;
}

.card.paused.decision-date {
  border-top: none;
}

.read-card {
  height: 110px;
}

mat-card.decision-date {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
