<mat-card
  class="card body1-text {{ cardData.cssClasses?.join(' ') }}"
  [ngClass]="{ paused: cardData.paused, 'decision-date': cardData.latestDecisionDate }"
  cdkDrag
  [cdkDragData]="cardData"
  (click)="onClick(cardData.id, cardData.cardType)"
>
  <div *ngIf="cardData.latestDecisionDate" class="decision-date-info" [ngClass]="{ paused: cardData.paused }">
    {{ cardData.latestDecisionDate | momentFormat }}
  </div>
  <div class="card-content">
    <div class="upper-card">
      <span
        class="ellipsis"
        [id]="cardData.id"
        [matTooltip]="cardData.titleTooltip"
        (mouseover)="onMouseHover(cardData.id)"
        (focus)="onMouseHover(cardData.id)"
        [matTooltipDisabled]="!cardData.verticalOutBound"
        >{{ cardData.title }}</span
      >
      <span class="high-priority" *ngIf="cardData.highPriority">!</span>
      <div class="labels">
        <app-application-type-pill
          *ngFor="let type of cardData.labels"
          [type]="type"
          [useShortLabel]="true"
        ></app-application-type-pill>
      </div>
    </div>
    <div class="lower-card">
      <div>
        <div
          *ngIf="cardData.cardType === 'APP'"
          class="active-days center"
          matTooltip="Active days: {{ cardData.activeDays }} "
        >
          <mat-icon title="Active Days">calendar_month</mat-icon>
          <span class="center">{{ cardData.activeDays }}</span>
        </div>
      </div>
      <app-avatar-circle
        *ngIf="cardData.assignee"
        [initials]="cardData.assignee.initials || ''"
        [name]="cardData.assignee.prettyName"
      ></app-avatar-circle>
    </div>
  </div>
</mat-card>
