<div *ngIf="cardData.latestDecisionDate" class="decision-date-info">
  {{ cardData.latestDecisionDate | momentFormat }}
</div>
<mat-card
  class="card body1-text"
  [ngClass]="{ paused: cardData.paused, 'decision-date': cardData.latestDecisionDate }"
  cdkDrag
  [cdkDragData]="cardData"
  (click)="onClick(cardData.id, cardData.cardType)"
>
  <div class="card-content">
    <div class="upper-card">
      {{ cardData.title }}
      <span class="high-priority" *ngIf="cardData.highPriority">!</span>
      <div class="type" [ngStyle]="{ backgroundColor: cardData.type.backgroundColor, color: cardData.type.textColor }">
        <span class="center">{{ cardData.type.shortLabel }}</span>
      </div>
    </div>
    <div class="lower-card">
      <div>
        <div *ngIf="cardData.type.code !== 'RECON'" class="active-days center">
          <mat-icon title="Active Days">calendar_month</mat-icon>
          <span class="center">{{ cardData.activeDays }}</span>
        </div>
      </div>
      <app-avatar-circle
        *ngIf="cardData.assignee"
        [initials]="cardData.assignee.initials"
        [name]="cardData.assignee.name"
      ></app-avatar-circle>
    </div>
  </div>
</mat-card>
