@import '../../../styles/colors';

$card-ht: 160px;
$date-ht: 48px;

.card {
  height: $card-ht;
  margin-bottom: 1rem !important;
  cursor: grab;
  width: 280px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: all 100ms ease-in-out;
  display: flex;
  flex-direction: column;

  &:hover {
    border-color: $primary-color;

    > .decision-date-info {
      border-color: $primary-color;
    }
  }
}

.card.paused {
  opacity: 0.8;
  background-color: $paused-color;

  &:hover {
    border-color: $grey-dark;

    > .decision-date-info.paused {
      border-color: $grey-dark;
    }
  }
}

.card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.lower-card {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.lower-card > div {
  display: flex;
  align-items: center;
}

.high-priority {
  font-size: 1.4em;
  font-weight: bold;
  color: $error-color;
  float: right;
}

.active-days {
  padding: 6px 0;

  mat-icon {
    text-align: center;
    transform: scale(0.75);
  }
}

.type {
  margin: 8px 8px 0 0;
  border-radius: 10px;
  width: fit-content;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  height: 24px;
  font-size: 11px;
  letter-spacing: 0.03em;
  border: 3px solid;
}

.cdk-drag-placeholder {
  opacity: 0.6;
}

.decision-date-info {
  align-items: center;
  background-color: $secondary-color;
  border: 2px solid transparent;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  display: flex;
  font-size: 16px;
  height: $date-ht;
  justify-content: center;
  margin: -16px -18px 16px !important;
  transition: all 100ms ease-in-out;
}

.decision-date-info.paused {
  background-color: $secondary-color-light;
  opacity: 0.8;
}

.card.paused.decision-date {
  border-top: none;
}

.read-card {
  height: 110px;
}

mat-card.decision-date {
  border-top: none;
  height: calc($card-ht + $date-ht);
}
