@use '../../../styles/colors';
@use '../../../styles' as *;

$card-ht: 160px;
$date-ht: 48px;

.card {
  height: $card-ht;
  margin-bottom: 1rem !important;
  cursor: grab;
  width: 280px;
  font-size: 16px;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;

  .subtext {
    color: colors.$primary-color-dark;
  }

  &:hover {
    border-color: colors.$primary-color;
    transition: all 100ms ease-in-out;

    > .decision-date-info {
      border-color: colors.$primary-color;
    }
  }

  &.notice-of-intent {
    border-bottom: 2px solid colors.$primary-color-light;

    &:hover {
      border: 2px solid transparent;
      border-bottom-color: colors.$primary-color-dark;
      transition: all 100ms ease-in-out;
    }
  }
}

.card.paused {
  opacity: 0.8;
  background-color: colors.$paused-color;

  &:hover {
    border-color: colors.$grey-dark;

    > .decision-date-info.paused {
      border-color: colors.$grey-dark;
    }
  }
}

.card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.lower-card {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.lower-card > div {
  display: flex;
  align-items: center;
}

.high-priority {
  font-size: 1.4em;
  font-weight: bold;
  color: colors.$error-color;
  float: right;
}

.active-days {
  padding: 6px 0;

  mat-icon {
    text-align: center;
    transform: scale(0.75);
  }
}

.labels {
  margin-top: 6px;
}

.cdk-drag-placeholder {
  opacity: 0.6;
}

.decision-date-info {
  align-items: center;
  background-color: colors.$secondary-color;
  border: 2px solid transparent;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  display: flex;
  font-size: 16px;
  height: $date-ht;
  justify-content: center;
  margin: -16px -18px 16px !important;
  transition: all 100ms ease-in-out;
}

.decision-date-info.paused {
  background-color: colors.$secondary-color-light;
  opacity: 0.8;
}

.card.paused.decision-date {
  border-top: none;
}

.read-card {
  height: 110px;
}

mat-card {
  padding: 16px;

  .decision-date {
    border-top: none;
    height: calc($card-ht + $date-ht);
  }
}

.ellipsis {
  @include text-ellipsis($lines: 2);
}
